Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'

test: make rooms api test fully independent
  apps/meteor/tests/data/rooms.helper.js
  apps/meteor/tests/end-to-end/api/09-rooms.js
Due: e2e

fix: fix typecheck
  apps/meteor/tests/data/rooms.helper.js
Due: e2e

test: make subscription test fully independent
  apps/meteor/tests/end-to-end/api/10-subscriptions.js
Due: e2e

test: make permission test fully independent
  apps/meteor/tests/end-to-end/api/11-permissions.js
Due: e2e

test: make emoji custom test fully independent
  apps/meteor/tests/end-to-end/api/12-emoji-custom.js
Due: e2e

test: make assets api tests fully independent
  apps/meteor/tests/end-to-end/api/14-assets.js
Due: e2e

test: make commands test fully independent
  apps/meteor/tests/end-to-end/api/16-commands.js
Due: e2e

test: make custom sound tests fully independent
  apps/meteor/tests/end-to-end/api/17-custom-sounds.js
Due: e2e

test: make oauthapps test fully independent
  apps/meteor/tests/end-to-end/api/18-oauthapps.js
Due: e2e

chore: reorg tests
  apps/meteor/tests/e2e/channel-management.spec.ts
Due: e2e

fix: Allow only numbers, if trigger's condition is 'visitor time on site' (#31666)
  .changeset/moody-cups-search.md
  apps/meteor/client/views/omnichannel/triggers/EditTrigger.tsx
  apps/meteor/tests/e2e/page-objects/omnichannel-triggers.ts
Due: e2e, client

test: make stats and license tests fully independent
  apps/meteor/tests/end-to-end/api/19-statistics.js
  apps/meteor/tests/end-to-end/api/20-licenses.js
Due: e2e

Add `link` action to composer toolbar
  apps/meteor/app/ui-message/client/messageBox/AddLinkComposerActionModal.tsx
  apps/meteor/app/ui-message/client/messageBox/messageBoxFormatting.ts
  apps/meteor/client/views/room/composer/messageBox/MessageBoxFormattingToolbar/MessageBoxFormattingToolbar.tsx
Due: e2e, client

fix lint and change let to const
  apps/meteor/app/api/server/v1/channels.ts
Due: e2e

Reset password for accounts with upper case email
  apps/meteor/app/api/server/v1/users.ts
  apps/meteor/server/methods/sendForgotPasswordEmail.ts
Due: e2e

Reset password broken for accounts with upper case email address.
  apps/meteor/app/api/server/v1/users.ts
  apps/meteor/server/methods/sendForgotPasswordEmail.ts
Due: e2e

chore: code reorg
  apps/meteor/client/views/room/MessageList/MessageList.tsx
  apps/meteor/client/views/room/body/RoomBody.tsx
Due: e2e, client

Refactor to improve readability
  apps/meteor/app/api/server/v1/channels.ts
Due: e2e

test: make stats and license tests fully independent (#31681)
  apps/meteor/tests/end-to-end/api/19-statistics.js
  apps/meteor/tests/end-to-end/api/20-licenses.js
Due: e2e

solve search permission issue
  apps/meteor/packages/rocketchat-i18n/i18n/en.i18n.json
Due: e2e

feat: show date bubble on scroll
  apps/meteor/client/views/room/body/RoomBody.tsx
Due: e2e, client

remove unused ref
  apps/meteor/client/views/room/body/RoomBody.tsx
Due: e2e, client

fix: review `Avatar`, `UserAvatar` and `MessageAvatar`
  packages/ui-avatar/src/components/Avatar.tsx
  packages/ui-avatar/src/components/MessageAvatar.tsx
  packages/ui-avatar/src/components/UserAvatar.tsx
Due: none

improve transition
  apps/meteor/client/views/room/body/RoomBody.tsx
Due: e2e, client

feat: change date divider in threads
  apps/meteor/client/views/room/contextualBar/Threads/components/ThreadMessageList.tsx
Due: e2e, client

chore: reset dangerous `Avatar` replacement
  apps/meteor/client/components/avatar/UserAvatarEditor/UserAvatarSuggestions.tsx
  apps/meteor/client/components/message/content/attachments/structure/AttachmentThumb.tsx
  apps/meteor/client/components/voip/room/VoipRoomForeword.tsx
  apps/meteor/client/views/directory/tabs/channels/ChannelsTable/ChannelsTableRow.tsx
  apps/meteor/client/views/directory/tabs/teams/TeamsTable/TeamsTableRow.tsx
  apps/meteor/client/views/omnichannel/contactHistory/MessageList/ContactHistoryMessage.tsx
  apps/meteor/client/views/omnichannel/directory/components/ContactField.tsx
  apps/meteor/client/views/room/contextualBar/RoomFiles/components/ImageItem.tsx
  apps/meteor/client/views/room/contextualBar/uikit/UiKitContextualBar.tsx
  packages/fuselage-ui-kit/src/stories/Message.stories.tsx
  packages/ui-avatar/src/components/UserAvatar.tsx
  packages/ui-video-conf/src/VideoConfMessage/VideoConfMessage.stories.tsx
  packages/uikit-playground/src/Components/Preview/Display/Surface/MessageSurface.tsx
Due: e2e, client

chore: unnecessary change
  apps/meteor/packages/flow-router/.npm/package/npm-shrinkwrap.json
Due: e2e

test: make incoming integration fully independent (#31657)
  apps/meteor/tests/end-to-end/api/07-incoming-integrations.js
Due: e2e

fix: `MessageAvatar` type
  packages/ui-avatar/src/components/MessageAvatar.tsx
Due: none

chore: revert `BaseAvatar`
  apps/meteor/client/components/message/content/attachments/structure/AttachmentAuthorAvatar.tsx
  packages/ui-avatar/src/components/AppAvatar.tsx
  packages/ui-avatar/src/components/BaseAvatar.tsx
  packages/ui-avatar/src/components/RoomAvatar.tsx
  packages/ui-avatar/src/components/UserAvatar.tsx
  packages/ui-avatar/src/index.ts
Due: e2e, client

fix: packages
  packages/fuselage-ui-kit/package.json
  packages/ui-video-conf/package.json
  yarn.lock
Due: none

fix: emoji must be `ReactElement`
  packages/ui-avatar/src/components/MessageAvatar.tsx
Due: none

test: make settings fully independent (#31659)
  apps/meteor/tests/end-to-end/api/08-settings.js
Due: e2e

replaced memberExists endpoint with subscription.exists
  .changeset/ninety-hounds-exist.md
  apps/meteor/app/api/server/v1/channels.ts
  apps/meteor/app/api/server/v1/groups.ts
  apps/meteor/app/api/server/v1/im.ts
  apps/meteor/app/api/server/v1/subscriptions.ts
  apps/meteor/server/models/raw/Users.js
  packages/model-typings/src/models/IUsersModel.ts
  packages/rest-typings/src/v1/channels/ChannelsMemberExistsProps.ts
  packages/rest-typings/src/v1/channels/channels.ts
  packages/rest-typings/src/v1/channels/index.ts
  packages/rest-typings/src/v1/dm/DmMemberExistsProps.ts
  packages/rest-typings/src/v1/dm/dm.ts
  packages/rest-typings/src/v1/dm/im.ts
  packages/rest-typings/src/v1/dm/index.ts
  packages/rest-typings/src/v1/groups/GroupsMemberExistsProps.ts
  packages/rest-typings/src/v1/groups/groups.ts
  packages/rest-typings/src/v1/groups/index.ts
  packages/rest-typings/src/v1/subscriptionsEndpoints.ts
Due: e2e

use subscriptions.exist endpoint
  apps/meteor/app/api/server/v1/subscriptions.ts
  apps/meteor/client/views/hooks/useMemberExists.ts
  apps/meteor/client/views/room/hooks/useUserInfoActions/useUserInfoActions.ts
Due: e2e, client

I hope this is the last commit
  apps/meteor/client/components/avatar/UserAvatarEditor/UserAvatarEditor.tsx
  apps/meteor/client/views/teams/contextualBar/TeamAutocomplete/TeamAutocomplete.tsx
  packages/ui-avatar/src/components/MessageAvatar.tsx
  packages/ui-avatar/src/components/UserAvatar.tsx
Due: e2e, client

test: make permission test fully independent (#31675)
  apps/meteor/tests/end-to-end/api/11-permissions.js
Due: e2e

final lint fix
  apps/meteor/app/api/server/v1/channels.ts
Due: e2e

chore: Introduce `UserCardProvider` (#31622)
  apps/meteor/app/ui-utils/client/lib/messageActionDefault.ts
  apps/meteor/app/ui/client/lib/ChatMessages.ts
  apps/meteor/app/ui/client/lib/userCard.ts
  apps/meteor/client/components/GazzodownText.tsx
  apps/meteor/client/components/UserCard/UserCard.stories.tsx
  apps/meteor/client/components/UserCard/UserCard.tsx
  apps/meteor/client/components/UserCard/UserCardAction.tsx
  apps/meteor/client/components/UserCard/UserCardActions.tsx
  apps/meteor/client/components/UserCard/UserCardContainer.tsx
  apps/meteor/client/components/UserCard/UserCardSkeleton.tsx
  apps/meteor/client/components/UserCard/index.ts
  apps/meteor/client/components/UserInfo/UserInfo.tsx
  apps/meteor/client/components/UserInfo/UserInfoUsername.tsx
  apps/meteor/client/components/message/MessageHeader.tsx
  apps/meteor/client/components/message/variants/RoomMessage.tsx
  apps/meteor/client/components/message/variants/SystemMessage.tsx
  apps/meteor/client/components/message/variants/ThreadMessage.tsx
  apps/meteor/client/lib/chats/ChatAPI.ts
  apps/meteor/client/views/admin/moderation/UserReports/UserReportInfo.tsx
  apps/meteor/client/views/admin/users/AdminUserInfoWithData.tsx
  apps/meteor/client/views/oauth/components/CurrentUserDisplay.tsx
  apps/meteor/client/views/omnichannel/components/Info.tsx
  apps/meteor/client/views/omnichannel/contactHistory/MessageList/ContactHistoryMessage.tsx
  apps/meteor/client/views/room/UserCard/UserCardWithData.tsx
  apps/meteor/client/views/room/UserCardHolder.tsx
  apps/meteor/client/views/room/body/RoomBody.tsx
  apps/meteor/client/views/room/contexts/UserCardContext.ts
  apps/meteor/client/views/room/contextualBar/UserInfo/UserInfoWithData.tsx
  apps/meteor/client/views/room/hooks/useUserInfoActions/actions/useCallAction.tsx
  apps/meteor/client/views/room/modals/ReactionListModal/ReactionListModal.tsx
  apps/meteor/client/views/room/modals/ReactionListModal/ReactionUserTag.tsx
  apps/meteor/client/views/room/modals/ReactionListModal/Reactions.tsx
  apps/meteor/client/views/room/providers/RoomProvider.tsx
  apps/meteor/client/views/room/providers/UserCardProvider.tsx
  apps/meteor/client/views/room/providers/hooks/useChatMessagesInstance.ts
  apps/meteor/client/views/room/providers/hooks/useUserCard.ts
Due: e2e, client

test: make emoji custom test fully independent (#31674)
  apps/meteor/tests/end-to-end/api/12-emoji-custom.js
Due: e2e
