Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

Add setting to enable cold storage
  apps/meteor/ee/server/cron/readReceiptsArchive.ts
  apps/meteor/ee/server/startup/readReceiptsArchive.ts
  apps/meteor/server/settings/message.ts
Due: e2e, e2e-api

refactor: apply reviewer suggestions for resumable uploads
  .changeset/resumable-uploads-support.md
  apps/meteor/app/api/server/v1/uploads.ts
  apps/meteor/client/lib/chats/uploads.ts
Due: e2e, client

Add migration to disable receipts archive if existent dataset is big
  apps/meteor/server/startup/dataMigrations/00001_disable-archive-for-large-read-receipts.ts
  apps/meteor/server/startup/dataMigrations/index.ts
Due: e2e, e2e-api

Add alerts for the setting to enable read receipt archive
  apps/meteor/server/settings/message.ts
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/pt-BR.i18n.json
  packages/i18n/src/locales/pt.i18n.json
Due: e2e, e2e-api

fix: address cubic-dev-ai review comments on resumable uploads
  apps/meteor/app/api/server/v1/uploads.ts
  apps/meteor/client/lib/chats/uploads.ts
Due: e2e, client

feat: enhance security and performance for resumable uploads
  apps/meteor/app/api/server/v1/uploads.ts
  apps/meteor/client/lib/chats/uploads.ts
Due: e2e, client

ci: use env vars for shard parameters (#39610)
  .github/workflows/ci-test-e2e.yml
Due: none

feat(sidebar): make unread channel titles bold for accessibility
  apps/meteor/client/sidebar/SidebarRegion.tsx
Due: e2e, client

chore: add changeset for sidebar bold text
  .changeset/short-timers-perform.md
Due: none

fix(i18n): translate eu locale via i18n.doctor
  packages/livechat/src/i18n/eu.json
Due: none

fix(i18n): translate ug locale via i18n.doctor
  packages/livechat/src/i18n/ug.json
Due: none

fix: narrow IModerationReport ts type from Date | string to Date
  .changeset/fix-moderation-audit-ts-type.md
  apps/meteor/app/api/server/v1/moderation.ts
  docs/api-endpoint-migration.md
  packages/core-typings/src/IModerationReport.ts
Due: e2e

fix: add missing BlockContext argument to renderTextObject in SectionBlock
  .changeset/fix-sectionblock-missing-context.md
  packages/fuselage-ui-kit/src/blocks/SectionBlock.tsx
Due: none

fix: prevent global Escape key from resetting Navbar search when inactive
  .changeset/fix-escape-key-search.md
  apps/meteor/client/navbar/NavBarSearch/NavBarSearch.tsx
Due: e2e, client

fix: add missing error state to ModerationConsoleTable and CustomUserStatusTable
  .changeset/fix-missing-error-state-tables.md
  apps/meteor/client/views/admin/customUserStatus/CustomUserStatusTable/CustomUserStatusTable.tsx
  apps/meteor/client/views/admin/moderation/ModerationConsoleTable.tsx
Due: e2e, client

fix: gate error state to initial-load/no-data in ModerationConsoleTable
  apps/meteor/client/views/admin/moderation/ModerationConsoleTable.tsx
Due: e2e, client

refactor(chat): migrate chat.search to typed REST endpoint
  apps/meteor/app/api/server/v1/chat.ts
Due: e2e

fix: ReactionTooltip logic fallthrough and add missing E2EE translation keys
  apps/meteor/client/components/message/content/reactions/ReactionTooltip.tsx
  apps/meteor/client/lib/e2ee/rocketchat.e2e.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

fix(chat): make ignore optional in chat.ignoreUser query schema
  packages/rest-typings/src/v1/chat.ts
Due: none

Update packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/en.i18n.json
Due: none

Update users.ts
  packages/rest-typings/src/v1/users.ts
Due: none

Update users.ts
  apps/meteor/app/api/server/v1/users.ts
Due: e2e

fix(rest): fix syntax error in users.autocomplete endpoint closure
  apps/meteor/app/api/server/v1/users.ts
Due: e2e

Update compareUserPassword.ts
  apps/meteor/server/lib/compareUserPassword.ts
Due: e2e, e2e-api

fix: allow OAuth-only users to bypass password check when saving settings
  apps/meteor/app/2fa/server/code/PasswordCheckFallback.ts
Due: e2e

fix(rest): fix closure syntax and sync freeSwitchExtension to TS generic in users.autocomplete
  apps/meteor/app/api/server/v1/users.ts
Due: e2e

Syntax error resolved
  apps/meteor/app/api/server/v1/users.ts
Due: e2e

refactor: Migrate users.create endpoint to OpenAPI with AJV validation
  .changeset/migrate-users-create-openapi.md
  apps/meteor/app/api/server/v1/users.ts
  packages/rest-typings/src/v1/users.ts
  packages/rest-typings/src/v1/users/UserCreateParamsPOST.ts
Due: e2e

fix: finalize avatar URL fetch hardening
  apps/meteor/app/lib/server/functions/setUserAvatar.ts
  apps/meteor/tests/unit/app/lib/server/functions/setUserAvatar.spec.ts
Due: e2e

fix: respect unlimited avatar max size
  apps/meteor/app/lib/server/functions/setUserAvatar.ts
  apps/meteor/tests/unit/app/lib/server/functions/setUserAvatar.spec.ts
Due: e2e

fix(rest): validate parsed selector shape before querying in users.autocomplete
  apps/meteor/app/api/server/v1/users.ts
Due: e2e

refactor(chat): migrate chat.reportMessage to typed REST endpoint
  apps/meteor/app/api/server/v1/chat.ts
Due: e2e

chore: migrate chat.getDiscussions endpoint to new OpenAPI pattern with AJV validation
  .changeset/migrate-chat-getDiscussions-to-openapi.md
  apps/meteor/app/api/server/v1/chat.ts
  packages/rest-typings/src/v1/chat.ts
Due: e2e

fix(chat.reportMessage): address CodeRabbit suggestions
  apps/meteor/app/api/server/v1/chat.ts
  packages/rest-typings/src/v1/chat.ts
Due: e2e

fix: add sort property to ChatGetDiscussionsSchema
  apps/meteor/app/api/server/v1/chat.ts
Due: e2e

refactor(chat): migrate chat.syncThreadsList to typed REST endpoint
  apps/meteor/app/api/server/v1/chat.ts
Due: e2e

fix(chat.syncThreadsList): restore legacy error code for missing rid parameter
  apps/meteor/app/api/server/v1/chat.ts
Due: e2e

feat: allow finding mentioned and starred messages across all subscribed rooms
  apps/meteor/app/api/server/lib/messages.ts
  packages/model-typings/src/models/IMessagesModel.ts
  packages/models/src/models/BaseRaw.ts
  packages/models/src/models/Messages.ts
Due: e2e

chore: add changeset for members dropdown fix
  .changeset/fix-members-dropdown-close.md
Due: none

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
