Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'

Remove dangling `console.log`
  apps/meteor/client/components/message/toolbar/useFollowMessageAction.ts
Due: e2e, client

refactor: removed then from call
  packages/core-services/src/lib/ServiceStarter.ts
Due: none

test: removed setImmediate
  packages/core-services/tests/ServiceStarter.test.ts
Due: none

Deploy preview for PR 33833 🛫
  pr-preview/pr-33833/fuselage-ui-kit/231.f55be4cf.iframe.bundle.js
  pr-preview/pr-33833/fuselage-ui-kit/231.f55be4cf.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-33833/fuselage-ui-kit/231.f55be4cf.iframe.bundle.js.map
  pr-preview/pr-33833/fuselage-ui-kit/231.ff22515c.iframe.bundle.js.map
  pr-preview/pr-33833/fuselage-ui-kit/iframe.html
  pr-preview/pr-33833/fuselage-ui-kit/project.json
  pr-preview/pr-33833/fuselage-ui-kit/runtime~main.8af7de78.iframe.bundle.js
  pr-preview/pr-33833/fuselage-ui-kit/runtime~main.fb433086.iframe.bundle.js
  pr-preview/pr-33833/gazzodown/Markup-stories.0d69a544.iframe.bundle.js
  pr-preview/pr-33833/gazzodown/Markup-stories.0d69a544.iframe.bundle.js.map
  pr-preview/pr-33833/gazzodown/Markup-stories.4d153fc1.iframe.bundle.js.map
  pr-preview/pr-33833/gazzodown/iframe.html
  pr-preview/pr-33833/gazzodown/project.json
  pr-preview/pr-33833/gazzodown/runtime~main.6d30c7cd.iframe.bundle.js
  pr-preview/pr-33833/gazzodown/runtime~main.829311c3.iframe.bundle.js
  pr-preview/pr-33833/ui-composer/project.json
  pr-preview/pr-33833/uikit-playground/assets/CodeBlock-DPu46dom.js
  pr-preview/pr-33833/uikit-playground/assets/KatexBlock-BKs6qkQ5.js
  pr-preview/pr-33833/uikit-playground/assets/KatexBlock-DfL10-yP.js
  pr-preview/pr-33833/uikit-playground/assets/KatexElement-CgQn5z43.js
  pr-preview/pr-33833/uikit-playground/assets/KatexElement-Drtp4Ls7.js
  pr-preview/pr-33833/uikit-playground/assets/index-BfVEJrPs.js
  pr-preview/pr-33833/uikit-playground/index.html
Due: none

Deploy preview for PR 34020 🛫
  pr-preview/pr-34020/fuselage-ui-kit/231.f55be4cf.iframe.bundle.js
  pr-preview/pr-34020/fuselage-ui-kit/231.f55be4cf.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-34020/fuselage-ui-kit/231.f55be4cf.iframe.bundle.js.map
  pr-preview/pr-34020/fuselage-ui-kit/231.ff22515c.iframe.bundle.js.map
  pr-preview/pr-34020/fuselage-ui-kit/iframe.html
  pr-preview/pr-34020/fuselage-ui-kit/project.json
  pr-preview/pr-34020/fuselage-ui-kit/runtime~main.8af7de78.iframe.bundle.js
  pr-preview/pr-34020/fuselage-ui-kit/runtime~main.fb433086.iframe.bundle.js
  pr-preview/pr-34020/gazzodown/Markup-stories.0d69a544.iframe.bundle.js
  pr-preview/pr-34020/gazzodown/Markup-stories.0d69a544.iframe.bundle.js.map
  pr-preview/pr-34020/gazzodown/Markup-stories.4d153fc1.iframe.bundle.js.map
  pr-preview/pr-34020/gazzodown/iframe.html
  pr-preview/pr-34020/gazzodown/project.json
  pr-preview/pr-34020/gazzodown/runtime~main.6d30c7cd.iframe.bundle.js
  pr-preview/pr-34020/gazzodown/runtime~main.829311c3.iframe.bundle.js
  pr-preview/pr-34020/ui-composer/project.json
  pr-preview/pr-34020/uikit-playground/assets/CodeBlock-DPu46dom.js
  pr-preview/pr-34020/uikit-playground/assets/KatexBlock-BKs6qkQ5.js
  pr-preview/pr-34020/uikit-playground/assets/KatexBlock-DfL10-yP.js
  pr-preview/pr-34020/uikit-playground/assets/KatexElement-CgQn5z43.js
  pr-preview/pr-34020/uikit-playground/assets/KatexElement-Drtp4Ls7.js
  pr-preview/pr-34020/uikit-playground/assets/index-BfVEJrPs.js
  pr-preview/pr-34020/uikit-playground/index.html
Due: none

remove dm before removing user
  apps/meteor/tests/end-to-end/api/direct-message.ts
Due: e2e

chore: remove meteor.startup from follow message (#34077)
  apps/meteor/app/threads/client/index.ts
  apps/meteor/app/threads/client/messageAction/follow.ts
  apps/meteor/client/components/message/toolbar/MessageToolbar.tsx
  apps/meteor/client/components/message/toolbar/useFollowMessageAction.ts
Due: e2e, client

Use the REST API
  apps/meteor/client/components/message/hooks/usePinMessageMutation.ts
  apps/meteor/client/components/message/hooks/useUnpinMessageMutation.ts
  apps/meteor/client/components/message/toolbar/useUnpinMessageAction.tsx
Due: e2e, client

chore: remove meteor.startup from unpin-message (#34020)
  apps/meteor/client/components/message/hooks/useUnpinMessageMutation.ts
  apps/meteor/client/components/message/toolbar/MessageToolbar.tsx
  apps/meteor/client/components/message/toolbar/useUnpinMessageAction.tsx
  apps/meteor/client/methods/unpinMessage.ts
  apps/meteor/client/startup/actionButtons/index.ts
  apps/meteor/client/startup/actionButtons/unpinMessage.ts
Due: e2e, client

chore: remove meteor.startup from reply-in-thread
  apps/meteor/app/threads/client/index.ts
  apps/meteor/app/threads/client/messageAction/replyInThread.ts
  apps/meteor/app/threads/client/messageAction/useReplyInThreadMessageAction.ts
  apps/meteor/client/components/message/toolbar/MessageToolbar.tsx
Due: e2e, client

chore: changeset
  .changeset/metal-wolves-explode.md
Due: none

chore: remove method
  apps/meteor/client/components/message/hooks/usePinMessageMutation.ts
  apps/meteor/client/components/message/hooks/useUnpinMessageMutation.ts
  apps/meteor/client/methods/index.ts
  apps/meteor/client/methods/unpinMessage.ts
Due: e2e, client

Move hook
  apps/meteor/app/threads/client/index.ts
  apps/meteor/client/components/message/toolbar/MessageToolbar.tsx
  apps/meteor/client/components/message/toolbar/useReplyInThreadMessageAction.ts
  apps/meteor/client/importPackages.ts
  apps/meteor/client/lib/normalizeThreadTitle.ts
  apps/meteor/client/views/room/contextualBar/Threads/components/ThreadMessageList.tsx
  apps/meteor/client/views/room/contextualBar/Threads/components/ThreadTitle.tsx
  apps/meteor/client/views/room/contextualBar/Threads/components/threads.css
Due: e2e, client

Deploy preview for PR 34081 🛫
  pr-preview/pr-34081/fuselage-ui-kit/231.f55be4cf.iframe.bundle.js
  pr-preview/pr-34081/fuselage-ui-kit/231.f55be4cf.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-34081/fuselage-ui-kit/231.f55be4cf.iframe.bundle.js.map
  pr-preview/pr-34081/fuselage-ui-kit/231.f85a419f.iframe.bundle.js.map
  pr-preview/pr-34081/fuselage-ui-kit/iframe.html
  pr-preview/pr-34081/fuselage-ui-kit/project.json
  pr-preview/pr-34081/fuselage-ui-kit/runtime~main.561ffc59.iframe.bundle.js
  pr-preview/pr-34081/fuselage-ui-kit/runtime~main.8af7de78.iframe.bundle.js
  pr-preview/pr-34081/gazzodown/Markup-stories.0d69a544.iframe.bundle.js
  pr-preview/pr-34081/gazzodown/Markup-stories.0d69a544.iframe.bundle.js.map
  pr-preview/pr-34081/gazzodown/Markup-stories.4d153fc1.iframe.bundle.js.map
  pr-preview/pr-34081/gazzodown/iframe.html
  pr-preview/pr-34081/gazzodown/project.json
  pr-preview/pr-34081/gazzodown/runtime~main.6d30c7cd.iframe.bundle.js
  pr-preview/pr-34081/gazzodown/runtime~main.829311c3.iframe.bundle.js
  pr-preview/pr-34081/uikit-playground/assets/CodeBlock-DPu46dom.js
  pr-preview/pr-34081/uikit-playground/assets/KatexBlock-DIl2IR1v.js
  pr-preview/pr-34081/uikit-playground/assets/KatexBlock-DfL10-yP.js
  pr-preview/pr-34081/uikit-playground/assets/KatexElement-Drtp4Ls7.js
  pr-preview/pr-34081/uikit-playground/assets/KatexElement-pkG5Hv4b.js
  pr-preview/pr-34081/uikit-playground/assets/index-BfVEJrPs.js
  pr-preview/pr-34081/uikit-playground/index.html
Due: none

Remove deprecated substr() from the codebase
  apps/meteor/app/autotranslate/server/deeplTranslate.ts
  apps/meteor/app/autotranslate/server/googleTranslate.ts
  apps/meteor/app/autotranslate/server/msTranslate.ts
  apps/meteor/app/emoji-emojione/lib/generateEmojiIndex.mjs
  apps/meteor/app/file-upload/server/lib/proxy.ts
  apps/meteor/app/integrations/server/lib/validateOutgoingIntegration.ts
  apps/meteor/app/integrations/server/methods/incoming/addIncomingIntegration.ts
  apps/meteor/app/lib/server/functions/processWebhookMessage.ts
  apps/meteor/app/lib/server/functions/setStatusText.ts
  apps/meteor/app/lib/server/lib/validateEmailDomain.js
  apps/meteor/app/livechat/server/lib/messages.ts
  apps/meteor/app/markdown/lib/parser/filtered/filtered.js
  apps/meteor/app/mentions/server/Mentions.ts
  apps/meteor/app/meteor-accounts-saml/server/lib/Utils.ts
  apps/meteor/app/slackbridge/server/SlackAdapter.js
  apps/meteor/client/components/message/toolbar/useNewDiscussionMessageAction.tsx
  apps/meteor/client/sidebar/search/SearchList.tsx
  apps/meteor/client/sidebarv2/header/SearchSection.tsx
  apps/meteor/client/views/meet/OngoingCallDuration.tsx
  apps/meteor/client/views/room/webdav/WebdavFilePickerModal/WebdavFilePickerModal.tsx
  apps/meteor/packages/meteor-cookies/cookies.js
  apps/meteor/server/lib/ldap/Connection.ts
  apps/meteor/server/lib/oauth/initCustomOAuthServices.ts
  apps/meteor/server/models/raw/Users.js
  apps/meteor/server/routes/avatar/utils.ts
  apps/meteor/server/startup/serverRunning.js
  apps/meteor/server/ufs/ufs-server.ts
  packages/apps-engine/src/server/oauth2/OAuth2Client.ts
  packages/node-poplib/src/index.js
  packages/random/src/RandomGenerator.ts
Due: e2e, client

chore: remove meteor.startup from reply-in-thread (#34081)
  apps/meteor/app/threads/client/index.ts
  apps/meteor/app/threads/client/messageAction/replyInThread.ts
  apps/meteor/client/components/message/toolbar/MessageToolbar.tsx
  apps/meteor/client/components/message/toolbar/useReplyInThreadMessageAction.ts
  apps/meteor/client/importPackages.ts
  apps/meteor/client/lib/normalizeThreadTitle.ts
  apps/meteor/client/views/room/contextualBar/Threads/components/ThreadMessageList.tsx
  apps/meteor/client/views/room/contextualBar/Threads/components/ThreadTitle.tsx
  apps/meteor/client/views/room/contextualBar/Threads/components/threads.css
Due: e2e, client

refactor AppSettings to use useAppTranslation hook and group settings in accordion
  apps/meteor/client/views/marketplace/AppDetailsPage/tabs/AppSettings/AppSetting.tsx
  apps/meteor/client/views/marketplace/AppDetailsPage/tabs/AppSettings/AppSettings.tsx
  apps/meteor/client/views/marketplace/hooks/useAppTranslation.ts
Due: e2e, client

add changeset
  .changeset/real-crabs-grin.md
Due: none

..
  packages/apps-engine/deno-runtime/handlers/app/handler.ts
Due: none

Deploy preview for PR 34106 🛫
  pr-preview/pr-34106/fuselage-ui-kit/project.json
  pr-preview/pr-34106/gazzodown/project.json
Due: none

Update apps/meteor/client/views/marketplace/AppDetailsPage/tabs/AppSettings/AppSettings.tsx
  apps/meteor/client/views/marketplace/AppDetailsPage/tabs/AppSettings/AppSettings.tsx
Due: e2e, client

use accordionitem and expand only first
  apps/meteor/client/views/marketplace/AppDetailsPage/tabs/AppSettings/AppSettings.tsx
Due: e2e, client

fix: VoIP not invalidating cache on permission change (#34102)
  .changeset/metal-wolves-explode.md
  packages/ui-voip/src/hooks/useVoipClient.tsx
Due: none

chore: remove meteor.startup from permalink-pinned
  apps/meteor/client/components/message/toolbar/MessageToolbar.tsx
  apps/meteor/client/components/message/toolbar/usePermalinkPinned.tsx
  apps/meteor/client/startup/actionButtons/index.ts
  apps/meteor/client/startup/actionButtons/permalinkPinned.ts
  apps/meteor/client/startup/index.ts
Due: e2e, client

chore: further remove conditions
  apps/meteor/client/components/message/toolbar/MessageToolbar.tsx
  apps/meteor/client/components/message/toolbar/usePermalinkPinned.tsx
Due: e2e, client

fix: wrong condition
  apps/meteor/client/components/message/toolbar/usePermalinkPinned.tsx
Due: e2e, client

Deploy preview for PR 34023 🛫
  pr-preview/pr-34023/fuselage-ui-kit/231.f55be4cf.iframe.bundle.js
  pr-preview/pr-34023/fuselage-ui-kit/231.f55be4cf.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-34023/fuselage-ui-kit/231.f55be4cf.iframe.bundle.js.map
  pr-preview/pr-34023/fuselage-ui-kit/231.ff22515c.iframe.bundle.js.map
  pr-preview/pr-34023/fuselage-ui-kit/iframe.html
  pr-preview/pr-34023/fuselage-ui-kit/project.json
  pr-preview/pr-34023/fuselage-ui-kit/runtime~main.8af7de78.iframe.bundle.js
  pr-preview/pr-34023/fuselage-ui-kit/runtime~main.fb433086.iframe.bundle.js
  pr-preview/pr-34023/gazzodown/Markup-stories.0d69a544.iframe.bundle.js
  pr-preview/pr-34023/gazzodown/Markup-stories.0d69a544.iframe.bundle.js.map
  pr-preview/pr-34023/gazzodown/Markup-stories.4d153fc1.iframe.bundle.js.map
  pr-preview/pr-34023/gazzodown/iframe.html
  pr-preview/pr-34023/gazzodown/project.json
  pr-preview/pr-34023/gazzodown/runtime~main.6d30c7cd.iframe.bundle.js
  pr-preview/pr-34023/gazzodown/runtime~main.829311c3.iframe.bundle.js
  pr-preview/pr-34023/ui-composer/project.json
  pr-preview/pr-34023/uikit-playground/assets/CodeBlock-DPu46dom.js
  pr-preview/pr-34023/uikit-playground/assets/KatexBlock-BKs6qkQ5.js
  pr-preview/pr-34023/uikit-playground/assets/KatexBlock-DfL10-yP.js
  pr-preview/pr-34023/uikit-playground/assets/KatexElement-CgQn5z43.js
  pr-preview/pr-34023/uikit-playground/assets/KatexElement-Drtp4Ls7.js
  pr-preview/pr-34023/uikit-playground/assets/index-BfVEJrPs.js
  pr-preview/pr-34023/uikit-playground/index.html
Due: none

Unify hooks
  apps/meteor/app/ui-utils/client/lib/messageActionDefault.ts
  apps/meteor/client/components/message/toolbar/MessageToolbar.tsx
  apps/meteor/client/components/message/toolbar/usePermalinkAction.ts
  apps/meteor/client/components/message/toolbar/usePermalinkPinned.tsx
Due: e2e, client

Use all initials to create avatar when setting is true
  apps/meteor/server/routes/avatar/user.ts
  apps/meteor/server/routes/avatar/utils.spec.ts
  apps/meteor/server/routes/avatar/utils.ts
Due: e2e

Create nervous-fireants-wash.md
  .changeset/nervous-fireants-wash.md
Due: none

fix other tests
  apps/meteor/server/routes/avatar/user.spec.ts
Due: e2e

chore(client): Remove unpinMessage method call (#34118)
  apps/meteor/client/components/message/hooks/usePinMessageMutation.ts
  apps/meteor/client/components/message/hooks/useUnpinMessageMutation.ts
  apps/meteor/client/methods/index.ts
  apps/meteor/client/methods/unpinMessage.ts
Due: e2e, client

Deploy preview for PR 34083 🛫
  pr-preview/pr-34083/fuselage-ui-kit/231.f55be4cf.iframe.bundle.js
  pr-preview/pr-34083/fuselage-ui-kit/231.f55be4cf.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-34083/fuselage-ui-kit/231.f55be4cf.iframe.bundle.js.map
  pr-preview/pr-34083/fuselage-ui-kit/231.f85a419f.iframe.bundle.js.map
  pr-preview/pr-34083/fuselage-ui-kit/iframe.html
  pr-preview/pr-34083/fuselage-ui-kit/project.json
  pr-preview/pr-34083/fuselage-ui-kit/runtime~main.561ffc59.iframe.bundle.js
  pr-preview/pr-34083/fuselage-ui-kit/runtime~main.8af7de78.iframe.bundle.js
  pr-preview/pr-34083/gazzodown/Markup-stories.0d69a544.iframe.bundle.js
  pr-preview/pr-34083/gazzodown/Markup-stories.0d69a544.iframe.bundle.js.map
  pr-preview/pr-34083/gazzodown/Markup-stories.4d153fc1.iframe.bundle.js.map
  pr-preview/pr-34083/gazzodown/iframe.html
  pr-preview/pr-34083/gazzodown/project.json
  pr-preview/pr-34083/gazzodown/runtime~main.6d30c7cd.iframe.bundle.js
  pr-preview/pr-34083/gazzodown/runtime~main.829311c3.iframe.bundle.js
  pr-preview/pr-34083/uikit-playground/assets/CodeBlock-DPu46dom.js
  pr-preview/pr-34083/uikit-playground/assets/KatexBlock-DIl2IR1v.js
  pr-preview/pr-34083/uikit-playground/assets/KatexBlock-DfL10-yP.js
  pr-preview/pr-34083/uikit-playground/assets/KatexElement-Drtp4Ls7.js
  pr-preview/pr-34083/uikit-playground/assets/KatexElement-pkG5Hv4b.js
  pr-preview/pr-34083/uikit-playground/assets/index-BfVEJrPs.js
  pr-preview/pr-34083/uikit-playground/index.html
Due: none

chore: remove meteor.startup from permalink-pinned (#34023)
  apps/meteor/app/ui-utils/client/lib/messageActionDefault.ts
  apps/meteor/client/components/message/toolbar/MessageToolbar.tsx
  apps/meteor/client/components/message/toolbar/usePermalinkAction.ts
  apps/meteor/client/startup/actionButtons/index.ts
  apps/meteor/client/startup/actionButtons/permalinkPinned.ts
  apps/meteor/client/startup/index.ts
Due: e2e, client
