Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

fix(livechat): prevent multiple open rooms per visitor
  apps/meteor/app/livechat/server/lib/rooms.ts
Due: e2e

wildcard
  apps/meteor/server/services/messages/hooks/AfterSaveOEmbed.ts
Due: e2e, e2e-api

chore: only run expensive regex replacements when needed in Slack importer
  apps/meteor/app/importer-slack/server/SlackImporter.ts
Due: e2e

fix: fix Slack "```" code blocks on import
  apps/meteor/app/importer-slack/server/SlackImporter.ts
Due: e2e

fix: fix Slack reactions
  apps/meteor/app/importer-slack/server/SlackImporter.ts
Due: e2e

fix: convert more Slack emoticons to RocketChat equivalent
  apps/meteor/app/importer-slack/server/SlackImporter.ts
Due: e2e

fix: Variable shadowing preventing new visitor registration in livechat messages API (#38040)
  .changeset/mean-eagles-complain.md
  apps/meteor/app/livechat/server/api/v1/message.ts
Due: e2e

feat(ui): add skeleton loader to room members contextual bar
  apps/meteor/client/views/room/contextualBar/lib/ContextualListSkeleton.tsx
Due: e2e, client

chore: refactor listeners.js to typescript
  apps/meteor/app/apps/server/bridges/listeners.js
  apps/meteor/app/apps/server/bridges/listeners.ts
  packages/apps-engine/src/server/managers/AppListenerManager.ts
Due: e2e

fix: wrong type and further enhancements
  apps/meteor/app/apps/server/bridges/listeners.ts
  apps/meteor/ee/server/apps/communication/uikit.ts
Due: e2e

fix: payload handling on livechat events
  apps/meteor/app/apps/server/bridges/listeners.ts
Due: e2e

refactor: direct listener bridge calls to orch.triggerEvent calls
  apps/meteor/app/api/server/lib/eraseTeam.ts
  apps/meteor/app/lib/server/functions/deleteMessage.ts
  apps/meteor/app/lib/server/functions/sendMessage.ts
  apps/meteor/app/lib/server/functions/updateMessage.ts
  apps/meteor/app/livechat/server/lib/RoutingManager.ts
  apps/meteor/app/livechat/server/lib/closeRoom.ts
  apps/meteor/app/livechat/server/lib/departmentsLib.ts
  apps/meteor/server/lib/eraseRoom.ts
  apps/meteor/server/services/messages/service.ts
Due: e2e, e2e-api

fix: over correction over incorrect type definition
  apps/meteor/app/apps/server/bridges/listeners.ts
Due: e2e

fix: unit test
  apps/meteor/app/api/server/lib/eraseTeam.spec.ts
Due: e2e

fix: lint / typecheck
  apps/meteor/ee/server/apps/communication/uikit.ts
Due: e2e

refactor: triggerEvent on departments
  apps/meteor/app/livechat/server/lib/departmentsLib.ts
Due: e2e

timeout
  apps/meteor/server/services/messages/hooks/AfterSaveOEmbed.ts
  apps/meteor/server/settings/message.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, e2e-api

Implement useGoToDirectMessage
  packages/ui-client/src/hooks/index.ts
  packages/ui-client/src/hooks/useGoToDirectMessage.spec.ts
  packages/ui-client/src/hooks/useGoToDirectMessage.ts
Due: none

Update useDirectMessageAction usage and replace where necessary
  apps/meteor/client/views/mediaCallHistory/useMediaCallInternalHistoryActions.ts
  apps/meteor/client/views/room/hooks/useUserInfoActions/actions/useDirectMessageAction.ts
Due: e2e, client

chore: Remove typedJson and move isTruthy to tools package (#38131)
  apps/meteor/app/api/server/v1/channels.ts
  apps/meteor/app/api/server/v1/groups.ts
  apps/meteor/app/api/server/v1/rooms.ts
  apps/meteor/app/apps/server/bridges/internal.ts
  apps/meteor/app/autotranslate/server/autotranslate.ts
  apps/meteor/app/lib/server/functions/createDirectRoom.ts
  apps/meteor/app/lib/server/startup/mentionUserNotInChannel.ts
  apps/meteor/app/livechat/imports/server/rest/appearance.ts
  apps/meteor/app/livechat/server/hooks/leadCapture.ts
  apps/meteor/app/message-pin/server/pinMessage.ts
  apps/meteor/app/search/server/service/SearchResultValidationService.ts
  apps/meteor/app/slashcommands-inviteall/server/server.ts
  apps/meteor/client/components/PlanTag.tsx
  apps/meteor/client/components/message/toolbar/MessageToolbarActionMenu.tsx
  apps/meteor/client/lib/cachedStores/CachedStore.ts
  apps/meteor/client/lib/e2ee/rocketchat.e2e.ts
  apps/meteor/client/views/navigation/contexts/RoomsNavigationContext.ts
  apps/meteor/client/views/room/body/JumpToRecentMessageButton.tsx
  apps/meteor/client/views/room/body/RoomBody.tsx
  apps/meteor/client/views/room/composer/messageBox/MessageBoxActionsToolbar/MessageBoxActionsToolbar.tsx
  apps/meteor/client/views/room/contextualBar/Threads/components/ThreadMessageList.tsx
  apps/meteor/ee/app/livechat-enterprise/server/business-hour/Multiple.ts
  apps/meteor/ee/server/lib/audit/methods.ts
  apps/meteor/lib/typedJSONParse.ts
  apps/meteor/server/methods/browseChannels.ts
  apps/meteor/server/startup/migrations/v317.ts
  apps/meteor/tests/unit/app/meteor-accounts-saml/server.tests.ts
  apps/meteor/tsconfig.json
  ee/packages/abac/package.json
  packages/tools/src/index.ts
  packages/tools/src/isTruthy.ts
  yarn.lock
Due: e2e, e2e-api, client

fix(user-profile): enable saving empty bio to clear user profile field
  packages/models/src/models/Users.ts
Due: none

test: reset `FileUpload_MaxFilesPerMessage` before and after tests
  apps/meteor/tests/e2e/e2e-encryption/e2ee-file-encryption.spec.ts
  apps/meteor/tests/e2e/file-upload.spec.ts
  apps/meteor/tests/e2e/page-objects/fragments/composer.ts
Due: e2e

chore: add changeset
  .changeset/popular-eagles-press.md
Due: none

create transformMappedData unit tests
  apps/meteor/tests/unit/app/importer/server/transformMappedData.spec.ts
Due: e2e

redos
  apps/meteor/server/services/messages/hooks/AfterSaveOEmbed.ts
Due: e2e, e2e-api

add changeset
  .changeset/nice-carpets-smash.md
Due: none

run linter and add extra test case
  apps/meteor/tests/unit/app/importer/server/transformMappedData.spec.ts
Due: e2e

cr
  apps/meteor/server/services/messages/hooks/AfterSaveOEmbed.ts
Due: e2e, e2e-api

refactor: use pipeline promises
  apps/meteor/app/api/server/lib/UploadService.ts
Due: e2e

fix: increase maxSize by 1 byte so we don't block files exactly as big as the limit
  apps/meteor/app/api/server/lib/UploadService.ts
Due: e2e

refactor: get file size from fs.WriteStream
  apps/meteor/app/api/server/lib/UploadService.ts
Due: e2e

test: adjust router test to comply with new form-data behavior
  packages/http-router/src/Router.spec.ts
Due: none

refactor: adjust POST /rooms.media/:rid to use UploadService
  apps/meteor/app/api/server/v1/rooms.ts
Due: e2e

refactor: stripExifFromFile stop calling fs.stat
  apps/meteor/app/api/server/lib/UploadService.ts
Due: e2e

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
