Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

fix: Remove `primary` and `verified` from phones in the UI
  apps/meteor/client/components/PhoneNumberFieldList/PhoneNumberFieldList.spec.tsx
  apps/meteor/client/components/PhoneNumberFieldList/PhoneNumberFieldList.tsx
  apps/meteor/client/views/account/profile/getProfileInitialValues.ts
  apps/meteor/client/views/omnichannel/components/outboundMessage/components/TemplatePlaceholderSelector/hooks/useAgentSection.tsx
Due: e2e, client

refactor: Remove old `phone` property from client
  apps/meteor/client/views/account/profile/getProfileInitialValues.ts
  apps/meteor/client/views/admin/users/AdminUserForm.tsx
  apps/meteor/client/views/admin/users/AdminUserInfoWithData.tsx
  apps/meteor/client/views/omnichannel/components/outboundMessage/components/TemplatePlaceholderSelector/hooks/useAgentSection.tsx
  apps/meteor/client/views/room/contextualBar/UserInfo/UserInfoWithData.tsx
  packages/livechat/src/definitions/agents.d.ts
  packages/livechat/src/helpers/formatAgent.ts
Due: e2e, client

chore: Migrate old `phone` field to `phones`
  apps/meteor/server/startup/migrations/index.ts
  apps/meteor/server/startup/migrations/v346.ts
Due: e2e, e2e-api

fix: livechat Chat route stories agent fixture
  packages/livechat/src/routes/Chat/stories.tsx
Due: none

refactor: Remove old `phone` property references on the server in favor of `phones`
  apps/meteor/server/api/ApiClass.ts
  apps/meteor/server/lib/users/getFullUserData.ts
  apps/meteor/server/lib/users/saveUser/saveUser.ts
  apps/meteor/server/meteor-methods/users/saveUserProfile.ts
  packages/core-typings/src/IUser.ts
  packages/model-typings/src/models/IUsersModel.ts
  packages/models/src/models/Users.ts
Due: e2e, e2e-api

feat: Trim whitespaces in phone number before validating format
  apps/meteor/tests/end-to-end/api/users.ts
  packages/rest-typings/src/v1/Ajv.ts
  packages/rest-typings/src/v1/users/UserCreateParamsPOST.ts
  packages/rest-typings/src/v1/users/UsersUpdateOwnBasicInfoParamsPOST.ts
  packages/rest-typings/src/v1/users/UsersUpdateParamsPOST.ts
Due: e2e

fix: Update e164 client regex to accept whitespaces and add unit tests for it
  apps/meteor/client/components/PhoneNumberFieldList/PhoneNumberFieldList.tsx
  apps/meteor/client/components/PhoneNumberFieldList/e164PhoneRegex.spec.ts
  apps/meteor/client/components/PhoneNumberFieldList/e164PhoneRegex.ts
Due: e2e, client

fix: max_length_is translation
  apps/meteor/client/components/PhoneNumberFieldList/PhoneNumberFieldList.tsx
Due: e2e, client

fix: Unset old `phone` when user updates their phone list
  apps/meteor/server/lib/users/saveUser/saveUser.ts
  apps/meteor/server/meteor-methods/users/saveUserProfile.ts
Due: e2e, e2e-api

leverage current conditionals for unset logic
  apps/meteor/server/lib/users/saveUser/saveUser.ts
Due: e2e, e2e-api

Add changeset
  .changeset/lemon-eyes-sip.md
Due: none

remove migration
  apps/meteor/server/startup/migrations/index.ts
  apps/meteor/server/startup/migrations/v346.ts
Due: e2e, e2e-api

fix: remove nullable props from AJV schema
  packages/rest-typings/src/v1/users/UserCreateParamsPOST.ts
  packages/rest-typings/src/v1/users/UsersUpdateOwnBasicInfoParamsPOST.ts
  packages/rest-typings/src/v1/users/UsersUpdateParamsPOST.ts
Due: none

fix: Remove `primary` and `verified` from IUserPhoneNumber and schemas
  apps/meteor/server/meteor-methods/users/saveUserProfile.ts
  apps/meteor/tests/e2e/account-profile.spec.ts
  apps/meteor/tests/e2e/admin-users-phones.spec.ts
  apps/meteor/tests/end-to-end/api/users.ts
  packages/core-typings/src/IUser.ts
  packages/rest-typings/src/v1/users/UserCreateParamsPOST.ts
  packages/rest-typings/src/v1/users/UsersUpdateOwnBasicInfoParamsPOST.ts
  packages/rest-typings/src/v1/users/UsersUpdateParamsPOST.ts
Due: e2e, e2e-api

test: fix e2e test cleanup
  apps/meteor/tests/e2e/account-profile.spec.ts
  apps/meteor/tests/e2e/admin-users-phones.spec.ts
  apps/meteor/tests/e2e/page-objects/fragments/phone-number-field-list.ts
  apps/meteor/tests/e2e/utils/setUserPhones.ts
Due: e2e

fix: Phone formating fallback on UserInfo
  packages/ui-client/src/components/UserInfo/UserInfoPhoneNumberList.tsx
Due: none

fix: Rename ajv keyword
  packages/rest-typings/src/v1/Ajv.ts
Due: none

test: fix e2e api user setup
  apps/meteor/tests/end-to-end/api/users.ts
Due: e2e

fix: saveUser notify not unseting phones
  apps/meteor/server/lib/users/saveUser/saveUser.ts
Due: e2e, e2e-api

fix: AJV trim parentData
  packages/rest-typings/src/v1/Ajv.ts
Due: none

fix: Remove "verified" from phones initial value on the user form
  apps/meteor/client/views/account/profile/getProfileInitialValues.ts
Due: e2e, client

fix: migration version
  apps/meteor/server/startup/migrations/v346.ts
Due: e2e, e2e-api

fix: prevent `null` or `undefined`I when providing a phone list for the API
  packages/rest-typings/src/v1/users/UsersUpdateParamsPOST.ts
Due: none

feat: added user phone identity lookup for external calls
  ee/packages/media-calls/src/server/CastDirector.ts
  packages/model-typings/src/models/IUsersModel.ts
  packages/models/src/models/Users.ts
Due: none

feat: User phone identity lookup for external voice calls - #40680
  ee/packages/media-calls/src/server/CastDirector.ts
  packages/model-typings/src/models/IUsersModel.ts
  packages/models/src/models/Users.ts
Due: none

feat: integrate SIP calls with DM rooms - #40752
  apps/meteor/client/views/room/body/MediaCallRoom.tsx
  ee/packages/media-calls/src/server/CastDirector.ts
  packages/core-typings/src/mediaCalls/IMediaCall.ts
  packages/media-signaling/src/definition/call/common.ts
  packages/ui-voip/src/context/definitions.d.ts
  packages/ui-voip/src/context/usePeerAutocomplete.spec.tsx
  packages/ui-voip/src/context/usePeerAutocomplete.ts
  packages/ui-voip/src/providers/MediaCallViewProvider.tsx
  packages/ui-voip/src/providers/MockedMediaCallProvider.tsx
  packages/ui-voip/src/providers/useDesktopNotifications.ts
  packages/ui-voip/src/providers/useMediaSession.ts
  packages/ui-voip/src/utils/derivePeerInfoFromInstanceContact.ts
  packages/ui-voip/src/utils/derivePeerInfoFromInstanceState.ts
  packages/ui-voip/src/utils/isExternalPeer.ts
  packages/ui-voip/src/utils/isInternalPeer.ts
  packages/ui-voip/src/utils/isUnknownPeer.ts
  packages/ui-voip/src/views/MediaCallCardList.tsx
  packages/ui-voip/src/views/MediaCallPopoutView.tsx
  packages/ui-voip/src/views/MediaCallRoomSection/MediaCallRoomSection.tsx
  packages/ui-voip/src/views/MediaCallWidget/IncomingCall.tsx
  packages/ui-voip/src/views/MediaCallWidget/NewCall.tsx
  packages/ui-voip/src/views/MediaCallWidget/OngoingCall.tsx
  packages/ui-voip/src/views/MediaCallWidget/OngoingCallWithScreen.tsx
  packages/ui-voip/src/views/MediaCallWidget/OutgoingCall.tsx
  packages/ui-voip/src/views/TransferModal.tsx
Due: e2e, client

feat: pre-fill media-call widget from desktop telephony deeplink - #40751
  .changeset/telephony-call-requested-desktop-api.md
  packages/desktop-api/src/index.ts
  packages/ui-voip/src/providers/MediaCallInstanceProvider.tsx
  packages/ui-voip/src/providers/useDesktopTelephonyListener.spec.tsx
  packages/ui-voip/src/providers/useDesktopTelephonyListener.ts
Due: none

feat: wait until call signaling is confirmed before playing the "calling" sound effect - #41224
  .changeset/sixty-coins-invent.md
  packages/media-signaling/src/definition/call/CallEvents.ts
  packages/media-signaling/src/definition/call/callStates/IDirectMediaCallData.ts
  packages/media-signaling/src/lib/Call.ts
  packages/media-signaling/src/lib/Session.ts
  packages/ui-voip/src/context/definitions.d.ts
  packages/ui-voip/src/providers/MediaCallViewProvider.tsx
  packages/ui-voip/src/providers/useMediaSession.ts
Due: none

feat: update contact details when a re-invite is received with different identity - #40963
  ee/packages/media-calls/src/base/BaseAgent.ts
  ee/packages/media-calls/src/definition/IMediaCallAgent.ts
  ee/packages/media-calls/src/internal/agents/UserActorAgent.ts
  ee/packages/media-calls/src/server/BroadcastAgent.ts
  ee/packages/media-calls/src/server/CallDirector.ts
  ee/packages/media-calls/src/sip/Session.ts
  ee/packages/media-calls/src/sip/providers/BaseSipCall.ts
  packages/media-signaling/src/definition/signals/server/MediaSignal.ts
  packages/media-signaling/src/definition/signals/server/index.ts
  packages/media-signaling/src/definition/signals/server/update.ts
  packages/media-signaling/src/lib/Call.ts
  packages/model-typings/src/models/IMediaCallsModel.ts
  packages/models/src/models/MediaCalls.ts
Due: none

feat: introduce read accessor for media calls - #40863
  .changeset/tired-teeth-cheat.md
  apps/meteor/server/modules/apps/bridges/bridges.js
  apps/meteor/server/modules/apps/bridges/mediaCalls.ts
  apps/meteor/server/modules/apps/converters/mediaCalls.ts
  apps/meteor/server/services/media-call/appEvents.ts
  apps/meteor/tests/data/apps/app-packages/README.md
  apps/meteor/tests/data/apps/app-packages/index.ts
  apps/meteor/tests/data/apps/app-packages/media-call-reader-test_0.0.1.zip
  apps/meteor/tests/data/apps/helper.ts
  apps/meteor/tests/end-to-end/apps/app-media-call-reader.ts
  packages/apps-engine/src/definition/accessors/IMediaCallRead.ts
  packages/apps-engine/src/definition/accessors/IRead.ts
  packages/apps-engine/src/definition/accessors/index.ts
  packages/apps-engine/src/definition/mediaCalls/IMediaCall.ts
  packages/apps-engine/src/definition/metadata/AppPermissions.ts
  packages/apps/base-runtime/src/lib/accessors/mod.ts
  packages/apps/base-runtime/src/lib/accessors/read/MediaCallRead.ts
  packages/apps/base-runtime/src/lib/accessors/read/Reader.ts
  packages/apps/base-runtime/src/lib/accessors/read/tests/readers.test.ts
  packages/apps/base-runtime/src/lib/bridges/bridgeCall.ts
  packages/apps/src/AppsEngine.ts
  packages/apps/src/server/bridges/AppBridges.ts
  packages/apps/src/server/bridges/MediaCallBridge.ts
  packages/apps/src/server/bridges/index.ts
  packages/apps/tests/test-data/bridges/appBridges.ts
  packages/apps/tests/test-data/bridges/mediaCallBridge.ts
  packages/apps/tests/test-data/utilities.ts
Due: e2e, e2e-api

fix: search not working on post attachments (#2938)
  .changeset/fix-search-post-attachments.md
  apps/meteor/server/startup/ensureMessagesTextIndex.ts
  apps/meteor/tests/end-to-end/api/chat.ts
  apps/meteor/tests/unit/server/startup/ensureMessagesTextIndex.spec.ts
  packages/models/src/models/Messages.ts
Due: e2e, e2e-api

test: target sidebar collapsers by listitem role
  apps/meteor/tests/e2e/page-objects/fragments/sidebar.ts
Due: e2e

test: target sidebar collapsers by listitem role (#42623)
  apps/meteor/tests/e2e/page-objects/fragments/sidebar.ts
Due: e2e

conflict between 40752 and 40751
  packages/ui-voip/src/providers/useDesktopTelephonyListener.spec.tsx
  packages/ui-voip/src/providers/useDesktopTelephonyListener.ts
Due: none

feat: Pexip Integration - #41871
  apps/meteor/package.json
  apps/meteor/server/api/api.ts
  apps/meteor/server/api/index.ts
  apps/meteor/server/api/pexip/eventSink.ts
  apps/meteor/server/api/pexip/index.ts
  apps/meteor/server/api/pexip/policyServer.ts
  apps/meteor/server/lib/videoConfProviders.ts
  apps/meteor/server/services/video-conference/service.ts
  apps/meteor/server/settings/definitions.ts
  apps/meteor/server/settings/pexip.ts
  packages/i18n/src/locales/de.i18n.json
  packages/i18n/src/locales/en.i18n.json
  packages/pexip/jest.config.ts
  packages/pexip/package.json
  packages/pexip/src/Pexip.ts
  packages/pexip/src/definition/AvatarRequest.ts
  packages/pexip/src/definition/EventSinkRequest.ts
  packages/pexip/src/definition/PexipLayout.ts
  packages/pexip/src/definition/PexipSettings.ts
  packages/pexip/src/definition/PolicyServerResponse.ts
  packages/pexip/src/definition/ServiceConfiguration.ts
  packages/pexip/src/definition/ServiceConfigurationRequest.ts
  packages/pexip/src/definition/index.ts
  packages/pexip/src/endpoints/eventSink.ts
  packages/pexip/src/endpoints/index.ts
  packages/pexip/src/endpoints/serviceConfiguration.ts
  packages/pexip/src/index.ts
  packages/pexip/src/logger.ts
  packages/pexip/src/videoConfProvider.ts
  packages/pexip/tsconfig.build.json
  packages/pexip/tsconfig.json
  yarn.lock
Due: e2e, e2e-api

test(search): expand attachment search e2e coverage and isolate startup test cache (#2938)
  apps/meteor/server/startup/ensureMessagesTextIndex.ts
  apps/meteor/tests/end-to-end/api/chat.ts
  apps/meteor/tests/unit/server/startup/ensureMessagesTextIndex.spec.ts
Due: e2e, e2e-api

test(tools): add unit tests for convertPathsIntoSubObjects
  packages/tools/src/convertPathsIntoSubObjects.spec.ts
Due: none

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
