Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

adds changeset
  .changeset/chilled-beers-run.md
Due: none

ui improvements according to figma design
  apps/meteor/client/views/room/contextualBar/RoomMembers/MembersListDivider.tsx
  apps/meteor/client/views/room/contextualBar/RoomMembers/RoomMembers.tsx
  apps/meteor/client/views/room/contextualBar/RoomMembers/RoomMembersItem.tsx
Due: e2e, client

resolve conflicts
  apps/meteor/client/views/room/hooks/useUserInfoActions/actions/useChangeOwnerAction.tsx
Due: e2e, client

minor fix
  apps/meteor/client/views/room/contextualBar/RoomMembers/RoomMembers.tsx
Due: e2e, client

added reactivity when changing user roles
  apps/meteor/client/views/hooks/useMembersList.ts
Due: e2e, client

Deploy preview for PR 34153 🛫
  pr-preview/pr-34153/fuselage-ui-kit/project.json
  pr-preview/pr-34153/gazzodown/project.json
Due: none

fix: SAML login redirects to incorrect room when using an invite (#34873)
  .changeset/itchy-pumas-laugh.md
  apps/meteor/app/meteor-accounts-saml/server/definition/IServiceProviderOptions.ts
  apps/meteor/app/meteor-accounts-saml/server/lib/SAML.ts
  apps/meteor/app/meteor-accounts-saml/server/lib/ServiceProvider.ts
  apps/meteor/app/meteor-accounts-saml/server/lib/Utils.ts
  apps/meteor/app/meteor-accounts-saml/server/lib/generators/AuthorizeRequest.ts
  apps/meteor/client/providers/UserProvider/UserProvider.tsx
  apps/meteor/client/views/invite/InvitePage.tsx
  apps/meteor/client/views/invite/hooks/useSamlInviteToken.ts
  apps/meteor/client/views/root/SAMLLoginRoute.spec.tsx
  apps/meteor/client/views/root/SAMLLoginRoute.tsx
  apps/meteor/tests/e2e/saml.spec.ts
  apps/meteor/tests/unit/app/meteor-accounts-saml/server.tests.ts
Due: e2e, client

Deploy preview for PR 34850 🛫
  pr-preview/pr-34850/ui-composer/project.json
Due: none

changeset changes
  .changeset/chilled-beers-run.md
Due: none

requested changes
  apps/meteor/client/views/hooks/useMembersList.ts
Due: e2e, client

Create many-badgers-jam.md
  .changeset/many-badgers-jam.md
Due: none

Deploy preview for PR 34958 🛫
  pr-preview/pr-34958/fuselage-ui-kit/project.json
  pr-preview/pr-34958/gazzodown/project.json
Due: none

changes requested
  apps/meteor/client/views/hooks/useMembersList.ts
Due: e2e, client

fix missing conflict
  apps/meteor/client/views/root/SAMLLoginRoute.spec.tsx
Due: e2e, client

typecheck
  apps/meteor/ee/server/local-services/voip-freeswitch/service.ts
Due: e2e

update CS
  .changeset/nasty-shirts-rule.md
Due: none

Deploy preview for PR 34948 🛫
  pr-preview/pr-34948/fuselage-ui-kit/project.json
  pr-preview/pr-34948/gazzodown/project.json
Due: none

fix review
  apps/meteor/client/views/room/hooks/useOpenRoom.ts
  apps/meteor/tests/e2e/anonymous-user.spec.ts
Due: e2e, client

Deploy preview for PR 34922 🛫
  pr-preview/pr-34922/fuselage-ui-kit/project.json
  pr-preview/pr-34922/gazzodown/project.json
Due: none

review
  apps/meteor/client/lib/errors/NotSubscribedToRoomError.ts
  apps/meteor/client/views/room/RoomOpener.tsx
  apps/meteor/client/views/room/RoomOpenerEmbedded.tsx
  apps/meteor/client/views/room/hooks/useOpenRoom.ts
Due: e2e, client

Deploy preview for PR 34058 🛫
  pr-preview/pr-34058/fuselage-ui-kit/project.json
  pr-preview/pr-34058/gazzodown/project.json
Due: none

Deploy preview for PR 34891 🛫
  pr-preview/pr-34891/fuselage-ui-kit/project.json
  pr-preview/pr-34891/gazzodown/project.json
Due: none

Deploy preview for PR 34960 🛫
  pr-preview/pr-34960/fuselage-ui-kit/project.json
  pr-preview/pr-34960/gazzodown/project.json
Due: none

Deploy preview for PR 34921 🛫
  pr-preview/pr-34921/fuselage-ui-kit/project.json
  pr-preview/pr-34921/gazzodown/project.json
  pr-preview/pr-34921/ui-composer/project.json
Due: none

refactor: remove getReadReceipts method calls (server) (#34891)
  apps/meteor/ee/server/api/chat.ts
  apps/meteor/ee/server/methods/getReadReceipts.ts
Due: e2e

deploy: 7f9efd8e06c9f84a5ab55a90d2e8b34233fc98d4
  master/fuselage-ui-kit/project.json
  master/gazzodown/project.json
  master/ui-composer/project.json
Due: none

feat: Room roles visibility in members panel (#34850)
  .changeset/chilled-beers-run.md
  apps/meteor/client/views/hooks/useMembersList.ts
  apps/meteor/client/views/room/contextualBar/RoomMembers/MembersListDivider.tsx
  apps/meteor/client/views/room/contextualBar/RoomMembers/RoomMembers.tsx
  apps/meteor/client/views/room/contextualBar/RoomMembers/RoomMembersItem.tsx
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

remove setting notifier
  apps/meteor/app/livechat/server/lib/QueueManager.ts
Due: e2e

Implementa test do Método templateVarHandler
  apps/meteor/tests/unit/app/utils/lib/templateVarHandler.spec.ts
Due: e2e

reset image gallery component tree on room change
  apps/meteor/client/views/room/providers/RoomProvider.tsx
Due: e2e, client

Deploy preview for PR 34960 🛫
  pr-preview/pr-34960/gazzodown/project.json
  pr-preview/pr-34960/ui-composer/project.json
Due: none

add cs
  .changeset/angry-comics-smell.md
Due: none

Path conditions:
  e2e: any of: apps/meteor/
  client: any of: apps/meteor/client
