Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

chore: changeset
  .changeset/weak-books-tell.md
Due: none

fix typecheck
  apps/meteor/client/views/marketplace/AppDetailsPage/tabs/AppSettings/AppSetting.tsx
Due: e2e, client

typecheck again
  apps/meteor/client/omnichannel/priorities/PriorityEditForm.tsx
Due: e2e, client

chore: fix translation
  packages/i18n/src/locales/en.i18n.json
Due: none

chore: undo en changes
  packages/i18n/src/locales/en.i18n.json
Due: none

fix review
  apps/meteor/tests/e2e/omnichannel/omnichannel-business-hours.spec.ts
Due: e2e

start first keydistrib right away
  apps/meteor/app/e2e/client/rocketchat.e2e.ts
Due: e2e

feat: E2EE messages mentions
  apps/meteor/app/lib/server/methods/updateMessage.ts
  apps/meteor/app/mentions/server/Mentions.ts
  apps/meteor/client/startup/e2e.ts
  apps/meteor/packages/flow-router/.npm/package/npm-shrinkwrap.json
  packages/core-typings/src/IMessage/IMessage.ts
Due: e2e, client

adding E2E_Enabled_Mentions settings
  apps/meteor/client/startup/e2e.ts
  apps/meteor/server/settings/e2e.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

deprecate old updateGroupKey endpoints
  apps/meteor/app/api/server/v1/e2e.ts
  apps/meteor/app/e2e/server/methods/updateGroupKey.ts
Due: e2e

feat: E2EE tests (#32511)
  .changeset/orange-clocks-raise.md
  apps/meteor/app/api/server/v1/e2e.ts
  apps/meteor/app/e2e/client/rocketchat.e2e.room.js
  apps/meteor/app/e2e/client/rocketchat.e2e.ts
  apps/meteor/app/e2e/server/functions/handleSuggestedGroupKey.ts
  apps/meteor/app/e2e/server/functions/provideUsersSuggestedGroupKeys.ts
  apps/meteor/app/e2e/server/methods/setUserPublicAndPrivateKeys.ts
  apps/meteor/app/e2e/server/methods/updateGroupKey.ts
  apps/meteor/app/lib/server/functions/addUserToRoom.ts
  apps/meteor/app/lib/server/functions/removeUserFromRoom.ts
  apps/meteor/client/startup/e2e.ts
  apps/meteor/client/views/teams/contextualBar/channels/hooks/useTeamsChannelList.ts
  apps/meteor/lib/publishFields.ts
  apps/meteor/server/lib/resetUserE2EKey.ts
  apps/meteor/server/methods/removeUserFromRoom.ts
  apps/meteor/server/models/raw/Rooms.ts
  apps/meteor/server/models/raw/Subscriptions.ts
  packages/core-typings/src/IRoom.ts
  packages/model-typings/src/models/IRoomsModel.ts
  packages/model-typings/src/models/ISubscriptionsModel.ts
  packages/rest-typings/src/index.ts
  packages/rest-typings/src/v1/e2e.ts
Due: e2e, client

chore: refinement
  apps/meteor/client/components/Contextualbar/index.ts
  apps/meteor/client/views/room/body/RoomBody.tsx
  apps/meteor/client/views/room/contextualBar/Discussions/DiscussionsList.tsx
  apps/meteor/client/views/room/contextualBar/MessageSearchTab/MessageSearchTab.tsx
  apps/meteor/client/views/room/contextualBar/MessageSearchTab/components/MessageSearchForm.tsx
  apps/meteor/client/views/room/contextualBar/Threads/ThreadList.tsx
Due: e2e, client

decrypt thread main message before setting (#32514)
  apps/meteor/client/views/room/contextualBar/Threads/hooks/useThreadMainMessageQuery.ts
Due: e2e, client

fix: sidebar last message e2 ee2 (#32512)
  .changeset/lastmessage-e2ee.md
  apps/meteor/app/lib/server/functions/cleanRoomHistory.ts
  apps/meteor/app/lib/server/functions/deleteMessage.ts
  apps/meteor/server/models/raw/Messages.ts
  apps/meteor/tests/e2e/e2e-encryption.spec.ts
  apps/meteor/tests/e2e/page-objects/fragments/home-sidenav.ts
  packages/model-typings/src/models/IMessagesModel.ts
Due: e2e

test: add api method test
  apps/meteor/tests/end-to-end/api/24-methods.js
Due: e2e

fix: E2e pinned messages2 (#32513)
  .changeset/forty-bikes-check.md
  apps/meteor/app/e2e/client/rocketchat.e2e.ts
  apps/meteor/app/message-pin/server/pinMessage.ts
  apps/meteor/client/components/message/StatusIndicators.tsx
  apps/meteor/client/startup/e2e.ts
  apps/meteor/client/startup/messageTypes.ts
  apps/meteor/client/views/room/contextualBar/PinnedMessagesTab.tsx
  apps/meteor/client/views/room/contextualBar/StarredMessagesTab.tsx
  packages/core-typings/src/IMessage/IMessage.ts
Due: e2e, client

Update apps/meteor/app/e2e/client/rocketchat.e2e.ts
  apps/meteor/app/e2e/client/rocketchat.e2e.ts
Due: e2e

feat: E2e room setup header2 (#32515)
  .changeset/gold-flowers-shake.md
  .changeset/slow-cars-press.md
  apps/meteor/app/e2e/client/rocketchat.e2e.ts
  apps/meteor/client/ui.ts
  apps/meteor/client/views/room/Header/Header.tsx
  apps/meteor/client/views/room/Header/RoomHeader.tsx
  apps/meteor/client/views/room/Header/RoomHeaderE2EESetup.tsx
  apps/meteor/client/views/room/Header/RoomToolbox/RoomToolboxE2EESetup.tsx
  apps/meteor/tests/e2e/e2e-encryption.spec.ts
  apps/meteor/tests/e2e/page-objects/fragments/home-flextab.ts
Due: e2e, client

add warning for windows users for dev environment setup
  README.md
Due: none

marcos is wrong
  README.md
Due: none

Update spotty-dingos-push.md
  .changeset/spotty-dingos-push.md
Due: none

Update .changeset/spotty-dingos-push.md
  .changeset/spotty-dingos-push.md
Due: none

feat: Add new view-oauth-apps permission
  apps/meteor/app/authorization/server/constant/permissions.ts
Due: e2e

feat: Adding translations for the new permission
  packages/i18n/src/locales/en.i18n.json
Due: none

feat: Add a permission check when getting apps
  apps/meteor/app/api/server/v1/oauthapps.ts
Due: e2e

re-added testing with different permission
  apps/meteor/tests/end-to-end/api/18-oauthapps.js
Due: e2e

improve: Add room type check to aggregation pipeline
  apps/meteor/ee/server/lib/engagementDashboard/channels.ts
  apps/meteor/server/models/raw/Rooms.ts
  packages/model-typings/src/models/IRoomsModel.ts
Due: e2e

fix: prevent broadcasting of system messages when hide setting is enabled
  .changeset/grumpy-games-greet.md
  apps/meteor/server/modules/watchers/lib/messages.ts
  apps/meteor/tests/unit/server/modules/watchers/lib/messages.spec.ts
Due: e2e

increase allowed stale time
  .github/workflows/stale.yml
Due: none

feat: Add contentDisposition option to file storages (#31974)
  .changeset/sweet-kiwis-scream.md
  apps/meteor/app/file-upload/server/config/AmazonS3.ts
  apps/meteor/app/file-upload/server/config/FileSystem.ts
  apps/meteor/app/file-upload/server/config/GoogleStorage.ts
  apps/meteor/app/file-upload/server/config/GridFS.ts
  apps/meteor/app/file-upload/server/config/helper.ts
  apps/meteor/client/components/message/content/attachments/file/GenericFileAttachment.tsx
Due: e2e, client

Update apps/meteor/app/authorization/server/constant/permissions.ts
  apps/meteor/app/authorization/server/constant/permissions.ts
Due: e2e

regression: Remove impossible sorting from users table "registration status" column (#32506)
  apps/meteor/client/views/admin/users/UsersTable/UsersTable.tsx
Due: e2e, client

fix: fix unit test by isolating the stubs
  apps/meteor/tests/unit/server/modules/watchers/lib/messages.spec.ts
Due: e2e

test: fix last dependent cases
  apps/meteor/tests/end-to-end/api/01-users.js
  apps/meteor/tests/end-to-end/api/02-channels.js
  apps/meteor/tests/end-to-end/api/03-groups.js
  apps/meteor/tests/end-to-end/api/04-direct-message.js
  apps/meteor/tests/end-to-end/api/22-push.ts
Due: e2e

feat: adding more cases, fix the change text and moving a method place
  .changeset/grumpy-games-greet.md
  apps/meteor/server/modules/watchers/lib/messages.ts
  apps/meteor/tests/unit/server/modules/watchers/lib/messages.spec.ts
Due: e2e

chore: Deprecate banners.getNew endpoint
  apps/meteor/app/api/server/v1/banners.ts
Due: e2e

Add banners as an alternative
  apps/meteor/app/api/server/v1/banners.ts
Due: e2e

Path conditions:
  e2e: any of: apps/meteor/
  client: any of: apps/meteor/client
