Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true
  
  e2e-api:
    paths:
      - apps/meteor/server
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'
fixes:
  - '/home/runner/work/Rocket.Chat/Rocket.Chat/::'

fix: check for all settings and cover all cases
  apps/meteor/client/views/hooks/useRequire2faSetup.ts
Due: e2e, client

fix: adjusts component params to match other charts
  apps/meteor/client/omnichannel/reports/sections/TagsSection.tsx
Due: e2e, client

review: :tasso:
  apps/meteor/client/views/admin/ABAC/AdminABACRoomAttributesForm.spec.tsx
Due: e2e, client

Unify some jobs
  .github/workflows/ci.yml
Due: none

adding test file for broadcast-channel-allow-reacting
  apps/meteor/tests/e2e/broadcast-channel-allow-reacting.spec.ts
Due: e2e

review: don't use id
  apps/meteor/client/views/admin/ABAC/AdminABACRoomAttributesForm.spec.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACRoomAttributesForm.tsx
  apps/meteor/client/views/admin/ABAC/__snapshots__/AdminABACRoomAttributesForm.spec.tsx.snap
Due: e2e, client

review: storybook formatting
  apps/meteor/client/views/admin/ABAC/AdminABACRoomAttributesForm.stories.tsx
Due: e2e, client

server side handling of negotiation requests
  ee/packages/media-calls/src/internal/agents/CallSignalProcessor.ts
Due: none

More cleanups
  .github/actions/build-docker/action.yml
  .github/workflows/ci.yml
Due: none

Try to use some labels
  .github/actions/build-docker/action.yml
  .github/workflows/ci.yml
Due: none

feat: static & live location sharing (draft)
  apps/meteor/app/api/server/v1/liveLocation.ts
  apps/meteor/client/views/room/ShareLocation/MapLibreMap.tsx
  apps/meteor/client/views/room/ShareLocation/ShareLocationModal.tsx
  apps/meteor/client/views/room/ShareLocation/getGeolocationPosition.ts
  apps/meteor/client/views/room/ShareLocation/useBrowserLiveLocation.spec.tsx
  packages/apps-engine/deno-runtime/deno.lock
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

feat: static & live location sharing (draft)
  packages/apps-engine/deno-runtime/deno.lock
Due: none

feat: static & live location sharing (draft)
  apps/meteor/app/api/server/v1/liveLocation.ts
  apps/meteor/client/components/message/content/location/MapView.tsx
  apps/meteor/client/views/room/ShareLocation/MapLibreMap.tsx
  apps/meteor/client/views/room/ShareLocation/useBrowserLiveLocation.spec.tsx
  packages/apps-engine/deno-runtime/deno.lock
  packages/models/src/models/Messages.ts
Due: e2e, client

add e2e tests
  apps/meteor/tests/e2e/enforce-2FA.spec.ts
Due: e2e

add changeset
  .changeset/tall-flies-jump.md
Due: none

snapshot
  apps/meteor/client/views/admin/ABAC/__snapshots__/AdminABACRoomAttributesForm.spec.tsx.snap
Due: e2e, client

test: update broadcast channel tests to verify 'Allow Reacting' visibility
  apps/meteor/tests/e2e/broadcast-channel-allow-reacting.spec.ts
Due: e2e

Disable reactions in broadcast rooms
  .changeset/disable-reactions-broadcast.md
Due: none

prettier: correct spacing in conditional rendering for read-only broadcast channels
  apps/meteor/client/views/room/contextualBar/Info/EditRoomInfo/EditRoomInfo.tsx
Due: e2e, client

fix: settings cached collection keeping stale state after logout
  apps/meteor/client/providers/SettingsProvider.tsx
Due: e2e, client

test: e2e tests for settings list
  apps/meteor/tests/e2e/administration-settings.spec.ts
Due: e2e

refactor: remove unnecessary variable declaration in broadcast-reacting tests
  apps/meteor/tests/e2e/broadcast-channel-allow-reacting.spec.ts
Due: e2e

chore: create `links` module
  apps/meteor/client/lib/links.ts
Due: e2e, client

snap
  apps/meteor/client/views/admin/ABAC/__snapshots__/AdminABACRoomAttributesForm.spec.tsx.snap
Due: e2e, client

chore: update mongodb version to 6.16.0 across multiple package.json and yarn.lock files
  apps/meteor/ee/server/services/package.json
  apps/meteor/package.json
  ee/apps/account-service/package.json
  ee/apps/authorization-service/package.json
  ee/apps/ddp-streamer/package.json
  ee/apps/omnichannel-transcript/package.json
  ee/apps/presence-service/package.json
  ee/apps/queue-worker/package.json
  ee/apps/stream-hub-service/package.json
  ee/packages/federation-matrix/package.json
  ee/packages/omni-core-ee/package.json
  ee/packages/omnichannel-services/package.json
  ee/packages/presence/package.json
  packages/agenda/package.json
  packages/core-services/package.json
  packages/core-typings/package.json
  packages/cron/package.json
  packages/instance-status/package.json
  packages/model-typings/package.json
  packages/mongo-adapter/package.json
  packages/omni-core/package.json
  packages/rest-typings/package.json
  packages/ui-contexts/package.json
  yarn.lock
Due: e2e

refactor: streamline broadcast-reacting tests by consolidating setup and improving readability
  apps/meteor/tests/e2e/broadcast-channel-allow-reacting.spec.ts
Due: e2e

chore: bump version to 7.13.0-develop
  apps/meteor/app/utils/rocketchat.info
  apps/meteor/package.json
  package.json
  packages/core-typings/package.json
  packages/rest-typings/package.json
Due: e2e

chore: changeset
  .changeset/stupid-cameras-nail.md
Due: none

refactor: remove duplicate import and streamline visibility checks in broadcast-reacting tests
  apps/meteor/tests/e2e/broadcast-channel-allow-reacting.spec.ts
Due: e2e

refactor: reorder import statements for consistency in broadcast-reacting tests
  apps/meteor/tests/e2e/broadcast-channel-allow-reacting.spec.ts
Due: e2e

remove console.log
  apps/meteor/client/views/hooks/useRequire2faSetup.ts
Due: e2e, client

chore: bump meteor 3.3.2 (#37336)
  apps/meteor/.meteor/packages
  apps/meteor/.meteor/release
  apps/meteor/.meteor/versions
  apps/meteor/ee/server/services/package.json
  apps/meteor/package.json
  ee/apps/account-service/package.json
  ee/apps/authorization-service/package.json
  ee/apps/ddp-streamer/package.json
  ee/apps/omnichannel-transcript/package.json
  ee/apps/presence-service/package.json
  ee/apps/queue-worker/package.json
  ee/apps/stream-hub-service/package.json
  ee/packages/federation-matrix/package.json
  ee/packages/omni-core-ee/package.json
  ee/packages/omnichannel-services/package.json
  ee/packages/presence/package.json
  packages/agenda/package.json
  packages/core-services/package.json
  packages/core-typings/package.json
  packages/cron/package.json
  packages/instance-status/package.json
  packages/model-typings/package.json
  packages/mongo-adapter/package.json
  packages/omni-core/package.json
  packages/rest-typings/package.json
  packages/ui-contexts/package.json
  yarn.lock
Due: e2e

refactor: reorder import statements for consistency in broadcast channel tests
  apps/meteor/tests/e2e/broadcast-channel-allow-reacting.spec.ts
Due: e2e

abac license module
  packages/core-typings/src/license/LicenseModule.ts
  packages/jwt/__tests__/jwt.spec.ts
Due: none

abac global enable setting
  apps/meteor/ee/server/configuration/abac.ts
  apps/meteor/ee/server/configuration/index.ts
  apps/meteor/ee/server/settings/abac.ts
Due: e2e

lint
  packages/model-typings/src/models/IAbacAttributesModel.ts
Due: none

permission
  apps/meteor/ee/server/api/abac.ts
  apps/meteor/ee/server/configuration/abac.ts
  apps/meteor/ee/server/lib/abac/index.ts
Due: e2e

abac package and endpoints
  apps/meteor/ee/server/api/abac.ts
  apps/meteor/ee/server/api/index.ts
  apps/meteor/ee/server/settings/abac.ts
  apps/meteor/package.json
  ee/packages/abac/.eslintrc.json
  ee/packages/abac/jest.config.ts
  ee/packages/abac/package.json
  ee/packages/abac/src/index.ts
  ee/packages/abac/tsconfig.json
  yarn.lock
Due: e2e

abac model
  apps/meteor/server/models.ts
  packages/core-typings/src/IAbacAttribute.ts
  packages/core-typings/src/index.ts
  packages/model-typings/src/index.ts
  packages/model-typings/src/models/IAbacAttributesModel.ts
  packages/models/src/index.ts
  packages/models/src/modelClasses.ts
  packages/models/src/models/AbacAttributes.ts
Due: e2e, e2e-api
