Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

chore: replace package (#36352)
  ee/apps/federation-service/package.json
  ee/apps/federation-service/src/service.ts
  ee/packages/federation-matrix/package.json
  ee/packages/federation-matrix/src/FederationMatrix.ts
  ee/packages/federation-matrix/src/events/index.ts
  ee/packages/federation-matrix/src/events/invite.ts
  ee/packages/federation-matrix/src/events/message.ts
  ee/packages/federation-matrix/src/events/ping.ts
  ee/packages/federation-matrix/src/setupContainers.ts
  yarn.lock
Due: none

Deploy preview for PR 36373 🛫
  pr-preview/pr-36373/fuselage-ui-kit/project.json
  pr-preview/pr-36373/gazzodown/project.json
Due: none

feat: Improve AutoCompleteDepartment loading state (#36364)
  .changeset/plenty-timers-roll.md
  apps/meteor/client/components/AutoCompleteDepartment.spec.tsx
  apps/meteor/client/components/AutoCompleteDepartment.tsx
Due: e2e, client

Deploy preview for PR 36332 🛫
  pr-preview/pr-36332/fuselage-ui-kit/project.json
  pr-preview/pr-36332/gazzodown/project.json
  pr-preview/pr-36332/ui-composer/project.json
Due: none

Deploy preview for PR 36207 🛫
  pr-preview/pr-36207/fuselage-ui-kit/project.json
  pr-preview/pr-36207/gazzodown/project.json
Due: none

Deploy preview for PR 36369 🛫
  pr-preview/pr-36369/fuselage-ui-kit/project.json
  pr-preview/pr-36369/gazzodown/project.json
Due: none

Deploy preview for PR 36370 🛫
  pr-preview/pr-36370/fuselage-ui-kit/project.json
  pr-preview/pr-36370/gazzodown/project.json
Due: none

Deploy preview for PR 36324 🛫
  pr-preview/pr-36324/fuselage-ui-kit/project.json
  pr-preview/pr-36324/gazzodown/project.json
  pr-preview/pr-36324/ui-composer/project.json
Due: none

Deploy preview for PR 36372 🛫
  pr-preview/pr-36372/fuselage-ui-kit/project.json
  pr-preview/pr-36372/gazzodown/project.json
Due: none

fix: prune-files-ui-not-updating
  apps/meteor/app/lib/server/functions/cleanRoomHistory.ts
  apps/meteor/app/ui-utils/client/lib/LegacyRoomManager.ts
  apps/meteor/client/hooks/lists/useStreamUpdatesForMessageList.ts
  apps/meteor/client/lib/utils/modifyMessageOnFilesDelete.spec.ts
  apps/meteor/client/lib/utils/modifyMessageOnFilesDelete.ts
  apps/meteor/client/views/room/contextualBar/Threads/hooks/useThreadMainMessageQuery.ts
  apps/meteor/tests/e2e/page-objects/fragments/home-content.ts
  apps/meteor/tests/e2e/prune-messages.spec.ts
  packages/core-services/src/events/Events.ts
  packages/ddp-client/src/types/streams.ts
Due: e2e, client

added changeset
  .changeset/cold-insects-guess.md
Due: none

update modifyMessageOnFilesDelete (review)
  apps/meteor/client/lib/utils/modifyMessageOnFilesDelete.ts
Due: e2e, client

review
  apps/meteor/client/hooks/lists/useStreamUpdatesForMessageList.ts
Due: e2e, client

update changeset
  .changeset/cold-insects-guess.md
Due: none

resolve conflicts
  apps/meteor/app/ui-utils/client/lib/LegacyRoomManager.ts
Due: e2e

refactor: Set multiple visitor custom fields at once instead of one by one on `custom.fields` endpoint (#36357)
  apps/meteor/app/livechat/server/api/v1/customField.ts
  apps/meteor/app/livechat/server/api/v1/visitor.ts
  apps/meteor/app/livechat/server/lib/custom-fields.ts
  apps/meteor/tests/end-to-end/api/livechat/03-custom-fields.ts
Due: e2e

Deploy preview for PR 36339 🛫
  pr-preview/pr-36339/fuselage-ui-kit/568.cf0a7ca5.iframe.bundle.js
  pr-preview/pr-36339/fuselage-ui-kit/568.cf0a7ca5.iframe.bundle.js.map
  pr-preview/pr-36339/fuselage-ui-kit/568.f6a8cdd8.iframe.bundle.js
  pr-preview/pr-36339/fuselage-ui-kit/568.f6a8cdd8.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-36339/fuselage-ui-kit/568.f6a8cdd8.iframe.bundle.js.map
  pr-preview/pr-36339/fuselage-ui-kit/iframe.html
  pr-preview/pr-36339/fuselage-ui-kit/project.json
  pr-preview/pr-36339/fuselage-ui-kit/runtime~main.4ef8d59c.iframe.bundle.js
  pr-preview/pr-36339/fuselage-ui-kit/runtime~main.b83f24b9.iframe.bundle.js
  pr-preview/pr-36339/gazzodown/Markup-stories.8c3f22ae.iframe.bundle.js
  pr-preview/pr-36339/gazzodown/Markup-stories.8c3f22ae.iframe.bundle.js.map
  pr-preview/pr-36339/gazzodown/Markup-stories.deb1161d.iframe.bundle.js
  pr-preview/pr-36339/gazzodown/Markup-stories.deb1161d.iframe.bundle.js.map
  pr-preview/pr-36339/gazzodown/iframe.html
  pr-preview/pr-36339/gazzodown/project.json
  pr-preview/pr-36339/gazzodown/runtime~main.61497802.iframe.bundle.js
  pr-preview/pr-36339/gazzodown/runtime~main.d4292d31.iframe.bundle.js
  pr-preview/pr-36339/ui-composer/project.json
  pr-preview/pr-36339/uikit-playground/assets/CodeBlock-FTC-yCzy.js
  pr-preview/pr-36339/uikit-playground/assets/KatexBlock-DV-8bxVk.js
  pr-preview/pr-36339/uikit-playground/assets/KatexBlock-pcGpWg9m.js
  pr-preview/pr-36339/uikit-playground/assets/KatexElement-BlrZGWxM.js
  pr-preview/pr-36339/uikit-playground/assets/KatexElement-C0hcfZM6.js
  pr-preview/pr-36339/uikit-playground/assets/index-BYHo8_LQ.js
  pr-preview/pr-36339/uikit-playground/assets/index-COUYEypB.js
  pr-preview/pr-36339/uikit-playground/index.html
Due: none

fix: Livechat widget connecting to localhost instead of actual site url (#36332)
  .changeset/late-donkeys-beg.md
  apps/meteor/app/livechat/server/livechat.ts
  apps/meteor/tests/unit/app/livechat/lib/assets.spec.ts
Due: e2e

gdpr for livechat contacts
  apps/meteor/app/apps/server/converters/contacts.ts
  apps/meteor/app/apps/server/converters/rooms.js
  apps/meteor/app/livechat/server/api/v1/contact.ts
  apps/meteor/app/livechat/server/api/v1/visitor.ts
  apps/meteor/app/livechat/server/lib/Helper.ts
  apps/meteor/app/livechat/server/lib/QueueManager.ts
  apps/meteor/app/livechat/server/lib/contacts/getContactChannelsGrouped.ts
  apps/meteor/app/livechat/server/lib/contacts/getContactHistory.ts
  apps/meteor/app/livechat/server/lib/contacts/resolveContactConflicts.spec.ts
  apps/meteor/app/livechat/server/lib/contacts/resolveContactConflicts.ts
  apps/meteor/app/livechat/server/lib/contacts/updateContact.spec.ts
  apps/meteor/app/livechat/server/lib/contacts/updateContact.ts
  apps/meteor/app/livechat/server/lib/guests.ts
  apps/meteor/ee/app/livechat-enterprise/server/hooks/handleNextAgentPreferredEvents.ts
  apps/meteor/ee/server/patches/isAgentAvailableToTakeContactInquiry.ts
  apps/meteor/ee/server/patches/mergeContacts.ts
  apps/meteor/ee/tests/unit/apps/livechat-enterprise/server/lib/isAgentAvailableToTakeContactInquiry.spec.ts
  apps/meteor/ee/tests/unit/apps/livechat-enterprise/server/lib/mergeContacts.spec.ts
  packages/model-typings/src/models/ILivechatContactsModel.ts
  packages/models/src/models/LivechatContacts.ts
Due: e2e

test
  apps/meteor/tests/end-to-end/api/livechat/09-visitors.ts
Due: e2e

multiple contacts
  apps/meteor/app/livechat/server/api/v1/visitor.ts
  apps/meteor/app/livechat/server/lib/guests.ts
  apps/meteor/tests/end-to-end/api/livechat/09-visitors.ts
  packages/model-typings/src/models/ILivechatInquiryModel.ts
  packages/model-typings/src/models/ILivechatRoomsModel.ts
  packages/models/src/models/LivechatInquiry.ts
  packages/models/src/models/LivechatRooms.ts
Due: e2e

Create tough-points-know.md
  .changeset/tough-points-know.md
Due: none

return
  apps/meteor/app/livechat/server/api/v1/visitor.ts
  apps/meteor/app/livechat/server/lib/guests.ts
Due: e2e

Deploy preview for PR 36228 🛫
  pr-preview/pr-36228/fuselage-ui-kit/project.json
  pr-preview/pr-36228/gazzodown/project.json
  pr-preview/pr-36228/ui-composer/project.json
Due: none

logger
  apps/meteor/app/livechat/server/api/v1/visitor.ts
Due: e2e

all my homies hate eslint
  apps/meteor/app/livechat/server/api/v1/visitor.ts
Due: e2e

Deploy preview for PR 36267 🛫
  pr-preview/pr-36267/fuselage-ui-kit/project.json
  pr-preview/pr-36267/gazzodown/project.json
  pr-preview/pr-36267/ui-composer/project.json
Due: none

Deploy preview for PR 36280 🛫
  pr-preview/pr-36280/fuselage-ui-kit/project.json
  pr-preview/pr-36280/gazzodown/project.json
  pr-preview/pr-36280/ui-composer/project.json
Due: none

Deploy preview for PR 36207 🛫
  pr-preview/pr-36207/ui-composer/project.json
Due: none

Deploy preview for PR 36369 🛫
  pr-preview/pr-36369/ui-composer/project.json
Due: none

Deploy preview for PR 36370 🛫
  pr-preview/pr-36370/ui-composer/project.json
Due: none

Deploy preview for PR 36371 🛫
  pr-preview/pr-36371/fuselage-ui-kit/project.json
  pr-preview/pr-36371/gazzodown/project.json
  pr-preview/pr-36371/ui-composer/project.json
Due: none

Deploy preview for PR 36372 🛫
  pr-preview/pr-36372/fuselage-ui-kit/project.json
  pr-preview/pr-36372/gazzodown/project.json
  pr-preview/pr-36372/ui-composer/project.json
Due: none

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
