Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

test(api): enable 2FA + password fallback so TOTP twoFactorRequired tests challenge
  apps/meteor/tests/end-to-end/api/users.ts
Due: e2e

test: cover federated exemption, team modal policy, and harden cleanup
  apps/meteor/client/navbar/NavBarPagesGroup/actions/CreateTeamModal.spec.tsx
  apps/meteor/tests/end-to-end/api/groups.ts
  apps/meteor/tests/end-to-end/api/rooms.ts
Due: e2e, client

fix(api): channels response schemas reject real data (members/files/invite)
  apps/meteor/server/api/v1/channels.ts
  packages/core-typings/src/IRoom.ts
Due: e2e, e2e-api

fix(api): channels.list.joined 400s on ignored roomId query param
  apps/meteor/server/api/v1/channels.ts
Due: e2e, e2e-api

ci: fix traefik idleConnTimeout flag path (forwardingtimeouts)
  docker-compose-ci.yml
Due: none

feat: validate password policy length on settings save (#41173)
  .changeset/empty-garlics-reply.md
  apps/meteor/server/api/v1/settings.ts
  apps/meteor/server/lib/settingValidationRules.ts
  apps/meteor/server/meteor-methods/settings/saveSetting.ts
  apps/meteor/server/meteor-methods/settings/saveSettings.ts
  apps/meteor/server/settings/accounts.ts
  apps/meteor/server/settings/functions/getSettingDefaults.ts
  apps/meteor/server/settings/functions/validationRuleBuilders.ts
  apps/meteor/server/settings/lib/saveSettingsBulk.ts
  apps/meteor/tests/end-to-end/api/users.ts
  apps/meteor/tests/unit/server/lib/settingValidationRules.spec.ts
  packages/core-typings/src/ISetting.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, e2e-api

chore: Ensure page always reloads when app is crashes (#41453)
  apps/meteor/client/views/root/AppErrorPage.tsx
Due: e2e, client

chore(ddp): migrate web-ui-registration callers to REST
  .changeset/ddp-migrate-registration.md
  apps/meteor/server/api/v1/misc.ts
  apps/meteor/server/api/v1/users.ts
  apps/meteor/server/meteor-methods/auth/checkRegistrationSecretURL.ts
  packages/rest-typings/src/v1/misc.ts
  packages/rest-typings/src/v1/users.ts
  packages/web-ui-registration/src/ResetPassword/ResetPasswordPage.tsx
  packages/web-ui-registration/src/hooks/useCheckRegistrationSecret.ts
Due: e2e, e2e-api

fix(api): keep [error-code] suffix in channels error messages
  apps/meteor/server/api/v1/channels.ts
Due: e2e, e2e-api

test(api): simplify TOTP tests — TEST_MODE bypasses the 2FA gate
  apps/meteor/tests/end-to-end/api/users.ts
Due: e2e

feat: no egress for offline licenses (#41148)
  .changeset/offline-license-no-egress.md
  apps/meteor/ee/server/apps/appRequestsCron.ts
  apps/meteor/ee/server/apps/communication/rest.ts
  apps/meteor/ee/server/apps/cron.ts
  apps/meteor/ee/server/apps/marketplace/MarketplaceAPIClient.ts
  apps/meteor/ee/server/apps/marketplace/fetchMarketplaceApps.ts
  apps/meteor/ee/server/apps/marketplace/fetchMarketplaceCategories.ts
  apps/meteor/ee/server/lib/license/startup.ts
  apps/meteor/lib/errors/CloudOfflineLicenseError.ts
  apps/meteor/server/lib/cloud/connectWorkspace.ts
  apps/meteor/server/lib/cloud/finishOAuthAuthorization.ts
  apps/meteor/server/lib/cloud/getConfirmationPoll.ts
  apps/meteor/server/lib/cloud/getOAuthAuthorizationUrl.ts
  apps/meteor/server/lib/cloud/getWorkspaceAccessToken.ts
  apps/meteor/server/lib/cloud/getWorkspaceAccessTokenWithScope.ts
  apps/meteor/server/lib/cloud/offlineLicense.ts
  apps/meteor/server/lib/cloud/registerPreIntentWorkspaceWizard.ts
  apps/meteor/server/lib/cloud/startRegisterWorkspace.ts
  apps/meteor/server/lib/cloud/startRegisterWorkspaceSetupWizard.ts
  apps/meteor/server/lib/cloud/supportedVersionsToken/supportedVersionsToken.ts
  apps/meteor/server/lib/cloud/syncWorkspace/index.ts
  apps/meteor/server/lib/cloud/userLogout.ts
  apps/meteor/server/lib/cloud/version-check/functions/checkVersionUpdate.ts
  apps/meteor/server/lib/notifications/push/push.ts
  apps/meteor/server/lib/statistics/functions/sendUsageReport.ts
  apps/meteor/server/lib/users/getAvatarSuggestionForUser.ts
  apps/meteor/server/lib/users/saveUser/saveNewUser.ts
  apps/meteor/server/main.ts
  apps/meteor/server/modules/core-apps/cloudAnnouncements.module.ts
  apps/meteor/server/startup/index.ts
  apps/meteor/tests/unit/server/ee/apps/marketplace/MarketplaceAPIClient.spec.ts
  apps/meteor/tests/unit/server/lib/cloud/registerPreIntentWorkspaceWizard.spec.ts
  apps/meteor/tests/unit/server/lib/cloud/userLogout.spec.ts
  docs/proposals/offline-license-capability-enforcement.md
  ee/packages/license/src/MockedLicenseBuilder.ts
  ee/packages/license/src/license.spec.ts
  ee/packages/license/src/license.ts
Due: e2e, e2e-api

ci: make reaped-conn reuse retryable instead of racing the reaper
  docker-compose-ci.yml
Due: none

ci(codeql): align codeql-action steps to v4.37.1
  .github/workflows/codeql-analysis.yml
Due: none

ci(codeql): align codeql-action steps to v4.37.1 (#41456)
  .github/workflows/codeql-analysis.yml
Due: none

review: restore fallback to handle paste
  apps/meteor/client/views/room/composer/messageBox/MessageBox.tsx
Due: e2e, client

chore: Align `react-stately` slim barrel patches for submenu support (#41433)
  .yarn/patches/react-aria-npm-3.37.0-83959bd2fa.patch
  .yarn/patches/react-stately-npm-3.35.0-f77b012b54.patch
  apps/meteor/package.json
  package.json
  packages/gazzodown/package.json
  yarn.lock
Due: e2e

review: fix macos compositon guard
  apps/meteor/client/views/room/composer/messageBox/wrapSelection.ts
Due: e2e, client

ci: raise server socket timeout above the proxy idle window, opt-in via env
  apps/meteor/server/startup/httpSocketTimeout.ts
  apps/meteor/server/startup/index.ts
  docker-compose-ci.yml
Due: e2e, e2e-api

chore: add "micless" flag to MediaSignalingSession
  packages/media-signaling/src/lib/Session.ts
Due: none

fix: Widget start and accept callbacks throwing errors
  packages/ui-voip/src/providers/MediaCallViewProvider.tsx
Due: none

chore: Supply session with fake Stream when gathering device fails
  packages/ui-voip/src/providers/useMediaSessionInstance.ts
Due: none

chore: Resume microphone through mute button
  packages/ui-voip/src/providers/useMediaSessionControls.ts
Due: none

chore(deps): bump websocket-driver (#41427)
  package.json
  yarn.lock
Due: none

chore: Undo "micless" property on call
  packages/media-signaling/src/definition/call/IClientMediaCall.ts
  packages/media-signaling/src/lib/Call.ts
  packages/media-signaling/src/lib/NegotiationManager.ts
  packages/media-signaling/src/lib/Session.ts
  packages/media-signaling/src/lib/media/MediaStreamManager.ts
  packages/media-signaling/src/lib/media/MediaStreamWrapper.ts
  packages/media-signaling/src/lib/services/webrtc/Processor.ts
  packages/ui-voip/src/providers/useMediaSessionControls.ts
Due: none

fix: i18n lint
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/nb.i18n.json
  packages/i18n/src/locales/pt-BR.i18n.json
  packages/i18n/src/locales/sv.i18n.json
  packages/i18n/src/locales/zh.i18n.json
Due: none

chore: remove audioTrack reference
  packages/ui-voip/src/providers/useMediaSessionInstance.ts
Due: none

fix: old micless references
  packages/ui-voip/src/providers/MediaCallViewProvider.tsx
Due: none

ci: buffer dynamic-import requests to close the go-transport early-response race
  docker-compose-ci.yml
Due: none

regression: combined emojis displayed as separate emojis and some flags displayed as a black flag (#41441)
  .changeset/emoji-zwj-tag-sequences.md
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/emoji.test.ts
Due: none

chore: bump fuselage packages (#41430)
  apps/meteor/package.json
  apps/uikit-playground/package.json
  packages/fuselage-ui-kit/package.json
  packages/gazzodown/package.json
  packages/storybook-config/package.json
  packages/ui-avatar/package.json
  packages/ui-client/package.json
  packages/ui-composer/package.json
  packages/ui-contexts/package.json
  packages/ui-video-conf/package.json
  packages/ui-voip/package.json
  packages/web-ui-registration/package.json
  yarn.lock
Due: e2e

chore: make screen share not rely on bundles from previous negotiations (#41369)
  packages/media-signaling/src/lib/services/webrtc/Processor.ts
Due: none

fix(api): channels.create extraData + channels.info livechat rooms
  apps/meteor/server/api/v1/channels.ts
  packages/rest-typings/src/v1/channels/ChannelsCreateProps.ts
Due: e2e, e2e-api

chore: remove webdav dependencies from yarn tree
  apps/meteor/package.json
  yarn.lock
Due: e2e

chore: add changeset for webdav removal
  .changeset/remove-webdav-integration.md
Due: none

Fix lint
  apps/meteor/server/startup/migrations/v336.spec.ts
Due: e2e, e2e-api

test: add tests to block upgrade if webdav is being used
  apps/meteor/jest.config.ts
Due: e2e

Remove spec file
  apps/meteor/server/startup/migrations/v336.spec.ts
Due: e2e, e2e-api

chore: add MongoDB migration to remove webdav settings from the database
  apps/meteor/server/startup/migrations/index.ts
  apps/meteor/server/startup/migrations/v336.spec.ts
  apps/meteor/server/startup/migrations/v336.ts
Due: e2e, e2e-api

chore(ddp): migrate getRoomByTypeAndName to REST (rooms.getByTypeAndName)
  .changeset/ddp-migrate-getroombytypeandname.md
  apps/meteor/client/lib/utils/mapRoomFromApi.ts
  apps/meteor/client/views/room/hooks/useOpenRoom.ts
  apps/meteor/client/views/root/MainLayout/EmbeddedPreload.tsx
  apps/meteor/server/api/v1/rooms.ts
  apps/meteor/server/publications/room/index.ts
  packages/rest-typings/src/v1/rooms.ts
Due: e2e, e2e-api, client

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
