Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true
  
  e2e-api:
    paths:
      - apps/meteor/server
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'
fixes:
  - '/home/runner/work/Rocket.Chat/Rocket.Chat/::'

fix: livechat Chat route stories agent fixture
  packages/livechat/src/routes/Chat/stories.tsx
Due: none

lint: i18n keys order
  packages/i18n/src/locales/en.i18n.json
Due: none

ci: add LTS suffix to GitHub release titles (#42468)
  .github/workflows/release.yml
  packages/release-action/action.yml
  packages/release-action/src/index.ts
  packages/release-action/src/publishRelease.ts
  packages/release-action/src/utils.ts
Due: none

refactor: keep useSidebarSectionsOrder as the single read of the sections order
  apps/meteor/client/sidebar/categories/hooks/useCreateCustomCategory.ts
  apps/meteor/client/sidebar/categories/hooks/useMoveCategoryPosition.ts
  apps/meteor/client/sidebar/categories/hooks/useToggleUnreads.ts
  apps/meteor/client/sidebar/hooks/useCategoryList.ts
  apps/meteor/client/sidebar/hooks/useSidebarSectionsOrder.spec.ts
  apps/meteor/client/sidebar/hooks/useSidebarSectionsOrder.ts
Due: e2e, client

fix(real-time composer): Multi line quote not working (#42283)
  apps/meteor/client/lib/renderComposerMarkup.spec.tsx
  packages/gazzodown-alt/src/ComposerMarkup.tsx
  packages/gazzodown-alt/src/renderComposerMarkup.spec.tsx
  packages/gazzodown-alt/src/sourceLines.ts
  packages/gazzodown-alt/src/sourceOf.ts
Due: e2e, client

fix(video-conf): address confirmed review findings on device handling and grid layout
  packages/ui-conference/src/call/AudioDevicePicker.tsx
  packages/ui-conference/src/call/CameraPicker.tsx
  packages/ui-conference/src/call/lib/tileGrid.spec.ts
  packages/ui-conference/src/call/lib/tileGrid.ts
  packages/ui-conference/src/preflight/useCallDevicePreview.spec.ts
  packages/ui-conference/src/preflight/useCallDevicePreview.ts
  packages/ui-livekit/src/LiveKitCallProvider.tsx
  packages/ui-livekit/src/usePreviewVideoTrack.spec.ts
  packages/ui-livekit/src/usePreviewVideoTrack.ts
Due: none

fix: keep the status message when re-enabling a user status
  apps/meteor/client/views/admin/users/AdminUserForm.spec.tsx
  apps/meteor/client/views/admin/users/AdminUserForm.tsx
Due: e2e, client

feat: filter users.list by username (#42172)
  .changeset/quiet-users-search.md
  apps/meteor/server/api/v1/users.ts
  apps/meteor/tests/end-to-end/api/users.ts
  packages/rest-typings/src/v1/users/UsersListParamsGET.ts
Due: e2e, e2e-api

fix(video-conf): don't flash the unexpected-error page when starting a call
  packages/ui-conference/src/views/ConferenceWindow.spec.tsx
  packages/ui-conference/src/views/ConferenceWindow.tsx
Due: none

test(video-conf): tighten specs and tidy nits from review
  docs/features/video-conference-persistent-chat/README.md
  packages/i18n/src/locales/en.i18n.json
  packages/ui-conference/src/call/CallHeader.tsx
  packages/ui-conference/src/call/CameraPicker.spec.tsx
  packages/ui-conference/src/call/CameraPicker.tsx
  packages/ui-conference/src/call/__snapshots__/callStories.spec.tsx.snap
  packages/ui-conference/src/call/hooks/useAudioLevel.spec.ts
  packages/ui-conference/src/components/CallBar.tsx
  packages/ui-conference/src/preflight/useCallDevicePreview.spec.ts
  packages/ui-conference/src/views/ConferencePreflight.spec.tsx
  packages/ui-livekit/src/useActiveDevice.spec.ts
Due: none

fix(video-conf): prefer the chosen microphone when the call's audio menu asks for permission
  packages/ui-conference/src/call/AudioDevicePicker.tsx
Due: none

test(video-conf): seed preflight preferences without loading Storybook
  packages/ui-conference/src/views/ConferencePreflight.spec.tsx
Due: none

chore: deprecate Custom OAuth on workspaces without a Premium plan (#42476)
  .changeset/deprecate-community-custom-oauth.md
  apps/meteor/server/lib/auth-providers/custom-oauth/customOAuth.ts
  apps/meteor/server/lib/oauth/addCustomOAuthPremiumAlert.ts
  apps/meteor/server/lib/oauth/addOAuthService.ts
  apps/meteor/server/lib/premiumAuthDeprecation.ts
  apps/meteor/server/startup/migrations/xrun.ts
Due: e2e, e2e-api

chore: move fuselage-toastbar into the monorepo (#42418)
  .changeset/fuselage-toastbar-monorepo-migration.md
  .changeset/fuselage-toastbar-portal-anchor.md
  .changeset/fuselage-toastbar-published-files.md
  .changeset/fuselage-toastbar-stable-context.md
  apps/meteor/package.json
  apps/uikit-playground/package.json
  fuselage.sh
  packages/fuselage-toastbar/.storybook/main.ts
  packages/fuselage-toastbar/.storybook/preview.tsx
  packages/fuselage-toastbar/CHANGELOG.md
  packages/fuselage-toastbar/jest.config.ts
  packages/fuselage-toastbar/package.json
  packages/fuselage-toastbar/src/ToastBar.spec.tsx
  packages/fuselage-toastbar/src/ToastBar.stories.tsx
  packages/fuselage-toastbar/src/ToastBarContext.ts
  packages/fuselage-toastbar/src/ToastBarPersistent.tsx
  packages/fuselage-toastbar/src/ToastBarPortal.spec.tsx
  packages/fuselage-toastbar/src/ToastBarPortal.ts
  packages/fuselage-toastbar/src/ToastBarProvider.spec.tsx
  packages/fuselage-toastbar/src/ToastBarProvider.tsx
  packages/fuselage-toastbar/src/ToastBarTimed.tsx
  packages/fuselage-toastbar/src/ToastBarZone.tsx
  packages/fuselage-toastbar/src/index.ts
  packages/fuselage-toastbar/tsconfig.cjs.json
  packages/fuselage-toastbar/tsconfig.esm.json
  packages/fuselage-toastbar/tsconfig.json
  yarn.lock
Due: e2e

fix(apps): sanitize Error causes and keep __proto__ keys in sanitizeForIpc
  packages/apps/src/lib/IpcSanitizer.ts
  packages/apps/tests/lib/IpcSanitizer.test.ts
Due: none

fix(apps): surface IPC send failures instead of dropping them
  packages/apps/base-runtime/src/lib/messenger.ts
  packages/apps/base-runtime/src/mainLoop.ts
  packages/apps/src/server/runtime/base/BaseRuntimeSubprocessController.ts
  packages/apps/src/server/runtime/base/LivenessManager.ts
  packages/apps/src/server/runtime/base/ProcessMessenger.ts
Due: none

fix(apps): apply secure fields on Map keys in applySecureFieldsDeep
  docs/adr/0006-ipc-channel-transport.md
  packages/apps/base-runtime/src/lib/secureFields.ts
  packages/apps/base-runtime/src/lib/tests/secureFields.test.ts
Due: none

docs(apps): renumber the IPC channel ADR to 0006 and fix its commit hashes
  docs/adr/0006-ipc-channel-transport.md
Due: none

docs(apps): drop console from the eval-shell globals comment
  packages/apps/base-runtime/src/handlers/app/construct.ts
Due: none

Release 8.9.0-rc.4
  .changeset/bump-patch-1790891915006.md
  .changeset/pre.json
  apps/meteor/CHANGELOG.md
  apps/meteor/app/utils/rocketchat.info
  apps/meteor/package.json
  package.json
  packages/core-typings/CHANGELOG.md
  packages/core-typings/package.json
  packages/rest-typings/CHANGELOG.md
  packages/rest-typings/package.json
Due: e2e

fix: hide moderation actions on your own user info
  .changeset/hide-self-moderation-actions.md
  apps/meteor/client/views/room/hooks/useUserInfoActions/actions/useBanUserAction.ts
  apps/meteor/client/views/room/hooks/useUserInfoActions/actions/useMuteUserAction.tsx
  apps/meteor/client/views/room/hooks/useUserInfoActions/actions/useRemoveUserAction.tsx
Due: e2e, client

fix(video-conf): drop the removed preview error from fixtures and specs
  packages/ui-conference/src/fixtures/preflightFixtures.tsx
  packages/ui-conference/src/preflight/PreflightPreview.spec.tsx
Due: none

test: delete rooms.info admin fixture group as its owner
  apps/meteor/tests/end-to-end/api/rooms.ts
Due: e2e

fix: composer stuck as a skeleton when an embedded DM is opened by username
  .changeset/quiet-dm-composer-embedded.md
  apps/meteor/client/views/room/hooks/useOpenRoom.spec.ts
  apps/meteor/client/views/room/hooks/useOpenRoom.ts
Due: e2e, client

chore: move logo into the monorepo
  apps/meteor/package.json
  apps/uikit-playground/package.json
  packages/livechat/package.json
  packages/logo/CHANGELOG.md
  packages/logo/jest.config.ts
  packages/logo/package.json
  packages/logo/scripts/buildAssets.mjs
  packages/logo/src/RocketChatLogo/RocketChatLogo.spec.tsx
  packages/logo/src/RocketChatLogo/RocketChatLogo.tsx
  packages/logo/src/RocketChatLogo/index.ts
  packages/logo/src/TaggedRocketChatLogo/TaggedRocketChatLogo.spec.tsx
  packages/logo/src/TaggedRocketChatLogo/TaggedRocketChatLogo.styles.tsx
  packages/logo/src/TaggedRocketChatLogo/TaggedRocketChatLogo.tsx
  packages/logo/src/TaggedRocketChatLogo/index.ts
  packages/logo/src/index.ts
  packages/logo/tsconfig.cjs.json
  packages/logo/tsconfig.esm.json
  packages/logo/tsconfig.json
  packages/onboarding-ui/package.json
  packages/ui-client/package.json
  packages/web-ui-registration/package.json
  yarn.lock
Due: e2e

test: log in explicitly in loginByUserState instead of polling storage
  apps/meteor/tests/e2e/page-objects/login.ts
Due: e2e

chore: drop unused jest-environment-jsdom devDependency
  packages/fuselage-toastbar/package.json
  packages/layout/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  yarn.lock
Due: none

chore: stop updating logo from fuselage.sh
  fuselage.sh
Due: none

chore: add changeset for logo migration
  .changeset/logo-monorepo-migration.md
Due: none

chore: drop leftover typedoc options from logo
  packages/logo/tsconfig.json
Due: none

fix: compare the removed user with the logged user id
  apps/meteor/client/views/room/hooks/useUserInfoActions/actions/useRemoveUserAction.tsx
Due: e2e, client

fix: align logo package with other Fuselage migrations
  .changeset/logo-published-files.md
  .changeset/logo-tokens-dependency.md
  packages/logo/package.json
  packages/logo/tsconfig.cjs.json
  packages/logo/tsconfig.esm.json
  packages/logo/tsconfig.json
  yarn.lock
Due: none

fix: write logo assets relative to the build script
  packages/logo/scripts/buildAssets.mjs
Due: none

fix: ship jest types with jest-presets
  packages/jest-presets/package.json
Due: none

chore: add typecheck script to layout
  packages/layout/package.json
Due: none

fix: sending an image hangs forever when the storage read fails
  .changeset/quiet-thumbnails-settle.md
  apps/meteor/server/lib/media/file-upload/lib/FileUpload.spec.ts
  apps/meteor/server/lib/media/file-upload/lib/FileUpload.ts
Due: e2e, e2e-api

fix: render country flags on Windows
  .changeset/tidy-flags-show.md
  apps/meteor/client/styles/imports/components/emoji-flag-sprites.css
  apps/meteor/client/styles/imports/components/emoji.css
  apps/meteor/client/styles/main.css
  apps/meteor/lib/emoji-native/countryFlagSprites.ts
  apps/meteor/lib/emoji-native/getEmojiConfig.spec.ts
  apps/meteor/lib/emoji-native/getEmojiConfig.ts
  apps/meteor/public/packages/rocketchat/emoji/flags-sprites.png
Due: e2e, client
