Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true
  
  e2e-api:
    paths:
      - apps/meteor/server
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'
fixes:
  - '/home/runner/work/Rocket.Chat/Rocket.Chat/::'

chore: update typings
  apps/meteor/ee/server/models/raw/LivechatUnit.ts
  packages/model-typings/src/models/ILivechatUnitModel.ts
Due: e2e

Deploy preview for PR 35860 🛫
  pr-preview/pr-35860/fuselage-ui-kit/project.json
  pr-preview/pr-35860/gazzodown/project.json
  pr-preview/pr-35860/index.html
  pr-preview/pr-35860/ui-composer/162.8bf27083.iframe.bundle.js
  pr-preview/pr-35860/ui-composer/162.8bf27083.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-35860/ui-composer/217.aabb242a.iframe.bundle.js
  pr-preview/pr-35860/ui-composer/217.aabb242a.iframe.bundle.js.map
  pr-preview/pr-35860/ui-composer/408.7fc5cc69.iframe.bundle.js
  pr-preview/pr-35860/ui-composer/408.7fc5cc69.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-35860/ui-composer/408.7fc5cc69.iframe.bundle.js.map
  pr-preview/pr-35860/ui-composer/63.87bc0c50.iframe.bundle.js
  pr-preview/pr-35860/ui-composer/646.f778f793.iframe.bundle.js
  pr-preview/pr-35860/ui-composer/709.4d889e42.iframe.bundle.js
  pr-preview/pr-35860/ui-composer/709.4d9fafb7.iframe.bundle.js
  pr-preview/pr-35860/ui-composer/930.712ce04b.iframe.bundle.js
  pr-preview/pr-35860/ui-composer/930.712ce04b.iframe.bundle.js.map
  pr-preview/pr-35860/ui-composer/MessageComposer-MessageComposer-stories.bb1eabc4.iframe.bundle.js
  pr-preview/pr-35860/ui-composer/MessageComposer-MessageComposer-stories.d5843a14.iframe.bundle.js
  pr-preview/pr-35860/ui-composer/MessageComposer-MessageComposerHint-stories.6db5615d.iframe.bundle.js
  pr-preview/pr-35860/ui-composer/MessageComposer-MessageComposerHint-stories.de20f169.iframe.bundle.js
  pr-preview/pr-35860/ui-composer/MessageFooterCallout-MessageFooterCallout-stories.40469c8b.iframe.bundle.js
  pr-preview/pr-35860/ui-composer/MessageFooterCallout-MessageFooterCallout-stories.b43bd06a.iframe.bundle.js
  pr-preview/pr-35860/ui-composer/iframe.html
  pr-preview/pr-35860/ui-composer/index.html
  pr-preview/pr-35860/ui-composer/index.json
  pr-preview/pr-35860/ui-composer/main.d424a7ee.iframe.bundle.js
  pr-preview/pr-35860/ui-composer/main.f4c18a12.iframe.bundle.js
  pr-preview/pr-35860/ui-composer/project.json
  pr-preview/pr-35860/ui-composer/runtime~main.6c013336.iframe.bundle.js
  pr-preview/pr-35860/ui-composer/runtime~main.df8f9074.iframe.bundle.js
  pr-preview/pr-35860/ui-composer/sb-addons/a11y-1/manager-bundle.js
  pr-preview/pr-35860/ui-composer/sb-addons/essentials-actions-3/manager-bundle.js
  pr-preview/pr-35860/ui-composer/sb-addons/essentials-backgrounds-5/manager-bundle.js
  pr-preview/pr-35860/ui-composer/sb-addons/essentials-controls-2/manager-bundle.js
  pr-preview/pr-35860/ui-composer/sb-addons/essentials-docs-4/manager-bundle.js
  pr-preview/pr-35860/ui-composer/sb-addons/essentials-measure-8/manager-bundle.js
  pr-preview/pr-35860/ui-composer/sb-addons/essentials-outline-9/manager-bundle.js
  pr-preview/pr-35860/ui-composer/sb-addons/essentials-toolbars-7/manager-bundle.js
  pr-preview/pr-35860/ui-composer/sb-addons/essentials-viewport-6/manager-bundle.js
Due: none

solves CORE-1140
  apps/meteor/client/hooks/useMessageComposerMergedRefs.ts
  apps/meteor/client/views/room/MessageList/hooks/useJumpToMessage.ts
  apps/meteor/client/views/room/body/RoomBody.tsx
  apps/meteor/client/views/room/body/RoomBodyV2.tsx
  apps/meteor/client/views/room/body/hooks/useRestoreScrollPosition.ts
Due: e2e, client

centralize jump
  apps/meteor/client/views/room/MessageList/hooks/useJumpToMessage.ts
Due: e2e, client

rename hook file
  apps/meteor/client/hooks/useMergedRefsV2.ts
  apps/meteor/client/views/room/MessageList/hooks/useJumpToMessage.ts
  apps/meteor/client/views/room/body/RoomBody.tsx
  apps/meteor/client/views/room/body/RoomBodyV2.tsx
Due: e2e, client

regression: solve restore position on same room types (#35950)
  apps/meteor/client/hooks/useMergedRefsV2.ts
  apps/meteor/client/views/room/MessageList/hooks/useJumpToMessage.ts
  apps/meteor/client/views/room/body/RoomBody.tsx
  apps/meteor/client/views/room/body/RoomBodyV2.tsx
  apps/meteor/client/views/room/body/hooks/useRestoreScrollPosition.ts
Due: e2e, client

fix: OAuth login buttons not showing up (#35864)
  .changeset/shy-dolls-protect.md
  apps/meteor/app/apple/client/index.ts
  apps/meteor/app/custom-oauth/client/CustomOAuth.ts
  apps/meteor/app/dolphin/client/hooks/useDolphin.ts
  apps/meteor/app/drupal/client/hooks/useDrupal.ts
  apps/meteor/app/github-enterprise/client/hooks/useGitHubEnterpriseAuth.ts
  apps/meteor/app/gitlab/client/hooks/useGitLabAuth.ts
  apps/meteor/app/nextcloud/client/useNextcloud.ts
  apps/meteor/app/tokenpass/client/hooks/useTokenPassAuth.tsx
  apps/meteor/client/lib/loginServices.ts
  apps/meteor/client/sidebar/hooks/useCustomOAuth.ts
  apps/meteor/client/views/root/hooks/useWordPressOAuth.ts
  apps/meteor/definition/externals/meteor/accounts-base.d.ts
Due: e2e, client

fix: OAuth errors are not handled properly due to an internal exception on the error handling code (#35852)
  .changeset/three-parrots-lie.md
  apps/meteor/app/2fa/server/loginHandler.ts
  apps/meteor/definition/externals/meteor/oauth.d.ts
Due: e2e

Deploy preview for PR 35843 🛫
  pr-preview/pr-35843/fuselage-ui-kit/project.json
  pr-preview/pr-35843/gazzodown/project.json
  pr-preview/pr-35843/ui-composer/project.json
Due: none

fix: upload of malformed jpegs with Message_Attachments_Strip_Exif disabled fails silently (#35839)
  .changeset/rare-mails-whisper.md
  apps/meteor/client/lib/chats/uploads.ts
  apps/meteor/client/views/room/body/UploadProgress/UploadProgressIndicator.tsx
  apps/meteor/tests/e2e/fixtures/files/bad-orientation.jpeg
  apps/meteor/tests/e2e/image-upload.spec.ts
  apps/meteor/tests/e2e/page-objects/home-channel.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

Deploy preview for PR 35470 🛫
  pr-preview/pr-35470/fuselage-ui-kit/project.json
  pr-preview/pr-35470/gazzodown/project.json
Due: none

Feat: add model's function to retrieve livechat's visitor by username
  packages/model-typings/src/models/ILivechatVisitorsModel.ts
  packages/models/src/models/LivechatVisitors.ts
Due: none

Feat: added getLivechatVisitorByUsername to the livechat reader interface to be used on apps-engine
  apps/meteor/app/apps/server/bridges/livechat.ts
  packages/apps-engine/src/definition/accessors/ILivechatRead.ts
  packages/apps-engine/src/server/accessors/LivechatRead.ts
  packages/apps-engine/src/server/bridges/LivechatBridge.ts
  packages/apps-engine/tests/test-data/bridges/livechatBridge.ts
Due: e2e

Deploy preview for PR 35860 🛫
  pr-preview/pr-35860/fuselage-ui-kit/project.json
  pr-preview/pr-35860/gazzodown/project.json
Due: none

fix: new user not moving from Pending to Deactivated tab in admin UI (#35828)
  .changeset/fuzzy-gifts-move.md
  apps/meteor/client/views/admin/users/hooks/useFilteredUsers.ts
  apps/meteor/tests/e2e/admin-users.spec.ts
Due: e2e, client

Feat: add getLivechatRoomById function
  apps/meteor/app/apps/server/bridges/livechat.ts
  packages/apps-engine/src/definition/accessors/ILivechatRead.ts
  packages/apps-engine/src/server/accessors/LivechatRead.ts
  packages/apps-engine/src/server/bridges/LivechatBridge.ts
  packages/apps-engine/tests/test-data/bridges/livechatBridge.ts
Due: e2e

Removed unnecessary aria-labeledby and made aria-describedby dynamic
  apps/meteor/client/sidebar/header/CreateChannel/CreateChannelModal.tsx
Due: e2e, client

chore: bump ubuntu (#35676)
  .github/workflows/ci-code-check.yml
  .github/workflows/ci-deploy-gh-pages.yml
  .github/workflows/ci-test-e2e.yml
  .github/workflows/ci-test-unit.yml
  .github/workflows/ci.yml
  .github/workflows/new-release.yml
  .github/workflows/pr-title-checker.yml
  .github/workflows/pr-update-description.yml
  .github/workflows/publish-release.yml
  .github/workflows/release-candidate.yml
  .github/workflows/stale.yml
  .github/workflows/update-version-durability.yml
Due: none

refactor: remove add oauth service meteor call (#35921)
  apps/meteor/app/api/server/v1/settings.ts
  apps/meteor/app/lib/server/methods/addOAuthService.ts
Due: e2e

Deploy preview for PR 35905 🛫
  pr-preview/pr-35905/fuselage-ui-kit/project.json
  pr-preview/pr-35905/gazzodown/project.json
Due: none

refactor: improve link element detection in MarkdownText component
  apps/meteor/client/components/MarkdownText.tsx
Due: e2e, client

enable back DOMPurify on settings
  apps/meteor/client/views/admin/settings/Setting/Setting.tsx
Due: e2e, client

refactor: remove meteor call from livechat units (server) (#35860)
  apps/meteor/app/lib/server/functions/closeOmnichannelConversations.ts
  apps/meteor/app/lib/server/functions/setUserActiveStatus.ts
  apps/meteor/app/livechat/imports/server/rest/rooms.ts
  apps/meteor/app/livechat/server/api/lib/livechat.ts
  apps/meteor/app/livechat/server/api/lib/rooms.ts
  apps/meteor/app/livechat/server/api/lib/visitors.ts
  apps/meteor/app/livechat/server/api/v1/agent.ts
  apps/meteor/app/livechat/server/api/v1/config.ts
  apps/meteor/app/livechat/server/api/v1/contact.ts
  apps/meteor/app/livechat/server/api/v1/message.ts
  apps/meteor/app/livechat/server/api/v1/statistics.ts
  apps/meteor/app/livechat/server/api/v1/visitor.ts
  apps/meteor/app/livechat/server/lib/analytics/dashboards.ts
  apps/meteor/app/livechat/server/lib/contacts/registerContact.ts
  apps/meteor/app/livechat/server/methods/getAnalyticsChartData.ts
  apps/meteor/app/livechat/server/methods/removeAllClosedRooms.ts
  apps/meteor/ee/app/livechat-enterprise/server/api/lib/units.ts
  apps/meteor/ee/app/livechat-enterprise/server/api/reports.ts
  apps/meteor/ee/app/livechat-enterprise/server/api/sla.ts
  apps/meteor/ee/app/livechat-enterprise/server/api/units.ts
  apps/meteor/ee/app/livechat-enterprise/server/hooks/applyRoomRestrictions.ts
  apps/meteor/ee/app/livechat-enterprise/server/hooks/manageDepartmentUnit.ts
  apps/meteor/ee/app/livechat-enterprise/server/index.ts
  apps/meteor/ee/app/livechat-enterprise/server/lib/Helper.ts
  apps/meteor/ee/app/livechat-enterprise/server/lib/LivechatEnterprise.ts
  apps/meteor/ee/app/livechat-enterprise/server/lib/SlaHelper.ts
  apps/meteor/ee/app/livechat-enterprise/server/lib/restrictQuery.ts
  apps/meteor/ee/app/livechat-enterprise/server/lib/unit.ts
  apps/meteor/ee/app/livechat-enterprise/server/lib/units.ts
  apps/meteor/ee/app/livechat-enterprise/server/methods/getUnitsFromUserRoles.ts
  apps/meteor/ee/app/livechat-enterprise/server/methods/removeUnit.ts
  apps/meteor/ee/app/livechat-enterprise/server/methods/saveUnit.ts
  apps/meteor/ee/server/lib/audit/methods.ts
  apps/meteor/ee/server/models/raw/LivechatUnit.ts
  apps/meteor/lib/callbacks.ts
  apps/meteor/server/methods/setUserActiveStatus.ts
  apps/meteor/server/services/omnichannel-analytics/service.ts
  packages/core-services/src/types/IOmnichannelAnalyticsService.ts
  packages/model-typings/src/models/ILivechatUnitModel.ts
Due: e2e, e2e-api

refactor: Remove `beforeDelegateAgent` callback (#35949)
  apps/meteor/app/livechat/server/hooks/beforeDelegateAgent.ts
  apps/meteor/app/livechat/server/index.ts
  apps/meteor/app/livechat/server/lib/QueueManager.ts
  apps/meteor/app/livechat/server/lib/RoutingManager.ts
  apps/meteor/app/livechat/server/lib/hooks.ts
  apps/meteor/lib/callbacks.ts
Due: e2e

beforeroom
  apps/meteor/app/livechat/server/lib/Helper.ts
  apps/meteor/app/livechat/server/lib/hooks.ts
  apps/meteor/ee/app/livechat-enterprise/server/hooks/beforeNewRoom.ts
  apps/meteor/lib/callbacks.ts
  apps/meteor/tests/unit/server/livechat/hooks/beforeNewRoom.spec.ts
Due: e2e

Deploy preview for PR 35957 🛫
  pr-preview/pr-35957/fuselage-ui-kit/project.json
  pr-preview/pr-35957/gazzodown/project.json
Due: none

wip
  apps/meteor/app/api/server/api.ts
  apps/meteor/app/api/server/middlewares/meteorConnection.ts
  apps/meteor/app/api/server/v1/users.ts
  packages/rest-typings/src/v1/settings.ts
Due: e2e

fix: Editing non OTR messages when OTR session is active
  apps/meteor/client/components/message/variants/RoomMessage.tsx
  apps/meteor/client/lib/chats/flows/sendMessage.ts
  apps/meteor/client/lib/onClientBeforeSendMessage.ts
  apps/meteor/client/views/root/hooks/useOTRMessaging.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

improve test
  apps/meteor/tests/e2e/otr.spec.ts
  apps/meteor/tests/e2e/page-objects/fragments/home-content.ts
Due: e2e

Deploy preview for PR 35600 🛫
  pr-preview/pr-35600/fuselage-ui-kit/project.json
  pr-preview/pr-35600/gazzodown/project.json
Due: none

fix: improves file deletion and prune messages
  apps/meteor/app/api/server/v1/rooms.ts
  apps/meteor/app/file-upload/server/lib/FileUpload.ts
  apps/meteor/app/lib/server/functions/cleanRoomHistory.ts
  apps/meteor/app/lib/server/functions/deleteMessage.ts
  apps/meteor/client/views/room/contextualBar/PruneMessages/PruneMessagesWithData.tsx
  apps/meteor/server/ufs/ufs-store.ts
  apps/meteor/tests/e2e/prune-messages.spec.ts
  packages/i18n/src/locales/en.i18n.json
  packages/rest-typings/src/v1/rooms.ts
Due: e2e, e2e-api, client
