Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true
  
  e2e-api:
    paths:
      - apps/meteor/server
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'
fixes:
  - '/home/runner/work/Rocket.Chat/Rocket.Chat/::'

refactor: Simplify update method in AppRealStorage to handle permissionsGranted more effectively
  apps/meteor/ee/server/apps/storage/AppRealStorage.ts
Due: e2e

fix: sanitize `SubscriptionWithRoom` and `ILivechatInquireRecord`
  apps/meteor/client/hooks/useLivechatInquiryStore.ts
  apps/meteor/client/sidebarv2/RoomList/RoomList.tsx
  apps/meteor/client/views/navigation/contexts/RoomsNavigationContext.ts
  apps/meteor/client/views/navigation/providers/RoomsNavigationProvider.tsx
  apps/meteor/client/views/navigation/sidepanel/SidePanel.tsx
  apps/meteor/client/views/navigation/sidepanel/SidepanelItem/RoomSidePanelItem.tsx
  apps/meteor/client/views/navigation/sidepanel/SidepanelItem/SidepanelItem.tsx
  apps/meteor/client/views/navigation/sidepanel/hooks/useItemData.tsx
  apps/meteor/client/views/navigation/sidepanel/omnichannel/InquireSidePanelItem.tsx
  apps/meteor/client/views/navigation/sidepanel/omnichannel/SidePanelOmnichannelBadges/SidePanelOmnichannelBadges.tsx
  apps/meteor/client/views/navigation/sidepanel/omnichannel/tabs/SidePanelInProgress.tsx
  apps/meteor/client/views/navigation/sidepanel/omnichannel/tabs/SidePanelQueue.tsx
  apps/meteor/client/views/navigation/sidepanel/omnichannel/tabs/SidepanelOnHold.tsx
  apps/meteor/client/views/navigation/sidepanel/tabs/SidePanelAll.tsx
  apps/meteor/client/views/navigation/sidepanel/tabs/SidePanelChannels.tsx
  apps/meteor/client/views/navigation/sidepanel/tabs/SidePanelDiscussions.tsx
  apps/meteor/client/views/navigation/sidepanel/tabs/SidePanelFavorites.tsx
  apps/meteor/client/views/navigation/sidepanel/tabs/SidePanelMentions.tsx
  apps/meteor/client/views/navigation/sidepanel/tabs/SidePanelTeams.tsx
Due: e2e, client

chore: remove nullish return in `RoomListFilters`
  apps/meteor/client/sidebarv2/RoomList/RoomListFilters.tsx
Due: e2e, client

chore: remove Sidebar unnecessary filter
  apps/meteor/client/sidebarv2/Sidebar.tsx
  apps/meteor/tests/e2e/page-objects/fragments/sidebar.ts
Due: e2e, client

chore: remove `useSetting` assertion
  apps/meteor/client/views/navigation/sidepanel/hooks/useRoomMenuActions.ts
Due: e2e, client

chore: simplify `shouldDisplaySidePanel`
  apps/meteor/client/providers/LayoutProvider.tsx
Due: e2e, client

chore: simplify `useParentTeamData`
  apps/meteor/client/views/navigation/sidepanel/SidepanelItem/SidePanelParentTeam.tsx
  apps/meteor/client/views/navigation/sidepanel/SidepanelItem/useParentTeamData.ts
Due: e2e, client

fix: JSDoc not being applied to the correct function
  apps/meteor/client/views/navigation/sidepanel/hooks/useChannelsChildrenList.ts
Due: e2e, client

chore: `PriorityIcon` nullish return
  apps/meteor/client/omnichannel/priorities/PriorityIcon.tsx
Due: e2e, client

Deploy preview for PR 36049 🛫
  pr-preview/pr-36049/ui-composer/project.json
Due: none

feat: update TreeWalker to ignore code and del tag
  apps/meteor/app/ui-message/client/messageBox/selectionRange.ts
Due: e2e

Create proud-drinks-crash.md
  .changeset/proud-drinks-crash.md
Due: none

Deploy preview for PR 36672 🛫
  pr-preview/pr-36672/ui-composer/project.json
Due: none

fix: can not enable apps without permissions (#36672)
  .changeset/proud-drinks-crash.md
  apps/meteor/ee/server/apps/storage/AppRealStorage.ts
Due: e2e

Replace errors
  apps/meteor/client/lib/customOAuth/CustomOAuth.ts
  apps/meteor/client/lib/customOAuth/CustomOAuthError.ts
Due: e2e, client

Move `CustomOAuth` module
  apps/meteor/app/apple/client/index.ts
  apps/meteor/app/dolphin/client/hooks/useDolphin.ts
  apps/meteor/app/drupal/client/hooks/useDrupal.ts
  apps/meteor/app/github-enterprise/client/hooks/useGitHubEnterpriseAuth.ts
  apps/meteor/app/gitlab/client/hooks/useGitLabAuth.ts
  apps/meteor/app/nextcloud/client/useNextcloud.ts
  apps/meteor/app/tokenpass/client/hooks/useTokenPassAuth.tsx
  apps/meteor/client/lib/customOAuth/CustomOAuth.ts
  apps/meteor/client/sidebar/hooks/useCustomOAuth.ts
  apps/meteor/client/views/root/hooks/useWordPressOAuth.ts
Due: e2e, client

Remove `meteor/check` usage
  apps/meteor/app/custom-oauth/client/CustomOAuth.ts
  apps/meteor/app/dolphin/client/hooks/useDolphin.ts
  apps/meteor/app/drupal/client/hooks/useDrupal.ts
  apps/meteor/app/github-enterprise/client/hooks/useGitHubEnterpriseAuth.ts
  apps/meteor/app/gitlab/client/hooks/useGitLabAuth.ts
  apps/meteor/app/nextcloud/client/useNextcloud.ts
  apps/meteor/client/views/root/hooks/useWordPressOAuth.ts
Due: e2e, client

Add `loginStyle` field to `OauthConfig` type
  apps/meteor/app/apple/lib/config.ts
  apps/meteor/app/custom-oauth/client/CustomOAuth.ts
  apps/meteor/app/tokenpass/client/hooks/useTokenPassAuth.tsx
  packages/core-typings/src/ICustomOAuthConfig.ts
Due: e2e

Relocate custom OAuth hooks
  apps/meteor/app/apple/client/index.ts
  apps/meteor/app/nextcloud/client/index.ts
  apps/meteor/client/importPackages.ts
  apps/meteor/client/views/root/AppLayout.tsx
  apps/meteor/client/views/root/hooks/customOAuth/useAppleOAuth.ts
  apps/meteor/client/views/root/hooks/customOAuth/useCustomOAuth.ts
  apps/meteor/client/views/root/hooks/customOAuth/useDolphinOAuth.ts
  apps/meteor/client/views/root/hooks/customOAuth/useDrupalOAuth.ts
  apps/meteor/client/views/root/hooks/customOAuth/useGitHubEnterpriseOAuth.ts
  apps/meteor/client/views/root/hooks/customOAuth/useGitLabOAuth.ts
  apps/meteor/client/views/root/hooks/customOAuth/useNextcloudOAuth.ts
  apps/meteor/client/views/root/hooks/customOAuth/useTokenpassOAuth.ts
  apps/meteor/client/views/root/hooks/customOAuth/useWordPressOAuth.ts
Due: e2e, client

Multi session
  packages/media-signaling-server/src/agents/Manager.ts
  packages/media-signaling-server/src/agents/definition/IMediaCallAgent.ts
  packages/media-signaling-server/src/agents/definition/common.ts
  packages/media-signaling-server/src/agents/users/Agent.ts
  packages/media-signaling-server/src/agents/users/AgentFactory.ts
  packages/media-signaling-server/src/agents/users/BasicAgent.ts
  packages/media-signaling-server/src/logger.ts
  packages/media-signaling-server/src/processSignal.ts
  packages/media-signaling/src/definition/call/CallEvents.ts
  packages/media-signaling/src/definition/call/IClientMediaCall.ts
  packages/media-signaling/src/definition/client.ts
  packages/media-signaling/src/definition/index.ts
  packages/media-signaling/src/definition/logger.ts
  packages/media-signaling/src/definition/services/webrtc/IWebRTCProcessor.ts
  packages/media-signaling/src/definition/signals/client/local-state.ts
  packages/media-signaling/src/definition/signals/server/notification.ts
  packages/media-signaling/src/lib/Call.ts
  packages/media-signaling/src/lib/Session.ts
  packages/media-signaling/src/lib/TransportWrapper.ts
  packages/media-signaling/src/lib/services/webrtc/Processor.ts
Due: none

multi session
  packages/ui-voip/src/lib/MediaCallsClient.ts
Due: none

active state
  packages/media-signaling-server/src/agents/Manager.ts
  packages/media-signaling-server/src/agents/users/SignalProcessor.ts
  packages/media-signaling-server/src/processSignal.ts
  packages/media-signaling/src/definition/call/CallEvents.ts
  packages/media-signaling/src/definition/call/IClientMediaCall.ts
  packages/media-signaling/src/definition/signals/client/MediaSignal.ts
  packages/media-signaling/src/definition/signals/client/index.ts
  packages/media-signaling/src/definition/signals/client/register.ts
  packages/media-signaling/src/lib/Call.ts
  packages/media-signaling/src/lib/Session.ts
  packages/model-typings/src/models/IMediaCallChannelsModel.ts
  packages/model-typings/src/models/IMediaCallsModel.ts
  packages/models/src/models/MediaCallChannels.ts
  packages/models/src/models/MediaCalls.ts
Due: none

Deploy preview for PR 36590 🛫
  pr-preview/pr-36590/fuselage-ui-kit/project.json
  pr-preview/pr-36590/gazzodown/project.json
  pr-preview/pr-36590/media-signaling-server/agents/Manager.d.ts
  pr-preview/pr-36590/media-signaling-server/agents/Manager.js
  pr-preview/pr-36590/media-signaling-server/agents/Manager.js.map
  pr-preview/pr-36590/media-signaling-server/agents/users/SignalProcessor.d.ts
  pr-preview/pr-36590/media-signaling-server/agents/users/SignalProcessor.js
  pr-preview/pr-36590/media-signaling-server/agents/users/SignalProcessor.js.map
  pr-preview/pr-36590/media-signaling-server/processSignal.js
  pr-preview/pr-36590/media-signaling-server/processSignal.js.map
  pr-preview/pr-36590/media-signaling/definition/call/CallEvents.d.ts
  pr-preview/pr-36590/media-signaling/definition/call/CallEvents.d.ts.map
  pr-preview/pr-36590/media-signaling/definition/call/IClientMediaCall.d.ts
  pr-preview/pr-36590/media-signaling/definition/call/IClientMediaCall.d.ts.map
  pr-preview/pr-36590/media-signaling/definition/signals/client/MediaSignal.d.ts
  pr-preview/pr-36590/media-signaling/definition/signals/client/MediaSignal.d.ts.map
  pr-preview/pr-36590/media-signaling/definition/signals/client/MediaSignal.js
  pr-preview/pr-36590/media-signaling/definition/signals/client/MediaSignal.js.map
  pr-preview/pr-36590/media-signaling/definition/signals/client/index.d.ts
  pr-preview/pr-36590/media-signaling/definition/signals/client/index.d.ts.map
  pr-preview/pr-36590/media-signaling/definition/signals/client/index.js
  pr-preview/pr-36590/media-signaling/definition/signals/client/index.js.map
  pr-preview/pr-36590/media-signaling/definition/signals/client/register.d.ts
  pr-preview/pr-36590/media-signaling/definition/signals/client/register.d.ts.map
  pr-preview/pr-36590/media-signaling/definition/signals/client/register.js
  pr-preview/pr-36590/media-signaling/definition/signals/client/register.js.map
  pr-preview/pr-36590/media-signaling/lib/Call.d.ts
  pr-preview/pr-36590/media-signaling/lib/Call.d.ts.map
  pr-preview/pr-36590/media-signaling/lib/Call.js
  pr-preview/pr-36590/media-signaling/lib/Call.js.map
  pr-preview/pr-36590/media-signaling/lib/Session.d.ts
  pr-preview/pr-36590/media-signaling/lib/Session.d.ts.map
  pr-preview/pr-36590/media-signaling/lib/Session.js
  pr-preview/pr-36590/media-signaling/lib/Session.js.map
Due: none

Deploy preview for PR 36452 🛫
  pr-preview/pr-36452/fuselage-ui-kit/project.json
  pr-preview/pr-36452/gazzodown/project.json
  pr-preview/pr-36452/media-signaling-server/agents/Manager.d.ts
  pr-preview/pr-36452/media-signaling-server/agents/Manager.js
  pr-preview/pr-36452/media-signaling-server/agents/Manager.js.map
  pr-preview/pr-36452/media-signaling-server/agents/users/SignalProcessor.d.ts
  pr-preview/pr-36452/media-signaling-server/agents/users/SignalProcessor.js
  pr-preview/pr-36452/media-signaling-server/agents/users/SignalProcessor.js.map
  pr-preview/pr-36452/media-signaling-server/processSignal.js
  pr-preview/pr-36452/media-signaling-server/processSignal.js.map
  pr-preview/pr-36452/media-signaling/definition/call/CallEvents.d.ts
  pr-preview/pr-36452/media-signaling/definition/call/CallEvents.d.ts.map
  pr-preview/pr-36452/media-signaling/definition/call/IClientMediaCall.d.ts
  pr-preview/pr-36452/media-signaling/definition/call/IClientMediaCall.d.ts.map
  pr-preview/pr-36452/media-signaling/definition/signals/client/MediaSignal.d.ts
  pr-preview/pr-36452/media-signaling/definition/signals/client/MediaSignal.d.ts.map
  pr-preview/pr-36452/media-signaling/definition/signals/client/MediaSignal.js
  pr-preview/pr-36452/media-signaling/definition/signals/client/MediaSignal.js.map
  pr-preview/pr-36452/media-signaling/definition/signals/client/index.d.ts
  pr-preview/pr-36452/media-signaling/definition/signals/client/index.d.ts.map
  pr-preview/pr-36452/media-signaling/definition/signals/client/index.js
  pr-preview/pr-36452/media-signaling/definition/signals/client/index.js.map
  pr-preview/pr-36452/media-signaling/definition/signals/client/register.d.ts
  pr-preview/pr-36452/media-signaling/definition/signals/client/register.d.ts.map
  pr-preview/pr-36452/media-signaling/definition/signals/client/register.js
  pr-preview/pr-36452/media-signaling/definition/signals/client/register.js.map
  pr-preview/pr-36452/media-signaling/lib/Call.d.ts
  pr-preview/pr-36452/media-signaling/lib/Call.d.ts.map
  pr-preview/pr-36452/media-signaling/lib/Call.js
  pr-preview/pr-36452/media-signaling/lib/Call.js.map
  pr-preview/pr-36452/media-signaling/lib/Session.d.ts
  pr-preview/pr-36452/media-signaling/lib/Session.d.ts.map
  pr-preview/pr-36452/media-signaling/lib/Session.js
  pr-preview/pr-36452/media-signaling/lib/Session.js.map
Due: none

Expand comment
  apps/meteor/client/views/root/hooks/customOAuth/useAppleOAuth.ts
Due: e2e, client

Remove redundant check
  apps/meteor/client/lib/customOAuth/CustomOAuth.ts
Due: e2e, client

feat: add openapi support for channels.create api
  apps/meteor/app/api/server/v1/channels.ts
Due: e2e

refactor: add IRoom in typia json schemas
  packages/core-typings/src/Ajv.ts
Due: none

refactor: remove unused channal create from rest-typings
  packages/rest-typings/src/v1/channels/ChannelsCreateProps.ts
  packages/rest-typings/src/v1/channels/channels.ts
  packages/rest-typings/src/v1/channels/index.ts
Due: none

fix: remove the undfined from the IRoom becouse typia fail becouse of it
  packages/core-typings/src/IRoom.ts
Due: none

Create silent-pianos-develop.md
  .changeset/silent-pianos-develop.md
Due: none

fix add a good test response
  apps/meteor/app/api/server/ApiClass.spec.ts
Due: e2e

Deploy preview for PR 36659 🛫
  pr-preview/pr-36659/fuselage-ui-kit/106.73269160.iframe.bundle.js
  pr-preview/pr-36659/fuselage-ui-kit/106.73269160.iframe.bundle.js.map
  pr-preview/pr-36659/fuselage-ui-kit/106.de3f0e65.iframe.bundle.js
  pr-preview/pr-36659/fuselage-ui-kit/106.de3f0e65.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-36659/fuselage-ui-kit/106.de3f0e65.iframe.bundle.js.map
  pr-preview/pr-36659/fuselage-ui-kit/iframe.html
  pr-preview/pr-36659/fuselage-ui-kit/project.json
  pr-preview/pr-36659/fuselage-ui-kit/runtime~main.7a05d840.iframe.bundle.js
  pr-preview/pr-36659/fuselage-ui-kit/runtime~main.b921f707.iframe.bundle.js
  pr-preview/pr-36659/gazzodown/Markup-stories.55e9c501.iframe.bundle.js
  pr-preview/pr-36659/gazzodown/Markup-stories.55e9c501.iframe.bundle.js.map
  pr-preview/pr-36659/gazzodown/Markup-stories.f7a67045.iframe.bundle.js
  pr-preview/pr-36659/gazzodown/Markup-stories.f7a67045.iframe.bundle.js.map
  pr-preview/pr-36659/gazzodown/iframe.html
  pr-preview/pr-36659/gazzodown/project.json
  pr-preview/pr-36659/gazzodown/runtime~main.39af081f.iframe.bundle.js
  pr-preview/pr-36659/gazzodown/runtime~main.dc18f432.iframe.bundle.js
  pr-preview/pr-36659/ui-composer/project.json
  pr-preview/pr-36659/uikit-playground/assets/CodeBlock-BQEjbWD9.js
  pr-preview/pr-36659/uikit-playground/assets/KatexBlock-4mnFrpTn.js
  pr-preview/pr-36659/uikit-playground/assets/KatexBlock-CJGIGd_1.js
  pr-preview/pr-36659/uikit-playground/assets/KatexElement-DzudL6Lc.js
  pr-preview/pr-36659/uikit-playground/assets/KatexElement-xzE1oghV.js
  pr-preview/pr-36659/uikit-playground/assets/import-7mkj6TwG.js
  pr-preview/pr-36659/uikit-playground/assets/import-BEBNx3PT.js
  pr-preview/pr-36659/uikit-playground/assets/index-5w2rBZCd.js
  pr-preview/pr-36659/uikit-playground/index.html
Due: none

Deploy preview for PR 36645 🛫
  pr-preview/pr-36645/fuselage-ui-kit/106.73269160.iframe.bundle.js
  pr-preview/pr-36645/fuselage-ui-kit/106.73269160.iframe.bundle.js.map
  pr-preview/pr-36645/fuselage-ui-kit/106.de3f0e65.iframe.bundle.js
  pr-preview/pr-36645/fuselage-ui-kit/106.de3f0e65.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-36645/fuselage-ui-kit/106.de3f0e65.iframe.bundle.js.map
  pr-preview/pr-36645/fuselage-ui-kit/iframe.html
  pr-preview/pr-36645/fuselage-ui-kit/project.json
  pr-preview/pr-36645/fuselage-ui-kit/runtime~main.2bc3fefb.iframe.bundle.js
  pr-preview/pr-36645/fuselage-ui-kit/runtime~main.ad4a40ec.iframe.bundle.js
  pr-preview/pr-36645/gazzodown/Markup-stories.55e9c501.iframe.bundle.js
  pr-preview/pr-36645/gazzodown/Markup-stories.55e9c501.iframe.bundle.js.map
  pr-preview/pr-36645/gazzodown/Markup-stories.f7a67045.iframe.bundle.js
  pr-preview/pr-36645/gazzodown/Markup-stories.f7a67045.iframe.bundle.js.map
  pr-preview/pr-36645/gazzodown/iframe.html
  pr-preview/pr-36645/gazzodown/project.json
  pr-preview/pr-36645/gazzodown/runtime~main.13ae5a33.iframe.bundle.js
  pr-preview/pr-36645/gazzodown/runtime~main.c3ed3fb8.iframe.bundle.js
  pr-preview/pr-36645/ui-composer/project.json
  pr-preview/pr-36645/uikit-playground/assets/CodeBlock-CHAmrEzD.js
  pr-preview/pr-36645/uikit-playground/assets/KatexBlock-DLSB87Pk.js
  pr-preview/pr-36645/uikit-playground/assets/KatexBlock-DaeM-eUF.js
  pr-preview/pr-36645/uikit-playground/assets/KatexElement-C4iTPE5q.js
  pr-preview/pr-36645/uikit-playground/assets/KatexElement-CIfSI8qf.js
  pr-preview/pr-36645/uikit-playground/assets/import-B12H8es9.js
  pr-preview/pr-36645/uikit-playground/assets/import-CoX_-Vmd.js
  pr-preview/pr-36645/uikit-playground/assets/index-CafW5eJ5.js
  pr-preview/pr-36645/uikit-playground/index.html
Due: none
