Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'

fix: Engagement Dashboard and Device Management admin pages loading indefinitely (#32284)
  .changeset/yellow-lies-judge.md
  apps/meteor/ee/client/views/admin/deviceManagement/DeviceManagementAdminRoute.tsx
  apps/meteor/ee/client/views/admin/engagementDashboard/EngagementDashboardRoute.tsx
  apps/meteor/tests/e2e/administration.spec.ts
Due: e2e

initial fix
  apps/meteor/app/livechat/server/hooks/processRoomAbandonment.ts
  apps/meteor/server/services/translation/service.ts
  ee/packages/omnichannel-services/src/OmnichannelTranscript.ts
  ee/packages/pdf-worker/package.json
  ee/packages/pdf-worker/src/templates/ChatTranscript/components/MessageList.tsx
  ee/packages/pdf-worker/src/templates/ChatTranscript/components/Quotes.tsx
  ee/packages/pdf-worker/src/templates/ChatTranscript/markup/blocks/ParagraphBlock.tsx
  ee/packages/pdf-worker/src/templates/ChatTranscript/markup/index.tsx
  packages/core-services/src/types/ITranslationService.ts
Due: e2e

feat: Display total number and room unread messages in room title.
  .changeset/brown-kiwis-invite.md
  apps/meteor/client/views/room/Header/RoomTitle.tsx
  apps/meteor/client/views/root/DocumentTitleWrapper.tsx
Due: e2e, client

Update Apps-engine
  packages/i18n/package.json
  yarn.lock
Due: none

feat: new `Contextualbar` sizes
  apps/meteor/client/components/Contextualbar/ContextualbarHeader.tsx
  apps/meteor/client/views/omnichannel/directory/ChatsContextualBar.tsx
  apps/meteor/client/views/omnichannel/directory/calls/contextualBar/VoipInfo.tsx
  apps/meteor/client/views/room/contextualBar/MessageSearchTab/MessageSearchTab.tsx
  apps/meteor/client/views/room/contextualBar/MessageSearchTab/components/MessageSearchForm.tsx
  apps/meteor/client/views/room/contextualBar/RoomFiles/RoomFiles.tsx
  apps/meteor/client/views/room/contextualBar/RoomMembers/RoomMembers.tsx
  apps/meteor/client/views/room/contextualBar/Threads/Thread.tsx
  apps/meteor/client/views/room/contextualBar/Threads/ThreadList.tsx
Due: e2e, client

chore: adjusted i18n expressions
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/pt-BR.i18n.json
Due: none

chore: changeset
  .changeset/wild-teachers-design.md
Due: none

refactor: moved cloud workspace id from statistics to server info
  apps/meteor/app/api/server/lib/getServerInfo.ts
  apps/meteor/app/statistics/server/lib/statistics.ts
  apps/meteor/client/views/admin/workspace/DeploymentCard/DeploymentCard.tsx
  packages/core-typings/src/IStats.ts
  packages/core-typings/src/IWorkspaceInfo.ts
Due: e2e, client

fix attachment description for E2EE disabled room
  apps/meteor/client/lib/chats/flows/uploadFiles.ts
Due: e2e, client

TEST: fake version to 6.8.0 so we can see the Marketplace on Cloud environments
  apps/meteor/app/utils/rocketchat.info
  package.json
  packages/core-typings/package.json
  packages/rest-typings/package.json
Due: e2e

Remove data props to use role locators
  apps/meteor/ee/client/omnichannel/tags/TagEdit.tsx
  apps/meteor/ee/client/omnichannel/tags/TagsTable.tsx
  apps/meteor/ee/client/omnichannel/tags/useRemoveTag.tsx
  apps/meteor/tests/e2e/page-objects/omnichannel-tags.ts
  apps/meteor/tests/e2e/utils/omnichannel/tags.ts
Due: e2e

Revert "TEST: fake version to 6.8.0 so we can see the Marketplace on Cloud"
  apps/meteor/app/utils/rocketchat.info
  package.json
  packages/core-typings/package.json
  packages/rest-typings/package.json
Due: e2e

ugh
  ee/packages/pdf-worker/src/templates/ChatTranscript/components/MessageList.tsx
  ee/packages/pdf-worker/src/templates/ChatTranscript/components/Quotes.tsx
  ee/packages/pdf-worker/src/templates/ChatTranscript/index.tsx
Due: none

oops
  ee/packages/pdf-worker/src/templates/ChatTranscript/index.tsx
Due: none

Create nasty-swans-compete.md
  .changeset/nasty-swans-compete.md
Due: none

Update package.json
  ee/packages/pdf-worker/package.json
Due: none

fix: HeaderContentRow width
  packages/ui-client/src/components/Header/HeaderContentRow.tsx
Due: none

Remove not needed functions
  apps/meteor/tests/e2e/page-objects/fragments/home-content.ts
Due: e2e

feat: Header and SearchList heights
  apps/meteor/client/sidebar/search/SearchList.tsx
  packages/ui-client/src/components/Header/HeaderDivider.tsx
  packages/ui-client/src/components/Header/HeaderSection.tsx
Due: e2e, client

fix: returning user status text for apps
  apps/meteor/app/apps/server/converters/users.js
Due: e2e

chore: adding changeset
  .changeset/rich-bananas-complain.md
Due: none

Update .changeset/rich-bananas-complain.md
  .changeset/rich-bananas-complain.md
Due: none

remove repeated steps on tests
  apps/meteor/tests/e2e/image-gallery.spec.ts
Due: e2e

remove extra image sent on e2e tests
  apps/meteor/tests/e2e/image-gallery.spec.ts
Due: e2e

Update tests to run in serial mode
  apps/meteor/tests/e2e/image-gallery.spec.ts
Due: e2e

POC
  apps/meteor/app/e2e/client/helper.js
  apps/meteor/app/e2e/client/rocketchat.e2e.room.js
  apps/meteor/app/e2e/client/rocketchat.e2e.ts
  apps/meteor/app/file-upload/server/methods/sendFileMessage.ts
  apps/meteor/client/components/message/content/Attachments.tsx
  apps/meteor/client/components/message/content/attachments/AttachmentsItem.tsx
  apps/meteor/client/components/message/content/attachments/file/ImageAttachment.tsx
  apps/meteor/client/components/message/content/attachments/structure/AttachmentImage.tsx
  apps/meteor/client/components/message/variants/room/RoomMessageContent.tsx
  apps/meteor/client/lib/chats/flows/uploadFiles.ts
Due: e2e, client

Update Apps-engine
  yarn.lock
Due: none

chore: bump packages
  apps/meteor/ee/server/services/package.json
  apps/meteor/package.json
  ee/packages/ui-theming/package.json
  packages/core-services/package.json
  packages/core-typings/package.json
  packages/fuselage-ui-kit/package.json
  packages/gazzodown/package.json
  packages/i18n/package.json
  packages/ui-avatar/package.json
  packages/ui-client/package.json
  packages/ui-composer/package.json
  packages/ui-video-conf/package.json
  packages/uikit-playground/package.json
  yarn.lock
Due: e2e

feat: replace icon
  apps/meteor/client/components/message/ReadReceiptIndicator.tsx
Due: e2e, client

chore: changeset
  .changeset/unlucky-berries-guess.md
Due: none

fix e2e tests
  apps/meteor/tests/e2e/page-objects/fragments/home-content.ts
Due: e2e

Initial service worker implementation
  apps/meteor/client/components/message/content/Attachments.tsx
  apps/meteor/client/components/message/content/attachments/AttachmentsItem.tsx
  apps/meteor/client/components/message/content/attachments/file/ImageAttachment.tsx
  apps/meteor/client/components/message/content/attachments/structure/AttachmentImage.tsx
  apps/meteor/client/components/message/variants/room/RoomMessageContent.tsx
  apps/meteor/client/lib/chats/flows/uploadFiles.ts
  apps/meteor/public/enc.js
Due: e2e, client

refactor: change notifyListenerOnRoomChanges signature
  apps/meteor/app/lib/server/functions/archiveRoom.ts
  apps/meteor/app/lib/server/lib/notifyListenerOnRoomChanges.ts
Due: e2e

oops: re-use room object
  apps/meteor/client/lib/chats/flows/uploadFiles.ts
Due: e2e, client

bump fuselage@dev
  apps/meteor/package.json
Due: e2e

feat: `TeamsChannels` search section
  apps/meteor/client/views/teams/contextualBar/channels/TeamsChannels.tsx
Due: e2e, client

Change locators from data prop to role
  apps/meteor/ee/client/omnichannel/businessHours/BusinessHoursRow.tsx
  apps/meteor/tests/e2e/omnichannel/omnichannel-business-hours.spec.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-business-hours.ts
Due: e2e

Remove unused test prop
  apps/meteor/ee/client/omnichannel/businessHours/useRemoveBusinessHour.tsx
Due: e2e
