Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

chore: adds broker and db startup handlers
  apps/meteor/server/main.ts
  apps/meteor/server/startup/broker.ts
  apps/meteor/server/startup/database.ts
  apps/meteor/server/startup/index.ts
Due: e2e

chore: sets broker start at the end of services registration
  apps/meteor/ee/server/startup/index.ts
  apps/meteor/server/services/startup.ts
  apps/meteor/server/startup/localServices.ts
Due: e2e

chore: sets services dependencies
  apps/meteor/ee/server/startup/services.ts
  apps/meteor/server/lib/logger/startup.ts
  apps/meteor/server/main.ts
  apps/meteor/server/services/startup.ts
  apps/meteor/server/startup/index.ts
Due: e2e

chore: creates EE services startup handler
  apps/meteor/ee/app/license/server/startup.ts
  apps/meteor/server/services/startup.ts
Due: e2e

chore: moves services imports to its corresponding service
  apps/meteor/app/settings/server/index.ts
  apps/meteor/server/services/settings/service.ts
  apps/meteor/server/settings/index.ts
Due: e2e

chore: adds default dependencies on Local and Network brokers
  apps/meteor/ee/server/startup/services.ts
  apps/meteor/server/services/startup.ts
  ee/packages/network-broker/src/NetworkBroker.ts
  packages/core-services/src/LocalBroker.ts
Due: e2e

Refactor authentication and permission middleware for error handling and security
  apps/meteor/app/api/server/middlewares/authentication.ts
Due: e2e

added changeset
  .changeset/message-menu-open.md
Due: none

linter and typecheck fix
  apps/meteor/app/settings/server/index.ts
  apps/meteor/ee/app/license/server/startup.ts
  apps/meteor/ee/server/startup/services.ts
  apps/meteor/server/main.ts
  apps/meteor/server/services/settings/service.ts
  apps/meteor/server/startup/broker.ts
Due: e2e

move everything to "configuration" folder
  apps/meteor/server/configuration/configureAssets.ts
  apps/meteor/server/configuration/configureBoilerplate.ts
  apps/meteor/server/configuration/configureCDN.ts
  apps/meteor/server/configuration/configureCORS.ts
  apps/meteor/server/configuration/configureDirectReply.ts
  apps/meteor/server/configuration/configureIRC.ts
  apps/meteor/server/configuration/configureSMTP.ts
  apps/meteor/server/configuration/federation.ts
  apps/meteor/server/configuration/index.ts
  apps/meteor/server/configuration/pushNotification.ts
  apps/meteor/server/main.ts
Due: e2e

fix: handling the case where the apps requests is null
  apps/meteor/client/views/marketplace/AppDetailsPage/tabs/AppRequests/AppRequests.tsx
  packages/core-typings/src/AppRequests.ts
Due: e2e, client

inject settings
  apps/meteor/server/configuration/cas.ts
  apps/meteor/server/configuration/index.ts
  apps/meteor/server/configuration/ldap.ts
  apps/meteor/server/configuration/oauth.ts
  apps/meteor/server/main.ts
Due: e2e

Create giant-bottles-impress.md
  .changeset/giant-bottles-impress.md
Due: none

fix: suggestion from code review
  apps/meteor/app/api/server/v1/chat.ts
  apps/meteor/app/lib/server/methods/getChannelHistory.ts
  apps/meteor/server/publications/messages.ts
Due: e2e

lint
  apps/meteor/server/main.ts
Due: e2e

refactor: remove calls for setEmail Meteor method (server)
  apps/meteor/app/lib/server/methods/setEmail.ts
  apps/meteor/server/methods/saveUserProfile.ts
Due: e2e

deploy: 0b0f8680ec67c2eecdee958edbb351e1b8147a6b
  develop/fuselage-ui-kit/project.json
  develop/gazzodown/project.json
  develop/ui-composer/project.json
Due: none

refactor: remove personal access token method calls (server)
  apps/meteor/app/api/server/v1/users.ts
  apps/meteor/imports/personal-access-tokens/server/api/methods/generateToken.ts
  apps/meteor/imports/personal-access-tokens/server/api/methods/regenerateToken.ts
  apps/meteor/imports/personal-access-tokens/server/api/methods/removeToken.ts
Due: e2e

refactor: remove getReadReceipts method calls (server)
  apps/meteor/ee/server/api/chat.ts
  apps/meteor/ee/server/methods/getReadReceipts.ts
Due: e2e

fix: use sprintf to inject correct node version in rocket.cat message
  apps/meteor/server/startup/serverRunning.js
Due: e2e

chore: bump version to 7.3.0-develop
  apps/meteor/app/utils/rocketchat.info
  apps/meteor/package.json
  package.json
  packages/apps-engine/deno-runtime/deno.lock
  packages/core-typings/package.json
  packages/rest-typings/package.json
Due: e2e

chore: destructuring object to avoid accessing data.data
  apps/meteor/client/views/marketplace/AppDetailsPage/tabs/AppRequests/AppRequests.tsx
Due: e2e, client

Deploy preview for PR 34887 🛫
  pr-preview/pr-34887/fuselage-ui-kit/project.json
  pr-preview/pr-34887/gazzodown/project.json
  pr-preview/pr-34887/ui-composer/project.json
Due: none

review
  apps/meteor/client/views/admin/users/AdminUserFormWithData.tsx
Due: e2e, client

Tests
  apps/meteor/tests/e2e/administration.spec.ts
  apps/meteor/tests/e2e/page-objects/fragments/admin-flextab-users.ts
Due: e2e

Create loud-islands-explode.md
  .changeset/loud-islands-explode.md
Due: none

chore: convert 404 to a constant
  apps/meteor/app/push/server/fcm.ts
Due: e2e

Deploy preview for PR 34892 🛫
  pr-preview/pr-34892/fuselage-ui-kit/project.json
  pr-preview/pr-34892/gazzodown/project.json
  pr-preview/pr-34892/ui-composer/project.json
Due: none

Path conditions:
  e2e: any of: apps/meteor/
  client: any of: apps/meteor/client
