Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true
  
  e2e-api:
    paths:
      - apps/meteor/server
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'
fixes:
  - '/home/runner/work/Rocket.Chat/Rocket.Chat/::'

remove duplicate const
  apps/meteor/ee/server/lib/exchange/graph/MicrosoftGraphProvider.spec.ts
Due: e2e

cleanup for stale avatars
  apps/meteor/ee/server/lib/exchange/sync/contacts/syncContactFolder.ts
  apps/meteor/ee/server/lib/exchange/sync/contacts/syncUserContacts.ts
  packages/core-typings/src/IExchangeContactSyncState.ts
  packages/model-typings/src/models/IExchangeContactSyncStateModel.ts
  packages/models/src/models/ExchangeContactSyncState.ts
Due: e2e

modify avatars size limit and i18n
  apps/meteor/ee/server/lib/exchange/sync/limits.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e

tests for critical modules part 1
  apps/meteor/ee/server/lib/contacts/resolveCallerContact.spec.ts
  apps/meteor/ee/server/lib/exchange/ews/ExchangeEwsProvider.spec.ts
  apps/meteor/ee/server/lib/exchange/graph/MicrosoftGraphProvider.spec.ts
  apps/meteor/ee/server/lib/exchange/sync/contacts/syncContactFolder.spec.ts
  apps/meteor/ee/server/lib/exchange/sync/contacts/syncContactFolder.ts
  apps/meteor/ee/server/lib/exchange/sync/contacts/syncUserContacts.spec.ts
  apps/meteor/jest.config.ts
Due: e2e

update import
  apps/meteor/client/views/contacts/ContactInfoEntry.tsx
Due: e2e, client

change error key for outlook contacts sync failure
  apps/meteor/client/views/contacts/hooks/useContactsSync.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

fix empty values
  apps/meteor/client/views/contacts/ContactEdit.tsx
  apps/meteor/ee/server/api/contacts.ts
  packages/rest-typings/src/v1/contacts.ts
Due: e2e, client

add test breaking on next major in case legacy integration wasnt removed
  apps/meteor/ee/server/lib/exchange/legacyIntegrationRemoval.spec.ts
Due: e2e

add i18n for contact delete error and missing textValue attributes
  apps/meteor/client/views/contacts/ContactMenu.tsx
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

add missing projections to improve performance and response types for contact endpoints
  apps/meteor/ee/server/api/contacts.ts
  packages/core-typings/src/Ajv.ts
  packages/core-typings/src/IContact.ts
  packages/model-typings/src/models/IContactsModel.ts
  packages/models/src/models/Contacts.ts
  packages/models/src/models/ExchangeContactSyncState.ts
Due: e2e

make ContactInfoEntry static
  apps/meteor/client/views/contacts/ContactInfoEntry.tsx
Due: e2e, client

avoid duplicate keys on emails and phones
  apps/meteor/client/views/contacts/ContactInfo.tsx
Due: e2e, client

fix pagination offset
  apps/meteor/client/views/contacts/ContactsTab.tsx
Due: e2e, client

make mailboxLock generic and remove identity from setLastError
  apps/meteor/ee/server/lib/exchange/sync/calendar/mailboxLock.ts
  apps/meteor/ee/server/lib/exchange/sync/calendar/runCalendarSync.spec.ts
  apps/meteor/ee/server/lib/exchange/sync/calendar/runCalendarSync.ts
  apps/meteor/ee/server/lib/exchange/sync/calendar/syncCalendarForUser.ts
  apps/meteor/ee/server/lib/exchange/sync/contacts/runContactSync.spec.ts
  apps/meteor/ee/server/lib/exchange/sync/contacts/runContactSync.ts
  apps/meteor/ee/server/lib/exchange/sync/contacts/syncContactFolder.spec.ts
  apps/meteor/ee/server/lib/exchange/sync/contacts/syncContactFolder.ts
  apps/meteor/ee/server/lib/exchange/sync/contacts/syncContactsForUser.ts
  apps/meteor/ee/server/lib/exchange/sync/contacts/syncUserContacts.ts
  apps/meteor/ee/server/lib/exchange/sync/mailboxLock.ts
  packages/model-typings/src/models/IExchangeContactSyncStateModel.ts
  packages/models/src/models/ExchangeContactSyncState.ts
Due: e2e

centralize contacts sortable fields
  apps/meteor/ee/server/api/contacts.ts
  packages/rest-typings/src/v1/contacts.ts
Due: e2e

add success property to syncMyContacts schema
  packages/rest-typings/src/v1/exchange.ts
Due: none

add alternative translation for description not found search
  apps/meteor/client/views/contacts/ContactsTab.tsx
Due: e2e, client

add alternative translation for not found search
  apps/meteor/client/views/contacts/ContactsTab.tsx
Due: e2e, client

add /contacts route and remove page header
  apps/meteor/client/startup/routes.tsx
  apps/meteor/client/views/mediaCallHistory/CallHistoryPageLayout.tsx
  apps/meteor/client/views/mediaCallHistory/CallHistoryRoute.tsx
Due: e2e, client

widen setCacheAndDispositionHeaders to support private cache
  apps/meteor/server/routes/avatar/contact.spec.ts
  apps/meteor/server/routes/avatar/contact.ts
  apps/meteor/server/routes/avatar/utils.ts
Due: e2e, e2e-api

remove upsert true from setLastError
  packages/models/src/models/ExchangeContactSyncState.ts
Due: none

unset contact fields when absent
  apps/meteor/ee/server/lib/exchange/sync/contacts/syncContactFolder.spec.ts
  apps/meteor/ee/server/lib/exchange/sync/contacts/syncContactFolder.ts
  packages/models/src/models/Contacts.ts
Due: e2e

rename hasFolderSyncedSince to hasSyncedSince
  apps/meteor/ee/server/lib/exchange/sync/contacts/runContactSync.spec.ts
  apps/meteor/ee/server/lib/exchange/sync/contacts/runContactSync.ts
  packages/model-typings/src/models/IExchangeContactSyncStateModel.ts
  packages/models/src/models/ExchangeContactSyncState.ts
Due: e2e

change i18n error mesage for contact sync error
  apps/meteor/ee/server/api/exchange.ts
Due: e2e

fix contact types
  apps/meteor/ee/server/api/contacts.ts
  packages/rest-typings/src/v1/contacts.ts
Due: e2e

restore previous region setting value
  apps/meteor/tests/end-to-end/api/contacts.ts
Due: e2e

make contact model methods return types more accurate
  packages/model-typings/src/models/IContactsModel.ts
  packages/models/src/models/Contacts.ts
Due: none

add try catch for decodeURIComponent
  apps/meteor/server/routes/avatar/contact.ts
Due: e2e, e2e-api

update i18n for contact sync interval key
  packages/i18n/src/locales/en.i18n.json
Due: none

chore: point `ui-account` at the workspace `fuselage-forms`
  packages/ui-account/package.json
  yarn.lock
Due: none

docs(fuselage-hooks): call `useButtonPattern` in its JSDoc example
  packages/fuselage-hooks/src/useButtonPattern.ts
Due: none

fix: prevent double slashes in URLs and link tooltips
  packages/gazzodown/src/elements/LinkSpan.tsx
  packages/gazzodown/src/elements/sanitizeUrl.spec.ts
  packages/gazzodown/src/elements/sanitizeUrl.ts
Due: none

feat(video-conf): draw raised hands with the hand icon
  packages/ui-conference/src/call/CallControls.tsx
  packages/ui-conference/src/call/__snapshots__/callStories.spec.tsx.snap
  packages/ui-conference/src/call/tile/TileFrame.tsx
  packages/ui-conference/src/components/CallMemberItem/CallMemberItem.tsx
  packages/ui-conference/src/components/CallParticipantStatus/CallParticipantStatus.tsx
  packages/ui-conference/src/components/CallRaisedHands.tsx
Due: none

feat(video-conf): show sharing a screen and a raised hand as active, not as off
  packages/ui-conference/src/call/CallControls.tsx
  packages/ui-conference/src/call/__snapshots__/callStories.spec.tsx.snap
  packages/ui-media/src/components/ToggleButton.stories.tsx
  packages/ui-media/src/components/ToggleButton.tsx
  packages/ui-media/src/components/__snapshots__/ToggleButton.spec.tsx.snap
Due: none

refactor(ui-conference): Fuse device toggles with fuselage SplitButton (#42663)
  apps/meteor/package.json
  apps/uikit-playground/package.json
  packages/fuselage-forms/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-ui-kit/package.json
  packages/gazzodown/package.json
  packages/i18n/src/locales/en.i18n.json
  packages/layout/package.json
  packages/onboarding-ui/package.json
  packages/storybook-config/package.json
  packages/ui-account/package.json
  packages/ui-avatar/package.json
  packages/ui-client/package.json
  packages/ui-composer/package.json
  packages/ui-conference/package.json
  packages/ui-conference/src/call/AudioDevicePicker.tsx
  packages/ui-conference/src/call/CallControls.tsx
  packages/ui-conference/src/call/CameraPicker.tsx
  packages/ui-conference/src/call/__snapshots__/callStories.spec.tsx.snap
  packages/ui-contexts/package.json
  packages/ui-media/package.json
  packages/ui-media/src/components/ActionButton.tsx
  packages/ui-video-conf/package.json
  packages/ui-voip/package.json
  packages/web-ui-registration/package.json
  yarn.lock
Due: e2e

fix(video-conf): close the desktop app's call window through its 4.18 bridge
  .changeset/desktop-call-window-bridge.md
  apps/meteor/client/definitions/global.d.ts
  apps/meteor/client/views/conference/lib/callWindow.spec.ts
  apps/meteor/client/views/conference/lib/callWindow.ts
  packages/desktop-api/src/index.ts
Due: e2e, client

chore: run node:test next to Mocha in apps/meteor
  apps/meteor/package.json
  eslint.config.mjs
Due: e2e

test: assert SAML logout parsing again
  apps/meteor/tests/unit/server/lib/saml/server.tests.ts
Due: e2e

test: await testPrivateMethod and stop the calendar test date from expiring
  apps/meteor/tests/unit/server/services/calendar/service.tests.ts
  apps/meteor/tests/unit/server/services/utils.ts
Due: e2e
