Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

add TOTP support
  apps/meteor/app/2fa/server/code/TOTPCheck.ts
  apps/meteor/app/2fa/server/code/TOTPCheckForOAuth.ts
  apps/meteor/app/2fa/server/code/index.ts
  apps/meteor/app/api/server/v1/twoFactorChallenges.ts
  apps/meteor/server/lib/oauth/configureOAuthServices.ts
  apps/meteor/server/lib/oauth/twoFactorAuth.ts
  packages/apps-engine/deno-runtime/deno.lock
Due: e2e, e2e-api

fix: detect quote permalinks by query param instead of hostname
  .changeset/shy-pillows-repair.md
  apps/meteor/server/services/messages/hooks/BeforeSaveJumpToMessage.ts
  apps/meteor/server/services/messages/service.ts
  apps/meteor/tests/unit/server/services/messages/hooks/BeforeSaveJumpToMessage.tests.ts
Due: e2e, e2e-api

fix: enhance selection wrapping logic in messageBox to prevent unnecessary actions
  apps/meteor/client/views/room/composer/messageBox/wrapSelection.ts
Due: e2e, client

test: add unit tests for handleSelectionWrapping function in messageBox
  apps/meteor/client/views/room/composer/messageBox/wrapSelection.spec.ts
Due: e2e, client

refine the tests
  apps/meteor/tests/e2e/admin-device-management.spec.ts
Due: e2e

perf: slim react-aria and react-stately barrel imports to reduce bundle size
  .yarn/patches/react-aria-npm-3.37.0-83959bd2fa.patch
  .yarn/patches/react-stately-npm-3.17.0-264cc7a43c.patch
  apps/meteor/client/components/ImageGallery/ImageGallery.tsx
  apps/meteor/client/components/ResultsLiveRegion.tsx
  apps/meteor/client/components/UserCard/UserCardDialog.tsx
  apps/meteor/client/navbar/NavBarNavigation.tsx
  apps/meteor/client/navbar/NavBarSearch/NavBarSearch.tsx
  apps/meteor/client/navbar/NavBarSearch/NavBarSearchListbox.tsx
  apps/meteor/client/navbar/NavBarSearch/hooks/useSearchClick.ts
  apps/meteor/client/navbar/NavBarSearch/hooks/useSearchFocus.ts
  apps/meteor/client/navbar/NavBarSearch/hooks/useSearchNavigation.ts
  apps/meteor/client/sidebar/RoomList/useSidebarListNavigation.ts
  apps/meteor/client/sidebar/SidebarRegion.tsx
  apps/meteor/client/views/account/accessibility/AccessibilityPage.tsx
  apps/meteor/client/views/account/profile/AccountProfileForm.tsx
  apps/meteor/client/views/modal/uikit/ModalBlock.tsx
  apps/meteor/client/views/navigation/NavigationRegion.tsx
  apps/meteor/client/views/navigation/sidebar/RoomList/useSidebarListNavigation.ts
  apps/meteor/client/views/room/Room.tsx
  apps/meteor/client/views/room/contextualBar/VideoConference/VideoConfPopups/VideoConfPopup/TimedVideoConfPopup.tsx
  apps/meteor/client/views/room/contextualBar/VideoConference/VideoConfPopups/VideoConfPopups.tsx
  apps/meteor/client/views/room/hooks/useMessageListNavigation.ts
  apps/meteor/client/views/room/providers/UserCardProvider.tsx
  package.json
  packages/gazzodown/src/MarkupInteractionContext.ts
  packages/ui-client/src/components/Contextualbar/ContextualbarDialog.tsx
  packages/ui-client/src/components/Modal/ModalRegion.tsx
  packages/ui-contexts/src/UserCardContext.ts
  packages/ui-voip/src/components/Keypad/Key.tsx
  packages/ui-voip/src/components/Keypad/Keypad.tsx
  packages/ui-voip/src/components/Widget/Widget.tsx
  yarn.lock
Due: e2e, client

docs: add bundle optimization guide for react-aria barrel imports
  docs/bundle-optimization-react-aria.md
Due: none

perf: remove zod locales barrel from bundle (-147 KB)
  .yarn/patches/zod-npm-4.3.6-a096e305e6.patch
  package.json
Due: none

docs: add zod locale patch to bundle optimization guide
  docs/bundle-optimization-react-aria.md
Due: none

perf: patch all zod locale barrel exports (core, classic, mini)
  .yarn/patches/zod-npm-4.3.6-a096e305e6.patch
  yarn.lock
Due: none

lint
  packages/ui-contexts/src/UserCardContext.ts
Due: none

lint
  packages/gazzodown/src/MarkupInteractionContext.ts
Due: none

perf: move core-typings schemas to separate entry point (-97 KB client)
  apps/meteor/app/api/server/ajv.ts
  apps/meteor/app/api/server/default/openApi.ts
  packages/core-typings/package.json
  packages/core-typings/src/index.ts
  packages/core-typings/src/schemas.ts
Due: e2e

fix: use dist path for core-typings schemas import (Meteor ignores exports field)
  apps/meteor/app/api/server/ajv.ts
  apps/meteor/app/api/server/default/openApi.ts
Due: e2e

remove logs
  apps/meteor/app/2fa/server/code/EmailCheckForOAuth.ts
  apps/meteor/app/2fa/server/code/index.ts
  apps/meteor/server/lib/oauth/twoFactorAuth.ts
Due: e2e, e2e-api

test: description checks across files
  apps/meteor/client/hooks/useDecryptedMessage.spec.ts
  apps/meteor/client/hooks/useDecryptedMessage.ts
  apps/meteor/client/lib/parseMessageTextToAstMarkdown.spec.ts
  apps/meteor/client/lib/utils/normalizeMessagePreview/normalizeMessagePreview.spec.ts
  apps/meteor/tests/end-to-end/api/rooms.ts
Due: e2e, client

remember 2FA authorization
  apps/meteor/app/2fa/server/code/index.ts
  apps/meteor/app/api/server/ApiClass.ts
  apps/meteor/app/api/server/v1/twoFactorChallenges.ts
Due: e2e

perf: replace lodash barrel import with lodash/sampleSize (-8 KB)
  apps/meteor/client/lib/e2ee/rocketchat.e2e.ts
Due: e2e, client

perf: slim @react-aria/i18n barrel to remove unused formatjs deps (-102 KB)
  .yarn/patches/@react-aria-i18n-npm-3.12.5-435edff786.patch
  package.json
  yarn.lock
Due: none

use different verify function for challenge
  apps/meteor/app/api/server/v1/twoFactorChallenges.ts
Due: e2e

check for challenge expiry before verifying
  apps/meteor/app/2fa/server/code/EmailCheckForOAuth.ts
  apps/meteor/app/2fa/server/code/TOTPCheckForOAuth.ts
Due: e2e

fix typo
  apps/meteor/server/lib/oauth/twoFactorAuth.ts
Due: e2e, e2e-api

fix typo
  apps/meteor/server/lib/oauth/configureOAuthServices.ts
Due: e2e, e2e-api

fix resend code
  apps/meteor/client/components/TwoFactorModal/TwoFactorEmailModal.tsx
Due: e2e, client

good practice
  apps/meteor/client/views/OAuthTwoFactorAuthentication/OAuthTwoFactorAuthenticationRouter.tsx
Due: e2e, client

revert: include attachment description in message conversion
  apps/meteor/app/apps/server/converters/messages.js
Due: e2e

fix: ensure early return after setting decrypted message
  apps/meteor/client/hooks/useDecryptedMessage.ts
Due: e2e, client

refactor: remove unnecessary property check for message description
  apps/meteor/tests/end-to-end/api/rooms.ts
Due: e2e

feat: add alt text description for image uploads and enhance file upload modal
  apps/meteor/app/file-upload/server/methods/sendFileMessage.ts
  apps/meteor/client/components/message/content/attachments/file/ImageAttachment.tsx
  apps/meteor/client/components/message/content/attachments/structure/AttachmentImage.tsx
  apps/meteor/client/lib/chats/ChatAPI.ts
  apps/meteor/client/lib/chats/Upload.ts
  apps/meteor/client/lib/chats/flows/processMessageUploads.ts
  apps/meteor/client/lib/chats/uploads.ts
  apps/meteor/client/views/room/composer/messageBox/MessageComposerFileItem.tsx
  apps/meteor/client/views/room/composer/messageBox/MessageComposerFiles.tsx
  apps/meteor/client/views/room/contextualBar/RoomFiles/components/FileItem.tsx
  apps/meteor/client/views/room/contextualBar/RoomFiles/components/ImageItem.tsx
  apps/meteor/client/views/room/modals/FileUploadModal/FileUploadModal.tsx
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

feat: add alt text support for image previews and file uploads
  apps/meteor/client/components/ImageGallery/ImageGallery.tsx
  apps/meteor/client/components/message/content/attachments/DefaultAttachment.tsx
  apps/meteor/client/views/room/modals/FileUploadModal/FilePreview.tsx
  apps/meteor/client/views/room/modals/FileUploadModal/FileUploadModal.tsx
  apps/meteor/client/views/room/modals/FileUploadModal/ImagePreview.tsx
  apps/meteor/client/views/room/modals/FileUploadModal/MediaPreview.tsx
Due: e2e, client

feat: update alt text description for improved accessibility and context
  apps/meteor/client/views/room/modals/FileUploadModal/FileUploadModal.tsx
  apps/meteor/client/views/room/modals/FileUploadModal/__snapshots__/FileUploadModal.spec.tsx.snap
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

fix custom sounds pagination
  apps/meteor/client/views/admin/customSounds/CustomSoundsTable/CustomSoundsTable.tsx
Due: e2e, client

test(federation): refactor tests to create users on synapse
  ee/packages/federation-matrix/docker-compose.test.yml
  ee/packages/federation-matrix/tests/end-to-end/ban.spec.ts
  ee/packages/federation-matrix/tests/end-to-end/dms.spec.ts
  ee/packages/federation-matrix/tests/end-to-end/messaging.spec.ts
  ee/packages/federation-matrix/tests/end-to-end/permissions.spec.ts
  ee/packages/federation-matrix/tests/end-to-end/room.spec.ts
  ee/packages/federation-matrix/tests/helper/config.ts
  ee/packages/federation-matrix/tests/helper/synapse-client.ts
Due: none

add changeset
  .changeset/tall-flowers-return.md
Due: none

feat: enhance file upload modal with input trimming and disable submit button when no changes
  apps/meteor/client/views/room/composer/messageBox/MessageComposerFileItem.tsx
  apps/meteor/client/views/room/modals/FileUploadModal/FileUploadModal.tsx
  apps/meteor/client/views/room/modals/FileUploadModal/__snapshots__/FileUploadModal.spec.tsx.snap
Due: e2e, client

chore: changeset
  .changeset/wicked-drinks-think.md
Due: none

reverse dm join names
  ee/packages/federation-matrix/tests/end-to-end/dms.spec.ts
Due: none

imported registration changes from the voip push PR
  ee/packages/media-calls/src/internal/SignalProcessor.ts
  packages/media-signaling/src/definition/signals/client/register.ts
  packages/media-signaling/src/definition/signals/server/MediaSignal.ts
  packages/media-signaling/src/definition/signals/server/index.ts
  packages/media-signaling/src/definition/signals/server/registered.ts
  packages/media-signaling/src/lib/Session.ts
  packages/media-signaling/src/lib/components/SessionRegistration.ts
  packages/ui-voip/src/providers/useMediaSessionInstance.ts
Due: none

fix tests
  ee/packages/federation-matrix/tests/end-to-end/dms.spec.ts
Due: none

docs: add CONTRIBUTING.md to repository root
  CONTRIBUTING.md
Due: none

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
