Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true
  
  e2e-api:
    paths:
      - apps/meteor/server
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'
fixes:
  - '/home/runner/work/Rocket.Chat/Rocket.Chat/::'

Update toggle and peerInfo type. Get peerInfo from call/autocomplete only.
  packages/ui-voip/src/providers/MediaCallProvider.tsx
  packages/ui-voip/src/providers/useMediaSession.ts
  packages/ui-voip/src/v2/MediaCallContext.ts
  packages/ui-voip/src/v2/MockedMediaCallProvider.tsx
  packages/ui-voip/src/v2/components/PeerInfo/InternalUser.tsx
  packages/ui-voip/src/v2/components/PeerInfo/PeerInfo.tsx
  packages/ui-voip/src/v2/views/NewCall.tsx
Due: none

Fix Device change and lingering picker issues
  packages/ui-voip/src/hooks/useDevicePermissionPrompt.tsx
  packages/ui-voip/src/providers/MediaCallProvider.tsx
  packages/ui-voip/src/providers/useMediaSession.ts
  packages/ui-voip/src/providers/useMediaStream.ts
  packages/ui-voip/src/v2/MediaCallContext.ts
  packages/ui-voip/src/v2/MockedMediaCallProvider.tsx
  packages/ui-voip/src/v2/components/DevicePicker.tsx
  packages/ui-voip/src/v2/views/IncomingCall.tsx
Due: none

Implement sounds
  packages/ui-voip/src/providers/useCallSounds.ts
  packages/ui-voip/src/providers/useMediaSession.ts
Due: none

get correct peerinfo
  packages/ui-voip/src/providers/MediaCallProvider.tsx
Due: none

Fix stories
  packages/ui-voip/src/v2/MediaCallWidget.stories.tsx
  packages/ui-voip/src/v2/MockedMediaCallProvider.tsx
  packages/ui-voip/src/v2/components/PeerInfo/PeerInfo.stories.tsx
Due: none

Fix wrong Icon for ongoing call
  packages/ui-voip/src/v2/views/OngoingCall.tsx
Due: none

Fix ts
  packages/ui-voip/src/v2/MediaCallWidget.stories.tsx
Due: none

lockfile
  yarn.lock
Due: none

WIP
  apps/meteor/client/hooks/roomActions/useMediaCallRoomAction.ts
  apps/meteor/client/providers/MeteorProvider.tsx
  apps/meteor/client/ui.ts
  packages/ui-voip/src/index.ts
  packages/ui-voip/src/providers/MediaCallProvider.tsx
  packages/ui-voip/src/providers/useMediaSession.ts
  packages/ui-voip/src/providers/useMediaStream.ts
  packages/ui-voip/src/v2/MediaCallContext.ts
  packages/ui-voip/src/v2/components/Widget/Widget.tsx
  packages/ui-voip/src/v2/index.ts
  packages/ui-voip/src/v2/views/NewCall.tsx
Due: e2e, client

Fix stream not stopping
  packages/ui-voip/src/providers/useMediaStream.ts
Due: none

implement ice config and fix lingering stream after switching devices
  packages/ui-voip/src/providers/MediaCallProvider.tsx
  packages/ui-voip/src/providers/useMediaSession.ts
Due: none

update snapshots
  packages/ui-voip/src/v2/__snapshots__/MediaCallWidget.spec.tsx.snap
Due: none

attribute default text color to widget
  packages/ui-voip/src/v2/components/Widget/Widget.tsx
Due: none

Update user menu
  apps/meteor/client/sidebar/header/hooks/useUserMenu.tsx
Due: e2e, client

make dragabble
  packages/ui-voip/src/v2/components/Widget/Widget.tsx
  packages/ui-voip/src/v2/components/Widget/WidgetDraggableContext.ts
  packages/ui-voip/src/v2/components/Widget/WidgetHandle.tsx
Due: none

Partially update impl
  packages/ui-voip/package.json
  packages/ui-voip/src/providers/useMediaSession.ts
Due: none

fix null node
  packages/ui-voip/src/providers/useMediaStream.ts
Due: none

Update call buttons
  apps/meteor/client/NavBarV2/NavBarVoipGroup/hooks/useMediaCallAction.ts
  apps/meteor/client/hooks/roomActions/useMediaCallRoomAction.ts
Due: e2e, client

WIP permission modals
  packages/ui-contexts/src/hooks/useMediaDevicePermission.ts
  packages/ui-voip/src/hooks/useDevicePermissionPrompt.tsx
  packages/ui-voip/src/providers/useMediaSession.ts
  packages/ui-voip/src/v2/components/DevicePicker.tsx
Due: none

Implement hold
  packages/ui-voip/src/providers/useMediaSession.ts
Due: none

Update snapshots
  packages/ui-voip/src/v2/__snapshots__/MediaCallWidget.spec.tsx.snap
Due: none

call instantly from hoom header
  apps/meteor/client/hooks/roomActions/useMediaCallRoomAction.ts
Due: e2e, client

Fix color
  packages/ui-voip/src/v2/components/PeerInfo/InternalUser.tsx
Due: none

Send signals through stream
  packages/ui-voip/src/providers/MediaCallProvider.tsx
  packages/ui-voip/src/providers/useMediaSession.ts
  packages/ui-voip/src/v2/MediaCallContext.ts
  packages/ui-voip/src/v2/views/NewCall.tsx
Due: none

extend webrtc processor and implement mute
  packages/media-signaling/src/lib/services/webrtc/Processor.ts
  packages/ui-voip/src/providers/MediaCallProvider.tsx
  packages/ui-voip/src/providers/useMediaSession.ts
Due: none

Fix hangup
  packages/ui-voip/src/providers/useMediaSession.ts
Due: none

Remove "old" voip
  apps/meteor/client/ui.ts
Due: e2e, client

refactor: improved tags info a11y
  apps/meteor/client/views/omnichannel/directory/chats/ChatInfo/ChatInfo.tsx
Due: e2e, client

chore: changeset
  .changeset/swift-ears-sparkle.md
Due: none

add more history
  packages/e2ee/docs/NOTES.md
Due: none

chore: changeset
  .changeset/strong-cars-drum.md
Due: none

refactor: switch from type to interface since Typia has issues with type aliases
  apps/meteor/app/api/server/v1/integrations.ts
  packages/core-typings/src/Ajv.ts
Due: e2e

test: fix test
  apps/meteor/tests/data/uploads.helper.ts
Due: e2e

feat(outbound): UI permissions (#36794)
  apps/meteor/client/NavBarV2/NavBarPagesGroup/hooks/useCreateNewItems.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/OutboundMessageWizard.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/components/OutboundMessageWizardErrorState.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/forms/RepliesForm.spec.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/forms/RepliesForm.tsx
  apps/meteor/client/sidebar/header/actions/hooks/useCreateRoomItems.tsx
  apps/meteor/client/views/omnichannel/contactInfo/tabs/ContactInfoChannels/ContactInfoChannelsItem.tsx
  apps/meteor/client/views/omnichannel/contactInfo/tabs/ContactInfoDetails/ContactInfoOutboundMessageButton.tsx
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

feat(outbound): Send message logic (#36631)
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/OutboundMessageWizard.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/modals/OutboundMessageModal/OutboundMessageModal.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/utils/outbound-message.ts
  apps/meteor/client/components/Omnichannel/OutboundMessage/utils/template.ts
  apps/meteor/ee/app/livechat-enterprise/server/outboundcomms/rest.ts
  packages/apps-engine/src/definition/outboundComunication/IOutboundMessage.ts
  packages/core-typings/src/omnichannel/outbound.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

improve tests
  apps/meteor/tests/end-to-end/api/rooms.ts
Due: e2e

chore: update the test error for invalid params
  apps/meteor/tests/end-to-end/api/incoming-integrations.ts
Due: e2e

renamed `onHold` to `held` and improved some comments
  packages/media-signaling/src/definition/call/IClientMediaCall.ts
  packages/media-signaling/src/definition/services/webrtc/IWebRTCProcessor.ts
  packages/media-signaling/src/lib/Call.ts
  packages/media-signaling/src/lib/services/webrtc/LocalStream.ts
  packages/media-signaling/src/lib/services/webrtc/Processor.ts
  packages/media-signaling/src/lib/services/webrtc/RemoteStream.ts
  packages/media-signaling/src/lib/services/webrtc/Stream.ts
Due: none
