Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

feat: add redaction to logger middleware
  apps/meteor/app/api/server/middlewares/logger.ts
Due: e2e

fix: validatorFn mutates its parameter, pass clone instead
  packages/http-router/src/Router.ts
Due: none

chore: replace `All_status` usage
  apps/meteor/client/views/marketplace/AppsPage/AppsPageContent.tsx
Due: e2e, client

test(registration): add comprehensive test coverage for RegisterForm refactoring
  packages/web-ui-registration/src/RegisterForm.spec.tsx
  packages/web-ui-registration/src/components/FormFieldInput.spec.tsx
  packages/web-ui-registration/src/components/PasswordFieldWithVerifier.spec.tsx
  packages/web-ui-registration/src/hooks/useRegisterErrorHandler.spec.tsx
  packages/web-ui-registration/src/hooks/useRegisterFormValidation.spec.tsx
Due: none

chore: validateDOMNesting warning in Analytics Reports (#38336)
  apps/meteor/client/views/admin/viewLogs/AnalyticsReports.tsx
Due: e2e, client

change ?? by ||
  apps/meteor/server/hooks/sauMonitorHooks.ts
  apps/meteor/server/services/device-management/service.ts
  apps/meteor/server/services/sauMonitor/service.ts
Due: e2e, e2e-api

fix: vertically align app icons in GenericMenu
  packages/ui-client/src/components/GenericMenu/GenericMenuItem.tsx
Due: none

new phone and sms support
  DEV_NOTES.md
  apps/meteor/app/api/server/v1/medsense.ts
  apps/meteor/app/api/server/v1/users.ts
  apps/meteor/app/lib/server/functions/deleteRoom.ts
  apps/meteor/app/lib/server/functions/getFullUserData.ts
  apps/meteor/app/lib/server/startup/medsense.ts
  apps/meteor/client/views/account/profile/AccountProfileForm.tsx
  apps/meteor/client/views/account/profile/getProfileInitialValues.ts
  apps/meteor/client/views/admin/medsense/MedsenseAdminPage.tsx
  apps/meteor/client/views/admin/medsense/MedsenseAdminRoute.tsx
  apps/meteor/client/views/admin/settings/Setting/MemoizedSetting.tsx
  apps/meteor/client/views/admin/settings/Setting/inputs/MedsenseStatusColorInput.tsx
  apps/meteor/client/views/medsense/queue/QueuePage.tsx
  apps/meteor/server/methods/registerUser.ts
  apps/meteor/server/methods/saveUserProfile.ts
  apps/meteor/server/settings/omnichannel.ts
  login_response.json
  packages/apps-engine/.deno-cache-cjs/latest.txt
  packages/core-typings/src/IMedsenseRequest.ts
  packages/i18n/src/locales/en.i18n.json
  packages/models/src/models/MedsenseRequests.ts
  packages/rest-typings/src/v1/users/UserRegisterParamsPOST.ts
  packages/rest-typings/src/v1/users/UsersUpdateOwnBasicInfoParamsPOST.ts
  packages/web-ui-registration/package.json
  packages/web-ui-registration/src/RegisterForm.tsx
  packages/web-ui-registration/src/components/PhoneNumberInput/PhoneNumberInput.tsx
  packages/web-ui-registration/src/components/PhoneNumberInput/countries.ts
  packages/web-ui-registration/src/index.ts
  user_info.json
  yarn.lock
Due: e2e, e2e-api, client

fix: Per-test userEvent instance and CustomFieldsForm test
  packages/web-ui-registration/src/RegisterForm.spec.tsx
Due: none

Solved defaultAppRoot issue
  packages/web-ui-registration/src/RegisterForm.spec.tsx
Due: none

move loginToken conditional upstream preventing device-login duplicated call
  apps/meteor/ee/server/lib/deviceManagement/session.ts
  apps/meteor/server/hooks/sauMonitorHooks.ts
  apps/meteor/server/services/device-management/events.ts
  apps/meteor/server/services/device-management/service.ts
Due: e2e, e2e-api

fix: removing files from e2ee rooms do not remove their messages and vice-versa
  apps/meteor/app/api/server/v1/rooms.ts
  apps/meteor/app/file-upload/server/methods/sendFileMessage.ts
  apps/meteor/app/lib/server/functions/notifications/email.js
  apps/meteor/app/ui-utils/client/lib/RoomHistoryManager.ts
  apps/meteor/client/lib/chats/flows/uploadFiles.ts
  apps/meteor/client/lib/e2ee/rocketchat.e2e.room.ts
  apps/meteor/server/services/upload/service.ts
  packages/core-typings/src/IMessage/MessageAttachment/Files/RemovedFileAttachmentProps.ts
  packages/core-typings/src/IMessage/MessageAttachment/Files/index.ts
  packages/core-typings/src/IMessage/MessageAttachment/MessageAttachment.ts
Due: e2e, e2e-api, client

fix: schema definition POSTLivechatSaveCustomFieldsSchema
  apps/meteor/app/livechat/server/api/v1/customField.ts
  packages/model-typings/src/models/ILivechatCustomFieldModel.ts
  packages/models/src/models/LivechatCustomField.ts
  packages/rest-typings/src/v1/omnichannel.ts
Due: e2e

refactor: Kevin said this is not needed
  packages/rest-typings/src/v1/omnichannel.ts
Due: none

chore: unsafe type assertion in `CannedResponseForm` (#38341)
  apps/meteor/client/views/omnichannel/cannedResponses/components/CannedResponseForm.tsx
Due: e2e, client

update build to a newer es version
  apps/meteor/client/meteor/minimongo/MinimongoCollection.ts
  apps/meteor/tests/e2e/page-objects/fragments/toast-messages.ts
  apps/meteor/tsconfig.json
  packages/apps-engine/src/server/accessors/DiscussionBuilder.ts
  packages/apps-engine/tsconfig.json
  packages/base64/tsconfig.build.json
  packages/ddp-client/tsconfig.json
  packages/livechat/tsconfig.webpack.json
  packages/message-parser/tsconfig.build.json
  packages/message-parser/tsconfig.json
  packages/random/tsconfig.build.json
  packages/sha256/tsconfig.build.json
  packages/tsconfig/base.json
  packages/tsconfig/client.json
  packages/tsconfig/server.json
Due: e2e, client

fix lint
  apps/meteor/.babelrc
  apps/meteor/.eslintrc.json
  packages/base64/tsconfig.build.json
Due: e2e

update meteor build targets
  apps/meteor/.babelrc
  yarn.lock
Due: e2e

refactor: reposition field declaration to preserve JSDoc attachment
  apps/meteor/client/meteor/minimongo/MinimongoCollection.ts
Due: e2e, client

refactor: keep the readonly field
  apps/meteor/tests/e2e/page-objects/fragments/toast-messages.ts
Due: e2e

chore: format .babelrc
  apps/meteor/.babelrc
Due: e2e

review 1
  apps/meteor/app/api/server/helpers/getUserFromParams.ts
Due: e2e

fix: sort parameter validation on `/api/v1/audit.settings` endpoint (#38366)
  .changeset/odd-colts-doubt.md
  apps/meteor/tests/end-to-end/api/settings.ts
  packages/rest-typings/src/v1/server-events/ServerEventsAuditSettingsParamsGET.ts
Due: e2e

refactor: standardize omnichannel modals using GenericModal
  apps/meteor/client/views/omnichannel/modals/CloseChatModal.tsx
  apps/meteor/client/views/omnichannel/modals/EnterpriseDepartmentsModal.tsx
  apps/meteor/client/views/omnichannel/modals/ForwardChatModal.tsx
  apps/meteor/client/views/omnichannel/modals/ReturnChatQueueModal.tsx
Due: e2e, client

fix(ui): prevent horizontal overflow on home page mobile
  apps/meteor/client/views/home/DefaultHomePage.tsx
  apps/meteor/client/views/home/cards/CustomContentCard.tsx
  apps/meteor/client/views/home/hooks/useMobileViewportFix.ts
Due: e2e, client

chore: add changeset
  .changeset/great-otters-develop.md
  apps/meteor/client/views/home/DefaultHomePage.tsx
Due: e2e, client

fix: remove duplicate useOutsideClick hook in EnterpriseDepartmentsModal
  apps/meteor/client/views/omnichannel/modals/EnterpriseDepartmentsModal.tsx
Due: e2e, client

fix: correct import path and scope scrollbar css
  apps/meteor/client/views/home/hooks/useMobileViewportFix.ts
Due: e2e, client

fix: debounce room files search input to reduce file list API calls
  apps/meteor/client/views/room/contextualBar/RoomFiles/RoomFilesWithData.tsx
Due: e2e, client

fix: remove useOutsideClick and ref from EnterpriseDepartmentsModal to fix build
  apps/meteor/client/views/omnichannel/modals/EnterpriseDepartmentsModal.tsx
Due: e2e, client

Refactor ReturnChatQueueModal to use GenericModal
  apps/meteor/client/views/omnichannel/modals/ReturnChatQueueModal.tsx
Due: e2e, client

chore: remove stale TODOs from EnterpriseDepartmentsModal
  apps/meteor/client/views/omnichannel/modals/EnterpriseDepartmentsModal.tsx
Due: e2e, client

fix(model-typings): resolve empty interface violations
  packages/model-typings/src/models/IAbacAttributesModel.ts
  packages/model-typings/src/models/ILivechatCustomFieldModel.ts
  packages/model-typings/src/models/ISmarshHistoryModel.ts
Due: none

refactor(omnichannel): replace SelectLegacy with Select in ActionForm
  apps/meteor/client/views/omnichannel/triggers/actions/ActionForm.tsx
Due: e2e, client

refactor(omnichannel): replace SelectLegacy with SelectFiltered in ActionForm
  apps/meteor/client/views/omnichannel/triggers/actions/ActionForm.tsx
Due: e2e, client

refactor(api): replace type in twoFactorRequired and saveUserProfile methods by using AuthenticatedContext
  apps/meteor/app/2fa/server/twoFactorRequired.ts
  apps/meteor/app/api/server/v1/users.ts
  apps/meteor/server/methods/saveUserProfile.ts
Due: e2e, e2e-api

fix: api cannot clear contact manager field
  apps/meteor/app/livechat/server/lib/contacts/updateContact.ts
  apps/meteor/tests/end-to-end/api/livechat/contacts.ts
  packages/models/src/models/LivechatContacts.ts
Due: e2e

Update thick-ties-hunt.md
  .changeset/thick-ties-hunt.md
Due: none

added changeset
  .changeset/thick-ties-hunt.md
Due: none

fix: contactManager could not be cleared
  apps/meteor/app/livechat/server/lib/contacts/resolveContactConflicts.ts
  apps/meteor/app/livechat/server/lib/contacts/updateContact.ts
  apps/meteor/tests/end-to-end/api/livechat/contacts.ts
  packages/model-typings/src/models/ILivechatContactsModel.ts
  packages/models/src/models/LivechatContacts.ts
Due: e2e

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
