Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'

fix: handle undefined room prop and TS migration
  apps/meteor/client/views/teams/contextualBar/members/RemoveUsersModal/BaseRemoveUsersModal.tsx
  apps/meteor/client/views/teams/contextualBar/members/RemoveUsersModal/RemoveUsersFirstStep.tsx
  apps/meteor/client/views/teams/contextualBar/members/RemoveUsersModal/RemoveUsersModal.js
  apps/meteor/client/views/teams/contextualBar/members/RemoveUsersModal/RemoveUsersModal.tsx
  apps/meteor/client/views/teams/contextualBar/members/RemoveUsersModal/RemoveUsersSecondStep.js
  apps/meteor/client/views/teams/contextualBar/members/RemoveUsersModal/RemoveUsersSecondStep.tsx
Due: e2e, client

API typing
  packages/rest-typings/src/v1/teams/index.ts
Due: none

add cs
  .changeset/selfish-cobras-refuse.md
Due: none

Deploy preview for PR 33280 🛫
  pr-preview/pr-33280/uikit-playground/assets/CodeBlock-50816f33.js
  pr-preview/pr-33280/uikit-playground/assets/KatexBlock-663f8d2c.js
  pr-preview/pr-33280/uikit-playground/assets/KatexBlock-e7229854.js
  pr-preview/pr-33280/uikit-playground/assets/KatexElement-953a76ca.js
  pr-preview/pr-33280/uikit-playground/assets/KatexElement-b5d4ef37.js
  pr-preview/pr-33280/uikit-playground/assets/index-1531f5b3.css
  pr-preview/pr-33280/uikit-playground/assets/index-7ec5ef84.js
  pr-preview/pr-33280/uikit-playground/assets/index-a62e8ddc.css
  pr-preview/pr-33280/uikit-playground/assets/katex-3c610da1.js
  pr-preview/pr-33280/uikit-playground/assets/katex-c2839aef.js
  pr-preview/pr-33280/uikit-playground/index.html
Due: none

fix: error on sendmessage stub (#33317)
  .changeset/cyan-ladybugs-thank.md
  apps/meteor/app/lib/client/methods/sendMessage.ts
Due: e2e

Adjust type names
  apps/meteor/client/views/admin/users/AdminUserInfoActions.tsx
  apps/meteor/client/views/admin/users/AdminUserInfoWithData.tsx
  apps/meteor/client/views/admin/users/AdminUsersPage.tsx
  apps/meteor/client/views/admin/users/UsersTable/UsersTable.tsx
  apps/meteor/client/views/admin/users/UsersTable/UsersTableRow.tsx
  apps/meteor/client/views/admin/users/hooks/useFilteredUsers.ts
Due: e2e, client

tests: attempts to fix tests related to feature previews
  apps/meteor/tests/end-to-end/api/miscellaneous.ts
  packages/i18n/src/locales/hi-IN.i18n.json
Due: e2e

test: ensure that filtering is working
  apps/meteor/tests/end-to-end/api/livechat/contacts.ts
Due: e2e

test: change livechat widget e2e to expect multiple messages
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat.spec.ts
Due: e2e

feat: contextualbar based on chat size
  apps/meteor/client/components/Contextualbar/ContextualbarDialog.tsx
  apps/meteor/client/views/room/layout/RoomLayout.tsx
Due: e2e, client

Create kind-llamas-grin.md
  .changeset/kind-llamas-grin.md
Due: none

Replace `voiceCall` with `voip`
  apps/meteor/client/views/admin/users/UsersTable/UsersTableRow.tsx
  apps/meteor/client/views/admin/users/hooks/useVoipExtensionAction.tsx
Due: e2e, client

feat: added index for user's freeSwitchExtension
  apps/meteor/server/models/raw/Users.js
Due: e2e

chore: removes setUserPreference() from handleSave()
  apps/meteor/client/views/admin/featurePreview/AdminFeaturePreviewPage.tsx
Due: e2e, client

lint error fixed
  packages/message-parser/tests/url.test.ts
Due: none

chore: removes unseen features badge from admin sidebar
  apps/meteor/client/views/admin/featurePreview/AdminFeaturePreviewPage.tsx
  apps/meteor/client/views/admin/sidebarItems.tsx
Due: e2e, client

Update setReaction.ts
  apps/meteor/app/reactions/server/setReaction.ts
Due: e2e

Update apps/meteor/app/livechat/server/lib/Contacts.ts
  apps/meteor/app/livechat/server/lib/Contacts.ts
Due: e2e

feat: contextualbar based on chat size (#33321)
  .changeset/kind-llamas-grin.md
  apps/meteor/client/components/Contextualbar/ContextualbarDialog.tsx
  apps/meteor/client/views/room/layout/RoomLayout.tsx
Due: e2e, client

feat: handle `RoomManager` open secondLevel
  apps/meteor/app/api/server/v1/rooms.ts
  apps/meteor/client/hooks/useRoomInfoEndpoint.ts
  apps/meteor/client/lib/RoomManager.ts
  apps/meteor/client/views/room/providers/RoomProvider.tsx
  apps/meteor/lib/publishFields.ts
  packages/core-typings/src/IRoom.ts
  packages/rest-typings/src/v1/rooms.ts
Due: e2e, client

feat: implement `RoomSidepanel` and enable feature preview
  apps/meteor/client/views/room/RoomOpener.tsx
  apps/meteor/client/views/room/Sidepanel/RoomSidepanel.tsx
  apps/meteor/client/views/room/Sidepanel/RoomSidepanelListWrapper.tsx
  apps/meteor/client/views/room/Sidepanel/RoomSidepanelLoading.tsx
  apps/meteor/client/views/room/Sidepanel/SidepanelItem/RoomSidepanelItem.tsx
  apps/meteor/client/views/room/Sidepanel/SidepanelItem/index.ts
  apps/meteor/client/views/room/Sidepanel/hooks/useItemData.tsx
  apps/meteor/client/views/room/Sidepanel/index.ts
  apps/meteor/client/views/room/layout/RoomLayout.tsx
  packages/ui-client/src/hooks/useFeaturePreviewList.ts
Due: e2e, client

regression: SIDE-169
  apps/meteor/client/sidebarv2/header/SearchSection.tsx
Due: e2e, client

changeset
  .changeset/witty-lemons-type.md
Due: none

regression: SIDE-160
  apps/meteor/client/sidebarv2/header/CreateTeamModal.tsx
Due: e2e, client

regression: SIDE-162
  apps/meteor/client/views/room/Sidepanel/RoomSidepanel.tsx
  apps/meteor/client/views/room/contextualBar/Info/EditRoomInfo/EditRoomInfo.tsx
Due: e2e, client

feat: `CreateTeamModal` and `EditRoomInfo` add sidepanel fields to the UI
  apps/meteor/client/sidebarv2/header/CreateTeamModal.tsx
  apps/meteor/client/views/room/contextualBar/Info/EditRoomInfo/EditRoomInfo.tsx
  apps/meteor/client/views/room/contextualBar/Info/EditRoomInfo/useEditRoomInitialValues.ts
Due: e2e, client

regression: SIDE-171
  packages/i18n/src/locales/en.i18n.json
Due: none

add sidepanel to `getParentRoom` projection
  apps/meteor/server/services/team/service.ts
Due: e2e

regression: SIDE-170
  apps/meteor/client/sidebarv2/header/CreateTeamModal.tsx
  apps/meteor/client/views/room/contextualBar/Info/EditRoomInfo/EditRoomInfo.tsx
Due: e2e, client

feat: disable feature preview component by flag
  packages/ui-client/src/components/FeaturePreview/FeaturePreview.tsx
Due: none

regression: SIDE-174
  apps/meteor/client/components/FeaturePreviewSidePanelNavigation.tsx
  apps/meteor/client/hooks/useSidePanelNavigation.ts
  apps/meteor/client/views/room/RoomOpener.tsx
  apps/meteor/client/views/room/providers/RoomProvider.tsx
Due: e2e, client

temp: fix reactivity item
  apps/meteor/client/views/room/Sidepanel/SidepanelItem/RoomSidepanelItem.tsx
Due: e2e, client

chore: updates changeset to add more information
  .changeset/quick-rings-wave.md
Due: none

chore: adds PR requested changes
  apps/meteor/client/views/admin/featurePreview/AdminFeaturePreviewPage.tsx
  packages/ui-client/src/hooks/useFeaturePreviewList.ts
Due: e2e, client

chore: removes unnecessary error handling
  apps/meteor/client/views/admin/featurePreview/AdminFeaturePreviewPage.tsx
Due: e2e, client
