Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

add gitpod config file
  .gitpod.yml
  README.md
Due: none

Cascade `ActionManager` through context only
  apps/meteor/app/ui-message/client/ActionManager.ts
  apps/meteor/app/ui/client/lib/ChatMessages.ts
  apps/meteor/client/components/message/uikit/UiKitMessageBlock.tsx
  apps/meteor/client/lib/chats/ChatAPI.ts
  apps/meteor/client/lib/chats/flows/processSlashCommand.ts
  apps/meteor/client/providers/ActionManagerProvider.tsx
  apps/meteor/client/views/room/providers/hooks/useChatMessagesInstance.ts
  packages/mock-providers/src/MockedAppRootBuilder.tsx
  packages/ui-contexts/src/ActionManagerContext.ts
  packages/ui-contexts/src/index.ts
Due: e2e, client

Cascade `appId` to text object elements
  packages/fuselage-ui-kit/src/contexts/AppIdContext.tsx
  packages/fuselage-ui-kit/src/elements/MarkdownTextElement.tsx
  packages/fuselage-ui-kit/src/elements/PlainTextElement.tsx
  packages/fuselage-ui-kit/src/hooks/useAppTranslation.ts
  packages/fuselage-ui-kit/src/surfaces/ContextualBarSurfaceRenderer.tsx
  packages/fuselage-ui-kit/src/surfaces/FuselageMessageSurfaceRenderer.tsx
  packages/fuselage-ui-kit/src/surfaces/FuselageSurfaceRenderer.tsx
  packages/fuselage-ui-kit/src/surfaces/index.ts
Due: none

Use namespaces in Apps' translations
  apps/meteor/client/hooks/useAppTranslations.ts
  apps/meteor/client/hooks/useTranslationsForApps.ts
  apps/meteor/client/lib/utils/normalizeLanguage.ts
  apps/meteor/client/providers/ActionManagerProvider.tsx
  apps/meteor/client/providers/TranslationProvider.tsx
  apps/meteor/ee/client/apps/orchestrator.ts
  apps/meteor/ee/lib/misc/Utilities.ts
  packages/fuselage-ui-kit/package.json
  packages/fuselage-ui-kit/src/elements/MarkdownTextElement.tsx
  packages/fuselage-ui-kit/src/elements/PlainTextElement.tsx
  packages/rest-typings/src/apps/index.ts
  packages/ui-contexts/src/TranslationContext.ts
  packages/web-ui-registration/src/components/LoginSwitchLanguageFooter.tsx
  yarn.lock
Due: e2e, client

Rearrange helpers
  packages/fuselage-ui-kit/src/extractInitialStateFromLayout.ts
  packages/fuselage-ui-kit/src/hooks/useUiKitState.ts
  packages/fuselage-ui-kit/src/index.ts
  packages/fuselage-ui-kit/src/utils/extractInitialStateFromLayout.ts
  packages/fuselage-ui-kit/src/utils/getInitialValue.ts
  packages/fuselage-ui-kit/src/utils/hasElement.ts
  packages/fuselage-ui-kit/src/utils/hasElements.ts
Due: none

Fix module import
  apps/meteor/client/hooks/useTranslationsForApps.ts
  apps/meteor/client/providers/TranslationProvider.tsx
  apps/meteor/client/views/room/providers/hooks/useChatMessagesInstance.ts
  packages/tools/src/index.ts
  packages/tools/src/normalizeLanguage.ts
  packages/web-ui-registration/package.json
  packages/web-ui-registration/src/components/LoginSwitchLanguageFooter.tsx
  yarn.lock
Due: e2e, client

Upgrade turbo
  apps/meteor/client/views/room/providers/hooks/useChatMessagesInstance.ts
Due: e2e, client

Fix `AppIdContext` usage
  packages/fuselage-ui-kit/src/contexts/AppIdContext.tsx
  packages/fuselage-ui-kit/src/hooks/useAppTranslation.ts
Due: none

Overcome React's Suspense on rendering strings from text objects
  packages/fuselage-ui-kit/src/elements/DatePickerElement.tsx
  packages/fuselage-ui-kit/src/elements/MultiStaticSelectElement.tsx
  packages/fuselage-ui-kit/src/elements/OverflowElement.tsx
  packages/fuselage-ui-kit/src/elements/PlainTextInputElement.tsx
  packages/fuselage-ui-kit/src/elements/StaticSelectElement.tsx
  packages/fuselage-ui-kit/src/elements/TimePickerElement.tsx
  packages/fuselage-ui-kit/src/hooks/useStringFromTextObject.ts
  packages/fuselage-ui-kit/src/utils/fromTextObjectToString.ts
Due: none

Fix flakyness
  apps/meteor/tests/e2e/message-actions.spec.ts
  apps/meteor/tests/e2e/utils/setUserPreferences.ts
Due: e2e

Add `CloudAnnouncementRegion` component
  apps/meteor/client/lib/appLayout.tsx
  apps/meteor/client/providers/RouterProvider.tsx
  apps/meteor/client/views/cloud/CloudAnnouncementHandler.tsx
  apps/meteor/client/views/cloud/CloudAnnouncementsRegion.tsx
  apps/meteor/client/views/root/AppLayout.tsx
  apps/meteor/client/views/root/hooks/useCloudAnnouncements.ts
Due: e2e, client

Fix i18n route
  apps/meteor/server/routes/i18n.ts
Due: e2e

Add helper for exhaustive checks
  apps/meteor/lib/utils/exhaustiveCheck.ts
  yarn.lock
Due: e2e

Fix TS
  packages/livechat/src/lib/hooks.ts
  packages/livechat/src/widget.ts
Due: none

Small Fixes
  packages/livechat/src/lib/hooks.ts
  packages/livechat/src/widget.ts
  packages/livechat/webpack.config.ts
Due: none

Create orange-dragons-fly.md
  .changeset/orange-dragons-fly.md
Due: none

chore: notify messages on emails incoming and outgoing
  apps/meteor/server/features/EmailInbox/EmailInbox_Incoming.ts
  apps/meteor/server/features/EmailInbox/EmailInbox_Outgoing.ts
Due: e2e

chore: bump version to 6.6.0-develop
  apps/meteor/.docker/Dockerfile.rhel
  apps/meteor/app/utils/rocketchat.info
  apps/meteor/package.json
  package.json
  packages/core-typings/package.json
  packages/gazzodown/package.json
  packages/rest-typings/package.json
  yarn.lock
Due: e2e

queue caused fairpolicy to go on loop
  apps/meteor/app/livechat/server/lib/RoutingManager.ts
  apps/meteor/ee/app/license/server/startup.ts
  apps/meteor/server/models/raw/Settings.ts
  apps/meteor/server/services/omnichannel/queue.ts
  packages/model-typings/src/models/ISettingsModel.ts
Due: e2e

chore: remove unnecessary fn
  apps/meteor/server/lib/isRunningMs.ts
Due: e2e

chore: publish events directly using broadcast
  apps/meteor/server/modules/watchers/lib/messages.ts
Due: e2e

chore: removing old references
  apps/meteor/app/discussion/server/hooks/propagateDiscussionMetadata.ts
  apps/meteor/app/lib/server/functions/deleteMessage.ts
  apps/meteor/app/lib/server/functions/sendMessage.js
  apps/meteor/app/lib/server/functions/updateMessage.ts
  apps/meteor/server/modules/watchers/lib/messages.ts
  apps/meteor/server/services/messages/service.ts
Due: e2e

regression: fx merge from release
  apps/meteor/packages/rocketchat-i18n/i18n/en.i18n.json
Due: e2e

chore: useless param
  apps/meteor/server/modules/watchers/lib/messages.ts
Due: e2e

regression: fx merge from release [2]
  apps/meteor/packages/rocketchat-i18n/i18n/en.i18n.json
Due: e2e

chore: Refactor Omnichannel EditCustomField UI (#30786)
  apps/meteor/client/views/omnichannel/additionalForms.tsx
  apps/meteor/client/views/omnichannel/customFields/CustomFieldsForm.stories.tsx
  apps/meteor/client/views/omnichannel/customFields/CustomFieldsPage.tsx
  apps/meteor/client/views/omnichannel/customFields/CustomFieldsRoute.tsx
  apps/meteor/client/views/omnichannel/customFields/CustomFieldsTable.tsx
  apps/meteor/client/views/omnichannel/customFields/EditCustomFields.tsx
  apps/meteor/client/views/omnichannel/customFields/EditCustomFieldsPage.js
  apps/meteor/client/views/omnichannel/customFields/EditCustomFieldsPageContainer.js
  apps/meteor/client/views/omnichannel/customFields/EditCustomFieldsWithData.tsx
  apps/meteor/client/views/omnichannel/customFields/NewCustomFieldsForm.js
  apps/meteor/client/views/omnichannel/customFields/NewCustomFieldsPage.js
  apps/meteor/client/views/omnichannel/customFields/useRemoveCustomField.tsx
  apps/meteor/ee/client/omnichannel/additionalForms/CustomFieldsAdditionalForm.js
  apps/meteor/ee/client/omnichannel/additionalForms/CustomFieldsAdditionalForm.tsx
  apps/meteor/ee/client/omnichannel/additionalForms/CustomFieldsAdditionalFormContainer.js
  apps/meteor/packages/rocketchat-i18n/i18n/en.i18n.json
  apps/meteor/tests/e2e/omnichannel/omnichannel-custom-fields.spec.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-custom-fields.ts
  packages/rest-typings/src/v1/omnichannel.ts
Due: e2e, client

check if queue can be started when license is validated
  apps/meteor/server/services/omnichannel/service.ts
  ee/packages/license/src/license.ts
Due: e2e

chore: undo param change
  apps/meteor/server/modules/watchers/lib/messages.ts
Due: e2e

fix reviews
  apps/meteor/client/views/omnichannel/agents/AgentEdit.tsx
  apps/meteor/tests/e2e/omnichannel/omnichannel-agents.spec.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-agents.ts
Due: e2e, client

chore: reverting param
  apps/meteor/app/discussion/server/hooks/propagateDiscussionMetadata.ts
  apps/meteor/app/lib/server/functions/deleteMessage.ts
  apps/meteor/app/lib/server/functions/sendMessage.js
  apps/meteor/app/lib/server/functions/updateMessage.ts
  apps/meteor/server/services/messages/service.ts
Due: e2e

chore: Replace `useForm` on admin `EditRoom` (#30907)
  apps/meteor/client/views/admin/rooms/EditRoom.tsx
  apps/meteor/client/views/admin/rooms/EditRoomContextBar.tsx
  apps/meteor/client/views/admin/rooms/EditRoomWithData.tsx
  apps/meteor/client/views/admin/rooms/RoomsPage.tsx
  apps/meteor/client/views/admin/rooms/useEditAdminRoomPermissions.ts
  apps/meteor/client/views/hooks/roomActions/useArchiveRoom.tsx
  apps/meteor/client/views/room/contextualBar/Info/EditRoomInfo/EditRoomInfo.tsx
Due: e2e, client

chore: delete user working without relying on msg db watcher (#30435)
  apps/meteor/app/lib/server/functions/deleteUser.ts
  apps/meteor/client/startup/UserDeleted.ts
  apps/meteor/server/modules/listeners/listeners.module.ts
  ee/packages/ddp-client/src/types/streams.ts
  packages/core-services/src/events/Events.ts
Due: e2e, client

chore: fix function
  apps/meteor/app/message-pin/server/pinMessage.ts
  apps/meteor/app/message-star/server/starMessage.ts
  apps/meteor/app/reactions/server/setReaction.ts
Due: e2e

chore: fix function
  apps/meteor/server/features/EmailInbox/EmailInbox_Incoming.ts
  apps/meteor/server/features/EmailInbox/EmailInbox_Outgoing.ts
Due: e2e

more hindi translation keys added
  apps/meteor/packages/rocketchat-i18n/i18n/hi-IN.i18n.json
Due: e2e

i18n: German lang E2E password fix
  apps/meteor/packages/rocketchat-i18n/i18n/de-IN.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/de.i18n.json
Due: e2e

remove wrong translations
  apps/meteor/packages/rocketchat-i18n/i18n/ar.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/de.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/es.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/fi.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/fr.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/gl.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/hu.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/ja.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/nl.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/pl.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/pt-BR.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/ru.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/sv.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/zh-TW.i18n.json
Due: e2e

Path conditions:
  e2e: any of: apps/meteor/
  client: any of: apps/meteor/client
