Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true
  
  e2e-api:
    paths:
      - apps/meteor/server
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'
fixes:
  - '/home/runner/work/Rocket.Chat/Rocket.Chat/::'

update playwright administration test
  apps/meteor/tests/e2e/administration.spec.ts
Due: e2e

chore: use i18n interpolation for expiration text
  apps/meteor/client/hooks/useExpirationText.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

fix: show status label as fallback when custom status has no text
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/hooks/useStatusItems.tsx
Due: e2e, client

fix: prevent bot user presence from going offline on private app update
  packages/apps/src/server/AppManager.ts
Due: none

tests
  apps/meteor/tests/end-to-end/apps/app-update-presence.ts
Due: e2e

added changeset
  .changeset/itchy-years-learn.md
Due: none

tests
  apps/meteor/tests/data/apps/app-packages/app-update-test_0.0.1.zip
  apps/meteor/tests/data/apps/app-packages/index.ts
  apps/meteor/tests/end-to-end/apps/app-update-presence.ts
  apps/meteor/tests/end-to-end/apps/apps-update.ts
Due: e2e

test: remove apps-update e2e suite
  apps/meteor/tests/data/apps/app-packages/app-update-test-broken_0.0.3.zip
  apps/meteor/tests/data/apps/app-packages/app-update-test-faulty_0.0.2.zip
  apps/meteor/tests/data/apps/app-packages/app-update-test_0.0.1.zip
  apps/meteor/tests/data/apps/app-packages/index.ts
  apps/meteor/tests/end-to-end/apps/apps-update.ts
Due: e2e

changeset
  .changeset/itchy-years-learn.md
Due: none

test
  apps/meteor/tests/end-to-end/apps/apps-update.ts
Due: e2e

fix(apps-engine): skip self-originated apps.updated event to prevent concurrent app update crash
  apps/meteor/ee/server/apps/communication/websockets.ts
  apps/meteor/server/services/apps-engine/service.ts
  apps/meteor/tests/data/apps/app-packages/app-update-test-broken_0.0.3.zip
  apps/meteor/tests/data/apps/app-packages/app-update-test-faulty_0.0.2.zip
  apps/meteor/tests/data/apps/app-packages/app-update-test_0.0.1.zip
  apps/meteor/tests/data/apps/app-packages/index.ts
  apps/meteor/tests/end-to-end/apps/apps-update.ts
  packages/core-services/src/events/Events.ts
Due: e2e, e2e-api

fix
  apps/meteor/tests/data/apps/app-packages/app-update-test-broken_0.0.3.zip
  apps/meteor/tests/data/apps/app-packages/app-update-test-faulty_0.0.2.zip
  apps/meteor/tests/data/apps/app-packages/index.ts
  apps/meteor/tests/end-to-end/apps/apps-update.ts
  packages/apps/src/server/AppManager.ts
Due: e2e

fix: prevent setting expiration on online status without message
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/EditStatusModal.tsx
  apps/meteor/client/views/account/profile/AccountProfileForm.tsx
Due: e2e, client

feat(client): integrate configurable layout engine and settings for room toolbox (GSoC 2026) (#40800)
  apps/meteor/client/views/room/Header/RoomToolbox/hooks/processRoomActions.ts
  apps/meteor/client/views/room/Header/RoomToolbox/hooks/useRoomToolboxActions.spec.ts
  apps/meteor/client/views/room/Header/RoomToolbox/hooks/useRoomToolboxActions.ts
  apps/meteor/server/settings/layout.ts
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/pt-BR.i18n.json
  packages/ui-client/src/hooks/useFeaturePreviewList.ts
Due: e2e, e2e-api, client

changeset
  .changeset/eight-areas-see.md
Due: none

fix: merge user initial status values
  apps/meteor/client/lib/getUserInitialStatus.ts
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/EditStatusModal.tsx
  apps/meteor/client/views/account/profile/getProfileInitialValues.ts
Due: e2e, client

fix stream stops playing when switching between popup and regular view
  packages/ui-voip/src/views/MediaCallRoomSection/MediaCallRoomSection.tsx
Due: none

Prevent multiple roots from being added
  packages/ui-voip/src/views/MediaCallPopoutWindow.tsx
Due: none

feat: Open call in a popup window (WIP)
  packages/ui-voip/src/views/MediaCallPopoutWindow.tsx
  packages/ui-voip/src/views/MediaCallRoomSection/MediaCallRoomActivity.tsx
  packages/ui-voip/src/views/MediaCallRoomSection/MediaCallRoomSection.tsx
Due: none

fix: Widget "Show call here" buttons styles
  packages/ui-voip/src/components/ToggleButton.tsx
  packages/ui-voip/src/views/MediaCallWidget/OngoingCallWithScreen.tsx
Due: none

chore: Remove "go to dm" button from popout view
  packages/ui-voip/src/views/MediaCallPopoutView.tsx
Due: none

feat: fullscreen support
  packages/ui-voip/src/views/MediaCallPopoutView.tsx
  packages/ui-voip/src/views/MediaCallPopoutWindow.tsx
Due: none

Add Widget and Popout to main provider root
  packages/ui-voip/src/providers/MediaCallProvider.tsx
Due: none

WIP: Call open in popout warning
  packages/i18n/src/locales/en.i18n.json
  packages/ui-voip/src/views/MediaCallRoomSection/MediaCallRoomSection.tsx
  packages/ui-voip/src/views/MediaCallWidget/OngoingCallWithScreen.tsx
Due: none

feat: Implement a proper view for popout
  packages/ui-voip/src/views/MediaCallPopoutView.tsx
  packages/ui-voip/src/views/MediaCallPopoutWindow.tsx
  packages/ui-voip/src/views/MediaCallRoomSection/MediaCallRoomActivity.tsx
Due: none

refactor: export callbacks to open/close popout from view context
  packages/ui-voip/src/context/MediaCallViewContext.ts
  packages/ui-voip/src/providers/MediaCallViewProvider.tsx
  packages/ui-voip/src/providers/MockedMediaCallProvider.tsx
  packages/ui-voip/src/views/MediaCallPopout.tsx
  packages/ui-voip/src/views/MediaCallPopoutWindow.tsx
  packages/ui-voip/src/views/MediaCallRoomSection/MediaCallRoomSection.tsx
  packages/ui-voip/src/views/MediaCallWidget/OngoingCallWithScreen.tsx
Due: none

fix: Update "document" contexts import
  packages/ui-voip/src/views/MediaCallPopoutWindow.tsx
Due: none

feat: Translation strings
  packages/i18n/src/locales/en.i18n.json
  packages/ui-voip/src/views/MediaCallPopoutView.tsx
  packages/ui-voip/src/views/MediaCallRoomSection/MediaCallRoomSection.tsx
  packages/ui-voip/src/views/MediaCallWidget/OngoingCallWithScreen.tsx
Due: none

Close popout when call ends
  packages/ui-voip/src/views/MediaCallPopout.tsx
  packages/ui-voip/src/views/MediaCallPopoutWindow.tsx
  packages/ui-voip/src/views/MediaCallRoomSection/MediaCallRoomSection.tsx
Due: none

refactor: move popout rendering to its own component
  packages/ui-voip/src/views/MediaCallPopout.tsx
  packages/ui-voip/src/views/MediaCallPopoutWindow.tsx
  packages/ui-voip/src/views/MediaCallRoomSection/MediaCallRoomActivity.tsx
Due: none

refactor: Implement global view state
  packages/ui-voip/src/context/MediaCallInstanceContext.ts
  packages/ui-voip/src/context/useRegisterView.ts
  packages/ui-voip/src/context/useRoomView.ts
  packages/ui-voip/src/providers/MediaCallInstanceProvider.tsx
  packages/ui-voip/src/providers/MockedMediaCallProvider.tsx
  packages/ui-voip/src/views/MediaCallRoomSection/MediaCallRoomActivity.tsx
  packages/ui-voip/src/views/MediaCallRoomSection/MediaCallRoomSection.tsx
  packages/ui-voip/src/views/MediaCallWidget/MediaCallWidget.tsx
Due: none

feat: Add non-danger variant to ToggleButton
  packages/ui-voip/src/components/ToggleButton.tsx
  packages/ui-voip/src/views/MediaCallPopoutView.tsx
  packages/ui-voip/src/views/MediaCallRoomSection/MediaCallRoomSection.tsx
Due: none

Update Icons
  packages/ui-voip/src/views/MediaCallPopoutView.tsx
  packages/ui-voip/src/views/MediaCallRoomSection/MediaCallRoomSection.tsx
  packages/ui-voip/src/views/MediaCallWidget/OngoingCallWithScreen.tsx
Due: none

refactor: Update document contexts and improve unload callbacks
  packages/ui-voip/src/views/MediaCallPopoutWindow.tsx
  packages/ui-voip/src/views/MediaCallRoomSection/MediaCallRoomActivity.tsx
Due: none

fix core provider
  apps/meteor/client/providers/MediaCallProvider.tsx
Due: e2e, client

Remove widget component from MediaCallViewProvider
  packages/ui-voip/src/providers/MediaCallViewProvider.tsx
Due: none

refactor: Improve available views tracking logic and reliability
  packages/ui-voip/src/context/MediaCallInstanceContext.ts
  packages/ui-voip/src/context/useRegisterView.ts
  packages/ui-voip/src/providers/MediaCallInstanceProvider.tsx
  packages/ui-voip/src/providers/MediaCallViewProvider.tsx
  packages/ui-voip/src/providers/MockedMediaCallProvider.tsx
  packages/ui-voip/src/providers/useAvailableViewTracker.ts
  packages/ui-voip/src/views/MediaCallRoomSection/MediaCallRoomSection.tsx
  packages/ui-voip/src/views/MediaCallWidget/OngoingCallWithScreen.tsx
Due: none

fix: MediaCallProvider (core) unauthorized context value
  apps/meteor/client/providers/MediaCallProvider.tsx
Due: e2e, client

fix: useAvailableViewTracker filter being applied twice
  packages/ui-voip/src/providers/useAvailableViewTracker.ts
Due: none

chore: Fix landing view generation message
  packages/ui-voip/src/generate-landing-view.tsx
Due: none
