Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'

Deploy preview for PR 32779 🛫
  pr-preview/pr-32779/fuselage-ui-kit/project.json
  pr-preview/pr-32779/gazzodown/project.json
  pr-preview/pr-32779/ui-composer/MessageFooterCallout-MessageFooterCallout-stories.4e2be134.iframe.bundle.js
  pr-preview/pr-32779/ui-composer/MessageFooterCallout-MessageFooterCallout-stories.93e3598f.iframe.bundle.js
  pr-preview/pr-32779/ui-composer/iframe.html
  pr-preview/pr-32779/ui-composer/project.json
  pr-preview/pr-32779/ui-composer/runtime~main.67ec2b92.iframe.bundle.js
  pr-preview/pr-32779/ui-composer/runtime~main.f5f7bde3.iframe.bundle.js
Due: none

deploy: 429d00024c87ae44a14a1bab8ebaf8febfd1faec
  develop/fuselage-ui-kit/project.json
  develop/gazzodown/project.json
  develop/ui-composer/project.json
Due: none

Deploy preview for PR 32727 🛫
  pr-preview/pr-32727/fuselage-ui-kit/project.json
  pr-preview/pr-32727/gazzodown/project.json
  pr-preview/pr-32727/ui-composer/968.b2be40f6.iframe.bundle.js
  pr-preview/pr-32727/ui-composer/968.b2be40f6.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-32727/ui-composer/968.b2be40f6.iframe.bundle.js.map
  pr-preview/pr-32727/ui-composer/968.f5f381ae.iframe.bundle.js
  pr-preview/pr-32727/ui-composer/968.f5f381ae.iframe.bundle.js.map
  pr-preview/pr-32727/ui-composer/MessageFooterCallout-MessageFooterCallout-stories.4e2be134.iframe.bundle.js
  pr-preview/pr-32727/ui-composer/MessageFooterCallout-MessageFooterCallout-stories.93e3598f.iframe.bundle.js
  pr-preview/pr-32727/ui-composer/iframe.html
  pr-preview/pr-32727/ui-composer/project.json
  pr-preview/pr-32727/ui-composer/runtime~main.67ec2b92.iframe.bundle.js
  pr-preview/pr-32727/ui-composer/runtime~main.f5f7bde3.iframe.bundle.js
  pr-preview/pr-32727/ui-composer/static/media/rocketchat.2c6ee597.svg
  pr-preview/pr-32727/ui-composer/static/media/rocketchat.4f5cda76.ttf
  pr-preview/pr-32727/ui-composer/static/media/rocketchat.600295d9.woff2
  pr-preview/pr-32727/ui-composer/static/media/rocketchat.892f0603.eot
  pr-preview/pr-32727/ui-composer/static/media/rocketchat.a6486f96.woff
Due: none

lint
  apps/meteor/tests/end-to-end/api/rooms.ts
Due: e2e

Add JSDoc
  apps/meteor/ee/app/api-enterprise/server/canned-responses.ts
  apps/meteor/ee/app/api-enterprise/server/lib/canned-responses.js
Due: e2e

Upgrade `@types/node` to match engine
  apps/meteor/app/meteor-accounts-saml/server/lib/SAML.ts
  apps/meteor/ee/server/services/package.json
  apps/meteor/package.json
  apps/meteor/server/email/IMAPInterceptor.ts
  ee/apps/account-service/package.json
  ee/apps/authorization-service/package.json
  ee/apps/ddp-streamer/package.json
  ee/apps/omnichannel-transcript/package.json
  ee/apps/presence-service/package.json
  ee/apps/queue-worker/package.json
  ee/apps/stream-hub-service/package.json
  ee/packages/network-broker/package.json
  ee/packages/omnichannel-services/package.json
  ee/packages/presence/package.json
  packages/apps-engine/package.json
  packages/message-parser/package.json
  packages/peggy-loader/package.json
  packages/release-action/package.json
  packages/release-changelog/package.json
  yarn.lock
Due: e2e

Deploy preview for PR 33665 🛫
  pr-preview/pr-33665/fuselage-ui-kit/project.json
  pr-preview/pr-33665/gazzodown/project.json
  pr-preview/pr-33665/ui-composer/MessageFooterCallout-MessageFooterCallout-stories.4e2be134.iframe.bundle.js
  pr-preview/pr-33665/ui-composer/MessageFooterCallout-MessageFooterCallout-stories.93e3598f.iframe.bundle.js
  pr-preview/pr-33665/ui-composer/iframe.html
  pr-preview/pr-33665/ui-composer/project.json
  pr-preview/pr-33665/ui-composer/runtime~main.67ec2b92.iframe.bundle.js
  pr-preview/pr-33665/ui-composer/runtime~main.f5f7bde3.iframe.bundle.js
Due: none

Deploy preview for PR 33549 🛫
  pr-preview/pr-33549/fuselage-ui-kit/project.json
  pr-preview/pr-33549/gazzodown/project.json
  pr-preview/pr-33549/ui-composer/MessageFooterCallout-MessageFooterCallout-stories.4e2be134.iframe.bundle.js
  pr-preview/pr-33549/ui-composer/MessageFooterCallout-MessageFooterCallout-stories.93e3598f.iframe.bundle.js
  pr-preview/pr-33549/ui-composer/iframe.html
  pr-preview/pr-33549/ui-composer/project.json
  pr-preview/pr-33549/ui-composer/runtime~main.67ec2b92.iframe.bundle.js
  pr-preview/pr-33549/ui-composer/runtime~main.f5f7bde3.iframe.bundle.js
Due: none

Migrate some modules
  apps/meteor/app/federation/server/handler/index.ts
  apps/meteor/app/irc/server/irc-bridge/localHandlers/index.ts
  apps/meteor/app/irc/server/irc-bridge/peerHandlers/index.ts
  apps/meteor/app/irc/server/servers/index.ts
  apps/meteor/app/ui-master/server/index.ts
  apps/meteor/app/ui-master/server/inject.ts
  apps/meteor/definition/externals/meteor/meteorhacks-inject-initial.d.ts
  apps/meteor/ee/server/apps/storage/index.ts
Due: e2e

Migrate `apps/meteor/app/livechat/client/collections/LivechatInquiry.js`
  apps/meteor/app/livechat/client/collections/LivechatInquiry.js
  apps/meteor/app/livechat/client/collections/LivechatInquiry.ts
  apps/meteor/app/livechat/client/lib/stream/queueManager.ts
  apps/meteor/client/providers/OmnichannelProvider.tsx
Due: e2e, client

Migrate `apps/meteor/app/emoji/client/emojiParser.js`
  apps/meteor/app/emoji/client/emojiParser.ts
  apps/meteor/app/threads/client/lib/normalizeThreadTitle.ts
  apps/meteor/client/components/MarkdownText.tsx
  apps/meteor/client/lib/utils/renderMessageEmoji.ts
Due: e2e, client

Migrate `apps/meteor/app/canned-responses/client/startup/responses.js`
  apps/meteor/app/canned-responses/client/startup/responses.ts
Due: e2e

Migrate `apps/meteor/app/slackbridge/client/slackbridge_import.client.js`
  apps/meteor/app/slackbridge/client/slackbridge_import.client.ts
Due: e2e

Migrate `apps/meteor/app/e2e/client/*.js`
  apps/meteor/app/e2e/client/events.ts
  apps/meteor/app/e2e/client/helper.ts
  apps/meteor/app/e2e/client/rocketchat.e2e.room.ts
  apps/meteor/app/e2e/client/rocketchat.e2e.ts
  apps/meteor/package.json
  packages/base64/src/base64.ts
  yarn.lock
Due: e2e

Migrate `apps/meteor/app/emoji-custom/client/lib/emojiCustom.js`
  apps/meteor/app/emoji-custom/client/lib/emojiCustom.ts
  apps/meteor/app/emoji-custom/client/lib/function-isSet.js
  apps/meteor/app/emoji/lib/rocketchat.ts
Due: e2e

Migrate `apps/meteor/app/webrtc/client/*.js`
  apps/meteor/app/webrtc/client/WebRTCClass.ts
  apps/meteor/app/webrtc/client/adapter.js
  apps/meteor/app/webrtc/client/adapter.ts
  apps/meteor/app/webrtc/client/screenShare.ts
  apps/meteor/client/definitions/global.d.ts
  apps/meteor/client/views/meet/CallPage.tsx
  apps/meteor/definition/externals/global.d.ts
  packages/ddp-client/src/types/streams.ts
Due: e2e, client

Migrate `apps/meteor/app/lib/client/OAuthProxy.js`
  apps/meteor/app/lib/client/OAuthProxy.ts
Due: e2e

Deploy preview for PR 33636 🛫
  pr-preview/pr-33636/fuselage-ui-kit/project.json
  pr-preview/pr-33636/gazzodown/project.json
  pr-preview/pr-33636/ui-composer/MessageFooterCallout-MessageFooterCallout-stories.4e2be134.iframe.bundle.js
  pr-preview/pr-33636/ui-composer/MessageFooterCallout-MessageFooterCallout-stories.93e3598f.iframe.bundle.js
  pr-preview/pr-33636/ui-composer/iframe.html
  pr-preview/pr-33636/ui-composer/project.json
  pr-preview/pr-33636/ui-composer/runtime~main.67ec2b92.iframe.bundle.js
  pr-preview/pr-33636/ui-composer/runtime~main.f5f7bde3.iframe.bundle.js
Due: none

chore: add extra log to `No broker set to broadcast`
  packages/core-services/src/lib/Api.ts
Due: none

deploy: 1421f25eb657281e2dabb7a7543bf410b4716bc5
  develop/fuselage-ui-kit/project.json
  develop/gazzodown/project.json
  develop/ui-composer/project.json
Due: none

fix: server randomly failing on startup
  apps/meteor/ee/app/license/server/index.ts
  apps/meteor/ee/app/license/server/startup.ts
Due: e2e

fix: remove tests that rely solely on fields to make assertion
  apps/meteor/tests/end-to-end/api/rooms.ts
  apps/meteor/tests/end-to-end/api/users.ts
Due: e2e

fix: stop relying directly on fields
  apps/meteor/app/api/server/v1/users.ts
  apps/meteor/tests/end-to-end/api/users.ts
  packages/rest-typings/src/v1/users/UsersInfoParamsGet.ts
Due: e2e

fix: remove test relying exclusively on query
  apps/meteor/tests/end-to-end/api/users.ts
Due: e2e

Deploy preview for PR 33622 🛫
  pr-preview/pr-33622/fuselage-ui-kit/project.json
  pr-preview/pr-33622/gazzodown/project.json
  pr-preview/pr-33622/ui-composer/project.json
Due: none

fix: type
  packages/rest-typings/src/v1/users/UsersInfoParamsGet.ts
Due: none

Deploy preview for PR 33622 🛫
  pr-preview/pr-33622/fuselage-ui-kit/project.json
  pr-preview/pr-33622/gazzodown/project.json
Due: none

Deploy preview for PR 32727 🛫
  pr-preview/pr-32727/fuselage-ui-kit/project.json
  pr-preview/pr-32727/gazzodown/project.json
  pr-preview/pr-32727/ui-composer/project.json
Due: none

regression: server randomly failing on startup (#33675)
  apps/meteor/ee/app/license/server/index.ts
  apps/meteor/ee/app/license/server/startup.ts
Due: e2e

chore: remove allowed routes for query and fields (#33622)
  apps/meteor/app/api/server/helpers/parseJsonQuery.ts
  apps/meteor/app/api/server/v1/users.ts
  apps/meteor/tests/end-to-end/api/rooms.ts
  apps/meteor/tests/end-to-end/api/users.ts
  packages/rest-typings/src/v1/users/UsersInfoParamsGet.ts
Due: e2e

Deploy preview for PR 32727 🛫
  pr-preview/pr-32727/fuselage-ui-kit/project.json
  pr-preview/pr-32727/gazzodown/project.json
Due: none

regression: fix changeset typo
  .changeset/giant-spiders-train.md
  .changeset/tidy-suns-move.md
Due: none
