Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'

chore!: remove deprecated livechat:requestTranscript and livechat:discardTranscript methods (#33432)
  .changeset/thirty-trainers-swim.md
  apps/meteor/app/livechat/server/index.ts
  apps/meteor/app/livechat/server/methods/discardTranscript.ts
  apps/meteor/app/livechat/server/methods/requestTranscript.ts
  apps/meteor/tests/end-to-end/api/livechat/00-rooms.ts
Due: e2e

upgrade pdfworker
  apps/meteor/package.json
  ee/apps/omnichannel-transcript/package.json
  ee/apps/queue-worker/package.json
  ee/packages/pdf-worker/jest.config.ts
  ee/packages/pdf-worker/package.json
  yarn.lock
Due: e2e

chore!: remove integration scripts' "Compatible Sandbox" (vm2)
  .changeset/sharp-forks-give.md
  apps/meteor/app/integrations/server/api/api.js
  apps/meteor/app/integrations/server/lib/triggerHandler.js
  apps/meteor/app/integrations/server/lib/validateScriptEngine.ts
  apps/meteor/app/integrations/server/lib/vm2/buildSandbox.ts
  apps/meteor/app/integrations/server/lib/vm2/vm2.ts
  apps/meteor/app/integrations/server/methods/incoming/updateIncomingIntegration.ts
  apps/meteor/app/integrations/server/methods/outgoing/updateOutgoingIntegration.ts
  apps/meteor/client/views/admin/integrations/incoming/IncomingWebhookForm.tsx
  apps/meteor/client/views/admin/integrations/outgoing/OutgoingWebhookForm.tsx
  apps/meteor/package.json
  packages/core-typings/src/IIntegration.ts
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/hi-IN.i18n.json
  packages/i18n/src/locales/se.i18n.json
  packages/rest-typings/src/v1/integrations/IntegrationsUpdateProps.ts
  yarn.lock
Due: e2e, client

feat!: Allow E2EE rooms to reset its room key (#33328)
  .changeset/smooth-horses-draw.md
  apps/meteor/app/api/server/v1/e2e.ts
  apps/meteor/app/e2e/client/helper.js
  apps/meteor/app/e2e/client/rocketchat.e2e.room.js
  apps/meteor/app/e2e/client/rocketchat.e2e.ts
  apps/meteor/app/e2e/server/functions/handleSuggestedGroupKey.ts
  apps/meteor/app/e2e/server/functions/provideUsersSuggestedGroupKeys.ts
  apps/meteor/app/e2e/server/functions/resetRoomKey.ts
  apps/meteor/lib/publishFields.ts
  apps/meteor/package.json
  apps/meteor/server/models/raw/Rooms.ts
  apps/meteor/server/models/raw/Subscriptions.ts
  apps/meteor/server/modules/watchers/watchers.module.ts
  packages/core-services/src/events/Events.ts
  packages/core-typings/src/ISubscription.ts
  packages/ddp-client/src/types/streams.ts
  packages/i18n/src/locales/en.i18n.json
  packages/model-typings/src/models/IRoomsModel.ts
  packages/model-typings/src/models/ISubscriptionsModel.ts
  packages/rest-typings/src/v1/e2e.ts
Due: e2e

chore: adds external link icon to upgrade button in marketplace header (#33488)
  apps/meteor/client/views/marketplace/components/MarketplaceHeader.tsx
Due: e2e, client

chore: removing setting change due to default value change
  apps/meteor/tests/e2e/e2e-encryption.spec.ts
Due: e2e

chore: changing default value of E2E_Enabled_Mentions
  apps/meteor/server/settings/e2e.ts
Due: e2e

chore: add migration to change setting default value
  apps/meteor/server/startup/migrations/index.ts
  apps/meteor/server/startup/migrations/v311.ts
Due: e2e

Create rare-hats-lie.md
  .changeset/rare-hats-lie.md
Due: none

chore!: e2ee mention setting update (#33419)
  .changeset/rare-hats-lie.md
  apps/meteor/server/settings/e2e.ts
  apps/meteor/server/startup/migrations/index.ts
  apps/meteor/server/startup/migrations/v311.ts
  apps/meteor/tests/e2e/e2e-encryption.spec.ts
Due: e2e

chore: migration to remove redundant indexes
  apps/meteor/server/startup/migrations/index.ts
  apps/meteor/server/startup/migrations/v311.ts
Due: e2e

regression: missing link in AppsUsageCard info
  apps/meteor/client/views/admin/subscription/components/cards/AppsUsageCard/AppsUsageCard.tsx
Due: e2e, client

chore: aligns Learn More link to the left corner of the modal
  apps/meteor/client/views/marketplace/components/UninstallGrandfatheredAppModal/UninstallGrandfatheredAppModal.tsx
Due: e2e, client

fix: unused translation keys
  packages/i18n/src/locales/nn.i18n.json
  packages/i18n/src/locales/se.i18n.json
Due: none

test: update tests
  apps/meteor/tests/e2e/apps/private-apps-upload.spec.ts
  packages/i18n/src/locales/nn.i18n.json
  packages/i18n/src/locales/se.i18n.json
Due: e2e

chore: remove unused modal from app install
  apps/meteor/client/views/marketplace/components/AppInstallModal/AppInstallModal.tsx
  apps/meteor/client/views/marketplace/hooks/useAppInstallationHandler.tsx
  apps/meteor/client/views/marketplace/hooks/useInstallApp.tsx
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/es.i18n.json
  packages/i18n/src/locales/fi.i18n.json
  packages/i18n/src/locales/hi-IN.i18n.json
  packages/i18n/src/locales/it.i18n.json
  packages/i18n/src/locales/no.i18n.json
  packages/i18n/src/locales/sv.i18n.json
Due: e2e, client

Deploy preview for PR 32155 🛫
  pr-preview/pr-32155/fuselage-ui-kit/main.32d42988.iframe.bundle.js
  pr-preview/pr-32155/fuselage-ui-kit/project.json
  pr-preview/pr-32155/gazzodown/project.json
  pr-preview/pr-32155/ui-composer/iframe.html
  pr-preview/pr-32155/ui-composer/main.167e45ce.iframe.bundle.js
  pr-preview/pr-32155/ui-composer/main.62a8ac1a.iframe.bundle.js
  pr-preview/pr-32155/ui-composer/project.json
  pr-preview/pr-32155/ui-composer/vendors~main.2f771b47.iframe.bundle.js.map
  pr-preview/pr-32155/ui-composer/vendors~main.8b520983.iframe.bundle.js
  pr-preview/pr-32155/ui-composer/vendors~main.8b520983.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-32155/ui-composer/vendors~main.8b520983.iframe.bundle.js.map
Due: none

ci: add restore cache for `deploy-preview`
  .github/workflows/ci.yml
Due: none

Deploy preview for PR 30918 🛫
  pr-preview/pr-30918/fuselage-ui-kit/main.32d42988.iframe.bundle.js
  pr-preview/pr-30918/fuselage-ui-kit/project.json
  pr-preview/pr-30918/gazzodown/project.json
  pr-preview/pr-30918/ui-composer/iframe.html
  pr-preview/pr-30918/ui-composer/main.167e45ce.iframe.bundle.js
  pr-preview/pr-30918/ui-composer/main.62a8ac1a.iframe.bundle.js
  pr-preview/pr-30918/ui-composer/project.json
  pr-preview/pr-30918/ui-composer/vendors~main.2f771b47.iframe.bundle.js.map
  pr-preview/pr-30918/ui-composer/vendors~main.8b520983.iframe.bundle.js
  pr-preview/pr-30918/ui-composer/vendors~main.8b520983.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-30918/ui-composer/vendors~main.8b520983.iframe.bundle.js.map
Due: none

Deploy preview for PR 33434 🛫
  pr-preview/pr-33434/fuselage-ui-kit/main.32d42988.iframe.bundle.js
  pr-preview/pr-33434/fuselage-ui-kit/project.json
  pr-preview/pr-33434/gazzodown/project.json
  pr-preview/pr-33434/ui-composer/iframe.html
  pr-preview/pr-33434/ui-composer/main.167e45ce.iframe.bundle.js
  pr-preview/pr-33434/ui-composer/main.62a8ac1a.iframe.bundle.js
  pr-preview/pr-33434/ui-composer/project.json
  pr-preview/pr-33434/ui-composer/vendors~main.2f771b47.iframe.bundle.js.map
  pr-preview/pr-33434/ui-composer/vendors~main.8b520983.iframe.bundle.js
  pr-preview/pr-33434/ui-composer/vendors~main.8b520983.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-33434/ui-composer/vendors~main.8b520983.iframe.bundle.js.map
Due: none

Deploy preview for PR 33547 🛫
  pr-preview/pr-33547/fuselage-ui-kit/main.32d42988.iframe.bundle.js
  pr-preview/pr-33547/fuselage-ui-kit/project.json
  pr-preview/pr-33547/gazzodown/project.json
  pr-preview/pr-33547/ui-composer/iframe.html
  pr-preview/pr-33547/ui-composer/main.167e45ce.iframe.bundle.js
  pr-preview/pr-33547/ui-composer/main.62a8ac1a.iframe.bundle.js
  pr-preview/pr-33547/ui-composer/project.json
  pr-preview/pr-33547/ui-composer/vendors~main.2f771b47.iframe.bundle.js.map
  pr-preview/pr-33547/ui-composer/vendors~main.8b520983.iframe.bundle.js
  pr-preview/pr-33547/ui-composer/vendors~main.8b520983.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-33547/ui-composer/vendors~main.8b520983.iframe.bundle.js.map
Due: none

Deploy preview for PR 33522 🛫
  pr-preview/pr-33522/fuselage-ui-kit/project.json
  pr-preview/pr-33522/gazzodown/project.json
  pr-preview/pr-33522/ui-composer/iframe.html
  pr-preview/pr-33522/ui-composer/main.167e45ce.iframe.bundle.js
  pr-preview/pr-33522/ui-composer/main.62a8ac1a.iframe.bundle.js
  pr-preview/pr-33522/ui-composer/project.json
  pr-preview/pr-33522/ui-composer/vendors~main.2f771b47.iframe.bundle.js.map
  pr-preview/pr-33522/ui-composer/vendors~main.8b520983.iframe.bundle.js
  pr-preview/pr-33522/ui-composer/vendors~main.8b520983.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-33522/ui-composer/vendors~main.8b520983.iframe.bundle.js.map
Due: none

ci: add restore cache for `deploy-preview` (#33579)
  .github/workflows/ci.yml
Due: none

Deploy preview for PR 33484 🛫
  pr-preview/pr-33484/fuselage-ui-kit/main.2b6bb7d9.iframe.bundle.js
  pr-preview/pr-33484/fuselage-ui-kit/project.json
  pr-preview/pr-33484/gazzodown/project.json
Due: none

fix: consider query strings in Twilio request validation (#33364)
  .changeset/grumpy-lamps-beg.md
  apps/meteor/server/services/omnichannel-integrations/providers/twilio.ts
  apps/meteor/tests/unit/server/services/omnichannel-integrations/providers/twilio.spec.ts
Due: e2e

Recover Fuselage UIKit storybook
  packages/fuselage-ui-kit/.storybook/main.ts
  packages/fuselage-ui-kit/package.json
  packages/fuselage-ui-kit/src/contexts/UiKitContext.ts
  yarn.lock
Due: none

Fix lint issue
  packages/livechat/src/components/Form/MultilineTextInput/styles.scss
  packages/livechat/src/components/Form/SelectInput/styles.scss
Due: none

Fix formatting
  packages/livechat/tsconfig.json
Due: none

Recover `@rocket.chat/web-ui-registration` storybook
  packages/mock-providers/package.json
  packages/mock-providers/src/MockedAppRootBuilder.tsx
  packages/web-ui-registration/.babelrc.json
  packages/web-ui-registration/.storybook/main.ts
  packages/web-ui-registration/.storybook/preview.tsx
  packages/web-ui-registration/package.json
  packages/web-ui-registration/src/ResetPassword/ResetPassword.stories.tsx
  packages/web-ui-registration/src/components/LoginSwitchLanguageFooter.stories.tsx
  yarn.lock
Due: none

Recover storybooks from `@rocket.chat/ui-video-conf` and `@rocket.chat/ui-voip`
  packages/ui-video-conf/.babelrc.json
  packages/ui-video-conf/.eslintrc.json
  packages/ui-video-conf/.storybook/main.js
  packages/ui-video-conf/.storybook/main.ts
  packages/ui-video-conf/.storybook/preview.tsx
  packages/ui-video-conf/jest.config.ts
  packages/ui-video-conf/package.json
  packages/ui-video-conf/src/VideoConfButton/VideoConfButton.spec.tsx
  packages/ui-video-conf/src/VideoConfButton/VideoConfButton.stories.tsx
  packages/ui-video-conf/src/VideoConfController/VideoConfController.spec.tsx
  packages/ui-video-conf/src/VideoConfController/VideoConfController.stories.tsx
  packages/ui-video-conf/src/VideoConfMessage/VideoConfMessage.spec.tsx
  packages/ui-video-conf/src/VideoConfMessage/VideoConfMessage.stories.tsx
  packages/ui-video-conf/src/VideoConfMessage/VideoConfMessage.tsx
  packages/ui-video-conf/src/VideoConfMessage/VideoConfMessageUserStack.tsx
  packages/ui-video-conf/src/VideoConfPopup/VideoConfPopup.spec.tsx
  packages/ui-video-conf/src/VideoConfPopup/VideoConfPopup.stories.tsx
  packages/ui-video-conf/src/VideoConfPopup/VideoConfPopup.tsx
  packages/ui-video-conf/tsconfig.json
  packages/ui-voip/.babelrc.json
  packages/ui-voip/.storybook/main.js
  packages/ui-voip/.storybook/main.ts
  packages/ui-voip/.storybook/preview.tsx
  packages/ui-voip/package.json
  packages/ui-voip/src/components/VoipActionButton/VoipActionButton.stories.tsx
  packages/ui-voip/src/components/VoipActionButton/VoipActionButton.tsx
  packages/ui-voip/src/components/VoipActions/VoipActions.stories.tsx
  packages/ui-voip/src/components/VoipContactId/VoipContactId.stories.tsx
  packages/ui-voip/src/components/VoipDialPad/VoipDialPad.stories.tsx
  packages/ui-voip/src/components/VoipPopup/VoipPopup.spec.tsx
  packages/ui-voip/src/components/VoipPopup/VoipPopup.stories.tsx
  packages/ui-voip/src/components/VoipSettingsButton/hooks/useVoipDeviceSettings.tsx
  packages/ui-voip/src/tests/mocks/index.ts
  packages/ui-voip/tsconfig.json
  yarn.lock
Due: none

Recover more storybooks
  packages/gazzodown/.babelrc.json
  packages/gazzodown/.eslintrc.json
  packages/gazzodown/.storybook/main.js
  packages/gazzodown/.storybook/main.ts
  packages/gazzodown/.storybook/preview.tsx
  packages/gazzodown/babel.config.js
  packages/gazzodown/package.json
  packages/gazzodown/src/Markup.stories.tsx
  packages/gazzodown/tsconfig.build.json
  packages/gazzodown/tsconfig.json
  packages/ui-client/.babelrc.json
  packages/ui-client/.storybook/main.js
  packages/ui-client/.storybook/main.ts
  packages/ui-client/.storybook/preview.tsx
  packages/ui-client/package.json
  packages/ui-client/src/components/DotLeader.stories.tsx
  packages/ui-client/src/components/Header/Header.stories.tsx
  packages/ui-client/src/components/HeaderV2/Header.stories.tsx
  packages/ui-client/src/components/PasswordVerifier/PasswordVerifier.stories.tsx
  packages/ui-client/src/components/TextSeparator.stories.tsx
  packages/ui-client/src/components/UserAutoComplete/UserAutoComplete.stories.tsx
  packages/ui-client/src/components/UserStatus/UserStatus.stories.tsx
  packages/ui-client/tsconfig.build.json
  packages/ui-client/tsconfig.json
  packages/ui-composer/.babelrc.json
  packages/ui-composer/.eslintrc.json
  packages/ui-composer/.storybook/main.js
  packages/ui-composer/.storybook/main.ts
  packages/ui-composer/.storybook/preview.tsx
  packages/ui-composer/package.json
  packages/ui-composer/src/MessageComposer/MessageComposer.stories.tsx
  packages/ui-composer/src/MessageFooterCallout/MessageFooterCallout.stories.tsx
  packages/ui-composer/tsconfig.build.json
  packages/ui-composer/tsconfig.json
  packages/ui-video-conf/package.json
  packages/ui-video-conf/tsconfig.build.json
  packages/ui-voip/package.json
  packages/ui-voip/tsconfig.build.json
  packages/web-ui-registration/package.json
  yarn.lock
Due: none

Recover more storybooks
  ee/packages/pdf-worker/.babelrc.json
  ee/packages/pdf-worker/.storybook/main.js
  ee/packages/pdf-worker/.storybook/main.ts
  ee/packages/pdf-worker/.storybook/preview.tsx
  ee/packages/pdf-worker/package.json
  ee/packages/pdf-worker/src/templates/ChatTranscript/ChatTranscript.fixtures.ts
  ee/packages/pdf-worker/src/templates/ChatTranscript/ChatTranscript.stories.tsx
  ee/packages/pdf-worker/src/templates/ChatTranscript/components/Files.spec.tsx
  ee/packages/pdf-worker/src/templates/ChatTranscript/components/Files.tsx
  ee/packages/pdf-worker/src/templates/ChatTranscript/components/Message.tsx
  ee/packages/pdf-worker/src/worker.fixtures.ts
  ee/packages/pdf-worker/tsconfig.build.json
  ee/packages/pdf-worker/tsconfig.json
  packages/fuselage-ui-kit/.storybook/DocsContainer.tsx
  packages/fuselage-ui-kit/.storybook/main.ts
  packages/fuselage-ui-kit/.storybook/manager.ts
  packages/fuselage-ui-kit/.storybook/preview.tsx
  packages/fuselage-ui-kit/package.json
  yarn.lock
Due: none

Fix missing types
  packages/server-fetch/package.json
  yarn.lock
Due: none

Fix type issue
  packages/ui-composer/src/MessageComposer/MessageComposerHint.stories.tsx
Due: none

Fix type issue
  packages/livechat/package.json
  yarn.lock
Due: none
