Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

translation
  packages/i18n/src/locales/ca.i18n.json
  packages/i18n/src/locales/de.i18n.json
  packages/i18n/src/locales/es.i18n.json
  packages/i18n/src/locales/fi.i18n.json
  packages/i18n/src/locales/fr.i18n.json
  packages/i18n/src/locales/hi-IN.i18n.json
  packages/i18n/src/locales/hu.i18n.json
  packages/i18n/src/locales/ja.i18n.json
  packages/i18n/src/locales/nl.i18n.json
  packages/i18n/src/locales/nn.i18n.json
  packages/i18n/src/locales/no.i18n.json
  packages/i18n/src/locales/pl.i18n.json
  packages/i18n/src/locales/pt-BR.i18n.json
  packages/i18n/src/locales/ru.i18n.json
  packages/i18n/src/locales/sv.i18n.json
  packages/i18n/src/locales/zh-TW.i18n.json
Due: none

Remove ability of key button to disable e2e encryption
  apps/meteor/client/views/room/Header/icons/Encrypted.tsx
  apps/meteor/client/views/room/HeaderV2/icons/Encrypted.tsx
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/se.i18n.json
  yarn.lock
Due: e2e, client

Discard changes to yarn.lock
  yarn.lock
Due: none

fix: Trans error
  apps/meteor/client/views/room/composer/messageBox/MessageBox.tsx
Due: e2e, client

Deploy preview for PR 33562 🛫
  pr-preview/pr-33562/fuselage-ui-kit/main.2b6bb7d9.iframe.bundle.js
  pr-preview/pr-33562/fuselage-ui-kit/project.json
  pr-preview/pr-33562/gazzodown/project.json
Due: none

feat: adds a new featured room action on the header for non-default category (#33562)
  .changeset/four-experts-compare.md
  apps/meteor/client/hooks/roomActions/useAppsRoomStarActions.tsx
  apps/meteor/client/hooks/useAppActionButtons.ts
  apps/meteor/client/hooks/useApplyButtonFilters.ts
  apps/meteor/client/hooks/useFilterActions.ts
  apps/meteor/client/ui.ts
Due: e2e, client

feat: Apps-Engine method for reading and counting unread room messages for a user (#32194)
  .changeset/chilled-files-relate.md
  apps/meteor/app/apps/server/bridges/rooms.ts
Due: e2e

feat: useE2EEResetRoomKeyRoom mutation
  apps/meteor/client/views/room/hooks/useE2EEResetRoomKey.ts
Due: e2e, client

fix: translation issue
  apps/meteor/client/views/room/modals/E2EEModals/EnableE2EEModal.tsx
Due: e2e, client

fix: e2eRoom.resetRoomKey() return at useE2EEResetRoomKeyRoom
  apps/meteor/client/views/room/hooks/useE2EEResetRoomKey.ts
Due: e2e, client

undefined check
  apps/meteor/client/hooks/roomActions/useE2EERoomAction.ts
Due: e2e, client

fix: go link to E2EE reset room key
  apps/meteor/client/views/room/modals/E2EEModals/ResetKeysE2EEModal.tsx
Due: e2e, client

fix: useE2EEResetRoomKey hook name
  apps/meteor/client/views/room/hooks/useE2EEResetRoomKey.ts
  apps/meteor/client/views/room/modals/E2EEModals/ResetKeysE2EEModal.tsx
Due: e2e, client

fix: GenericModal cleanup function
  apps/meteor/client/components/GenericModal/GenericModal.tsx
Due: e2e, client

feat: EnableE2EEModal
  apps/meteor/client/views/room/modals/E2EEModals/EnableE2EEModal.tsx
Due: e2e, client

feat: E2EE room action and Base Modal
  apps/meteor/client/hooks/roomActions/useE2EERoomAction.ts
  apps/meteor/client/views/room/modals/E2EEModals/BaseDisableE2EEModal.tsx
Due: e2e, client

fix: onDismiss getting onClose as default
  apps/meteor/client/components/GenericModal/GenericModal.spec.tsx
  apps/meteor/client/components/GenericModal/GenericModal.tsx
Due: e2e, client

i18n: E2EE modal translations
  packages/i18n/src/locales/en.i18n.json
Due: none

fix: GenericModal test
  apps/meteor/client/components/GenericModal/GenericModal.spec.tsx
Due: e2e, client

feat: ResetKeysE2EEModal
  apps/meteor/client/views/room/modals/E2EEModals/ResetKeysE2EEModal.tsx
Due: e2e, client

fix: useE2EERoomAction unit test
  apps/meteor/client/hooks/roomActions/useE2EERoomAction.spec.ts
Due: e2e, client

fix: E2EE reset key button translation
  apps/meteor/client/views/room/modals/E2EEModals/DisableE2EEModal.tsx
Due: e2e, client

fix: go link
  apps/meteor/client/views/room/modals/E2EEModals/ResetKeysE2EEModal.tsx
Due: e2e, client

feat: DisableE2EEModal
  apps/meteor/client/views/room/modals/E2EEModals/DisableE2EEModal.tsx
Due: e2e, client

Deploy preview for PR 33484 🛫
  pr-preview/pr-33484/fuselage-ui-kit/main.2b6bb7d9.iframe.bundle.js
  pr-preview/pr-33484/fuselage-ui-kit/project.json
  pr-preview/pr-33484/gazzodown/project.json
Due: none

chore: remove fields query param from get livechat tags
  apps/meteor/client/omnichannel/tags/TagsTable.tsx
Due: e2e, client

chore: remove fields query param from get livechat unit
  apps/meteor/client/omnichannel/units/UnitsTable.tsx
Due: e2e, client

fix: broken jump-to-thread-message functionality using link (#33332)
  .changeset/gold-falcons-hear.md
  apps/meteor/client/views/room/contextualBar/Threads/components/ThreadMessageList.tsx
  apps/meteor/tests/e2e/jump-to-thread-message.spec.ts
Due: e2e, client

chore: remove fields query param from get livechat users
  apps/meteor/client/views/omnichannel/managers/ManagersTable.tsx
Due: e2e, client

chore!: remove fields query param from useQuery hook
  apps/meteor/client/views/omnichannel/agents/hooks/useQuery.ts
Due: e2e, client

chore: remove channels files query and fields params
  apps/meteor/app/api/server/helpers/parseJsonQuery.ts
  apps/meteor/app/api/server/v1/channels.ts
  apps/meteor/client/views/room/contextualBar/RoomFiles/hooks/useFilesList.ts
  packages/rest-typings/src/v1/channels/ChannelsFilesListProps.ts
  packages/rest-typings/src/v1/channels/ChannelsListProps.ts
  packages/rest-typings/src/v1/channels/channels.ts
Due: e2e, client

chore: export ChannelsFilesListProps from rest-typings
  packages/rest-typings/src/v1/channels/channels.ts
Due: none

chore: remove integrations query and fields params
  apps/meteor/app/api/server/helpers/parseJsonQuery.ts
  apps/meteor/app/api/server/v1/integrations.ts
  apps/meteor/client/views/admin/integrations/IntegrationsTable.tsx
  packages/rest-typings/src/v1/integrations/IntegrationsListProps.ts
  packages/rest-typings/src/v1/integrations/index.ts
  packages/rest-typings/src/v1/integrations/integrations.ts
Due: e2e, client

chore: add count and offset as string or number on input schema
  packages/rest-typings/src/v1/integrations/IntegrationsListProps.ts
Due: none

fix: security hotfix
  apps/meteor/app/api/server/v1/settings.ts
  apps/meteor/app/discussion/server/methods/createDiscussion.ts
  apps/meteor/app/file-upload/server/methods/sendFileMessage.ts
  apps/meteor/app/integrations/server/lib/triggerHandler.js
  apps/meteor/app/lib/server/functions/disableCustomScripts.ts
  apps/meteor/app/lib/server/methods/createChannel.ts
  apps/meteor/app/lib/server/methods/createPrivateGroup.ts
  apps/meteor/app/lib/server/methods/saveSetting.ts
  apps/meteor/app/lib/server/methods/saveSettings.ts
  apps/meteor/tests/unit/app/lib/server/functions/disableCustomScripts.tests.ts
Due: e2e

Path conditions:
  e2e: any of: apps/meteor/
  client: any of: apps/meteor/client
