Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

fix: Prevent grouped dm's with external and internal users
  apps/meteor/client/NavBarV2/NavBarPagesGroup/actions/CreateDirectMessage.tsx
  apps/meteor/client/lib/federation/Federation.spec.ts
  apps/meteor/client/lib/federation/Federation.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

feat: Move expandable message composer out of feature preview (#37524)
  .changeset/few-mirrors-smoke.md
  apps/meteor/client/views/room/composer/messageBox/MessageBox.tsx
  apps/meteor/public/images/featurePreview/expandable-composer.png
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/nb.i18n.json
  packages/ui-client/src/hooks/useFeaturePreviewList.ts
Due: e2e, client

Add AppIdContext to info card
  packages/fuselage-ui-kit/src/surfaces/FuselageSurfaceRenderer.tsx
Due: none

fix i18n keys
  apps/meteor/server/services/media-call/getHistoryMessagePayload.ts
Due: e2e, e2e-api

Add translation key `Incoming_call_ellipsis`
  packages/i18n/src/locales/en.i18n.json
  packages/ui-voip/src/v2/useDesktopNotifications.ts
Due: none

Create sixty-numbers-tan.md
  .changeset/sixty-numbers-tan.md
Due: none

feat: Show peer's muted and held state on Media call widget (#37469)
  .changeset/young-cherries-battle.md
  packages/ui-voip/src/v2/MediaCallContext.ts
  packages/ui-voip/src/v2/MediaCallProvider.tsx
  packages/ui-voip/src/v2/MockedMediaCallProvider.tsx
  packages/ui-voip/src/v2/__snapshots__/MediaCallWidget.spec.tsx.snap
  packages/ui-voip/src/v2/components/PeerInfo/InternalUser.tsx
  packages/ui-voip/src/v2/components/PeerInfo/PeerInfo.stories.tsx
  packages/ui-voip/src/v2/useInfoSlots.ts
  packages/ui-voip/src/v2/useMediaSession.ts
  packages/ui-voip/src/v2/useMediaSessionInstance.ts
  packages/ui-voip/src/v2/views/OngoingCall.stories.tsx
  packages/ui-voip/src/v2/views/OngoingCall.tsx
Due: none

First iteration
  apps/meteor/server/lib/i18n.ts
  ee/apps/omnichannel-transcript/src/i18n.ts
  ee/apps/omnichannel-transcript/tsconfig.json
  packages/i18n/package.json
Due: e2e, e2e-api

Second iteration
  apps/meteor/package.json
  apps/meteor/server/lib/i18n.ts
  ee/apps/omnichannel-transcript/src/i18n.ts
  ee/apps/omnichannel-transcript/tsconfig.json
  packages/i18n/package.json
  packages/i18n/src/scripts/build.mts
Due: e2e, e2e-api

chore: Move helper to E2E test
  apps/meteor/client/lib/utils/createToken.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-contact-center.spec.ts
Due: e2e, client

Graduate getUserRoomIds to user bridge
  packages/apps-engine/src/definition/accessors/IExperimentalRead.ts
  packages/apps-engine/src/definition/accessors/IUserRead.ts
  packages/apps-engine/src/server/accessors/ExperimentalRead.ts
  packages/apps-engine/src/server/accessors/UserRead.ts
  packages/apps-engine/src/server/bridges/ExperimentalBridge.ts
  packages/apps-engine/src/server/bridges/UserBridge.ts
  packages/apps-engine/src/server/permissions/AppPermissions.ts
  packages/apps-engine/tests/server/accessors/UserRead.spec.ts
  packages/apps-engine/tests/test-data/bridges/experimentalBridge.ts
  packages/apps-engine/tests/test-data/bridges/userBridge.ts
  packages/i18n/src/locales/en.i18n.json
Due: none

Update Meteor user bridge room access
  apps/meteor/app/apps/server/bridges/experimental.ts
  apps/meteor/app/apps/server/bridges/users.ts
Due: e2e

Reuse existing user read permission
  packages/apps-engine/src/definition/accessors/IUserRead.ts
  packages/apps-engine/src/server/bridges/UserBridge.ts
  packages/apps-engine/src/server/permissions/AppPermissions.ts
  packages/i18n/src/locales/en.i18n.json
Due: none

Update .changeset/famous-drinks-love.md
  .changeset/famous-drinks-love.md
Due: none

Fix experimental accessor build
  packages/apps-engine/src/server/accessors/ExperimentalRead.ts
  packages/apps-engine/src/server/managers/AppAccessorManager.ts
Due: none

Add changeset
  .changeset/calm-falcons-gather.md
Due: none

Fix missing newline at end of file in en.i18n.json
  packages/i18n/src/locales/en.i18n.json
Due: none

Fix lint warnings
  packages/apps-engine/src/definition/accessors/IExperimentalRead.ts
  packages/apps-engine/tests/server/accessors/UserRead.spec.ts
Due: none

Make experimental read interface non-empty
  packages/apps-engine/src/definition/accessors/IExperimentalRead.ts
Due: none

fix: Cannot save some user profile fields as empty (#37430)
  .changeset/famous-drinks-love.md
  apps/meteor/server/methods/saveUserProfile.ts
  apps/meteor/tests/data/users.helper.ts
  apps/meteor/tests/end-to-end/api/users.ts
Due: e2e, e2e-api

AppExperimentalBridge remove dependency on orchestrator
  apps/meteor/app/apps/server/bridges/bridges.js
  apps/meteor/app/apps/server/bridges/experimental.ts
Due: e2e

Fix i18next version mismatch in fuselage-ui-kit
  packages/fuselage-ui-kit/package.json
  yarn.lock
Due: none

Fix translation keys, duration and tests
  apps/meteor/server/services/media-call/getHistoryMessagePayload.spec.ts
  apps/meteor/server/services/media-call/getHistoryMessagePayload.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, e2e-api

Apply suggestion from @KevLehman
  ee/packages/abac/src/index.ts
Due: none

fix schemas
  apps/meteor/ee/server/api/abac/schemas.ts
Due: e2e

new endpoint
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  apps/meteor/tests/end-to-end/api/abac.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
Due: e2e

chore: Move helper to E2E test (#37546)
  apps/meteor/client/lib/utils/createToken.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-contact-center.spec.ts
Due: e2e, client

schema
  apps/meteor/ee/server/api/abac/schemas.ts
Due: e2e

chore: remove a leftover typecasting on sauMonitorHooks
  apps/meteor/server/hooks/sauMonitorHooks.ts
Due: e2e, e2e-api

abac global enable setting
  apps/meteor/ee/server/configuration/abac.ts
  apps/meteor/ee/server/configuration/index.ts
  apps/meteor/ee/server/settings/abac.ts
Due: e2e

abac package and endpoints
  apps/meteor/ee/server/api/abac.ts
  apps/meteor/ee/server/api/index.ts
  apps/meteor/ee/server/settings/abac.ts
  apps/meteor/package.json
  ee/packages/abac/.eslintrc.json
  ee/packages/abac/jest.config.ts
  ee/packages/abac/package.json
  ee/packages/abac/src/index.ts
  ee/packages/abac/tsconfig.json
  yarn.lock
Due: e2e

abac license module
  packages/core-typings/src/license/LicenseModule.ts
  packages/jwt/__tests__/jwt.spec.ts
Due: none

permission
  apps/meteor/ee/server/api/abac.ts
  apps/meteor/ee/server/configuration/abac.ts
  apps/meteor/ee/server/lib/abac/index.ts
Due: e2e

abac model
  apps/meteor/server/models.ts
  packages/core-typings/src/IAbacAttribute.ts
  packages/core-typings/src/index.ts
  packages/model-typings/src/index.ts
  packages/model-typings/src/models/IAbacAttributesModel.ts
  packages/models/src/index.ts
  packages/models/src/modelClasses.ts
  packages/models/src/models/AbacAttributes.ts
Due: e2e, e2e-api

lint
  packages/model-typings/src/models/IAbacAttributesModel.ts
Due: none

abac flag
  ee/packages/abac/package.json
  ee/packages/abac/src/index.ts
  packages/core-typings/src/IRoom.ts
  yarn.lock
Due: none

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
