Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

feat: migrate models, media-signaling and rest-typings to ESLint 9
  packages/media-signaling/.eslintrc.json
  packages/media-signaling/eslint.config.js
  packages/media-signaling/package.json
  packages/models/.eslintrc.json
  packages/models/eslint.config.js
  packages/models/package.json
  packages/models/src/DatabaseWatcher.ts
  packages/models/src/convertChangeStreamPayload.ts
  packages/models/src/models/Subscriptions.ts
  packages/models/src/models/Users.ts
  packages/models/src/updater.ts
  packages/rest-typings/.eslintrc.json
  packages/rest-typings/eslint.config.js
  packages/rest-typings/package.json
Due: none

feat: migrate mock-providers, tools and ui-composer to ESLint 9
  packages/mock-providers/.eslintrc.json
  packages/mock-providers/eslint.config.js
  packages/mock-providers/package.json
  packages/tools/.eslintrc.json
  packages/tools/eslint.config.js
  packages/tools/package.json
  packages/tools/src/convertSubObjectsIntoPaths.spec.ts
  packages/tools/src/getLoginExpiration.ts
  packages/ui-composer/.eslintrc.json
  packages/ui-composer/eslint.config.js
  packages/ui-composer/package.json
Due: none

feat: migrate freeswitch, ui-contexts and web-ui-registration to ESLint 9
  packages/freeswitch/.eslintrc.json
  packages/freeswitch/eslint.config.js
  packages/freeswitch/package.json
  packages/freeswitch/src/eventParser/parseEventData.ts
  packages/freeswitch/src/eventParser/parseEventLeg.ts
  packages/freeswitch/src/utils/parseUserList.ts
  packages/ui-contexts/.eslintrc.json
  packages/ui-contexts/eslint.config.js
  packages/ui-contexts/package.json
  packages/ui-contexts/src/hooks/useAccountsCustomFields.ts
  packages/ui-contexts/src/hooks/useLoginWithService.ts
  packages/ui-contexts/src/hooks/useMediaDevicePermission.spec.tsx
  packages/ui-contexts/src/hooks/useMediaDevicePermission.ts
  packages/ui-contexts/src/hooks/useRouteParameter.ts
  packages/web-ui-registration/.eslintrc.json
  packages/web-ui-registration/eslint.config.js
  packages/web-ui-registration/package.json
  packages/web-ui-registration/src/LoginForm.tsx
  packages/web-ui-registration/src/components/LoginSwitchLanguageFooter.tsx
  packages/web-ui-registration/src/hooks/useLoginSendEmailConfirmation.ts
  packages/web-ui-registration/src/template/FormSkeleton.tsx
Due: none

feat: migrate release-changelog and jest-presets to ESLint 9
  packages/jest-presets/.eslintrc.json
  packages/jest-presets/eslint.config.js
  packages/jest-presets/package.json
  packages/release-changelog/.eslintrc.json
  packages/release-changelog/eslint.config.js
  packages/release-changelog/package.json
Due: none

feat: migrate release-action and storybook-config to ESLint 9
  packages/release-action/.eslintrc.json
  packages/release-action/eslint.config.js
  packages/release-action/package.json
  packages/release-action/src/createNpmFile.ts
  packages/release-action/src/setupOctokit.ts
  packages/release-action/src/utils.ts
  packages/storybook-config/.eslintrc.json
  packages/storybook-config/eslint.config.js
  packages/storybook-config/package.json
  packages/storybook-config/src/main.ts
Due: none

feat: migrate i18n, ui-avatar and gazzodown to ESLint 9
  packages/gazzodown/.eslintignore
  packages/gazzodown/.eslintrc.json
  packages/gazzodown/eslint.config.js
  packages/gazzodown/package.json
  packages/gazzodown/src/Markup.stories.tsx
  packages/gazzodown/src/Markup.tsx
  packages/gazzodown/src/MarkupInteractionContext.ts
  packages/gazzodown/src/PreviewMarkup.tsx
  packages/gazzodown/src/blocks/TaskListBlock.tsx
  packages/gazzodown/src/code/CodeBlock.tsx
  packages/gazzodown/src/code/PreviewCodeBlock.tsx
  packages/gazzodown/src/colors/ColorElement.tsx
  packages/gazzodown/src/colors/PreviewColorElement.tsx
  packages/gazzodown/src/elements/ImageElement.tsx
  packages/gazzodown/src/elements/InlineElements.tsx
  packages/gazzodown/src/elements/LinkSpan.tsx
  packages/gazzodown/src/elements/PlainSpan.tsx
  packages/gazzodown/src/elements/PreviewInlineElements.tsx
  packages/gazzodown/src/emoji/Emoji.tsx
  packages/gazzodown/src/emoji/EmojiElement.tsx
  packages/gazzodown/src/emoji/EmojiRenderer.tsx
  packages/gazzodown/src/katex/KatexBlock.tsx
  packages/gazzodown/src/katex/KatexElement.tsx
  packages/gazzodown/src/katex/KatexErrorBoundary.tsx
  packages/gazzodown/src/mentions/ChannelMentionElement.tsx
  packages/gazzodown/src/mentions/PreviewChannelMentionElement.tsx
  packages/gazzodown/src/mentions/PreviewUserMentionElement.tsx
  packages/gazzodown/src/mentions/UserMentionElement.tsx
  packages/i18n/.eslintrc.json
  packages/i18n/eslint.config.js
  packages/i18n/package.json
  packages/i18n/src/scripts/normalize.mts
  packages/ui-avatar/.eslintrc.json
  packages/ui-avatar/eslint.config.js
  packages/ui-avatar/package.json
Due: none

feat: migrate ui-voip, ui-video-conf and fuselage-ui-kit to ESLint 9
  packages/fuselage-ui-kit/.eslintignore
  packages/fuselage-ui-kit/.eslintrc.json
  packages/fuselage-ui-kit/eslint.config.js
  packages/fuselage-ui-kit/package.json
  packages/fuselage-ui-kit/src/elements/IconButtonElement.tsx
  packages/fuselage-ui-kit/src/elements/IconElement.tsx
  packages/fuselage-ui-kit/src/elements/TabElement.tsx
  packages/fuselage-ui-kit/src/hooks/useUiKitState.ts
  packages/ui-video-conf/.eslintrc.json
  packages/ui-video-conf/eslint.config.js
  packages/ui-video-conf/package.json
  packages/ui-voip/.eslintrc.json
  packages/ui-voip/eslint.config.js
  packages/ui-voip/package.json
  packages/ui-voip/src/components/PeerInfo/PeerInfo.stories.tsx
  packages/ui-voip/src/components/PeerInfo/PhoneNumber.tsx
  packages/ui-voip/src/components/Widget/Widget.stories.tsx
  packages/ui-voip/src/components/Widget/WidgetHeader.tsx
  packages/ui-voip/src/context/MediaCallContext.ts
  packages/ui-voip/src/context/MediaCallLogger.ts
  packages/ui-voip/src/context/useCallSounds.ts
  packages/ui-voip/src/context/useMediaSession.ts
  packages/ui-voip/src/context/useMediaSessionInstance.ts
  packages/ui-voip/src/context/useTonePlayer.ts
  packages/ui-voip/src/hooks/VoipPopupDraggable/DraggableCore.ts
  packages/ui-voip/src/hooks/VoipPopupDraggable/useDraggable.stories.tsx
  packages/ui-voip/src/hooks/useDevicePermissionPrompt.spec.tsx
  packages/ui-voip/src/hooks/useDevicePermissionPrompt.tsx
  packages/ui-voip/src/hooks/useMediaCallAction.ts
  packages/ui-voip/src/utils/convertAvatarUrlToPng.ts
  packages/ui-voip/src/views/MediaCallWidget/IncomingCall.stories.tsx
  packages/ui-voip/src/views/MediaCallWidget/IncomingCallTransfer.stories.tsx
  packages/ui-voip/src/views/MediaCallWidget/NewCall.stories.tsx
  packages/ui-voip/src/views/MediaCallWidget/OngoingCall.stories.tsx
  packages/ui-voip/src/views/MediaCallWidget/OutgoingCall.stories.tsx
  packages/ui-voip/src/views/MediaCallWidget/OutgoingCallTransfer.stories.tsx
Due: none

feat: migrate ui-kit and ui-client to ESLint 9
  packages/ui-client/.eslintrc.json
  packages/ui-client/eslint.config.js
  packages/ui-client/package.json
  packages/ui-client/src/components/Wizard/useWizard.spec.tsx
  packages/ui-client/src/hooks/useFeaturePreviewList.ts
  packages/ui-kit/.eslintrc.json
  packages/ui-kit/eslint.config.js
  packages/ui-kit/package.json
Due: none

feat: migrate apps-engine and livechat to ESLint 9
  packages/apps-engine/.eslintignore
  packages/apps-engine/.eslintrc.json
  packages/apps-engine/eslint.config.js
  packages/apps-engine/package.json
  packages/apps-engine/tests/test-data/storage/storage.ts
  packages/apps-engine/tests/test-data/utilities.ts
  packages/livechat/.eslintignore
  packages/livechat/.eslintrc.json
  packages/livechat/eslint.config.js
  packages/livechat/package.json
  packages/livechat/src/components/Calls/CallIFrame.tsx
  packages/livechat/src/components/Composer/index.tsx
Due: none

feat: migrate node-poplib, message-parser, pdf-worker, license and presence to ESLint 9
  ee/packages/license/.eslintrc.json
  ee/packages/license/eslint.config.js
  ee/packages/license/package.json
  ee/packages/license/src/isItemAllowed.ts
  ee/packages/license/src/license.ts
  ee/packages/license/src/licenseImp.ts
  ee/packages/license/src/v2/convertToV3.ts
  ee/packages/license/src/validation/getModulesToDisable.ts
  ee/packages/license/src/validation/validateFormat.ts
  ee/packages/license/src/validation/validateLicenseUrl.ts
  ee/packages/pdf-worker/.eslintignore
  ee/packages/pdf-worker/.eslintrc.json
  ee/packages/pdf-worker/eslint.config.js
  ee/packages/pdf-worker/package.json
  ee/packages/pdf-worker/src/strategies/ChatTranscript.spec.ts
  ee/packages/pdf-worker/src/strategies/ChatTranscript.ts
  ee/packages/presence/.eslintrc.json
  ee/packages/presence/eslint.config.js
  ee/packages/presence/package.json
  ee/packages/presence/src/Presence.ts
  packages/message-parser/.eslintignore
  packages/message-parser/eslint.config.js
  packages/message-parser/package.json
  packages/message-parser/src/utils.ts
  packages/node-poplib/eslint.config.js
  packages/node-poplib/package.json
Due: none

feat: migrate omni-core-ee, omnichannel-services and federation-matrix to ESLint 9
  ee/packages/federation-matrix/.eslintrc.json
  ee/packages/federation-matrix/eslint.config.js
  ee/packages/federation-matrix/package.json
  ee/packages/federation-matrix/src/FederationMatrix.ts
  ee/packages/federation-matrix/src/api/.well-known/server.ts
  ee/packages/federation-matrix/src/api/_matrix/key/server.ts
  ee/packages/federation-matrix/src/api/_matrix/media.ts
  ee/packages/federation-matrix/src/api/_matrix/profiles.ts
  ee/packages/federation-matrix/src/api/_matrix/rooms.ts
  ee/packages/federation-matrix/src/api/_matrix/send-join.ts
  ee/packages/federation-matrix/src/api/_matrix/transactions.ts
  ee/packages/federation-matrix/src/api/_matrix/versions.ts
  ee/packages/omni-core-ee/.eslintrc.json
  ee/packages/omni-core-ee/eslint.config.js
  ee/packages/omni-core-ee/package.json
  ee/packages/omni-core-ee/src/outbound-communication/validators/canSendMessage.spec.ts
  ee/packages/omnichannel-services/.eslintrc.json
  ee/packages/omnichannel-services/eslint.config.js
  ee/packages/omnichannel-services/package.json
  ee/packages/omnichannel-services/src/OmnichannelTranscript.ts
  ee/packages/omnichannel-services/src/QueueWorker.ts
Due: none

feat: migrate ui-theming, media-calls and network-broker to ESLint 9
  ee/packages/media-calls/.eslintrc.json
  ee/packages/media-calls/eslint.config.js
  ee/packages/media-calls/package.json
  ee/packages/network-broker/.eslintrc.json
  ee/packages/network-broker/eslint.config.js
  ee/packages/network-broker/package.json
  ee/packages/network-broker/src/EnterpriseCheck.ts
  ee/packages/network-broker/src/NetworkBroker.ts
  ee/packages/ui-theming/.eslintrc.json
  ee/packages/ui-theming/eslint.config.js
  ee/packages/ui-theming/package.json
Due: none

fix: fix lint warning in omnichannel-transcript
  ee/apps/omnichannel-transcript/src/i18n.ts
Due: none

feat: migrate omnichannel-transcript, presence-service, queue-worker and stream-hub-service to ESLint 9
  ee/apps/omnichannel-transcript/.eslintrc.json
  ee/apps/omnichannel-transcript/eslint.config.js
  ee/apps/omnichannel-transcript/package.json
  ee/apps/presence-service/.eslintrc.json
  ee/apps/presence-service/eslint.config.js
  ee/apps/presence-service/package.json
  ee/apps/queue-worker/.eslintrc.json
  ee/apps/queue-worker/eslint.config.js
  ee/apps/queue-worker/package.json
  ee/apps/stream-hub-service/.eslintrc.json
  ee/apps/stream-hub-service/eslint.config.js
  ee/apps/stream-hub-service/package.json
Due: none

feat: migrate account-service, authorization-service and ddp-streamer to ESLint 9
  ee/apps/account-service/.eslintrc.json
  ee/apps/account-service/eslint.config.js
  ee/apps/account-service/package.json
  ee/apps/authorization-service/.eslintrc.json
  ee/apps/authorization-service/eslint.config.js
  ee/apps/authorization-service/package.json
  ee/apps/ddp-streamer/.eslintrc.json
  ee/apps/ddp-streamer/eslint.config.js
  ee/apps/ddp-streamer/package.json
Due: none

feat: migrate meteor and uikit-playground to ESLint 9
  apps/meteor/.eslintignore
  apps/meteor/.eslintrc.json
  apps/meteor/eslint.config.mjs
  apps/meteor/package.json
  apps/uikit-playground/.eslintignore
  apps/uikit-playground/eslint.config.js
  apps/uikit-playground/package.json
Due: e2e

feat: migrate meteor to ESLint 9 (com alguns erros de lint restantes)
  apps/meteor/eslint.config.mjs
Due: e2e

wip
  ee/packages/network-broker/src/EnterpriseCheck.ts
  packages/core-typings/src/IMessage/IMessage.ts
  packages/eslint-config-v9/package.json
  packages/eslint-config-v9/standard/index.js
  yarn.lock
Due: none

test disable coverage
  .github/workflows/ci.yml
Due: none

why so much coverageeeee
  .github/workflows/ci.yml
Due: none

production
  .github/workflows/ci.yml
Due: none

test: add group of tests for DM creation scenarios
  ee/packages/federation-matrix/tests/end-to-end/room.spec.ts
Due: none

chore(patch-injection): Review build configuration
  packages/patch-injection/.eslintrc.json
  packages/patch-injection/package.json
  packages/patch-injection/tsconfig.json
Due: none

fix: Fix minor issue for code consistency.
  apps/meteor/client/views/room/Header/RoomTitle.tsx
Due: e2e, client

chore(ci): fix issue commiting image size history
  .github/actions/docker-image-size-tracker/action.yml
Due: none

abac license module
  packages/core-typings/src/license/LicenseModule.ts
  packages/jwt/__tests__/jwt.spec.ts
Due: none

abac global enable setting
  apps/meteor/ee/server/configuration/abac.ts
  apps/meteor/ee/server/configuration/index.ts
  apps/meteor/ee/server/settings/abac.ts
Due: e2e

abac flag
  ee/packages/abac/package.json
  ee/packages/abac/src/index.ts
  packages/core-typings/src/IRoom.ts
  yarn.lock
Due: none

lint
  packages/model-typings/src/models/IAbacAttributesModel.ts
Due: none

abac model
  apps/meteor/server/models.ts
  packages/core-typings/src/IAbacAttribute.ts
  packages/core-typings/src/index.ts
  packages/model-typings/src/index.ts
  packages/model-typings/src/models/IAbacAttributesModel.ts
  packages/models/src/index.ts
  packages/models/src/modelClasses.ts
  packages/models/src/models/AbacAttributes.ts
Due: e2e, e2e-api

abac package and endpoints
  apps/meteor/ee/server/api/abac.ts
  apps/meteor/ee/server/api/index.ts
  apps/meteor/ee/server/settings/abac.ts
  apps/meteor/package.json
  ee/packages/abac/.eslintrc.json
  ee/packages/abac/jest.config.ts
  ee/packages/abac/package.json
  ee/packages/abac/src/index.ts
  ee/packages/abac/tsconfig.json
  yarn.lock
Due: e2e

permission
  apps/meteor/ee/server/api/abac.ts
  apps/meteor/ee/server/configuration/abac.ts
  apps/meteor/ee/server/lib/abac/index.ts
Due: e2e

attributes on room
  packages/core-typings/src/ABACAttributeDefinition.ts
  packages/core-typings/src/IRoom.ts
Due: none

tests
  ee/packages/abac/src/index.spec.ts
Due: none

model
  packages/model-typings/src/models/IRoomsModel.ts
  packages/models/src/models/Rooms.ts
Due: none

translations
  packages/i18n/src/locales/en.i18n.json
Due: none

abac service
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  apps/meteor/ee/server/startup/services.ts
  ee/packages/abac/src/index.ts
  ee/packages/abac/tsconfig.json
  packages/core-services/src/index.ts
  packages/core-services/src/types/IAbacService.ts
Due: e2e

Tests for other function
  ee/packages/abac/jest.config.ts
  ee/packages/abac/src/index.spec.ts
Due: none

list attirbutes endpoint
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  ee/packages/abac/package.json
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
  yarn.lock
Due: e2e

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
