Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true
  
  e2e-api:
    paths:
      - apps/meteor/server
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'
fixes:
  - '/home/runner/work/Rocket.Chat/Rocket.Chat/::'

Update apps/meteor/server/services/authorization/canAccessRoom.ts
  apps/meteor/server/services/authorization/canAccessRoom.ts
Due: e2e, e2e-api

test: introduce request config to some integration test helpers (#37365)
  apps/meteor/tests/data/rooms.helper.ts
  apps/meteor/tests/data/users.helper.ts
Due: e2e

fix: review
  apps/meteor/client/views/room/modals/ReportMessageModal/ReportMessageModal.tsx
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

requested changes
  apps/meteor/app/api/server/lib/eraseTeam.ts
Due: e2e

test: use correct ts-expect-error
  apps/meteor/client/hooks/useRoomIcon.spec.tsx
  apps/meteor/client/hooks/useRoomIcon.tsx
Due: e2e, client

chore: add new icons to abac rooms
  apps/meteor/client/hooks/useRoomIcon.spec.tsx
  apps/meteor/client/hooks/useRoomIcon.tsx
  apps/meteor/client/lib/rooms/roomTypes/private.ts
  apps/meteor/package.json
  yarn.lock
Due: e2e, client

chore: remove old tags
  apps/meteor/client/components/ABAC/ABACHeaderTag.spec.tsx
  apps/meteor/client/components/ABAC/ABACHeaderTag.tsx
  apps/meteor/client/components/ABAC/__snapshots__/ABACHeaderTag.spec.tsx.snap
  apps/meteor/client/views/room/Header/RoomHeader.tsx
  apps/meteor/client/views/room/HeaderV2/RoomHeader.tsx
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/nb.i18n.json
Due: e2e, client

test: fix e2e test
  apps/meteor/tests/e2e/page-objects/fragments/report-message-modal.ts
  apps/meteor/tests/e2e/report-message.spec.ts
Due: e2e

chore: changeset
  .changeset/thirty-donuts-visit.md
Due: none

fix: Missing call button with "Enhanced Navigation" enabled on small screens (#37449)
  .changeset/tall-sloths-exercise.md
  apps/meteor/client/NavBarV2/NavBarControls/NavBarControlsMenu.tsx
  apps/meteor/client/NavBarV2/NavBarControls/NavBarControlsWithData.tsx
Due: e2e, client

chore!: remove deprecated `livechat:saveUnit` method (#37461)
  .changeset/cyan-mayflies-juggle.md
  apps/meteor/ee/app/livechat-enterprise/server/index.ts
  apps/meteor/ee/app/livechat-enterprise/server/methods/saveUnit.ts
Due: e2e

chore!: remove deprecated `sendFileLivechatMessage` method (#37463)
  .changeset/popular-items-smash.md
  apps/meteor/app/livechat/server/methods/sendFileLivechatMessage.ts
Due: e2e

chore!: remove deprecated `livechat:takeInquiry` method (#37464)
  .changeset/wicked-yaks-join.md
  apps/meteor/app/livechat/server/index.ts
  apps/meteor/app/livechat/server/methods/takeInquiry.ts
Due: e2e

chore: remove unnecessary fields in update descriptor
  packages/apps-engine/src/server/AppManager.ts
Due: none

refactor: enableApp calls
  packages/apps-engine/src/server/AppManager.ts
Due: none

feat: persist manual status transitions
  packages/apps-engine/src/server/AppManager.ts
Due: none

add changeset
  .changeset/real-pans-confess.md
Due: none

refactor: installApp calls
  packages/apps-engine/src/server/AppManager.ts
Due: none

feat: target status on install is manually_enabled
  packages/apps-engine/src/server/AppManager.ts
Due: none

fix: make install more consistent
  apps/meteor/ee/server/apps/communication/rest.ts
Due: e2e

chore: adapt tests to new behavior
  apps/meteor/tests/end-to-end/api/livechat/00-rooms.ts
  apps/meteor/tests/end-to-end/apps/installation.ts
Due: e2e

refactor: remove unused parameter
  packages/apps-engine/src/server/AppManager.ts
Due: none

chore: capture possible license validation error during disable
  packages/apps-engine/src/server/AppManager.ts
Due: none

fix: descriptor instantiation
  packages/apps-engine/src/server/AppManager.ts
Due: none

refactor: initializeApp calls
  packages/apps-engine/src/server/AppManager.ts
Due: none

feat: stop persisting status changes on all transitions
  packages/apps-engine/src/server/AppManager.ts
Due: none

chore!: remove deprecated `livechat:removeUnit` method
  apps/meteor/ee/app/livechat-enterprise/server/index.ts
  apps/meteor/ee/app/livechat-enterprise/server/methods/removeUnit.ts
  apps/meteor/tests/e2e/utils/omnichannel/units.ts
Due: e2e

chore: changeset
  .changeset/blue-beans-check.md
Due: none

Apply suggestion from @KevLehman
  apps/meteor/tests/end-to-end/api/abac.ts
Due: e2e

new setting for abac attributes
  apps/meteor/ee/server/settings/abac.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e

fix
  packages/i18n/src/locales/en.i18n.json
Due: none

Improve dockerfiles build order and apply SSL patches
  apps/meteor/.docker/Dockerfile.alpine
  apps/meteor/ee/server/services/Dockerfile
  ee/apps/account-service/Dockerfile
  ee/apps/authorization-service/Dockerfile
  ee/apps/ddp-streamer/Dockerfile
  ee/apps/omnichannel-transcript/Dockerfile
  ee/apps/presence-service/Dockerfile
  ee/apps/queue-worker/Dockerfile
  ee/apps/stream-hub-service/Dockerfile
Due: e2e

Use mongodb and httpbin from compose in tests
  .github/workflows/ci-test-e2e.yml
  docker-compose-ci.yml
Due: none

Remove build dependency of test-storybook
  turbo.json
Due: none

feat(apps): stop persisting intermediate status transitions to database (#37167)
  .changeset/real-pans-confess.md
  apps/meteor/ee/server/apps/communication/rest.ts
  apps/meteor/tests/end-to-end/api/livechat/00-rooms.ts
  apps/meteor/tests/end-to-end/apps/installation.ts
  packages/apps-engine/src/server/AppManager.ts
Due: e2e

fix: GET/DELETE abac endpoints not allowing actions with setting disabled (#37415)
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/tests/end-to-end/api/abac.ts
Due: e2e

chore: changeset
  .changeset/grumpy-colts-collect.md
Due: none
