Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true
  
  e2e-api:
    paths:
      - apps/meteor/server
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'
fixes:
  - '/home/runner/work/Rocket.Chat/Rocket.Chat/::'

fix: only focus on title if its parentElement is not hidden
  apps/meteor/client/views/root/DocumentTitleWrapper.tsx
Due: e2e, client

chore: add link to aria-hidden-focus explainer
  apps/meteor/client/views/root/DocumentTitleWrapper.tsx
Due: e2e, client

feat: Add Pagination to App logs page (#36067)
  .changeset/red-cherries-grin.md
  apps/meteor/client/views/marketplace/AppDetailsPage/tabs/AppLogs/AppLogs.tsx
  apps/meteor/client/views/marketplace/hooks/useLogs.ts
Due: e2e, client

Deploy preview for PR 36031 🛫
  pr-preview/pr-36031/fuselage-ui-kit/project.json
  pr-preview/pr-36031/gazzodown/project.json
Due: none

ci: fix version
  apps/meteor/package.json
Due: e2e

ci: bump
  apps/meteor/CHANGELOG.md
  apps/meteor/app/utils/rocketchat.info
  apps/meteor/ee/server/services/CHANGELOG.md
  apps/meteor/package.json
  apps/uikit-playground/CHANGELOG.md
  ee/apps/account-service/CHANGELOG.md
  ee/apps/authorization-service/CHANGELOG.md
  ee/apps/ddp-streamer/CHANGELOG.md
  ee/apps/omnichannel-transcript/CHANGELOG.md
  ee/apps/presence-service/CHANGELOG.md
  ee/apps/queue-worker/CHANGELOG.md
  ee/apps/stream-hub-service/CHANGELOG.md
  ee/packages/license/CHANGELOG.md
  ee/packages/omnichannel-services/CHANGELOG.md
  ee/packages/pdf-worker/CHANGELOG.md
  ee/packages/presence/CHANGELOG.md
  package.json
  packages/api-client/CHANGELOG.md
  packages/apps/CHANGELOG.md
  packages/core-services/CHANGELOG.md
  packages/core-typings/CHANGELOG.md
  packages/core-typings/package.json
  packages/cron/CHANGELOG.md
  packages/ddp-client/CHANGELOG.md
  packages/freeswitch/CHANGELOG.md
  packages/fuselage-ui-kit/CHANGELOG.md
  packages/gazzodown/CHANGELOG.md
  packages/model-typings/CHANGELOG.md
  packages/models/CHANGELOG.md
  packages/rest-typings/CHANGELOG.md
  packages/rest-typings/package.json
  packages/ui-contexts/CHANGELOG.md
Due: e2e

Replace `Mongo.Collection` with `MinimongoCollection`
  apps/meteor/app/models/client/models/Messages.ts
  apps/meteor/app/models/client/models/Roles.ts
  apps/meteor/app/models/client/models/Subscriptions.ts
  apps/meteor/app/models/client/models/Users.ts
  apps/meteor/app/slashcommands-open/client/client.ts
  apps/meteor/app/ui-utils/client/lib/LegacyRoomManager.ts
  apps/meteor/app/ui-utils/client/lib/RoomHistoryManager.ts
  apps/meteor/app/ui/client/lib/UserAction.ts
  apps/meteor/app/webrtc/client/WebRTCClass.ts
  apps/meteor/client/definitions/MinimongoCollection.ts
  apps/meteor/client/lib/cachedCollections/CachedCollection.ts
  apps/meteor/client/lib/cachedCollections/MinimongoCollection.ts
  apps/meteor/client/lib/rooms/roomTypes/direct.ts
  apps/meteor/client/lib/rooms/roomTypes/private.ts
  apps/meteor/client/lib/rooms/roomTypes/public.ts
  apps/meteor/client/providers/UserProvider/hooks/useUpdateAvatar.ts
  apps/meteor/client/startup/roles.ts
  apps/meteor/client/views/room/MessageList/hooks/useMessages.ts
  apps/meteor/client/views/room/Sidepanel/hooks/useTeamslistChildren.ts
  apps/meteor/client/views/room/composer/hooks/useMessageComposerIsReadOnly.ts
  apps/meteor/client/views/room/contextualBar/Threads/hooks/useLegacyThreadMessages.ts
Due: e2e, client

Use query keys factory
  apps/meteor/app/livechat/client/lib/stream/queueManager.ts
  apps/meteor/client/hooks/useRoomInfoEndpoint.ts
  apps/meteor/client/lib/queryKeys.ts
  apps/meteor/client/omnichannel/hooks/useOmnichannelPrioritiesMenu.tsx
  apps/meteor/client/views/omnichannel/directory/chats/ChatInfo/RoomEdit/RoomEdit.tsx
  apps/meteor/client/views/omnichannel/directory/hooks/useOmnichannelRoomInfo.tsx
  apps/meteor/client/views/room/Header/Omnichannel/QuickActions/hooks/usePutChatOnHoldMutation.ts
  apps/meteor/client/views/room/Header/Omnichannel/QuickActions/hooks/useReturnChatToQueueMutation.ts
  apps/meteor/client/views/room/HeaderV2/Omnichannel/QuickActions/hooks/usePutChatOnHoldMutation.ts
  apps/meteor/client/views/room/HeaderV2/Omnichannel/QuickActions/hooks/useReturnChatToQueueMutation.ts
  apps/meteor/client/views/room/RoomOpenerEmbedded.tsx
  apps/meteor/client/views/room/body/hooks/useGoToHomeOnRemoved.ts
  apps/meteor/client/views/room/composer/ComposerOmnichannel/hooks/useResumeChatOnHoldMutation.ts
  apps/meteor/client/views/room/contextualBar/Info/EditRoomInfo/EditRoomInfo.tsx
  apps/meteor/client/views/room/hooks/useOpenRoom.ts
  apps/meteor/client/views/room/providers/hooks/useRoomQuery.ts
Due: e2e, client

Implement a Zustand store inside `MinimongoCollection`
  apps/meteor/client/lib/cachedCollections/MinimongoCollection.ts
  apps/meteor/tests/mocks/client/meteor.ts
Due: e2e, client

Replace some `findOne` calls
  apps/meteor/client/components/message/toolbar/useFollowMessageAction.ts
  apps/meteor/client/components/message/toolbar/useUnFollowMessageAction.ts
Due: e2e, client

Replace some `findOne` calls
  apps/meteor/client/views/hooks/useRequire2faSetup.ts
  apps/meteor/client/views/room/composer/hooks/useMessageComposerIsReadOnly.ts
  apps/meteor/client/views/room/hooks/useGoToRoom.ts
  apps/meteor/client/views/room/providers/RoomProvider.tsx
Due: e2e, client

Add a `state` accessor
  apps/meteor/client/lib/cachedCollections/MinimongoCollection.ts
  apps/meteor/client/views/room/hooks/useGoToRoom.ts
  apps/meteor/client/views/room/providers/hooks/useRoomQuery.ts
Due: e2e, client

Expand store usage
  apps/meteor/client/hooks/useRoomInfoEndpoint.ts
  apps/meteor/client/lib/cachedCollections/MinimongoCollection.ts
  apps/meteor/client/views/room/providers/RoomProvider.tsx
Due: e2e, client

Speed up login in E2EE tests
  apps/meteor/tests/e2e/e2e-encryption.spec.ts
  apps/meteor/tests/e2e/page-objects/account-security.ts
  apps/meteor/tests/e2e/page-objects/login.ts
Due: e2e

Replace some `findOne` calls
  apps/meteor/client/views/admin/permissions/hooks/useRole.ts
  apps/meteor/client/views/admin/users/UsersTable/UsersTableRow.tsx
Due: e2e, client

Fork Minimongo
  apps/meteor/app/authorization/client/hasPermission.ts
  apps/meteor/app/models/client/models/Users.ts
  apps/meteor/app/slashcommands-open/client/client.ts
  apps/meteor/app/ui-utils/client/lib/LegacyRoomManager.ts
  apps/meteor/client/lib/cachedCollections/CachedCollection.ts
  apps/meteor/client/lib/cachedCollections/Cursor.ts
  apps/meteor/client/lib/cachedCollections/DiffSequence.ts
  apps/meteor/client/lib/cachedCollections/IDocumentMapStore.ts
  apps/meteor/client/lib/cachedCollections/IdMap.ts
  apps/meteor/client/lib/cachedCollections/LocalCollection.ts
  apps/meteor/client/lib/cachedCollections/Matcher.ts
  apps/meteor/client/lib/cachedCollections/MinimongoCollection.ts
  apps/meteor/client/lib/cachedCollections/ObserveHandle.ts
  apps/meteor/client/lib/cachedCollections/OrderedDict.ts
  apps/meteor/client/lib/cachedCollections/Query.ts
  apps/meteor/client/lib/cachedCollections/Sorter.ts
  apps/meteor/client/lib/cachedCollections/SynchronousQueue.ts
  apps/meteor/client/lib/cachedCollections/common.ts
  apps/meteor/client/lib/rooms/roomTypes/direct.ts
  apps/meteor/client/lib/rooms/roomTypes/private.ts
  apps/meteor/client/lib/rooms/roomTypes/public.ts
  apps/meteor/client/views/hooks/useRequire2faSetup.ts
  apps/meteor/client/views/room/MessageList/hooks/useMessages.ts
  apps/meteor/client/views/room/Sidepanel/hooks/useTeamslistChildren.ts
  apps/meteor/definition/externals/meteor/meteor.d.ts
  apps/meteor/tests/e2e/feature-preview.spec.ts
  apps/meteor/tests/mocks/client/meteor.ts
Due: e2e, client

Expose more store mutations
  apps/meteor/client/lib/cachedCollections/CachedCollection.ts
  apps/meteor/client/lib/cachedCollections/IDocumentMapStore.ts
  apps/meteor/client/lib/cachedCollections/LocalCollection.ts
  apps/meteor/client/lib/cachedCollections/MinimongoCollection.ts
  apps/meteor/client/startup/roles.ts
Due: e2e, client

Review some types
  apps/meteor/client/lib/cachedCollections/Cursor.ts
  apps/meteor/client/lib/cachedCollections/DiffSequence.ts
  apps/meteor/client/lib/cachedCollections/LocalCollection.ts
  apps/meteor/client/lib/cachedCollections/MinimongoError.ts
  apps/meteor/client/lib/cachedCollections/Query.ts
  apps/meteor/client/lib/cachedCollections/SynchronousQueue.ts
  apps/meteor/client/lib/cachedCollections/common.ts
Due: e2e, client

Wipe stale code comments
  apps/meteor/client/lib/cachedCollections/Cursor.ts
  apps/meteor/client/lib/cachedCollections/IdMap.ts
  apps/meteor/client/lib/cachedCollections/LocalCollection.ts
  apps/meteor/client/lib/cachedCollections/Matcher.ts
  apps/meteor/client/lib/cachedCollections/MinimongoCollection.ts
  apps/meteor/client/lib/cachedCollections/MinimongoError.ts
  apps/meteor/client/lib/cachedCollections/ObserveHandle.ts
  apps/meteor/client/lib/cachedCollections/OrderedDict.ts
  apps/meteor/client/lib/cachedCollections/Query.ts
  apps/meteor/client/lib/cachedCollections/Sorter.ts
  apps/meteor/client/lib/cachedCollections/SynchronousQueue.ts
  apps/meteor/client/lib/cachedCollections/common.ts
Due: e2e, client

Replace some collection usage
  apps/meteor/app/autotranslate/client/lib/autotranslate.ts
  apps/meteor/app/e2e/client/rocketchat.e2e.room.ts
  apps/meteor/app/e2e/client/rocketchat.e2e.ts
  apps/meteor/app/models/client/models/CachedChatRoom.ts
  apps/meteor/app/models/client/models/CachedChatSubscription.ts
  apps/meteor/app/models/client/models/Messages.ts
  apps/meteor/client/lib/cachedCollections/CachedCollection.ts
  apps/meteor/client/lib/cachedCollections/IDocumentMapStore.ts
  apps/meteor/client/lib/cachedCollections/LocalCollection.ts
  apps/meteor/client/lib/cachedCollections/MinimongoCollection.ts
Due: e2e, client

Improve ergonomics
  apps/meteor/app/autotranslate/client/lib/autotranslate.ts
  apps/meteor/app/e2e/client/rocketchat.e2e.room.ts
  apps/meteor/app/e2e/client/rocketchat.e2e.ts
  apps/meteor/app/models/client/models/CachedChatRoom.ts
  apps/meteor/app/models/client/models/CachedChatSubscription.ts
  apps/meteor/app/ui-utils/client/lib/RoomHistoryManager.ts
  apps/meteor/client/lib/cachedCollections/CachedCollection.ts
  apps/meteor/client/lib/cachedCollections/DocumentMapStore.ts
  apps/meteor/client/lib/cachedCollections/LocalCollection.ts
  apps/meteor/client/lib/cachedCollections/MinimongoCollection.ts
  apps/meteor/client/startup/roles.ts
  apps/meteor/client/views/room/hooks/useGoToRoom.ts
  apps/meteor/client/views/room/providers/hooks/useRoomQuery.ts
Due: e2e, client

Refactor `ObserveHandle`
  apps/meteor/client/lib/cachedCollections/Cursor.ts
  apps/meteor/client/lib/cachedCollections/DiffSequence.ts
  apps/meteor/client/lib/cachedCollections/ObserveHandle.ts
Due: e2e, client

Add unit test
  apps/meteor/client/lib/cachedCollections/Cursor.ts
  apps/meteor/client/lib/cachedCollections/LocalCollection.spec.ts
  apps/meteor/client/lib/cachedCollections/LocalCollection.ts
  apps/meteor/client/lib/cachedCollections/MinimongoCollection.ts
  apps/meteor/client/lib/cachedCollections/Query.ts
  apps/meteor/tests/mocks/client/meteor.ts
Due: e2e, client

Deploy preview for PR 35470 🛫
  pr-preview/pr-35470/fuselage-ui-kit/project.json
  pr-preview/pr-35470/gazzodown/project.json
Due: none

Adapt nomenclature on `@rocket.chat/mongo-adapter`
  apps/meteor/client/hooks/lists/useStreamUpdatesForMessageList.ts
  apps/meteor/client/views/admin/EditableSettingsContext.ts
  apps/meteor/client/views/room/contextualBar/Threads/hooks/useThreadMainMessageQuery.ts
  packages/mock-providers/src/MockedAppRootBuilder.tsx
  packages/mongo-adapter/src/filter.ts
  packages/mongo-adapter/src/index.ts
  packages/mongo-adapter/src/types.ts
Due: e2e, client

Replace the `Sorter` class
  apps/meteor/client/lib/cachedCollections/Cursor.ts
  apps/meteor/client/lib/cachedCollections/LocalCollection.ts
  apps/meteor/client/lib/cachedCollections/Matcher.ts
  apps/meteor/client/lib/cachedCollections/Query.ts
  apps/meteor/client/lib/cachedCollections/Sorter.ts
  apps/meteor/client/lib/cachedCollections/common.ts
Due: e2e, client

Deploy preview for PR 36079 🛫
  pr-preview/pr-36079/fuselage-ui-kit/project.json
  pr-preview/pr-36079/gazzodown/project.json
Due: none

test(private-rooms-override): WIP - add test structure for view-all-private-rooms permission
  apps/meteor/tests/e2e/private-rooms-override.spec.ts
Due: e2e

refactor: Replace `substr` with `slice` to remove a deprecated function in processWebhookMessage function
  apps/meteor/app/lib/server/functions/processWebhookMessage.ts
Due: e2e

fix: specify type for sentData in processWebhookMessage function
  apps/meteor/app/lib/server/functions/processWebhookMessage.ts
Due: e2e

fix: specify correct type for message in sentData array in processWebhookMessage function
  apps/meteor/app/lib/server/functions/processWebhookMessage.ts
Due: e2e

fix: add missing Technology_Provider translation in the English locale file
  packages/i18n/src/locales/en.i18n.json
Due: none

WIP(test: private-rooms-override): continue writing private rooms override test
  apps/meteor/tests/e2e/private-rooms-override.spec.ts
Due: e2e

chore: removes type casting from model function
  packages/model-typings/src/models/ILivechatContactsModel.ts
  packages/models/src/models/LivechatContacts.ts
Due: none
