Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'

Deploy preview for PR 33807 🛫
  pr-preview/pr-33807/fuselage-ui-kit/project.json
  pr-preview/pr-33807/gazzodown/project.json
Due: none

chore: add ajv typings on syncMessages route
  apps/meteor/app/api/server/v1/chat.ts
Due: e2e

chore: remove popMessagesFromArray function
  apps/meteor/server/publications/messages.ts
Due: e2e

regression: fix Google OAuth
  apps/meteor/app/google-oauth/server/index.js
Due: e2e

chore: added withLatency to mocked app builder
  packages/mock-providers/src/MockedAppRootBuilder.tsx
Due: none

feat: implemented CancelSubscriptionModal
  apps/meteor/client/views/admin/subscription/components/CancelSubscriptionModal.spec.tsx
  apps/meteor/client/views/admin/subscription/components/CancelSubscriptionModal.tsx
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

feat: implemented useCancelSubscriptionModal hook
  apps/meteor/client/views/admin/subscription/hooks/useCancelSubscriptionModal.spec.tsx
  apps/meteor/client/views/admin/subscription/hooks/useCancelSubscriptionModal.tsx
Due: e2e, client

feat: cancel subscription confirmation modal
  apps/meteor/client/views/admin/subscription/SubscriptionPage.tsx
Due: e2e, client

chore: changeset
  .changeset/twelve-horses-suffer.md
Due: none

chore: remove `hasConflict` field
  apps/meteor/app/livechat/server/lib/contacts/ContactMerger.ts
  apps/meteor/app/livechat/server/lib/contacts/updateContact.ts
  packages/apps-engine/src/definition/livechat/ILivechatContact.ts
  packages/core-typings/src/ILivechatContact.ts
Due: e2e

regression: remove query field on dm messages listing (#33807)
  .changeset/tiny-rabbits-lie.md
  apps/meteor/app/api/server/v1/im.ts
  apps/meteor/tests/data/chat.helper.ts
  apps/meteor/tests/end-to-end/api/direct-message.ts
  packages/rest-typings/src/v1/dm/DmMessagesProps.ts
Due: e2e

just for test
  apps/meteor/app/api/server/helpers/addUserToFileObj.ts
Due: e2e

Deploy preview for PR 33811 🛫
  pr-preview/pr-33811/fuselage-ui-kit/project.json
  pr-preview/pr-33811/gazzodown/project.json
Due: none

better
  apps/meteor/app/livechat/server/lib/QueueManager.ts
  apps/meteor/app/livechat/server/lib/RoutingManager.ts
Due: e2e

Delete docker-compose-local-monolith.yml
  docker-compose-local-monolith.yml
Due: none

replace update with updateAsync in 2FA login handler
  apps/meteor/app/2fa/server/loginHandler.ts
Due: e2e

Deploy preview for PR 33812 🛫
  pr-preview/pr-33812/fuselage-ui-kit/project.json
  pr-preview/pr-33812/gazzodown/project.json
Due: none

fix: validate `hasConflicts` on client
  apps/meteor/client/views/omnichannel/contactInfo/ContactInfo/ContactInfo.tsx
Due: e2e, client

Create stale-actors-enjoy.md
  .changeset/stale-actors-enjoy.md
Due: none

regression: fix Google OAuth (#33812)
  apps/meteor/app/2fa/server/loginHandler.ts
  apps/meteor/app/google-oauth/server/index.js
Due: e2e

fix: contact not merging for same email (#33811)
  apps/meteor/app/livechat/server/lib/contacts/ContactMerger.ts
  apps/meteor/app/livechat/server/lib/contacts/updateContact.ts
  apps/meteor/client/views/omnichannel/contactInfo/ContactInfo/ContactInfo.tsx
  apps/meteor/ee/server/patches/verifyContactChannel.ts
  packages/apps-engine/src/definition/livechat/ILivechatContact.ts
  packages/core-typings/src/ILivechatContact.ts
Due: e2e, client

..
  apps/meteor/.docker/Dockerfile.alpine
Due: e2e

remove debian jobs
  .github/actions/build-docker-image-preview/action.yml
  .github/workflows/ci-test-e2e.yml
  .github/workflows/ci.yml
Due: none

publish as official
  .github/workflows/ci.yml
Due: none

remove unused client side meteor method
  apps/meteor/client/methods/index.ts
  apps/meteor/client/methods/setUserActiveStatus.ts
Due: e2e, client

add changeset
  .changeset/curvy-flies-greet.md
Due: none
