Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true
  
  e2e-api:
    paths:
      - apps/meteor/server
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'
fixes:
  - '/home/runner/work/Rocket.Chat/Rocket.Chat/::'

add modal for team voice calls
  apps/meteor/client/views/room/contextualBar/TeamsVoipConfigModal.tsx
  apps/meteor/tests/e2e/page-objects/fragments/home-content.ts
  apps/meteor/tests/e2e/page-objects/fragments/upsell-modal.ts
  apps/meteor/tests/e2e/voice-calls-ce.spec.ts
Due: e2e, client

updated import
  apps/meteor/client/views/room/contextualBar/TeamsVoipConfigModal.tsx
Due: e2e, client

remove not visible step
  apps/meteor/tests/e2e/voice-calls-ce.spec.ts
Due: e2e

chore: remove unnecessary `Promise.all`
  apps/meteor/server/startup/migrations/v324.ts
Due: e2e, e2e-api

chore: email translation in message forward modal (#37214)
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/hi-IN.i18n.json
  packages/i18n/src/locales/it.i18n.json
  packages/i18n/src/locales/pt-BR.i18n.json
Due: none

feat(http-router): integrate logger for improved error handling in Router class
  packages/http-router/package.json
  packages/http-router/src/Router.ts
  yarn.lock
Due: none

refactor(http-router): enhance logging for validation errors in Router class
  packages/http-router/src/Router.ts
Due: none

chore: Log request/response contents when a validation error occurs (#37170)
  packages/http-router/src/Router.ts
Due: none

fix: use invite_room_state from payload
  ee/packages/federation-matrix/src/api/_matrix/invite.ts
Due: none

bump
  ee/packages/federation-matrix/package.json
  packages/core-services/package.json
  yarn.lock
Due: none

revert body schema validation
  ee/packages/federation-matrix/src/api/_matrix/invite.ts
Due: none

Apply suggestion from @d-gubert
  .changeset/chatty-foxes-attend.md
Due: none

refactor(e2ee): narrow key type for `encrypt` function
  apps/meteor/client/lib/e2ee/pbkdf2.ts
Due: e2e, client

fix(e2e): correct E2EE passphrase management test structure
  apps/meteor/tests/e2e/e2e-encryption/e2ee-passphrase-management.spec.ts
Due: e2e

refactor(e2ee): enhance cryptographic key type definitions
  apps/meteor/client/lib/e2ee/pbkdf2.ts
Due: e2e, client

test(e2ee): update `pbkdf2` tests for stricter type assertions
  apps/meteor/client/lib/e2ee/pbkdf2.spec.ts
Due: e2e, client

fix: Client crash on missing proper `attachments.fields` (#37147)
  .changeset/chilled-pans-unite.md
  apps/meteor/client/components/message/content/attachments/DefaultAttachment.tsx
Due: e2e, client

just for CE
  apps/meteor/tests/e2e/voice-calls-ce.spec.ts
Due: e2e

test: keep clickCount for now
  apps/meteor/tests/e2e/page-objects/fragments/toolbar.ts
Due: e2e

Add missing item
  apps/meteor/client/NavBarV2/NavBarControls/NavBarControlsMenu.tsx
  apps/meteor/client/NavBarV2/NavBarControls/NavBarControlsWithCall.tsx
  apps/meteor/client/NavBarV2/NavBarControls/NavBarControlsWithData.tsx
Due: e2e, client

regression: Missing call button with "Enhanced Navigation" enabled on small screens (#37155)
  apps/meteor/client/NavBarV2/NavBarControls/NavBarControlsMenu.tsx
  apps/meteor/client/NavBarV2/NavBarControls/NavBarControlsWithCall.tsx
  apps/meteor/client/NavBarV2/NavBarControls/NavBarControlsWithData.tsx
Due: e2e, client

feat: add setting bounds validation
  apps/meteor/app/lib/server/methods/saveSettings.ts
Due: e2e

review
  packages/ui-voip/src/v2/views/IncomingCallTransfer.tsx
  packages/ui-voip/src/v2/views/OutgoingCallTransfer.tsx
Due: none

fix tests
  apps/meteor/tests/e2e/e2e-encryption/e2ee-encryption-decryption.spec.ts
Due: e2e

refactor(e2ee): Standardize encrypted key storage with EncryptedKey.encode
  apps/meteor/client/lib/e2ee/keychain.ts
Due: e2e, client

docs(e2ee): Clarify IStoredKeyV1 binary format with JSDoc
  apps/meteor/client/lib/e2ee/keychain.ts
Due: e2e, client

chore(e2e-tests): Enable E2E key reset for passphrase management tests
  apps/meteor/tests/e2e/e2e-encryption/e2ee-passphrase-management.spec.ts
Due: e2e

Update stories
  packages/ui-voip/src/v2/MediaCallWidget.stories.tsx
  packages/ui-voip/src/v2/__snapshots__/MediaCallWidget.spec.tsx.snap
Due: none

refactor(e2ee): Refine `Codec` type to support specific encode return types
  apps/meteor/client/lib/e2ee/codec.ts
Due: e2e, client

docs(e2ee): Clarify stored key format comments
  apps/meteor/client/lib/e2ee/keychain.ts
Due: e2e, client

test(e2ee): Add `base64Length` utility and update keychain tests
  apps/meteor/client/lib/e2ee/keychain.spec.ts
Due: e2e, client

refactor(e2ee): Update keychain encryption for new `IStoredKeyV2` format and add `Serialized` type
  apps/meteor/client/lib/e2ee/keychain.ts
Due: e2e, client

refactor(e2ee): Standardize `EncryptedKey` representation and serialization
  apps/meteor/client/lib/e2ee/keychain.ts
Due: e2e, client

refactor(e2ee): Mark PBKDF2 algorithm name as readonly
  apps/meteor/client/lib/e2ee/pbkdf2.ts
Due: e2e, client

chore: Apply minor formatting and whitespace consistency
  apps/meteor/client/lib/e2ee/keychain.spec.ts
  apps/meteor/client/lib/e2ee/keychain.ts
Due: e2e, client

feat: Identify call transfer requester on call widget (#37207)
  .changeset/heavy-rules-fry.md
  packages/i18n/src/locales/en.i18n.json
  packages/ui-voip/src/v2/MediaCallContext.ts
  packages/ui-voip/src/v2/MediaCallProvider.tsx
  packages/ui-voip/src/v2/MediaCallWidget.stories.tsx
  packages/ui-voip/src/v2/MediaCallWidget.tsx
  packages/ui-voip/src/v2/MockedMediaCallProvider.tsx
  packages/ui-voip/src/v2/__snapshots__/MediaCallWidget.spec.tsx.snap
  packages/ui-voip/src/v2/useMediaSession.ts
  packages/ui-voip/src/v2/useMediaSessionInstance.ts
  packages/ui-voip/src/v2/views/IncomingCallTransfer.stories.tsx
  packages/ui-voip/src/v2/views/IncomingCallTransfer.tsx
  packages/ui-voip/src/v2/views/OutgoingCallTransfer.stories.tsx
  packages/ui-voip/src/v2/views/OutgoingCallTransfer.tsx
  packages/ui-voip/src/v2/views/index.ts
Due: none

feat: add BCP-47 field to autoTranslate.getSupportedLanguages response
  apps/meteor/app/autotranslate/server/autotranslate.ts
  apps/meteor/app/autotranslate/server/bcp47Mapping.ts
  apps/meteor/app/autotranslate/server/deeplTranslate.ts
  apps/meteor/package.json
  packages/core-typings/src/IAutoTranslate.ts
  yarn.lock
Due: e2e

added changeset
  .changeset/wild-impalas-sip.md
Due: none
