Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

refactor: users.create
  apps/meteor/app/api/server/v1/users.ts
Due: e2e

refactor: users.delete
  apps/meteor/app/api/server/v1/users.ts
Due: e2e

refactor: users.deleteOwnAccount
  apps/meteor/app/api/server/v1/users.ts
Due: e2e

refactor: users.setActiveStatus
  apps/meteor/app/api/server/v1/users.ts
Due: e2e

refactor: users.deactivateIdle
  apps/meteor/app/api/server/v1/users.ts
Due: e2e

refactor: users.info
  apps/meteor/app/api/server/v1/users.ts
Due: e2e

Lint
  apps/meteor/client/views/root/AppLayout.tsx
Due: e2e, client

refactor: users.list
  apps/meteor/app/api/server/v1/users.ts
Due: e2e

refactor: users.listByStatus
  apps/meteor/app/api/server/v1/users.ts
Due: e2e

refactor: users.sendWelcomeEmail
  apps/meteor/app/api/server/v1/users.ts
Due: e2e

refactor: users.register
  apps/meteor/app/api/server/v1/users.ts
Due: e2e

refactor: users.resetAvatar
  apps/meteor/app/api/server/v1/users.ts
Due: e2e

refactor: users.createToken
  apps/meteor/app/api/server/v1/users.ts
Due: e2e

refactor: users.getPreferences
  apps/meteor/app/api/server/v1/users.ts
Due: e2e

refactor: users.forgotPassword
  apps/meteor/app/api/server/v1/users.ts
Due: e2e

refactor: convert several user endpoints to new API pattern
  apps/meteor/app/api/server/v1/users.ts
Due: e2e

refactor: update parameter naming in API endpoints
  apps/meteor/app/api/server/v1/users.ts
Due: e2e

fix: add LivechatRoom info to executePreLivechatRoomCreatePrevent
  apps/meteor/app/livechat/server/lib/rooms.ts
  apps/meteor/tests/e2e/fixtures/insert-apps.ts
  apps/meteor/tests/end-to-end/api/livechat/00-rooms.ts
  packages/apps/src/bridges/IListenerBridge.ts
Due: e2e

chore: delete `nb.i18n.json`
  packages/i18n/src/locales/nb.i18n.json
Due: none

Deploy preview for PR 35470 🛫
  pr-preview/pr-35470/fuselage-ui-kit/project.json
  pr-preview/pr-35470/gazzodown/project.json
Due: none

Split `CachedCollection` into subclasses
  apps/meteor/app/models/client/models/CachedChatRoom.ts
  apps/meteor/app/models/client/models/CachedChatSubscription.ts
  apps/meteor/app/models/client/models/Permissions.ts
  apps/meteor/client/lib/cachedCollections/CachedCollection.ts
  apps/meteor/client/lib/cachedCollections/index.ts
  apps/meteor/client/lib/settings/PrivateSettingsCachedCollection.ts
  apps/meteor/client/lib/settings/PublicSettingsCachedCollection.ts
Due: e2e, client

Remove flag from `SettingsProvider`
  apps/meteor/client/omnichannel/securityPrivacy/SecurityPrivacyRoute.tsx
  apps/meteor/client/providers/SettingsProvider.tsx
  apps/meteor/client/views/account/AccountSidebar.tsx
  apps/meteor/client/views/admin/AdministrationRouter.tsx
  apps/meteor/client/views/admin/featurePreview/AdminFeaturePreviewRoute.tsx
  apps/meteor/client/views/admin/sidebar/AdminSidebar.tsx
  apps/meteor/client/views/marketplace/MarketplaceSidebar.tsx
  apps/meteor/client/views/omnichannel/sidebar/OmnichannelSidebar.tsx
Due: e2e, client

Restrict accessors in `CachedCollection`
  apps/meteor/app/models/client/models/CachedChatRoom.ts
  apps/meteor/app/models/client/models/CachedChatSubscription.ts
  apps/meteor/client/lib/cachedCollections/CachedCollection.ts
Due: e2e, client

Suspend `SettingsProvider`
  apps/meteor/client/lib/cachedCollections/CachedCollection.ts
  apps/meteor/client/providers/SettingsProvider.tsx
  apps/meteor/client/sidebar/Sidebar.stories.tsx
  apps/meteor/client/sidebarv2/Sidebar.stories.tsx
  apps/meteor/client/views/admin/settings/SettingsPage.tsx
  packages/mock-providers/src/MockedAppRootBuilder.tsx
  packages/mock-providers/src/MockedSettingsContext.tsx
  packages/ui-client/src/components/Header/Header.stories.tsx
  packages/ui-client/src/components/HeaderV2/Header.stories.tsx
  packages/ui-contexts/src/SettingsContext.ts
  packages/ui-contexts/src/hooks/useIsSettingsContextLoading.ts
  packages/ui-contexts/src/index.ts
Due: e2e, client

Remove collection from `EditableSettingProvider`
  apps/meteor/client/views/admin/EditableSettingsContext.ts
  apps/meteor/client/views/admin/settings/EditableSettingsProvider.tsx
  apps/meteor/client/views/admin/settings/SettingsRoute.tsx
Due: e2e, client

Purge unused model
  apps/meteor/app/models/client/models/Base.ts
Due: e2e

Get rid of `CannedResponse` collection
  apps/meteor/app/canned-responses/client/collections/CannedResponse.ts
  apps/meteor/app/canned-responses/client/index.ts
  apps/meteor/app/canned-responses/client/startup/responses.ts
  apps/meteor/client/importPackages.ts
  apps/meteor/client/lib/queryKeys.ts
  apps/meteor/client/views/room/providers/ComposerPopupProvider.tsx
  apps/meteor/client/views/room/providers/hooks/useCannedResponsesQuery.ts
Due: e2e, client

Replace non-reactive collection usage with a `Map`
  apps/meteor/app/ui-message/client/popup/messagePopupConfig.ts
  apps/meteor/client/views/room/providers/ComposerPopupProvider.tsx
Due: e2e, client

Use Zustand
  apps/meteor/client/views/admin/EditableSettingsContext.ts
  apps/meteor/client/views/admin/settings/EditableSettingsProvider.tsx
  apps/meteor/package.json
  yarn.lock
Due: e2e, client

Deploy preview for PR 35488 🛫
  pr-preview/pr-35488/fuselage-ui-kit/project.json
  pr-preview/pr-35488/gazzodown/project.json
Due: none

added e2e test for UI validation username
  apps/meteor/tests/e2e/register.spec.ts
Due: e2e

fixed sidebar collapse on path change
  apps/meteor/client/views/admin/sidebar/AdminSidebar.tsx
Due: e2e, client

fix: correct translation placeholder usage in leave room action
  apps/meteor/client/hooks/menuActions/useLeaveRoom.tsx
  apps/meteor/client/views/room/contextualBar/Info/hooks/actions/useRoomLeave.tsx
Due: e2e, client

Deploy preview for PR 35470 🛫
  pr-preview/pr-35470/fuselage-ui-kit/736.d8b701fb.iframe.bundle.js
  pr-preview/pr-35470/fuselage-ui-kit/736.d8b701fb.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-35470/fuselage-ui-kit/736.d8b701fb.iframe.bundle.js.map
  pr-preview/pr-35470/fuselage-ui-kit/736.dc547261.iframe.bundle.js
  pr-preview/pr-35470/fuselage-ui-kit/736.dc547261.iframe.bundle.js.map
  pr-preview/pr-35470/fuselage-ui-kit/iframe.html
  pr-preview/pr-35470/fuselage-ui-kit/project.json
  pr-preview/pr-35470/fuselage-ui-kit/runtime~main.eaf98e0f.iframe.bundle.js
  pr-preview/pr-35470/fuselage-ui-kit/runtime~main.f6b5ad00.iframe.bundle.js
  pr-preview/pr-35470/gazzodown/Markup-stories.5c821342.iframe.bundle.js
  pr-preview/pr-35470/gazzodown/Markup-stories.5c821342.iframe.bundle.js.map
  pr-preview/pr-35470/gazzodown/Markup-stories.ed371d4b.iframe.bundle.js
  pr-preview/pr-35470/gazzodown/Markup-stories.ed371d4b.iframe.bundle.js.map
  pr-preview/pr-35470/gazzodown/iframe.html
  pr-preview/pr-35470/gazzodown/project.json
  pr-preview/pr-35470/gazzodown/runtime~main.8a6714c6.iframe.bundle.js
  pr-preview/pr-35470/gazzodown/runtime~main.9a51c8d8.iframe.bundle.js
  pr-preview/pr-35470/uikit-playground/assets/CodeBlock-CqrFHsmo.js
  pr-preview/pr-35470/uikit-playground/assets/KatexBlock-BCi8jEiF.js
  pr-preview/pr-35470/uikit-playground/assets/KatexBlock-BFKN0FrY.js
  pr-preview/pr-35470/uikit-playground/assets/KatexElement-DB6HSfaW.js
  pr-preview/pr-35470/uikit-playground/assets/KatexElement-DuJ3yk06.js
  pr-preview/pr-35470/uikit-playground/assets/index-BRqTSm6B.js
  pr-preview/pr-35470/uikit-playground/assets/index-Dkl4FUKx.js
  pr-preview/pr-35470/uikit-playground/index.html
Due: none

Deploy preview for PR 35470 🛫
  pr-preview/pr-35470/fuselage-ui-kit/736.d8b701fb.iframe.bundle.js
  pr-preview/pr-35470/fuselage-ui-kit/736.d8b701fb.iframe.bundle.js.map
  pr-preview/pr-35470/fuselage-ui-kit/736.dc547261.iframe.bundle.js
  pr-preview/pr-35470/fuselage-ui-kit/736.dc547261.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-35470/fuselage-ui-kit/736.dc547261.iframe.bundle.js.map
  pr-preview/pr-35470/fuselage-ui-kit/iframe.html
  pr-preview/pr-35470/fuselage-ui-kit/project.json
  pr-preview/pr-35470/fuselage-ui-kit/runtime~main.eaf98e0f.iframe.bundle.js
  pr-preview/pr-35470/fuselage-ui-kit/runtime~main.f6b5ad00.iframe.bundle.js
  pr-preview/pr-35470/gazzodown/Markup-stories.5c821342.iframe.bundle.js
  pr-preview/pr-35470/gazzodown/Markup-stories.5c821342.iframe.bundle.js.map
  pr-preview/pr-35470/gazzodown/Markup-stories.ed371d4b.iframe.bundle.js
  pr-preview/pr-35470/gazzodown/Markup-stories.ed371d4b.iframe.bundle.js.map
  pr-preview/pr-35470/gazzodown/iframe.html
  pr-preview/pr-35470/gazzodown/project.json
  pr-preview/pr-35470/gazzodown/runtime~main.8a6714c6.iframe.bundle.js
  pr-preview/pr-35470/gazzodown/runtime~main.9a51c8d8.iframe.bundle.js
  pr-preview/pr-35470/uikit-playground/assets/CodeBlock-DrqP5Nxx.js
  pr-preview/pr-35470/uikit-playground/assets/KatexBlock-BCi8jEiF.js
  pr-preview/pr-35470/uikit-playground/assets/KatexBlock-BFKN0FrY.js
  pr-preview/pr-35470/uikit-playground/assets/KatexElement-DB6HSfaW.js
  pr-preview/pr-35470/uikit-playground/assets/KatexElement-DuJ3yk06.js
  pr-preview/pr-35470/uikit-playground/assets/index-BRqTSm6B.js
  pr-preview/pr-35470/uikit-playground/assets/index-Dkl4FUKx.js
  pr-preview/pr-35470/uikit-playground/index.html
Due: none

updatedTranslationImport
  apps/meteor/client/hooks/menuActions/useLeaveRoom.tsx
Due: e2e, client

Smooth transition in thread message collapse to full
  apps/meteor/client/views/room/contextualBar/Threads/Thread.tsx
Due: e2e, client

Path conditions:
  e2e: any of: apps/meteor/
  client: any of: apps/meteor/client
