Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true
  
  e2e-api:
    paths:
      - apps/meteor/server
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'
fixes:
  - '/home/runner/work/Rocket.Chat/Rocket.Chat/::'

Add strike test for relative timestamp format
  packages/message-parser/tests/timestamp.test.ts
Due: none

chore: restore upstream yarn.lock
  yarn.lock
Due: none

chore(message-parser-handwritten): remove unused files
  packages/message-parser-handwritten/src/ast/definitions.ts
  packages/message-parser-handwritten/src/ast/guards.ts
  packages/message-parser-handwritten/src/index.ts
  packages/message-parser-handwritten/src/utils.ts
Due: none

fix(message-parser-handwritten): include U+1FA00–U+1FAFF range in unicode emoji detection in lexer
  packages/message-parser-handwritten/src/lexer/constants/charSets.ts
Due: none

fix(message-parser-handwritten): remove accidental trailing space in emoticon key '>.<'
  packages/message-parser-handwritten/src/lexer/constants/emoticons.ts
Due: none

test: add property-based fuzz tests for message parser
  packages/message-parser/tests/fuzz.test.ts
Due: none

fix(message-parser-handwritten): fixed silently emitting EOF when MAX_TOKENS is reached
  packages/message-parser-handwritten/src/lexer/lexer.ts
Due: none

fix(message-parser-handwritten): flush pending text before emitting COLOR token
  packages/message-parser-handwritten/src/lexer/scanners/inline.ts
Due: none

fix(message-parser-handwritten): add -S flag to env for multi-word interpreter in shebang
  packages/message-parser-handwritten/benchmarks/lexer.bench.ts
Due: none

fix(message-parser-handwritten): correctly parse ZWJ emoji sequences with skin-tone modifiers
  packages/message-parser-handwritten/src/lexer/scanners/emoji.ts
Due: none

fix(message-parser-handwritten): avoid consuming trailing ZWJ without a valid emoji component
  packages/message-parser-handwritten/src/lexer/scanners/emoji.ts
Due: none

fix(message-parser-handwritten): prevent out-of-bounds advancement in ZWJ emoji scanning
  packages/message-parser-handwritten/src/lexer/scanners/emoji.ts
Due: none

chore(message-parser-handwritten): add tinybench dev dependency for benchmarks
  packages/message-parser-handwritten/package.json
Due: none

style(message-parser-handwritten): fix indentation in scanner implementation
  packages/message-parser-handwritten/src/lexer/scanners/code.ts
Due: none

refactor(message-parser-handwritten): avoid exporting const enum and remove implementation comments in token.ts
  packages/message-parser-handwritten/src/lexer/Token.ts
Due: none

fix(message-parser-handwritten): process variation selector before skin-tone modifier in ZWJ emoji parsing
  packages/message-parser-handwritten/src/lexer/scanners/emoji.ts
Due: none

fix: prevent UI from displaying @@ for federation usernames
  apps/meteor/client/components/GazzodownText.tsx
  apps/meteor/client/components/UserAutoCompleteMultiple/UserAutoCompleteMultipleOption.tsx
  apps/meteor/client/components/message/MessageHeader.tsx
  apps/meteor/client/components/message/content/reactions/Reaction.tsx
  apps/meteor/client/components/message/variants/SystemMessage.tsx
  apps/meteor/client/views/admin/moderation/ModerationConsoleTableRow.tsx
  apps/meteor/client/views/admin/moderation/UserReports/ModConsoleUserTableRow.tsx
  apps/meteor/client/views/admin/moderation/UserReports/UserReportInfo.tsx
  apps/meteor/client/views/room/contextualBar/RoomFiles/components/FileItem.tsx
  apps/meteor/client/views/room/providers/ComposerPopupProvider.tsx
  apps/meteor/lib/getUserDisplayNames.ts
  apps/meteor/lib/utils/normalizeUsername.ts
  apps/meteor/tests/unit/lib/utils/normalizeUsername.spec.ts
Due: e2e, client

fix: strictly align users.list with Paginated generics and silence legacy SDK dependencies
  apps/meteor/app/api/server/v1/users.ts
  packages/ddp-client/src/legacy/RocketchatSDKLegacy.ts
  packages/ddp-client/src/legacy/types/SDKLegacy.ts
  packages/rest-typings/src/v1/users.ts
Due: e2e

fix(navbar-search): prevent Escape key from resetting search when search is not active
  apps/meteor/client/navbar/NavBarSearch/NavBarSearch.tsx
Due: e2e, client

fix: clear search navbar input only when focused on esc key event
  apps/meteor/client/navbar/NavBarSearch/NavBarSearch.tsx
Due: e2e, client

fix(navbar-search): ensure Escape works when search dropdown is open
  apps/meteor/client/navbar/NavBarSearch/NavBarSearch.tsx
Due: e2e, client

fix: save and return PKCE code_challenge in OAuth2 authorization code flow
  .changeset/fix-pkce-code-verifier.md
  apps/meteor/server/oauth2-server/model.ts
  apps/meteor/tests/end-to-end/api/oauth-server.ts
  packages/core-typings/src/IOAuthAuthCode.ts
Due: e2e, e2e-api

fix: markdown formatting toolbar toggle behavior
  .gitignore
  apps/meteor/app/ui-message/client/messageBox/createComposerAPI.ts
  apps/meteor/app/ui-message/client/messageBox/messageBoxFormatting.ts
  apps/meteor/client/views/room/composer/messageBox/MessageBoxFormattingToolbar/MessageBoxFormattingToolbar.tsx
  package.json
  yarn.lock
Due: e2e, client

chore: add changeset for markdown toolbar bug fix
  .changeset/khaki-students-sell.md
Due: none

use UUIDs
  apps/meteor/app/push/server/apn.ts
  ee/packages/media-calls/src/server/CallDirector.ts
Due: e2e

chore: adjust close connection condition
  ee/apps/ddp-streamer/src/DDPStreamer.ts
Due: none

Delete apps/meteor/app/api/server/middlewares/permissions.spec.ts
  apps/meteor/app/api/server/middlewares/permissions.spec.ts
Due: e2e

Apply suggestions from code review
  apps/meteor/app/api/server/middlewares/permissions.ts
Due: e2e

Apply suggestion from @ggazzo
  apps/meteor/app/api/server/middlewares/permissions.ts
Due: e2e

refactor: move request schema out of groups.delete function
  apps/meteor/app/api/server/v1/groups.ts
Due: e2e

refactor(server): optimize addAllUserToRoom cursor iteration
  apps/meteor/server/methods/addAllUserToRoom.ts
Due: e2e, e2e-api

chore: removed unnecessary exports
  apps/meteor/app/api/server/v1/groups.ts
Due: e2e

chore(deps): bump `hono` to 4.12.5 (#39421)
  apps/meteor/package.json
  packages/http-router/package.json
  yarn.lock
Due: e2e

test(apps): add tests for `bundleLegacyApp` (#39420)
  packages/apps-engine/tests/server/runtime/deno/bundleLegacyApp.spec.ts
Due: none

refactor(api): implement permissions middleware (#39351)
  apps/meteor/app/api/server/ApiClass.ts
  apps/meteor/app/api/server/middlewares/permissions.ts
Due: e2e

chore(deps): upgrade aws sdk to v3 (#36659)
  apps/meteor/app/file-upload/server/config/AmazonS3.ts
  apps/meteor/app/file-upload/ufs/AmazonS3/server.ts
  apps/meteor/package.json
  yarn.lock
Due: e2e

Apply suggestion from @d-gubert
  .changeset/fix-apps-engine-await-cleanup.md
Due: none

chore: remove unused S3 SignatureVersion setting
  apps/meteor/app/file-upload/server/config/AmazonS3.ts
  apps/meteor/server/settings/file-upload.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, e2e-api
