Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

test: Display upsell modal for voice calls on community edition. (#37230)
  apps/meteor/client/views/room/contextualBar/TeamsVoipConfigModal.tsx
  apps/meteor/tests/e2e/page-objects/fragments/home-content.ts
  apps/meteor/tests/e2e/page-objects/fragments/modal.ts
  apps/meteor/tests/e2e/page-objects/fragments/upsell-modal.ts
  apps/meteor/tests/e2e/voice-calls-ce.spec.ts
Due: e2e, client

feat: improve explanation on mock docstrings
  apps/meteor/ee/server/apps/marketplace/MarketplaceAPIClient.ts
Due: e2e

feat: disable confirm button
  apps/meteor/client/lib/chats/flows/requestMessageDeletion.ts
  apps/meteor/client/views/room/modals/DeleteMessageConfirmModal/DeleteMessageConfirmModal.tsx
  apps/meteor/client/views/room/modals/DeleteMessageConfirmModal/index.ts
Due: e2e, client

Refactor LinkPhone and add comprehensive parentheses tests & added more tests for markdown link URLs
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/link.test.ts
Due: none

Refactor subscription unread count logic
  apps/meteor/app/api/server/v1/subscriptions.ts
Due: e2e

fix: persist userId info while updating a canned response
  apps/meteor/ee/app/canned-responses/server/methods/saveCannedResponse.ts
Due: e2e

add api test
  apps/meteor/tests/end-to-end/api/livechat/15-canned-responses.ts
Due: e2e

check abac only when isdefault is true
  apps/meteor/app/api/server/v1/teams.ts
Due: e2e

add changeset
  .changeset/long-melons-float.md
Due: none

fix: LDAP Sync not updating user's VoIP Extensions
  .changeset/famous-apricots-compare.md
  apps/meteor/app/importer/server/classes/converters/UserConverter.ts
  apps/meteor/server/lib/ldap/Manager.ts
Due: e2e, e2e-api

fix tests
  apps/meteor/tests/end-to-end/api/livechat/15-canned-responses.ts
Due: e2e

chore: move crypto primitives to own folder
  apps/meteor/client/lib/e2ee/content.spec.ts
  apps/meteor/client/lib/e2ee/content.ts
  apps/meteor/client/lib/e2ee/crypto/aes.spec.ts
  apps/meteor/client/lib/e2ee/crypto/aes.ts
  apps/meteor/client/lib/e2ee/crypto/pbkdf2.spec.ts
  apps/meteor/client/lib/e2ee/crypto/pbkdf2.ts
  apps/meteor/client/lib/e2ee/crypto/rsa.spec.ts
  apps/meteor/client/lib/e2ee/crypto/rsa.ts
  apps/meteor/client/lib/e2ee/crypto/shared.spec.ts
  apps/meteor/client/lib/e2ee/crypto/shared.ts
  apps/meteor/client/lib/e2ee/keychain.spec.ts
  apps/meteor/client/lib/e2ee/keychain.ts
  apps/meteor/client/lib/e2ee/rocketchat.e2e.room.ts
  apps/meteor/client/lib/e2ee/rocketchat.e2e.ts
  apps/meteor/client/lib/e2ee/rsa.ts
Due: e2e, client

fix: formatting
  apps/meteor/client/lib/e2ee/crypto/rsa.spec.ts
Due: e2e, client

do not load messages to store if detailed is not enabled
  apps/meteor/ee/server/lib/message-read-receipt/ReadReceipt.js
Due: e2e

fix: createUnit test helper
  apps/meteor/tests/data/livechat/units.ts
Due: e2e

chore: adds deprecation warning for livechat:saveTag
  apps/meteor/ee/app/livechat-enterprise/server/methods/saveTag.ts
Due: e2e

test: add E2EE encrypted discussions test with secondary user
  apps/meteor/tests/e2e/e2e-encryption/e2ee-encrypted-discussions.spec.ts
  apps/meteor/tests/e2e/fixtures/inject-initial-data.ts
  apps/meteor/tests/e2e/fixtures/userStates.ts
  apps/meteor/tests/e2e/page-objects/home-discussion.ts
Due: e2e

refactor: type-safe crypto
  apps/meteor/client/lib/e2ee/crypto/aes.spec.ts
  apps/meteor/client/lib/e2ee/crypto/aes.ts
  apps/meteor/client/lib/e2ee/crypto/pbkdf2.spec.ts
  apps/meteor/client/lib/e2ee/crypto/pbkdf2.ts
  apps/meteor/client/lib/e2ee/crypto/rsa.ts
  apps/meteor/client/lib/e2ee/crypto/shared.spec.ts
  apps/meteor/client/lib/e2ee/crypto/shared.ts
  apps/meteor/client/lib/e2ee/keychain.ts
  apps/meteor/client/lib/e2ee/rocketchat.e2e.room.ts
Due: e2e, client

fix: deprecation warning alternate wrong endpoint
  apps/meteor/ee/app/livechat-enterprise/server/methods/saveUnit.ts
Due: e2e

chore: adds a new endpoint to handle the saving of tags
  apps/meteor/ee/app/livechat-enterprise/server/api/tags.ts
  packages/rest-typings/src/v1/omnichannel.ts
Due: e2e

chore: updates test helpers to use the new endpoint instead of livechat:saveTag
  apps/meteor/tests/data/livechat/tags.ts
  apps/meteor/tests/e2e/utils/omnichannel/tags.ts
Due: e2e

chore: updates the client to use the new endpoint instead of livechat:saveTag
  apps/meteor/client/omnichannel/tags/TagEdit.tsx
Due: e2e, client

docs: adds changeset
  .changeset/seven-otters-turn.md
Due: none

fix: linting errors
  apps/meteor/tests/e2e/utils/omnichannel/tags.ts
Due: e2e

abac license module
  packages/core-typings/src/license/LicenseModule.ts
  packages/jwt/__tests__/jwt.spec.ts
Due: none

abac global enable setting
  apps/meteor/ee/server/configuration/abac.ts
  apps/meteor/ee/server/configuration/index.ts
  apps/meteor/ee/server/settings/abac.ts
Due: e2e

lint
  packages/model-typings/src/models/IAbacAttributesModel.ts
Due: none

abac package and endpoints
  apps/meteor/ee/server/api/abac.ts
  apps/meteor/ee/server/api/index.ts
  apps/meteor/ee/server/settings/abac.ts
  apps/meteor/package.json
  ee/packages/abac/.eslintrc.json
  ee/packages/abac/jest.config.ts
  ee/packages/abac/package.json
  ee/packages/abac/src/index.ts
  ee/packages/abac/tsconfig.json
  yarn.lock
Due: e2e

abac model
  apps/meteor/server/models.ts
  packages/core-typings/src/IAbacAttribute.ts
  packages/core-typings/src/index.ts
  packages/model-typings/src/index.ts
  packages/model-typings/src/models/IAbacAttributesModel.ts
  packages/models/src/index.ts
  packages/models/src/modelClasses.ts
  packages/models/src/models/AbacAttributes.ts
Due: e2e, e2e-api

permission
  apps/meteor/ee/server/api/abac.ts
  apps/meteor/ee/server/configuration/abac.ts
  apps/meteor/ee/server/lib/abac/index.ts
Due: e2e

model
  packages/model-typings/src/models/IRoomsModel.ts
  packages/models/src/models/Rooms.ts
Due: none

abac service
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  apps/meteor/ee/server/startup/services.ts
  ee/packages/abac/src/index.ts
  ee/packages/abac/tsconfig.json
  packages/core-services/src/index.ts
  packages/core-services/src/types/IAbacService.ts
Due: e2e

abac flag
  ee/packages/abac/package.json
  ee/packages/abac/src/index.ts
  packages/core-typings/src/IRoom.ts
  yarn.lock
Due: none

translations
  packages/i18n/src/locales/en.i18n.json
Due: none

tests
  ee/packages/abac/src/index.spec.ts
Due: none

attributes on room
  packages/core-typings/src/ABACAttributeDefinition.ts
  packages/core-typings/src/IRoom.ts
Due: none

Tests for other function
  ee/packages/abac/jest.config.ts
  ee/packages/abac/src/index.spec.ts
Due: none

create an abac attribute
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
  packages/core-typings/src/ABACAttributeDefinition.ts
  packages/core-typings/src/IAbacAttribute.ts
  packages/core-typings/src/IRoom.ts
  packages/models/src/models/AbacAttributes.ts
Due: e2e

remove abac toggle endpoint
  apps/meteor/ee/server/api/abac/index.ts
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
Due: e2e

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
