Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'

Apply suggestions from code review
  apps/meteor/app/e2e/client/rocketchat.e2e.room.js
Due: e2e

better error when publickey is missing
  apps/meteor/app/e2e/client/rocketchat.e2e.room.js
Due: e2e

revert waiting key logic
  apps/meteor/app/e2e/client/rocketchat.e2e.room.js
  apps/meteor/app/e2e/client/rocketchat.e2e.ts
Due: e2e

not re-create but reassign
  apps/meteor/app/e2e/client/rocketchat.e2e.ts
Due: e2e

use always latest room key id
  apps/meteor/app/e2e/client/rocketchat.e2e.ts
Due: e2e

old room keys exchange working
  apps/meteor/app/e2e/client/rocketchat.e2e.room.js
  apps/meteor/server/models/raw/Rooms.ts
Due: e2e

add perm check
  apps/meteor/app/api/server/v1/e2e.ts
Due: e2e

chore: bump `@react-pdf/renderer"`
  apps/meteor/package.json
  ee/apps/omnichannel-transcript/package.json
  ee/apps/queue-worker/package.json
  ee/packages/pdf-worker/package.json
  yarn.lock
Due: e2e

auto set key
  apps/meteor/app/e2e/client/rocketchat.e2e.room.js
Due: e2e

feat: Trace api calls
  apps/meteor/app/api/server/api.ts
  apps/meteor/packages/rocketchat-mongo-config/server/index.js
  apps/meteor/server/models/raw/BaseRaw.ts
  packages/core-services/src/index.ts
  packages/core-services/src/lib/asyncMethodCallContext.ts
Due: e2e

Start using open telemetry
  .gitignore
  apps/meteor/app/api/server/api.ts
  apps/meteor/app/lib/server/lib/debug.js
  apps/meteor/app/metrics/server/lib/collectMetrics.ts
  apps/meteor/app/notification-queue/server/NotificationQueue.ts
  apps/meteor/package.json
  apps/meteor/server/cron/statistics.ts
  apps/meteor/server/main.ts
  apps/meteor/server/models/raw/BaseRaw.ts
  apps/meteor/tracing.otel.grpc.js
  development/agent.yml
  development/collector.config.yml
  development/docker-compose-monitoring.yml
  development/grafana-datasources.yml
  development/prometheus.yml
  development/tempo.yml
  package.json
  packages/core-services/package.json
  packages/core-services/src/lib/asyncMethodCallContext.ts
  packages/instance-status/package.json
  packages/instance-status/src/index.ts
  packages/tracing/.eslintrc.json
  packages/tracing/CHANGELOG.md
  packages/tracing/package.json
  packages/tracing/src/index.ts
  packages/tracing/tsconfig.json
  yarn.lock
Due: e2e

Deploy preview for PR 33328 🛫
  pr-preview/pr-33328/gazzodown/project.json
  pr-preview/pr-33328/ui-composer/project.json
Due: none

fix: channel should always be defined
  apps/meteor/app/livechat/server/lib/Contacts.ts
Due: e2e

Deploy preview for PR 33516 🛫
  pr-preview/pr-33516/gazzodown/project.json
  pr-preview/pr-33516/ui-composer/project.json
Due: none

chore: bump `xmldom`
  .github/actions/update-version-durability/package.json
Due: none

chore: remove pm2 dependency
  apps/meteor/.gitignore
  apps/meteor/ee/server/services/package.json
  apps/meteor/package.json
  yarn.lock
Due: e2e

refactor: look for fields and query when unsafe env is set
  apps/meteor/app/api/server/definition.ts
  apps/meteor/app/api/server/helpers/parseJsonQuery.ts
  apps/meteor/app/api/server/v1/custom-sounds.ts
  packages/rest-typings/src/v1/customSounds.ts
Due: e2e

feat: New outdated marketplace empty state
  .changeset/two-geckos-train.md
  apps/meteor/client/apps/orchestrator.ts
  apps/meteor/client/contexts/AppsContext.tsx
  apps/meteor/client/providers/AppsProvider/AppsProvider.tsx
  apps/meteor/client/views/marketplace/AppsPage/AppsPage.tsx
  apps/meteor/client/views/marketplace/AppsPage/AppsPageContent.tsx
  apps/meteor/client/views/marketplace/AppsPage/UnsupportedEmptyState.spec.tsx
  apps/meteor/client/views/marketplace/AppsPage/UnsupportedEmptyState.stories.tsx
  apps/meteor/client/views/marketplace/AppsPage/UnsupportedEmptyState.tsx
  apps/meteor/client/views/marketplace/components/MarketplaceHeader.tsx
  apps/meteor/client/views/marketplace/components/UpdateRocketChatBtn.tsx
  apps/meteor/client/views/marketplace/hooks/useFilteredApps.ts
  apps/meteor/ee/server/apps/communication/rest.ts
  apps/meteor/tests/mocks/client/marketplace.tsx
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

chore: remove pm2 dependency (#33524)
  apps/meteor/.gitignore
  apps/meteor/ee/server/services/package.json
  apps/meteor/package.json
  yarn.lock
Due: e2e

feat: New Private apps limitations (#33316)
  apps/meteor/client/views/marketplace/components/EnabledAppsCount.tsx
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

fix: Update translation key used by 'Forgot Password' e-mail body setting
  apps/meteor/server/startup/migrations/index.ts
  apps/meteor/server/startup/migrations/v310.ts
Due: e2e

Improve changeset
  .changeset/chilly-flowers-brake.md
Due: none

remove unrelated changes
  apps/meteor/tests/end-to-end/api/oauthapps.ts
Due: e2e

Create changeset
  .changeset/chilly-flowers-brake.md
Due: none

fix remaining conflicts
  apps/meteor/client/views/marketplace/components/EnabledAppsCount.tsx
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

chore!: Improve permissions check on oauth-apps endpoints (#32338)
  apps/meteor/tests/end-to-end/api/oauthapps.ts
Due: e2e

fix changeset
  .changeset/chilly-flowers-brake.md
Due: none

Use model instead of cached settings in migration
  apps/meteor/server/startup/migrations/v309.ts
Due: e2e

Remove unrelated changes
  apps/meteor/server/startup/migrations/v309.ts
Due: e2e

Deploy preview for PR 32212 🛫
  pr-preview/pr-32212/gazzodown/project.json
  pr-preview/pr-32212/ui-composer/project.json
Due: none

void promise
  apps/meteor/server/cron/usageReport.ts
Due: e2e
