Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

refactor: minors on helper notifyListenerOnRoleChanges function signature and Roles model method call
  apps/meteor/app/lib/server/lib/notifyListenerOnRoleChanges.ts
  apps/meteor/server/models/raw/Roles.ts
Due: e2e

refactor: adds listener calls on createOrUpdateProtectedRole function
  apps/meteor/server/lib/roles/createOrUpdateProtectedRole.ts
Due: e2e

remove tags and delete department
  apps/meteor/tests/e2e/omnichannel/omnichannel-current-chats.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-tags.spec.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-tags.ts
  apps/meteor/tests/e2e/utils/omnichannel/tags.ts
Due: e2e

chore: prevent multiple room finds during requestRoom method
  apps/meteor/app/livechat/server/lib/QueueManager.ts
  apps/meteor/ee/app/livechat-enterprise/server/hooks/beforeRoutingChat.ts
Due: e2e

remove memoizing
  apps/meteor/client/views/room/hooks/useE2EERoomState.ts
  apps/meteor/client/views/room/hooks/useE2EEState.ts
Due: e2e, client

room with e2ee setup routing
  apps/meteor/client/views/room/Room.tsx
  apps/meteor/client/views/room/RoomBodyWithE2EESetup.tsx
Due: e2e, client

remove useIsE2EEReady hook
  apps/meteor/client/hooks/roomActions/useE2EERoomAction.ts
  apps/meteor/client/views/room/contextualBar/Info/EditRoomInfo/useEditRoomPermissions.ts
  apps/meteor/client/views/room/hooks/useIsE2EEReady.ts
Due: e2e, client

update docs link to go.rocket.chat url
  apps/meteor/client/views/e2e/SaveE2EPasswordModal.tsx
  apps/meteor/client/views/room/RoomE2EENotAllowed.tsx
Due: e2e, client

test: check if user has really been removed from role
  apps/meteor/tests/end-to-end/api/28-roles.ts
Due: e2e

feat: added cloud workspace id to workspace statistics (#32298)
  .changeset/wild-teachers-design.md
  apps/meteor/app/api/server/lib/getServerInfo.ts
  apps/meteor/client/views/admin/workspace/DeploymentCard/DeploymentCard.tsx
  packages/core-typings/src/IWorkspaceInfo.ts
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/pt-BR.i18n.json
Due: e2e, client

WIP: fdfeea09dd Merge branch 'wip' into refactor/omniqeue
  apps/meteor/app/livechat/server/lib/QueueManager.ts
  apps/meteor/ee/app/livechat-enterprise/server/hooks/beforeRoutingChat.ts
  apps/meteor/lib/callbacks.ts
Due: e2e

test: Distinguish role names
  apps/meteor/tests/end-to-end/api/28-roles.ts
Due: e2e

..
  apps/meteor/app/livechat/server/lib/QueueManager.ts
Due: e2e

Fix undefined dates causing invalid message ts limit
  apps/meteor/app/api/server/v1/rooms.ts
Due: e2e

Use rest-typings type definition
  apps/meteor/app/api/server/v1/rooms.ts
  packages/rest-typings/src/v1/rooms.ts
Due: e2e

Fix params in end-to-end tests
  apps/meteor/tests/end-to-end/api/09-rooms.js
Due: e2e

Remove logs
  apps/meteor/server/lib/dataExport/exportRoomMessagesToFile.ts
Due: e2e

Add end-to-end tests for more types
  apps/meteor/tests/end-to-end/api/09-rooms.js
Due: e2e

Fix unit tests
  apps/meteor/tests/unit/server/lib/dataExport/exportRoomMessagesToFile.spec.ts
Due: e2e

Fix end-to-end tests
  apps/meteor/tests/end-to-end/api/09-rooms.js
Due: e2e

Fix type definition
  packages/rest-typings/src/v1/rooms.ts
Due: none

Execute async stub function
  apps/meteor/tests/unit/server/lib/dataExport/exportRoomMessagesToFile.spec.ts
Due: e2e

Anonymize username and name on tests
  apps/meteor/tests/unit/server/lib/dataExport/exportRoomMessagesToFile.spec.ts
Due: e2e

Export unit tested function
  apps/meteor/server/lib/dataExport/exportRoomMessagesToFile.ts
Due: e2e

Fix typecheck again
  apps/meteor/client/views/room/contextualBar/ExportMessages/FileExport.tsx
  apps/meteor/client/views/room/contextualBar/ExportMessages/MailExportForm.tsx
  packages/rest-typings/src/v1/rooms.ts
Due: e2e, client

Add multiple names and usernames
  apps/meteor/tests/unit/server/lib/dataExport/exportRoomMessagesToFile.spec.ts
Due: e2e

Add end-to-end tests
  apps/meteor/tests/end-to-end/api/09-rooms.js
Due: e2e

Create changeset
  .changeset/soft-snails-play.md
Due: none

mock fs/promises imports
  apps/meteor/tests/unit/server/lib/dataExport/exportRoomMessagesToFile.spec.ts
Due: e2e

Add unit tests for the exportMessageObject function
  apps/meteor/server/lib/dataExport/exportRoomMessagesToFile.ts
  apps/meteor/tests/unit/server/lib/dataExport/exportRoomMessagesToFile.spec.ts
Due: e2e

Fix end-to-end tests again
  apps/meteor/tests/end-to-end/api/09-rooms.js
Due: e2e

Move mocked messages to new file
  apps/meteor/tests/unit/app/apps/server/mocks/data/messages.data.js
  apps/meteor/tests/unit/server/lib/dataExport/exportRoomMessagesToFile.spec.ts
Due: e2e

Improve rest typing definition
  apps/meteor/app/api/server/v1/rooms.ts
  apps/meteor/tests/end-to-end/api/09-rooms.js
  packages/rest-typings/src/v1/rooms.ts
Due: e2e

Add settings mock
  apps/meteor/tests/unit/server/lib/dataExport/exportRoomMessagesToFile.spec.ts
Due: e2e

Use faker
  apps/meteor/server/lib/dataExport/exportRoomMessagesToFile.ts
  apps/meteor/tests/unit/server/lib/dataExport/exportRoomMessagesToFile.spec.ts
Due: e2e

Path conditions:
  e2e: any of: apps/meteor/
  client: any of: apps/meteor/client
