Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'

remove <1> tags from other languages
  apps/meteor/packages/rocketchat-i18n/i18n/de.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/es.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/fi.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/fr.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/gl.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/hu.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/ja.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/nl.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/pl.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/ru.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/sv.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/zh-TW.i18n.json
Due: e2e

Fix login types
  packages/rest-typings/src/v1/auth.ts
Due: none

fix type once again
  packages/rest-typings/src/v1/auth.ts
Due: none

make password optional
  packages/rest-typings/src/v1/auth.ts
Due: none

fix: change upsert by upserAsync
  apps/meteor/app/livechat/client/lib/stream/queueManager.ts
  apps/meteor/app/models/client/models/Base.ts
  apps/meteor/app/ui-message/client/popup/messagePopupConfig.ts
  apps/meteor/app/webdav/client/startup/sync.js
  apps/meteor/client/lib/chats/data.ts
  apps/meteor/client/lib/settings/PrivateSettingsCachedCollection.ts
  apps/meteor/client/startup/incomingMessages.ts
  apps/meteor/client/startup/roles.ts
  apps/meteor/client/startup/userRoles.ts
  apps/meteor/client/views/admin/settings/EditableSettingsProvider.tsx
  apps/meteor/client/views/room/body/hooks/useRoomRolesManagement.ts
  apps/meteor/client/views/room/contextualBar/Threads/hooks/useGetMessageByID.ts
  apps/meteor/ee/app/canned-responses/client/startup/responses.js
Due: e2e, client

regression: `PageHeader` back button must be an `IconButton` (#31266)
  apps/meteor/client/components/Page/PageHeader.tsx
  apps/meteor/client/views/admin/emailInbox/EmailInboxPage.tsx
  apps/meteor/client/views/admin/import/NewImportPage.tsx
  apps/meteor/client/views/admin/import/PrepareImportPage.tsx
  apps/meteor/client/views/admin/integrations/incoming/EditIncomingWebhook.tsx
  apps/meteor/client/views/admin/integrations/outgoing/EditOutgoingWebhook.tsx
  apps/meteor/client/views/admin/integrations/outgoing/history/OutgoingWebhookHistoryPage.tsx
  apps/meteor/client/views/admin/oauthApps/OAuthAppsPage.tsx
  apps/meteor/client/views/omnichannel/departments/EditDepartment.tsx
  apps/meteor/ee/client/omnichannel/cannedResponses/CannedResponseEdit.tsx
Due: e2e, client

fix nullable
  packages/rest-typings/src/v1/auth.ts
Due: none

fix lint
  packages/rest-typings/src/v1/auth.ts
Due: none

.
  apps/meteor/ee/client/omnichannel/reports/components/ReportCardContent.tsx
Due: e2e

chore: bump fuselage
  apps/meteor/package.json
  ee/packages/ui-theming/package.json
  packages/fuselage-ui-kit/package.json
  packages/gazzodown/package.json
  packages/ui-client/package.json
  packages/ui-composer/package.json
  packages/ui-video-conf/package.json
  packages/uikit-playground/package.json
  yarn.lock
Due: e2e

fix: remove `joinCodeRequired` from payload
  apps/meteor/client/views/room/contextualBar/Info/EditRoomInfo/EditRoomInfo.tsx
Due: e2e, client

fix: verify permission to show `ComposerJoinWithPassword`
  apps/meteor/client/views/room/composer/ComposerContainer.tsx
Due: e2e, client

chore: `ComposerJoinWithPassword` improvements
  apps/meteor/client/views/room/composer/ComposerJoinWithPassword.tsx
Due: e2e, client

chore: changeset
  .changeset/thick-nails-explode.md
Due: none

chore: Login api types (#31274)
  packages/rest-typings/src/v1/auth.ts
Due: none

fix query
  apps/meteor/packages/rocketchat-i18n/i18n/en.i18n.json
  apps/meteor/server/services/room/service.ts
Due: e2e

add open PDF viewer
  apps/meteor/app/file-upload/server/config/GridFS.ts
  apps/meteor/client/components/message/content/attachments/file/GenericFileAttachment.tsx
  apps/meteor/client/lib/utils/window.RocketChatDesktop.d.ts
Due: e2e, client

remove joincoderequired from saveroomsettings
  apps/meteor/app/channel-settings/server/methods/saveRoomSettings.ts
Due: e2e

throw custom error with response attached
  ee/packages/api-client/src/index.ts
Due: none

Highlight words in threads
  apps/meteor/app/lib/server/functions/notifications/desktop.ts
  apps/meteor/app/lib/server/functions/notifications/email.js
  apps/meteor/app/lib/server/functions/notifications/mobile.js
  apps/meteor/app/lib/server/lib/notifyUsersOnMessage.js
  apps/meteor/app/threads/server/functions.ts
Due: e2e

tests!
  apps/meteor/server/services/room/service.ts
  apps/meteor/tests/end-to-end/api/02-channels.js
Due: e2e

fix: start workspace pt-br translation not showing correctly on register page (#31253)
  apps/meteor/packages/rocketchat-i18n/i18n/de.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/es.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/fi.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/fr.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/gl.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/hu.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/ja.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/nl.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/pl.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/pt-BR.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/ru.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/sv.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/zh-TW.i18n.json
Due: e2e

ops
  apps/meteor/tests/end-to-end/api/02-channels.js
Due: e2e

chore: remove `beforeSaveMessage` callback (#31273)
  apps/meteor/app/lib/client/methods/sendMessage.ts
  apps/meteor/app/lib/server/functions/sendMessage.js
  apps/meteor/app/lib/server/functions/updateMessage.ts
  apps/meteor/app/message-pin/server/pinMessage.ts
  apps/meteor/client/methods/updateMessage.ts
  apps/meteor/lib/callbacks.ts
Due: e2e, client

Create changesets
  .changeset/brave-shrimps-marry.md
Due: none

Fix sdk account credentials
  ee/packages/ddp-client/src/DDPSDK.ts
  ee/packages/ddp-client/src/types/Account.ts
Due: none

chore: changed strategy to reduce stream re-subscribe
  apps/meteor/app/livechat/client/lib/stream/queueManager.ts
  apps/meteor/client/providers/OmnichannelProvider.tsx
Due: e2e, client

Correct informations in the 'Proposed changes' section
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: code styling
  apps/meteor/app/livechat/client/lib/stream/queueManager.ts
Due: e2e

improve changeset message
  .changeset/stale-monkeys-yell.md
Due: none

chore: changeset
  .changeset/three-moles-look.md
Due: none

Create real-items-tan.md
  .changeset/real-items-tan.md
Due: none

fix: SDK login methods not saving token (#31278)
  .changeset/real-items-tan.md
  ee/packages/ddp-client/src/DDPSDK.ts
  ee/packages/ddp-client/src/types/Account.ts
Due: none

ReportsPage resize
  apps/meteor/ee/client/omnichannel/reports/ReportsPage.tsx
  apps/meteor/ee/client/omnichannel/reports/components/ReportCard.tsx
  apps/meteor/ee/client/omnichannel/reports/components/ResizeObserver.tsx
  apps/meteor/ee/client/omnichannel/reports/hooks/useIsResizing.tsx
  apps/meteor/ee/client/omnichannel/reports/hooks/useResizeObserver.tsx
  apps/meteor/ee/client/omnichannel/reports/sections/AgentsSection.tsx
  apps/meteor/ee/client/omnichannel/reports/sections/TagsSection.tsx
Due: e2e

fix: Store custom status in localStorage (#31237)
  apps/meteor/client/sidebar/header/EditStatusModal.tsx
Due: e2e, client

ops
  apps/meteor/ee/client/omnichannel/reports/components/ReportCard.tsx
Due: e2e

Remove begin/end changelog
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix: Can't create public channels with joinCode (#31277)
  .changeset/thick-nails-explode.md
  apps/meteor/client/views/room/composer/ComposerContainer.tsx
  apps/meteor/client/views/room/composer/ComposerJoinWithPassword.tsx
  apps/meteor/client/views/room/contextualBar/Info/EditRoomInfo/EditRoomInfo.tsx
Due: e2e, client

clone response and update client
  apps/meteor/app/utils/client/lib/RestApiClient.ts
  ee/packages/api-client/src/index.ts
Due: e2e
