Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true
  
  e2e-api:
    paths:
      - apps/meteor/server
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'
fixes:
  - '/home/runner/work/Rocket.Chat/Rocket.Chat/::'

Deploy preview for PR 35914 🛫
  pr-preview/pr-35914/fuselage-ui-kit/project.json
  pr-preview/pr-35914/gazzodown/project.json
Due: none

feat: add openapi support and ajv to ldap.testConnection route
  apps/meteor/app/api/server/v1/ldap.ts
Due: e2e

feat: enhance ldap.testSearch with openapi and ajv
  apps/meteor/app/api/server/v1/ldap.ts
Due: e2e

chore: remove unused imports from ldap.ts
  apps/meteor/app/api/server/v1/ldap.ts
Due: e2e

chore: remove commented-out ldap.testSearch route from ldap.ts
  apps/meteor/app/api/server/v1/ldap.ts
Due: e2e

chore: add import for ajv in ldap.ts
  apps/meteor/ee/server/api/ldap.ts
Due: e2e

feat: implement ldap.syncNow endpoint with openapi and ajv
  apps/meteor/ee/server/api/ldap.ts
Due: e2e

chore: remove commented-out ldap.syncNow route from ldap.ts
  apps/meteor/ee/server/api/ldap.ts
Due: e2e

Deploy preview for PR 35828 🛫
  pr-preview/pr-35828/fuselage-ui-kit/project.json
  pr-preview/pr-35828/gazzodown/project.json
  pr-preview/pr-35828/ui-composer/project.json
Due: none

Deploy preview for PR 35863 🛫
  pr-preview/pr-35863/fuselage-ui-kit/project.json
  pr-preview/pr-35863/gazzodown/project.json
  pr-preview/pr-35863/ui-composer/project.json
Due: none

test: fix locator
  apps/meteor/tests/e2e/login.spec.ts
Due: e2e

Deploy preview for PR 35905 🛫
  pr-preview/pr-35905/fuselage-ui-kit/project.json
  pr-preview/pr-35905/gazzodown/project.json
Due: none

refactor: Convert integrations (api and triggerHandler) to typescript (#35819)
  apps/meteor/app/api/server/api.ts
  apps/meteor/app/api/server/definition.ts
  apps/meteor/app/integrations/server/api/api.ts
  apps/meteor/app/integrations/server/lib/ScriptEngine.ts
  apps/meteor/app/integrations/server/lib/definition.ts
  apps/meteor/app/integrations/server/lib/triggerHandler.ts
  apps/meteor/app/integrations/server/methods/outgoing/replayOutgoingIntegration.ts
  apps/meteor/app/integrations/server/startup.ts
  apps/meteor/server/services/meteor/service.ts
  packages/core-typings/src/IIntegrationHistory.ts
  packages/rest-typings/src/index.ts
  packages/rest-typings/src/v1/integrations/hooks/IntegrationHooksAddProps.ts
  packages/rest-typings/src/v1/integrations/hooks/IntegrationHooksRemoveProps.ts
  packages/rest-typings/src/v1/integrations/hooks/index.ts
  packages/rest-typings/src/v1/integrations/index.ts
Due: e2e, e2e-api

Deploy preview for PR 35918 🛫
  pr-preview/pr-35918/fuselage-ui-kit/project.json
  pr-preview/pr-35918/gazzodown/project.json
Due: none

test: add e2e tests for message pruning functionality
  apps/meteor/tests/e2e/prune-messages.spec.ts
Due: e2e

test: update prune messages e2e test to ensure proper message deletion
  apps/meteor/tests/e2e/prune-messages.spec.ts
Due: e2e

..
  apps/meteor/package.json
  yarn.lock
Due: e2e

add react compiler
  apps/meteor/.babelrc
  apps/meteor/package.json
  yarn.lock
Due: e2e

Fix module manifest
  packages/i18n/package.json
Due: none

test: update prune messages test to use role-based selector for menu item
  apps/meteor/tests/e2e/prune-messages.spec.ts
Due: e2e

test: remove unnecessary media type blacklist setting from prune messages tests
  apps/meteor/tests/e2e/prune-messages.spec.ts
Due: e2e

Add missing deps
  packages/i18n/package.json
  yarn.lock
Due: none

WIP refactor
  packages/ui-voip/src/components/VoipPopupDraggable/DraggableCore.ts
  packages/ui-voip/src/components/VoipPopupDraggable/DraggableCore2.ts
  packages/ui-voip/src/components/VoipPopupDraggable/VoipPopupDraggable.tsx
Due: none

wip
  apps/meteor/app/ui-utils/client/lib/LegacyRoomManager.ts
  apps/meteor/app/ui-utils/client/lib/RoomHistoryManager.ts
  apps/meteor/app/ui/client/views/app/lib/scrolling.ts
  apps/meteor/client/lib/utils/legacyJumpToMessage.ts
  apps/meteor/client/views/room/MessageList/hooks/useJumpToMessage.ts
  apps/meteor/client/views/room/MessageList/hooks/useLoadSurroundingMessages.ts
  apps/meteor/client/views/room/MessageList/providers/MessageListProvider.tsx
  apps/meteor/client/views/room/body/RoomBody.tsx
  apps/meteor/client/views/room/body/RoomBodyV2.tsx
  apps/meteor/client/views/room/body/hooks/useGetMore.spec.ts
  apps/meteor/client/views/room/body/hooks/useGetMore.spec.tsx
  apps/meteor/client/views/room/body/hooks/useGetMore.ts
  apps/meteor/client/views/room/body/hooks/useRestoreScrollPosition.spec.ts
  apps/meteor/client/views/room/body/hooks/useRestoreScrollPosition.spec.tsx
  apps/meteor/client/views/room/body/hooks/useRestoreScrollPosition.ts
  apps/meteor/client/views/room/contextualBar/Threads/components/ThreadMessageList.tsx
  apps/meteor/client/views/room/contextualBar/Threads/hooks/useLegacyThreadMessages.ts
Due: e2e, client

fix: add import for ajv in permissions API
  apps/meteor/app/api/server/v1/permissions.ts
Due: e2e

refactor: remove add oauth service meteor call
  apps/meteor/app/api/server/v1/settings.ts
  apps/meteor/app/lib/server/methods/addOAuthService.ts
Due: e2e

Refactor: Removed inline styles and replaced them with external CSS for contextual bar.
  apps/meteor/app/api/server/v1/calendar.ts
  apps/meteor/app/oauth2-server-config/server/oauth/oauth2-server.ts
  apps/meteor/client/views/room/layout/RoomLayout.tsx
Due: e2e, client

fix: enhance permissions listAll API with AJV validation and structured response openapi
  apps/meteor/app/api/server/v1/permissions.ts
Due: e2e

fix: replace API failure response with Meteor.Error for invalid updatedSince parameter
  apps/meteor/app/api/server/v1/permissions.ts
Due: e2e

Initial commit with local Rocket.Chat changes
  packages/i18n/src/locales/en.i18n.json
Due: none

fix: delete room state after logout
  apps/meteor/app/ui-utils/client/lib/LegacyRoomManager.ts
  apps/meteor/app/ui-utils/client/lib/RoomHistoryManager.ts
Due: e2e

just make sure we dont do anything if the element is detached
  apps/meteor/client/views/room/body/hooks/useGetMore.ts
Due: e2e, client

Update en.i18n.json
  packages/i18n/src/locales/en.i18n.json
Due: none
