Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

ts
  apps/meteor/app/livechat/server/api/v1/room.ts
Due: e2e

tests
  apps/meteor/app/lib/server/functions/closeLivechatRoom.ts
  apps/meteor/tests/unit/app/lib/server/functions/closeLivechatRoom.tests.ts
Due: e2e

refactor: :speech_balloon: New call ringer volume text
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/pt-BR.i18n.json
Due: none

WIP: Video conf volume tests
  apps/meteor/client/views/account/preferences/AccountPreferencesPage.tsx
  apps/meteor/tests/e2e/page-objects/account-profile.ts
  apps/meteor/tests/e2e/page-objects/fragments/home-sidenav.ts
  apps/meteor/tests/e2e/page-objects/home-channel.ts
  apps/meteor/tests/e2e/video-conference-ring.spec.ts
Due: e2e, client

Remove data-qa, improve locator and add aria-label to preferences section
  apps/meteor/client/views/account/preferences/AccountPreferencesPage.tsx
  apps/meteor/client/views/account/preferences/PreferencesSoundSection.tsx
  apps/meteor/tests/e2e/page-objects/account-profile.ts
Due: e2e, client

Create mean-numbers-chew.md
  .changeset/mean-numbers-chew.md
Due: none

Include unread count in subscription API responses
  apps/meteor/app/api/server/v1/subscriptions.ts
Due: e2e

chore: bump packages
  apps/meteor/ee/server/services/package.json
  apps/meteor/package.json
  apps/uikit-playground/package.json
  ee/packages/ui-theming/package.json
  packages/core-services/package.json
  packages/core-typings/package.json
  packages/fuselage-ui-kit/package.json
  packages/gazzodown/package.json
  packages/livechat/package.json
  packages/ui-avatar/package.json
  packages/ui-client/package.json
  packages/ui-composer/package.json
  packages/ui-contexts/package.json
  packages/ui-kit/package.json
  packages/ui-video-conf/package.json
  packages/ui-voip/package.json
  yarn.lock
Due: e2e

fix: types
  packages/ui-client/src/components/GenericMenu/hooks/useHandleMenuAction.tsx
  packages/ui-contexts/src/hooks/useGoToRoom.ts
Due: none

Short-cut fuselage-ui-kit type issues
  packages/fuselage-ui-kit/src/hooks/useUiKitState.ts
Due: none

Update unit test
  packages/ui-voip/src/components/VoipContactId/VoipContactId.spec.tsx
  packages/ui-voip/src/components/VoipContactId/__snapshots__/VoipContactId.spec.tsx.snap
Due: none

Eliminate some implicit `any` parameters
  apps/meteor/client/apps/gameCenter/GameCenter.tsx
  apps/meteor/client/components/avatar/RoomAvatarEditor.tsx
  apps/meteor/client/hooks/useClipboardWithToast.ts
  apps/meteor/client/hooks/usePreventPropagation.ts
  apps/meteor/client/omnichannel/businessHours/useRemoveBusinessHour.tsx
  apps/meteor/client/omnichannel/cannedResponses/CannedResponsesTable.tsx
  apps/meteor/client/omnichannel/cannedResponses/contextualBar/CannedResponse/CannedResponseList.tsx
  apps/meteor/client/omnichannel/cannedResponses/contextualBar/CannedResponse/WrapCannedResponseList.tsx
  apps/meteor/client/omnichannel/cannedResponses/useRemoveCannedResponse.tsx
  apps/meteor/client/omnichannel/reports/components/AgentsTable.tsx
  apps/meteor/client/omnichannel/slaPolicies/RemoveSlaButton.tsx
  apps/meteor/client/omnichannel/slaPolicies/SlaTable.tsx
  apps/meteor/client/omnichannel/tags/TagsTable.tsx
  apps/meteor/client/omnichannel/tags/useRemoveTag.tsx
  apps/meteor/client/omnichannel/units/UnitEdit.tsx
  apps/meteor/client/omnichannel/units/UnitsTable.tsx
  apps/meteor/client/omnichannel/units/useRemoveUnit.tsx
  apps/meteor/client/sidebar/Item/Condensed.tsx
  apps/meteor/client/sidebar/Item/Extended.tsx
  apps/meteor/client/sidebar/Item/Medium.tsx
  apps/meteor/client/sidebar/search/SearchList.tsx
  apps/meteor/client/sidebar/sections/OmnichannelSection.tsx
Due: e2e, client

fix: Allow users to fetch the `packageValue` of settings on `/settings` endpoint (#34864)
  .changeset/friendly-kings-poke.md
  apps/meteor/app/api/server/v1/settings.ts
  apps/meteor/tests/end-to-end/api/settings.ts
  packages/rest-typings/src/v1/settings.ts
Due: e2e

setting text
  apps/meteor/server/settings/omnichannel.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e

Deploy preview for PR 34940 🛫
  pr-preview/pr-34940/fuselage-ui-kit/project.json
  pr-preview/pr-34940/gazzodown/project.json
Due: none

api tests
  apps/meteor/tests/end-to-end/api/livechat/00-rooms.ts
Due: e2e

chore: adds NetworkBroker dependency support
  ee/packages/network-broker/src/NetworkBroker.ts
Due: none

fix: `EditRoom`
  apps/meteor/client/views/admin/rooms/EditRoom.tsx
Due: e2e, client

Revert "chore!: Remove old retention maxAge settings (#33797)"
  apps/meteor/server/settings/retention-policy.ts
  apps/meteor/server/startup/migrations/v319.ts
  apps/meteor/server/startup/migrations/xrun.ts
Due: e2e

Create eight-humans-sip.md
  .changeset/eight-humans-sip.md
Due: none

Deploy preview for PR 34929 🛫
  pr-preview/pr-34929/fuselage-ui-kit/project.json
  pr-preview/pr-34929/gazzodown/project.json
Due: none

Deploy preview for PR 34939 🛫
  pr-preview/pr-34939/fuselage-ui-kit/project.json
  pr-preview/pr-34939/gazzodown/project.json
Due: none

Deploy preview for PR 34935 🛫
  pr-preview/pr-34935/fuselage-ui-kit/project.json
  pr-preview/pr-34935/gazzodown/project.json
Due: none

fix: E2EE tests
  apps/meteor/tests/e2e/e2e-encryption.spec.ts
  apps/meteor/tests/e2e/page-objects/home-channel.ts
Due: e2e

chore: adds LocalBroker dependency support Moleculer way
  packages/core-services/src/LocalBroker.ts
Due: none

Deploy preview for PR 34153 🛫
  pr-preview/pr-34153/fuselage-ui-kit/project.json
  pr-preview/pr-34153/gazzodown/project.json
Due: none

Deploy preview for PR 34900 🛫
  pr-preview/pr-34900/fuselage-ui-kit/231.1235ae33.iframe.bundle.js
  pr-preview/pr-34900/fuselage-ui-kit/231.1235ae33.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-34900/fuselage-ui-kit/231.1235ae33.iframe.bundle.js.map
  pr-preview/pr-34900/fuselage-ui-kit/231.f615ff69.iframe.bundle.js
  pr-preview/pr-34900/fuselage-ui-kit/231.f615ff69.iframe.bundle.js.map
  pr-preview/pr-34900/fuselage-ui-kit/iframe.html
  pr-preview/pr-34900/fuselage-ui-kit/project.json
  pr-preview/pr-34900/fuselage-ui-kit/runtime~main.1006a6c2.iframe.bundle.js
  pr-preview/pr-34900/fuselage-ui-kit/runtime~main.fec837c6.iframe.bundle.js
  pr-preview/pr-34900/gazzodown/Markup-stories.0f21423c.iframe.bundle.js
  pr-preview/pr-34900/gazzodown/Markup-stories.0f21423c.iframe.bundle.js.map
  pr-preview/pr-34900/gazzodown/Markup-stories.c531e086.iframe.bundle.js
  pr-preview/pr-34900/gazzodown/Markup-stories.c531e086.iframe.bundle.js.map
  pr-preview/pr-34900/gazzodown/iframe.html
  pr-preview/pr-34900/gazzodown/project.json
  pr-preview/pr-34900/gazzodown/runtime~main.15049a2b.iframe.bundle.js
  pr-preview/pr-34900/gazzodown/runtime~main.f33e3de8.iframe.bundle.js
  pr-preview/pr-34900/uikit-playground/assets/CodeBlock-BriQgb5-.js
  pr-preview/pr-34900/uikit-playground/assets/KatexBlock-Ce4F6WAS.js
  pr-preview/pr-34900/uikit-playground/assets/KatexBlock-DY1UM5IV.js
  pr-preview/pr-34900/uikit-playground/assets/KatexElement-BRSJuGvl.js
  pr-preview/pr-34900/uikit-playground/assets/KatexElement-DlFhhoSJ.js
  pr-preview/pr-34900/uikit-playground/assets/index-DIK23pKb.js
  pr-preview/pr-34900/uikit-playground/assets/index-X58EfcYl.js
  pr-preview/pr-34900/uikit-playground/index.html
Due: none

fix: Room not loading history (#34900)
  .changeset/good-clouds-brush.md
  apps/meteor/client/views/room/body/hooks/useGetMore.spec.ts
  apps/meteor/client/views/room/body/hooks/useGetMore.ts
Due: e2e, client

fix: Restore room scroll position (#34908)
  .changeset/gentle-moons-unite.md
  apps/meteor/client/views/room/body/hooks/useRestoreScrollPosition.spec.ts
  apps/meteor/client/views/room/body/hooks/useRestoreScrollPosition.ts
Due: e2e, client

Path conditions:
  e2e: any of: apps/meteor/
  client: any of: apps/meteor/client
