Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'

Refactor
  packages/apps-engine/src/server/runtime/deno/AppsEngineDenoRuntime.ts
Due: none

..
  apps/meteor/app/api/server/api.ts
Due: e2e

403 -> 401
  apps/meteor/app/api/server/api.ts
  apps/meteor/app/api/server/definition.ts
Due: e2e

..
  apps/meteor/tests/end-to-end/api/livechat/00-rooms.ts
Due: e2e

refactor: refactor api/v1/login implementation
  apps/meteor/app/api/server/api.ts
  apps/meteor/app/api/server/definition.ts
Due: e2e

'User not found'
  apps/meteor/app/api/server/api.ts
Due: e2e

..
  apps/meteor/app/api/server/api.ts
  apps/meteor/app/api/server/definition.ts
Due: e2e

move to forbidden
  apps/meteor/app/api/server/api.ts
  apps/meteor/app/api/server/v1/channels.ts
  apps/meteor/app/api/server/v1/cloud.ts
  apps/meteor/app/api/server/v1/commands.ts
  apps/meteor/app/api/server/v1/e2e.ts
  apps/meteor/app/api/server/v1/groups.ts
  apps/meteor/app/api/server/v1/im.ts
  apps/meteor/app/api/server/v1/rooms.ts
  apps/meteor/app/api/server/v1/settings.ts
  apps/meteor/app/api/server/v1/teams.ts
  apps/meteor/app/api/server/v1/users.ts
  apps/meteor/app/api/server/v1/videoConference.ts
  apps/meteor/app/api/server/v1/voip/events.ts
  apps/meteor/app/api/server/v1/voip/extensions.ts
  apps/meteor/app/api/server/v1/voip/rooms.ts
  apps/meteor/app/livechat/imports/server/rest/rooms.ts
  apps/meteor/app/livechat/imports/server/rest/upload.ts
  apps/meteor/app/livechat/imports/server/rest/users.ts
  apps/meteor/app/livechat/server/api/v1/agent.ts
  apps/meteor/app/livechat/server/api/v1/room.ts
  apps/meteor/ee/server/api/sessions.ts
Due: e2e

..
  apps/meteor/app/api/server/v1/teams.ts
Due: e2e

remove console log
  apps/meteor/app/api/server/api.ts
Due: e2e

Deploy preview for PR 33967 🛫
  pr-preview/pr-33967/fuselage-ui-kit/231.580370b3.iframe.bundle.js.map
  pr-preview/pr-33967/fuselage-ui-kit/231.8ddf7285.iframe.bundle.js
  pr-preview/pr-33967/fuselage-ui-kit/231.8ddf7285.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-33967/fuselage-ui-kit/231.8ddf7285.iframe.bundle.js.map
  pr-preview/pr-33967/fuselage-ui-kit/iframe.html
  pr-preview/pr-33967/fuselage-ui-kit/project.json
  pr-preview/pr-33967/fuselage-ui-kit/runtime~main.274a84d1.iframe.bundle.js
  pr-preview/pr-33967/fuselage-ui-kit/runtime~main.81887622.iframe.bundle.js
  pr-preview/pr-33967/gazzodown/iframe.html
  pr-preview/pr-33967/gazzodown/main.015bb743.iframe.bundle.js
  pr-preview/pr-33967/gazzodown/main.687e70dd.iframe.bundle.js
  pr-preview/pr-33967/gazzodown/project.json
  pr-preview/pr-33967/ui-composer/iframe.html
  pr-preview/pr-33967/ui-composer/main.79bd97d0.iframe.bundle.js
  pr-preview/pr-33967/ui-composer/main.87290d8c.iframe.bundle.js
  pr-preview/pr-33967/ui-composer/project.json
  pr-preview/pr-33967/uikit-playground/assets/CodeBlock-DI5TBIDU.js
  pr-preview/pr-33967/uikit-playground/assets/KatexBlock-BiRg_b3S.js
  pr-preview/pr-33967/uikit-playground/assets/KatexBlock-P3OfGh4C.js
  pr-preview/pr-33967/uikit-playground/assets/KatexElement-B5WGHryd.js
  pr-preview/pr-33967/uikit-playground/assets/KatexElement-DqcdzP1A.js
  pr-preview/pr-33967/uikit-playground/assets/index-BpXkU1o-.js
  pr-preview/pr-33967/uikit-playground/assets/index-CYqoBe8p.js
  pr-preview/pr-33967/uikit-playground/index.html
Due: none

deploy: d1e6a73796269824fb1aa7afcc7b8aa242e34e90
  develop/ui-composer/project.json
Due: none

Deploy preview for PR 33935 🛫
  pr-preview/pr-33935/fuselage-ui-kit/231.598445e5.iframe.bundle.js
  pr-preview/pr-33935/fuselage-ui-kit/231.598445e5.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-33935/fuselage-ui-kit/231.598445e5.iframe.bundle.js.map
  pr-preview/pr-33935/fuselage-ui-kit/231.da1ba13a.iframe.bundle.js.map
  pr-preview/pr-33935/fuselage-ui-kit/iframe.html
  pr-preview/pr-33935/fuselage-ui-kit/project.json
  pr-preview/pr-33935/fuselage-ui-kit/runtime~main.210834a3.iframe.bundle.js
  pr-preview/pr-33935/fuselage-ui-kit/runtime~main.e535406d.iframe.bundle.js
  pr-preview/pr-33935/gazzodown/project.json
  pr-preview/pr-33935/uikit-playground/assets/CodeBlock-DI5TBIDU.js
  pr-preview/pr-33935/uikit-playground/assets/KatexBlock-BiRg_b3S.js
  pr-preview/pr-33935/uikit-playground/assets/KatexBlock-P3OfGh4C.js
  pr-preview/pr-33935/uikit-playground/assets/KatexElement-B5WGHryd.js
  pr-preview/pr-33935/uikit-playground/assets/KatexElement-DqcdzP1A.js
  pr-preview/pr-33935/uikit-playground/assets/index-BpXkU1o-.js
  pr-preview/pr-33935/uikit-playground/assets/index-CYqoBe8p.js
  pr-preview/pr-33935/uikit-playground/index.html
Due: none

fix: missing styles
  apps/meteor/client/views/composer/AudioMessageRecorder/AudioMessageRecorder.tsx
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

fix result types
  apps/meteor/server/settings/lib/auditedSettingUpdates.ts
Due: e2e

Deploy preview for PR 33809 🛫
  pr-preview/pr-33809/fuselage-ui-kit/231.580370b3.iframe.bundle.js.map
  pr-preview/pr-33809/fuselage-ui-kit/231.8ddf7285.iframe.bundle.js
  pr-preview/pr-33809/fuselage-ui-kit/231.8ddf7285.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-33809/fuselage-ui-kit/231.8ddf7285.iframe.bundle.js.map
  pr-preview/pr-33809/fuselage-ui-kit/iframe.html
  pr-preview/pr-33809/fuselage-ui-kit/project.json
  pr-preview/pr-33809/fuselage-ui-kit/runtime~main.274a84d1.iframe.bundle.js
  pr-preview/pr-33809/fuselage-ui-kit/runtime~main.81887622.iframe.bundle.js
  pr-preview/pr-33809/gazzodown/project.json
  pr-preview/pr-33809/ui-composer/project.json
  pr-preview/pr-33809/uikit-playground/assets/CodeBlock-DI5TBIDU.js
  pr-preview/pr-33809/uikit-playground/assets/KatexBlock-BiRg_b3S.js
  pr-preview/pr-33809/uikit-playground/assets/KatexBlock-P3OfGh4C.js
  pr-preview/pr-33809/uikit-playground/assets/KatexElement-B5WGHryd.js
  pr-preview/pr-33809/uikit-playground/assets/KatexElement-DqcdzP1A.js
  pr-preview/pr-33809/uikit-playground/assets/index-BpXkU1o-.js
  pr-preview/pr-33809/uikit-playground/assets/index-CYqoBe8p.js
  pr-preview/pr-33809/uikit-playground/index.html
Due: none

chore: fix `Setting.updateValueById` result
  apps/meteor/server/models/raw/Settings.ts
  packages/model-typings/src/models/ISettingsModel.ts
Due: e2e

Ignore dependabot branches when running codeql-analysis on push
  .github/workflows/codeql-analysis.yml
Due: none

Deploy preview for PR 33997 🛫
  pr-preview/pr-33997/fuselage-ui-kit/project.json
  pr-preview/pr-33997/gazzodown/project.json
  pr-preview/pr-33997/ui-composer/project.json
Due: none

chore: Remove meteor cached collection startup for anons (#33975)
  apps/meteor/client/hooks/useLoadRoomForAllowedAnonymousRead.ts
  apps/meteor/client/startup/collections.ts
  apps/meteor/client/startup/index.ts
  apps/meteor/client/views/root/AppLayout.tsx
Due: e2e, client

feat: Improve thread metrics (#32906)
  .changeset/lazy-avocados-whisper.md
  apps/meteor/app/api/server/v1/chat.ts
  apps/meteor/app/utils/server/lib/normalizeMessagesForUser.ts
  apps/meteor/client/components/UserInfo/UserInfoAvatar.tsx
  apps/meteor/client/components/message/content/ThreadMetrics.spec.tsx
  apps/meteor/client/components/message/content/ThreadMetrics.tsx
  apps/meteor/client/components/message/content/ThreadMetricsFollow.tsx
  apps/meteor/client/components/message/content/ThreadMetricsParticipants.tsx
  apps/meteor/client/components/message/content/ThreadMetricsUnreadBadge.tsx
  apps/meteor/client/components/message/variants/room/RoomMessageContent.tsx
  apps/meteor/client/lib/lists/ThreadsList.ts
  apps/meteor/client/providers/AvatarUrlProvider.tsx
  apps/meteor/client/views/room/contextualBar/Threads/ThreadList.tsx
  apps/meteor/client/views/room/contextualBar/Threads/components/ThreadListItem.tsx
  apps/meteor/client/views/room/contextualBar/Threads/components/ThreadListMessage.tsx
  apps/meteor/client/views/room/contextualBar/Threads/components/ThreadListMetrics.tsx
  packages/i18n/src/locales/en.i18n.json
  packages/mock-providers/src/MockedRouterContext.tsx
  packages/mock-providers/src/index.ts
  packages/rest-typings/src/v1/chat.ts
  packages/ui-avatar/src/components/UserAvatar.tsx
  packages/ui-contexts/src/AvatarUrlContext.ts
  packages/ui-contexts/src/hooks/useUserAvatarPath.ts
Due: e2e, client

Deploy preview for PR 32083 🛫
  pr-preview/pr-32083/fuselage-ui-kit/project.json
  pr-preview/pr-32083/gazzodown/project.json
Due: none

deploy: 66ecc64fc1d4464ad2818ad04e23a09cdf221194
  develop/fuselage-ui-kit/231.fc8bd24e.iframe.bundle.js
  develop/fuselage-ui-kit/231.fc8bd24e.iframe.bundle.js.LICENSE.txt
  develop/fuselage-ui-kit/231.fc8bd24e.iframe.bundle.js.map
  develop/fuselage-ui-kit/iframe.html
  develop/fuselage-ui-kit/project.json
  develop/fuselage-ui-kit/runtime~main.b35263b5.iframe.bundle.js
  develop/gazzodown/Markup-stories.4d153fc1.iframe.bundle.js
  develop/gazzodown/Markup-stories.4d153fc1.iframe.bundle.js.map
  develop/gazzodown/iframe.html
  develop/gazzodown/project.json
  develop/gazzodown/runtime~main.6d30c7cd.iframe.bundle.js
  develop/uikit-playground/assets/CodeBlock-7ZOB9TgF.js
  develop/uikit-playground/assets/KatexBlock-BcYcQPEs.js
  develop/uikit-playground/assets/KatexElement-DIaObbL3.js
  develop/uikit-playground/assets/index-Dn31Gstm.js
  develop/uikit-playground/index.html
Due: none

Use updater in updateContactChannel and split it in multiple model methods
  apps/meteor/app/livechat/server/lib/Helper.ts
  apps/meteor/ee/app/livechat-enterprise/server/api/lib/contacts.ts
  apps/meteor/ee/server/patches/verifyContactChannel.ts
  apps/meteor/server/models/raw/BaseRaw.ts
  apps/meteor/server/models/raw/LivechatContacts.ts
  packages/model-typings/src/models/ILivechatContactsModel.ts
Due: e2e

update unit tests
  apps/meteor/ee/tests/unit/apps/livechat-enterprise/server/lib/verifyContactChannel.spec.ts
Due: e2e

feat: use livechat contacts to calculate workspace MAC
  apps/meteor/app/livechat/server/hooks/markRoomResponded.ts
  apps/meteor/app/livechat/server/lib/Helper.ts
  apps/meteor/app/livechat/server/lib/contacts/ContactMerger.ts
  apps/meteor/ee/app/license/server/startup.ts
  apps/meteor/server/models/raw/LivechatContacts.ts
  apps/meteor/server/models/raw/LivechatRooms.ts
  apps/meteor/server/models/raw/LivechatVisitors.ts
  packages/core-typings/src/ILivechatContact.ts
  packages/model-typings/src/models/ILivechatContactsModel.ts
  packages/model-typings/src/models/ILivechatRoomsModel.ts
  packages/model-typings/src/models/ILivechatVisitorsModel.ts
Due: e2e
