Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

chore: add contact unverification
  apps/meteor/app/livechat/server/lib/Contacts.ts
  apps/meteor/app/livechat/server/lib/RoutingManager.ts
Due: e2e

chore: variable rename
  apps/meteor/app/livechat/server/lib/Contacts.ts
Due: e2e

refactor e2e rooms so that only creator can set the keys first time
  apps/meteor/app/e2e/client/rocketchat.e2e.room.js
Due: e2e

chore: add "Direct_message" swedish key
  packages/i18n/src/locales/sv.i18n.json
Due: none

chore: adjusted error
  packages/ui-voip/src/hooks/useVoipClient.tsx
Due: none

Deploy preview for PR 33479 🛫
  pr-preview/pr-33479/gazzodown/project.json
Due: none

Deploy preview for PR 33515 🛫
  pr-preview/pr-33515/gazzodown/iframe.html
  pr-preview/pr-33515/gazzodown/main.8deb1fa8.iframe.bundle.js.map
  pr-preview/pr-33515/gazzodown/main.c1ac826a.iframe.bundle.js
  pr-preview/pr-33515/gazzodown/main.c1ac826a.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-33515/gazzodown/main.c1ac826a.iframe.bundle.js.map
  pr-preview/pr-33515/gazzodown/project.json
  pr-preview/pr-33515/ui-composer/project.json
Due: none

Deploy preview for PR 33504 🛫
  pr-preview/pr-33504/gazzodown/iframe.html
  pr-preview/pr-33504/gazzodown/main.8deb1fa8.iframe.bundle.js.map
  pr-preview/pr-33504/gazzodown/main.c1ac826a.iframe.bundle.js
  pr-preview/pr-33504/gazzodown/main.c1ac826a.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-33504/gazzodown/main.c1ac826a.iframe.bundle.js.map
  pr-preview/pr-33504/gazzodown/project.json
  pr-preview/pr-33504/ui-composer/project.json
Due: none

Deploy preview for PR 33308 🛫
  pr-preview/pr-33308/gazzodown/iframe.html
  pr-preview/pr-33308/gazzodown/main.8deb1fa8.iframe.bundle.js.map
  pr-preview/pr-33308/gazzodown/main.c1ac826a.iframe.bundle.js
  pr-preview/pr-33308/gazzodown/main.c1ac826a.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-33308/gazzodown/main.c1ac826a.iframe.bundle.js.map
  pr-preview/pr-33308/gazzodown/project.json
  pr-preview/pr-33308/ui-composer/project.json
Due: none

Add unit tests for apps license module change callback
  apps/meteor/ee/server/lib/apps/makeDisableAppsWithAddonsCallback.ts
  apps/meteor/ee/server/startup/apps.ts
  apps/meteor/tests/unit/app/lib/server/apps/disableAppsWithAddonsCallback.spec.ts
Due: e2e

Deploy preview for PR 33433 🛫
  pr-preview/pr-33433/gazzodown/iframe.html
  pr-preview/pr-33433/gazzodown/main.8deb1fa8.iframe.bundle.js.map
  pr-preview/pr-33433/gazzodown/main.c1ac826a.iframe.bundle.js
  pr-preview/pr-33433/gazzodown/main.c1ac826a.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-33433/gazzodown/main.c1ac826a.iframe.bundle.js.map
  pr-preview/pr-33433/gazzodown/project.json
  pr-preview/pr-33433/ui-composer/project.json
Due: none

Deploy preview for PR 33433 🛫
  pr-preview/pr-33433/gazzodown/project.json
Due: none

make sequential
  apps/meteor/app/apps/server/bridges/rooms.ts
Due: e2e

Deploy preview for PR 32194 🛫
  pr-preview/pr-32194/gazzodown/project.json
Due: none

fix: voip toggle empty sections being displayed when voip is disabled
  apps/meteor/client/NavBarV2/NavBarSettingsToolbar/UserMenu/hooks/useUserMenu.tsx
  apps/meteor/client/NavBarV2/NavBarSettingsToolbar/UserMenu/hooks/useVoipItemsSection.tsx
  apps/meteor/client/sidebar/header/hooks/useUserMenu.tsx
  apps/meteor/client/sidebar/header/hooks/useVoipItemsSection.tsx
Due: e2e, client

deploy: ecb509a5637a6dcb7a43dcf448dda6e3098a2db7
  develop/gazzodown/project.json
  develop/index.html
Due: none

chore: remove unused setting
  apps/meteor/server/settings/layout.ts
  apps/meteor/server/startup/migrations/index.ts
  apps/meteor/server/startup/migrations/v309.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e

chore: remove unused modal from app install
  apps/meteor/client/views/marketplace/components/AppInstallModal/AppInstallModal.tsx
  apps/meteor/client/views/marketplace/hooks/useAppInstallationHandler.tsx
  apps/meteor/client/views/marketplace/hooks/useInstallApp.tsx
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/es.i18n.json
  packages/i18n/src/locales/fi.i18n.json
  packages/i18n/src/locales/hi-IN.i18n.json
  packages/i18n/src/locales/it.i18n.json
  packages/i18n/src/locales/no.i18n.json
  packages/i18n/src/locales/sv.i18n.json
Due: e2e, client

chore!: Improve permissions check on teams endpoints (#32351)
  apps/meteor/tests/end-to-end/api/teams.ts
Due: e2e

wip
  apps/meteor/app/e2e/server/functions/resetRoomKey.ts
Due: e2e

create reset room key endpoint
  apps/meteor/app/api/server/v1/e2e.ts
  apps/meteor/app/e2e/server/functions/resetRoomKey.ts
  apps/meteor/package.json
  apps/meteor/server/models/raw/Rooms.ts
  apps/meteor/server/models/raw/Subscriptions.ts
  packages/model-typings/src/models/IRoomsModel.ts
  packages/model-typings/src/models/ISubscriptionsModel.ts
  packages/rest-typings/src/v1/e2e.ts
Due: e2e

remove old keys when user resets their own key
  apps/meteor/server/models/raw/Subscriptions.ts
Due: e2e

add keyid to message
  packages/core-typings/src/IMessage/IMessage.ts
Due: none

new type for subs
  packages/core-typings/src/ISubscription.ts
Due: none

TEMPORARY Revert "chore!: Removed Mongo 4.4. support and added 7.0 (#32162)"
  .changeset/fair-seahorses-laugh.md
  .changeset/fluffy-knives-count.md
  .github/workflows/ci-test-e2e.yml
  .github/workflows/ci.yml
  apps/meteor/server/startup/serverRunning.js
  docker-compose-local.yml
Due: e2e

Discard changes to apps/meteor/tests/end-to-end/api/teams.ts
  apps/meteor/tests/end-to-end/api/teams.ts
Due: e2e

lint
  packages/model-typings/src/models/IRoomsModel.ts
Due: none

lint
  apps/meteor/app/e2e/server/functions/resetRoomKey.ts
Due: e2e

ts
  apps/meteor/server/models/raw/Subscriptions.ts
  packages/model-typings/src/models/ISubscriptionsModel.ts
Due: e2e

Path conditions:
  e2e: any of: apps/meteor/
  client: any of: apps/meteor/client
