Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true
  
  e2e-api:
    paths:
      - apps/meteor/server
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'
fixes:
  - '/home/runner/work/Rocket.Chat/Rocket.Chat/::'

fix: address TS errors in audit batch
  apps/meteor/client/views/audit/components/AuditLogTable.tsx
  apps/meteor/client/views/audit/hooks/useAuditMutation.ts
  apps/meteor/ee/server/api/audit.ts
Due: e2e, client

test(api): cover audit.auditions/messages/omnichannelMessages REST endpoints
  apps/meteor/tests/end-to-end/api/audit.ts
Due: e2e

chore: migrate audit DDP methods to REST endpoints
  .changeset/ddp-migrate-batch6-audit-callers.md
  .changeset/rest-audit-endpoints.md
  apps/meteor/client/views/audit/components/AuditLogTable.tsx
  apps/meteor/client/views/audit/hooks/useAuditMutation.ts
  apps/meteor/ee/server/api/audit.ts
  apps/meteor/ee/server/lib/audit/functions.ts
  apps/meteor/ee/server/lib/audit/methods.ts
Due: e2e, client

chore: fix audit functions import order
  apps/meteor/ee/server/lib/audit/functions.ts
Due: e2e

test(audit): cover invalid dates + assert audit log entry is persisted
  apps/meteor/tests/end-to-end/api/audit.ts
Due: e2e

fix(audit): deserialize audit REST payload instead of force-casting
  apps/meteor/client/views/audit/components/AuditLogTable.tsx
Due: e2e, client

chore(audit): drop stale DDP deprecation warning from shared audit logic
  apps/meteor/ee/server/lib/audit/functions.ts
Due: e2e

fix(api): correct audit import paths after develop reorg (statistics, deprecationLogger)
  apps/meteor/ee/server/lib/audit/functions.ts
  apps/meteor/ee/server/lib/audit/methods.ts
Due: e2e

fix(api): restore parseDateOrFail helper dropped during rebase
  apps/meteor/ee/server/api/audit.ts
Due: e2e

docs(audit): document why omnichannel audit skips livechat room restrictions
  apps/meteor/ee/server/lib/audit/functions.ts
Due: e2e

fix(audit): keep omnichannel audit rids an array to avoid $in: undefined
  apps/meteor/ee/server/lib/audit/functions.ts
Due: e2e

chore: fix import order and prettier formatting
  apps/meteor/ee/server/lib/audit/functions.ts
Due: e2e

chore(audit): TODO for dropped omnichannel visitor/agent filters
  apps/meteor/client/views/audit/hooks/useAuditMutation.ts
Due: e2e, client

test(audit): grant can-audit-log to auditor for audit.auditions cases
  apps/meteor/tests/end-to-end/api/audit.ts
Due: e2e

chore(api): declare 401/403 response validators on audit endpoints
  apps/meteor/ee/server/api/audit.ts
Due: e2e

chore(api): tighten audit.auditions response schema (IAuditLog)
  apps/meteor/ee/server/api/audit.ts
Due: e2e

fix: added explicit undefined value check in "getInitialValue" function
  packages/fuselage-ui-kit/src/utils/getInitialValue.ts
Due: none

fix(api): allow null in audit.auditions fields schema
  apps/meteor/ee/server/api/audit.ts
Due: e2e

fix(audit): stop persisting undefined audit fields as null
  apps/meteor/ee/server/lib/audit/functions.ts
Due: e2e

Fix file search with special characters in filenames
  apps/meteor/server/api/v1/channels.ts
  apps/meteor/server/api/v1/groups.ts
  apps/meteor/server/api/v1/im.ts
  apps/meteor/tests/data/uploads.helper.ts
Due: e2e, e2e-api

fix: trim directory user search term before building regex
  packages/models/src/models/Users.ts
Due: none

fix: satisfy IUserCalendar type in OutlookEventsList spec mock
  apps/meteor/client/views/outlookCalendar/OutlookEventsList/OutlookEventsList.spec.tsx
Due: e2e, client

fix: restore data-item-index attribute on virtualized SidePanelInternal items
  apps/meteor/client/views/navigation/sidepanel/SidePanelInternal.spec.tsx
  apps/meteor/client/views/navigation/sidepanel/SidePanelInternal.tsx
Due: e2e, client

fix: annotate resolveLoad type in PaginatedVirtualList spec
  apps/meteor/client/components/PaginatedVirtualList/PaginatedVirtualList.spec.tsx
Due: e2e, client

test: deflake read-receipts-thread viewed-in-thread test
  apps/meteor/tests/e2e/read-receipts-thread.spec.ts
Due: e2e

fix(api): correct oauth method import paths after develop reorg
  apps/meteor/server/meteor-methods/auth/addOAuthService.ts
  apps/meteor/server/meteor-methods/auth/refreshOAuthService.ts
  apps/meteor/server/meteor-methods/auth/removeOAuthService.ts
Due: e2e, e2e-api

refactor(api): gate OAuth admin routes via permissionsRequired
  .changeset/ddp-migrate-batch7-oauth-caller.md
  .changeset/rest-settings-oauth-admin.md
  apps/meteor/server/api/v1/settings.ts
  apps/meteor/server/meteor-methods/auth/refreshOAuthService.ts
  apps/meteor/server/meteor-methods/auth/removeOAuthService.ts
  apps/meteor/tests/end-to-end/api/settings.ts
Due: e2e, e2e-api

test(api): add end-to-end tests for OAuth admin endpoints
  apps/meteor/tests/end-to-end/api/settings.ts
Due: e2e

chore: migrate OAuth services admin DDP methods to REST
  .changeset/ddp-migrate-batch7-oauth-caller.md
  .changeset/rest-settings-oauth-admin.md
  apps/meteor/client/views/admin/settings/groups/OAuthGroupPage/OAuthGroupPage.tsx
  apps/meteor/server/api/v1/settings.ts
  apps/meteor/server/meteor-methods/auth/addOAuthService.ts
  apps/meteor/server/meteor-methods/auth/refreshOAuthService.ts
  apps/meteor/server/meteor-methods/auth/removeOAuthService.ts
  packages/rest-typings/src/v1/settings.ts
Due: e2e, e2e-api, client

test(api): fix OAuth admin permission-denied expectations
  apps/meteor/tests/end-to-end/api/settings.ts
Due: e2e

fix(api): use shared bad-request schema for settings.addCustomOAuth error
  apps/meteor/server/api/v1/settings.ts
  apps/meteor/tests/end-to-end/api/settings.ts
Due: e2e, e2e-api

refactor(api): gate settings.addCustomOAuth via route-level permissionsRequired
  apps/meteor/server/api/v1/settings.ts
  apps/meteor/tests/end-to-end/api/settings.ts
Due: e2e, e2e-api

chore: fix import order and prettier formatting
  apps/meteor/server/api/v1/settings.ts
  apps/meteor/server/meteor-methods/auth/addOAuthService.ts
  apps/meteor/server/meteor-methods/auth/refreshOAuthService.ts
  apps/meteor/server/meteor-methods/auth/removeOAuthService.ts
Due: e2e, e2e-api

fix: searched emojis missing tone when selected
  apps/meteor/app/emoji/client/helpers.ts
  apps/meteor/tests/unit/app/emoji/helpers.spec.ts
Due: e2e

regression: missing emojis in picker search (#41342)
  apps/meteor/app/emoji-native/lib/generateEmojiData.ts
  apps/meteor/app/emoji/client/helpers.ts
  apps/meteor/app/emoji/lib/rocketchat.ts
  apps/meteor/tests/unit/app/emoji/helpers.spec.ts
Due: e2e

fix: review
  apps/meteor/tests/e2e/omnichannel/omnichannel-manager-role.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-monitors.spec.ts
  apps/meteor/tests/e2e/page-objects/fragments/sidebar.ts
  apps/meteor/tests/e2e/page-objects/omnichannel/omnichannel-admin.ts
  apps/meteor/tests/e2e/page-objects/omnichannel/omnichannel-monitors.ts
Due: e2e

regression: custom OAuth client secret logged in plaintext at debug level
  apps/meteor/server/lib/auth-providers/custom-oauth/custom_oauth_server.js
Due: e2e, e2e-api

fix: strict locator and do not wait for table (for now)
  apps/meteor/tests/e2e/page-objects/omnichannel/omnichannel-admin.ts
  apps/meteor/tests/e2e/page-objects/omnichannel/omnichannel-monitors.ts
Due: e2e

different styles for custom emoji
  packages/ui-client/src/components/EmojiPicker/EmojiPickerPreview.tsx
Due: none

fix: undo not work with markdown wrap action
  apps/meteor/app/ui-message/client/messageBox/composerHistory.spec.ts
  apps/meteor/app/ui-message/client/messageBox/composerHistory.ts
  apps/meteor/tests/e2e/message-composer-history.spec.ts
Due: e2e
