Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true
  
  e2e-api:
    paths:
      - apps/meteor/server
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'
fixes:
  - '/home/runner/work/Rocket.Chat/Rocket.Chat/::'

test: add `navbar` to `FederationChannel` PO
  apps/meteor/tests/e2e/federation/page-objects/channel.ts
Due: e2e

move logic to create subscription
  apps/meteor/app/lib/server/functions/acceptRoomInvite.ts
  apps/meteor/app/lib/server/functions/addUserToRoom.ts
  apps/meteor/app/lib/server/functions/createRoom.ts
  apps/meteor/app/lib/server/methods/addUsersToRoom.ts
  apps/meteor/server/services/room/service.ts
  ee/packages/federation-matrix/src/events/member.ts
  packages/core-services/src/types/IRoomService.ts
Due: e2e, e2e-api

test: refactor end-to-end test for inviting a user from Synapse to ensure proper member and message reflection
  apps/meteor/tests/data/rooms.helper.ts
  ee/packages/federation-matrix/tests/end-to-end/room.spec.ts
  ee/packages/federation-matrix/tests/helper/synapse-client.ts
Due: e2e

refactor: update event handling to use federationSDK's eventEmitterService and remove Emitter dependency
  ee/packages/federation-matrix/src/events/edu.ts
  ee/packages/federation-matrix/src/events/index.ts
  ee/packages/federation-matrix/src/events/member.ts
  ee/packages/federation-matrix/src/events/message.ts
  ee/packages/federation-matrix/src/events/ping.ts
  ee/packages/federation-matrix/src/events/reaction.ts
  ee/packages/federation-matrix/src/events/room.ts
  ee/packages/federation-matrix/src/setup.ts
Due: none

Enable `noImplicitReturns` directive
  apps/uikit-playground/src/Components/Preview/Wrapper.tsx
  apps/uikit-playground/src/hooks/useHorizontalScroll.ts
  ee/apps/account-service/tsconfig.json
  ee/apps/ddp-streamer/src/configureServer.ts
  ee/packages/license/src/deprecated.ts
  ee/packages/license/src/license.ts
  ee/packages/license/src/pendingLicense.ts
  packages/agenda/src/Agenda.ts
  packages/fuselage-ui-kit/tsconfig.json
  packages/livechat/src/components/App/App.tsx
  packages/livechat/src/lib/transcript.ts
  packages/livechat/src/routes/SwitchDepartment/index.tsx
  packages/livechat/src/widget.ts
  packages/tools/src/wrapExceptions.ts
  packages/tsconfig/base.json
  packages/ui-client/src/components/CustomFieldsForm.tsx
  packages/ui-client/src/helpers/imperativeModal.tsx
  packages/ui-kit/src/rendering/renderBlockElement.ts
  packages/ui-voip/src/context/useMediaSession.ts
  packages/ui-voip/src/context/useTonePlayer.ts
Due: none

Enable `allowUnreachableCode` directive
  apps/meteor/app/api/server/v1/integrations.ts
  apps/meteor/server/lib/i18n.ts
  apps/meteor/tests/end-to-end/api/LDAP.ts
  apps/meteor/tests/end-to-end/api/roles.ts
  apps/meteor/tests/end-to-end/apps/video-conferences.ts
  ee/packages/license/package.json
  ee/packages/license/src/validation/validateLicenseUrl.ts
  ee/packages/media-calls/package.json
  ee/packages/media-calls/src/server/MediaCallServer.ts
  packages/base64/tsconfig.json
  packages/random/tsconfig.json
  packages/sha256/tsconfig.json
  packages/tsconfig/base.json
  yarn.lock
Due: e2e, e2e-api

Enable `allowUnusedLabels` directive
  packages/tsconfig/base.json
Due: none

Reorder directives
  packages/fuselage-ui-kit/tsconfig.json
  packages/tsconfig/base.json
Due: none

chore(fuselage-ui-kit): Review build configuration
  packages/fuselage-ui-kit/.babelrc.json
  packages/fuselage-ui-kit/.eslintrc.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage-ui-kit/src/elements/IconButtonElement.tsx
  packages/fuselage-ui-kit/src/elements/IconElement.tsx
  packages/fuselage-ui-kit/tsconfig.build.json
  packages/fuselage-ui-kit/tsconfig.cjs.json
  packages/fuselage-ui-kit/tsconfig.esm.json
  packages/fuselage-ui-kit/tsconfig.json
  packages/livechat/package.json
  yarn.lock
Due: none

Adapt `@rocket.chat/fuselage-ui-kit` build
  packages/fuselage-ui-kit/.babelrc.json
  packages/fuselage-ui-kit/.eslintrc.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage-ui-kit/src/elements/IconButtonElement.tsx
  packages/fuselage-ui-kit/src/elements/IconElement.tsx
  packages/fuselage-ui-kit/tsconfig.build.json
  packages/fuselage-ui-kit/tsconfig.cjs.json
  packages/livechat/package.json
  yarn.lock
Due: none

Adapt `@rocket.chat/gazzodown` build
  packages/gazzodown/.babelrc.json
  packages/gazzodown/.eslintrc.json
  packages/gazzodown/package.json
  packages/gazzodown/src/Markup.stories.tsx
  packages/gazzodown/src/Markup.tsx
  packages/gazzodown/src/MarkupInteractionContext.ts
  packages/gazzodown/src/PreviewMarkup.tsx
  packages/gazzodown/src/blocks/TaskListBlock.tsx
  packages/gazzodown/src/code/CodeBlock.tsx
  packages/gazzodown/src/code/PreviewCodeBlock.tsx
  packages/gazzodown/src/colors/ColorElement.tsx
  packages/gazzodown/src/colors/PreviewColorElement.tsx
  packages/gazzodown/src/elements/ImageElement.tsx
  packages/gazzodown/src/elements/InlineElements.tsx
  packages/gazzodown/src/elements/LinkSpan.tsx
  packages/gazzodown/src/elements/PlainSpan.tsx
  packages/gazzodown/src/elements/PreviewInlineElements.tsx
  packages/gazzodown/src/emoji/Emoji.tsx
  packages/gazzodown/src/emoji/EmojiElement.tsx
  packages/gazzodown/src/emoji/EmojiRenderer.tsx
  packages/gazzodown/src/katex/KatexBlock.tsx
  packages/gazzodown/src/katex/KatexElement.tsx
  packages/gazzodown/src/katex/KatexErrorBoundary.tsx
  packages/gazzodown/src/mentions/ChannelMentionElement.tsx
  packages/gazzodown/src/mentions/PreviewChannelMentionElement.tsx
  packages/gazzodown/src/mentions/PreviewUserMentionElement.tsx
  packages/gazzodown/src/mentions/UserMentionElement.tsx
  packages/gazzodown/tsconfig.json
  yarn.lock
Due: none

Adapt `@rocket.chat/federation-matrix` build
  ee/packages/federation-matrix/babel.config.js
  ee/packages/federation-matrix/jest.config.ts
  ee/packages/federation-matrix/package.json
  ee/packages/federation-matrix/tsconfig.build.json
  ee/packages/federation-matrix/tsconfig.json
  yarn.lock
Due: none

Adapt `@rocket.chat/random` build
  packages/random/.eslintrc.json
  packages/random/babel.config.js
  packages/random/package.json
  packages/random/tsconfig.build.json
  packages/random/tsconfig.json
  yarn.lock
Due: none

Adapt `@rocket.chat/base64` build
  packages/base64/.eslintrc.json
  packages/base64/babel.config.js
  packages/base64/package.json
  packages/base64/tsconfig.build.json
  packages/base64/tsconfig.json
  yarn.lock
Due: none

Adapt `@rocket.chat/pdf-worker` build
  ee/packages/pdf-worker/.babelrc.json
Due: none

Adapt `@rocket.chat/presence` build
  ee/packages/presence/.eslintrc.json
  ee/packages/presence/babel.config.js
  ee/packages/presence/package.json
  ee/packages/presence/tsconfig.json
  yarn.lock
Due: none

Adapt `@rocket.chat/sha256` build
  packages/sha256/.eslintrc.json
  packages/sha256/babel.config.js
  packages/sha256/package.json
  packages/sha256/tsconfig.build.json
  packages/sha256/tsconfig.json
  yarn.lock
Due: none

Adapt `@rocket.chat/core-services` build
  packages/core-services/.eslintrc.json
  packages/core-services/babel.config.js
  packages/core-services/package.json
  yarn.lock
Due: none

Increase TypeScript's ECMAScript version
  packages/tsconfig/base.json
  packages/tsconfig/client.json
  packages/tsconfig/server.json
Due: none

chore(livechat): Fix Storybook
  packages/livechat/src/lib/locale.js
Due: none

Move Meteor specific startup code
  apps/meteor/client/startup/startup.ts
Due: e2e, client

Review
  apps/meteor/client/meteor/startup/accounts.ts
  apps/meteor/client/providers/UserProvider/UserProvider.tsx
Due: e2e, client

test(presence): dangling sessions are removed
  apps/meteor/playwright.config.ts
  apps/meteor/tests/e2e/load/.gitignore
  apps/meteor/tests/e2e/load/config.ts
  apps/meteor/tests/e2e/load/harness.spec.ts
  apps/meteor/tests/e2e/utils/db.ts
  apps/meteor/tests/e2e/utils/test.ts
Due: e2e

chore: remove test code
  ee/packages/presence/src/Presence.ts
Due: none

feat: disable media call room action for federated rooms
  apps/meteor/client/hooks/roomActions/useMediaCallRoomAction.spec.tsx
  apps/meteor/client/hooks/roomActions/useMediaCallRoomAction.ts
Due: e2e, client

feat: disable media call user action for federated rooms
  apps/meteor/client/views/room/hooks/useUserInfoActions/actions/useUserMediaCallAction.spec.tsx
  apps/meteor/client/views/room/hooks/useUserInfoActions/actions/useUserMediaCallAction.ts
Due: e2e, client

chore: added withSubscription to MockedAppRootBuilder
  packages/mock-providers/src/MockedAppRootBuilder.tsx
Due: none

chore: removed subscription randomness from FakeRoomProvider
  apps/meteor/tests/mocks/client/FakeRoomProvider.tsx
Due: e2e

chore: removed console.log
  apps/meteor/client/hooks/roomActions/useMediaCallRoomAction.ts
Due: e2e, client

chore(spelling): fix typos in comments and log messages
  apps/meteor/app/meteor-accounts-saml/server/lib/SAML.ts
  ee/packages/media-calls/src/sip/providers/IncomingSipCall.ts
  ee/packages/media-calls/src/sip/providers/OutgoingSipCall.ts
  packages/apps-engine/src/definition/messages/IMessageReactionContext.ts
  packages/apps-engine/src/server/AppManager.ts
Due: e2e

chore: switch emoji picker to emoji-toolkit data
  apps/meteor/app/emoji-emojione/lib/generateEmojiIndex.mjs
  apps/meteor/package.json
Due: e2e

fix: remove duplicate sections from package.json after conflict resolution
  apps/meteor/package.json
Due: e2e

fix: invalid URL generation causing Global Search 'Jump to message' to fail
  apps/meteor/client/lib/rooms/roomCoordinator.tsx
  apps/meteor/client/lib/utils/goToRoomById.ts
  apps/meteor/client/lib/utils/legacyJumpToMessage.ts
  apps/meteor/tests/e2e/global-search.spec.ts
Due: e2e, client
