Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

fix: direct messages showing @ instead of the user status after the cache is restored (#42358)
  .changeset/stale-dm-room-fields-cache.md
  apps/meteor/client/cachedStores/SubscriptionsCachedStore.ts
  apps/meteor/client/lib/cachedStores/CachedStore.ts
Due: e2e, client

fix: room history stuck loading after importing messages with invalid timestamps (#42596)
  .changeset/stale-cursor-import-timestamps.md
  apps/meteor/server/lib/import/classes/converters/MessageConverter.ts
  apps/meteor/server/lib/import/csv/CsvImporter.ts
  apps/meteor/server/lib/messages/loadRoomHistory.ts
  apps/meteor/tests/end-to-end/api/rooms.ts
  apps/meteor/tests/unit/server/lib/import/CsvImporter.spec.ts
  apps/meteor/tests/unit/server/lib/import/messageConverter.spec.ts
  apps/meteor/tests/unit/server/lib/messages/loadRoomHistory.spec.ts
Due: e2e, e2e-api

fix: report LDAP Sync Now failures instead of "Sync in progress" (#42618)
  .changeset/ldap-sync-now-feedback.md
  apps/meteor/ee/server/api/ldap.ts
  apps/meteor/ee/server/lib/ldap/Manager.ts
  apps/meteor/tests/end-to-end/api/LDAP.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e

fix: composer stuck as a skeleton when an embedded DM is opened by username (#42504)
  .changeset/quiet-dm-composer-embedded.md
  apps/meteor/client/views/room/hooks/useOpenRoom.spec.ts
  apps/meteor/client/views/room/hooks/useOpenRoom.ts
  apps/meteor/tests/e2e/embedded-layout.spec.ts
  apps/meteor/tests/e2e/page-objects/home-channel.ts
Due: e2e, client

chore(deps): replace `image-size` with `sharp` (#42077)
  .yarn/patches/image-size-npm-1.2.1-e285f3c080.patch
  apps/meteor/package.json
  apps/meteor/server/lib/media/assets/assets.ts
  package.json
  yarn.lock
Due: e2e, e2e-api

feat: web client grants permissions of room roles assigned to the user
  .changeset/web-permissions-global-scoped-roles.md
  apps/meteor/client/lib/authorization/liveAuthorizationFunctions.ts
  apps/meteor/client/providers/AuthorizationProvider.tsx
  apps/meteor/jest.config.ts
  apps/meteor/lib/authorization/createAuthorizationFunctions.spec.ts
  apps/meteor/lib/authorization/createAuthorizationFunctions.ts
Due: e2e, client

feat: npx CLI to run a pull request's UI preview against any server
  .changeset/ui-preview-cli.md
  .github/workflows/ui-preview.yml
  packages/ui-preview/bin/ui-preview.mjs
  packages/ui-preview/package.json
  yarn.lock
Due: none

regression(video-conf): stop cutting off reactions before they fade (#42643)
  packages/ui-conference/src/call/CallReactions.spec.tsx
  packages/ui-conference/src/call/CallReactions.stories.tsx
  packages/ui-conference/src/call/CallReactions.tsx
  packages/ui-conference/src/call/__snapshots__/callStories.spec.tsx.snap
Due: none

chore: update package versions to 9.0.0-develop across all relevant files
  apps/meteor/app/utils/rocketchat.info
  apps/meteor/package.json
  package.json
  packages/core-typings/package.json
  packages/rest-typings/package.json
Due: e2e

chore!: remove deleteCustomSound Meteor method (#40883)
  .changeset/shaggy-hats-behave.md
  apps/meteor/server/meteor-methods/index.ts
  apps/meteor/server/meteor-methods/media/deleteCustomSound.ts
Due: e2e, e2e-api

chore: remove sendFileMessage meteor method (#40288)
  apps/meteor/server/meteor-methods/messages/sendFileMessage.ts
Due: e2e, e2e-api

chore!: stop transpiling webhook integration scripts with Babel (#40142)
  .changeset/integration-scripts-no-babel.md
  apps/meteor/package.json
  apps/meteor/server/lib/integrations/lib/validateOutgoingIntegration.ts
  apps/meteor/server/lib/integrations/lib/validateScriptSyntax.ts
  apps/meteor/server/meteor-methods/integrations/incoming/addIncomingIntegration.ts
  apps/meteor/server/meteor-methods/integrations/incoming/updateIncomingIntegration.ts
  apps/meteor/tests/end-to-end/api/incoming-integrations.ts
Due: e2e, e2e-api

Reapply "chore!: remove insertOrUpdateSound and uploadCustomSound Meteor methods (#40476)"
  .changeset/stale-meals-check.md
  apps/meteor/server/lib/media/custom-sounds/lib/insertOrUpdateSound.ts
  apps/meteor/server/lib/media/custom-sounds/lib/uploadCustomSound.ts
  apps/meteor/server/meteor-methods/index.ts
  apps/meteor/server/meteor-methods/media/insertOrUpdateSound.ts
  apps/meteor/server/meteor-methods/media/uploadCustomSound.ts
Due: e2e, e2e-api

chore!: Remove `/ufs` endpoint (#41054)
  .changeset/better-results-press.md
  apps/meteor/client/views/room/contextualBar/RoomFiles/components/FileItemMenu.tsx
  apps/meteor/server/api/v1/rooms.ts
  apps/meteor/server/bridges/slack/SlackAdapter.ts
  apps/meteor/server/lib/media/file-upload/config/GridFS.ts
  apps/meteor/server/lib/media/file-upload/lib/FileUpload.spec.ts
  apps/meteor/server/lib/media/file-upload/lib/FileUpload.ts
  apps/meteor/server/modules/apps/converters/codecs/uploads.ts
  apps/meteor/server/ufs/ufs-config.ts
  apps/meteor/server/ufs/ufs-server.ts
  apps/meteor/server/ufs/ufs-store.ts
  apps/meteor/tests/end-to-end/api/rooms.ts
Due: e2e, e2e-api, client

chore!: remove FileUpload_S3_SignatureVersion setting (#41809)
  apps/meteor/server/startup/migrations/index.ts
  apps/meteor/server/startup/migrations/v337.ts
Due: e2e, e2e-api

chore: apps converters golden spec breaking unit tests (#41756)
  apps/meteor/tests/unit/server/modules/apps/converters.golden.spec.ts
Due: e2e

chore!: remove Troubleshoot_Disable_Statistics_Generator and Troubleshoot_Disable_Workspace_Sync settings (#41896)
  apps/meteor/server/settings/troubleshoot.ts
  apps/meteor/server/startup/migrations/index.ts
  apps/meteor/server/startup/migrations/v339.ts
Due: e2e, e2e-api

fix!: livechat autocomplete endpoints accept unsafe selector parameter (#41898)
  .changeset/proud-rabbits-count.md
  apps/meteor/server/api/v1/omnichannel/departments.ts
  apps/meteor/server/api/v1/omnichannel/lib/departments.ts
  apps/meteor/server/api/v1/omnichannel/lib/visitors.ts
  apps/meteor/server/api/v1/omnichannel/visitors.ts
Due: e2e, e2e-api

chore!: remove deprecated DELETE /v1/canned-responses endpoint (#41977)
  .changeset/remove-canned-responses-delete-endpoint.md
  apps/meteor/ee/server/api/v1/canned-responses.ts
  apps/meteor/tests/end-to-end/api/livechat/15-canned-responses.ts
  packages/rest-typings/src/v1/omnichannel.ts
Due: e2e

chore!: Drop unused collection indexes (#41974)
  .changeset/remove-deprecated-unused-indexes.md
  apps/meteor/ee/server/models/raw/ReadReceipts.ts
  apps/meteor/server/startup/migrations/index.ts
  apps/meteor/server/startup/migrations/v343.ts
  packages/models/src/models/LivechatVisitors.ts
  packages/models/src/models/ModerationReports.ts
  packages/models/src/models/Sessions.ts
  packages/models/src/models/Subscriptions.ts
Due: e2e, e2e-api

chore!: unify statistics indexes with TTL expiration and add migration (#38572)
  apps/meteor/server/startup/migrations/index.ts
  apps/meteor/server/startup/migrations/v344.ts
  packages/models/src/models/Statistics.ts
Due: e2e, e2e-api

feat: Update emojibase to 17 (#42363)
  .changeset/emojibase-17-update.md
  apps/meteor/package.json
  ee/packages/federation-matrix/package.json
  ee/packages/pdf-worker/package.json
  packages/message-parser/tests/fixtures/allEmoji.ts
  yarn.lock
Due: e2e

refactor!: index token string via tokenValue/tokenType pair (#41382)
  .changeset/fancy-zebras-go.md
  apps/meteor/server/api/v1/push.ts
  apps/meteor/server/lib/notifications/push/push.ts
  apps/meteor/server/meteor-methods/platform/push.ts
  apps/meteor/server/services/push/service.ts
  apps/meteor/server/services/push/tokenManagement/findDocumentToUpdate.ts
  apps/meteor/server/services/push/tokenManagement/registerPushToken.ts
  apps/meteor/server/startup/migrations/index.ts
  apps/meteor/server/startup/migrations/v345.ts
  apps/meteor/tests/end-to-end/api/push.ts
  apps/meteor/tests/unit/server/lib/notifications/push/push.spec.ts
  apps/meteor/tests/unit/server/services/push/service.spec.ts
  packages/core-services/src/types/IPushService.ts
  packages/core-typings/src/IPushToken.ts
  packages/model-typings/src/models/IPushTokenModel.ts
  packages/models/src/models/PushToken.ts
Due: e2e, e2e-api

chore: remove redundant index creation from push token migration (#42071)
  apps/meteor/server/startup/migrations/v345.ts
Due: e2e, e2e-api

chore!: remove the stale Drafts sidebar group through a migration (#42496)
  .changeset/remove-stale-drafts-sidebar-group.md
  apps/meteor/client/sidebar/categories/hooks/useUserSidebarCategories.spec.ts
  apps/meteor/client/sidebar/categories/hooks/useUserSidebarCategories.ts
  apps/meteor/client/sidebar/hooks/useCategoryList.spec.ts
  apps/meteor/client/sidebar/hooks/useSidebarSectionsOrder.spec.ts
  apps/meteor/client/sidebar/hooks/useSidebarSectionsOrder.ts
  apps/meteor/server/startup/migrations/index.ts
  apps/meteor/server/startup/migrations/v349.ts
  packages/core-typings/src/IUser.ts
Due: e2e, e2e-api, client

chore!: disable Omnichannel by default (#42469)
  .changeset/omnichannel-disabled-by-default.md
  apps/meteor/client/providers/OmnichannelProvider.tsx
  apps/meteor/server/settings/omnichannel.ts
  apps/meteor/server/startup/migrations/index.ts
  apps/meteor/server/startup/migrations/v348.ts
  apps/meteor/tests/e2e/config/global-setup.ts
  apps/meteor/tests/e2e/fixtures/enableOmnichannel.ts
  apps/meteor/tests/end-to-end/api/livechat/20-messages.ts
  apps/meteor/tests/end-to-end/api/livechat/21-reports.ts
  apps/meteor/tests/end-to-end/api/livechat/22-monitors.ts
  apps/meteor/tests/end-to-end/api/livechat/23-mac.ts
  apps/meteor/tests/end-to-end/api/livechat/24-routing.ts
Due: e2e, e2e-api, client

fix: TTL Retention Banner wrong date when using ENV vars (#41968)
  .changeset/timespan-setting-env-override.md
  apps/meteor/server/settings/functions/convertValue.ts
  apps/meteor/tests/unit/server/settings/functions/convertValue.tests.ts
  apps/meteor/tests/unit/server/settings/functions/overrideGenerator.tests.ts
Due: e2e, e2e-api

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
