Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true
  
  e2e-api:
    paths:
      - apps/meteor/server
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'
fixes:
  - '/home/runner/work/Rocket.Chat/Rocket.Chat/::'

fix: prevent message repopulation when canceling deletion
  apps/meteor/client/lib/chats/flows/sendMessage.ts
  changes.txt
Due: e2e, client

fix: restore message when deletion is canceled
  apps/meteor/client/lib/chats/ChatAPI.ts
  apps/meteor/client/lib/chats/flows/requestEditMessageDeletion.ts
  apps/meteor/client/lib/chats/flows/sendMessage.ts
Due: e2e, client

fix: disable send button when composer is empty
  apps/meteor/client/views/room/composer/messageBox/MessageBox.tsx
Due: e2e, client

Implement basic WebAuthn functionality
  apps/meteor/app/api/server/index.ts
  apps/meteor/app/api/server/v1/passkey.ts
  apps/meteor/client/views/account/security/AccountSecurityPage.tsx
  apps/meteor/package.json
  package.json
  packages/core-typings/src/IUser.ts
  packages/models/src/models/Users.ts
  packages/rest-typings/src/default/index.ts
  packages/web-ui-registration/package.json
  packages/web-ui-registration/src/LoginForm.tsx
  yarn.lock
Due: e2e, client

Deploy preview for PR 35621 🛫
  pr-preview/pr-35621/fuselage-ui-kit/project.json
  pr-preview/pr-35621/gazzodown/project.json
Due: none

feat: implement tshow parameter for thread image uploads to control visibility in main channel
  .changeset/poor-suns-reflect.md
  apps/meteor/app/file-upload/server/methods/sendFileMessage.ts
  apps/meteor/client/lib/chats/ChatAPI.ts
  apps/meteor/client/lib/chats/flows/uploadFiles.ts
  apps/meteor/client/lib/chats/uploads.ts
  apps/meteor/client/views/account/security/TwoFactorTOTP.tsx
  test-thread-image-upload-full.js
  test-thread-image-upload.js
  test-thread-image-upload.md
  thread-image-upload-integration-test.js
Due: e2e, client

feat: add Subscribable type and tshow option to ComposerAPI
  apps/meteor/client/definitions/Subscribable.ts
  apps/meteor/client/lib/chats/ChatAPI.ts
Due: e2e, client

feat: enhance TOTP field recognition for password managers with autocomplete attribute
  .changeset/totp-field-recognition.md
Due: none

chore: add changeset for TOTP field recognition improvement
  .changeset/strong-readers-teach.md
Due: none

fix: ensure thread images with 'Also send to channel' appear in main channel
  .changeset/thread-image-uploads.md
Due: none

chore: remove unrelated changes for thread image uploads
  apps/meteor/app/file-upload/server/methods/sendFileMessage.ts
  apps/meteor/client/lib/chats/ChatAPI.ts
  apps/meteor/client/lib/chats/flows/uploadFiles.ts
  apps/meteor/client/lib/chats/uploads.ts
Due: e2e, client

Deploy preview for PR 35078 🛫
  pr-preview/pr-35078/fuselage-ui-kit/project.json
  pr-preview/pr-35078/gazzodown/project.json
Due: none

test: prevent useInviteToken multiple times (#35648)
  apps/meteor/client/views/invite/InvitePage.tsx
  apps/meteor/client/views/invite/hooks/useInviteTokenMutation.ts
  apps/meteor/client/views/invite/hooks/useValidateInviteQuery.ts
Due: e2e, client

Deploy preview for PR 35647 🛫
  pr-preview/pr-35647/fuselage-ui-kit/project.json
  pr-preview/pr-35647/gazzodown/project.json
Due: none

chore(deps): bump `vite` to 6.1.2 (#35621)
  apps/uikit-playground/package.json
  yarn.lock
Due: none

chore: don't use versions for internal deps
  packages/fuselage-ui-kit/package.json
  packages/gazzodown/package.json
  packages/ui-avatar/package.json
  packages/ui-client/package.json
  packages/ui-video-conf/package.json
  packages/ui-voip/package.json
  packages/web-ui-registration/package.json
  yarn.lock
Due: none

test: Replaces weak locators in notification preferences test (#35647)
  apps/meteor/client/views/room/contextualBar/NotificationPreferences/components/NotificationByDevice.tsx
  apps/meteor/tests/e2e/page-objects/fragments/home-flextab-notificationPreferences.ts
Due: e2e, client

refactor: :recycle: Remove meteor functions from `startup.ts`
  apps/meteor/client/startup/index.ts
  apps/meteor/client/startup/startup.ts
  apps/meteor/client/views/root/AppLayout.tsx
  apps/meteor/client/views/root/hooks/useCodeHighlight.ts
  apps/meteor/client/views/root/hooks/useUserSync.ts
Due: e2e, client

Deploy preview for PR 35572 🛫
  pr-preview/pr-35572/fuselage-ui-kit/736.c7015dec.iframe.bundle.js
  pr-preview/pr-35572/fuselage-ui-kit/736.c7015dec.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-35572/fuselage-ui-kit/736.c7015dec.iframe.bundle.js.map
  pr-preview/pr-35572/fuselage-ui-kit/736.cd70056d.iframe.bundle.js
  pr-preview/pr-35572/fuselage-ui-kit/736.cd70056d.iframe.bundle.js.map
  pr-preview/pr-35572/fuselage-ui-kit/iframe.html
  pr-preview/pr-35572/fuselage-ui-kit/project.json
  pr-preview/pr-35572/fuselage-ui-kit/runtime~main.3266992a.iframe.bundle.js
  pr-preview/pr-35572/fuselage-ui-kit/runtime~main.7c9f5526.iframe.bundle.js
  pr-preview/pr-35572/gazzodown/Markup-stories.265b968d.iframe.bundle.js
  pr-preview/pr-35572/gazzodown/Markup-stories.265b968d.iframe.bundle.js.map
  pr-preview/pr-35572/gazzodown/Markup-stories.994781f1.iframe.bundle.js
  pr-preview/pr-35572/gazzodown/Markup-stories.994781f1.iframe.bundle.js.map
  pr-preview/pr-35572/gazzodown/iframe.html
  pr-preview/pr-35572/gazzodown/project.json
  pr-preview/pr-35572/gazzodown/runtime~main.d1417a0c.iframe.bundle.js
  pr-preview/pr-35572/gazzodown/runtime~main.fb27eb60.iframe.bundle.js
  pr-preview/pr-35572/ui-composer/project.json
  pr-preview/pr-35572/uikit-playground/assets/CodeBlock-CZOn_v5P.js
  pr-preview/pr-35572/uikit-playground/assets/KatexBlock-DZ8P3wbs.js
  pr-preview/pr-35572/uikit-playground/assets/KatexBlock-DplfVedW.js
  pr-preview/pr-35572/uikit-playground/assets/KatexElement-B0iwzudg.js
  pr-preview/pr-35572/uikit-playground/assets/KatexElement-BStlE9Ki.js
  pr-preview/pr-35572/uikit-playground/assets/index-BiDkU8ZK.js
  pr-preview/pr-35572/uikit-playground/assets/index-C-5juKtm.js
  pr-preview/pr-35572/uikit-playground/index.html
Due: none

Deploy preview for PR 35470 🛫
  pr-preview/pr-35470/uikit-playground/assets/CodeBlock-CZOn_v5P.js
  pr-preview/pr-35470/uikit-playground/assets/KatexBlock-CTfFauCS.js
  pr-preview/pr-35470/uikit-playground/assets/KatexBlock-DplfVedW.js
  pr-preview/pr-35470/uikit-playground/assets/KatexElement-B0iwzudg.js
  pr-preview/pr-35470/uikit-playground/assets/KatexElement-IX7N-UgU.js
  pr-preview/pr-35470/uikit-playground/assets/index-C-5juKtm.js
  pr-preview/pr-35470/uikit-playground/index.html
Due: none

Deploy preview for PR 35078 🛫
  pr-preview/pr-35078/uikit-playground/assets/CodeBlock-CZOn_v5P.js
  pr-preview/pr-35078/uikit-playground/assets/KatexBlock-CTfFauCS.js
  pr-preview/pr-35078/uikit-playground/assets/KatexBlock-DplfVedW.js
  pr-preview/pr-35078/uikit-playground/assets/KatexElement-B0iwzudg.js
  pr-preview/pr-35078/uikit-playground/assets/KatexElement-IX7N-UgU.js
  pr-preview/pr-35078/uikit-playground/assets/index-C-5juKtm.js
  pr-preview/pr-35078/uikit-playground/index.html
Due: none

fix: federated users overwriting local display name with their usernames
  apps/meteor/server/services/federation/domain/FederatedUser.ts
Due: e2e, e2e-api

fixed tests
  apps/meteor/tests/unit/server/federation/application/user/sender/UserServiceSender.spec.ts
Due: e2e

regression: improves CalendarEvent status change schedule (#35607)
  apps/meteor/ee/server/configuration/outlookCalendar.ts
  apps/meteor/server/services/calendar/service.ts
  apps/meteor/server/services/calendar/statusEvents/applyStatusChange.ts
  apps/meteor/server/services/calendar/statusEvents/index.ts
  apps/meteor/server/services/calendar/statusEvents/setupAppointmentStatusChange.ts
  apps/meteor/tests/unit/server/services/calendar/service.tests.ts
  apps/meteor/tests/unit/server/services/calendar/statusEvents/applyStatusChange.ts
  apps/meteor/tests/unit/server/services/calendar/statusEvents/setupAppointmentStatusChange.ts
  packages/core-services/src/types/ICalendarService.ts
  packages/core-typings/src/ICalendarEvent.ts
  packages/model-typings/src/models/ICalendarEventModel.ts
  packages/models/src/models/CalendarEvent.ts
Due: e2e, e2e-api

chore: don't use versions for internal deps (#35302)
  packages/fuselage-ui-kit/package.json
  packages/gazzodown/package.json
  packages/ui-avatar/package.json
  packages/ui-client/package.json
  packages/ui-video-conf/package.json
  packages/ui-voip/package.json
  packages/web-ui-registration/package.json
  yarn.lock
Due: none

fix: fixes test case before setup
  apps/meteor/tests/end-to-end/api/livechat/03-custom-fields.ts
Due: e2e

Deploy preview for PR 35580 🛫
  pr-preview/pr-35580/fuselage-ui-kit/project.json
  pr-preview/pr-35580/gazzodown/project.json
  pr-preview/pr-35580/uikit-playground/assets/CodeBlock-CZOn_v5P.js
  pr-preview/pr-35580/uikit-playground/assets/KatexBlock-CTfFauCS.js
  pr-preview/pr-35580/uikit-playground/assets/KatexBlock-DplfVedW.js
  pr-preview/pr-35580/uikit-playground/assets/KatexElement-B0iwzudg.js
  pr-preview/pr-35580/uikit-playground/assets/KatexElement-IX7N-UgU.js
  pr-preview/pr-35580/uikit-playground/assets/index-C-5juKtm.js
  pr-preview/pr-35580/uikit-playground/index.html
Due: none

Deploy preview for PR 35565 🛫
  pr-preview/pr-35565/fuselage-ui-kit/project.json
  pr-preview/pr-35565/gazzodown/project.json
Due: none

Deploy preview for PR 35666 🛫
  pr-preview/pr-35666/fuselage-ui-kit/project.json
  pr-preview/pr-35666/gazzodown/project.json
Due: none

wip: LDAP sync for federation
  apps/meteor/server/lib/ldap/Connection.ts
  apps/meteor/server/lib/ldap/Manager.ts
  apps/meteor/server/lib/ldap/getLdapDynamicValue.ts
  apps/meteor/server/lib/ldap/getLdapString.ts
  apps/meteor/server/lib/ldap/ldapKeyExists.ts
  apps/meteor/server/lib/ldap/operations/executeOperation.ts
  apps/meteor/server/lib/ldap/operations/fallback.ts
  apps/meteor/server/lib/ldap/operations/match.ts
  apps/meteor/server/lib/ldap/operations/replace.ts
  apps/meteor/server/lib/ldap/operations/substring.ts
  apps/meteor/server/lib/ldap/processLdapVariables.ts
  apps/meteor/server/settings/ldap.ts
  packages/core-typings/src/ldap/ILDAPOptions.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, e2e-api

regression: thows error message from error
  packages/apps-engine/deno-runtime/lib/accessors/modify/ModifyCreator.ts
Due: none

chore: change contact find method in setCustomFields
  apps/meteor/app/livechat/server/lib/LivechatTyped.ts
  apps/meteor/tests/end-to-end/api/livechat/03-custom-fields.ts
Due: e2e

fixed replace operation
  apps/meteor/server/lib/ldap/operations/replace.ts
Due: e2e, e2e-api
