Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

fix units
  apps/meteor/app/livechat/server/lib/departmentsLib.ts
  apps/meteor/ee/app/livechat-enterprise/server/hooks/afterRemoveDepartment.ts
  apps/meteor/ee/server/models/raw/LivechatUnit.ts
  apps/meteor/tests/end-to-end/api/livechat/14-units.ts
  packages/model-typings/src/models/ILivechatUnitModel.ts
Due: e2e

fix: Omnichannel queue starting multiple times due to race condition (#34062)
  .changeset/green-shirts-fold.md
  apps/meteor/server/services/omnichannel/queue.ts
  apps/meteor/server/services/omnichannel/service.ts
  packages/core-services/src/index.ts
  packages/core-services/src/lib/ServiceStarter.ts
  packages/core-services/tests/ServiceStarter.test.ts
Due: e2e

fix units
  apps/meteor/ee/app/livechat-enterprise/server/hooks/afterRemoveDepartment.ts
Due: e2e

fix: Delete invalid custom fields on contact update
  apps/meteor/app/livechat/server/lib/contacts/updateContact.ts
  apps/meteor/app/livechat/server/lib/contacts/validateCustomFields.ts
Due: e2e

tests: Add end-to-end tests
  apps/meteor/tests/end-to-end/api/livechat/contacts.ts
Due: e2e

fix units
  apps/meteor/tests/end-to-end/api/livechat/14-units.ts
Due: e2e

Create blue-rats-kick.md
  .changeset/blue-rats-kick.md
Due: none

Remove describe.only
  apps/meteor/tests/end-to-end/api/livechat/contacts.ts
Due: e2e

Create changeset
  .changeset/wet-chicken-scream.md
Due: none

Lint and typecheck
  apps/meteor/app/ui-utils/client/lib/LegacyRoomManager.ts
  apps/meteor/client/views/room/RoomOpenerEmbedded.tsx
  apps/meteor/client/views/root/MainLayout/EmbeddedPreload.tsx
  apps/meteor/client/views/root/MainLayout/Preload.tsx
Due: e2e, client

Ensure sub is merged with room
  apps/meteor/app/models/client/models/CachedChatSubscription.ts
  apps/meteor/client/lib/cachedCollections/CachedCollection.ts
  apps/meteor/client/views/room/RoomOpenerEmbedded.tsx
Due: e2e, client

test: add channel and thread unread
  apps/meteor/tests/e2e/feature-preview.spec.ts
  apps/meteor/tests/e2e/page-objects/fragments/home-content.ts
  apps/meteor/tests/e2e/page-objects/fragments/home-flextab-room.ts
  apps/meteor/tests/e2e/page-objects/fragments/sidepanel.ts
  apps/meteor/tests/e2e/utils/create-target-channel.ts
Due: e2e

test: fail `sort by last message even if unread message is inside thread` until fix is merged
  apps/meteor/tests/e2e/feature-preview.spec.ts
Due: e2e

fix: `im.counters` returns `null` for unread msgs for user who never opened the DM (#34109)
  .changeset/proud-cups-share.md
  apps/meteor/app/api/server/v1/im.ts
  apps/meteor/tests/end-to-end/api/direct-message.ts
Due: e2e

init authz collection
  apps/meteor/client/providers/AuthorizationProvider.tsx
  apps/meteor/client/views/root/MainLayout/EmbeddedPreload.tsx
  apps/meteor/client/views/root/MainLayout/Preload.tsx
Due: e2e, client

Bump 6.12.4
  .changeset/bump-patch-1733518615325.md
  yarn.lock
Due: none

Bump 6.13.2
  .changeset/bump-patch-1733518616033.md
  yarn.lock
Due: none

fix: Allow any user in e2ee room to create and propagate room keys (#34038)
  .changeset/chilly-pants-hunt.md
  apps/meteor/app/e2e/client/rocketchat.e2e.room.ts
Due: e2e

Move actions of Auto Translate
  apps/meteor/app/autotranslate/client/lib/actionButton.ts
  apps/meteor/app/autotranslate/client/lib/autotranslate.ts
  apps/meteor/client/components/message/toolbar/MessageToolbar.tsx
  apps/meteor/client/components/message/toolbar/useTranslateAction.ts
  apps/meteor/client/components/message/toolbar/useViewOriginalTranslationAction.ts
Due: e2e, client

Move more actions to hooks
  apps/meteor/app/ui-utils/client/index.ts
  apps/meteor/app/ui-utils/client/lib/messageActionDefault.ts
  apps/meteor/client/components/message/toolbar/MessageToolbar.tsx
  apps/meteor/client/components/message/toolbar/useCopyAction.ts
  apps/meteor/client/components/message/toolbar/useDeleteMessageAction.ts
  apps/meteor/client/components/message/toolbar/useEditMessageAction.ts
  apps/meteor/client/components/message/toolbar/useForwardMessageAction.tsx
  apps/meteor/client/components/message/toolbar/useQuoteMessageAction.ts
  apps/meteor/client/components/message/toolbar/useReadReceiptsDetailsAction.tsx
  apps/meteor/client/components/message/toolbar/useReplyInDMAction.ts
  apps/meteor/client/components/message/toolbar/useReportMessageAction.tsx
  apps/meteor/client/components/message/toolbar/useShowMessageReactionsAction.tsx
  apps/meteor/client/startup/index.ts
  apps/meteor/client/startup/readReceipt.ts
Due: e2e, client

chore: add announcement and topic classNames
  apps/meteor/client/views/room/RoomAnnouncement/AnnouncementComponent.tsx
  apps/meteor/client/views/room/body/RoomTopic.tsx
  packages/ui-client/src/components/RoomBanner/RoomBanner.tsx
  packages/ui-client/src/components/RoomBanner/RoomBannerContent.tsx
Due: e2e, client

Keep legacy custom fields on contact update
  apps/meteor/app/livechat/server/lib/contacts/updateContact.ts
  apps/meteor/tests/end-to-end/api/livechat/contacts.ts
Due: e2e

Limit length and reduce size more
  apps/meteor/server/routes/avatar/utils.ts
Due: e2e

Deploy preview for PR 33833 🛫
  pr-preview/pr-33833/fuselage-ui-kit/project.json
  pr-preview/pr-33833/gazzodown/project.json
Due: none

Add tests for removing an optional custom field
  apps/meteor/tests/end-to-end/api/livechat/contacts.ts
Due: e2e

Update nervous-fireants-wash.md
  .changeset/nervous-fireants-wash.md
Due: none

tests
  apps/meteor/server/routes/avatar/utils.spec.ts
Due: e2e

Shrink `MessageAction` API
  apps/meteor/app/ui-utils/client/lib/MessageAction.ts
  apps/meteor/client/components/message/toolbar/MessageActionMenu.tsx
  apps/meteor/client/components/message/toolbar/MessageToolbar.tsx
  apps/meteor/client/components/message/toolbar/MessageToolbarStarsActionMenu.tsx
  apps/meteor/client/components/message/toolbar/useCopyAction.ts
  apps/meteor/client/components/message/toolbar/useForwardMessageAction.tsx
  apps/meteor/client/components/message/toolbar/useNewDiscussionMessageAction.tsx
  apps/meteor/client/components/message/toolbar/usePermalinkAction.ts
  apps/meteor/client/components/message/toolbar/useReactionMessageAction.ts
  apps/meteor/client/components/message/toolbar/useReplyInDMAction.ts
  apps/meteor/client/components/message/toolbar/useShowMessageReactionsAction.tsx
  apps/meteor/client/components/message/toolbar/useTranslateAction.ts
  apps/meteor/client/components/message/toolbar/useViewOriginalTranslationAction.ts
  apps/meteor/client/components/message/toolbar/useWebDAVMessageAction.tsx
  apps/meteor/client/hooks/useAppActionButtons.ts
Due: e2e, client

fix: fix sorting of usernames in the member-list
  apps/meteor/app/api/server/v1/channels.ts
  apps/meteor/app/api/server/v1/groups.ts
  apps/meteor/app/api/server/v1/im.ts
Due: e2e

mark federated users deactivated on the ui
  apps/meteor/client/views/admin/users/UsersTable/UsersTableRow.tsx
Due: e2e, client

Deploy preview for PR 33281 🛫
  pr-preview/pr-33281/fuselage-ui-kit/231.f55be4cf.iframe.bundle.js
  pr-preview/pr-33281/fuselage-ui-kit/231.f55be4cf.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-33281/fuselage-ui-kit/231.f55be4cf.iframe.bundle.js.map
  pr-preview/pr-33281/fuselage-ui-kit/231.ff22515c.iframe.bundle.js.map
  pr-preview/pr-33281/fuselage-ui-kit/iframe.html
  pr-preview/pr-33281/fuselage-ui-kit/project.json
  pr-preview/pr-33281/fuselage-ui-kit/runtime~main.8af7de78.iframe.bundle.js
  pr-preview/pr-33281/fuselage-ui-kit/runtime~main.fb433086.iframe.bundle.js
  pr-preview/pr-33281/gazzodown/Markup-stories.0d69a544.iframe.bundle.js
  pr-preview/pr-33281/gazzodown/Markup-stories.0d69a544.iframe.bundle.js.map
  pr-preview/pr-33281/gazzodown/Markup-stories.4d153fc1.iframe.bundle.js.map
  pr-preview/pr-33281/gazzodown/iframe.html
  pr-preview/pr-33281/gazzodown/project.json
  pr-preview/pr-33281/gazzodown/runtime~main.6d30c7cd.iframe.bundle.js
  pr-preview/pr-33281/gazzodown/runtime~main.829311c3.iframe.bundle.js
  pr-preview/pr-33281/ui-composer/project.json
  pr-preview/pr-33281/uikit-playground/assets/CodeBlock-DPu46dom.js
  pr-preview/pr-33281/uikit-playground/assets/KatexBlock-BKs6qkQ5.js
  pr-preview/pr-33281/uikit-playground/assets/KatexBlock-DfL10-yP.js
  pr-preview/pr-33281/uikit-playground/assets/KatexElement-CgQn5z43.js
  pr-preview/pr-33281/uikit-playground/assets/KatexElement-Drtp4Ls7.js
  pr-preview/pr-33281/uikit-playground/assets/index-BfVEJrPs.js
  pr-preview/pr-33281/uikit-playground/index.html
Due: none

add test
  apps/meteor/tests/unit/server/federation/infrastructure/rocket-chat/hooks/hooks.spec.ts
Due: e2e

Update .changeset/fifty-parrots-wonder.md
  .changeset/fifty-parrots-wonder.md
Due: none

Path conditions:
  e2e: any of: apps/meteor/
  client: any of: apps/meteor/client
