Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'

Deploy preview for PR 33604 🛫
  pr-preview/pr-33604/fuselage-ui-kit/project.json
  pr-preview/pr-33604/gazzodown/project.json
Due: none

wip
  apps/meteor/client/views/omnichannel/contactInfo/ContactInfo.tsx
  apps/meteor/client/views/omnichannel/contactInfo/components/ContactInfoHistoryItem.tsx
  apps/meteor/client/views/omnichannel/contactInfo/tabs/ContactInfoChannels.tsx
Due: e2e, client

Deploy preview for PR 33483 🛫
  pr-preview/pr-33483/fuselage-ui-kit/main.2b6bb7d9.iframe.bundle.js
  pr-preview/pr-33483/fuselage-ui-kit/project.json
  pr-preview/pr-33483/gazzodown/project.json
Due: none

feat: include lastChat on channels
  apps/meteor/app/livechat/server/hooks/saveContactLastChat.ts
  apps/meteor/server/models/raw/LivechatContacts.ts
  apps/meteor/tests/end-to-end/api/livechat/contacts.ts
  packages/core-typings/src/ILivechatContact.ts
  packages/model-typings/src/models/ILivechatContactsModel.ts
Due: e2e

Deploy preview for PR 33585 🛫
  pr-preview/pr-33585/fuselage-ui-kit/main.dfb1bf50.iframe.bundle.js
  pr-preview/pr-33585/fuselage-ui-kit/project.json
  pr-preview/pr-33585/gazzodown/project.json
Due: none

fix: contacts.get endpoint returning a successful response even if the contact is not found (#33607)
  apps/meteor/app/livechat/server/api/v1/contact.ts
Due: e2e

chore: replace esl fork targeted at node14 with the regular esl package
  apps/meteor/package.json
  yarn.lock
Due: e2e

Update apps/meteor/server/models/raw/LivechatContacts.ts
  apps/meteor/server/models/raw/LivechatContacts.ts
Due: e2e

deps
  apps/meteor/package.json
  yarn.lock
Due: e2e

Deploy preview for PR 32727 🛫
  pr-preview/pr-32727/fuselage-ui-kit/main.0b937605.iframe.bundle.js
  pr-preview/pr-32727/fuselage-ui-kit/project.json
  pr-preview/pr-32727/gazzodown/project.json
Due: none

Update .changeset/shiny-falcons-vanish.md
  .changeset/shiny-falcons-vanish.md
Due: none

Update apps/meteor/server/lib/ldap/Manager.ts
  apps/meteor/server/lib/ldap/Manager.ts
Due: e2e

feat: add contact bridge
  packages/apps-engine/deno-runtime/lib/accessors/mod.ts
  packages/apps-engine/deno-runtime/lib/accessors/modify/ModifyCreator.ts
  packages/apps-engine/src/definition/accessors/IContactCreator.ts
  packages/apps-engine/src/definition/accessors/IContactRead.ts
  packages/apps-engine/src/definition/accessors/IModifyCreator.ts
  packages/apps-engine/src/definition/accessors/IRead.ts
  packages/apps-engine/src/definition/livechat/ILivechatContact.ts
  packages/apps-engine/src/definition/livechat/index.ts
  packages/apps-engine/src/server/accessors/ContactCreator.ts
  packages/apps-engine/src/server/accessors/ContactRead.ts
  packages/apps-engine/src/server/accessors/ModifyCreator.ts
  packages/apps-engine/src/server/accessors/Reader.ts
  packages/apps-engine/src/server/bridges/AppBridges.ts
  packages/apps-engine/src/server/bridges/ContactBridge.ts
  packages/apps-engine/src/server/bridges/index.ts
  packages/apps-engine/src/server/managers/AppAccessorManager.ts
  packages/apps-engine/src/server/permissions/AppPermissions.ts
  packages/apps-engine/tests/server/accessors/Reader.spec.ts
  packages/apps-engine/tests/test-data/bridges/appBridges.ts
  packages/apps-engine/tests/test-data/bridges/contactBridge.ts
Due: none

fix: fixing the bridges
  apps/meteor/app/apps/server/bridges/contact.ts
  packages/apps-engine/src/server/bridges/ContactBridge.ts
Due: e2e

feat: add bridge method to add email
  apps/meteor/app/apps/server/bridges/contact.ts
  apps/meteor/app/livechat/server/lib/Contacts.ts
  packages/apps-engine/src/definition/accessors/IContactCreator.ts
  packages/apps-engine/src/definition/livechat/ILivechatContact.ts
  packages/apps-engine/src/server/accessors/ContactCreator.ts
  packages/apps-engine/src/server/bridges/ContactBridge.ts
  packages/apps-engine/tests/test-data/bridges/contactBridge.ts
Due: e2e

fix: lint-fix
  apps/meteor/app/apps/server/bridges/bridges.js
Due: e2e

feat: implement bridge in R.C
  apps/meteor/app/apps/server/bridges/bridges.js
  apps/meteor/app/apps/server/bridges/contact.ts
  packages/apps-engine/src/server/bridges/ContactBridge.ts
Due: e2e

fix: only add email if not in the contact
  apps/meteor/app/livechat/server/lib/Contacts.ts
Due: e2e

chore: removing the projection
  apps/meteor/app/livechat/server/lib/Contacts.ts
Due: e2e

fix: lint
  apps/meteor/server/models/raw/LivechatContacts.ts
Due: e2e

Deploy preview for PR 33598 🛫
  pr-preview/pr-33598/fuselage-ui-kit/project.json
  pr-preview/pr-33598/gazzodown/project.json
Due: none

Deploy preview for PR 32779 🛫
  pr-preview/pr-32779/fuselage-ui-kit/project.json
  pr-preview/pr-32779/gazzodown/project.json
  pr-preview/pr-32779/ui-composer/project.json
Due: none

chore!: removed mailer.sendMail mailer:unsubscribe methods (#33358)
  .changeset/slow-rules-bow.md
  apps/meteor/app/api/server/v1/mailer.ts
  apps/meteor/app/mail-messages/server/index.ts
  apps/meteor/app/mail-messages/server/methods/sendMail.ts
  apps/meteor/app/mail-messages/server/methods/unsubscribe.ts
  apps/meteor/server/importPackages.ts
Due: e2e

Deploy preview for PR 33503 🛫
  pr-preview/pr-33503/fuselage-ui-kit/project.json
  pr-preview/pr-33503/gazzodown/project.json
  pr-preview/pr-33503/ui-composer/project.json
Due: none

chore: replace esl fork targeted at node14 with the regular esl package (#33609)
  apps/meteor/package.json
  yarn.lock
Due: e2e

Deploy preview for PR 33218 🛫
  pr-preview/pr-33218/fuselage-ui-kit/main.2b6bb7d9.iframe.bundle.js
  pr-preview/pr-33218/fuselage-ui-kit/project.json
  pr-preview/pr-33218/gazzodown/project.json
Due: none

fix: alter the regex in the isValidDomain function to accept hyphens (#33606)
  .changeset/modern-trees-draw.md
  apps/meteor/app/lib/server/functions/checkUrlForSsrf.ts
Due: e2e

fix!: hide archived rooms in room.autocomplete endpoint (#31383)
  .changeset/three-avocados-search.md
  apps/meteor/server/models/raw/Rooms.ts
Due: e2e

chore: skip contact center tests
  apps/meteor/tests/e2e/omnichannel/omnichannel-contact-center.spec.ts
Due: e2e

chore!: make custom user status pages stop to use query param (#33557)
  apps/meteor/app/api/server/helpers/parseJsonQuery.ts
  apps/meteor/app/api/server/v1/custom-user-status.ts
  apps/meteor/client/views/admin/customUserStatus/CustomUserStatusFormWithData.tsx
  apps/meteor/client/views/admin/customUserStatus/CustomUserStatusTable/CustomUserStatusTable.tsx
  apps/meteor/tests/end-to-end/api/custom-user-status.ts
  packages/rest-typings/src/index.ts
  packages/rest-typings/src/v1/customUserStatus.ts
Due: e2e, client

chore!: Remove unused dependencies (#33593)
  apps/meteor/package.json
  yarn.lock
Due: e2e

fix reviews
  apps/meteor/client/views/admin/subscription/utils/links.ts
  apps/meteor/client/views/marketplace/AppDetailsPage/tabs/AppDetails/AppDetails.tsx
  apps/meteor/client/views/marketplace/AppsList/AddonChip.tsx
  apps/meteor/client/views/marketplace/AppsList/AddonRequiredModal.tsx
  apps/meteor/client/views/marketplace/helpers/doesAppRequireAddon.ts
Due: e2e, client

chore!: make integrations stop to use query param (#33558)
  apps/meteor/app/api/server/helpers/parseJsonQuery.ts
  apps/meteor/app/api/server/v1/integrations.ts
  apps/meteor/client/views/admin/integrations/IntegrationsTable.tsx
  packages/rest-typings/src/v1/integrations/IntegrationsListProps.ts
  packages/rest-typings/src/v1/integrations/index.ts
  packages/rest-typings/src/v1/integrations/integrations.ts
Due: e2e, client
