Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

chore: Replace findOne with findOneById and use removeById (#37240)
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
Due: none

fix: FindOneById used where key was provided
  ee/packages/abac/src/index.ts
  packages/model-typings/src/models/IAbacAttributesModel.ts
  packages/models/src/models/AbacAttributes.ts
Due: none

restore
  packages/http-router/src/Router.ts
Due: none

feat: Remove users from room when new attributes are added to the room (#37172)
  apps/meteor/app/lib/server/functions/removeUserFromRoom.ts
  apps/meteor/server/lib/dataExport/exportRoomMessagesToFile.ts
  apps/meteor/server/services/room/service.ts
  ee/packages/abac/package.json
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  ee/packages/abac/src/user-auto-removal.spec.ts
  packages/apps-engine/src/definition/messages/MessageType.ts
  packages/core-services/src/types/IRoomService.ts
  packages/core-typings/src/IMessage/IMessage.ts
  packages/i18n/src/locales/en.i18n.json
  packages/message-types/src/registrations/common.ts
  yarn.lock
Due: e2e, e2e-api

fix: Unit tests
  ee/packages/abac/src/index.spec.ts
Due: none

chore: Prevent default room & team channels from becoming abac managed (and viceversa) (#37264)
  apps/meteor/app/api/server/v1/teams.ts
  apps/meteor/app/channel-settings/server/methods/saveRoomSettings.ts
  apps/meteor/app/lib/server/functions/addUserToDefaultChannels.ts
  apps/meteor/tests/end-to-end/api/abac.ts
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
Due: e2e

chore: Unset attributes instead of leaving empty array (#37301)
  ee/packages/abac/src/index.ts
  packages/model-typings/src/models/IRoomsModel.ts
  packages/models/src/models/Rooms.ts
Due: none

feat: Prevent LDAP sync from adding users to abac rooms/teams (#37299)
  apps/meteor/ee/server/lib/ldap/Manager.ts
  packages/model-typings/src/models/IRoomsModel.ts
  packages/models/src/models/Rooms.ts
Due: e2e

feat: Prevent ABAC managed rooms becoming public while ABAC is active (#37303)
  apps/meteor/app/channel-settings/server/methods/saveRoomSettings.ts
  apps/meteor/tests/end-to-end/api/abac.ts
Due: e2e

feat: Prevent invite links from being generated on abac rooms (#37325)
  apps/meteor/app/invites/server/functions/findOrCreateInvite.ts
  apps/meteor/app/invites/server/functions/validateInviteToken.ts
  apps/meteor/tests/end-to-end/api/abac.ts
Due: e2e

fix: tests using room instead of rooms
  apps/meteor/tests/end-to-end/api/abac.ts
Due: e2e

chore: Re-route endpoints from `abac/room/*` to `abac/rooms/*`
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/tests/end-to-end/api/abac.ts
Due: e2e

feat: Register abac service inside authz (#37333)
  apps/meteor/ee/server/startup/services.ts
  ee/apps/authorization-service/Dockerfile
  ee/apps/authorization-service/package.json
  ee/apps/authorization-service/src/service.ts
  yarn.lock
Due: e2e

feat: Update add/join methods to use abac rules (#37339)
  apps/meteor/app/lib/server/functions/addUserToRoom.ts
  apps/meteor/app/lib/server/lib/beforeAddUserToRoom.ts
  apps/meteor/app/slashcommands-invite/server/server.ts
  apps/meteor/ee/server/configuration/abac.ts
  apps/meteor/ee/server/hooks/abac/beforeAddUserToRoom.ts
  apps/meteor/ee/server/hooks/abac/index.ts
  apps/meteor/server/methods/addAllUserToRoom.ts
  apps/meteor/tests/end-to-end/api/abac.ts
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
Due: e2e, e2e-api

feat: add ABAC admin settings (#37139)
  apps/meteor/client/components/ABAC/ABACUpsellModal/ABACUpsellModal.spec.tsx
  apps/meteor/client/lib/links.ts
  apps/meteor/client/views/admin/ABAC/AdminABACPage.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACRoute.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACSettingToggle.spec.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACSettingToggle.stories.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACSettingToggle.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACSettings.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACTabs.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACWarningModal.tsx
  apps/meteor/client/views/admin/ABAC/__snapshots__/AdminABACSettingToggle.spec.tsx.snap
  apps/meteor/client/views/admin/routes.tsx
  apps/meteor/client/views/admin/sidebarItems.ts
  apps/meteor/client/views/room/contextualBar/RoomMembers/RoomMembersWithData.tsx
  apps/meteor/ee/server/settings/abac.ts
  apps/meteor/tests/mocks/data.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

feat: New setting for showing ABAC attributes in rooms (#37465)
  apps/meteor/ee/server/settings/abac.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e

fix type
  apps/meteor/client/lib/rooms/roomTypes/private.ts
Due: e2e, client

feat: Access Checks for ABAC managed rooms (#37423)
  apps/meteor/client/lib/utils/mapSubscriptionFromApi.ts
  apps/meteor/ee/server/settings/abac.ts
  apps/meteor/server/services/authorization/canAccessRoom.ts
  apps/meteor/server/services/authorization/service.ts
  apps/meteor/tests/end-to-end/api/abac.ts
  ee/packages/abac/src/can-access-object.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
  packages/core-services/src/types/IAuthorization.ts
  packages/core-typings/src/Abac.ts
  packages/core-typings/src/ISubscription.ts
  packages/core-typings/src/index.ts
  packages/i18n/src/locales/en.i18n.json
  packages/model-typings/src/models/ISubscriptionsModel.ts
  packages/models/src/models/Subscriptions.ts
Due: e2e, e2e-api, client

fix: GET/DELETE abac endpoints not allowing actions with setting disabled (#37415)
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/tests/end-to-end/api/abac.ts
Due: e2e

test: ABAC tests unit (#37495)
  ee/packages/abac/src/user-auto-removal.spec.ts
Due: none

feat: ABAC Attributes LDAP integration (#37379)
  apps/meteor/ee/server/configuration/ldap.ts
  apps/meteor/ee/server/lib/ldap/Manager.ts
  apps/meteor/ee/server/local-services/ldap/service.ts
  apps/meteor/ee/server/sdk/types/ILDAPEEService.ts
  apps/meteor/ee/server/settings/ldap.ts
  ee/packages/abac/src/helper.ts
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
  packages/core-typings/src/IUser.ts
  packages/i18n/src/locales/en.i18n.json
  yarn.lock
Due: e2e

feat: ABAC Rooms attributes tab (#37408)
  apps/meteor/client/lib/queryKeys.ts
  apps/meteor/client/views/admin/ABAC/AdminABACPage.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACRoomAttributeMenu.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACRoomAttributes.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACRoomAttributesForm.spec.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACRoomAttributesForm.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACTabs.tsx
  apps/meteor/client/views/admin/ABAC/RoomAttributesContextualBar.tsx
  apps/meteor/client/views/admin/ABAC/RoomAttributesContextualBarWithData.tsx
  apps/meteor/client/views/admin/ABAC/__snapshots__/AdminABACRoomAttributesForm.spec.tsx.snap
  apps/meteor/client/views/admin/ABAC/hooks/useIsABACAvailable.tsx
  apps/meteor/client/views/admin/ABAC/useRoomAttributeOptions.spec.tsx
  apps/meteor/client/views/admin/ABAC/useRoomAttributeOptions.tsx
  apps/meteor/client/views/admin/sidebarItems.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

feat: New endpoint for showing ABAC managed rooms (#37536)
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  apps/meteor/tests/end-to-end/api/abac.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
Due: e2e

feat: Force LDAP sync for specific users via endpoint (#37542)
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  apps/meteor/ee/server/lib/ldap/Manager.ts
  apps/meteor/ee/server/local-services/ldap/service.ts
  apps/meteor/ee/server/sdk/types/ILDAPEEService.ts
  packages/model-typings/src/models/IUsersModel.ts
  packages/models/src/models/Users.ts
Due: e2e

fix: Add `abacAttributes` to adminRooms projection (#37576)
  apps/meteor/lib/rooms/adminFields.ts
  packages/core-typings/src/IRoom.ts
Due: e2e

chore: Run ABAC LDAP sync on license/setting changes (#37562)
  apps/meteor/ee/server/configuration/abac.ts
  apps/meteor/ee/server/lib/ldap/Manager.ts
  apps/meteor/ee/server/settings/abac.ts
Due: e2e

chore: fix types
  apps/meteor/client/views/room/contextualBar/Info/RoomInfo/RoomInfo.stories.tsx
Due: e2e, client

feat: Remove users from rooms when subject attributes no longer match (#37506)
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  ee/packages/abac/src/subject-attributes-validations.spec.ts
  packages/model-typings/src/models/IUsersModel.ts
  packages/models/src/models/Users.ts
Due: none

fix: useHasLicenseModule return change (#37596)
  apps/meteor/client/views/admin/ABAC/AdminABACPage.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACRoomAttributes.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACRoute.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACSettings.tsx
  apps/meteor/client/views/admin/ABAC/hooks/useIsABACAvailable.tsx
  apps/meteor/client/views/admin/ABAC/useRoomAttributeOptions.tsx
Due: e2e, client

chore: ABAC statistics (#37606)
  apps/meteor/app/statistics/server/lib/statistics.ts
  packages/core-typings/src/IStats.ts
  packages/model-typings/src/models/IAbacAttributesModel.ts
  packages/model-typings/src/models/IRoomsModel.ts
  packages/models/src/models/AbacAttributes.ts
  packages/models/src/models/Rooms.ts
Due: e2e

fix: Actor type
  apps/meteor/ee/server/lib/ldap/Manager.ts
  packages/core-services/src/types/IAbacService.ts
Due: e2e

feat: Audit ABAC actions (#37565)
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  apps/meteor/tests/end-to-end/api/abac.ts
  ee/packages/abac/src/audit.ts
  ee/packages/abac/src/can-access-object.spec.ts
  ee/packages/abac/src/helper.ts
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  ee/packages/abac/src/subject-attributes-validations.spec.ts
  ee/packages/abac/src/user-auto-removal.spec.ts
  packages/core-services/src/index.ts
  packages/core-services/src/types/IAbacService.ts
  packages/core-typings/src/ServerAudit/IAuditServerAbacAction.ts
  packages/core-typings/src/index.ts
  packages/models/src/index.ts
  yarn.lock
Due: e2e

test: ABAC + LDAP (#37615)
  apps/meteor/app/lib/server/functions/getFullUserData.ts
  apps/meteor/tests/end-to-end/api/abac.ts
  development/ldap/02-data.ldif
  docker-compose-ci.yml
Due: e2e

move helpers to helper file
  ee/packages/abac/src/helper.spec.ts
  ee/packages/abac/src/helper.ts
  ee/packages/abac/src/index.ts
  ee/packages/abac/src/service.spec.ts
Due: none

test: Fix abac tests (#37658)
  ee/packages/abac/src/subject-attributes-validations.spec.ts
  ee/packages/abac/src/user-auto-removal.spec.ts
Due: none

chore: Add name prop to object's audit (#37655)
  ee/packages/abac/src/index.ts
  packages/core-typings/src/ServerAudit/IAuditServerAbacAction.ts
Due: none

feat: admin ABAC rooms tab (#37557)
  apps/meteor/client/lib/queryKeys.ts
  apps/meteor/client/views/admin/ABAC/ABACAttributeField.spec.tsx
  apps/meteor/client/views/admin/ABAC/ABACAttributeField.stories.tsx
  apps/meteor/client/views/admin/ABAC/ABACAttributeField.tsx
  apps/meteor/client/views/admin/ABAC/ABACDeleteRoomModal.spec.tsx
  apps/meteor/client/views/admin/ABAC/ABACDeleteRoomModal.tsx
  apps/meteor/client/views/admin/ABAC/ABACRoomAutocomplete.spec.tsx
  apps/meteor/client/views/admin/ABAC/ABACRoomAutocomplete.stories.tsx
  apps/meteor/client/views/admin/ABAC/ABACRoomAutocomplete.tsx
  apps/meteor/client/views/admin/ABAC/ABACRoomAutocompleteDummy.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACPage.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACRoomAttributeMenu.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACRoomAttributes.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACRoomAttributesForm.stories.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACRoomAttributesForm.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACRoomForm.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACRoomMenu.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACRooms.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACTabs.tsx
  apps/meteor/client/views/admin/ABAC/RoomsContextualBar.tsx
  apps/meteor/client/views/admin/ABAC/RoomsContextualBarWithData.tsx
  apps/meteor/client/views/admin/ABAC/__snapshots__/ABACAttributeField.spec.tsx.snap
  apps/meteor/client/views/admin/ABAC/__snapshots__/ABACDeleteRoomModal.spec.tsx.snap
  apps/meteor/client/views/admin/ABAC/__snapshots__/ABACRoomAutocomplete.spec.tsx.snap
  apps/meteor/client/views/admin/ABAC/hooks/useABACAttributeList.ts
  apps/meteor/client/views/admin/ABAC/hooks/useABACDeleteRoomModal.spec.tsx
  apps/meteor/client/views/admin/ABAC/hooks/useABACDeleteRoomModal.tsx
  apps/meteor/client/views/admin/ABAC/hooks/useIsABACAvailable.ts
  apps/meteor/client/views/admin/ABAC/hooks/useRoomItems.spec.tsx
  apps/meteor/client/views/admin/ABAC/hooks/useRoomItems.tsx
  apps/meteor/client/views/admin/ABAC/useRoomAttributeOptions.spec.tsx
  apps/meteor/client/views/admin/ABAC/useRoomAttributeOptions.tsx
  apps/meteor/client/views/omnichannel/currentChats/CurrentChatsPage.tsx
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

chore: Action performed audit log to happen after action
  ee/packages/abac/src/index.ts
Due: none

fix: broken contextualbar export (#37685)
  apps/meteor/client/views/admin/ABAC/AdminABACPage.tsx
  apps/meteor/client/views/admin/ABAC/RoomAttributesContextualBar.tsx
  apps/meteor/client/views/admin/ABAC/RoomAttributesContextualBarWithData.tsx
Due: e2e, client

feat: ABAC Logs Tab (#37633)
  apps/meteor/client/lib/queryKeys.ts
  apps/meteor/client/views/admin/ABAC/AdminABACLogs.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACPage.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACTabs.tsx
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
