Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'

bump: apps engine bump version
  apps/meteor/package.json
  yarn.lock
Due: e2e

chore: remove references to EE code from livechat departments features
  apps/meteor/app/livechat/imports/server/rest/departments.ts
  apps/meteor/app/livechat/server/lib/LivechatTyped.ts
  apps/meteor/app/livechat/server/lib/isDepartmentCreationAvailable.ts
  apps/meteor/app/livechat/server/methods/saveDepartment.ts
  apps/meteor/ee/app/livechat-enterprise/server/lib/LivechatEnterprise.ts
  apps/meteor/ee/server/patches/index.ts
  apps/meteor/ee/server/patches/isDepartmentCreationAvailable.ts
Due: e2e

fix review
  apps/meteor/client/views/hooks/useMemberExists.ts
  apps/meteor/client/views/room/UserCard/UserCardWithData.tsx
  apps/meteor/client/views/room/hooks/useUserInfoActions/useUserInfoActions.ts
Due: e2e, client

fix: associate label with field
  apps/meteor/client/views/room/modals/ForwardMessageModal/ForwardMessageModal.tsx
Due: e2e, client

fix: change locator to role and remove sending messages from forward function
  apps/meteor/client/components/UserAndRoomAutoCompleteMultiple/UserAndRoomAutoCompleteMultiple.tsx
  apps/meteor/tests/e2e/message-actions.spec.ts
  apps/meteor/tests/e2e/page-objects/fragments/home-content.ts
Due: e2e, client

review
  apps/meteor/client/views/root/SAMLLoginRoute.tsx
Due: e2e, client

unused refs
  apps/meteor/ee/app/livechat-enterprise/server/lib/LivechatEnterprise.ts
Due: e2e

remove duplicate function call
  apps/meteor/client/components/message/hooks/useNormalizedMessage.ts
Due: e2e, client

minor fix
  apps/meteor/client/views/room/contextualBar/RoomMembers/RoomMembersWithData.tsx
  apps/meteor/client/views/room/contextualBar/UserInfo/UserInfoActions.tsx
  apps/meteor/client/views/room/contextualBar/UserInfo/UserInfoWithData.tsx
Due: e2e, client

fix conflicts
  apps/meteor/client/views/room/MessageList/MessageList.tsx
Due: e2e, client

chore: remove references to EE code from livechat business hour feature
  apps/meteor/app/livechat/server/business-hour/BusinessHourManager.ts
  apps/meteor/app/livechat/server/business-hour/closeBusinessHour.ts
  apps/meteor/app/livechat/server/business-hour/getAgentIdsForBusinessHour.ts
  apps/meteor/ee/app/livechat-enterprise/server/business-hour/Helper.ts
  apps/meteor/ee/server/patches/closeBusinessHour.ts
  apps/meteor/ee/server/patches/index.ts
Due: e2e

Add disabled to all user creation buttons
  apps/meteor/client/views/admin/users/AdminUsersPage.tsx
Due: e2e, client

Re-add boolean verification to seats cap
  apps/meteor/client/views/admin/users/AdminUsersPage.tsx
Due: e2e, client

added tests for param order
  packages/patch-coordinator/tests/patches.test.ts
Due: none

wrong ref
  apps/meteor/ee/app/livechat-enterprise/server/business-hour/Multiple.ts
Due: e2e

Update apps/meteor/tests/unit/server/services/omnichannel/queue.tests.ts
  apps/meteor/tests/unit/server/services/omnichannel/queue.tests.ts
Due: e2e

tests
  apps/meteor/tests/unit/server/services/omnichannel/queue.tests.ts
Due: e2e

refactor: Improve queue startup process & reliability (#31900)
  apps/meteor/app/livechat/server/lib/RoutingManager.ts
  apps/meteor/app/livechat/server/startup.ts
  apps/meteor/server/services/omnichannel/queue.ts
Due: e2e

chore: move `getBaseURI` to `ui-client` package
  apps/meteor/client/components/MarkdownText.tsx
  packages/gazzodown/src/elements/LinkSpan.tsx
  packages/ui-client/src/helpers/getBaseURI.ts
  packages/ui-client/src/helpers/index.ts
  packages/ui-client/src/index.ts
Due: e2e, client

Fix department names overflowing
  apps/meteor/client/components/AutoCompleteDepartmentMultiple.tsx
  apps/meteor/client/views/omnichannel/agents/AgentEdit.tsx
  apps/meteor/ee/client/omnichannel/additionalForms/DepartmentForwarding.tsx
Due: e2e, client

Create metal-candles-float.md
  .changeset/metal-candles-float.md
Due: none

test: split tests in 2 suites
  apps/meteor/tests/e2e/omnichannel/omnichannel-triggers-after-registration.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-triggers.spec.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-livechat.ts
Due: e2e

feat: trigger `after-guest-registration` after user opens new room
  packages/livechat/src/lib/room.js
  packages/livechat/src/lib/triggers.js
Due: none

refactor: :recycle: Make pending users count only count non-activated users
  apps/meteor/app/api/server/lib/users.ts
  apps/meteor/app/api/server/v1/users.ts
  apps/meteor/client/views/admin/users/AdminUsersPage.tsx
  apps/meteor/client/views/admin/users/hooks/usePendingUsersCount.ts
  packages/rest-typings/src/v1/users/UsersListStatusParamsGET.ts
Due: e2e, client

Update apps/meteor/tests/e2e/saml.spec.ts
  apps/meteor/tests/e2e/saml.spec.ts
Due: e2e

fix: generate png thumbnail previews for svg files (#31883)
  .changeset/happy-jars-lick.md
  apps/meteor/app/file-upload/server/lib/FileUpload.ts
  apps/meteor/app/file-upload/server/methods/sendFileMessage.ts
  apps/meteor/tests/data/interactions.ts
  apps/meteor/tests/end-to-end/api/09-rooms.js
  apps/meteor/tests/mocks/files/sample-jpeg.jpg
Due: e2e

chore: Moving WorkspaceCredentials models into the EE folder
  apps/meteor/ee/server/models/WorkspaceCredentials.ts
  apps/meteor/ee/server/models/raw/WorkspaceCredentials.ts
  apps/meteor/ee/server/models/startup.ts
  apps/meteor/server/models/WorkspaceCredentials.ts
Due: e2e

simplify discussion names definition
  apps/meteor/app/channel-settings/server/functions/saveRoomName.ts
  apps/meteor/app/discussion/server/methods/createDiscussion.ts
  apps/meteor/app/lib/server/functions/createDirectRoom.ts
  apps/meteor/app/lib/server/functions/createRoom.ts
  apps/meteor/app/utils/server/lib/getValidRoomName.ts
  apps/meteor/server/services/room/service.ts
  apps/meteor/tests/end-to-end/api/09-rooms.js
  packages/core-services/src/types/IRoomService.ts
  packages/rest-typings/src/v1/teams/index.ts
Due: e2e

fix flaky
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat-api.spec.ts
Due: e2e

Update apps/meteor/playwright.config.ts
  apps/meteor/playwright.config.ts
Due: e2e

changeset
  .changeset/mean-rabbits-hope.md
Due: none

remove unused meteor method
  apps/meteor/app/livechat/server/methods/sendFileLivechatMessage.ts
Due: e2e

test: forward messages (#32002)
  apps/meteor/client/views/room/modals/ForwardMessageModal/ForwardMessageModal.tsx
  apps/meteor/tests/e2e/message-actions.spec.ts
  apps/meteor/tests/e2e/page-objects/fragments/home-content.ts
Due: e2e, client

add unit
  apps/meteor/client/lib/imperativeModal.tsx
  apps/meteor/client/providers/MeteorProvider.tsx
  apps/meteor/client/providers/ModalProvider/ModalProvider.spec.tsx
  apps/meteor/client/providers/ModalProvider/ModalProvider.tsx
  apps/meteor/client/providers/ModalProvider/ModalProviderWithRegion.tsx
  apps/meteor/client/providers/ModalProvider/ModalStore.ts
Due: e2e, client

feat: Trigger chat-visitor-registered on 'new chat' after closing (#31718)
  .changeset/fair-triggers-suffer.md
  apps/meteor/tests/e2e/omnichannel/omnichannel-triggers-after-registration.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-triggers.spec.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-livechat.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-triggers.ts
  packages/livechat/src/lib/room.js
  packages/livechat/src/lib/triggers.js
  packages/livechat/src/routes/ChatFinished/component.tsx
Due: e2e

chore: do not expect retries for pull requests (#32001)
  .github/workflows/ci-test-e2e.yml
  .github/workflows/ci.yml
  apps/meteor/playwright.config.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat-api.spec.ts
Due: e2e

fix: `Edit Discussion` name validation allow special characters (#31983)
  .changeset/mean-rabbits-hope.md
  apps/meteor/app/channel-settings/server/functions/saveRoomName.ts
  apps/meteor/app/discussion/server/methods/createDiscussion.ts
  apps/meteor/app/lib/server/functions/createDirectRoom.ts
  apps/meteor/app/lib/server/functions/createRoom.ts
  apps/meteor/app/utils/server/lib/getValidRoomName.ts
  apps/meteor/server/services/room/service.ts
  apps/meteor/tests/end-to-end/api/09-rooms.js
  packages/core-services/src/types/IRoomService.ts
  packages/rest-typings/src/v1/teams/index.ts
Due: e2e

wrapped quote message links in the main box instead of the time box
  apps/meteor/client/components/message/content/attachments/QuoteAttachment.tsx
Due: e2e, client
