Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true
  
  e2e-api:
    paths:
      - apps/meteor/server
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'
fixes:
  - '/home/runner/work/Rocket.Chat/Rocket.Chat/::'

Update refactor-presence-api-chained-pattern.md
  .changeset/refactor-presence-api-chained-pattern.md
Due: none

Remove timeout from waitFor in Markup tests
  packages/gazzodown/src/Markup.spec.tsx
Due: none

refactor: move banners null check from filterOutdatedVersionUpdateBanners to caller
  apps/meteor/app/api/server/helpers/getUserInfo.ts
Due: e2e

Update .changeset/refactor-ldap-api-chained-pattern.md
  .changeset/refactor-ldap-api-chained-pattern.md
Due: none

use textContent over innerText to avoid unnecessary reflow when parsing emoji spans
  apps/meteor/client/lib/utils/detectEmoji.ts
Due: e2e, client

chore: rename misspelled `useDrowdownVisibility` hook filename (#39036)
  apps/meteor/client/views/room/Header/Omnichannel/QuickActions/QuickActionOptions.tsx
  apps/meteor/client/views/room/Header/Omnichannel/QuickActions/hooks/useDropdownVisibility.ts
Due: e2e, client

test: update e2e test
  apps/meteor/tests/e2e/register.spec.ts
Due: e2e

chore: remove not used Message model methods
  packages/model-typings/src/models/IMessagesModel.ts
  packages/models/src/models/Messages.ts
Due: none

refactor(team): remove inline performance comments per coding guidelines
  apps/meteor/server/services/team/service.ts
Due: e2e, e2e-api

fixed typo mistake
  .changeset/nine-otters-hug.md
  apps/meteor/app/api/server/v1/rooms.ts
Due: e2e

fix: replace direct sdk import with useStream hook for livechat-inquiry-queue-observer
  apps/meteor/client/views/omnichannel/directory/chats/ChatsTable/hooks/useCurrentChats.ts
Due: e2e, client

fix: remove as any type casts in dropdowns in marketplace
  apps/meteor/client/views/marketplace/components/CategoryFilter/CategoryDropDown.tsx
  apps/meteor/client/views/marketplace/components/RadioDropDown/RadioDownAnchor.tsx
  apps/meteor/client/views/marketplace/components/RadioDropDown/RadioDropDown.tsx
Due: e2e, client

refactor: remove code comments and simplify invalidation logic
  apps/meteor/client/views/omnichannel/directory/chats/ChatsTable/hooks/useCurrentChats.ts
Due: e2e, client

Update package versions to minor for OpenAPI support
  .changeset/short-starfishes-provide.md
Due: none

chore: improve types and replace 'any' in Sidebar Extended Item
  apps/meteor/client/sidebar/Item/Extended.tsx
Due: e2e, client

chore: add fullOptions to Emoji benchmark fixtures (#39035)
  packages/message-parser/benchmarks/parser.bench.ts
Due: none

feat(web-ui-registration): implement granular password validation UI
  packages/web-ui-registration/src/RegisterForm.tsx
Due: none

refactor: enforce NonNullable banners in setBannersInBulk
  apps/meteor/app/version-check/server/functions/buildVersionUpdateMessage.ts
  packages/model-typings/src/models/IUsersModel.ts
  packages/models/src/models/Users.ts
Due: e2e

revert types in menuOptions
  apps/meteor/client/sidebar/Item/Extended.tsx
Due: e2e, client

test: remove unnecessary `dialogContactInfo` root exposure and refactor steps that used it
  apps/meteor/tests/e2e/omnichannel/omnichannel-custom-field-usage.spec.ts
  apps/meteor/tests/e2e/page-objects/omnichannel/omnichannel-info.ts
Due: e2e

fix(cors): restrict wildcard CORS for runtime config file
  apps/meteor/app/cors/server/cors.ts
Due: e2e

fix: missing username input invalidation error prop
  packages/web-ui-registration/src/LoginForm.tsx
Due: none

fix memory leak when changing settings
  apps/meteor/app/custom-sounds/server/startup/custom-sounds.js
  apps/meteor/app/emoji-custom/server/startup/emoji-custom.js
Due: e2e

fix(cors): restrict CORS for runtime configuration file using strict origin validation
  apps/meteor/app/cors/server/cors.ts
Due: e2e

oops
  packages/web-ui-registration/src/LoginForm.tsx
Due: none

fix(cors): add Vary header when echoing origin to prevent cache confusion
  apps/meteor/app/cors/server/cors.ts
Due: e2e

fix(message-parser): Merge blockquotes separated by empty `>` lines into a single block (#39062)
  .changeset/fix-blockquote-empty-lines.md
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/blockquotes.test.ts
Due: none

chore: migrate presence endpoints to new API pattern (#38882)
  .changeset/refactor-presence-api-chained-pattern.md
  apps/meteor/app/api/server/v1/presence.ts
Due: e2e

chore: migrate ldap endpoints to new API pattern (#38883)
  .changeset/refactor-ldap-api-chained-pattern.md
  apps/meteor/app/api/server/v1/ldap.ts
  packages/rest-typings/src/index.ts
Due: e2e

chore: Add OpenAPI support for the Rocket.Chat chat.postMessage API endpoints
  .changeset/healthy-dolls-pretend.md
  apps/meteor/app/api/server/v1/chat.ts
  packages/rest-typings/src/v1/chat.ts
Due: e2e

test: Add automated tests for custom fields functionality. (#38743)
  apps/meteor/tests/e2e/omnichannel/omnichannel-custom-field-usage.spec.ts
  apps/meteor/tests/e2e/page-objects/fragments/edit-room-flextab.ts
  apps/meteor/tests/e2e/page-objects/omnichannel/omnichannel-info.ts
  apps/meteor/tests/e2e/utils/omnichannel/custom-field.ts
  packages/ui-client/src/components/CustomFieldsForm.tsx
Due: e2e

chore: remove 'as any' usage by applying required Type safety (#39061)
  apps/meteor/client/views/marketplace/components/CategoryFilter/CategoryDropDown.tsx
  apps/meteor/client/views/marketplace/components/RadioDropDown/RadioDownAnchor.tsx
  apps/meteor/client/views/marketplace/components/RadioDropDown/RadioDropDown.tsx
Due: e2e, client

refactor: remove verbose true parameter and move svgFallback normalization to describe level
  apps/meteor/tests/end-to-end/api/custom-sounds.ts
  apps/meteor/tests/end-to-end/api/emoji-custom.ts
Due: e2e

feat: add snooze channel feature (#39064)
  apps/meteor/client/hooks/useRoomMenuActions.ts
  apps/meteor/client/hooks/useSnoozeRoomAction.ts
  apps/meteor/lib/publishFields.ts
  apps/meteor/server/cron/snoozeChannels.ts
  apps/meteor/server/methods/index.ts
  apps/meteor/server/methods/snoozeRoom.ts
  apps/meteor/server/startup/cron.ts
  packages/core-typings/src/ISubscription.ts
  packages/model-typings/src/models/ISubscriptionsModel.ts
  packages/models/src/models/Subscriptions.ts
Due: e2e, e2e-api, client

fix: improve accessibility and error handling in ActionConfirmModal
  apps/meteor/client/views/account/profile/ActionConfirmModal.tsx
Due: e2e, client

test: implement DeleteAccountModal for improved account deletion e2e test flow
  apps/meteor/tests/e2e/delete-account.spec.ts
  apps/meteor/tests/e2e/page-objects/account-profile.ts
  apps/meteor/tests/e2e/page-objects/fragments/modals/delete-account-modal.ts
  apps/meteor/tests/e2e/page-objects/fragments/modals/index.ts
Due: e2e

Fix: Simplify and remove load from /livez
  .changeset/optimize-health-probes-for-k8s.md
  apps/meteor/server/routes/health.ts
Due: e2e, e2e-api
