Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

handle deleted messages as well
  .changeset/nice-baboons-flash.md
  apps/meteor/ee/server/hooks/federation/index.ts
Due: e2e

docs: add changeset
  .changeset/nice-baboons-flash.md
Due: none

fix: Setup Wizard prompts for 2FA/password between steps
  .changeset/setup-wizard-2fa-prompt.md
  apps/meteor/app/2fa/server/code/checkCodeForUser.spec.ts
  apps/meteor/app/2fa/server/code/index.ts
Due: e2e

chore: drop changeset (regression fix)
  .changeset/setup-wizard-2fa-prompt.md
Due: none

fix
  apps/meteor/app/2fa/server/code/index.ts
Due: e2e

tests
  apps/meteor/app/2fa/server/code/checkCodeForUser.spec.ts
  apps/meteor/app/2fa/server/code/index.ts
Due: e2e

test(e2e): close leaked browser contexts in omnichannel livechat specs
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat-queue-management-autoselection.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat-queue-management.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat-tab-communication.spec.ts
Due: e2e

feat(ui-voip): disabled unsupported call actions in all call views
  packages/ui-voip/src/views/MediaCallPopoutView.tsx
  packages/ui-voip/src/views/MediaCallRoomSection/MediaCallRoomSection.tsx
  packages/ui-voip/src/views/MediaCallWidget/OngoingCallWithScreen.tsx
Due: none

test(e2e): keep context refs and close them in teardown
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat-queue-management-autoselection.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat-queue-management.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat-tab-communication.spec.ts
Due: e2e

chore: changeset
  .changeset/easy-cycles-judge.md
Due: none

enhance before/after blocks in test
  apps/meteor/app/2fa/server/code/checkCodeForUser.spec.ts
Due: e2e

test: use gotoChannel when possible
  apps/meteor/tests/e2e/README.md
  apps/meteor/tests/e2e/embedded-layout.spec.ts
  apps/meteor/tests/e2e/file-upload.spec.ts
  apps/meteor/tests/e2e/image-upload.spec.ts
  apps/meteor/tests/e2e/quote-attachment.spec.ts
  apps/meteor/tests/e2e/quote-messages.spec.ts
Due: e2e

fix: send checkedArchive false param
  apps/meteor/app/api/server/v1/rooms.ts
Due: e2e

add e2e api tests for rooms.info when room is archived
  apps/meteor/tests/end-to-end/api/rooms.ts
Due: e2e

feat: enable screen sharing on external calls (#40211)
  ee/packages/media-calls/src/constants.ts
  packages/media-signaling/src/lib/media/MediaStreamManager.ts
  packages/media-signaling/src/lib/media/MediaStreamWrapper.ts
  packages/media-signaling/src/lib/services/webrtc/Negotiation.ts
  packages/media-signaling/src/lib/services/webrtc/Processor.ts
  packages/media-signaling/src/lib/services/webrtc/index.ts
  packages/media-signaling/src/lib/services/webrtc/sdp.ts
  packages/ui-voip/src/views/MediaCallWidget/MediaCallWidget.tsx
Due: none

feat: Contact name and avatar resolution for external voice calls (#40484)
  .changeset/fuzzy-terms-brake.md
  .yarn/patches/drachtio-srf-npm-5.0.12-b0b1afaad6.patch
  ee/packages/media-calls/src/sip/providers/IncomingSipCall.ts
  packages/ui-voip/src/components/PeerInfo/ExternalUser.tsx
  packages/ui-voip/src/components/PeerInfo/InternalUser.tsx
  packages/ui-voip/src/components/PeerInfo/PeerInfo.stories.tsx
  packages/ui-voip/src/components/PeerInfo/PeerInfo.tsx
  packages/ui-voip/src/components/PeerInfo/__snapshots__/PeerInfo.spec.tsx.snap
  packages/ui-voip/src/components/PeerInfo/index.ts
  packages/ui-voip/src/context/definitions.d.ts
  packages/ui-voip/src/hooks/useMediaCallAction.ts
  packages/ui-voip/src/providers/useMediaSession.ts
  packages/ui-voip/src/utils/derivePeerInfoFromInstanceContact.spec.ts
  packages/ui-voip/src/utils/derivePeerInfoFromInstanceContact.ts
  packages/ui-voip/src/utils/isExternalPeer.ts
  packages/ui-voip/src/views/MediaCallWidget/OngoingCall.tsx
  packages/ui-voip/src/views/MediaCallWidget/OngoingCallWithScreen.tsx
  yarn.lock
Due: none

feat(media-call): save sip metadata to the media-call (#40500)
  .changeset/real-teeth-clean.md
  apps/meteor/app/api/server/v1/media-calls.ts
  apps/meteor/server/startup/callHistoryTestData.ts
  apps/meteor/tests/end-to-end/api/media-calls.ts
  ee/packages/media-calls/src/server/CallDirector.ts
  ee/packages/media-calls/src/sip/providers/IncomingSipCall.ts
  ee/packages/media-calls/src/sip/providers/OutgoingSipCall.ts
  packages/core-typings/src/mediaCalls/IMediaCall.ts
  packages/model-typings/src/models/IMediaCallsModel.ts
  packages/models/src/models/MediaCalls.ts
Due: e2e, e2e-api

feat(sidebar): add SidebarRail collapsed icon navigation rail (#40558)
  apps/meteor/.storybook/mocks/meteor.ts
  apps/meteor/client/components/HorizontalDivider/HorizontalDivider.tsx
  apps/meteor/client/components/HorizontalDivider/index.ts
  apps/meteor/client/sidebar/SidebarRail/SidebarRail.stories.tsx
  apps/meteor/client/sidebar/SidebarRail/SidebarRail.tsx
  apps/meteor/client/sidebar/SidebarRail/SidebarRailCallPanel.tsx
  apps/meteor/client/sidebar/SidebarRail/SidebarRailCreateNew.tsx
  apps/meteor/client/sidebar/SidebarRail/SidebarRailDivider.tsx
  apps/meteor/client/sidebar/SidebarRail/SidebarRailHeader.tsx
  apps/meteor/client/sidebar/SidebarRail/SidebarRailLoginPage.tsx
  apps/meteor/client/sidebar/SidebarRail/SidebarRailPhone.tsx
  apps/meteor/client/sidebar/SidebarRail/index.ts
  apps/meteor/client/views/root/MainLayout/LayoutWithSidebar.spec.tsx
  apps/meteor/client/views/root/MainLayout/LayoutWithSidebar.tsx
  apps/meteor/client/views/root/MainLayout/MainLayoutStyleTags.tsx
  apps/meteor/client/views/root/MainLayout/SecondaryPanel.tsx
  apps/meteor/client/views/root/MainLayout/sidebarRailFlag.ts
  packages/i18n/src/locales/en.i18n.json
  packages/ui-voip/src/components/Keypad/Keypad.tsx
  packages/ui-voip/src/components/Keypad/useKeypad.tsx
  packages/ui-voip/src/components/MediaCallWidgetSlot.tsx
  packages/ui-voip/src/components/Widget/Widget.tsx
  packages/ui-voip/src/components/Widget/WidgetHandle.tsx
  packages/ui-voip/src/components/Widget/__snapshots__/Widget.spec.tsx.snap
  packages/ui-voip/src/components/index.ts
  packages/ui-voip/src/context/MediaCallWidgetSlotContext.ts
  packages/ui-voip/src/index.ts
  packages/ui-voip/src/providers/MediaCallProvider.tsx
  packages/ui-voip/src/providers/useMediaSession.ts
  packages/ui-voip/src/views/MediaCallWidget/MediaCallDialpad.tsx
  packages/ui-voip/src/views/MediaCallWidget/NewCall.tsx
  packages/ui-voip/src/views/MediaCallWidget/OngoingCall.dialpad.spec.tsx
  packages/ui-voip/src/views/MediaCallWidget/OngoingCall.tsx
  packages/ui-voip/src/views/MediaCallWidget/OngoingCallWithScreen.tsx
  packages/ui-voip/src/views/MediaCallWidget/__snapshots__/MediaCallWidget.spec.tsx.snap
Due: e2e, client

feat: Add support for call diversion handling in media calls (#40560)
  .changeset/gold-jobs-help.md
  ee/packages/media-calls/jest.config.ts
  ee/packages/media-calls/package.json
  ee/packages/media-calls/src/definition/common.ts
  ee/packages/media-calls/src/server/CallDirector.ts
  ee/packages/media-calls/src/server/signals/getNewCallTransferredBy.ts
  ee/packages/media-calls/src/sip/providers/IncomingSipCall.ts
  ee/packages/media-calls/src/sip/utils/parseDiversionHeader.spec.ts
  ee/packages/media-calls/src/sip/utils/parseDiversionHeader.ts
  packages/core-typings/src/mediaCalls/IMediaCall.ts
  yarn.lock
Due: none

feat: User phone identity lookup for external voice calls (#40680)
  ee/packages/media-calls/src/server/CastDirector.ts
  packages/model-typings/src/models/IUsersModel.ts
  packages/models/src/models/Users.ts
Due: none

feat: Add phone support to user (#40697)
  apps/meteor/app/api/server/v1/users.ts
  apps/meteor/app/lib/server/functions/getFullUserData.ts
  apps/meteor/app/lib/server/functions/saveUser/saveNewUser.ts
  apps/meteor/app/lib/server/functions/saveUser/saveUser.ts
  apps/meteor/app/utils/server/functions/getBaseUserFields.ts
  apps/meteor/client/components/PhoneNumberFieldList/PhoneNumberFieldList.spec.tsx
  apps/meteor/client/components/PhoneNumberFieldList/PhoneNumberFieldList.tsx
  apps/meteor/client/components/PhoneNumberFieldList/__snapshots__/PhoneNumberFieldList.spec.tsx.snap
  apps/meteor/client/components/PhoneNumberFieldList/index.ts
  apps/meteor/client/components/UserInfo/UserInfo.stories.tsx
  apps/meteor/client/components/UserInfo/UserInfo.tsx
  apps/meteor/client/components/UserInfo/UserInfoPhoneNumberList.tsx
  apps/meteor/client/components/UserInfo/__snapshots__/UserInfo.spec.tsx.snap
  apps/meteor/client/lib/userData.ts
  apps/meteor/client/views/account/profile/AccountProfileForm.tsx
  apps/meteor/client/views/account/profile/AccountProfilePage.tsx
  apps/meteor/client/views/account/profile/getProfileInitialValues.ts
  apps/meteor/client/views/admin/users/AdminUserForm.tsx
  apps/meteor/client/views/admin/users/AdminUserInfoWithData.tsx
  apps/meteor/client/views/omnichannel/components/outboundMessage/components/TemplatePlaceholderSelector/hooks/useAgentSection.tsx
  apps/meteor/client/views/room/contextualBar/UserInfo/UserInfoWithData.tsx
  apps/meteor/server/methods/saveUserProfile.ts
  apps/meteor/tests/e2e/account-profile.spec.ts
  apps/meteor/tests/e2e/admin-users-phones.spec.ts
  apps/meteor/tests/e2e/page-objects/account-profile.ts
  apps/meteor/tests/e2e/page-objects/fragments/flextabs/edit-user-flextab.ts
  apps/meteor/tests/e2e/page-objects/fragments/flextabs/user-info-flextab.ts
  apps/meteor/tests/e2e/page-objects/fragments/index.ts
  apps/meteor/tests/e2e/page-objects/fragments/phone-number-field-list.ts
  apps/meteor/tests/end-to-end/api/users.ts
  packages/core-typings/src/IMeApiUser.ts
  packages/core-typings/src/IUser.ts
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/pt-BR.i18n.json
  packages/model-typings/src/models/IUsersModel.ts
  packages/models/src/models/Users.ts
  packages/rest-typings/src/v1/Ajv.ts
  packages/rest-typings/src/v1/users/UserCreateParamsPOST.ts
  packages/rest-typings/src/v1/users/UsersUpdateOwnBasicInfoParamsPOST.ts
  packages/rest-typings/src/v1/users/UsersUpdateParamsPOST.ts
Due: e2e, e2e-api, client

feat(sidebar): add Teams and channels merged category (#40750)
  .changeset/sidebar-teams-channels-merge.md
  apps/meteor/client/sidebar/hooks/useRoomList.spec.tsx
  apps/meteor/client/sidebar/hooks/useRoomList.ts
  apps/meteor/client/views/account/preferences/useAccountPreferencesValues.ts
  apps/meteor/server/methods/saveUserPreferences.ts
  apps/meteor/server/settings/accounts.ts
  apps/meteor/tests/end-to-end/api/miscellaneous.ts
  packages/i18n/src/locales/en.i18n.json
  packages/rest-typings/src/v1/users/UsersSetPreferenceParamsPOST.ts
Due: e2e, e2e-api, client

feat(ui-voip): pre-fill media-call widget from desktop telephony deeplink (#40751)
  .changeset/telephony-call-requested-desktop-api.md
  packages/desktop-api/src/index.ts
  packages/ui-voip/src/context/usePeerAutocomplete.spec.tsx
  packages/ui-voip/src/context/usePeerAutocomplete.ts
  packages/ui-voip/src/providers/MediaCallViewProvider.tsx
  packages/ui-voip/src/providers/useDesktopTelephonyListener.spec.tsx
  packages/ui-voip/src/providers/useDesktopTelephonyListener.ts
  packages/ui-voip/src/providers/useMediaSession.spec.tsx
  packages/ui-voip/src/providers/useMediaSession.ts
Due: none

feat: integrate SIP calls with DM rooms (#40752)
  apps/meteor/client/views/room/body/MediaCallRoom.tsx
  apps/meteor/tests/e2e/voice-calls-ee.spec.ts
  ee/packages/media-calls/src/server/CastDirector.ts
  packages/core-typings/src/mediaCalls/IMediaCall.ts
  packages/media-signaling/src/definition/call/common.ts
  packages/ui-voip/src/utils/derivePeerInfoFromInstanceContact.ts
  packages/ui-voip/src/views/MediaCallRoomSection/MediaCallRoomSection.tsx
  packages/ui-voip/src/views/MediaCallWidget/OngoingCall.tsx
Due: e2e, client

feat: Pexip Integration (#40847)
  apps/meteor/app/api/server/api.ts
  apps/meteor/app/api/server/index.ts
  apps/meteor/app/api/server/pexip/eventSink.ts
  apps/meteor/app/api/server/pexip/index.ts
  apps/meteor/app/api/server/pexip/policyServer.ts
  apps/meteor/package.json
  apps/meteor/server/lib/videoConfProviders.ts
  apps/meteor/server/services/video-conference/service.ts
  apps/meteor/server/settings/index.ts
  apps/meteor/server/settings/pexip.ts
  packages/i18n/src/locales/en.i18n.json
  packages/pexip/jest.config.ts
  packages/pexip/package.json
  packages/pexip/src/Pexip.ts
  packages/pexip/src/definition/AvatarRequest.ts
  packages/pexip/src/definition/EventSinkRequest.ts
  packages/pexip/src/definition/PexipLayout.ts
  packages/pexip/src/definition/PexipSettings.ts
  packages/pexip/src/definition/PolicyServerResponse.ts
  packages/pexip/src/definition/ServiceConfiguration.ts
  packages/pexip/src/definition/ServiceConfigurationRequest.ts
  packages/pexip/src/definition/index.ts
  packages/pexip/src/endpoints/eventSink.ts
  packages/pexip/src/endpoints/index.ts
  packages/pexip/src/endpoints/serviceConfiguration.ts
  packages/pexip/src/index.ts
  packages/pexip/src/logger.ts
  packages/pexip/src/videoConfProvider.ts
  packages/pexip/tsconfig.build.json
  packages/pexip/tsconfig.json
  yarn.lock
Due: e2e, e2e-api

fix: hide voice-call icon for users without a phone extension (#40862)
  .changeset/dmv-62-phone-icon-no-extension.md
  apps/meteor/client/hooks/roomActions/useMediaCallRoomAction.spec.tsx
  apps/meteor/client/hooks/roomActions/useMediaCallRoomAction.ts
Due: e2e, client

feat(apps): introduce read accessor for media calls (#40863)
  .changeset/tired-teeth-cheat.md
  apps/meteor/app/apps/server/bridges/bridges.js
  apps/meteor/app/apps/server/bridges/mediaCalls.ts
  apps/meteor/tests/data/apps/app-packages/README.md
  apps/meteor/tests/data/apps/app-packages/index.ts
  apps/meteor/tests/data/apps/app-packages/media-call-reader-test_0.0.1.zip
  apps/meteor/tests/data/apps/helper.ts
  apps/meteor/tests/end-to-end/apps/app-media-call-reader.ts
  packages/apps-engine/src/definition/accessors/IMediaCallRead.ts
  packages/apps-engine/src/definition/accessors/IRead.ts
  packages/apps-engine/src/definition/accessors/index.ts
  packages/apps-engine/src/definition/mediaCalls/IMediaCall.ts
  packages/apps-engine/src/definition/mediaCalls/index.ts
  packages/apps-engine/src/definition/metadata/AppPermissions.ts
  packages/apps/deno-runtime/lib/accessors/mod.ts
  packages/apps/src/AppsEngine.ts
  packages/apps/src/server/accessors/MediaCallRead.ts
  packages/apps/src/server/accessors/Reader.ts
  packages/apps/src/server/accessors/index.ts
  packages/apps/src/server/bridges/AppBridges.ts
  packages/apps/src/server/bridges/MediaCallBridge.ts
  packages/apps/src/server/bridges/index.ts
  packages/apps/src/server/managers/AppAccessorManager.ts
  packages/apps/tests/server/accessors/MediaCallRead.test.ts
  packages/apps/tests/server/accessors/Reader.test.ts
  packages/apps/tests/test-data/bridges/appBridges.ts
  packages/apps/tests/test-data/bridges/mediaCallBridge.ts
  packages/apps/tests/test-data/utilities.ts
Due: e2e

feat: update contact details when a re-invite is received with different identity (#40963)
  ee/packages/media-calls/src/base/BaseAgent.ts
  ee/packages/media-calls/src/definition/IMediaCallAgent.ts
  ee/packages/media-calls/src/internal/agents/UserActorAgent.ts
  ee/packages/media-calls/src/server/BroadcastAgent.ts
  ee/packages/media-calls/src/server/CallDirector.ts
  ee/packages/media-calls/src/sip/Session.ts
  ee/packages/media-calls/src/sip/providers/BaseSipCall.ts
  ee/packages/media-calls/src/sip/providers/IncomingSipCall.ts
  ee/packages/media-calls/src/sip/providers/OutgoingSipCall.ts
  packages/media-signaling/src/definition/signals/server/MediaSignal.ts
  packages/media-signaling/src/definition/signals/server/index.ts
  packages/media-signaling/src/definition/signals/server/update.ts
  packages/media-signaling/src/lib/Call.ts
  packages/model-typings/src/models/IMediaCallsModel.ts
  packages/models/src/models/MediaCalls.ts
Due: none

feat: show call-aware warning in edit custom status modal
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/EditStatusModal.tsx
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

feat: status expiration backend and API
  packages/core-typings/src/IUser.ts
  packages/i18n/src/locales/en.i18n.json
  packages/rest-typings/src/v1/users.ts
Due: none

fix: keep UserPresence type unchanged for backend PR
  packages/core-typings/src/IUser.ts
  packages/rest-typings/src/v1/users.ts
Due: none

feat: presence sync engine UI
  apps/meteor/client/components/UserInfo/UserInfo.tsx
  apps/meteor/client/components/UserInfo/__snapshots__/UserInfo.spec.tsx.snap
  apps/meteor/client/components/UserStatusMenu.tsx
  apps/meteor/client/components/UserStatusText/UserStatusText.tsx
  apps/meteor/client/components/UserStatusText/index.ts
  apps/meteor/client/hooks/useExpirationText.ts
  apps/meteor/client/hooks/useUserPresenceListener.ts
  apps/meteor/client/hooks/useUserStatusTooltip.tsx
  apps/meteor/client/lib/presence.ts
  apps/meteor/client/lib/statusDurations.ts
  apps/meteor/client/lib/userData.ts
  apps/meteor/client/lib/utils/getUidDirectMessage.ts
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/EditStatusModal.tsx
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/UserMenuHeader.tsx
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/hooks/useCustomStatusModalHandler.tsx
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/hooks/useStatusItems.tsx
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/hooks/useUserMenu.tsx
  apps/meteor/client/sidebar/RoomList/SidebarItemTemplateWithData.tsx
  apps/meteor/client/views/account/profile/AccountProfileForm.tsx
  apps/meteor/client/views/account/profile/getProfileInitialValues.ts
  apps/meteor/client/views/navigation/sidebar/RoomList/SidebarItemWithData.tsx
  apps/meteor/client/views/room/Header/RoomHeader.tsx
  apps/meteor/client/views/room/Header/RoomMemberStatus.spec.tsx
  apps/meteor/client/views/room/Header/RoomMemberStatus.tsx
  apps/meteor/client/views/room/UserCard/UserCardWithData.tsx
  apps/meteor/client/views/room/contextualBar/RoomMembers/RoomMembersItem.tsx
  apps/meteor/client/views/room/contextualBar/UserInfo/UserInfoWithData.tsx
  apps/meteor/tests/e2e/page-objects/account-profile.ts
  apps/meteor/tests/e2e/page-objects/fragments/modals/edit-status-modal.ts
  apps/meteor/tests/e2e/page-objects/fragments/navbar.ts
  apps/meteor/tests/e2e/presence.spec.ts
  apps/meteor/tests/end-to-end/apps/presence-state.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

render DM partner status only in RoomMemberStatus
  apps/meteor/client/views/room/Header/RoomTopic.spec.tsx
  apps/meteor/client/views/room/Header/RoomTopic.tsx
Due: e2e, client

update changeset and use test adminUsername helper
  apps/meteor/tests/end-to-end/apps/presence-state.ts
Due: e2e

chore: remove unused status i18n keys
  packages/i18n/src/locales/en.i18n.json
Due: none

remove unused i18n keys
  packages/i18n/src/locales/en.i18n.json
Due: none

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
