Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true
  
  e2e-api:
    paths:
      - apps/meteor/server
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'
fixes:
  - '/home/runner/work/Rocket.Chat/Rocket.Chat/::'

chore: remove display modes and options from new navigation
  apps/meteor/client/NavBarV2/NavBarPagesGroup/NavBarItemSort.tsx
  apps/meteor/client/NavBarV2/NavBarPagesGroup/NavBarPagesGroup.tsx
  apps/meteor/client/NavBarV2/NavBarPagesGroup/hooks/useGroupingListItems.spec.tsx
  apps/meteor/client/NavBarV2/NavBarPagesGroup/hooks/useGroupingListItems.tsx
  apps/meteor/client/NavBarV2/NavBarPagesGroup/hooks/useSortMenu.tsx
  apps/meteor/client/NavBarV2/NavBarPagesGroup/hooks/useSortModeItems.spec.tsx
  apps/meteor/client/NavBarV2/NavBarPagesGroup/hooks/useSortModeItems.tsx
  apps/meteor/client/NavBarV2/NavBarPagesGroup/hooks/useViewModeItems.spec.tsx
  apps/meteor/client/NavBarV2/NavBarPagesGroup/hooks/useViewModeItems.tsx
Due: e2e, client

Deploy preview for PR 36075 🛫
  pr-preview/pr-36075/fuselage-ui-kit/122.49717c91.iframe.bundle.js
  pr-preview/pr-36075/fuselage-ui-kit/122.49717c91.iframe.bundle.js.map
  pr-preview/pr-36075/fuselage-ui-kit/122.6b875aa6.iframe.bundle.js
  pr-preview/pr-36075/fuselage-ui-kit/122.6b875aa6.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-36075/fuselage-ui-kit/122.6b875aa6.iframe.bundle.js.map
  pr-preview/pr-36075/fuselage-ui-kit/iframe.html
  pr-preview/pr-36075/fuselage-ui-kit/project.json
  pr-preview/pr-36075/fuselage-ui-kit/runtime~main.0af471d6.iframe.bundle.js
  pr-preview/pr-36075/fuselage-ui-kit/runtime~main.e11625b5.iframe.bundle.js
  pr-preview/pr-36075/gazzodown/Markup-stories.32d2f348.iframe.bundle.js
  pr-preview/pr-36075/gazzodown/Markup-stories.32d2f348.iframe.bundle.js.map
  pr-preview/pr-36075/gazzodown/Markup-stories.756f24ca.iframe.bundle.js
  pr-preview/pr-36075/gazzodown/Markup-stories.756f24ca.iframe.bundle.js.map
  pr-preview/pr-36075/gazzodown/iframe.html
  pr-preview/pr-36075/gazzodown/project.json
  pr-preview/pr-36075/gazzodown/runtime~main.09b754fd.iframe.bundle.js
  pr-preview/pr-36075/gazzodown/runtime~main.d7f585d3.iframe.bundle.js
  pr-preview/pr-36075/ui-composer/project.json
  pr-preview/pr-36075/uikit-playground/assets/CodeBlock-B_oIAEje.js
  pr-preview/pr-36075/uikit-playground/assets/KatexBlock-D5drfCWw.js
  pr-preview/pr-36075/uikit-playground/assets/KatexBlock-Km9uBWGD.js
  pr-preview/pr-36075/uikit-playground/assets/KatexElement-ANNnBOCk.js
  pr-preview/pr-36075/uikit-playground/assets/KatexElement-B1Xy6DyP.js
  pr-preview/pr-36075/uikit-playground/assets/index-BOP8b6AS.js
  pr-preview/pr-36075/uikit-playground/assets/index-C39iZZJT.js
  pr-preview/pr-36075/uikit-playground/index.html
Due: none

Deploy preview for PR 36146 🛫
  pr-preview/pr-36146/fuselage-ui-kit/project.json
  pr-preview/pr-36146/gazzodown/project.json
Due: none

refactor: rename to `RichTextComposer` in storybook
  packages/ui-composer/src/MessageComposer/MessageComposer.stories.tsx
Due: none

fix: change `RichTextComposerInput` ref type to `HTMLDivElement`
  packages/ui-composer/src/MessageComposer/RichTextComposerInput.tsx
Due: none

feat: map users to exchange servers by domain
  apps/meteor/ee/server/settings/outlookCalendar.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e

updates
  apps/meteor/client/views/room/hooks/useAppsContextualBar.ts
Due: e2e, client

ajv schm missing a random prop
  apps/meteor/tests/end-to-end/api/livechat/10-departments.ts
  packages/rest-typings/src/v1/omnichannel.ts
Due: e2e

feat: adds new OutboundMessageProvider
  apps/meteor/server/lib/OutboundMessageProvider.ts
Due: e2e, e2e-api

Deploy preview for PR 36138 🛫
  pr-preview/pr-36138/fuselage-ui-kit/project.json
  pr-preview/pr-36138/gazzodown/project.json
  pr-preview/pr-36138/ui-composer/project.json
Due: none

create user helper and fix locator
  apps/meteor/tests/e2e/delete-account.spec.ts
  apps/meteor/tests/e2e/page-objects/account-profile.ts
  apps/meteor/tests/e2e/utils/user-helpers.ts
Due: e2e

wip: open outlook
  apps/meteor/client/views/outlookCalendar/OutlookEventsList/OutlookEventsList.tsx
Due: e2e, client

test: Remove `awayOnWindowBlur` option from `useIdleActiveEvents` (#36149)
  apps/meteor/client/hooks/useIdleConnection.ts
Due: e2e, client

fix review
  apps/meteor/client/views/account/profile/ActionConfirmModal.tsx
  apps/meteor/tests/e2e/delete-account.spec.ts
  apps/meteor/tests/e2e/page-objects/account-profile.ts
Due: e2e, client

Chore: Report deno version to release service
  .github/workflows/ci.yml
Due: none

fix: desktop notifications not respecting privacy settings
  apps/meteor/.mocharc.js
  apps/meteor/app/lib/server/functions/notifications/desktop.spec.ts
  apps/meteor/app/lib/server/functions/notifications/desktop.ts
  apps/meteor/app/lib/server/lib/sendNotificationsOnMessage.ts
  apps/meteor/client/hooks/notification/useNotification.ts
  apps/meteor/definition/IRoomTypeConfig.ts
  apps/meteor/server/lib/rooms/roomCoordinator.ts
  apps/meteor/server/lib/rooms/roomTypes/direct.ts
  apps/meteor/server/lib/rooms/roomTypes/livechat.ts
  apps/meteor/server/lib/rooms/roomTypes/voip.ts
Due: e2e, e2e-api, client

remove fails since the issue is no longer present
  apps/meteor/tests/e2e/delete-account.spec.ts
  apps/meteor/tests/e2e/utils/user-helpers.ts
Due: e2e

refactor(tests): Optimize cleanup processes in omnichannel test files using Promise.all
  apps/meteor/tests/e2e/omnichannel/omnichannel-canned-responses-sidebar.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-changing-room-priority-and-sla.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat-api.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat.spec.ts
Due: e2e

Reverted files that only changed order of imports
  apps/meteor/client/views/account/preferences/AccountPreferencesPage.tsx
  apps/meteor/client/views/account/preferences/MyDataModal.tsx
Due: e2e, client

Reverted files that was changed by mistake
  apps/meteor/client/views/account/preferences/PreferencesHighlightsSection.tsx
Due: e2e, client

changes after accessibility changes
  apps/meteor/tests/e2e/omnichannel/omnichannel-contact-center-filters.spec.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-contacts-list.ts
Due: e2e

fix lint convention
  apps/meteor/app/lib/server/functions/deleteMessage.ts
Due: e2e

fixed yellow alert to work with socket retry
  app/ui/client/components/status.html
  app/ui/client/components/status.js
  app/ws/client/index.ts
Due: none

Create blue-books-wash.md
  .changeset/blue-books-wash.md
Due: none

Fix lint errors
  packages/apps-engine/src/definition/livechat/IPreLivechatRoomCreatePrevent.ts
  packages/apps-engine/src/definition/metadata/AppInterface.ts
  packages/apps-engine/src/server/bridges/ContactBridge.ts
  packages/apps-engine/src/server/runtime/deno/LivenessManager.ts
  packages/apps-engine/src/server/runtime/deno/ProcessMessenger.ts
  packages/apps-engine/tests/server/compiler/AppFabricationFulfillment.spec.ts
  packages/apps-engine/tests/test-data/utilities.ts
Due: none

Fix indentation on package.json
  packages/apps-engine/package.json
Due: none

Add missing lint command to apps-engine
  packages/apps-engine/package.json
Due: none

chore: remove dead code
  apps/meteor/server/services/calendar/statusEvents/setupAppointmentStatusChange.ts
Due: e2e, e2e-api

filter by typeGroup
  apps/meteor/app/api/server/v1/groups.ts
  apps/meteor/app/api/server/v1/im.ts
  packages/rest-typings/src/v1/dm/DmFileProps.ts
  packages/rest-typings/src/v1/groups/BaseProps.ts
  packages/rest-typings/src/v1/groups/GroupsFilesProps.ts
Due: e2e

wildcard search file name in direct,group,channel
  apps/meteor/app/api/server/v1/channels.ts
  apps/meteor/app/api/server/v1/groups.ts
  apps/meteor/app/api/server/v1/im.ts
  apps/meteor/lib/utils/stringUtils.ts
  packages/rest-typings/src/v1/dm/DmFileProps.ts
Due: e2e

Deploy preview for PR 36099 🛫
  pr-preview/pr-36099/fuselage-ui-kit/122.49717c91.iframe.bundle.js
  pr-preview/pr-36099/fuselage-ui-kit/122.49717c91.iframe.bundle.js.map
  pr-preview/pr-36099/fuselage-ui-kit/122.6b875aa6.iframe.bundle.js
  pr-preview/pr-36099/fuselage-ui-kit/122.6b875aa6.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-36099/fuselage-ui-kit/122.6b875aa6.iframe.bundle.js.map
  pr-preview/pr-36099/fuselage-ui-kit/iframe.html
  pr-preview/pr-36099/fuselage-ui-kit/project.json
  pr-preview/pr-36099/fuselage-ui-kit/runtime~main.0af471d6.iframe.bundle.js
  pr-preview/pr-36099/fuselage-ui-kit/runtime~main.e11625b5.iframe.bundle.js
  pr-preview/pr-36099/gazzodown/Markup-stories.32d2f348.iframe.bundle.js
  pr-preview/pr-36099/gazzodown/Markup-stories.32d2f348.iframe.bundle.js.map
  pr-preview/pr-36099/gazzodown/Markup-stories.756f24ca.iframe.bundle.js
  pr-preview/pr-36099/gazzodown/Markup-stories.756f24ca.iframe.bundle.js.map
  pr-preview/pr-36099/gazzodown/iframe.html
  pr-preview/pr-36099/gazzodown/project.json
  pr-preview/pr-36099/gazzodown/runtime~main.09b754fd.iframe.bundle.js
  pr-preview/pr-36099/gazzodown/runtime~main.d7f585d3.iframe.bundle.js
  pr-preview/pr-36099/ui-composer/project.json
  pr-preview/pr-36099/uikit-playground/assets/CodeBlock-B_oIAEje.js
  pr-preview/pr-36099/uikit-playground/assets/KatexBlock-D5drfCWw.js
  pr-preview/pr-36099/uikit-playground/assets/KatexBlock-Km9uBWGD.js
  pr-preview/pr-36099/uikit-playground/assets/KatexElement-ANNnBOCk.js
  pr-preview/pr-36099/uikit-playground/assets/KatexElement-B1Xy6DyP.js
  pr-preview/pr-36099/uikit-playground/assets/index-BOP8b6AS.js
  pr-preview/pr-36099/uikit-playground/assets/index-C39iZZJT.js
  pr-preview/pr-36099/uikit-playground/index.html
Due: none

fix: incoming webhook message not respecting Message_MaxAllowedSize setting
  apps/meteor/app/lib/server/functions/processWebhookMessage.ts
  apps/meteor/app/lib/server/functions/sendMessage.ts
  apps/meteor/tests/end-to-end/api/incoming-integrations.ts
Due: e2e

added changeset
  .changeset/orange-mugs-relax.md
Due: none
