Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

Deploy preview for PR 35613 🛫
  pr-preview/pr-35613/fuselage-ui-kit/project.json
  pr-preview/pr-35613/gazzodown/project.json
Due: none

chore: improves the quality of contact's custom fields tests
  apps/meteor/tests/end-to-end/api/livechat/03-custom-fields.ts
Due: e2e

Replace `LivechatInquiry` collection
  apps/meteor/app/livechat/client/collections/LivechatInquiry.ts
  apps/meteor/app/livechat/client/lib/stream/queueManager.ts
  apps/meteor/client/hooks/useLivechatInquiryStore.ts
  apps/meteor/client/providers/OmnichannelProvider.tsx
  apps/meteor/client/views/room/Header/Omnichannel/QuickActions/hooks/useQuickActions.tsx
  apps/meteor/client/views/room/HeaderV2/Omnichannel/QuickActions/hooks/useQuickActions.tsx
Due: e2e, client

fix: adding blocks from block builder to the changes field (#35603)
  .changeset/three-olives-explain.md
  packages/apps-engine/deno-runtime/lib/accessors/builders/MessageBuilder.ts
Due: none

Deploy preview for PR 35470 🛫
  pr-preview/pr-35470/fuselage-ui-kit/project.json
  pr-preview/pr-35470/gazzodown/project.json
Due: none

Deploy preview for PR 35565 🛫
  pr-preview/pr-35565/fuselage-ui-kit/project.json
  pr-preview/pr-35565/gazzodown/project.json
Due: none

Deploy preview for PR 35470 🛫
  pr-preview/pr-35470/ui-composer/project.json
Due: none

Improve virtuoso usage
  apps/meteor/app/emoji/client/helpers.ts
  apps/meteor/client/contexts/EmojiPickerContext.ts
  apps/meteor/client/providers/EmojiPickerProvider/EmojiPickerProvider.tsx
  apps/meteor/client/views/composer/EmojiPicker/CategoriesResult.tsx
  apps/meteor/client/views/composer/EmojiPicker/EmojiCategoryRow.tsx
  apps/meteor/client/views/composer/EmojiPicker/EmojiPicker.tsx
  apps/meteor/client/views/composer/EmojiPicker/EmojiPickerCategoryItem.tsx
Due: e2e, client

Deploy preview for PR 35605 🛫
  pr-preview/pr-35605/fuselage-ui-kit/project.json
  pr-preview/pr-35605/gazzodown/project.json
Due: none

Deploy preview for PR 35594 🛫
  pr-preview/pr-35594/fuselage-ui-kit/project.json
  pr-preview/pr-35594/gazzodown/project.json
Due: none

add updateValues
  packages/apps-engine/src/definition/accessors/ISettingUpdater.ts
  packages/apps-engine/src/server/accessors/SettingUpdater.ts
Due: none

add removeValues and tsdocs
  packages/apps-engine/src/definition/accessors/ISettingUpdater.ts
  packages/apps-engine/src/server/accessors/SettingUpdater.ts
Due: none

Deploy preview for PR 35633 🛫
  pr-preview/pr-35633/fuselage-ui-kit/project.json
  pr-preview/pr-35633/gazzodown/project.json
Due: none

review fixes
  apps/meteor/server/services/calendar/service.ts
  packages/model-typings/src/models/ICalendarEventModel.ts
  packages/models/src/models/CalendarEvent.ts
Due: e2e, e2e-api

Deploy preview for PR 35607 🛫
  pr-preview/pr-35607/fuselage-ui-kit/project.json
  pr-preview/pr-35607/gazzodown/project.json
Due: none

Deploy preview for PR 35078 🛫
  pr-preview/pr-35078/fuselage-ui-kit/project.json
  pr-preview/pr-35078/gazzodown/project.json
  pr-preview/pr-35078/ui-composer/project.json
Due: none

chore: replace `imageLink`
  apps/meteor/tests/e2e/image-gallery.spec.ts
Due: e2e

chore: remove `useLegacyThreadMessageJump` (#35636)
  apps/meteor/client/views/room/contextualBar/Threads/components/ThreadMessageList.tsx
  apps/meteor/client/views/room/contextualBar/Threads/hooks/useLegacyThreadMessageJump.ts
Due: e2e, client

stop closing page before sending the message
  apps/meteor/tests/e2e/mark-unread.spec.ts
  apps/meteor/tests/e2e/utils/create-target-channel.ts
Due: e2e

chore: Replace `LivechatInquiry` collection (#35641)
  apps/meteor/app/livechat/client/collections/LivechatInquiry.ts
  apps/meteor/app/livechat/client/lib/stream/queueManager.ts
  apps/meteor/client/hooks/useLivechatInquiryStore.ts
  apps/meteor/client/providers/OmnichannelProvider.tsx
  apps/meteor/client/views/room/Header/Omnichannel/QuickActions/hooks/useQuickActions.tsx
  apps/meteor/client/views/room/HeaderV2/Omnichannel/QuickActions/hooks/useQuickActions.tsx
Due: e2e, client

test: flaky - stop closing page before sending the message (#35646)
  apps/meteor/tests/e2e/mark-unread.spec.ts
  apps/meteor/tests/e2e/utils/create-target-channel.ts
Due: e2e

test: Replace invalid `imageLink` in image-gallery (#35645)
  apps/meteor/tests/e2e/image-gallery.spec.ts
Due: e2e

test: fix locators
  apps/meteor/client/views/room/contextualBar/NotificationPreferences/components/NotificationByDevice.tsx
  apps/meteor/tests/e2e/page-objects/fragments/home-flextab-notificationPreferences.ts
Due: e2e, client

new test
  apps/meteor/tests/e2e/preview-public-channel.spec.ts
Due: e2e

feat: Place the room topic next to the room title (#35631)
  .changeset/plenty-baboons-kneel.md
  apps/meteor/client/views/room/HeaderV2/RoomHeader.tsx
  apps/meteor/client/views/room/HeaderV2/RoomTitle.tsx
  apps/meteor/client/views/room/HeaderV2/RoomTopic.spec.tsx
  apps/meteor/client/views/room/HeaderV2/RoomTopic.tsx
  apps/meteor/client/views/room/body/RoomBodyV2.tsx
  packages/ui-client/src/components/HeaderV2/Header.tsx
  packages/ui-client/src/components/HeaderV2/HeaderTitle.tsx
Due: e2e, client

Deploy preview for PR 35611 🛫
  pr-preview/pr-35611/fuselage-ui-kit/project.json
  pr-preview/pr-35611/gazzodown/project.json
  pr-preview/pr-35611/ui-composer/project.json
Due: none

prevent multiple times
  apps/meteor/client/views/invite/InvitePage.tsx
  apps/meteor/client/views/invite/hooks/useInviteTokenMutation.ts
  apps/meteor/client/views/invite/hooks/useValidateInviteQuery.ts
Due: e2e, client

..
  apps/meteor/client/views/invite/InvitePage.tsx
Due: e2e, client

Deploy preview for PR 35648 🛫
  pr-preview/pr-35648/gazzodown/static/media/KaTeX_Main-Bold.8169508b.ttf
Due: none

fix: preserve edit mode when canceling message deletion
  apps/meteor/app/ui/client/lib/ChatMessages.ts
  apps/meteor/client/lib/chats/ChatAPI.ts
  apps/meteor/client/lib/chats/flows/requestEditMessageDeletion.ts
  apps/meteor/client/lib/chats/flows/sendMessage.ts
  changes.txt
Due: e2e, client

Added close button to the formatting toolbar in mobile view
  apps/meteor/client/views/room/composer/messageBox/MessageBoxFormattingToolbar/FormattingToolbarDropdown.tsx
Due: e2e, client

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
