Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

chore: deprecate conditions param in livechat autocomplete model methods
  packages/models/package.json
  packages/models/src/models/LivechatDepartment.ts
  packages/models/src/models/LivechatVisitors.ts
Due: none

test: remove unnecessary skip for keyboard navigation test
  apps/meteor/tests/e2e/messaging.spec.ts
Due: e2e

fix: add enterprise check for category menu and room list rendering
  apps/meteor/client/sidebar/categories/CategoryMenu.tsx
  apps/meteor/client/sidebar/hooks/useRoomList.ts
Due: e2e, client

fix: integrate favorites setting into room category handling and grouping icon logic
  apps/meteor/client/sidebar/categories/useRoomCategoryItems.tsx
  apps/meteor/client/views/room/Header/icons/RoomGroupingMenu.tsx
Due: e2e, client

fix: enforce default blocked email domains list on a stock install
  .changeset/fix-default-blocked-email-domains.md
  apps/meteor/jest.config.ts
  apps/meteor/server/lib/isEmailDomainBlocked.spec.ts
  apps/meteor/server/lib/isEmailDomainBlocked.ts
  apps/meteor/server/lib/validateEmailDomain.js
Due: e2e, e2e-api

fix: compare email domains case-insensitively in the blocklist
  apps/meteor/server/lib/isEmailDomainBlocked.spec.ts
  apps/meteor/server/lib/isEmailDomainBlocked.ts
Due: e2e, e2e-api

test(video-conf): drop the obsolete added-as-joined expectation
  packages/models/src/models/VideoConference.spec.ts
Due: none

fix(ui-voip): open desktop telephony deeplink reliably on cold start
  packages/ui-voip/src/providers/useDesktopTelephonyListener.spec.tsx
  packages/ui-voip/src/providers/useDesktopTelephonyListener.ts
  packages/ui-voip/src/providers/useMediaSession.spec.tsx
Due: none

docs(changeset): reword desktop-api changeset to focus on the enabled feature
  .changeset/telephony-call-requested-desktop-api.md
Due: none

undo peer autocomplete changes
  packages/ui-voip/src/context/usePeerAutocomplete.ts
Due: none

ci(ui-voip): fix lint errors in desktop telephony listener spec
  packages/ui-voip/src/providers/useDesktopTelephonyListener.spec.tsx
Due: none

remove added peer autocomplete tests
  packages/ui-voip/src/context/usePeerAutocomplete.spec.tsx
Due: none

feat: import SAML IdP configuration from a metadata URL
  .changeset/fruity-views-begin.md
  apps/meteor/client/views/admin/settings/SettingsGroupSelector/SettingsGroupSelector.tsx
  apps/meteor/client/views/admin/settings/groups/SAMLGroupPage/SAMLGroupPage.tsx
  apps/meteor/client/views/admin/settings/groups/SAMLGroupPage/SamlMetadataModal.spec.tsx
  apps/meteor/client/views/admin/settings/groups/SAMLGroupPage/SamlMetadataModal.tsx
  apps/meteor/client/views/admin/settings/groups/SAMLGroupPage/index.ts
  apps/meteor/server/api/index.ts
  apps/meteor/server/api/v1/saml.ts
  apps/meteor/server/lib/saml/lib/Utils.ts
  apps/meteor/server/lib/saml/lib/parsers/IdpMetadata.ts
  apps/meteor/tests/end-to-end/api/SAML.ts
  apps/meteor/tests/unit/server/lib/saml/idpMetadata.spec.ts
  packages/i18n/src/locales/en.i18n.json
  packages/rest-typings/src/index.ts
  packages/rest-typings/src/v1/saml.ts
Due: e2e, e2e-api, client

refactor: address review feedback on SAML metadata import
  apps/meteor/client/views/admin/settings/groups/SAMLGroupPage/SAMLGroupPage.tsx
  apps/meteor/server/api/v1/saml.ts
  apps/meteor/server/lib/saml/lib/Utils.ts
  apps/meteor/server/lib/saml/lib/parsers/IdpMetadata.ts
  apps/meteor/tests/unit/server/lib/saml/idpMetadata.spec.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, e2e-api, client

fix: import SAML SLO url only from HTTP-Redirect bindings
  apps/meteor/server/lib/saml/lib/parsers/IdpMetadata.ts
  apps/meteor/tests/unit/server/lib/saml/idpMetadata.spec.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, e2e-api

chore: bump @rocket.chat/fuselage to 0.86.0
  apps/meteor/package.json
  apps/uikit-playground/package.json
  packages/fuselage-ui-kit/package.json
  packages/gazzodown/package.json
  packages/storybook-config/package.json
  packages/ui-avatar/package.json
  packages/ui-client/package.json
  packages/ui-composer/package.json
  packages/ui-contexts/package.json
  packages/ui-video-conf/package.json
  packages/ui-voip/package.json
  packages/web-ui-registration/package.json
  yarn.lock
Due: e2e

fix(push): correct voip gating, harden send loop and v337 migration
  apps/meteor/server/api/v1/push.ts
  apps/meteor/server/lib/notifications/push/push.ts
  apps/meteor/server/startup/migrations/v337.ts
  apps/meteor/tests/unit/server/lib/notifications/push/push.spec.ts
  packages/core-typings/src/IPushToken.ts
  packages/models/src/models/PushToken.ts
Due: e2e, e2e-api

chore: move conditions deprecation warning to REST endpoint level
  apps/meteor/server/api/v1/omnichannel/departments.ts
  apps/meteor/server/api/v1/omnichannel/visitors.ts
  packages/models/package.json
  packages/models/src/models/LivechatDepartment.ts
  packages/models/src/models/LivechatVisitors.ts
Due: e2e, e2e-api

fix lint
  apps/meteor/server/api/v1/omnichannel/departments.ts
  apps/meteor/server/api/v1/omnichannel/visitors.ts
Due: e2e, e2e-api

chore: adapt to @rocket.chat/fuselage-tokens 0.34.0
  apps/meteor/client/views/admin/engagementDashboard/dataView/colors.ts
  apps/meteor/client/views/admin/engagementDashboard/messages/MessagesSentSection.tsx
  apps/meteor/client/views/admin/engagementDashboard/users/ActiveUsersSection.tsx
  apps/meteor/client/views/admin/engagementDashboard/users/ContentForDays.tsx
  apps/meteor/client/views/admin/engagementDashboard/users/ContentForHours.tsx
  apps/meteor/client/views/admin/engagementDashboard/users/NewUsersSection.tsx
  apps/meteor/client/views/admin/engagementDashboard/users/UsersByTimeOfTheDaySection.tsx
  apps/meteor/client/views/admin/subscription/components/UsagePieGraph.stories.tsx
  apps/meteor/client/views/marketplace/components/CategoryFilter/CategoryDropDownAnchor.tsx
  apps/meteor/client/views/room/layout/RoomLayout.tsx
  apps/meteor/package.json
  apps/meteor/server/lib/omnichannel/sendTranscript.ts
  apps/uikit-playground/package.json
  ee/packages/pdf-worker/package.json
  ee/packages/pdf-worker/src/templates/ChatTranscript/components/Divider.tsx
  ee/packages/pdf-worker/src/templates/ChatTranscript/components/Files.tsx
  ee/packages/pdf-worker/src/templates/ChatTranscript/components/Header.tsx
  ee/packages/pdf-worker/src/templates/ChatTranscript/components/Message.tsx
  ee/packages/pdf-worker/src/templates/ChatTranscript/components/MessageHeader.tsx
  ee/packages/pdf-worker/src/templates/ChatTranscript/components/Quote.tsx
  ee/packages/pdf-worker/src/templates/ChatTranscript/index.tsx
  ee/packages/pdf-worker/src/templates/ChatTranscript/markup/blocks/HeadingBlock.tsx
  ee/packages/pdf-worker/src/templates/ChatTranscript/markup/elements/CodeSpan.tsx
  packages/fuselage-ui-kit/package.json
  packages/gazzodown/package.json
  packages/gazzodown/src/Markup.stories.tsx
  packages/gazzodown/src/katex/KatexErrorBoundary.tsx
  packages/livechat/package.json
  packages/storybook-config/package.json
  packages/storybook-config/src/preview.tsx
  packages/ui-avatar/package.json
  packages/ui-client/package.json
  packages/ui-composer/package.json
  packages/ui-contexts/package.json
  packages/ui-video-conf/package.json
  packages/ui-voip/package.json
  packages/web-ui-registration/package.json
  yarn.lock
Due: e2e, e2e-api, client

fix: user-specific banners failing with `Banner not found` error when dismissing it (#41755)
  .changeset/some-banks-spend.md
  apps/meteor/server/services/banner/service.ts
  apps/meteor/tests/end-to-end/api/banners.ts
  packages/models/src/models/Users.ts
Due: e2e, e2e-api

fix(mcp): preserve tools and limit protocol requests
  apps/meteor/ee/server/api/mcp/catalog.spec.ts
  apps/meteor/ee/server/api/mcp/catalog.ts
  apps/meteor/ee/server/api/mcp/index.spec.ts
  apps/meteor/ee/server/api/mcp/index.ts
  apps/meteor/server/api/ApiClass.ts
  docs/features/mcp-server.md
Due: e2e, e2e-api

chore: remove orphan modules under apps/meteor/client
  apps/meteor/client/components/Wizard/WizardActions.tsx
  apps/meteor/client/components/message/notification/AllMentionNotification.tsx
  apps/meteor/client/components/message/notification/MeMentionNotification.tsx
  apps/meteor/client/components/message/notification/MessageNotification.tsx
  apps/meteor/client/components/message/notification/UnreadMessagesNotification.tsx
  apps/meteor/client/components/message/toolbar/items/actions/Timestamp/TimestampPicker/index.ts
  apps/meteor/client/lib/errors/VisitorDoesNotExistError.ts
  apps/meteor/client/lib/utils/waitForElement.spec.ts
  apps/meteor/client/lib/utils/waitForElement.ts
  apps/meteor/client/navbar/NavBarPagesGroup/hooks/useMatrixFederationItems.ts
  apps/meteor/client/sidebar/SidebarPortal.tsx
  apps/meteor/client/sidebar/header/MatrixFederationSearch/FederatedRoomList.tsx
  apps/meteor/client/sidebar/header/MatrixFederationSearch/FederatedRoomListEmptyPlaceholder.tsx
  apps/meteor/client/sidebar/header/MatrixFederationSearch/FederatedRoomListErrorBoundary.tsx
  apps/meteor/client/sidebar/header/MatrixFederationSearch/FederatedRoomListItem.tsx
  apps/meteor/client/sidebar/header/MatrixFederationSearch/MatrixFederationManageServerModal.tsx
  apps/meteor/client/sidebar/header/MatrixFederationSearch/MatrixFederationRemoveServerList.tsx
  apps/meteor/client/sidebar/header/MatrixFederationSearch/MatrixFederationSearch.tsx
  apps/meteor/client/sidebar/header/MatrixFederationSearch/MatrixFederationSearchModalContent.tsx
  apps/meteor/client/sidebar/header/MatrixFederationSearch/index.ts
  apps/meteor/client/sidebar/header/MatrixFederationSearch/useInfiniteFederationSearchPublicRooms.ts
  apps/meteor/client/sidebar/header/MatrixFederationSearch/useMatrixServerList.ts
  apps/meteor/client/stories/contexts/QueryClientProviderMock.tsx
  apps/meteor/client/views/admin/viewLogs/ansispan.ts
  apps/meteor/client/views/home/HomepageGridItem.tsx
  apps/meteor/client/views/navigation/sidebar/hooks/useCollapsedGroups.ts
  apps/meteor/client/views/navigation/sidepanel/tabs/SidePanelMentions.tsx
  apps/meteor/client/views/omnichannel/directory/chats/Chat.tsx
  apps/meteor/client/views/room/MessageList/hooks/useLoadSurroundingMessages.spec.ts
  apps/meteor/client/views/room/MessageList/hooks/useLoadSurroundingMessages.ts
  apps/meteor/client/views/room/contextualBar/RoomMembers/types.ts
  apps/meteor/client/views/root/LoginRoute.tsx
Due: e2e, client

fix: message list not scrolling to bottom when sending a message
  .changeset/lucky-boxes-shave.md
  apps/meteor/client/views/room/MessageList/MessageList.spec.tsx
  apps/meteor/client/views/room/MessageList/MessageList.tsx
Due: e2e, client

regression: list jumping to bottom when older messages are prepended
  apps/meteor/client/views/room/MessageList/MessageList.spec.tsx
  apps/meteor/client/views/room/MessageList/MessageList.tsx
Due: e2e, client

chore: dedupe TelemetryMap types in core-services
  packages/core-services/src/types/ITelemetryEvent.ts
Due: none

chore: simplify getNodeIconType return type
  apps/meteor/client/views/room/webdav/WebdavFilePickerModal/WebdavFilePickerGrid/WebdavFilePickerGrid.tsx
  apps/meteor/client/views/room/webdav/WebdavFilePickerModal/WebdavFilePickerTable.tsx
  apps/meteor/client/views/room/webdav/WebdavFilePickerModal/lib/getNodeIconType.spec.ts
  apps/meteor/client/views/room/webdav/WebdavFilePickerModal/lib/getNodeIconType.ts
Due: e2e, client

fix: coerce string timespan in convertTimeUnit
  apps/meteor/client/lib/convertTimeUnit.spec.ts
  apps/meteor/client/lib/convertTimeUnit.ts
Due: e2e, client

test: enhance room list tests for enterprise features and empty categories
  apps/meteor/client/sidebar/hooks/useRoomList.spec.tsx
Due: e2e, client

fix(apps): action button role filter never matching room roles
  .changeset/apps-action-button-room-scoped-roles.md
  apps/meteor/client/hooks/useApplyButtonFilters.spec.ts
  apps/meteor/client/hooks/useApplyButtonFilters.ts
  packages/mock-providers/src/MockedAppRootBuilder.tsx
Due: e2e, client

test: refactor toolbar navigation tests to use local variable for room header favorite button
  apps/meteor/tests/e2e/channel-management.spec.ts
  apps/meteor/tests/e2e/feature-preview.spec.ts
  apps/meteor/tests/e2e/messaging.spec.ts
  apps/meteor/tests/e2e/page-objects/home-channel.ts
  apps/meteor/tests/e2e/video-conference.spec.ts
Due: e2e

test: refactor team channel access test to use helper method for button focus
  apps/meteor/tests/e2e/team-management.spec.ts
Due: e2e

chore: point imports of `colors.json` to dist `@rocket.chat/fuselage-tokens`
  apps/meteor/client/views/admin/engagementDashboard/dataView/colors.ts
  apps/meteor/client/views/admin/engagementDashboard/messages/MessagesSentSection.tsx
  apps/meteor/client/views/admin/engagementDashboard/users/ActiveUsersSection.tsx
  apps/meteor/client/views/admin/engagementDashboard/users/ContentForDays.tsx
  apps/meteor/client/views/admin/engagementDashboard/users/ContentForHours.tsx
  apps/meteor/client/views/admin/engagementDashboard/users/NewUsersSection.tsx
  apps/meteor/client/views/admin/engagementDashboard/users/UsersByTimeOfTheDaySection.tsx
  apps/meteor/client/views/admin/subscription/components/UsagePieGraph.stories.tsx
  apps/meteor/client/views/marketplace/components/CategoryFilter/CategoryDropDownAnchor.tsx
  apps/meteor/server/lib/omnichannel/sendTranscript.ts
  ee/packages/pdf-worker/src/templates/ChatTranscript/components/Divider.tsx
  ee/packages/pdf-worker/src/templates/ChatTranscript/index.tsx
  ee/packages/pdf-worker/src/templates/ChatTranscript/markup/elements/CodeSpan.tsx
  packages/gazzodown/src/Markup.stories.tsx
  packages/gazzodown/src/katex/KatexErrorBoundary.tsx
Due: e2e, e2e-api, client

chore: update `typography` imports and adjust usage
  ee/packages/pdf-worker/src/templates/ChatTranscript/components/Files.tsx
  ee/packages/pdf-worker/src/templates/ChatTranscript/components/Header.tsx
  ee/packages/pdf-worker/src/templates/ChatTranscript/components/Message.tsx
  ee/packages/pdf-worker/src/templates/ChatTranscript/components/MessageHeader.tsx
  ee/packages/pdf-worker/src/templates/ChatTranscript/components/Quote.tsx
  ee/packages/pdf-worker/src/templates/ChatTranscript/markup/blocks/HeadingBlock.tsx
Due: none

chore: update `surface` usage from `fuselage-tokens`
  packages/storybook-config/src/preview.tsx
Due: none

chore: update `breakpoints` imports and adjust usage
  apps/meteor/client/views/room/layout/RoomLayout.tsx
Due: e2e, client

chore: bump `@rocket.chat/fuselage`
  apps/meteor/package.json
  apps/uikit-playground/package.json
  packages/fuselage-ui-kit/package.json
  packages/gazzodown/package.json
  packages/storybook-config/package.json
  packages/ui-avatar/package.json
  packages/ui-client/package.json
  packages/ui-composer/package.json
  packages/ui-contexts/package.json
  packages/ui-video-conf/package.json
  packages/ui-voip/package.json
  packages/web-ui-registration/package.json
  yarn.lock
Due: e2e

chore: bump `@rocket.chat/fuselage-hooks`
  apps/meteor/package.json
  apps/uikit-playground/package.json
  packages/fuselage-ui-kit/package.json
  packages/gazzodown/package.json
  packages/livechat/package.json
  packages/storybook-config/package.json
  packages/ui-avatar/package.json
  packages/ui-client/package.json
  packages/ui-composer/package.json
  packages/ui-contexts/package.json
  packages/ui-video-conf/package.json
  packages/ui-voip/package.json
  packages/web-ui-registration/package.json
  yarn.lock
Due: e2e

chore: bump `@rocket.chat/layout`
  apps/meteor/package.json
  packages/ui-client/package.json
  packages/web-ui-registration/package.json
  yarn.lock
Due: e2e

chore: bump `@rocket.chat/logo`
  apps/meteor/package.json
  apps/uikit-playground/package.json
  packages/livechat/package.json
  packages/ui-client/package.json
  packages/web-ui-registration/package.json
  yarn.lock
Due: e2e

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
