Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

feat: add view contact permission
  apps/meteor/app/authorization/server/constant/permissions.ts
Due: e2e

feat: implement new get by id endpoint
  apps/meteor/app/livechat/server/api/v1/contact.ts
  apps/meteor/app/livechat/server/lib/Contacts.ts
  packages/rest-typings/src/v1/omnichannel.ts
Due: e2e

test: ensure that endpoint is working as expected
  apps/meteor/tests/end-to-end/api/livechat/contacts.ts
Due: e2e

chore: promote roomUpdater to afterSaveMessage hook
  apps/meteor/app/lib/client/methods/sendMessage.ts
  apps/meteor/app/lib/server/functions/sendMessage.ts
  apps/meteor/app/lib/server/lib/afterSaveMessage.ts
  apps/meteor/app/lib/server/lib/notifyUsersOnMessage.ts
  apps/meteor/lib/callbacks.ts
Due: e2e

throw error if updater is empty
  apps/meteor/server/models/raw/BaseRaw.ts
  packages/models/src/updater.ts
Due: e2e

fix spec tests
  packages/models/src/updater.spec.ts
Due: none

cr
  apps/meteor/app/livechat/server/hooks/processRoomAbandonment.ts
Due: e2e

fix(i18n): fixes onboarding.component.emailCodeFallback translation (#33029)
  .changeset/proud-years-buy.md
  packages/i18n/src/locales/de.i18n.json
Due: none

feat: add new endpoint to list contacts
  apps/meteor/app/livechat/server/api/v1/contact.ts
  apps/meteor/app/livechat/server/lib/Contacts.ts
  packages/rest-typings/src/v1/omnichannel.ts
Due: e2e

refactor: deprecate old endpoint
  apps/meteor/app/livechat/server/api/v1/contact.ts
Due: e2e

weird TS issue: add account-base config definition
  apps/meteor/definition/externals/meteor/accounts-base.d.ts
Due: e2e

refactor: remove comment
  apps/meteor/app/livechat/server/lib/Contacts.ts
Due: e2e

setting description
  packages/i18n/src/locales/en.i18n.json
Due: none

add cs
  .changeset/two-bikes-crash.md
Due: none

feat: replaces outdated retention policy warning in favor of bubble component
  apps/meteor/app/theme/client/imports/general/base_old.css
  apps/meteor/client/views/room/body/RetentionPolicyWarning.tsx
  apps/meteor/client/views/room/body/RoomBody.tsx
  apps/meteor/client/views/room/body/RoomBodyV2.tsx
Due: e2e, client

chore: changeset
  .changeset/large-geese-ring.md
Due: none

improve e2e tests locators
  apps/meteor/tests/e2e/account-forgetSessionOnWindowClose.spec.ts
Due: e2e

chore: fix translation keys
  packages/i18n/src/locales/hi-IN.i18n.json
Due: none

fix lint
  apps/meteor/tests/e2e/account-forgetSessionOnWindowClose.spec.ts
Due: e2e

feat(api): add `Team.getOneByRoomId` to `getTeamByIdOrName` call
  apps/meteor/app/api/server/v1/teams.ts
  apps/meteor/client/views/teams/contextualBar/channels/hooks/useTeamsChannelList.ts
  packages/rest-typings/src/v1/teams/index.ts
Due: e2e, client

feat: add `SidePanel` to RoomOpener
  apps/meteor/client/lib/RoomManager.ts
  apps/meteor/client/views/room/RoomOpener.tsx
  apps/meteor/client/views/room/SidePanel/RoomSidePanel.tsx
  apps/meteor/client/views/room/SidePanel/index.ts
  apps/meteor/client/views/room/layout/RoomLayout.tsx
Due: e2e, client

add apps engine to docker files
  ee/apps/account-service/Dockerfile
  ee/apps/authorization-service/Dockerfile
  ee/apps/ddp-streamer/Dockerfile
  ee/apps/omnichannel-transcript/Dockerfile
  ee/apps/presence-service/Dockerfile
  ee/apps/queue-worker/Dockerfile
  ee/apps/stream-hub-service/Dockerfile
Due: none

add turbo repo to handle different outputs
  packages/apps-engine/turbo.json
Due: none

Fixed the issue by updating the license
  LICENSE
Due: none

Added the type check for the filesToUpload and also removed the references to chat in useFileUploadAction
  apps/meteor/client/views/room/composer/messageBox/MessageBox.tsx
  apps/meteor/client/views/room/composer/messageBox/MessageBoxActionsToolbar/MessageBoxActionsToolbar.tsx
  apps/meteor/client/views/room/composer/messageBox/MessageBoxActionsToolbar/hooks/useFileUploadAction.ts
Due: e2e, client

Added isUploading and removed the unnecessary changes
  apps/meteor/app/file-upload/server/methods/sendFileMessage.ts
  apps/meteor/client/views/room/composer/messageBox/MessageBox.tsx
Due: e2e, client

fix: customFields ignored in livechat room creation
  apps/meteor/ee/app/livechat-enterprise/server/hooks/beforeNewRoom.ts
Due: e2e

federation tests
  apps/meteor/tests/unit/server/federation/infrastructure/rocket-chat/hooks/hooks.spec.ts
Due: e2e

added changeset
  .changeset/twelve-windows-train.md
Due: none

chore: add notifyUsersOnSystemMessage and saveSystemMessageAndNotifyUser
  apps/meteor/app/lib/server/lib/notifyUsersOnMessage.ts
  apps/meteor/app/livechat/server/api/v1/pageVisited.ts
  apps/meteor/app/livechat/server/lib/Helper.ts
  apps/meteor/app/livechat/server/lib/LivechatTyped.ts
  apps/meteor/app/message-pin/server/pinMessage.ts
  apps/meteor/server/models/raw/Messages.ts
  apps/meteor/server/services/messages/service.ts
  packages/core-services/src/types/IMessageService.ts
  packages/model-typings/src/models/IMessagesModel.ts
Due: e2e

Update apps/meteor/tests/end-to-end/api/oauthapps.ts
  apps/meteor/tests/end-to-end/api/oauthapps.ts
Due: e2e

fix review
  .changeset/two-bikes-crash.md
  apps/meteor/tests/e2e/account-forgetSessionOnWindowClose.spec.ts
Due: e2e

fix: Retention policy cron max age settings reactivity (#33025)
  apps/meteor/app/retention-policy/server/cronPruneMessages.ts
Due: e2e

chore: remove `persists` from updater (#33037)
  apps/meteor/app/federation/server/endpoints/dispatch.js
  apps/meteor/app/lib/server/lib/notifyUsersOnMessage.ts
  apps/meteor/app/livechat/server/hooks/afterSaveOmnichannelMessage.ts
  apps/meteor/server/models/dummy/BaseDummy.ts
  apps/meteor/server/models/raw/BaseRaw.ts
  packages/model-typings/src/models/IBaseModel.ts
  packages/model-typings/src/updater.ts
  packages/models/src/updater.spec.ts
  packages/models/src/updater.ts
Due: e2e

Bump 6.11.1
  .changeset/bump-patch-1723645120544.md
  yarn.lock
Due: none

Bump 6.10.3
  .changeset/bump-patch-1723645257666.md
  yarn.lock
Due: none

fix: change notifyUsersOnSystemMessage to use roomUpdater
  apps/meteor/app/lib/server/lib/notifyUsersOnMessage.ts
Due: e2e

chore: adds new migration to remove view-history permission
  apps/meteor/server/startup/migrations/index.ts
  apps/meteor/server/startup/migrations/v305.ts
Due: e2e

Path conditions:
  e2e: any of: apps/meteor/
  client: any of: apps/meteor/client
