Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'

Change fuselage package
  apps/meteor/package.json
Due: e2e

chore: bump apps-engine version
  yarn.lock
Due: none

update yarn file
  yarn.lock
Due: none

Add end-to-end API tests
  apps/meteor/tests/data/interactions.ts
  apps/meteor/tests/end-to-end/api/09-rooms.js
Due: e2e

fix
  packages/gazzodown/jest.config.ts
Due: none

test: Livechat_Display_Offline_Form
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat.spec.ts
Due: e2e

fix(Livechat): Livechat_Display_Offline_Form not working correctly
  packages/livechat/src/i18n/en.json
  packages/livechat/src/i18n/pt-BR.json
  packages/livechat/src/routes/LeaveMessage/index.tsx
Due: none

test(remove fail): Livechat_Display_Offline_Form
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat.spec.ts
Due: e2e

Add test for not allowed media type
  apps/meteor/tests/end-to-end/api/09-rooms.js
Due: e2e

refactor: adjusted setTheme warn message
  packages/livechat/src/widget.ts
Due: none

test: fix Manual Selection - queue (#32027)
  apps/meteor/client/hooks/useRoomInfoEndpoint.ts
  apps/meteor/client/views/omnichannel/directory/hooks/useOmnichannelRoomInfo.tsx
  apps/meteor/client/views/room/Header/Omnichannel/QuickActions/hooks/useReturnChatToQueueMutation.ts
  apps/meteor/client/views/room/hooks/useOpenRoom.ts
Due: e2e, client

Create polite-forms-hate.md
  .changeset/polite-cars-love.md
Due: none

Review
  apps/meteor/client/views/admin/users/UsersTable/UsersTableRow.tsx
  packages/rest-typings/src/v1/users.ts
Due: e2e, client

chore: include as feature preview
  apps/meteor/client/components/Contextualbar/ContextualbarDialog.tsx
  packages/i18n/src/locales/en.i18n.json
  packages/ui-client/src/hooks/useFeaturePreviewList.ts
Due: e2e, client

regression: Missing `ContextualbarDialog` wrapping in administration and Omnichannel (#32026)
  apps/meteor/client/components/Contextualbar/ContextualbarDialog.tsx
  apps/meteor/client/views/admin/customEmoji/CustomEmojiRoute.tsx
  apps/meteor/client/views/admin/customSounds/CustomSoundsPage.tsx
  apps/meteor/client/views/admin/customUserStatus/CustomUserStatusRoute.tsx
  apps/meteor/client/views/admin/moderation/ModConsoleReportDetails.tsx
  apps/meteor/client/views/admin/moderation/ModerationConsolePage.tsx
  apps/meteor/client/views/admin/permissions/PermissionsContextBar.tsx
  apps/meteor/client/views/admin/rooms/RoomsPage.tsx
  apps/meteor/client/views/admin/users/AdminUsersPage.tsx
  apps/meteor/client/views/omnichannel/agents/AgentsPage.tsx
  apps/meteor/client/views/omnichannel/currentChats/CustomFieldsList.tsx
  apps/meteor/client/views/omnichannel/customFields/CustomFieldsPage.tsx
  apps/meteor/client/views/omnichannel/directory/ContactContextualBar.tsx
  apps/meteor/client/views/omnichannel/directory/OmnichannelDirectoryPage.tsx
  apps/meteor/client/views/omnichannel/triggers/TriggersPage.tsx
  apps/meteor/ee/client/omnichannel/priorities/PrioritiesPage.tsx
  apps/meteor/ee/client/omnichannel/priorities/PriorityList.tsx
  apps/meteor/ee/client/omnichannel/slaPolicies/SlaPage.tsx
  apps/meteor/ee/client/omnichannel/tags/TagsPage.tsx
  apps/meteor/ee/client/omnichannel/units/UnitsPage.tsx
  apps/meteor/ee/client/views/admin/deviceManagement/DeviceManagementAdminPage.tsx
  apps/meteor/ee/client/views/admin/deviceManagement/DeviceManagementInfo/DeviceManagementInfoWithData.tsx
Due: e2e, client

test: fix Default rooms flaky
  apps/meteor/tests/e2e/administration.spec.ts
  apps/meteor/tests/e2e/page-objects/admin.ts
Due: e2e

fix(Livechat): Livechat_Display_Offline_Form not working correctly (#32031)
  .changeset/polite-cars-love.md
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat.spec.ts
  packages/livechat/src/i18n/en.json
  packages/livechat/src/i18n/pt-BR.json
  packages/livechat/src/routes/LeaveMessage/index.tsx
Due: e2e

test: fix Default rooms flaky (#32033)
  apps/meteor/tests/e2e/administration.spec.ts
  apps/meteor/tests/e2e/page-objects/admin.ts
Due: e2e

Fix file name check (tests)
  apps/meteor/tests/end-to-end/api/09-rooms.js
Due: e2e

test: increase mocha timeout for testing purposes
  apps/meteor/.mocharc.api.js
Due: e2e

chore: bump packages
  ee/packages/ui-theming/package.json
  packages/fuselage-ui-kit/package.json
  packages/gazzodown/package.json
  packages/ui-avatar/package.json
  packages/ui-client/package.json
  packages/ui-composer/package.json
  packages/ui-video-conf/package.json
  packages/uikit-playground/package.json
  yarn.lock
Due: none

Create soft-shrimps-beg.md
  .changeset/soft-shrimps-beg.md
Due: none

docs: Fix code typo in ddp-client readme (#32023)
  ee/packages/ddp-client/README.md
Due: none

Add projections and change function calls to promise.all on agentactivitymonitor
  apps/meteor/app/livechat/server/statistics/LivechatAgentActivityMonitor.ts
Due: e2e

Remove references to description
  apps/meteor/app/lib/server/methods/updateMessage.ts
  apps/meteor/client/methods/updateMessage.ts
Due: e2e, client

fix: "Media type not accepted" error when uploading `lst` files (#32019)
  .changeset/lovely-berries-type.md
  apps/meteor/app/utils/lib/mimeTypes.ts
  apps/meteor/tests/data/interactions.ts
  apps/meteor/tests/e2e/file-upload.spec.ts
  apps/meteor/tests/e2e/fixtures/files/lst-test.lst
  apps/meteor/tests/e2e/page-objects/fragments/home-content.ts
  apps/meteor/tests/end-to-end/api/09-rooms.js
Due: e2e

fix test
  apps/meteor/tests/unit/server/services/omnichannel/queue.tests.ts
Due: e2e

chore: Change internal and external links target (#31997)
  apps/meteor/client/components/MarkdownText.tsx
  packages/gazzodown/jest.config.ts
  packages/gazzodown/src/elements/LinkSpan.tsx
  packages/i18n/src/locales/en.i18n.json
  packages/ui-client/src/helpers/getBaseURI.ts
  packages/ui-client/src/helpers/index.ts
  packages/ui-client/src/index.ts
Due: e2e, client

fix: emojiPicker wrong placement
  apps/meteor/client/views/composer/EmojiPicker/EmojiPickerDesktopDropdown.tsx
Due: e2e, client

regression: `EmojiPicker` wrong placement (#32037)
  apps/meteor/client/views/composer/EmojiPicker/EmojiPickerDesktopDropdown.tsx
Due: e2e, client

feat: added enterprise tag to premium setting label
  apps/meteor/client/views/admin/settings/MemoizedSetting.tsx
  apps/meteor/client/views/admin/settings/Setting.tsx
  apps/meteor/client/views/admin/settings/inputs/AssetSettingInput.tsx
  apps/meteor/client/views/admin/settings/inputs/BooleanSettingInput.tsx
  apps/meteor/client/views/admin/settings/inputs/CodeMirror/CodeMirrorBox.tsx
  apps/meteor/client/views/admin/settings/inputs/CodeSettingInput.tsx
  apps/meteor/client/views/admin/settings/inputs/ColorSettingInput.tsx
  apps/meteor/client/views/admin/settings/inputs/FontSettingInput.tsx
  apps/meteor/client/views/admin/settings/inputs/GenericSettingInput.tsx
  apps/meteor/client/views/admin/settings/inputs/IntSettingInput.tsx
  apps/meteor/client/views/admin/settings/inputs/LanguageSettingInput.tsx
  apps/meteor/client/views/admin/settings/inputs/LookupSettingInput.tsx
  apps/meteor/client/views/admin/settings/inputs/MultiSelectSettingInput.tsx
  apps/meteor/client/views/admin/settings/inputs/PasswordSettingInput.tsx
  apps/meteor/client/views/admin/settings/inputs/RelativeUrlSettingInput.tsx
  apps/meteor/client/views/admin/settings/inputs/RoomPickSettingInput.tsx
  apps/meteor/client/views/admin/settings/inputs/SelectSettingInput.tsx
  apps/meteor/client/views/admin/settings/inputs/SelectTimezoneSettingInput.tsx
  apps/meteor/client/views/admin/settings/inputs/StringSettingInput.tsx
Due: e2e, client

chore: changeset
  .changeset/thirty-berries-learn.md
Due: none

fix: correctly fetching logo from server
  apps/meteor/app/livechat/server/api/lib/livechat.ts
  packages/livechat/src/components/Screen/ChatButton.tsx
  packages/livechat/src/components/Screen/ScreenProvider.tsx
  packages/livechat/src/components/Screen/index.js
  packages/livechat/src/store/index.tsx
Due: e2e

feat: added setting/logic for livechat widget logo
  apps/meteor/app/assets/server/assets.ts
  apps/meteor/app/livechat/server/api/lib/livechat.ts
  apps/meteor/app/livechat/server/lib/LivechatTyped.ts
  apps/meteor/server/settings/omnichannel.ts
  packages/core-typings/src/IRocketChatAssets.ts
  packages/i18n/src/locales/en.i18n.json
  packages/livechat/src/components/Screen/ChatButton.tsx
  packages/livechat/src/components/Screen/ScreenProvider.tsx
  packages/livechat/src/components/Screen/index.js
  packages/livechat/src/store/index.tsx
Due: e2e

chore: changeset
  .changeset/clean-cars-teach.md
Due: none

feat: added setting/logic for hiding livechat watermark
  apps/meteor/app/livechat/server/api/lib/livechat.ts
  apps/meteor/app/livechat/server/lib/LivechatTyped.ts
  apps/meteor/server/settings/omnichannel.ts
  packages/i18n/src/locales/en.i18n.json
  packages/livechat/src/components/Screen/ScreenProvider.tsx
  packages/livechat/src/components/Screen/index.js
  packages/livechat/src/store/index.tsx
Due: e2e

fix: added fallback value for hide livechat watermark setting
  apps/meteor/app/livechat/server/api/lib/livechat.ts
Due: e2e

refactor: moved new settings to ee folder
  apps/meteor/ee/app/livechat-enterprise/server/settings.ts
  apps/meteor/server/settings/omnichannel.ts
Due: e2e

fix: added check for when no logo is available
  packages/livechat/src/components/Screen/index.js
Due: none
