Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

Delete .gitpod.yml
  .gitpod.yml
Due: none

fix: replace onScroll handler
  apps/meteor/client/components/CustomScrollbars/CustomScrollbars.tsx
  apps/meteor/client/components/CustomScrollbars/VirtualizedScrollbars.tsx
  apps/meteor/client/components/CustomScrollbars/index.ts
  apps/meteor/client/components/Page/PageScrollableContent.tsx
  apps/meteor/client/components/Page/PageScrollableContentWithShadow.tsx
  apps/meteor/client/views/room/contextualBar/Threads/hooks/useLegacyThreadMessageListScrolling.ts
Due: e2e, client

fix: replace scroll wrapper attribute
  apps/meteor/app/ui-utils/client/lib/RoomHistoryManager.ts
Due: e2e

chore: remove rc-scrollbars from meteor app
  apps/meteor/app/theme/client/imports/general/base.css
  apps/meteor/package.json
  yarn.lock
Due: e2e

chore: bump overlayscrollbars pkg
  apps/meteor/package.json
  yarn.lock
Due: e2e

changeset
  .changeset/eighty-meals-rule.md
Due: none

chore: changeset
  .changeset/weak-turtles-exercise.md
Due: none

Update apps/meteor/app/tokenpass/client/hooks/useTokenPassAuth.tsx
  apps/meteor/app/tokenpass/client/hooks/useTokenPassAuth.tsx
Due: e2e

rooms & messages
  apps/meteor/app/apps/server/bridges/livechat.ts
  apps/meteor/app/livechat/client/lib/stream/queueManager.ts
  apps/meteor/app/livechat/imports/server/rest/sms.ts
  apps/meteor/app/livechat/server/api/lib/livechat.ts
  apps/meteor/app/livechat/server/api/v1/message.ts
  apps/meteor/app/livechat/server/api/v1/room.ts
  apps/meteor/app/livechat/server/lib/LivechatTyped.ts
  apps/meteor/app/livechat/server/lib/Visitors.ts
  apps/meteor/app/livechat/server/lib/messages.ts
  apps/meteor/app/livechat/server/lib/rooms.ts
  apps/meteor/app/livechat/server/lib/settings.ts
  apps/meteor/app/livechat/server/lib/utils.ts
  apps/meteor/app/livechat/server/methods/sendMessageLivechat.ts
  apps/meteor/client/providers/OmnichannelProvider.tsx
  apps/meteor/client/sidebarv2/hooks/useRoomList.ts
  apps/meteor/server/features/EmailInbox/EmailInbox_Incoming.ts
  packages/apps-engine/src/server/ProxiedApp.ts
Due: e2e, client

saveroominfo
  apps/meteor/app/livechat/server/api/v1/room.ts
  apps/meteor/app/livechat/server/api/v1/visitor.ts
  apps/meteor/app/livechat/server/lib/LivechatTyped.ts
  apps/meteor/app/livechat/server/lib/rooms.ts
  packages/apps-engine/src/server/ProxiedApp.ts
Due: e2e

Apply suggestions from code review
  apps/meteor/client/providers/OmnichannelProvider.tsx
  apps/meteor/client/sidebarv2/hooks/useRoomList.ts
Due: e2e, client

fix: `ContactInfoHistory` scrollbars parent
  apps/meteor/client/views/omnichannel/contactInfo/tabs/ContactInfoHistory/ContactInfoHistory.tsx
Due: e2e, client

add ui tests
  apps/meteor/server/startup/initialData.js
  apps/meteor/tests/e2e/enforce-2FA.spec.ts
  apps/meteor/tests/e2e/page-objects/fragments/home-sidenav.ts
Due: e2e

feat:password-icon-click
  apps/meteor/client/views/account/security/ChangePassword.tsx
Due: e2e, client

fixed lint errors
  apps/meteor/client/views/account/security/ChangePassword.tsx
Due: e2e, client

Update apps/meteor/app/livechat/client/lib/stream/queueManager.ts
  apps/meteor/app/livechat/client/lib/stream/queueManager.ts
Due: e2e

fix unused var
  apps/meteor/app/authentication/server/startup/index.js
Due: e2e

doug
  packages/apps-engine/src/definition/livechat/ILivechatEventContext.ts
  packages/apps-engine/src/definition/livechat/IPostLivechatDepartmentDisabled.ts
  packages/apps-engine/src/definition/livechat/IPostLivechatDepartmentRemoved.ts
  packages/apps-engine/src/server/managers/AppListenerManager.ts
Due: none

Update packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/en.i18n.json
Due: none

fix: Some EE features not available after changing plans (#35361)
  .changeset/eighty-meals-rule.md
  apps/meteor/client/lib/onToggledFeature.ts
Due: e2e, client

refactor fireGlobalEvent
  apps/meteor/client/lib/utils/fireGlobalEvent.ts
  apps/meteor/client/lib/utils/fireGlobalEventBase.spec.ts
  apps/meteor/client/lib/utils/fireGlobalEventBase.ts
Due: e2e, client

chore: added empty row between the fields to improve readability
  apps/meteor/client/views/omnichannel/departments/EditDepartment.tsx
Due: e2e, client

refactor: moved department payload formatting to util
  apps/meteor/client/views/omnichannel/departments/EditDepartment.tsx
  apps/meteor/client/views/omnichannel/departments/utils/formatDepartmentPayload.ts
Due: e2e, client

refactor: moved agent list payload formatting to util
  apps/meteor/client/views/omnichannel/departments/EditDepartment.tsx
  apps/meteor/client/views/omnichannel/departments/utils/formatAgentListPayload.ts
Due: e2e, client

refactor: moved getFormInitialValues to util
  apps/meteor/client/views/omnichannel/departments/EditDepartment.tsx
  apps/meteor/client/views/omnichannel/departments/utils/getFormInititalValues.ts
Due: e2e, client

refactor: moved type definitions to its own file
  apps/meteor/client/views/omnichannel/departments/EditDepartment.tsx
  apps/meteor/client/views/omnichannel/departments/definitions/index.ts
  apps/meteor/client/views/omnichannel/departments/utils/formatAgentListPayload.ts
  apps/meteor/client/views/omnichannel/departments/utils/formatDepartmentPayload.ts
Due: e2e, client

test: new `describe` with new user to test email verification
  apps/meteor/tests/end-to-end/api/users.ts
Due: e2e

refactor: rename util from formatDepartmentPayload to formatEditDepartmentPayload
  apps/meteor/client/views/omnichannel/departments/EditDepartment.tsx
  apps/meteor/client/views/omnichannel/departments/utils/formatEditDepartmentPayload.ts
Due: e2e, client

feat: added unit field to edit department page
  apps/meteor/client/components/Omnichannel/hooks/useUnitsList.ts
  apps/meteor/client/omnichannel/additionalForms/AutoCompleteUnit.tsx
  apps/meteor/client/views/omnichannel/departments/EditDepartment.tsx
  apps/meteor/client/views/omnichannel/departments/definitions/index.ts
  apps/meteor/client/views/omnichannel/departments/utils/formatEditDepartmentPayload.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

moved test
  apps/meteor/tests/e2e/administration-settings.spec.ts
  apps/meteor/tests/e2e/code-setting-input-renders-one-text-area.spec.ts
Due: e2e

implement useFireGlobalEvent
  apps/meteor/client/hooks/useFireGlobalEvent.spec.ts
  apps/meteor/client/hooks/useFireGlobalEvent.ts
  apps/meteor/client/views/room/hooks/useOpenRoom.ts
Due: e2e, client

fire event from roomprovider
  apps/meteor/client/views/room/providers/RoomProvider.tsx
Due: e2e, client

Create odd-squids-repeat.md
  .changeset/odd-squids-repeat.md
Due: none

doc: improve change sets
  .changeset/green-panthers-poke.md
  .changeset/popular-boats-poke.md
  yarn.lock
Due: none

refactor: checks apps installed before 7 major
  apps/meteor/ee/server/apps/orchestrator.js
Due: e2e

Path conditions:
  e2e: any of: apps/meteor/
  client: any of: apps/meteor/client
