Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

fix: saveUser notify not unseting phones
  apps/meteor/server/lib/users/saveUser/saveUser.ts
Due: e2e, e2e-api

fix: Phone formating fallback on UserInfo
  apps/meteor/client/components/UserInfo/UserInfoPhoneNumberList.tsx
Due: e2e, client

fix: AJV trim parentData
  packages/rest-typings/src/v1/Ajv.ts
Due: none

fix: remove nullable props from AJV schema
  packages/rest-typings/src/v1/users/UserCreateParamsPOST.ts
  packages/rest-typings/src/v1/users/UsersUpdateOwnBasicInfoParamsPOST.ts
  packages/rest-typings/src/v1/users/UsersUpdateParamsPOST.ts
Due: none

fix: tell the room its last message changed when it is pinned
  .changeset/stop-audio-on-message-delete.md
  apps/meteor/server/lib/messaging/pins/pinMessage.ts
Due: e2e, e2e-api

chore(ci): remove deno-version handling from CI
  .github/actions/build-docker/action.yml
  .github/actions/meteor-build/action.yml
  .github/actions/setup-node/action.yml
  .github/workflows/ci-code-check.yml
  .github/workflows/ci-test-e2e.yml
  .github/workflows/ci-test-storybook.yml
  .github/workflows/ci-test-unit.yml
  .github/workflows/ci.yml
Due: none

chore: remove deno installation in Dockefiles
  .devcontainer/Dockerfile
  apps/meteor/.docker/Dockerfile.alpine
  docker-compose-ci.yml
Due: e2e

chore(ci): remove deno version handling in release-action package
  .tool-versions
  packages/release-action/src/getMetadata.ts
  packages/release-action/src/utils.ts
Due: none

refactor(apps): rename tests mentioning Deno infrastructure
  packages/apps/tests/server/runtime/BaseRuntimeSubprocessController.test.ts
  packages/apps/tests/server/runtime/SecureFieldsCodecCompatibility.test.ts
  packages/apps/tests/server/runtime/base/LivenessManager.test.ts
  packages/apps/tests/server/runtime/base/bundleLegacyApp.test.ts
Due: none

chore(apps): completely remove the deno-runtime from apps package
  eslint.config.mjs
  packages/apps-engine/.gitignore
  packages/apps/.gitignore
  packages/apps/base-runtime/src/lib/accessors/formatResponseErrorHandler.ts
  packages/apps/deno-runtime/.gitignore
  packages/apps/deno-runtime/deno.jsonc
  packages/apps/deno-runtime/deno.lock
  packages/apps/deno-runtime/error-handlers.ts
  packages/apps/deno-runtime/lib/require.ts
  packages/apps/deno-runtime/lib/transports/stdoutTransport.ts
  packages/apps/deno-runtime/main.ts
  packages/apps/deno-runtime/tests/error-handlers.test.ts
  packages/apps/package.json
  packages/apps/scripts/deno-cache.js
  packages/apps/src/server/managers/AppRuntimeManager.ts
  packages/apps/src/server/runtime/deno/AppsEngineDenoRuntime.ts
  packages/apps/src/server/runtime/deno/typings.ts
  packages/apps/tests/server/managers/AppRuntimeManager.test.ts
  packages/apps/turbo.json
Due: none

fix: Unset old `phone` when user updates their phone list
  apps/meteor/server/lib/users/saveUser/saveUser.ts
  apps/meteor/server/meteor-methods/users/saveUserProfile.ts
Due: e2e, e2e-api

lint
  apps/meteor/client/lib/RoomManager.ts
Due: e2e, client

feat(video-conf): say the provider is loading, instead of showing a black window
  apps/meteor/client/views/conference/components/ConferenceIframe.spec.tsx
  apps/meteor/client/views/conference/components/ConferenceIframe.tsx
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

review(bot): Cleanup tests
  apps/meteor/client/lib/composerHistory.spec.ts
  apps/meteor/client/lib/createRichTextComposerAPI.spec.ts
Due: e2e, client

review(bot): use workspace for parser package
  packages/gazzodown-alt/package.json
  yarn.lock
Due: none

fix(apps): resolve deno-runtime module not found after upgrade (#40947)
  .changeset/fix-deno-runtime-symlink.md
  packages/apps/src/server/runtime/deno/AppsEngineDenoRuntime.ts
Due: none

review(bot): Removed unused code
  packages/gazzodown-alt/src/ComposerMentionChannel.tsx
  packages/gazzodown-alt/src/ComposerMentionUser.tsx
Due: none

fix: Rename ajv keyword
  packages/rest-typings/src/v1/Ajv.ts
Due: none

review(bot): fix redundant test
  apps/meteor/tests/e2e/message-composer-history.spec.ts
Due: e2e

fix: Remove `primary` and `verified` from phones in the UI
  apps/meteor/client/components/PhoneNumberFieldList/PhoneNumberFieldList.spec.tsx
  apps/meteor/client/components/PhoneNumberFieldList/PhoneNumberFieldList.tsx
  apps/meteor/client/views/account/profile/getProfileInitialValues.ts
  apps/meteor/client/views/omnichannel/components/outboundMessage/components/TemplatePlaceholderSelector/hooks/useAgentSection.tsx
Due: e2e, client

fix: Remove `primary` and `verified` from IUserPhoneNumber and schemas
  apps/meteor/server/meteor-methods/users/saveUserProfile.ts
  apps/meteor/tests/e2e/account-profile.spec.ts
  apps/meteor/tests/e2e/admin-users-phones.spec.ts
  apps/meteor/tests/end-to-end/api/users.ts
  packages/core-typings/src/IUser.ts
  packages/rest-typings/src/v1/users/UserCreateParamsPOST.ts
  packages/rest-typings/src/v1/users/UsersUpdateOwnBasicInfoParamsPOST.ts
  packages/rest-typings/src/v1/users/UsersUpdateParamsPOST.ts
Due: e2e, e2e-api

chore(ci): clean up Deno leftovers from a failed conflict resolution
  .github/workflows/ci-test-e2e.yml
  .github/workflows/ci.yml
  apps/meteor/.docker/Dockerfile.alpine
  apps/meteor/.mocharc.api.apps.js
  apps/meteor/package.json
  docker-compose-ci.fips.yml
  docker-compose-ci.yml
  packages/apps/turbo.json
Due: e2e

feat: make API_Upper_Count_Limit public and use for slash commands batch size
  .changeset/api-upper-count-limit-public.md
  apps/meteor/client/hooks/useAppSlashCommands.spec.ts
  apps/meteor/client/hooks/useAppSlashCommands.ts
  apps/meteor/server/settings/general.ts
Due: e2e, e2e-api, client

test: cover negative boundary for API_Upper_Count_Limit fallback
  apps/meteor/client/hooks/useAppSlashCommands.spec.ts
Due: e2e, client

fix(client): include batch count in appsQueryKeys.slashCommands queryKey
  apps/meteor/client/hooks/useAppSlashCommands.spec.ts
  apps/meteor/client/hooks/useAppSlashCommands.ts
  apps/meteor/client/lib/queryKeys.ts
Due: e2e, client

test: update text to match sentence case
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat-logo.spec.ts
  apps/meteor/tests/e2e/page-objects/account-tokens.ts
  apps/meteor/tests/e2e/page-objects/fragments/composer.ts
  apps/meteor/tests/e2e/page-objects/fragments/flextabs/auto-translate-flextab.ts
  apps/meteor/tests/e2e/retention-policy.spec.ts
  apps/meteor/tests/e2e/team-management.spec.ts
Due: e2e

chore: fix flaky SAML tests (#42177)
  apps/meteor/client/views/root/SAMLLoginRoute.spec.tsx
  apps/meteor/client/views/root/SAMLLoginRoute.tsx
  apps/meteor/server/lib/saml/lib/settings.ts
  apps/meteor/server/lib/saml/startup.ts
Due: e2e, e2e-api, client

Refactor AppRoot rendering in tests
  apps/meteor/client/hooks/useAppSlashCommands.spec.ts
Due: e2e, client

test: mutation testing setup for local Jest packages
  .gitignore
  docs/mutation-testing.md
  package.json
  scripts/mutation-jest-config.mjs
  scripts/mutation-target-reporter.mjs
  scripts/run-mutation-tests.mjs
  scripts/run-mutation-tests.test.mjs
  stryker.config.mjs
  yarn.lock
Due: none

test: fix Livechat trigger external service tests under SSRF validation
  .github/workflows/ci-test-e2e.yml
  apps/meteor/tests/end-to-end/api/livechat/08-triggers.ts
  docker-compose-ci.yml
Due: e2e

Apply suggestion from @ggazzo
  apps/meteor/.storybook/decorators.tsx
Due: e2e

Apply suggestion from @ggazzo
  apps/meteor/client/stories/i18n.ts
Due: e2e, client

chore(storybook): show stories the real copy instead of key names (#42152)
  apps/meteor/.storybook/decorators.tsx
  apps/meteor/client/stories/i18n.ts
Due: e2e, client

refactor(sidebar): simplify sidebar view modes and update preferences to remove 'medium' option
  apps/meteor/client/navbar/NavBarPagesGroup/hooks/useViewModeItems.tsx
  apps/meteor/client/sidebar/Item/Extended.tsx
  apps/meteor/client/sidebar/RoomList/RoomList.tsx
  apps/meteor/client/sidebar/RoomList/RoomListRow.tsx
  apps/meteor/client/sidebar/RoomList/SidebarItemTemplateWithData.tsx
  apps/meteor/client/sidebar/Sidebar.stories.tsx
  apps/meteor/client/sidebar/hooks/useAvatarTemplate.tsx
  apps/meteor/client/sidebar/hooks/useTemplateByViewMode.ts
  apps/meteor/client/views/account/preferences/useAccountPreferencesValues.ts
  apps/meteor/server/settings/accounts.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, e2e-api, client

restore orignal behavior
  apps/meteor/server/lib/saml/loginHandler.ts
  apps/meteor/tests/unit/server/lib/saml/loginHandler.spec.ts
  packages/model-typings/src/models/ICredentialTokensModel.ts
  packages/models/src/models/CredentialTokens.ts
Due: e2e, e2e-api

fix email typo
  ee/packages/federation-matrix/tests/end-to-end/dms.spec.ts
Due: none

add retry to check user join
  ee/packages/federation-matrix/tests/end-to-end/room.spec.ts
Due: none

use rc ephemeral users only
  ee/packages/federation-matrix/tests/end-to-end/ban.spec.ts
  ee/packages/federation-matrix/tests/end-to-end/dms.spec.ts
  ee/packages/federation-matrix/tests/end-to-end/first-contact.spec.ts
  ee/packages/federation-matrix/tests/end-to-end/messaging.spec.ts
  ee/packages/federation-matrix/tests/end-to-end/permissions.spec.ts
  ee/packages/federation-matrix/tests/end-to-end/room.spec.ts
  ee/packages/federation-matrix/tests/helper/config.ts
Due: none

remove weird imports
  ee/packages/federation-matrix/tests/end-to-end/ban.spec.ts
  ee/packages/federation-matrix/tests/end-to-end/permissions.spec.ts
Due: none

reject failed user creation and login
  apps/meteor/tests/data/users.helper.ts
Due: e2e

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
