Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

refactor: moved department payload formatting to util
  apps/meteor/client/views/omnichannel/departments/EditDepartment.tsx
  apps/meteor/client/views/omnichannel/departments/utils/formatDepartmentPayload.ts
Due: e2e, client

refactor: moved type definitions to its own file
  apps/meteor/client/views/omnichannel/departments/EditDepartment.tsx
  apps/meteor/client/views/omnichannel/departments/definitions/index.ts
  apps/meteor/client/views/omnichannel/departments/utils/formatAgentListPayload.ts
  apps/meteor/client/views/omnichannel/departments/utils/formatDepartmentPayload.ts
Due: e2e, client

refactor: moved getFormInitialValues to util
  apps/meteor/client/views/omnichannel/departments/EditDepartment.tsx
  apps/meteor/client/views/omnichannel/departments/utils/getFormInititalValues.ts
Due: e2e, client

refactor: rename util from formatDepartmentPayload to formatEditDepartmentPayload
  apps/meteor/client/views/omnichannel/departments/EditDepartment.tsx
  apps/meteor/client/views/omnichannel/departments/utils/formatEditDepartmentPayload.ts
Due: e2e, client

refactor: moved agent list payload formatting to util
  apps/meteor/client/views/omnichannel/departments/EditDepartment.tsx
  apps/meteor/client/views/omnichannel/departments/utils/formatAgentListPayload.ts
Due: e2e, client

feat: added unit field to edit department page
  apps/meteor/client/components/Omnichannel/hooks/useUnitsList.ts
  apps/meteor/client/omnichannel/additionalForms/AutoCompleteUnit.tsx
  apps/meteor/client/views/omnichannel/departments/EditDepartment.tsx
  apps/meteor/client/views/omnichannel/departments/definitions/index.ts
  apps/meteor/client/views/omnichannel/departments/utils/formatEditDepartmentPayload.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

refactor: changed empty option to none
  apps/meteor/client/components/Omnichannel/hooks/useUnitsList.ts
  apps/meteor/client/omnichannel/additionalForms/AutoCompleteUnit.tsx
  apps/meteor/client/views/omnichannel/departments/EditDepartment.tsx
Due: e2e, client

refactor: use LivechatDepartmentDTO
  packages/core-typings/src/ILivechatDepartment.ts
  packages/model-typings/src/models/ILivechatDepartmentModel.ts
  packages/models/src/models/LivechatDepartment.ts
  packages/rest-typings/src/v1/omnichannel.ts
Due: none

refactor: use rest endpoints instead of meteor methods
  apps/meteor/client/views/omnichannel/departments/EditDepartment.tsx
  apps/meteor/client/views/omnichannel/departments/utils/formatEditDepartmentPayload.ts
  apps/meteor/client/views/omnichannel/departments/utils/getFormInititalValues.ts
  packages/rest-typings/src/v1/omnichannel.ts
Due: e2e, client

refactor: reverted to requestTagsBeforeClosingChat
  packages/rest-typings/src/v1/omnichannel.ts
Due: none

feat: added event onLoadItems to AutoCompleteUnit
  apps/meteor/client/components/Omnichannel/hooks/useUnitsList.ts
  apps/meteor/client/omnichannel/additionalForms/AutoCompleteUnit.tsx
Due: e2e, client

test: added test case for disabled unit field when editing
  apps/meteor/tests/e2e/omnichannel/omnichannel-monitor-department.spec.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-departments.ts
Due: e2e

refactor: code style & add new agent check
  apps/meteor/client/views/omnichannel/departments/utils/formatAgentListPayload.ts
Due: e2e, client

chore: changeset
  .changeset/large-islands-behave.md
Due: none

test: added e2e tests
  apps/meteor/tests/e2e/omnichannel/omnichannel-monitor-department.spec.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-departments.ts
Due: e2e

chore: updated types
  apps/meteor/client/views/omnichannel/departments/DepartmentAgentsTable/AddAgent.tsx
  apps/meteor/client/views/omnichannel/departments/DepartmentAgentsTable/AgentRow.tsx
  apps/meteor/client/views/omnichannel/departments/DepartmentAgentsTable/DepartmentAgentsTable.tsx
Due: e2e, client

refactor: changed var names
  apps/meteor/client/omnichannel/additionalForms/AutoCompleteUnit.tsx
Due: e2e, client

feat: disable unit field when editing a department
  apps/meteor/client/omnichannel/additionalForms/AutoCompleteUnit.tsx
  apps/meteor/client/views/omnichannel/departments/EditDepartment.tsx
Due: e2e, client

feat: allow editing unit only if not already set
  apps/meteor/client/views/omnichannel/departments/EditDepartment.tsx
Due: e2e, client

Deploy preview for PR 34494 🛫
  pr-preview/pr-34494/fuselage-ui-kit/project.json
  pr-preview/pr-34494/gazzodown/project.json
  pr-preview/pr-34494/ui-composer/project.json
Due: none

Deploy preview for PR 35470 🛫
  pr-preview/pr-35470/fuselage-ui-kit/project.json
  pr-preview/pr-35470/gazzodown/project.json
  pr-preview/pr-35470/ui-composer/project.json
Due: none

Deploy preview for PR 35466 🛫
  pr-preview/pr-35466/fuselage-ui-kit/project.json
  pr-preview/pr-35466/gazzodown/project.json
  pr-preview/pr-35466/ui-composer/project.json
Due: none

Deploy preview for PR 35218 🛫
  pr-preview/pr-35218/fuselage-ui-kit/project.json
  pr-preview/pr-35218/gazzodown/project.json
  pr-preview/pr-35218/ui-composer/project.json
Due: none

Deploy preview for PR 35340 🛫
  pr-preview/pr-35340/fuselage-ui-kit/project.json
  pr-preview/pr-35340/gazzodown/project.json
  pr-preview/pr-35340/ui-composer/project.json
Due: none

chore: adds changeset
  .changeset/short-garlics-attack.md
Due: none

Deploy preview for PR 35370 🛫
  pr-preview/pr-35370/fuselage-ui-kit/project.json
  pr-preview/pr-35370/gazzodown/project.json
  pr-preview/pr-35370/ui-composer/project.json
Due: none

chore: changeset
  .changeset/short-garlics-attack.md
Due: none

review: move Event declaration inside dispatch
  apps/meteor/client/hooks/useIdleDetection.ts
  apps/meteor/packages/autoupdate/autoupdate_client.js
Due: e2e, client

revert unnecessary role test changes
  apps/meteor/client/components/FilterByText.tsx
  apps/meteor/tests/e2e/page-objects/directory.ts
Due: e2e, client

chore: moves Livechat.unsubscribeAll() outside the if statement
  packages/livechat/src/lib/hooks.ts
Due: none

chore: add mongo-adapter package with initial implementation and types
  apps/meteor/client/hooks/lists/useStreamUpdatesForMessageList.ts
  apps/meteor/client/views/room/contextualBar/Threads/hooks/useThreadMainMessageQuery.ts
  apps/meteor/package.json
  packages/mock-providers/package.json
  packages/mongo-adapter/.eslintrc.json
  packages/mongo-adapter/CHANGELOG.md
  packages/mongo-adapter/package.json
  packages/mongo-adapter/src/bson.spec.ts
  packages/mongo-adapter/src/bson.ts
  packages/mongo-adapter/src/comparisons.spec.ts
  packages/mongo-adapter/src/comparisons.ts
  packages/mongo-adapter/src/index.ts
  packages/mongo-adapter/src/lookups.spec.ts
  packages/mongo-adapter/src/lookups.ts
  packages/mongo-adapter/src/query.ts
  packages/mongo-adapter/src/sort.ts
  packages/mongo-adapter/src/types.ts
  packages/mongo-adapter/tsconfig.json
  yarn.lock
Due: e2e, client

test: install app for API tests
  apps/meteor/tests/e2e/config/constants.ts
  apps/meteor/tests/e2e/fixtures/insert-apps.ts
  apps/meteor/tests/end-to-end/api/livechat/00-rooms.ts
Due: e2e

regression: topic rendering in discussion in new navigation
  apps/meteor/client/views/room/body/RoomBodyV2.tsx
Due: e2e, client

Deploy preview for PR 35244 🛫
  pr-preview/pr-35244/fuselage-ui-kit/project.json
  pr-preview/pr-35244/gazzodown/project.json
  pr-preview/pr-35244/uikit-playground/assets/CodeBlock-D9_al2YO.js
  pr-preview/pr-35244/uikit-playground/assets/KatexBlock-BCi8jEiF.js
  pr-preview/pr-35244/uikit-playground/assets/KatexBlock-Jv6rIlw-.js
  pr-preview/pr-35244/uikit-playground/assets/KatexElement-D13-itrq.js
  pr-preview/pr-35244/uikit-playground/assets/KatexElement-DB6HSfaW.js
  pr-preview/pr-35244/uikit-playground/assets/index-B-bDnzi1.js
  pr-preview/pr-35244/uikit-playground/assets/index-Dkl4FUKx.js
  pr-preview/pr-35244/uikit-playground/index.html
Due: none

Deploy preview for PR 35551 🛫
  pr-preview/pr-35551/fuselage-ui-kit/project.json
  pr-preview/pr-35551/gazzodown/project.json
Due: none

Deploy preview for PR 35470 🛫
  pr-preview/pr-35470/ui-composer/project.json
Due: none

review: interval type
  apps/meteor/client/hooks/useIdleDetection.ts
Due: e2e, client

Path conditions:
  e2e: any of: apps/meteor/
  client: any of: apps/meteor/client
