Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

feat: add migration to drop unused subscription indexes
  apps/meteor/server/startup/migrations/index.ts
  apps/meteor/server/startup/migrations/v336.ts
Due: e2e, e2e-api

fix: slash command params silently truncated at first line break
  .changeset/fix-slash-command-multiline-truncation.md
  apps/meteor/client/lib/chats/flows/processSlashCommand.spec.ts
  apps/meteor/client/lib/chats/flows/processSlashCommand.ts
Due: e2e, client

fix: Setup wizard forced back into registration on upgrade when Show_Setup_Wizard is env-overridden (#41254)
  .changeset/setup-wizard-env-override-upgrade.md
  apps/meteor/app/settings/server/SettingsRegistry.ts
  apps/meteor/app/settings/server/functions/overrideGenerator.ts
  apps/meteor/server/startup/cloudRegistration.ts
  apps/meteor/tests/unit/app/settings/server/functions/overrideGenerator.tests.ts
  apps/meteor/tests/unit/app/settings/server/functions/settings.tests.ts
  apps/meteor/tests/unit/server/startup/cloudRegistration.tests.ts
Due: e2e, e2e-api

feat(calendar-sync): add provider/iCalUId to calendar events and calendar_sync_state model
  apps/meteor/server/models.ts
  packages/core-typings/src/ICalendarEvent.ts
  packages/core-typings/src/ICalendarSyncState.ts
  packages/core-typings/src/index.ts
  packages/model-typings/src/index.ts
  packages/model-typings/src/models/ICalendarEventModel.ts
  packages/model-typings/src/models/ICalendarSyncStateModel.ts
  packages/models/src/index.ts
  packages/models/src/modelClasses.ts
  packages/models/src/models/CalendarEvent.ts
  packages/models/src/models/CalendarSyncState.ts
Due: e2e, e2e-api

feat(calendar-sync): pass provider/iCalUId through CalendarService.import
  apps/meteor/server/services/calendar/service.ts
Due: e2e, e2e-api

feat(calendar-sync): provider abstraction and Microsoft Graph provider
  apps/meteor/ee/server/lib/calendarSync/definition.ts
  apps/meteor/ee/server/lib/calendarSync/logSanitizer.ts
  apps/meteor/ee/server/lib/calendarSync/providers/graph/GraphTokenManager.ts
  apps/meteor/ee/server/lib/calendarSync/providers/graph/MicrosoftGraphCalendarProvider.ts
Due: e2e

feat(calendar-sync): sync engine, mailbox resolver, provider factory and scheduler wiring
  apps/meteor/ee/server/lib/calendarSync/CalendarSyncEngine.ts
  apps/meteor/ee/server/lib/calendarSync/factory.ts
  apps/meteor/ee/server/lib/calendarSync/mailboxResolver.ts
  apps/meteor/ee/server/lib/calendarSync/startup.ts
Due: e2e

feat(calendar-sync): Calendar_Sync settings group, i18n and license-gated startup wiring
  apps/meteor/ee/server/configuration/calendarSync.ts
  apps/meteor/ee/server/configuration/index.ts
  apps/meteor/ee/server/settings/calendarSync.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e

test(calendar-sync): unit tests for token manager, Graph provider, engine, mailbox resolver and sanitizer
  apps/meteor/tests/unit/server/ee/calendarSync/CalendarSyncEngine.spec.ts
  apps/meteor/tests/unit/server/ee/calendarSync/GraphTokenManager.spec.ts
  apps/meteor/tests/unit/server/ee/calendarSync/MicrosoftGraphCalendarProvider.spec.ts
  apps/meteor/tests/unit/server/ee/calendarSync/logSanitizer.spec.ts
  apps/meteor/tests/unit/server/ee/calendarSync/mailboxResolver.spec.ts
Due: e2e

fix(calendar-sync): correct settings import depth, SSRF opt-in for fixed Graph hosts, lint fixes and changeset
  .changeset/server-calendar-sync.md
  apps/meteor/ee/server/lib/calendarSync/CalendarSyncEngine.ts
  apps/meteor/ee/server/lib/calendarSync/factory.ts
  apps/meteor/ee/server/lib/calendarSync/providers/graph/MicrosoftGraphCalendarProvider.ts
  apps/meteor/ee/server/lib/calendarSync/startup.ts
  apps/meteor/tests/unit/server/ee/calendarSync/CalendarSyncEngine.spec.ts
  apps/meteor/tests/unit/server/ee/calendarSync/MicrosoftGraphCalendarProvider.spec.ts
Due: e2e

feat(calendar-sync): Exchange EWS provider with NTLM/Basic auth and impersonation
  apps/meteor/ee/server/lib/calendarSync/factory.ts
  apps/meteor/ee/server/lib/calendarSync/providers/ews/ExchangeEwsCalendarProvider.ts
  apps/meteor/ee/server/lib/calendarSync/providers/ews/ewsHttp.ts
  apps/meteor/ee/server/lib/calendarSync/providers/ews/md4.ts
  apps/meteor/ee/server/lib/calendarSync/providers/ews/ntlm.ts
  apps/meteor/ee/server/lib/calendarSync/providers/ews/soap.ts
  apps/meteor/ee/server/settings/calendarSync.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e

test(calendar-sync): EWS provider, SOAP, NTLM (MS-NLMP vectors) and air-gap verification
  apps/meteor/tests/unit/server/ee/calendarSync/ExchangeEwsCalendarProvider.spec.ts
  apps/meteor/tests/unit/server/ee/calendarSync/airGap.spec.ts
  apps/meteor/tests/unit/server/ee/calendarSync/ewsHttp.spec.ts
  apps/meteor/tests/unit/server/ee/calendarSync/ewsSoap.spec.ts
  apps/meteor/tests/unit/server/ee/calendarSync/ntlm.spec.ts
Due: e2e

docs(calendar-sync): reflect EWS provider in changeset
  .changeset/server-calendar-sync.md
Due: none

fix: update useRoomView references to useRegisterView after sync
  apps/meteor/client/views/videoConference/livekit/FloatingGroupCallWidget.tsx
  apps/meteor/client/views/videoConference/livekit/LiveKitVideoConfProvider.tsx
Due: e2e, client

feat(calendar-sync): free/busy-only mode driving presence without event ingestion
  apps/meteor/ee/server/lib/calendarSync/CalendarSyncEngine.ts
  apps/meteor/ee/server/lib/calendarSync/definition.ts
  apps/meteor/ee/server/lib/calendarSync/startup.ts
  apps/meteor/tests/unit/server/ee/calendarSync/CalendarSyncEngine.spec.ts
Due: e2e

docs(calendar-sync): admin guide (Entra ID, ApplicationAccessPolicy, EWS impersonation) and changeset
  .changeset/server-calendar-sync.md
  docs/features/server-calendar-sync.md
Due: none

feat(calendar-sync): admin REST endpoints for test-connection, manual sync and diagnostics
  apps/meteor/ee/server/api/calendarSync/index.ts
  apps/meteor/ee/server/api/calendarSync/schemas.ts
  apps/meteor/ee/server/api/index.ts
Due: e2e

fix: update moved import paths in LiveKit EE files after develop sync
  apps/meteor/ee/server/api/videoConferenceLiveKit.ts
  apps/meteor/ee/server/lib/livekit-agent/summary.ts
  apps/meteor/ee/server/lib/livekit/finalizeRecording.ts
Due: e2e

feat(calendar-sync): national clouds, certificate credentials, role scoping and admin test-connection action
  apps/meteor/ee/server/index.ts
  apps/meteor/ee/server/lib/calendarSync/CalendarSyncEngine.ts
  apps/meteor/ee/server/lib/calendarSync/factory.ts
  apps/meteor/ee/server/lib/calendarSync/providers/graph/GraphTokenManager.ts
  apps/meteor/ee/server/lib/calendarSync/providers/graph/clientAssertion.ts
  apps/meteor/ee/server/lib/calendarSync/providers/graph/clouds.ts
  apps/meteor/ee/server/lib/calendarSync/startup.ts
  apps/meteor/ee/server/meteor-methods/calendarSyncTestConnection.ts
  apps/meteor/ee/server/settings/calendarSync.ts
  apps/meteor/tests/unit/server/ee/calendarSync/CalendarSyncEngine.spec.ts
  apps/meteor/tests/unit/server/ee/calendarSync/GraphTokenManager.spec.ts
  apps/meteor/tests/unit/server/ee/calendarSync/airGap.spec.ts
  apps/meteor/tests/unit/server/ee/calendarSync/clientAssertion.spec.ts
  apps/meteor/tests/unit/server/ee/calendarSync/factory.spec.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e

feat(calendar-sync): EWS incremental sync via SyncFolderItems
  apps/meteor/ee/server/lib/calendarSync/providers/ews/ExchangeEwsCalendarProvider.ts
  apps/meteor/ee/server/lib/calendarSync/providers/ews/soap.ts
  apps/meteor/tests/unit/server/ee/calendarSync/ExchangeEwsCalendarProvider.spec.ts
  apps/meteor/tests/unit/server/ee/calendarSync/airGap.spec.ts
  apps/meteor/tests/unit/server/ee/calendarSync/ewsSoap.spec.ts
Due: e2e

style: reorder imports to satisfy import/order
  apps/meteor/ee/server/api/videoConferenceLiveKit.ts
  apps/meteor/ee/server/lib/livekit-agent/summary.ts
Due: e2e

fix(ui-voip): restore MediaCallRoomSection a11y region and popout support
  packages/ui-voip/src/views/MediaCallRoomSection/MediaCallRoomSection.tsx
Due: none

Add documentation
  MEDIA-CALLS-FEATURE.md
Due: none

Deploy egress separated
  deploy/livekit/core.yaml
  deploy/livekit/deploy.md
  deploy/livekit/egress.yaml
Due: none

fix(livekit): implement popout window for LiveKit group calls
  apps/meteor/client/views/videoConference/livekit/LiveKitVideoConfProvider.tsx
  packages/ui-voip/src/context/MediaCallInstanceContext.ts
  packages/ui-voip/src/index.ts
  packages/ui-voip/src/providers/MediaCallInstanceInertProvider.tsx
Due: e2e, client

feat: open LiveKit group calls in persistent /conference window with embedded chat
  apps/meteor/client/definitions/global.d.ts
  apps/meteor/client/lib/utils/mapRoomFromApi.ts
  apps/meteor/client/providers/VideoConfProvider.tsx
  apps/meteor/client/views/conference/ConferenceChat.tsx
  apps/meteor/client/views/conference/ConferenceDisconnectedModal.tsx
  apps/meteor/client/views/conference/ConferencePageError.tsx
  apps/meteor/client/views/conference/ConferenceRoom.tsx
  apps/meteor/client/views/conference/ConferenceRoomPreload.tsx
  apps/meteor/client/views/conference/ConferenceRoute.tsx
  apps/meteor/client/views/conference/ConferenceUnauthorizedPage.tsx
  apps/meteor/client/views/conference/LiveKitConferenceEmbeddedPage.tsx
  apps/meteor/client/views/conference/hooks/useConferenceCallUrl.ts
  apps/meteor/client/views/conference/hooks/useConferenceEmbedded.tsx
  apps/meteor/client/views/conference/hooks/useConfinedNavigation.ts
  apps/meteor/client/views/root/AppLayout.tsx
  apps/meteor/client/views/root/hooks/useExternalRouteNavigation.ts
  apps/meteor/client/views/videoConference/livekit/FloatingGroupCallWidget.tsx
  apps/meteor/ee/server/api/videoConferenceLiveKit.ts
  apps/meteor/ee/server/configuration/videoConference.ts
  apps/meteor/server/api/v1/videoConference.ts
  packages/desktop-api/src/index.ts
Due: e2e, e2e-api, client

fix: TypeScript errors for LiveKit conference page
  apps/meteor/client/views/conference/ConferenceChat.tsx
  apps/meteor/client/views/conference/hooks/useConferenceEmbedded.tsx
  apps/meteor/client/views/videoConference/livekit/FloatingGroupCallWidget.tsx
Due: e2e, client

fix: remove app sidebar and in-room LiveKit UI from conference window
  apps/meteor/client/lib/appLayout.tsx
  apps/meteor/client/startup/routes.tsx
  apps/meteor/client/views/room/body/MediaCallRoom.tsx
  apps/meteor/client/views/root/MainLayout/MainLayout.tsx
  apps/meteor/client/views/root/MainLayout/TwoFactorAuthSetupCheck.tsx
Due: e2e, client

fix: wire chat toggle and ready composer in LiveKit conference window
  apps/meteor/client/views/conference/ConferenceRoom.tsx
  apps/meteor/client/views/conference/LiveKitConferenceEmbeddedPage.tsx
Due: e2e, client

fix: treat leading-asterisk and guard @mention after alphanumeric (602/635)
  packages/message-parser/src/parser.ts
Due: none

feat: parse color:#rgb syntax (605/635)
  packages/message-parser/src/chars.ts
  packages/message-parser/src/parser.ts
Due: none

docs(calendar-sync): webhooks section and Phase 4 changeset update
  .changeset/server-calendar-sync.md
  docs/features/server-calendar-sync.md
Due: none

feat(calendar-sync): Graph change-notification webhooks with subscription lifecycle
  apps/meteor/ee/server/api/calendarSync/index.ts
  apps/meteor/ee/server/api/calendarSync/schemas.ts
  apps/meteor/ee/server/lib/calendarSync/CalendarSyncEngine.ts
  apps/meteor/ee/server/lib/calendarSync/definition.ts
  apps/meteor/ee/server/lib/calendarSync/providers/graph/MicrosoftGraphCalendarProvider.ts
  apps/meteor/ee/server/lib/calendarSync/startup.ts
  apps/meteor/ee/server/lib/calendarSync/webhooks.ts
  apps/meteor/ee/server/settings/calendarSync.ts
  apps/meteor/tests/unit/server/ee/calendarSync/CalendarSyncEngine.spec.ts
  apps/meteor/tests/unit/server/ee/calendarSync/MicrosoftGraphCalendarProvider.spec.ts
  apps/meteor/tests/unit/server/ee/calendarSync/webhooks.spec.ts
  packages/core-typings/src/ICalendarSyncState.ts
  packages/i18n/src/locales/en.i18n.json
  packages/model-typings/src/models/ICalendarSyncStateModel.ts
  packages/models/src/models/CalendarSyncState.ts
Due: e2e

docs(calendar-sync): testing guide for M365 tenant and on-prem Exchange lab setup
  docs/features/server-calendar-sync-testing.md
  docs/features/server-calendar-sync.md
Due: none

Document enterprise calendar environment setup
  docs/features/enterprise-calendar-presence.md
Due: none

feat(vc-poc): move LiveKit chat inside conference, update toggle, and fix room join button
  apps/meteor/client/lib/VideoConfManager.ts
  apps/meteor/client/providers/VideoConfProvider.tsx
  apps/meteor/client/views/conference/LiveKitConferenceEmbeddedPage.tsx
  apps/meteor/client/views/room/contextualBar/VideoConference/VideoConfList/VideoConfListItem.tsx
  packages/fuselage-ui-kit/src/blocks/VideoConferenceBlock/VideoConferenceBlock.tsx
  packages/ui-video-conf/src/VideoConfContext.ts
  packages/ui-voip/src/components/Actions/ActionToggleChat.tsx
  packages/ui-voip/src/views/MediaCallRoomSection/MediaCallRoomSection.tsx
Due: e2e, client

fix: preserve multi-line text in slash command params
  apps/meteor/client/lib/chats/flows/processSlashCommand.ts
Due: e2e, client

fix: use operator in findCustomRoles and countCustomRoles to include roles without protected field
  packages/models/src/models/Roles.ts
Due: none

fix(autotranslate): always remove existing callback before re-registering
  apps/meteor/app/autotranslate/server/autotranslate.ts
Due: e2e

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
