Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

update abac attribute or values
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
Due: e2e

move check to model
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/model-typings/src/models/IRoomsModel.ts
  packages/models/src/models/Rooms.ts
Due: none

delete
  apps/meteor/ee/server/api/abac/index.ts
Due: e2e

check setting
  apps/meteor/ee/server/api/abac/index.ts
  ee/packages/abac/src/index.ts
Due: e2e

attribute by id
  apps/meteor/ee/server/api/abac/index.ts
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
Due: e2e

check if attribute is in use by key
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
Due: e2e

tests
  ee/packages/abac/src/index.spec.ts
Due: none

remove comments
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  ee/packages/abac/src/index.ts
Due: e2e

update by key
  ee/packages/abac/src/index.ts
  packages/model-typings/src/models/IRoomsModel.ts
  packages/models/src/models/Rooms.ts
Due: none

abac set attributes
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
  packages/model-typings/src/models/IRoomsModel.ts
  packages/models/src/models/Rooms.ts
Due: e2e

minor changes to index
  apps/meteor/ee/server/api/abac/index.ts
  packages/models/src/models/Rooms.ts
Due: e2e

smol issues with request validators
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
Due: e2e

endpoints
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
  packages/model-typings/src/models/IRoomsModel.ts
  packages/models/src/models/Rooms.ts
Due: e2e

remove abac attr
  apps/meteor/ee/server/api/abac/index.ts
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
  packages/model-typings/src/models/IRoomsModel.ts
  packages/models/src/models/Rooms.ts
Due: e2e

schemas again
  apps/meteor/ee/server/api/abac/schemas.ts
Due: e2e

fix index usage
  packages/models/src/models/Rooms.ts
Due: none

endpoints
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
  packages/models/src/models/Rooms.ts
Due: e2e

void insted of error
  ee/packages/abac/src/index.ts
Due: none

tests
  apps/meteor/ee/server/api/abac/schemas.ts
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
Due: e2e

test'
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/tests/end-to-end/api/abac.ts
Due: e2e

ts
  apps/meteor/ee/server/api/abac/index.ts
Due: e2e

delete all attributes from room
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  ee/packages/abac/src/index.ts
Due: e2e

api
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/tests/end-to-end/api/abac.ts
  ee/packages/abac/src/index.ts
Due: e2e

ts
  apps/meteor/tests/end-to-end/api/abac.ts
Due: e2e

svc
  ee/packages/abac/src/index.ts
Due: none

test
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
Due: none

test
  apps/meteor/tests/end-to-end/api/abac.ts
Due: e2e

test
  apps/meteor/tests/end-to-end/api/abac.ts
  ee/packages/abac/src/index.spec.ts
Due: e2e

I'm dum dum
  apps/meteor/ee/server/startup/services.ts
Due: e2e

fix: Pagination not working on `abac/attributes` endpoint (#37189)
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  apps/meteor/tests/end-to-end/api/abac.ts
  ee/packages/abac/src/index.ts
Due: e2e

rollback this change
  packages/http-router/src/Router.ts
Due: none

?
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  ee/packages/abac/src/index.ts
Due: e2e

fix: FindOneById used where key was provided
  ee/packages/abac/src/index.ts
  packages/model-typings/src/models/IAbacAttributesModel.ts
  packages/models/src/models/AbacAttributes.ts
Due: none

chore: Replace findOne with findOneById and use removeById (#37240)
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
Due: none

fix: `abac/attributes` endpoint filtering (#37225)
  apps/meteor/ee/server/api/abac/schemas.ts
  apps/meteor/tests/end-to-end/api/abac.ts
  ee/packages/abac/package.json
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
  yarn.lock
Due: e2e

chore: Remove unused expect-error directives (#37234)
  apps/meteor/client/components/message/toolbar/items/actions/ForwardMessageAction.tsx
  apps/meteor/client/components/message/toolbar/usePermalinkAction.ts
  apps/meteor/client/components/message/toolbar/useReplyInDMAction.ts
Due: e2e, client

feat: Remove users from room when new attributes are added to the room (#37172)
  apps/meteor/app/lib/server/functions/removeUserFromRoom.ts
  apps/meteor/server/lib/dataExport/exportRoomMessagesToFile.ts
  apps/meteor/server/services/room/service.ts
  ee/packages/abac/package.json
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  ee/packages/abac/src/user-auto-removal.spec.ts
  packages/apps-engine/src/definition/messages/MessageType.ts
  packages/core-services/src/types/IRoomService.ts
  packages/core-typings/src/IMessage/IMessage.ts
  packages/i18n/src/locales/en.i18n.json
  packages/message-types/src/registrations/common.ts
  yarn.lock
Due: e2e, e2e-api

chore: Prevent default room & team channels from becoming abac managed (and viceversa) (#37264)
  apps/meteor/app/api/server/v1/teams.ts
  apps/meteor/app/channel-settings/server/methods/saveRoomSettings.ts
  apps/meteor/app/lib/server/functions/addUserToDefaultChannels.ts
  apps/meteor/tests/end-to-end/api/abac.ts
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
Due: e2e

fix: Unit tests
  ee/packages/abac/src/index.spec.ts
Due: none

restore
  packages/http-router/src/Router.ts
Due: none

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
