Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'

refactor: remove duplicated code
  apps/meteor/tests/data/rooms.helper.js
  apps/meteor/tests/end-to-end/api/01-users.js
Due: e2e

fix: do not rely in array position in a paginated endpoint
  apps/meteor/tests/end-to-end/api/01-users.js
Due: e2e

regression: empty attachments leads to a Moderation Console GUI crash (#31592)
  apps/meteor/client/views/admin/moderation/helpers/ContextMessage.tsx
Due: e2e, client

fix: make sure all users are deleted
  apps/meteor/tests/end-to-end/api/01-users.js
Due: e2e

chore: fix lint
  apps/meteor/tests/end-to-end/api/01-users.js
Due: e2e

fix: do not rely on fixed total in paginated endpoint + use new user
  apps/meteor/tests/end-to-end/api/00-miscellaneous.js
Due: e2e

added ajv validation
  apps/meteor/app/api/server/v1/channels.ts
  apps/meteor/app/api/server/v1/groups.ts
  apps/meteor/app/api/server/v1/im.ts
  packages/rest-typings/src/v1/channels/ChannelsMemberExistsProps.ts
  packages/rest-typings/src/v1/channels/index.ts
  packages/rest-typings/src/v1/dm/DmMemberExistsProps.ts
  packages/rest-typings/src/v1/dm/index.ts
  packages/rest-typings/src/v1/groups/GroupsMemberExistsProps.ts
  packages/rest-typings/src/v1/groups/index.ts
Due: e2e

feat: Look at the permissions when rendering start call
  apps/meteor/client/views/room/hooks/useUserInfoActions/actions/useCallAction.tsx
Due: e2e, client

chore: Removing unecessary check
  apps/meteor/client/views/room/hooks/useUserInfoActions/actions/useCallAction.tsx
Due: e2e, client

Create small-beers-call.md
  .changeset/small-beers-call.md
Due: none

remove check()
  apps/meteor/app/api/server/v1/groups.ts
  apps/meteor/app/api/server/v1/im.ts
Due: e2e

test: reorganize tests + do not use global variable
  apps/meteor/tests/data/api-data.js
  apps/meteor/tests/end-to-end/api/02-channels.js
Due: e2e

fix: :globe_with_meridians: Moderation console translations
  apps/meteor/client/views/admin/moderation/ModerationConsoleTable.tsx
  apps/meteor/client/views/admin/moderation/UserReports/ModConsoleUsersTable.tsx
  apps/meteor/client/views/admin/moderation/hooks/useDeactivateUserAction.tsx
  apps/meteor/packages/rocketchat-i18n/i18n/en.i18n.json
Due: e2e, client

refactor(client): Decouple WebDAV accounts integration from client initialization (#31553)
  apps/meteor/app/models/client/index.ts
  apps/meteor/app/models/client/models/WebdavAccounts.ts
  apps/meteor/app/webdav/client/actionButton.ts
  apps/meteor/app/webdav/client/index.js
  apps/meteor/app/webdav/client/startup/sync.ts
  apps/meteor/client/components/message/toolbar/MessageToolbar.tsx
  apps/meteor/client/components/message/toolbar/useWebDAVMessageAction.tsx
  apps/meteor/client/hooks/webdav/useWebDAVAccountIntegrationsQuery.ts
  apps/meteor/client/importPackages.ts
  apps/meteor/client/views/account/integrations/AccountIntegrationsPage.tsx
  apps/meteor/client/views/account/integrations/AccountIntegrationsRoute.tsx
  apps/meteor/client/views/account/integrations/hooks/useRemoveWebDAVAccountIntegrationMutation.tsx
  apps/meteor/client/views/room/composer/messageBox/MessageBoxActionsToolbar/hooks/useWebdavActions.tsx
  apps/meteor/client/views/room/webdav/SaveToWebdavModal.tsx
  ee/packages/ddp-client/src/types/streams.ts
  packages/core-services/src/events/Events.ts
Due: e2e, client

fix: Login email verification flow (#31583)
  .changeset/flat-windows-juggle.md
  apps/meteor/tests/e2e/page-objects/auth.ts
  packages/web-ui-registration/src/EmailConfirmationForm.tsx
  packages/web-ui-registration/src/LoginForm.tsx
Due: e2e

feat: a11y doc links (#31473)
  .changeset/kind-dragons-flash.md
  apps/meteor/client/views/account/accessibility/AccessibilityPage.tsx
  apps/meteor/client/views/omnichannel/agents/AgentsTable/AgentsTable.tsx
  apps/meteor/client/views/omnichannel/businessHours/BusinessHoursDisabledPage.tsx
  apps/meteor/client/views/omnichannel/currentChats/CurrentChatsPage.tsx
  apps/meteor/client/views/omnichannel/customFields/CustomFieldsTable.tsx
  apps/meteor/client/views/omnichannel/departments/DepartmentsTable/DepartmentsTable.tsx
  apps/meteor/client/views/omnichannel/directory/calls/CallTable.tsx
  apps/meteor/client/views/omnichannel/directory/chats/ChatTable.tsx
  apps/meteor/client/views/omnichannel/directory/contacts/ContactTable.tsx
  apps/meteor/client/views/omnichannel/managers/ManagersTable.tsx
  apps/meteor/client/views/omnichannel/triggers/TriggersTable.tsx
  apps/meteor/ee/client/omnichannel/cannedResponses/CannedResponsesTable.tsx
  apps/meteor/ee/client/omnichannel/monitors/MonitorsTable.tsx
  apps/meteor/ee/client/omnichannel/slaPolicies/SlaTable.tsx
  apps/meteor/ee/client/omnichannel/tags/TagsTable.tsx
  apps/meteor/ee/client/omnichannel/units/UnitsTable.tsx
  apps/meteor/packages/rocketchat-i18n/i18n/en.i18n.json
Due: e2e, client

fix: UiKitMessage refreshing room
  apps/meteor/client/components/message/uikit/UiKitMessageBlock.tsx
Due: e2e, client

Apply suggestions from code review
  apps/meteor/app/slashcommands-archiveroom/server/server.ts
  apps/meteor/app/slashcommands-unarchiveroom/server/server.ts
Due: e2e

fix: ldap avatar sync background process never runs
  .changeset/ten-bobcats-occur.md
  apps/meteor/ee/server/configuration/ldap.ts
  apps/meteor/ee/server/settings/ldap.ts
Due: e2e

regression: Fix reactions tooltip (#31570)
  apps/meteor/client/components/message/content/Reactions.tsx
  apps/meteor/client/components/message/content/reactions/Reaction.tsx
Due: e2e, client

regression: UiKitMessage invalidates room (#31603)
  apps/meteor/client/components/message/uikit/UiKitMessageBlock.tsx
Due: e2e, client

Create polite-donkeys-cheer.md
  .changeset/polite-donkeys-cheer.md
Due: none

fix: missing slashcommand permissions (#31594)
  .changeset/polite-donkeys-cheer.md
  apps/meteor/app/slashcommands-archiveroom/server/server.ts
  apps/meteor/app/slashcommands-unarchiveroom/server/server.ts
  apps/meteor/tests/end-to-end/api/16-commands.js
Due: e2e

fixed auto-logout interval setting as well
  apps/meteor/ee/server/settings/ldap.ts
Due: e2e

fix review
  apps/meteor/client/components/avatar/UserAvatarEditor/UserAvatarEditor.tsx
  apps/meteor/client/views/room/contextualBar/Discussions/components/DiscussionsListItem.tsx
  apps/meteor/client/views/room/contextualBar/Threads/components/ThreadListMessage.tsx
  packages/ui-avatar/src/components/UserAvatar.tsx
Due: e2e, client

changes
  apps/meteor/ee/client/apps/gameCenter/GameCenterContainer.tsx
  apps/meteor/ee/client/apps/gameCenter/GameCenterList.tsx
  packages/fuselage-ui-kit/src/stories/Message.stories.tsx
  packages/ui-video-conf/src/VideoConfMessage/VideoConfMessage.stories.tsx
  packages/ui-video-conf/src/VideoConfMessage/VideoConfMessageUserStack.tsx
  packages/ui-video-conf/src/VideoConfPopup/VideoConfPopup.stories.tsx
  packages/uikit-playground/src/Components/Preview/Display/Surface/ContextualBarSurface.tsx
  packages/uikit-playground/src/Components/Preview/Display/Surface/MessageSurface.tsx
Due: e2e

regression: Moderation console translations (#31602)
  apps/meteor/client/views/admin/moderation/ModerationConsoleTable.tsx
  apps/meteor/client/views/admin/moderation/UserReports/ModConsoleUsersTable.tsx
  apps/meteor/client/views/admin/moderation/hooks/useDeactivateUserAction.tsx
  apps/meteor/packages/rocketchat-i18n/i18n/en.i18n.json
Due: e2e, client

fixes
  apps/meteor/client/views/admin/moderation/helpers/UserColumn.tsx
  packages/ui-avatar/src/components/UserAvatar.tsx
Due: e2e, client

ci: add back carryforward flag
  codecov.yml
Due: none

fix TeamAutocomplete
  apps/meteor/client/views/teams/contextualBar/TeamAutocomplete/TeamAutocomplete.tsx
Due: e2e, client

test: make channels tests fully independent
  apps/meteor/tests/data/api-data.js
  apps/meteor/tests/data/channel.ts
  apps/meteor/tests/data/uploads.helper.ts
  apps/meteor/tests/end-to-end/api/02-channels.js
  apps/meteor/tests/end-to-end/api/03-groups.js
  apps/meteor/tests/end-to-end/api/04-direct-message.js
Due: e2e

fix: fix lint
  apps/meteor/tests/end-to-end/api/02-channels.js
Due: e2e

test: remove skipped test
  apps/meteor/tests/end-to-end/api/02-channels.js
Due: e2e

chore: bump fuselage
  apps/meteor/client/views/room/MessageList/MessageList.tsx
  apps/meteor/package.json
  ee/packages/ui-theming/package.json
  packages/fuselage-ui-kit/package.json
  packages/gazzodown/package.json
  packages/ui-client/package.json
  packages/ui-composer/package.json
  packages/ui-video-conf/package.json
  packages/uikit-playground/package.json
  yarn.lock
Due: e2e, client

ci: add server codecov flag
  codecov.yml
Due: none

feat: Passing the team as a prop down to roomactions
  apps/meteor/client/views/teams/contextualBar/channels/BaseTeamsChannels.tsx
  apps/meteor/client/views/teams/contextualBar/channels/RoomActions.js
  apps/meteor/client/views/teams/contextualBar/channels/Row.js
  apps/meteor/client/views/teams/contextualBar/channels/TeamsChannelItem.js
  apps/meteor/client/views/teams/contextualBar/channels/TeamsChannels.tsx
Due: e2e, client

ci: add back carryforward flag (#31605)
  codecov.yml
Due: none

ci: Improve release changelog by adding the PR to items as well as the username of the contributor (#31596)
  .changeset/config.json
  packages/release-changelog/.eslintrc.json
  packages/release-changelog/package.json
  packages/release-changelog/src/getGitHubInfo.ts
  packages/release-changelog/src/index.ts
  packages/release-changelog/tsconfig.json
  yarn.lock
Due: none
