Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'

test: :white_check_mark: useDepartmentsList unit tests and omnichannel current chats e2e tests
  apps/meteor/client/components/Omnichannel/hooks/useDepartmentsList.ts
  apps/meteor/client/components/Omnichannel/normalizeDepartments.ts
Due: e2e, client

fix: :bug: Re-add default pagination to use useScrollableRecordList
  apps/meteor/client/components/Omnichannel/hooks/useDepartmentsList.ts
Due: e2e, client

Reviews 2
  apps/meteor/client/components/Omnichannel/utils/normalizeDepartments.ts
Due: e2e, client

Reviews
  apps/meteor/client/components/Omnichannel/normalizeDepartments.ts
  apps/meteor/client/components/Omnichannel/utils/normalizeDepartments.ts
Due: e2e, client

test: :white_check_mark: Update tests to work with new fallback logic
  apps/meteor/client/components/Omnichannel/hooks/useDepartmentsList.spec.ts
  apps/meteor/client/components/Omnichannel/hooks/useMissingDepartment.ts
  apps/meteor/client/components/Omnichannel/utils/normalizeDepartments.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-current-chats.spec.ts
Due: e2e, client

feat: :sparkles: Introduce fallback for when department is deleted while another user has it selected
  apps/meteor/client/components/AutoCompleteDepartment.tsx
  apps/meteor/client/components/Omnichannel/hooks/useDepartmentsList.ts
  apps/meteor/client/components/Omnichannel/hooks/useMissingDepartment.ts
Due: e2e, client

feat!: E2EE room's `Key` icon no longer toggles encryption of room (#33572)
  .changeset/thick-waves-try.md
  apps/meteor/client/views/room/Header/icons/Encrypted.tsx
  apps/meteor/client/views/room/HeaderV2/icons/Encrypted.tsx
  apps/meteor/tests/e2e/page-objects/fragments/home-content.ts
  packages/i18n/src/locales/ar.i18n.json
  packages/i18n/src/locales/ca.i18n.json
  packages/i18n/src/locales/de.i18n.json
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/es.i18n.json
  packages/i18n/src/locales/fi.i18n.json
  packages/i18n/src/locales/fr.i18n.json
  packages/i18n/src/locales/hi-IN.i18n.json
  packages/i18n/src/locales/hu.i18n.json
  packages/i18n/src/locales/ja.i18n.json
  packages/i18n/src/locales/nl.i18n.json
  packages/i18n/src/locales/nn.i18n.json
  packages/i18n/src/locales/no.i18n.json
  packages/i18n/src/locales/pl.i18n.json
  packages/i18n/src/locales/pt-BR.i18n.json
  packages/i18n/src/locales/ru.i18n.json
  packages/i18n/src/locales/se.i18n.json
  packages/i18n/src/locales/sv.i18n.json
  packages/i18n/src/locales/zh-TW.i18n.json
Due: e2e, client

feat: allow get contact by phone or email as well
  apps/meteor/app/livechat/server/api/v1/contact.ts
  packages/rest-typings/src/v1/omnichannel.ts
Due: e2e

feat(sci): on demand migration of Visitors to Contacts (#33594)
  .changeset/calm-worms-add.md
  apps/meteor/app/apps/server/converters/visitors.js
  apps/meteor/app/livechat/server/api/lib/livechat.ts
  apps/meteor/app/livechat/server/api/lib/visitors.ts
  apps/meteor/app/livechat/server/api/v1/contact.ts
  apps/meteor/app/livechat/server/api/v1/visitor.ts
  apps/meteor/app/livechat/server/lib/ContactMerger.ts
  apps/meteor/app/livechat/server/lib/Contacts.ts
  apps/meteor/app/livechat/server/lib/Helper.ts
  apps/meteor/app/livechat/server/lib/LivechatTyped.ts
  apps/meteor/ee/server/models/raw/LivechatRooms.ts
  apps/meteor/server/models/raw/LivechatContacts.ts
  apps/meteor/server/models/raw/LivechatRooms.ts
  apps/meteor/tests/end-to-end/api/livechat/contacts.ts
  apps/meteor/tests/unit/app/livechat/server/lib/Contacts.spec.ts
  packages/core-typings/src/ILivechatContact.ts
  packages/core-typings/src/ILivechatVisitor.ts
  packages/core-typings/src/IRoom.ts
  packages/model-typings/src/models/ILivechatContactsModel.ts
  packages/model-typings/src/models/ILivechatRoomsModel.ts
  packages/rest-typings/src/v1/omnichannel.ts
Due: e2e

test: ensure that endpoint is working as intended
  apps/meteor/tests/end-to-end/api/livechat/contacts.ts
Due: e2e

Undo typing improvements
  apps/meteor/app/livechat/server/api/lib/livechat.ts
Due: e2e

Deploy preview for PR 32155 🛫
  pr-preview/pr-32155/fuselage-ui-kit/project.json
  pr-preview/pr-32155/gazzodown/project.json
Due: none

feat: New marketplace state for out of support window workspaces (#33238)
  .changeset/two-geckos-train.md
  apps/meteor/client/apps/orchestrator.ts
  apps/meteor/client/contexts/AppsContext.tsx
  apps/meteor/client/providers/AppsProvider/AppsProvider.tsx
  apps/meteor/client/views/marketplace/AppsPage/AppsPage.tsx
  apps/meteor/client/views/marketplace/AppsPage/AppsPageContent.tsx
  apps/meteor/client/views/marketplace/AppsPage/AppsPageContentBody.tsx
  apps/meteor/client/views/marketplace/AppsPage/UnsupportedEmptyState.spec.tsx
  apps/meteor/client/views/marketplace/AppsPage/UnsupportedEmptyState.stories.tsx
  apps/meteor/client/views/marketplace/AppsPage/UnsupportedEmptyState.tsx
  apps/meteor/client/views/marketplace/components/MarketplaceHeader.tsx
  apps/meteor/client/views/marketplace/components/UpdateRocketChatButton.tsx
  apps/meteor/client/views/marketplace/hooks/useFilteredApps.ts
  apps/meteor/ee/server/apps/communication/rest.ts
  apps/meteor/tests/mocks/client/marketplace.tsx
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

refactor: move typings to ee
  apps/meteor/ee/app/livechat-enterprise/server/api/contacts.ts
  packages/rest-typings/src/v1/omnichannel.ts
Due: e2e

email and phone format
  apps/meteor/server/models/raw/LivechatContacts.ts
Due: e2e

feat: get contact by phone or email (#33595)
  apps/meteor/app/livechat/server/api/v1/contact.ts
  apps/meteor/tests/end-to-end/api/livechat/contacts.ts
  packages/rest-typings/src/v1/omnichannel.ts
Due: e2e

Deploy preview for PR 33571 🛫
  pr-preview/pr-33571/fuselage-ui-kit/project.json
  pr-preview/pr-33571/gazzodown/project.json
Due: none

more email and phone
  apps/meteor/app/livechat/server/lib/Contacts.ts
Due: e2e

Deploy preview for PR 33590 🛫
  pr-preview/pr-33590/fuselage-ui-kit/main.2b6bb7d9.iframe.bundle.js
  pr-preview/pr-33590/fuselage-ui-kit/project.json
  pr-preview/pr-33590/gazzodown/project.json
Due: none

Deploy preview for PR 33529 🛫
  pr-preview/pr-33529/fuselage-ui-kit/main.2b6bb7d9.iframe.bundle.js
  pr-preview/pr-33529/fuselage-ui-kit/project.json
  pr-preview/pr-33529/gazzodown/project.json
Due: none

Deploy preview for PR 33583 🛫
  pr-preview/pr-33583/fuselage-ui-kit/main.2b6bb7d9.iframe.bundle.js
  pr-preview/pr-33583/fuselage-ui-kit/project.json
  pr-preview/pr-33583/gazzodown/project.json
Due: none

Deploy preview for PR 33241 🛫
  pr-preview/pr-33241/fuselage-ui-kit/project.json
  pr-preview/pr-33241/gazzodown/project.json
Due: none

Deploy preview for PR 32779 🛫
  pr-preview/pr-32779/fuselage-ui-kit/project.json
  pr-preview/pr-32779/gazzodown/project.json
Due: none

Deploy preview for PR 33550 🛫
  pr-preview/pr-33550/fuselage-ui-kit/iframe.html
  pr-preview/pr-33550/fuselage-ui-kit/main.0b937605.iframe.bundle.js
  pr-preview/pr-33550/fuselage-ui-kit/main.0b937605.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-33550/fuselage-ui-kit/main.0b937605.iframe.bundle.js.map
  pr-preview/pr-33550/fuselage-ui-kit/main.2b6bb7d9.iframe.bundle.js
  pr-preview/pr-33550/fuselage-ui-kit/main.2b6bb7d9.iframe.bundle.js.map
  pr-preview/pr-33550/fuselage-ui-kit/project.json
  pr-preview/pr-33550/gazzodown/project.json
  pr-preview/pr-33550/uikit-playground/assets/CodeBlock-7e7a87d1.js
  pr-preview/pr-33550/uikit-playground/assets/KatexBlock-053fb7b9.js
  pr-preview/pr-33550/uikit-playground/assets/KatexBlock-32f3880d.js
  pr-preview/pr-33550/uikit-playground/assets/KatexElement-01d09265.js
  pr-preview/pr-33550/uikit-playground/assets/KatexElement-87132c94.js
  pr-preview/pr-33550/uikit-playground/assets/index-1eca872a.js
  pr-preview/pr-33550/uikit-playground/assets/index-cd85ff4a.js
  pr-preview/pr-33550/uikit-playground/index.html
Due: none

Deploy preview for PR 33491 🛫
  pr-preview/pr-33491/fuselage-ui-kit/iframe.html
  pr-preview/pr-33491/fuselage-ui-kit/main.0b937605.iframe.bundle.js
  pr-preview/pr-33491/fuselage-ui-kit/main.0b937605.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-33491/fuselage-ui-kit/main.0b937605.iframe.bundle.js.map
  pr-preview/pr-33491/fuselage-ui-kit/main.2b6bb7d9.iframe.bundle.js
  pr-preview/pr-33491/fuselage-ui-kit/main.2b6bb7d9.iframe.bundle.js.map
  pr-preview/pr-33491/fuselage-ui-kit/project.json
  pr-preview/pr-33491/gazzodown/project.json
  pr-preview/pr-33491/uikit-playground/assets/CodeBlock-7e7a87d1.js
  pr-preview/pr-33491/uikit-playground/assets/KatexBlock-053fb7b9.js
  pr-preview/pr-33491/uikit-playground/assets/KatexBlock-32f3880d.js
  pr-preview/pr-33491/uikit-playground/assets/KatexElement-01d09265.js
  pr-preview/pr-33491/uikit-playground/assets/KatexElement-87132c94.js
  pr-preview/pr-33491/uikit-playground/assets/index-1eca872a.js
  pr-preview/pr-33491/uikit-playground/assets/index-cd85ff4a.js
  pr-preview/pr-33491/uikit-playground/index.html
Due: none

Deploy preview for PR 33503 🛫
  pr-preview/pr-33503/fuselage-ui-kit/project.json
  pr-preview/pr-33503/gazzodown/project.json
Due: none

change addon check conferences for modal
  apps/meteor/client/views/marketplace/AppDetailsPage/tabs/AppDetails/AppDetails.tsx
  apps/meteor/client/views/marketplace/AppDetailsPage/tabs/AppStatus/AppStatus.tsx
  apps/meteor/client/views/marketplace/hooks/useAppMenu.tsx
Due: e2e, client

Deploy preview for PR 32727 🛫
  pr-preview/pr-32727/fuselage-ui-kit/project.json
  pr-preview/pr-32727/gazzodown/project.json
Due: none

refactor(i18n): Use i18next API to get a fixed t-function
  apps/meteor/app/2fa/server/code/EmailCheck.ts
  apps/meteor/app/2fa/server/functions/resetTOTP.ts
  apps/meteor/app/livechat/server/api/v1/room.ts
  apps/meteor/server/features/EmailInbox/EmailInbox_Incoming.ts
  apps/meteor/server/features/EmailInbox/EmailInbox_Outgoing.ts
  apps/meteor/server/lib/resetUserE2EKey.ts
  apps/meteor/server/services/omnichannel-analytics/service.ts
Due: e2e

regression: missing permission checks on voip for team collab (#33518)
  apps/meteor/client/hooks/roomActions/useStartCallRoomAction/useStartCallRoomAction.tsx
  apps/meteor/client/views/admin/users/AdminUsersPage.tsx
  apps/meteor/client/views/admin/users/UsersPageHeaderContent.spec.tsx
  apps/meteor/client/views/admin/users/UsersPageHeaderContent.tsx
  apps/meteor/client/views/admin/users/UsersTable/UsersTable.spec.tsx
  apps/meteor/client/views/admin/users/UsersTable/UsersTable.tsx
  apps/meteor/client/views/admin/users/UsersTable/UsersTableRow.tsx
  apps/meteor/client/views/admin/users/voip/AssignExtensionButton.tsx
  apps/meteor/client/views/admin/users/voip/hooks/useVoipExtensionAction.tsx
  apps/meteor/client/views/admin/users/voip/hooks/useVoipExtensionPermission.tsx
  packages/ui-voip/src/hooks/useVoipClient.tsx
  packages/ui-voip/src/hooks/useVoipExtensionDetails.tsx
  packages/ui-voip/src/providers/VoipProvider.tsx
Due: e2e, client

Deploy preview for PR 33358 🛫
  pr-preview/pr-33358/fuselage-ui-kit/project.json
  pr-preview/pr-33358/gazzodown/project.json
Due: none

Deploy preview for PR 33483 🛫
  pr-preview/pr-33483/fuselage-ui-kit/main.2b6bb7d9.iframe.bundle.js
  pr-preview/pr-33483/fuselage-ui-kit/project.json
  pr-preview/pr-33483/gazzodown/project.json
Due: none

Deploy preview for PR 33586 🛫
  pr-preview/pr-33586/fuselage-ui-kit/project.json
  pr-preview/pr-33586/gazzodown/project.json
  pr-preview/pr-33586/ui-composer/project.json
Due: none

Deploy preview for PR 32779 🛫
  pr-preview/pr-32779/ui-composer/project.json
Due: none

Deploy preview for PR 33490 🛫
  pr-preview/pr-33490/fuselage-ui-kit/iframe.html
  pr-preview/pr-33490/fuselage-ui-kit/main.0b937605.iframe.bundle.js
  pr-preview/pr-33490/fuselage-ui-kit/main.0b937605.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-33490/fuselage-ui-kit/main.0b937605.iframe.bundle.js.map
  pr-preview/pr-33490/fuselage-ui-kit/main.2b6bb7d9.iframe.bundle.js
  pr-preview/pr-33490/fuselage-ui-kit/main.2b6bb7d9.iframe.bundle.js.map
  pr-preview/pr-33490/fuselage-ui-kit/project.json
  pr-preview/pr-33490/gazzodown/project.json
  pr-preview/pr-33490/uikit-playground/assets/CodeBlock-7e7a87d1.js
  pr-preview/pr-33490/uikit-playground/assets/KatexBlock-053fb7b9.js
  pr-preview/pr-33490/uikit-playground/assets/KatexBlock-32f3880d.js
  pr-preview/pr-33490/uikit-playground/assets/KatexElement-01d09265.js
  pr-preview/pr-33490/uikit-playground/assets/KatexElement-87132c94.js
  pr-preview/pr-33490/uikit-playground/assets/index-1eca872a.js
  pr-preview/pr-33490/uikit-playground/assets/index-cd85ff4a.js
  pr-preview/pr-33490/uikit-playground/index.html
Due: none

fix: closes the room as the agent
  apps/meteor/ee/app/livechat-enterprise/server/api/contacts.ts
  apps/meteor/ee/app/livechat-enterprise/server/api/lib/contacts.ts
Due: e2e
