Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

fix: Ensure roomActivities is a fresh copy of performingUsers for stream actions
  apps/meteor/app/ui/client/lib/UserAction.ts
Due: e2e

permissions & validations
  apps/meteor/ee/app/livechat-enterprise/server/api/outbound.ts
  apps/meteor/ee/app/livechat-enterprise/server/outboundcomms/rest.ts
  apps/meteor/ee/app/livechat-enterprise/server/permissions.ts
  packages/apps-engine/src/definition/outboundComunication/IOutboundMessage.ts
  packages/core-typings/src/omnichannel/outbound.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e

fix: support for persian and arabic languages
  packages/ui-composer/src/MessageComposer/MessageComposerInput.tsx
Due: none

feat: KeyService
  apps/meteor/app/e2e/client/rocketchat.e2e.ts
  packages/e2ee/src/index.ts
  packages/e2ee/src/result.ts
  packages/e2ee/tsconfig.json
Due: e2e

refactor: Update error response schemas in appLogsDistinctInstanceHandler and appLogsExportHandler for improved type safety
  apps/meteor/ee/server/apps/communication/endpoints/appLogsDistinctInstanceHandler.ts
  apps/meteor/ee/server/apps/communication/endpoints/appLogsExportHandler.ts
Due: e2e

refactor: Update error type in FailureResult for enhanced type safety
  apps/meteor/app/api/server/definition.ts
Due: e2e

chore: Enhance error handling Rest definitions (#36706)
  apps/meteor/app/api/server/definition.ts
  apps/meteor/ee/server/apps/communication/endpoints/appLogsDistinctInstanceHandler.ts
  apps/meteor/ee/server/apps/communication/endpoints/appLogsExportHandler.ts
  packages/rest-typings/src/v1/Ajv.ts
Due: e2e

Deploy preview for PR 36692 🛫
  pr-preview/pr-36692/fuselage-ui-kit/project.json
  pr-preview/pr-36692/gazzodown/project.json
  pr-preview/pr-36692/ui-composer/project.json
Due: none

Deploy preview for PR 36589 🛫
  pr-preview/pr-36589/fuselage-ui-kit/106.6c2f2ba8.iframe.bundle.js
  pr-preview/pr-36589/fuselage-ui-kit/106.6c2f2ba8.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-36589/fuselage-ui-kit/106.6c2f2ba8.iframe.bundle.js.map
  pr-preview/pr-36589/fuselage-ui-kit/106.de3f0e65.iframe.bundle.js
  pr-preview/pr-36589/fuselage-ui-kit/106.de3f0e65.iframe.bundle.js.map
  pr-preview/pr-36589/fuselage-ui-kit/iframe.html
  pr-preview/pr-36589/fuselage-ui-kit/project.json
  pr-preview/pr-36589/fuselage-ui-kit/runtime~main.7a05d840.iframe.bundle.js
  pr-preview/pr-36589/fuselage-ui-kit/runtime~main.c6151887.iframe.bundle.js
  pr-preview/pr-36589/gazzodown/Markup-stories.55e9c501.iframe.bundle.js
  pr-preview/pr-36589/gazzodown/Markup-stories.55e9c501.iframe.bundle.js.map
  pr-preview/pr-36589/gazzodown/Markup-stories.7fa6327c.iframe.bundle.js
  pr-preview/pr-36589/gazzodown/Markup-stories.7fa6327c.iframe.bundle.js.map
  pr-preview/pr-36589/gazzodown/iframe.html
  pr-preview/pr-36589/gazzodown/project.json
  pr-preview/pr-36589/gazzodown/runtime~main.c9745e09.iframe.bundle.js
  pr-preview/pr-36589/gazzodown/runtime~main.dc18f432.iframe.bundle.js
  pr-preview/pr-36589/ui-composer/project.json
  pr-preview/pr-36589/uikit-playground/assets/CodeBlock-L-z-Z7TM.js
  pr-preview/pr-36589/uikit-playground/assets/KatexBlock-4mnFrpTn.js
  pr-preview/pr-36589/uikit-playground/assets/KatexBlock-B5s6lZdY.js
  pr-preview/pr-36589/uikit-playground/assets/KatexElement-BUnAJHm2.js
  pr-preview/pr-36589/uikit-playground/assets/KatexElement-DzudL6Lc.js
  pr-preview/pr-36589/uikit-playground/assets/import-BEBNx3PT.js
  pr-preview/pr-36589/uikit-playground/assets/import-I12oEXvJ.js
  pr-preview/pr-36589/uikit-playground/assets/index-DORNwfjd.js
  pr-preview/pr-36589/uikit-playground/index.html
Due: none

Deploy preview for PR 36049 🛫
  pr-preview/pr-36049/fuselage-ui-kit/project.json
  pr-preview/pr-36049/gazzodown/project.json
  pr-preview/pr-36049/ui-composer/project.json
Due: none

starting
  ee/packages/media-calls/package.json
  ee/packages/media-calls/src/agents/sip/server/Session.ts
  ee/packages/media-calls/src/global/SignalProcessor.ts
Due: none

Deploy preview for PR 36631 🛫
  pr-preview/pr-36631/fuselage-ui-kit/106.693659ba.iframe.bundle.js
  pr-preview/pr-36631/fuselage-ui-kit/106.693659ba.iframe.bundle.js.map
  pr-preview/pr-36631/fuselage-ui-kit/106.6c2f2ba8.iframe.bundle.js
  pr-preview/pr-36631/fuselage-ui-kit/106.6c2f2ba8.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-36631/fuselage-ui-kit/106.6c2f2ba8.iframe.bundle.js.map
  pr-preview/pr-36631/fuselage-ui-kit/iframe.html
  pr-preview/pr-36631/fuselage-ui-kit/project.json
  pr-preview/pr-36631/fuselage-ui-kit/runtime~main.4cf54e81.iframe.bundle.js
  pr-preview/pr-36631/fuselage-ui-kit/runtime~main.c6151887.iframe.bundle.js
  pr-preview/pr-36631/gazzodown/Markup-stories.2c217820.iframe.bundle.js
  pr-preview/pr-36631/gazzodown/Markup-stories.2c217820.iframe.bundle.js.map
  pr-preview/pr-36631/gazzodown/Markup-stories.7fa6327c.iframe.bundle.js
  pr-preview/pr-36631/gazzodown/Markup-stories.7fa6327c.iframe.bundle.js.map
  pr-preview/pr-36631/gazzodown/iframe.html
  pr-preview/pr-36631/gazzodown/project.json
  pr-preview/pr-36631/gazzodown/runtime~main.656ebf9d.iframe.bundle.js
  pr-preview/pr-36631/gazzodown/runtime~main.c9745e09.iframe.bundle.js
  pr-preview/pr-36631/ui-composer/project.json
  pr-preview/pr-36631/uikit-playground/assets/CodeBlock-L-z-Z7TM.js
  pr-preview/pr-36631/uikit-playground/assets/KatexBlock-B5s6lZdY.js
  pr-preview/pr-36631/uikit-playground/assets/KatexBlock-Hdk-UYLQ.js
  pr-preview/pr-36631/uikit-playground/assets/KatexElement-BUnAJHm2.js
  pr-preview/pr-36631/uikit-playground/assets/KatexElement-CAiKmTI7.js
  pr-preview/pr-36631/uikit-playground/assets/import-C61whJjH.js
  pr-preview/pr-36631/uikit-playground/assets/import-I12oEXvJ.js
  pr-preview/pr-36631/uikit-playground/assets/index-DORNwfjd.js
  pr-preview/pr-36631/uikit-playground/index.html
Due: none

refactor: rename resolverBeforeInput function
  apps/meteor/app/ui-message/client/messageBox/createRichTextComposerAPI.ts
  apps/meteor/app/ui-message/client/messageBox/messageStateHandler.ts
  apps/meteor/client/views/room/composer/messageBox/RichTextMessageBox.tsx
Due: e2e, client

feat: update composer state formatting shortcuts
  apps/meteor/client/views/room/composer/messageBox/RichTextMessageBox.tsx
Due: e2e, client

fix: encryption toggle disabled/reset when toggling Private or Broadcast under E2E defaults
  apps/meteor/client/NavBarV2/NavBarPagesGroup/actions/CreateChannelModal.spec.tsx
  apps/meteor/client/NavBarV2/NavBarPagesGroup/actions/CreateChannelModal.tsx
  apps/meteor/client/NavBarV2/NavBarPagesGroup/actions/testCreateChannelModal.tsx
  apps/meteor/client/sidebar/header/CreateChannel/CreateChannelModal.spec.tsx
  apps/meteor/client/sidebar/header/CreateChannel/CreateChannelModal.tsx
Due: e2e, client

added changeset
  .changeset/loud-wombats-cross.md
Due: none

typo
  apps/meteor/client/NavBarV2/NavBarPagesGroup/actions/CreateChannelModal.tsx
Due: e2e, client

fix: media playback failing due to expired urls
  apps/meteor/app/file-upload/server/lib/FileUpload.ts
  apps/meteor/app/file-upload/server/lib/requests.ts
  apps/meteor/app/file-upload/ufs/AmazonS3/server.ts
  apps/meteor/client/components/message/content/attachments/file/AudioAttachment.tsx
  apps/meteor/client/components/message/content/attachments/file/VideoAttachment.tsx
  apps/meteor/client/components/message/content/attachments/file/hooks/useReloadOnError.tsx
  apps/meteor/server/ufs/ufs-store.ts
Due: e2e, e2e-api, client

added changeset
  .changeset/chatty-feet-ring.md
Due: none

minor changes
  apps/meteor/app/file-upload/server/lib/requests.ts
Due: e2e

added changeset
  .changeset/five-hotels-provide.md
Due: none

changeset
  .changeset/five-hotels-provide.md
Due: none

changeset
  .changeset/chatty-feet-ring.md
Due: none

minor changes
  apps/meteor/app/file-upload/server/lib/requests.ts
  apps/meteor/client/components/message/content/attachments/file/hooks/useReloadOnError.tsx
  apps/meteor/server/ufs/ufs-store.ts
Due: e2e, e2e-api, client

Deploy preview for PR 36622 🛫
  pr-preview/pr-36622/fuselage-ui-kit/106.6c2f2ba8.iframe.bundle.js
  pr-preview/pr-36622/fuselage-ui-kit/106.6c2f2ba8.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-36622/fuselage-ui-kit/106.6c2f2ba8.iframe.bundle.js.map
  pr-preview/pr-36622/fuselage-ui-kit/106.de3f0e65.iframe.bundle.js
  pr-preview/pr-36622/fuselage-ui-kit/106.de3f0e65.iframe.bundle.js.map
  pr-preview/pr-36622/fuselage-ui-kit/iframe.html
  pr-preview/pr-36622/fuselage-ui-kit/project.json
  pr-preview/pr-36622/fuselage-ui-kit/runtime~main.7a05d840.iframe.bundle.js
  pr-preview/pr-36622/fuselage-ui-kit/runtime~main.c6151887.iframe.bundle.js
  pr-preview/pr-36622/gazzodown/Markup-stories.55e9c501.iframe.bundle.js
  pr-preview/pr-36622/gazzodown/Markup-stories.55e9c501.iframe.bundle.js.map
  pr-preview/pr-36622/gazzodown/Markup-stories.7fa6327c.iframe.bundle.js
  pr-preview/pr-36622/gazzodown/Markup-stories.7fa6327c.iframe.bundle.js.map
  pr-preview/pr-36622/gazzodown/iframe.html
  pr-preview/pr-36622/gazzodown/project.json
  pr-preview/pr-36622/gazzodown/runtime~main.c9745e09.iframe.bundle.js
  pr-preview/pr-36622/gazzodown/runtime~main.dc18f432.iframe.bundle.js
  pr-preview/pr-36622/ui-composer/project.json
  pr-preview/pr-36622/uikit-playground/assets/CodeBlock-L-z-Z7TM.js
  pr-preview/pr-36622/uikit-playground/assets/KatexBlock-4mnFrpTn.js
  pr-preview/pr-36622/uikit-playground/assets/KatexBlock-B5s6lZdY.js
  pr-preview/pr-36622/uikit-playground/assets/KatexElement-BUnAJHm2.js
  pr-preview/pr-36622/uikit-playground/assets/KatexElement-DzudL6Lc.js
  pr-preview/pr-36622/uikit-playground/assets/import-BEBNx3PT.js
  pr-preview/pr-36622/uikit-playground/assets/import-I12oEXvJ.js
  pr-preview/pr-36622/uikit-playground/assets/index-DORNwfjd.js
  pr-preview/pr-36622/uikit-playground/index.html
Due: none

refactor: placeholder button becoming small when disabled
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/TemplatePlaceholderSelector/TemplatePlaceholderButton.tsx
Due: e2e, client

refactor: template improvements
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessagePreview/OutboundMessagePreview.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/forms/MessageForm.spec.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/steps/MessageStep.stories.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/steps/RecipientStep.spec.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/steps/ReviewStep.stories.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/RecipientSelect.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/TemplateEditor.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/TemplatePlaceholderSelector/TemplatePlaceholderInput.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/TemplatePreview.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/definitions/template.ts
  apps/meteor/client/components/Omnichannel/OutboundMessage/utils/template.ts
  apps/meteor/tests/mocks/data/outbound-message.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

minor change
  apps/meteor/app/file-upload/server/lib/requests.ts
Due: e2e

1
  apps/meteor/app/api/server/v1/users.ts
  apps/meteor/app/passkey/server/index.ts
  apps/meteor/client/hooks/usePasskeyGuide.tsx
  apps/meteor/client/providers/AuthenticationProvider/AuthenticationProvider.tsx
  apps/meteor/client/startup/appRoot.tsx
  apps/meteor/client/startup/components/PasskeyFirstCreate.tsx
  apps/meteor/client/startup/passkey.tsx
  apps/meteor/client/views/account/security/Passkey.tsx
  apps/meteor/client/views/account/security/PasskeyCreateModal.tsx
  apps/meteor/client/views/account/security/PasskeyEditModal.tsx
  apps/meteor/client/views/account/security/PasskeyFirstCreateModal.tsx
  apps/meteor/client/views/root/AppLayout.tsx
  apps/uikit-playground/src/main.tsx
  packages/web-ui-registration/src/LoginForm.tsx
Due: e2e, client

regression: fix typing streaming (#36708)
  apps/meteor/app/ui/client/lib/UserAction.ts
Due: e2e

Update apps/meteor/ee/app/livechat-enterprise/server/outboundcomms/rest.ts
  apps/meteor/ee/app/livechat-enterprise/server/outboundcomms/rest.ts
Due: e2e

expose skd.publish through ServerContext
  apps/meteor/client/providers/ServerProvider.tsx
  packages/mock-providers/src/MockedAppRootBuilder.tsx
  packages/ui-contexts/src/ServerContext/ServerContext.ts
  packages/ui-contexts/src/hooks/useWriteStream.ts
  packages/ui-contexts/src/index.ts
Due: e2e, client

chore: add realtime composer to feature preview options
  packages/i18n/src/locales/en.i18n.json
  packages/ui-client/src/hooks/useFeaturePreviewList.ts
Due: none

fix: the function action for UnauthorizedResult, ForbiddenResult
  apps/meteor/app/api/server/definition.ts
  apps/meteor/app/api/server/v1/channels.ts
  apps/meteor/tests/data/rooms.helper.ts
  apps/meteor/tests/end-to-end/api/channels.ts
Due: e2e

fix serverprovidermock
  apps/meteor/tests/mocks/client/ServerProviderMock.tsx
Due: e2e

refactor: added parameter name fallback
  apps/meteor/client/components/Omnichannel/OutboundMessage/utils/template.ts
Due: e2e, client

Fix jest type version
  packages/ui-contexts/package.json
  yarn.lock
Due: none

improve coverage
  packages/ui-contexts/src/hooks/useMediaDevicePermission.spec.tsx
Due: none

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
