Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

docs: adds .changeset
  .changeset/breezy-timers-flow.md
Due: none

chore: removes deprecated method addMonitor
  apps/meteor/ee/app/livechat-enterprise/server/index.ts
  apps/meteor/ee/app/livechat-enterprise/server/methods/addMonitor.ts
Due: e2e

docs: adds .changeset
  .changeset/nervous-melons-cough.md
Due: none

chore: adds required prop in response schema
  packages/rest-typings/src/v1/omnichannel.ts
Due: none

fix: License validations for federated rooms (#37523)
  .changeset/lemon-garlics-check.md
  apps/meteor/client/views/room/composer/ComposerContainer.tsx
  apps/meteor/client/views/room/composer/ComposerFederation/ComposerFederation.spec.tsx
  apps/meteor/client/views/room/composer/ComposerFederation/ComposerFederation.tsx
Due: e2e, client

test: strengthens admin sidebar locator
  apps/meteor/client/views/admin/sidebar/AdminSidebar.tsx
  apps/meteor/tests/e2e/page-objects/fragments/sidebar.ts
Due: e2e, client

chore: adds minor improvement to createTag helper
  apps/meteor/tests/e2e/utils/omnichannel/tags.ts
Due: e2e

fix: use mutation instead of query to mutate the commands state
  apps/meteor/client/hooks/useAppSlashCommands.ts
Due: e2e, client

chore: fix linting errors
  packages/apps-engine/tests/node-tests/server/accessors/ConfigurationModify.test.ts
  packages/apps-engine/tests/node-tests/server/runtime/DenoRuntimeSubprocessController.test.ts
  packages/apps-engine/tests/node-tests/server/runtime/deno/LivenessManager.test.ts
  packages/apps-engine/tests/test-data/utilities.ts
Due: none

chore: start test conversion from Alsatian to NodeJS
  packages/apps-engine/package.json
  packages/apps-engine/tests/node-tests/server/accessors/ConfigurationModify.test.ts
  packages/apps-engine/tests/node-tests/server/runtime/DenoRuntimeSubprocessController.test.ts
  packages/apps-engine/tests/node-tests/server/runtime/deno/LivenessManager.test.ts
  packages/apps-engine/tests/test-data/bridges/outboundComms.ts
  packages/apps-engine/tests/test-data/utilities.ts
Due: none

chore: changeset
  .changeset/fuzzy-plants-hammer.md
Due: none

test: Strengthens admin sidebar locator (#37665)
  apps/meteor/client/views/admin/sidebar/AdminSidebar.tsx
  apps/meteor/tests/e2e/page-objects/fragments/sidebar.ts
Due: e2e, client

Map dependencies in jest and storybook (fixing context mismatch)
  apps/meteor/.storybook/main.ts
  apps/meteor/jest.config.ts
Due: e2e

fix missing quote
  fuselage.sh
Due: none

chore(federation): rely on MongoDB client to parse db name instead of manual URL parsing (#37571)
  ee/packages/federation-matrix/src/setup.ts
Due: none

chore: update @rocket.chat/federation-sdk to version 0.3.2 across multiple packages
  apps/meteor/package.json
  ee/packages/federation-matrix/package.json
  packages/core-services/package.json
  yarn.lock
Due: e2e

remove
  ee/apps/account-service/package.json
  ee/apps/authorization-service/package.json
  ee/apps/ddp-streamer/package.json
  ee/apps/omnichannel-transcript/package.json
  ee/apps/presence-service/package.json
  ee/apps/queue-worker/package.json
  ee/apps/stream-hub-service/package.json
  yarn.lock
Due: none

remove mentions to freeswitch from the voip config modal
  apps/meteor/client/views/room/contextualBar/TeamsVoipConfigModal.tsx
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/nb.i18n.json
  packages/i18n/src/locales/nn.i18n.json
  packages/i18n/src/locales/pt-BR.i18n.json
  packages/i18n/src/locales/sv.i18n.json
Due: e2e, client

chore!: remove old voip permissions
  apps/meteor/app/api/server/lib/users.ts
  apps/meteor/app/api/server/v1/im.ts
  apps/meteor/app/authorization/server/constant/permissions.ts
  apps/meteor/app/lib/server/functions/getFullUserData.ts
  apps/meteor/app/lib/server/functions/saveUser/validateUserEditing.ts
  apps/meteor/client/views/admin/users/AdminUserForm.tsx
  apps/meteor/client/views/admin/users/UsersTable/UsersTable.tsx
  apps/meteor/client/views/admin/users/useShowVoipExtension.tsx
  apps/meteor/client/views/admin/users/useVoipExtensionPermission.tsx
  apps/meteor/ee/app/api-enterprise/server/voip-freeswitch.ts
  apps/meteor/server/startup/migrations/index.ts
  apps/meteor/server/startup/migrations/v325.ts
  apps/meteor/tests/end-to-end/api/users.ts
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/nb.i18n.json
  packages/i18n/src/locales/nn.i18n.json
  packages/i18n/src/locales/pt-BR.i18n.json
  packages/i18n/src/locales/sv.i18n.json
Due: e2e, e2e-api, client

chore: Remove event-loop-stats package (#37671)
  ee/apps/account-service/package.json
  ee/apps/authorization-service/package.json
  ee/apps/ddp-streamer/package.json
  ee/apps/omnichannel-transcript/package.json
  ee/apps/presence-service/package.json
  ee/apps/queue-worker/package.json
  ee/apps/stream-hub-service/package.json
  yarn.lock
Due: none

abac license module
  packages/core-typings/src/license/LicenseModule.ts
  packages/jwt/__tests__/jwt.spec.ts
Due: none

abac global enable setting
  apps/meteor/ee/server/configuration/abac.ts
  apps/meteor/ee/server/configuration/index.ts
  apps/meteor/ee/server/settings/abac.ts
Due: e2e

abac package and endpoints
  apps/meteor/ee/server/api/abac.ts
  apps/meteor/ee/server/api/index.ts
  apps/meteor/ee/server/settings/abac.ts
  apps/meteor/package.json
  ee/packages/abac/.eslintrc.json
  ee/packages/abac/jest.config.ts
  ee/packages/abac/package.json
  ee/packages/abac/src/index.ts
  ee/packages/abac/tsconfig.json
  yarn.lock
Due: e2e

permission
  apps/meteor/ee/server/api/abac.ts
  apps/meteor/ee/server/configuration/abac.ts
  apps/meteor/ee/server/lib/abac/index.ts
Due: e2e

abac model
  apps/meteor/server/models.ts
  packages/core-typings/src/IAbacAttribute.ts
  packages/core-typings/src/index.ts
  packages/model-typings/src/index.ts
  packages/model-typings/src/models/IAbacAttributesModel.ts
  packages/models/src/index.ts
  packages/models/src/modelClasses.ts
  packages/models/src/models/AbacAttributes.ts
Due: e2e, e2e-api

lint
  packages/model-typings/src/models/IAbacAttributesModel.ts
Due: none

translations
  packages/i18n/src/locales/en.i18n.json
Due: none

abac service
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  apps/meteor/ee/server/startup/services.ts
  ee/packages/abac/src/index.ts
  ee/packages/abac/tsconfig.json
  packages/core-services/src/index.ts
  packages/core-services/src/types/IAbacService.ts
Due: e2e

model
  packages/model-typings/src/models/IRoomsModel.ts
  packages/models/src/models/Rooms.ts
Due: none

abac flag
  ee/packages/abac/package.json
  ee/packages/abac/src/index.ts
  packages/core-typings/src/IRoom.ts
  yarn.lock
Due: none

Tests for other function
  ee/packages/abac/jest.config.ts
  ee/packages/abac/src/index.spec.ts
Due: none

attributes on room
  packages/core-typings/src/ABACAttributeDefinition.ts
  packages/core-typings/src/IRoom.ts
Due: none

tests
  ee/packages/abac/src/index.spec.ts
Due: none

create an abac attribute
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
  packages/core-typings/src/ABACAttributeDefinition.ts
  packages/core-typings/src/IAbacAttribute.ts
  packages/core-typings/src/IRoom.ts
  packages/models/src/models/AbacAttributes.ts
Due: e2e

update abac attributes
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
  packages/core-typings/src/IRoom.ts
  packages/models/src/models/Rooms.ts
Due: none

update abac attribute or values
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
Due: e2e

remove abac toggle endpoint
  apps/meteor/ee/server/api/abac/index.ts
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
Due: e2e

list attirbutes endpoint
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  ee/packages/abac/package.json
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
  yarn.lock
Due: e2e

delete
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
Due: none

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
