Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

..
  .github/actions/build-docker/action.yml
Due: none

Deploy preview for PR 33364 🛫
  pr-preview/pr-33364/fuselage-ui-kit/project.json
  pr-preview/pr-33364/gazzodown/project.json
Due: none

chore: Use `rmSync` instead of `rmdirSync` (#33551)
  packages/i18n/src/index.mjs
Due: none

deploy: e6a18c3dd7f687bee2ab320333043ee00adbb240
  develop/fuselage-ui-kit/main.2b6bb7d9.iframe.bundle.js
  develop/fuselage-ui-kit/project.json
  develop/gazzodown/project.json
Due: none

feat: add channelName property to ILivechatVisitor
  packages/core-typings/src/ILivechatVisitor.ts
Due: none

Deploy preview for PR 32779 🛫
  pr-preview/pr-32779/fuselage-ui-kit/main.32d42988.iframe.bundle.js
  pr-preview/pr-32779/fuselage-ui-kit/project.json
  pr-preview/pr-32779/gazzodown/project.json
  pr-preview/pr-32779/ui-composer/project.json
Due: none

feat: check only for visitors within the app context in the livechat apps bridge
  apps/meteor/app/apps/server/bridges/livechat.ts
  apps/meteor/app/apps/server/converters/visitors.js
  apps/meteor/server/models/raw/LivechatVisitors.ts
  packages/apps/src/converters/IAppVisitorsConverter.ts
  packages/model-typings/src/models/ILivechatVisitorsModel.ts
Due: e2e

feat: restrict visitors by channelName in the SMS messages flow
  apps/meteor/app/livechat/imports/server/rest/sms.ts
  apps/meteor/app/livechat/server/lib/LivechatTyped.ts
  apps/meteor/app/livechat/server/sendMessageBySMS.ts
Due: e2e

feat: restrict visitors by channelName in the Email inbox messages flow
  apps/meteor/server/features/EmailInbox/EmailInbox_Incoming.ts
Due: e2e

feat: restrict visitors by channelName in the API and Widget messages flows
  apps/meteor/app/livechat/imports/server/rest/upload.ts
  apps/meteor/app/livechat/server/api/lib/livechat.ts
  apps/meteor/app/livechat/server/api/v1/message.ts
  apps/meteor/app/livechat/server/methods/sendMessageLivechat.ts
Due: e2e

feat: restrict visitors by channelName in the UI kit messages flow
  apps/meteor/ee/server/apps/communication/uikit.ts
Due: e2e

Deploy preview for PR 33333 🛫
  pr-preview/pr-33333/fuselage-ui-kit/main.32d42988.iframe.bundle.js
  pr-preview/pr-33333/fuselage-ui-kit/project.json
  pr-preview/pr-33333/gazzodown/project.json
  pr-preview/pr-33333/ui-composer/project.json
Due: none

Deploy preview for PR 33529 🛫
  pr-preview/pr-33529/fuselage-ui-kit/main.2b6bb7d9.iframe.bundle.js
  pr-preview/pr-33529/fuselage-ui-kit/project.json
  pr-preview/pr-33529/gazzodown/project.json
Due: none

add force opt
  packages/i18n/src/index.mjs
Due: none

correct function on test
  packages/i18n/src/index.spec.mjs
Due: none

chore: remove nameInsensitive sorting on /v1/users.listByStatus (#33401)
  apps/meteor/app/api/server/lib/users.ts
Due: e2e

Deploy preview for PR 33238 🛫
  pr-preview/pr-33238/fuselage-ui-kit/main.32d42988.iframe.bundle.js
  pr-preview/pr-33238/fuselage-ui-kit/project.json
  pr-preview/pr-33238/gazzodown/project.json
  pr-preview/pr-33238/ui-composer/project.json
Due: none

deploy: 8c8238e8e2076d12670c69518cbf0fd6b9021a85
  develop/fuselage-ui-kit/main.2b6bb7d9.iframe.bundle.js
  develop/fuselage-ui-kit/project.json
  develop/gazzodown/project.json
Due: none

Deploy preview for PR 33503 🛫
  pr-preview/pr-33503/fuselage-ui-kit/main.32d42988.iframe.bundle.js
  pr-preview/pr-33503/fuselage-ui-kit/project.json
  pr-preview/pr-33503/gazzodown/project.json
  pr-preview/pr-33503/ui-composer/project.json
Due: none

Deploy preview for PR 33347 🛫
  pr-preview/pr-33347/fuselage-ui-kit/main.2b6bb7d9.iframe.bundle.js
  pr-preview/pr-33347/fuselage-ui-kit/project.json
  pr-preview/pr-33347/gazzodown/project.json
Due: none

feat: New outdated marketplace empty state
  .changeset/two-geckos-train.md
  apps/meteor/client/apps/orchestrator.ts
  apps/meteor/client/contexts/AppsContext.tsx
  apps/meteor/client/providers/AppsProvider/AppsProvider.tsx
  apps/meteor/client/views/marketplace/AppsPage/AppsPage.tsx
  apps/meteor/client/views/marketplace/AppsPage/AppsPageContent.tsx
  apps/meteor/client/views/marketplace/AppsPage/UnsupportedEmptyState.spec.tsx
  apps/meteor/client/views/marketplace/AppsPage/UnsupportedEmptyState.stories.tsx
  apps/meteor/client/views/marketplace/AppsPage/UnsupportedEmptyState.tsx
  apps/meteor/client/views/marketplace/components/MarketplaceHeader.tsx
  apps/meteor/client/views/marketplace/components/UpdateRocketChatBtn.tsx
  apps/meteor/client/views/marketplace/hooks/useFilteredApps.ts
  apps/meteor/ee/server/apps/communication/rest.ts
  apps/meteor/tests/mocks/client/marketplace.tsx
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

chore: Add `force` option to `rmSync` call (#33570)
  packages/i18n/src/index.mjs
  packages/i18n/src/index.spec.mjs
Due: none

deploy: dc4d24864757a9c0c413bd232e3c55ac8775e973
  develop/fuselage-ui-kit/main.2b6bb7d9.iframe.bundle.js
  develop/fuselage-ui-kit/project.json
  develop/gazzodown/project.json
Due: none

chore: refactor and remove bad ref pattern
  apps/meteor/client/views/marketplace/AppsPage/AppsPage.tsx
  apps/meteor/client/views/marketplace/AppsPage/AppsPageContent.tsx
  apps/meteor/client/views/marketplace/components/MarketplaceHeader.tsx
Due: e2e, client

Deploy preview for PR 33490 🛫
  pr-preview/pr-33490/fuselage-ui-kit/project.json
  pr-preview/pr-33490/gazzodown/project.json
Due: none

Deploy preview for PR 33484 🛫
  pr-preview/pr-33484/fuselage-ui-kit/main.2b6bb7d9.iframe.bundle.js
  pr-preview/pr-33484/fuselage-ui-kit/project.json
  pr-preview/pr-33484/gazzodown/project.json
Due: none

Deploy preview for PR 33349 🛫
  pr-preview/pr-33349/fuselage-ui-kit/main.2b6bb7d9.iframe.bundle.js
  pr-preview/pr-33349/fuselage-ui-kit/project.json
  pr-preview/pr-33349/gazzodown/project.json
Due: none

Deploy preview for PR 33238 🛫
  pr-preview/pr-33238/fuselage-ui-kit/project.json
  pr-preview/pr-33238/gazzodown/project.json
Due: none

replace channelName by source
  apps/meteor/app/apps/server/bridges/livechat.ts
  apps/meteor/app/apps/server/converters/visitors.js
  apps/meteor/app/livechat/imports/server/rest/sms.ts
  apps/meteor/app/livechat/imports/server/rest/upload.ts
  apps/meteor/app/livechat/server/api/lib/livechat.ts
  apps/meteor/app/livechat/server/api/v1/message.ts
  apps/meteor/app/livechat/server/lib/LivechatTyped.ts
  apps/meteor/app/livechat/server/methods/sendMessageLivechat.ts
  apps/meteor/app/livechat/server/sendMessageBySMS.ts
  apps/meteor/ee/server/apps/communication/uikit.ts
  apps/meteor/server/features/EmailInbox/EmailInbox_Incoming.ts
  apps/meteor/server/models/raw/LivechatVisitors.ts
  packages/apps/src/converters/IAppVisitorsConverter.ts
  packages/core-typings/src/ILivechatVisitor.ts
  packages/model-typings/src/models/ILivechatVisitorsModel.ts
Due: e2e

Remove channelName
  apps/meteor/app/apps/server/bridges/livechat.ts
  apps/meteor/app/apps/server/converters/visitors.js
  apps/meteor/server/features/EmailInbox/EmailInbox_Incoming.ts
  apps/meteor/server/models/raw/LivechatVisitors.ts
Due: e2e

Deploy preview for PR 33569 🛫
  pr-preview/pr-33569/fuselage-ui-kit/main.2b6bb7d9.iframe.bundle.js
  pr-preview/pr-33569/fuselage-ui-kit/project.json
  pr-preview/pr-33569/gazzodown/project.json
Due: none

Path conditions:
  e2e: any of: apps/meteor/
  client: any of: apps/meteor/client
