Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

Refactor a bunch of stuff
  apps/meteor/app/cloud/server/functions/buildRegistrationData.ts
  apps/meteor/app/cloud/server/functions/connectWorkspace.ts
  apps/meteor/app/cloud/server/functions/finishOAuthAuthorization.ts
  apps/meteor/app/cloud/server/functions/getConfirmationPoll.ts
  apps/meteor/app/cloud/server/functions/getUserCloudAccessToken.ts
  apps/meteor/app/cloud/server/functions/getWorkspaceAccessTokenWithScope.ts
  apps/meteor/app/cloud/server/functions/getWorkspaceLicense.ts
  apps/meteor/app/cloud/server/functions/registerPreIntentWorkspaceWizard.ts
  apps/meteor/app/cloud/server/functions/saveRegistrationData.ts
  apps/meteor/app/cloud/server/functions/startRegisterWorkspace.ts
  apps/meteor/app/cloud/server/functions/startRegisterWorkspaceSetupWizard.ts
  apps/meteor/app/cloud/server/functions/syncWorkspace.ts
  apps/meteor/app/cloud/server/functions/userLogout.ts
  apps/meteor/lib/errors/CloudWorkspaceAccessError.ts
  apps/meteor/lib/errors/CloudWorkspaceLicenseError.ts
  apps/meteor/package.json
  packages/core-typings/src/cloud/WorkspaceLicensePayload.ts
  packages/core-typings/src/cloud/WorkspaceSyncPayload.ts
  packages/core-typings/src/cloud/index.ts
  packages/rest-typings/src/v1/autotranslate/AutotranslateSaveSettingsParamsPOST.ts
  packages/rest-typings/src/v1/federation/FederationVerifyMatrixIdProps.ts
  packages/rest-typings/src/v1/moderation/ReportHistoryProps.ts
  packages/rest-typings/src/v1/omnichannel.ts
  yarn.lock
Due: e2e

Add model for cloud announcements
  apps/meteor/server/models/CloudAnnouncements.ts
  apps/meteor/server/models/raw/CloudAnnouncements.ts
  apps/meteor/server/models/startup.ts
  package.json
  packages/core-typings/.eslintrc.json
  packages/core-typings/src/cloud/SyncPayload.ts
  packages/model-typings/src/index.ts
  packages/model-typings/src/models/ICloudAnnouncentsModel.ts
  packages/models/src/index.ts
  yarn.lock
Due: e2e

Normalize registration data
  apps/meteor/app/cloud/server/functions/buildRegistrationData.ts
  apps/meteor/app/cloud/server/functions/syncWorkspace.ts
  apps/meteor/app/statistics/server/lib/statistics.ts
  packages/core-typings/src/IStats.ts
Due: e2e

Handle announcements on sync
  apps/meteor/app/cloud/server/functions/syncWorkspace.ts
Due: e2e

Use `suretype`
  apps/meteor/app/cloud/server/functions/syncWorkspace.ts
  apps/meteor/package.json
  yarn.lock
Due: e2e

chore: `ResetPasswordPage` a11y improvements (#30479)
  apps/meteor/tests/e2e/forgot-password.spec.ts
  apps/meteor/tests/e2e/page-objects/auth.ts
  apps/meteor/tests/e2e/reset-password.spec.ts
  packages/web-ui-registration/src/RegisterForm.tsx
  packages/web-ui-registration/src/ResetPassword/ResetPasswordPage.tsx
Due: e2e

add ee check
  apps/meteor/ee/client/omnichannel/reports/ReportsPage.tsx
Due: e2e

fix: hide Enterprise tag when is EE
  apps/meteor/client/views/account/accessibility/AccessibilityPage.tsx
Due: e2e, client

Create changeset
  .changeset/odd-hounds-thank.md
Due: none

regression: Reports button visible when downgrading from EE to CE (#30394)
  apps/meteor/client/views/omnichannel/sidebarItems.ts
  apps/meteor/ee/app/livechat-enterprise/client/views/livechatSideNavItems.ts
  apps/meteor/ee/client/omnichannel/reports/ReportsPage.tsx
Due: e2e, client

export internal license data when running with test_mode
  ee/packages/license/src/data.ts
  ee/packages/license/src/deprecated.ts
  ee/packages/license/src/encryptedLicense.ts
  ee/packages/license/src/fairPolicy.ts
  ee/packages/license/src/index.ts
  ee/packages/license/src/license.ts
  ee/packages/license/src/modules.ts
  ee/packages/license/src/pendingLicense.ts
  ee/packages/license/src/tags.ts
  ee/packages/license/src/validation/isReadyForValidation.ts
  ee/packages/license/src/validation/processValidationResult.ts
  ee/packages/license/src/validation/validateLicense.ts
Due: none

adding props to Card components
  packages/ui-client/src/components/Card/Card.tsx
  packages/ui-client/src/components/Card/CardBody.tsx
  packages/ui-client/src/components/Card/CardColTitle.tsx
Due: none

refactor: :recycle: Remove unnecessary link in analytics page
  apps/meteor/client/views/admin/viewLogs/AnalyticsReports.tsx
  apps/meteor/packages/rocketchat-i18n/i18n/en.i18n.json
Due: e2e, client

Do not check max rooms per guest on CE
  apps/meteor/ee/server/startup/maxRoomsPerGuest.ts
Due: e2e

Create changesets
  .changeset/neat-items-unite.md
Due: none

Update apps/meteor/client/views/admin/info/UsageCard.stories.tsx
  apps/meteor/client/views/admin/info/UsageCard.stories.tsx
Due: e2e, client

feat: :sparkles: Finish users table menu
  apps/meteor/client/views/admin/users/AdminUserInfoActions.tsx
  apps/meteor/client/views/admin/users/UsersTable/UsersTable.tsx
  apps/meteor/client/views/admin/users/UsersTable/UsersTableRow.tsx
Due: e2e, client

fix user dropdown menu position on RTL layout
  apps/meteor/client/sidebar/header/UserMenu.tsx
Due: e2e, client

fix: selected options not being displayed on `PaginatedMultiSelect` (#30470)
  apps/meteor/client/components/AutoCompleteDepartmentMultiple.tsx
  apps/meteor/ee/client/hooks/useTagsList.ts
  apps/meteor/ee/client/omnichannel/tags/AutoCompleteTagsMultiple.js
Due: e2e, client

refactor: wip - replace `Field.[SUBCOMPONENT]` usage in favor of named imports
  apps/meteor/client/components/CreateDiscussion/CreateDiscussion.tsx
  apps/meteor/client/components/Omnichannel/Tags.tsx
  apps/meteor/client/components/Omnichannel/modals/CloseChatModal.tsx
  apps/meteor/client/components/Omnichannel/modals/ForwardChatModal.tsx
  apps/meteor/client/components/Omnichannel/modals/TranscriptModal.tsx
  apps/meteor/client/components/TwoFactorModal/TwoFactorEmailModal.tsx
  apps/meteor/client/components/TwoFactorModal/TwoFactorPasswordModal.tsx
Due: e2e, client

Fix dependencies
  yarn.lock
Due: none

Declare new endpoint
  apps/meteor/app/api/server/v1/cloud.ts
  packages/core-typings/src/cloud/Announcement.ts
  packages/core-typings/src/cloud/TargetPlatform.ts
  packages/core-typings/src/cloud/index.ts
  packages/rest-typings/src/v1/cloud.ts
Due: e2e

re-build isolated-vm from inside docker when using alpine
  apps/meteor/.docker/Dockerfile.alpine
Due: e2e

initial improvements
  apps/meteor/app/api/server/v1/groups.ts
  apps/meteor/app/lib/server/functions/createRoom.ts
  apps/meteor/app/lib/server/methods/createPrivateGroup.ts
  apps/meteor/server/lib/roles/addUserRoles.ts
  apps/meteor/server/models/raw/Subscriptions.ts
  packages/core-services/src/types/IRoomService.ts
Due: e2e

chore: cache legacy omnichannel analytics
  apps/meteor/app/livechat/imports/server/rest/dashboards.ts
  apps/meteor/app/livechat/server/api/v1/statistics.ts
  apps/meteor/app/livechat/server/lib/Analytics.js
  apps/meteor/app/livechat/server/lib/AnalyticsTyped.ts
  apps/meteor/app/livechat/server/lib/analytics/dashboards.ts
Due: e2e

cache realtime data for only 5 seconds
  apps/meteor/app/livechat/server/lib/analytics/dashboards.ts
Due: e2e

showing %s instead of passwort
  apps/meteor/packages/rocketchat-i18n/i18n/de.i18n.json
Due: e2e

regression: livechat uikit actions not working
  packages/livechat/src/lib/random.ts
Due: none

add method to fetch reported users
  apps/meteor/app/api/server/v1/moderation.ts
  apps/meteor/server/models/raw/ModerationReports.ts
  packages/model-typings/src/models/IModerationReportsModel.ts
  packages/rest-typings/src/v1/moderation/moderation.ts
Due: e2e

fix: Microsoft autotranslate not working (#30390)
  apps/meteor/app/autotranslate/server/msTranslate.ts
Due: e2e

regression: livechat uiKit actions not working (#30484)
  packages/livechat/src/lib/random.ts
Due: none

fix: 'Forward to department' field not lazy loading
  apps/meteor/client/components/Omnichannel/modals/ForwardChatModal.tsx
Due: e2e, client

add model definitions
  apps/meteor/server/models/raw/Users.js
  packages/model-typings/src/models/IUsersModel.ts
Due: e2e

adjust packages
  ee/packages/license/jest.config.ts
  ee/packages/license/package.json
  packages/jwt/package.json
  packages/jwt/tsconfig.json
  yarn.lock
Due: none

create custom errors
  ee/packages/license/src/errors/InvalidLicenseError.ts
  ee/packages/license/src/errors/NotReadyForValidation.ts
Due: none

fix usages of createRoom with new signature
  apps/meteor/app/apps/server/bridges/rooms.ts
  apps/meteor/app/discussion/server/methods/createDiscussion.ts
  apps/meteor/app/importer/server/classes/ImportDataConverter.ts
  apps/meteor/app/lib/server/methods/createChannel.ts
  apps/meteor/app/meteor-accounts-saml/server/lib/SAML.ts
  apps/meteor/app/slashcommands-create/server/server.ts
  apps/meteor/app/slashcommands-inviteall/server/server.ts
  apps/meteor/ee/server/lib/ldap/Manager.ts
  apps/meteor/ee/server/lib/oauth/Manager.ts
  apps/meteor/server/methods/createDirectMessage.ts
  apps/meteor/server/services/federation/infrastructure/rocket-chat/adapters/Room.ts
  apps/meteor/server/services/room/service.ts
Due: e2e

Path conditions:
  e2e: any of: apps/meteor/
  client: any of: apps/meteor/client
