Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true
  
  e2e-api:
    paths:
      - apps/meteor/server
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'
fixes:
  - '/home/runner/work/Rocket.Chat/Rocket.Chat/::'

test(flaky): ensure agent info is saved before reopening tab (#35910)
  apps/meteor/tests/e2e/e2e-encryption.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-agents.spec.ts
Due: e2e

test: Adjusted contact review e2e test to prevent possible flaky behavior (#35911)
  apps/meteor/tests/e2e/omnichannel/omnichannel-contact-conflict-review.spec.ts
Due: e2e

Deploy preview for PR 35843 🛫
  pr-preview/pr-35843/fuselage-ui-kit/project.json
  pr-preview/pr-35843/gazzodown/project.json
  pr-preview/pr-35843/ui-composer/project.json
Due: none

regression: close idle connections
  apps/meteor/client/hooks/useIdleConnection.ts
Due: e2e, client

Deploy preview for PR 35906 🛫
  pr-preview/pr-35906/fuselage-ui-kit/project.json
  pr-preview/pr-35906/gazzodown/project.json
  pr-preview/pr-35906/ui-composer/project.json
Due: none

plim
  apps/meteor/client/hooks/useIdleConnection.ts
  apps/meteor/client/providers/UserProvider/UserProvider.tsx
Due: e2e, client

test: flaky feature preview tests (#35891)
  apps/meteor/tests/e2e/feature-preview.spec.ts
  apps/meteor/tests/e2e/message-mentions.spec.ts
  apps/meteor/tests/e2e/page-objects/fragments/home-content.ts
Due: e2e

regression: fix jump from message lists (#35880)
  apps/meteor/app/ui-utils/client/lib/RoomHistoryManager.ts
  apps/meteor/client/components/message/list/MessageListContext.tsx
  apps/meteor/client/lib/utils/legacyJumpToMessage.ts
  apps/meteor/client/views/room/MessageList/hooks/useJumpToMessage.ts
  apps/meteor/client/views/room/MessageList/providers/MessageListProvider.tsx
  apps/meteor/client/views/room/body/RoomBody.tsx
  apps/meteor/client/views/room/body/RoomBodyV2.tsx
  apps/meteor/client/views/room/body/hooks/useGetMore.spec.ts
  apps/meteor/client/views/room/body/hooks/useGetMore.ts
  apps/meteor/client/views/room/composer/hooks/useMessageComposerMergedRefs.ts
  apps/meteor/client/views/room/contextualBar/Threads/components/ThreadMessageList.tsx
Due: e2e, client

regression: `NavbarSearch` closing list when clicking on field (#35909)
  apps/meteor/client/NavBarV2/NavBarSearch/NavBarSearch.tsx
  apps/meteor/client/NavBarV2/NavBarSearch/hooks/useSearchClick.ts
Due: e2e, client

translate utils
  apps/meteor/app/utils/lib/i18n.ts
  apps/meteor/client/providers/TranslationProvider.tsx
  apps/meteor/package.json
  apps/meteor/server/lib/i18n.ts
  packages/i18n-utils/.eslintrc.json
  packages/i18n-utils/CHANGELOG.md
  packages/i18n-utils/package.json
  packages/i18n-utils/src/index.ts
  packages/i18n-utils/tsconfig.json
  packages/tools/src/index.ts
  packages/tools/src/isObject.ts
  yarn.lock
Due: e2e, e2e-api, client

regression: close idle connections (#35912)
  apps/meteor/client/hooks/useIdleConnection.ts
  apps/meteor/client/providers/UserProvider/UserProvider.tsx
Due: e2e, client

tools
  packages/i18n-utils/package.json
  yarn.lock
Due: none

regression: `audit.settings` endpoint not behind license module (#35906)
  apps/meteor/app/api/server/index.ts
  apps/meteor/app/api/server/v1/server-events.ts
  apps/meteor/ee/server/api/audit.ts
  apps/meteor/tests/end-to-end/api/settings.ts
Due: e2e

chore: remove startup from Meteor
  apps/meteor/client/hooks/useStartup.ts
  apps/meteor/client/startup/index.ts
  apps/meteor/client/views/root/AppLayout.tsx
Due: e2e, client

chore: delete deprecated startup
  apps/meteor/client/startup/startup.ts
Due: e2e, client

chore: prevent multiple listener.once `updateSubscription` (#35908)
  apps/meteor/client/lib/chats/readStateManager.ts
  apps/meteor/client/views/room/providers/hooks/useChatMessagesInstance.spec.ts
  apps/meteor/client/views/room/providers/hooks/useChatMessagesInstance.ts
Due: e2e, client

test: Added uuid to createUnit default name to prevent name collisions (#35738)
  apps/meteor/tests/data/livechat/units.ts
Due: e2e

requested changes
  apps/meteor/client/lib/utils/isKeyboardNavigationActive.ts
  apps/meteor/client/views/room/contextualBar/NotificationPreferences/NotificationPreferences.tsx
  apps/meteor/client/views/room/contextualBar/NotificationPreferences/NotificationPreferencesForm.tsx
  apps/meteor/client/views/room/contextualBar/NotificationPreferences/components/NotificationToggle.tsx
Due: e2e, client

Deploy preview for PR 35470 🛫
  pr-preview/pr-35470/fuselage-ui-kit/project.json
  pr-preview/pr-35470/gazzodown/project.json
Due: none

chore: use only highlight.js 11.8.0 (#35572)
  apps/meteor/app/markdown/lib/hljs.js
  apps/meteor/client/startup/startup.ts
  apps/meteor/client/views/root/lib/codeBlockStyles.ts
  apps/meteor/package.json
  apps/meteor/tests/unit/app/markdown/client.tests.js
  yarn.lock
Due: e2e, client

fix: "High scalability" typo (#35903)
  .changeset/serious-ads-guess.md
  apps/meteor/client/views/admin/subscription/components/cards/FeaturesCard.tsx
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/es.i18n.json
  packages/i18n/src/locales/hi-IN.i18n.json
  packages/i18n/src/locales/nb.i18n.json
  packages/i18n/src/locales/nn.i18n.json
Due: e2e, client

Rearrange `@rocket.chat/i18n` build scripts
  packages/i18n/package.json
  packages/i18n/src/index.mjs
  packages/i18n/src/index.spec.mjs
  packages/i18n/src/scripts/index.mjs
  packages/i18n/src/scripts/normalize.mjs
  packages/i18n/src/scripts/normalize.spec.mjs
Due: none

chore: add import for ajv in ldap.ts
  apps/meteor/app/api/server/v1/ldap.ts
Due: e2e

chore: translation fix
  packages/i18n/src/locales/ar.i18n.json
  packages/i18n/src/locales/ca.i18n.json
  packages/i18n/src/locales/cs.i18n.json
  packages/i18n/src/locales/es.i18n.json
  packages/i18n/src/locales/fr.i18n.json
  packages/i18n/src/locales/it.i18n.json
  packages/i18n/src/locales/ko.i18n.json
  packages/i18n/src/locales/pl.i18n.json
  packages/i18n/src/locales/pt-BR.i18n.json
  packages/i18n/src/locales/ru.i18n.json
  packages/i18n/src/locales/uk.i18n.json
Due: none

Deploy preview for PR 35916 🛫
  pr-preview/pr-35916/fuselage-ui-kit/project.json
  pr-preview/pr-35916/gazzodown/project.json
Due: none

Move i18n utilities
  apps/meteor/app/utils/lib/i18n.ts
  apps/meteor/client/providers/TranslationProvider.tsx
  apps/meteor/package.json
  apps/meteor/server/lib/i18n.ts
  packages/i18n-utils/.eslintrc.json
  packages/i18n-utils/CHANGELOG.md
  packages/i18n-utils/package.json
  packages/i18n-utils/tsconfig.json
  packages/i18n/package.json
  packages/i18n/src/index.ts
  packages/i18n/src/scripts/index.mjs
  packages/i18n/tsconfig.cjs.json
  packages/i18n/tsconfig.esm.json
  yarn.lock
Due: e2e, e2e-api, client
