Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

feat(abac): cascade ABAC_Attribute_Store=local when ABAC_PDP_Type set to local
  ee/packages/abac/src/index.ts
  ee/packages/abac/src/service.spec.ts
Due: none

types
  apps/meteor/app/api/server/lib/rooms.ts
  apps/meteor/app/api/server/lib/scopeAdminRoomForAbac.ts
  apps/meteor/app/api/server/lib/scopeAdminRoomsForAbac.ts
  apps/meteor/app/api/server/v1/rooms.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  ee/packages/abac/src/index.ts
  ee/packages/abac/src/store/LocalAttributeStore.ts
  ee/packages/abac/src/store/VirtruAttributeStore.ts
  ee/packages/abac/src/store/types.ts
  packages/core-services/src/types/IAbacService.ts
  packages/core-typings/src/IRoom.ts
  packages/rest-typings/src/v1/rooms.ts
Due: e2e

minor improvements
  apps/meteor/client/views/admin/ABAC/ABACSettingTab/SettingsPage.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACRoute.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACTabs.tsx
  apps/meteor/tests/end-to-end/api/abac.ts
  ee/packages/abac/src/index.ts
  ee/packages/abac/src/service.spec.ts
  ee/packages/abac/src/store/LocalAttributeStore.spec.ts
  ee/packages/abac/src/store/LocalAttributeStore.ts
  ee/packages/abac/src/store/VirtruAttributeStore.spec.ts
  ee/packages/abac/src/store/VirtruAttributeStore.ts
  ee/packages/abac/src/store/types.ts
Due: e2e, client

one audit less
  ee/packages/abac/src/index.ts
  ee/packages/abac/src/service.spec.ts
Due: none

better error
  ee/packages/abac/src/errors.ts
  ee/packages/abac/src/store/VirtruAttributeStore.spec.ts
  ee/packages/abac/src/store/VirtruAttributeStore.ts
Due: none

nits
  apps/meteor/ee/server/configuration/abac.ts
  ee/packages/abac/src/audit.ts
  ee/packages/abac/src/index.ts
  ee/packages/abac/src/service.spec.ts
  ee/packages/abac/src/store/LocalAttributeStore.ts
  ee/packages/abac/src/store/VirtruAttributeStore.spec.ts
  ee/packages/abac/src/store/VirtruAttributeStore.ts
  packages/core-typings/src/ServerAudit/IAuditServerAbacAction.ts
Due: e2e

better caching
  ee/packages/abac/src/store/VirtruAttributeStore.spec.ts
  ee/packages/abac/src/store/VirtruAttributeStore.ts
Due: none

log malformed
  apps/meteor/ee/server/api/abac/index.ts
  ee/packages/abac/src/clients/virtru/VirtruClient.spec.ts
  ee/packages/abac/src/clients/virtru/VirtruClient.ts
  ee/packages/abac/src/clients/virtru/identity.spec.ts
  ee/packages/abac/src/clients/virtru/identity.ts
  ee/packages/abac/src/index.ts
  ee/packages/abac/src/store/VirtruAttributeStore.spec.ts
  ee/packages/abac/src/store/VirtruAttributeStore.ts
Due: e2e

log
  ee/packages/abac/src/store/VirtruAttributeStore.spec.ts
  ee/packages/abac/src/store/VirtruAttributeStore.ts
Due: none

license
  ee/packages/abac/package.json
  ee/packages/abac/src/index.ts
  ee/packages/abac/src/service.spec.ts
Due: none

fix(abac): resolve attribute store from a live license check
  apps/meteor/ee/server/configuration/abac.ts
  ee/packages/abac/src/index.ts
  ee/packages/abac/src/service.spec.ts
  packages/core-services/src/types/IAbacService.ts
Due: e2e

fix(abac): seed hasAbacLicense from License service on start
  ee/packages/abac/src/index.ts
  ee/packages/abac/src/service.spec.ts
Due: none

fix(abac): refresh license state on reevaluateAttributeStore
  ee/packages/abac/src/index.ts
Due: none

fix(abac): treat failed decision calls as PDP-unavailable; fix e2e setup
  apps/meteor/tests/end-to-end/api/abac.ts
  ee/packages/abac/src/store/VirtruAttributeStore.spec.ts
  ee/packages/abac/src/store/VirtruAttributeStore.ts
Due: e2e

add validation to remove action
  ee/packages/abac/src/index.ts
Due: none

chore(ci): propagate LOG_LEVEL to microservices
  docker-compose-ci.yml
  packages/logger/src/index.ts
Due: none

simplify
  apps/meteor/client/views/admin/ABAC/ABACLogsTab/LogsPage.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACRoute.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACTabs.tsx
  apps/meteor/client/views/admin/ABAC/hooks/useIsExternalAttributeStore.ts
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/hooks/abac/scopeAdminRoomsForAbac.ts
  ee/packages/abac/src/clients/virtru/VirtruClient.ts
  ee/packages/abac/src/pdp/VirtruPDP.ts
  ee/packages/abac/src/service.spec.ts
  ee/packages/abac/src/store/VirtruAttributeStore.ts
Due: e2e, client

wrong test
  ee/packages/abac/src/store/VirtruAttributeStore.spec.ts
Due: none

store selection
  ee/packages/abac/src/index.ts
  ee/packages/abac/src/service.spec.ts
  ee/packages/abac/src/store/VirtruAttributeStore.spec.ts
  ee/packages/abac/src/store/VirtruAttributeStore.ts
  ee/packages/abac/src/store/index.ts
  ee/packages/abac/src/store/types.ts
  packages/i18n/src/locales/en.i18n.json
Due: none

imp
  apps/meteor/app/api/server/lib/rooms.ts
  apps/meteor/app/api/server/v1/rooms.ts
  ee/packages/abac/src/audit.spec.ts
  ee/packages/abac/src/helper.ts
  ee/packages/abac/src/index.ts
  ee/packages/abac/src/store/LocalAttributeStore.ts
  ee/packages/abac/src/store/VirtruAttributeStore.ts
  packages/core-typings/src/Abac.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e

tests
  ee/packages/abac/src/service.spec.ts
  ee/packages/abac/src/store/VirtruAttributeStore.spec.ts
  ee/packages/abac/src/store/VirtruAttributeStore.ts
  ee/packages/abac/src/user-auto-removal.spec.ts
Due: none

remove old license tests
  apps/meteor/tests/end-to-end/api/abac.ts
Due: e2e

log
  ee/packages/abac/src/service.spec.ts
Due: none

Update index.ts
  packages/logger/src/index.ts
Due: none

store transition
  ee/packages/abac/src/index.ts
  ee/packages/abac/src/service.spec.ts
Due: none

sec
  docker-compose-ci.yml
  ee/packages/abac/src/clients/virtru/VirtruClient.ts
  yarn.lock
Due: none

staleTime 0 when using an external store
  apps/meteor/client/views/admin/ABAC/ABACRoomsTab/RoomsPage.tsx
Due: e2e, client

tests
  apps/meteor/ee/server/hooks/abac/scopeAdminRoomsForAbac.ts
  ee/packages/abac/src/clients/virtru/identity.spec.ts
  ee/packages/abac/src/index.ts
  ee/packages/abac/src/service.spec.ts
Due: e2e

fix tests
  apps/meteor/tests/end-to-end/api/abac.ts
Due: e2e

fixes:
  ee/packages/abac/src/clients/virtru/VirtruClient.spec.ts
  ee/packages/abac/src/clients/virtru/VirtruClient.ts
  ee/packages/abac/src/index.ts
  ee/packages/abac/src/service.spec.ts
Due: none

scope room list
  apps/meteor/app/api/server/lib/rooms.ts
  apps/meteor/app/api/server/v1/rooms.ts
  apps/meteor/ee/server/hooks/abac/scopeAdminRoomForAbac.ts
  packages/rest-typings/src/v1/rooms.ts
Due: e2e

lint
  ee/packages/abac/src/service.spec.ts
Due: none

remove superfluous tests
  apps/meteor/tests/end-to-end/api/abac.ts
  ee/packages/abac/src/service.spec.ts
  ee/packages/abac/src/store/LocalAttributeStore.spec.ts
Due: e2e

unify
  apps/meteor/ee/server/hooks/abac/index.ts
  apps/meteor/ee/server/hooks/abac/scopeAdminRoomForAbac.ts
  apps/meteor/ee/server/hooks/abac/scopeAdminRoomsForAbac.ts
  ee/packages/abac/src/service.spec.ts
Due: e2e

turbo
  turbo.json
Due: none

simplify a lil bit
  apps/meteor/ee/server/hooks/abac/scopeAdminRoomsForAbac.ts
  ee/packages/abac/src/index.ts
  ee/packages/abac/src/store/VirtruAttributeStore.ts
Due: e2e

merge hook
  apps/meteor/app/api/server/lib/rooms.ts
  apps/meteor/app/api/server/lib/scopeAdminRoomForAbac.ts
  apps/meteor/ee/server/hooks/abac/scopeAdminRoomsForAbac.ts
  ee/packages/abac/src/service.spec.ts
Due: e2e

feat(abac): add bypass-abac-store-validation permission
  apps/meteor/ee/server/lib/abac/index.ts
  apps/meteor/tests/end-to-end/api/abac.ts
  ee/packages/abac/src/index.ts
  ee/packages/abac/src/service.spec.ts
  ee/packages/abac/src/user-auto-removal.spec.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e

test(abac): post a new key in assertCanModifyRoom bypass test
  apps/meteor/tests/end-to-end/api/abac.ts
Due: e2e

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
