Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

fix changed signatures
  packages/ui-voip/src/providers/useMediaSession.ts
Due: none

refactor: remove redundant null check for integration.script
  packages/core-typings/src/IIntegration.ts
Due: none

chore: return the test as it was
  apps/meteor/tests/end-to-end/api/incoming-integrations.ts
Due: e2e

add more history
  packages/e2ee/docs/NOTES.md
Due: none

fix initial handshake
  apps/meteor/client/lib/e2ee/rocketchat.e2e.room.ts
Due: e2e, client

reduce logs
  apps/meteor/client/lib/e2ee/rocketchat.e2e.room.ts
Due: e2e, client

comment out duplicate room waiting
  apps/meteor/client/views/root/hooks/loggedIn/useE2EEncryption.ts
Due: e2e, client

make tests run independent of cwd
  apps/meteor/client/lib/e2ee/rocketchat.e2e.room.ts
  apps/meteor/tests/e2e/page-objects/fragments/home-content.ts
  apps/meteor/tests/e2e/utils/getFilePath.ts
Due: e2e, client

remove unneeded shouldConvertReceivedMessages method
  apps/meteor/client/lib/e2ee/rocketchat.e2e.room.ts
  apps/meteor/client/views/room/ImageGallery/hooks/useImagesList.ts
  apps/meteor/client/views/room/contextualBar/RoomFiles/hooks/useFilesList.ts
  apps/meteor/client/views/root/hooks/loggedIn/useE2EEncryption.ts
Due: e2e, client

update state diagrams
  packages/e2ee/docs/state_v1.mmd
  packages/e2ee/docs/state_v2.mmd
  packages/e2ee/docs/state_v3.mmd
  packages/e2ee/docs/state_v4.mmd
Due: none

fix: clean up some code and delete irrelevant tests
  apps/meteor/client/views/directory/tabs/teams/TeamsTab.tsx
  apps/meteor/server/methods/browseChannels.ts
  apps/meteor/server/methods/channelsList.ts
  apps/meteor/server/services/authorization/canAccessRoom.ts
  apps/meteor/tests/e2e/page-objects/directory.ts
  apps/meteor/tests/e2e/private-e2e-channels-override.spec.ts
  apps/meteor/tests/e2e/private-e2e-teams-override.spec.ts
  apps/meteor/tests/e2e/private-rooms-override.spec.ts
  apps/meteor/tests/e2e/private-team-override.spec.ts
  packages/model-typings/src/models/IRoomsModel.ts
  packages/models/src/models/Rooms.ts
Due: e2e, e2e-api, client

fix: delete codes about 'sidepanel'
  packages/model-typings/src/models/IRoomsModel.ts
  packages/models/src/models/Rooms.ts
Due: none

fix TS
  apps/meteor/client/hooks/iframe/useIframe.ts
Due: e2e, client

creates monolith API for federation
  apps/meteor/app/api/server/api.ts
  apps/meteor/server/services/startup.ts
  yarn.lock
Due: e2e, e2e-api

getting it to build with homeserver code, too noisy to squashing
  yarn.lock
Due: none

fix: makes getMatrixLocalDomain to clean the response string
  ee/packages/federation-matrix/src/helpers/domain.builder.spec.ts
Due: none

feat: adds files support
  apps/meteor/app/file-upload/server/config/MatrixRemote.ts
  apps/meteor/app/file-upload/server/config/_configUploadStorage.ts
  apps/meteor/app/file-upload/server/lib/FileUpload.ts
  apps/meteor/server/services/messages/service.ts
  ee/packages/federation-matrix/src/FederationMatrix.ts
  ee/packages/federation-matrix/src/api/_matrix/media.ts
  ee/packages/federation-matrix/src/events/message.ts
  ee/packages/federation-matrix/src/services/MatrixMediaService.ts
  ee/packages/federation-matrix/src/types/IUploadWithFederation.ts
  packages/core-services/src/types/IFederationMatrixService.ts
  packages/core-services/src/types/IMessageService.ts
  packages/core-typings/src/IUpload.ts
Due: e2e, e2e-api

chore: kek
  ee/packages/federation-matrix/src/services/MatrixMediaService.ts
Due: none

feat: add openapi support for push.test API
  apps/meteor/app/api/server/v1/push.ts
Due: e2e

refactor: remove the unused imports from `rest-typings`.
  packages/rest-typings/src/v1/push.ts
Due: none

Create spicy-drinks-carry.md
  .changeset/spicy-drinks-carry.md
Due: none

i18n: Outbound message pt-BR and en-US translations (#36878)
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/pt-BR.i18n.json
Due: none

fix: empty rendering
  apps/meteor/client/views/admin/users/UsersTable/UsersTable.tsx
Due: e2e, client

moved logic out of the service processor
  ee/packages/media-calls/src/internal/agents/CallSignalProcessor.ts
  ee/packages/media-calls/src/server/CallDirector.ts
  packages/media-signaling/src/definition/services/webrtc/IWebRTCProcessor.ts
  packages/media-signaling/src/lib/Call.ts
  packages/media-signaling/src/lib/services/webrtc/Processor.ts
Due: none

add changeset
  .changeset/curvy-cars-attend.md
Due: none

Changes after review
  apps/meteor/client/components/avatar/UserAvatarEditor/UserAvatarEditor.tsx
Due: e2e, client

chore(fuselage): Remove references to deprecated `Grid.Item` component (#36879)
  apps/meteor/client/components/dataView/CounterSet.tsx
  apps/meteor/client/views/admin/subscription/SubscriptionPage.tsx
  apps/meteor/client/views/admin/subscription/SubscriptionPageSkeleton.tsx
  apps/meteor/client/views/home/HomepageGridItem.tsx
  packages/fuselage-ui-kit/src/blocks/SectionBlock.Fields.tsx
  packages/fuselage-ui-kit/src/blocks/SectionBlock.tsx
Due: e2e, client

refactor: decouple users table data
  apps/meteor/client/views/admin/users/AdminUsersPage.tsx
  apps/meteor/client/views/admin/users/UsersTable/UsersTable.spec.tsx
  apps/meteor/client/views/admin/users/UsersTable/UsersTable.stories.tsx
  apps/meteor/client/views/admin/users/UsersTable/UsersTable.tsx
  apps/meteor/client/views/admin/users/UsersTable/__snapshots__/UsersTable.spec.tsx.snap
Due: e2e, client

chore: fixing conflicts
  apps/meteor/server/services/messages/service.ts
  apps/meteor/server/services/startup.ts
  ee/packages/federation-matrix/src/FederationMatrix.ts
  ee/packages/federation-matrix/src/api/_matrix/media.ts
  ee/packages/federation-matrix/src/events/message.ts
  yarn.lock
Due: e2e, e2e-api

chore: fixing conflicts
  apps/meteor/app/api/server/api.ts
  ee/packages/federation-matrix/src/helpers/domain.builder.spec.ts
Due: e2e

renegotiation is working
  packages/media-signaling/src/definition/signals/client/error.ts
  packages/media-signaling/src/lib/Call.ts
  packages/media-signaling/src/lib/TransportWrapper.ts
  packages/media-signaling/src/lib/services/webrtc/Processor.ts
  packages/media-signaling/src/lib/utils/getExternalWaiter.ts
Due: none

chore: fixing conflicts
  ee/packages/federation-matrix/src/api/_matrix/media.ts
Due: none

code cleaning; report negotiation state
  ee/packages/media-calls/src/internal/SignalProcessor.ts
  ee/packages/media-calls/src/internal/agents/CallSignalProcessor.ts
  ee/packages/media-calls/src/server/CallDirector.ts
  packages/media-signaling/src/definition/signals/client/local-state.ts
  packages/media-signaling/src/lib/Call.ts
  packages/media-signaling/src/lib/services/webrtc/Processor.ts
  packages/models/src/models/MediaCallNegotiations.ts
Due: none

cleaning
  packages/media-signaling/src/lib/services/webrtc/Processor.ts
Due: none

eslint
  packages/media-signaling/src/lib/utils/getExternalWaiter.ts
Due: none

feat: webrtc renegotiation (#36874)
  apps/meteor/server/models.ts
  ee/packages/media-calls/src/base/BaseAgent.ts
  ee/packages/media-calls/src/definition/IMediaCallAgent.ts
  ee/packages/media-calls/src/internal/SignalProcessor.ts
  ee/packages/media-calls/src/internal/agents/BaseUserAgent.ts
  ee/packages/media-calls/src/internal/agents/CallSignalProcessor.ts
  ee/packages/media-calls/src/internal/agents/CalleeAgent.ts
  ee/packages/media-calls/src/internal/agents/CallerAgent.ts
  ee/packages/media-calls/src/server/CallDirector.ts
  packages/core-typings/src/mediaCalls/IMediaCall.ts
  packages/core-typings/src/mediaCalls/IMediaCallNegotiation.ts
  packages/core-typings/src/mediaCalls/index.ts
  packages/media-signaling/src/definition/call/IClientMediaCall.ts
  packages/media-signaling/src/definition/client.ts
  packages/media-signaling/src/definition/services/IServiceProcessor.ts
  packages/media-signaling/src/definition/services/webrtc/IWebRTCProcessor.ts
  packages/media-signaling/src/definition/signals/client/MediaSignal.ts
  packages/media-signaling/src/definition/signals/client/error.ts
  packages/media-signaling/src/definition/signals/client/index.ts
  packages/media-signaling/src/definition/signals/client/local-sdp.ts
  packages/media-signaling/src/definition/signals/client/local-state.ts
  packages/media-signaling/src/definition/signals/client/negotiation-needed.ts
  packages/media-signaling/src/definition/signals/server/remote-sdp.ts
  packages/media-signaling/src/definition/signals/server/request-offer.ts
  packages/media-signaling/src/lib/Call.ts
  packages/media-signaling/src/lib/Session.ts
  packages/media-signaling/src/lib/TransportWrapper.ts
  packages/media-signaling/src/lib/index.ts
  packages/media-signaling/src/lib/services/states.ts
  packages/media-signaling/src/lib/services/webrtc/Processor.ts
  packages/media-signaling/src/lib/utils/getExternalWaiter.ts
  packages/model-typings/src/index.ts
  packages/model-typings/src/models/IMediaCallNegotiationsModel.ts
  packages/model-typings/src/models/IMediaCallsModel.ts
  packages/models/src/index.ts
  packages/models/src/modelClasses.ts
  packages/models/src/models/MediaCallNegotiations.ts
  packages/models/src/models/MediaCalls.ts
Due: e2e, e2e-api

Create green-bananas-do.md
  .changeset/green-bananas-do.md
Due: none

chore!: Remove deprecated `hideRoomsWithNoActivity` param from `admin/engagement-dashboard/channels/list`
  apps/meteor/client/views/admin/engagementDashboard/channels/useChannelsList.ts
  apps/meteor/ee/server/api/engagementDashboard/channels.ts
  apps/meteor/ee/server/lib/engagementDashboard/channels.ts
  apps/meteor/tests/end-to-end/api/34-engagement-dashboard.ts
Due: e2e, client

Create warm-boats-care.md
  .changeset/warm-boats-care.md
Due: none

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
