Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

chore: drop the managed users wording from the user status tab
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceTab.tsx
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

fix: use an icon button for the reset action in the manage user status panel
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceEditorForm.tsx
Due: e2e, client

feat: tell admins the status message overrides the user's own
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceEditorForm.tsx
  apps/meteor/client/views/admin/users/AdminUserForm.tsx
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

fix: keep the connections widget off while the license is unknown
  apps/meteor/client/views/admin/statusAndPresence/StatusAndPresencePage.tsx
Due: e2e, client

chore: sort the renamed i18n keys
  packages/i18n/src/locales/en.i18n.json
Due: none

feat: gate the admin status UI on the feature setting
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/hooks/useStatusItems.tsx
  apps/meteor/client/views/account/profile/AccountProfileForm.tsx
  apps/meteor/client/views/admin/statusAndPresence/SettingsTab.tsx
  apps/meteor/client/views/admin/statusAndPresence/StatusAndPresenceRoute.spec.tsx
  apps/meteor/client/views/admin/statusAndPresence/StatusAndPresenceRoute.tsx
  apps/meteor/client/views/admin/users/AdminUserForm.tsx
  apps/meteor/client/views/admin/users/hooks/useManageUserStatusAction.ts
Due: e2e, client

fix: name the status-disabled hint icons for screen readers
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/hooks/useStatusItems.tsx
  apps/meteor/client/views/account/profile/UserStatusDisabledInfo.tsx
Due: e2e, client

fix: address the status and presence review findings
  apps/meteor/client/views/admin/statusAndPresence/StatusAndPresenceRoute.spec.tsx
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceConfirmModal.tsx
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceEditorForm.tsx
  apps/meteor/client/views/admin/users/AdminUserForm.tsx
  apps/meteor/tests/e2e/admin-status-and-presence.spec.ts
Due: e2e, client

refactor: simplify the admin status lookup and align its permissions and wording
  apps/meteor/client/components/UserStatusDisabledInfo.tsx
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/hooks/useStatusItems.tsx
  apps/meteor/client/views/account/profile/AccountProfileForm.tsx
  apps/meteor/client/views/admin/statusAndPresence/StatusAndPresencePage.tsx
  apps/meteor/client/views/admin/statusAndPresence/StatusAndPresenceRoute.spec.tsx
  apps/meteor/client/views/admin/statusAndPresence/StatusAndPresenceRoute.tsx
  apps/meteor/client/views/admin/statusAndPresence/StatusAndPresenceTabs.tsx
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceEditorForm.spec.tsx
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceEditorForm.tsx
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceTab.tsx
  apps/meteor/client/views/admin/statusAndPresence/useManagedPresenceUsers.ts
  apps/meteor/client/views/admin/users/AdminUserForm.tsx
  apps/meteor/client/views/admin/users/hooks/useManageUserStatusAction.ts
  apps/meteor/tests/e2e/admin-status-and-presence.spec.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

fix: include the possessive in the bold name of the reset status modal
  packages/i18n/src/locales/en.i18n.json
Due: none

test: turn admin status hiding on for the status and presence spec
  apps/meteor/tests/e2e/admin-status-and-presence.spec.ts
Due: e2e

fix: gate the admin presence fields and address the status and presence review findings
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/hooks/useStatusItems.tsx
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceEditorForm.tsx
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceEditorFormWithData.tsx
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceTab.tsx
  apps/meteor/client/views/admin/statusAndPresence/useManagedPresenceUsers.ts
  apps/meteor/client/views/admin/users/AdminUserForm.tsx
  apps/meteor/client/views/admin/users/UsersTable/UsersTableRow.tsx
  apps/meteor/tests/e2e/utils/getUserStatusAsViewer.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

chore: keep the status-disabled hint keys with the UI that reads them
  packages/i18n/src/locales/en.i18n.json
Due: none

fix: keep status expiration read-only when an admin disabled the user status
  apps/meteor/client/views/account/profile/AccountProfileForm.tsx
Due: e2e, client

refactor: route the user presence editor and align the UI with the frontend docs
  apps/meteor/client/lib/queryKeys.ts
  apps/meteor/client/views/account/profile/UserStatusDisabledInfo.tsx
  apps/meteor/client/views/admin/sidebarItems.ts
  apps/meteor/client/views/admin/statusAndPresence/SettingsTab.tsx
  apps/meteor/client/views/admin/statusAndPresence/StatusAndPresencePage.tsx
  apps/meteor/client/views/admin/statusAndPresence/StatusAndPresenceRoute.tsx
  apps/meteor/client/views/admin/statusAndPresence/StatusAndPresenceTabs.tsx
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceEditorForm.tsx
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceEditorFormWithData.tsx
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceTab.tsx
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceTabRow.tsx
  apps/meteor/client/views/admin/statusAndPresence/useManagedPresenceUsers.ts
  apps/meteor/client/views/admin/users/AdminUserForm.tsx
  apps/meteor/client/views/admin/users/UsersTable/UsersTableRow.tsx
  apps/meteor/client/views/admin/users/hooks/useManageUserStatusAction.ts
  apps/meteor/tests/e2e/admin-status-and-presence.spec.ts
  apps/meteor/tests/e2e/page-objects/admin-status-and-presence.ts
  apps/meteor/tests/e2e/page-objects/index.ts
  apps/meteor/tests/e2e/utils/getUserStatusAsViewer.ts
  apps/meteor/tests/e2e/utils/index.ts
Due: e2e, client

feat: add row actions to managed users and align the user status dot
  .changeset/few-goats-double.md
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/UserMenuButton.spec.tsx
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/UserMenuButton.tsx
  apps/meteor/client/views/admin/statusAndPresence/SettingsTab.tsx
  apps/meteor/client/views/admin/statusAndPresence/StatusAndPresenceTabs.tsx
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceConfirmModal.tsx
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceEditorForm.spec.tsx
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceEditorForm.tsx
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceTab.tsx
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceTabRow.spec.tsx
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceTabRow.tsx
  apps/meteor/client/views/admin/statusAndPresence/useApplyUserPresenceRules.ts
  apps/meteor/client/views/admin/statusAndPresence/useResetUserPresenceRules.tsx
  apps/meteor/tests/e2e/admin-status-and-presence.spec.ts
  apps/meteor/tests/e2e/page-objects/admin-status-and-presence.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

fix: address the status and presence review findings
  apps/meteor/client/views/admin/statusAndPresence/SettingsTab.tsx
  apps/meteor/client/views/admin/statusAndPresence/StatusAndPresencePage.tsx
  apps/meteor/client/views/admin/statusAndPresence/StatusAndPresenceRoute.spec.tsx
  apps/meteor/client/views/admin/statusAndPresence/StatusAndPresenceRoute.tsx
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceEditorForm.spec.tsx
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceEditorForm.tsx
  apps/meteor/tests/e2e/admin-status-and-presence.spec.ts
Due: e2e, client

feat: manage user status from the users page and fix the offline status option
  apps/meteor/client/hooks/useCanManageUserStatus.ts
  apps/meteor/client/lib/userStatuses.ts
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/hooks/useStatusItems.spec.tsx
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/hooks/useStatusItems.tsx
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/hooks/useUserMenu.spec.ts
  apps/meteor/client/views/admin/statusAndPresence/StatusAndPresenceRoute.tsx
  apps/meteor/client/views/admin/users/AdminUserForm.tsx
  apps/meteor/client/views/admin/users/AdminUsersPage.tsx
  apps/meteor/client/views/admin/users/UsersTable/UsersTable.tsx
  apps/meteor/client/views/admin/users/UsersTable/UsersTableFilters.spec.tsx
  apps/meteor/client/views/admin/users/UsersTable/UsersTableFilters.tsx
  apps/meteor/client/views/admin/users/UsersTable/UsersTableRow.tsx
  apps/meteor/client/views/admin/users/hooks/useFilteredUsers.ts
  apps/meteor/client/views/admin/users/hooks/useManageUserStatusAction.ts
  apps/meteor/tests/e2e/admin-status-and-presence.spec.ts
  apps/meteor/tests/e2e/admin-users-user-status.spec.ts
  apps/meteor/tests/e2e/page-objects/admin-users.ts
  apps/meteor/tests/e2e/page-objects/fragments/flextabs/edit-user-flextab.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

feat: add the admin status and presence page with per-user visibility rules
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/hooks/useStatusItems.tsx
  apps/meteor/client/views/admin/customUserStatus/CustomUserStatusForm.tsx
  apps/meteor/client/views/admin/customUserStatus/CustomUserStatusRoute.tsx
  apps/meteor/client/views/admin/customUserStatus/CustomUserStatusTable/CustomUserStatusTable.tsx
  apps/meteor/client/views/admin/customUserStatus/hooks/useStatusDisabledModal.tsx
  apps/meteor/client/views/admin/routes.tsx
  apps/meteor/client/views/admin/sidebarItems.ts
  apps/meteor/client/views/admin/statusAndPresence/SettingsTab.tsx
  apps/meteor/client/views/admin/statusAndPresence/StatusAndPresencePage.tsx
  apps/meteor/client/views/admin/statusAndPresence/StatusAndPresenceRoute.tsx
  apps/meteor/client/views/admin/statusAndPresence/StatusAndPresenceTabs.tsx
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceEditorForm.tsx
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceTab.tsx
  apps/meteor/client/views/admin/statusAndPresence/UserPresenceTabRow.tsx
  apps/meteor/client/views/admin/statusAndPresence/useManagedPresenceUsers.ts
  apps/meteor/client/views/admin/users/AdminUserForm.tsx
  apps/meteor/client/views/admin/users/UsersTable/UsersTableRow.tsx
  apps/meteor/client/views/admin/users/hooks/useManageUserStatusAction.ts
  apps/meteor/tests/e2e/admin-status-and-presence.spec.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

fix: remove unused livechat room visitor permission
  .changeset/remove-unused-livechat-room-visitor-permission.md
  apps/meteor/server/lib/authorization/constant/permissions.ts
  apps/meteor/server/startup/migrations/index.ts
  apps/meteor/server/startup/migrations/v336.ts
  packages/i18n/src/locales/ar.i18n.json
  packages/i18n/src/locales/ca.i18n.json
  packages/i18n/src/locales/de.i18n.json
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/es.i18n.json
  packages/i18n/src/locales/fi.i18n.json
  packages/i18n/src/locales/fr.i18n.json
  packages/i18n/src/locales/hi-IN.i18n.json
  packages/i18n/src/locales/hu.i18n.json
  packages/i18n/src/locales/ja.i18n.json
  packages/i18n/src/locales/nb.i18n.json
  packages/i18n/src/locales/nl.i18n.json
  packages/i18n/src/locales/nn.i18n.json
  packages/i18n/src/locales/pl.i18n.json
  packages/i18n/src/locales/pt-BR.i18n.json
  packages/i18n/src/locales/ru.i18n.json
  packages/i18n/src/locales/sv.i18n.json
  packages/i18n/src/locales/zh-TW.i18n.json
  packages/i18n/src/locales/zh.i18n.json
Due: e2e, e2e-api

docs(nest-shadow): compare NestJS with the current REST stack
  CLAUDE.md
  apps/nest-shadow/EXPLORATION.md
  apps/nest-shadow/README.md
Due: none

docs: clarify custom script refresh requirement
  apps/meteor/server/settings/layout.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, e2e-api

chore: replace tmid_1 with partial { tmid: 1, ts: -1 } index
  .changeset/compound-index-thread-replies.md
  packages/models/src/models/Messages.ts
Due: none

chore: add migration dropping tmid_1 from rocketchat_message
  .changeset/compound-index-thread-replies.md
  apps/meteor/server/startup/migrations/index.ts
  apps/meteor/server/startup/migrations/v336.ts
Due: e2e, e2e-api

chore: resolve visitors converter async TODO
  apps/meteor/app/apps/server/converters/visitors.ts
Due: e2e

fix(mp3-encoder): prevent NaN samples when resampling and re-enable assertions
  .changeset/mp3-encoder-resample-nan.md
  packages/mp3-encoder/src/lame/Lame.ts
  packages/mp3-encoder/src/lame/Mp3Encoder.spec.ts
  packages/mp3-encoder/src/lame/assert.ts
Due: none

fix(tools): reject prematurely closed streams
  .changeset/stream-premature-close.md
  packages/tools/src/stream.spec.ts
  packages/tools/src/stream.ts
Due: none

fix(tools): preserve surrogate pairs when truncating text
  .changeset/truncate-surrogate-pairs.md
  packages/tools/src/truncateString.spec.ts
  packages/tools/src/truncateString.ts
Due: none

fix(tools): recognize URL schemes case-insensitively
  .changeset/absolute-url-scheme-case.md
  packages/tools/src/isAbsoluteURL.spec.ts
  packages/tools/src/isAbsoluteURL.ts
Due: none

fix(mongo-adapter): normalize supported sort representations
  .changeset/mongo-sort-representations.md
  packages/mongo-adapter/src/sort.spec.ts
  packages/mongo-adapter/src/sort.ts
Due: none

fix(mongo-adapter): distinguish BSON values in equality checks
  .changeset/mongo-bson-equality.md
  packages/mongo-adapter/src/common.spec.ts
  packages/mongo-adapter/src/common.ts
  packages/mongo-adapter/src/filter.spec.ts
Due: none

fix(mongo-adapter): respect binary view boundaries in bitwise filters
  .changeset/mongo-binary-view-bitmasks.md
  packages/mongo-adapter/src/filter.spec.ts
  packages/mongo-adapter/src/filter.ts
Due: none

refactor(federation): resolve client profile lookups through Users model
  ee/packages/federation-matrix/src/api/_matrix/client/profile.ts
  ee/packages/federation-matrix/src/helpers/getLocalUserProfile.spec.ts
  ee/packages/federation-matrix/src/helpers/getLocalUserProfile.ts
Due: none

fix(mongo-adapter): skip scalar entries in document elemMatch
  .changeset/mongo-elemmatch-mixed-arrays.md
  packages/mongo-adapter/src/filter.spec.ts
  packages/mongo-adapter/src/filter.ts
Due: none

test(mongo-adapter): make empty-array equality case explicit
  packages/mongo-adapter/src/common.spec.ts
Due: none

test(mongo-adapter): assert explicit sliced-bitmask outcomes
  packages/mongo-adapter/src/filter.spec.ts
Due: none

test(mongo-adapter): detect stray set bits outside binary views
  packages/mongo-adapter/src/filter.spec.ts
Due: none

fix: wrap omnichannel transfer comment text to multiple lines
  apps/meteor/client/components/message/variants/SystemMessage.tsx
Due: e2e, client

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
