Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

move badwords to its own file
  apps/meteor/server/services/messages/hooks/badwords.ts
  apps/meteor/server/services/messages/service.ts
Due: e2e

chore: link text-decoration rules
  apps/meteor/app/theme/client/imports/general/base.css
  apps/meteor/app/theme/client/imports/general/reset.css
  apps/meteor/client/sidebar/Sidebar.tsx
Due: e2e, client

Fix TS
  apps/meteor/app/cloud/server/functions/buildRegistrationData.ts
  apps/meteor/client/views/admin/info/DeploymentCard.stories.tsx
  apps/meteor/client/views/admin/info/InformationPage.stories.tsx
  apps/meteor/client/views/admin/info/UsageCard.stories.tsx
  apps/meteor/server/configureLogLevel.ts
Due: e2e, client

key translations change
  apps/meteor/packages/rocketchat-i18n/i18n/en.i18n.json
Due: e2e

ci: Add step to notify external services about a new release after Docker image publish (#30436)
  .github/workflows/ci.yml
Due: none

chore: update meteor 2.13.0 (#29989)
  apps/meteor/.meteor/packages
  apps/meteor/.meteor/release
  apps/meteor/.meteor/versions
Due: e2e

Create early-actors-listen.md
  .changeset/early-actors-listen.md
Due: none

Try to fix tests
  apps/meteor/server/settings/misc.ts
Due: e2e

send ephemeral message
  apps/meteor/app/lib/server/index.ts
  apps/meteor/app/lib/server/startup/mentionUserNotInChannel.ts
Due: e2e

register app and first actions
  apps/meteor/server/modules/core-apps/mention.module.ts
  apps/meteor/server/startup/coreApps.ts
Due: e2e

translations
  apps/meteor/packages/rocketchat-i18n/i18n/en.i18n.json
Due: e2e

feat: :sparkles: WIP: Implement new actions menu for users page table
  apps/meteor/client/views/admin/users/AdminUsersPage.tsx
  apps/meteor/client/views/admin/users/UsersTable/UsersTable.tsx
  apps/meteor/client/views/admin/users/UsersTable/UsersTableRow.tsx
Due: e2e, client

fix more actions
  apps/meteor/app/ui-utils/client/lib/messageActionDefault.ts
  apps/meteor/ee/client/startup/readReceipt.ts
Due: e2e

cjs
  packages/password-policies/tsconfig.json
Due: none

chore: add tooltip to mentions (#30445)
  apps/meteor/packages/rocketchat-i18n/i18n/en.i18n.json
  packages/gazzodown/src/elements/PlainSpan.tsx
  packages/gazzodown/src/mentions/ChannelMentionElement.tsx
  packages/gazzodown/src/mentions/UserMentionElement.tsx
  packages/password-policies/tsconfig.json
Due: e2e

export license v3
  packages/core-typings/src/ee/ILicense/ILicenseV3.ts
Due: none

chore: add V2 suffix to current License
  apps/meteor/ee/app/license/definition/ILicenseV2.ts
  apps/meteor/ee/app/license/definition/ILicenseV2Tag.ts
  apps/meteor/ee/app/license/server/lib/isUnderAppLimits.ts
  apps/meteor/ee/app/license/server/license.internalService.ts
  apps/meteor/ee/app/license/server/license.ts
  apps/meteor/ee/app/license/server/methods.ts
  apps/meteor/ee/server/api/licenses.ts
  apps/meteor/lib/apps/getInstallationSourceFromAppStorageItem.ts
  packages/core-services/src/index.ts
  packages/core-services/src/types/ILicenseV2.ts
  packages/core-typings/src/ee/ILicense/ILicenseV2.ts
  packages/core-typings/src/ee/ILicense/ILicenseV2Tag.ts
  packages/core-typings/src/ee/ILicense/ILicenseV3.ts
  packages/core-typings/src/index.ts
  packages/rest-typings/src/v1/licenses.ts
Due: e2e

jwt package, license v3 type
  apps/meteor/package.json
  packages/core-typings/src/ee/ILicense/ILicenseV3.ts
  packages/jwt/.eslintrc.json
  packages/jwt/__tests__/jwt.spec.ts
  packages/jwt/jest.config.js
  packages/jwt/package.json
  packages/jwt/src/index.ts
  packages/jwt/tsconfig.json
  yarn.lock
Due: e2e

removed duplicated types
  apps/meteor/ee/app/license/definition/ILicenseV2.ts
  apps/meteor/ee/app/license/definition/ILicenseV2Tag.ts
  apps/meteor/ee/app/license/server/lib/isUnderAppLimits.ts
  apps/meteor/ee/app/license/server/license.ts
  apps/meteor/ee/app/license/server/methods.ts
  apps/meteor/ee/server/api/licenses.ts
  apps/meteor/lib/apps/getInstallationSourceFromAppStorageItem.ts
  packages/core-typings/src/ee/ILicense/ILicenseV2.ts
  packages/core-typings/src/index.ts
Due: e2e

Implemented disable_modules
  apps/meteor/client/views/hooks/useUpgradeTabParams.ts
  apps/meteor/ee/app/license/server/fromV2toV3.ts
  apps/meteor/ee/app/license/server/license.ts
  apps/meteor/ee/server/api/licenses.ts
  apps/meteor/ee/server/startup/upsell.ts
  packages/core-typings/src/ee/ILicense/ILicenseV3.ts
Due: e2e, client

removed extra line
  apps/meteor/lib/apps/getInstallationSourceFromAppStorageItem.ts
Due: e2e

validate license in v3 format
  apps/meteor/ee/app/license/server/fromV2toV3.ts
  apps/meteor/ee/app/license/server/license.internalService.ts
  apps/meteor/ee/app/license/server/license.ts
  apps/meteor/ee/app/license/server/settings.ts
  apps/meteor/ee/app/license/server/startup.ts
  apps/meteor/ee/client/views/admin/users/useSeatsCap.ts
  apps/meteor/ee/server/api/licenses.ts
  packages/core-services/src/index.ts
  packages/core-services/src/types/ILicense.ts
  packages/core-typings/src/ee/ILicense/ILicenseV3.ts
  packages/rest-typings/src/v1/licenses.ts
Due: e2e

add license package to dockerfile
  ee/apps/account-service/Dockerfile
  ee/apps/authorization-service/Dockerfile
  ee/apps/ddp-streamer/Dockerfile
  ee/apps/omnichannel-transcript/Dockerfile
  ee/apps/presence-service/Dockerfile
  ee/apps/queue-worker/Dockerfile
  ee/apps/stream-hub-service/Dockerfile
Due: none

missing null-check
  apps/meteor/ee/app/authorization/server/validateUserRoles.js
Due: e2e

renamed ILicenseV2Tag back to ILicenseTag and used it on the v3 license as well
  apps/meteor/ee/app/license/server/license.ts
  apps/meteor/ee/app/license/server/methods.ts
  packages/core-typings/src/ee/ILicense/ILicenseTag.ts
  packages/core-typings/src/ee/ILicense/ILicenseV2.ts
  packages/core-typings/src/ee/ILicense/ILicenseV3.ts
  packages/core-typings/src/index.ts
Due: e2e

remove unused type imports
  apps/meteor/ee/app/license/server/fromV2toV3.ts
Due: e2e

avoid triggering "invalidate" events when an active license is replaced with another valid license.
  ee/packages/license/src/actionBlockers.ts
  ee/packages/license/src/events/emitter.ts
  ee/packages/license/src/license.ts
  ee/packages/license/src/modules.ts
  ee/packages/license/src/pendingLicense.ts
  ee/packages/license/src/tags.ts
  ee/packages/license/src/validation/getCurrentValueForLicenseLimit.ts
  ee/packages/license/src/validation/getModulesToDisable.ts
  ee/packages/license/src/validation/validateLicenseLimits.ts
  ee/packages/license/src/workspaceUrl.ts
Due: none

add function to transform V2 into V3
  apps/meteor/ee/app/license/server/fromV2toV3.ts
Due: e2e

removed unused file
  apps/meteor/ee/app/license/server/lib/isUnderAppLimits.ts
Due: e2e

Fixed trial information
  apps/meteor/client/views/hooks/useUpgradeTabParams.ts
Due: e2e, client

Removing references to old license structure
  apps/meteor/ee/app/authorization/server/validateUserRoles.js
  apps/meteor/ee/app/license/server/index.ts
  apps/meteor/ee/app/license/server/lib/getAppCount.ts
  apps/meteor/ee/app/license/server/license.ts
  apps/meteor/ee/server/startup/maxRoomsPerGuest.ts
  apps/meteor/ee/server/startup/seatsCap.ts
  packages/core-typings/src/ee/ILicense/ILicenseV3.ts
  packages/model-typings/src/models/IUsersModel.ts
Due: e2e

handle V3 and V2
  ee/packages/license/package.json
  ee/packages/license/src/decrypt.ts
  ee/packages/license/src/license.ts
  packages/jwt/tsconfig.json
  yarn.lock
Due: none

Delete .changeset/early-actors-listen.md
  .changeset/early-actors-listen.md
Due: none

jwt package
  ee/apps/account-service/Dockerfile
  ee/apps/authorization-service/Dockerfile
  ee/apps/ddp-streamer/Dockerfile
  ee/apps/omnichannel-transcript/Dockerfile
  ee/apps/presence-service/Dockerfile
  ee/apps/queue-worker/Dockerfile
  ee/apps/stream-hub-service/Dockerfile
Due: none

remove back step
  apps/meteor/client/views/setupWizard/hooks/useStepRouting.ts
  apps/meteor/client/views/setupWizard/steps/RegisterServerStep.tsx
Due: e2e, client

Create red-dots-glow.md
  .changeset/red-dots-glow.md
Due: none

Delete .changeset/red-dots-glow.md
  .changeset/red-dots-glow.md
Due: none

fix i18n
  apps/meteor/packages/rocketchat-i18n/i18n/en.i18n.json
Due: e2e

Review: refetchOnMount and error state
  apps/meteor/client/views/admin/viewLogs/AnalyticsReports.tsx
  apps/meteor/client/views/admin/viewLogs/ViewLogsPage.tsx
  apps/meteor/client/views/admin/viewLogs/hooks/useAnalyticsObject.ts
Due: e2e, client

Path conditions:
  e2e: any of: apps/meteor/
  client: any of: apps/meteor/client
