Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'

added limitReached event
  ee/packages/license/src/events/emitter.ts
  ee/packages/license/src/events/listeners.ts
Due: none

always watch settings
  apps/meteor/server/services/messages/service.ts
Due: e2e

fixed typescript version
  ee/packages/license/package.json
  packages/jwt/package.json
  yarn.lock
Due: none

add changeset
  .changeset/quiet-phones-reply.md
Due: none

regression: Videoconf message actions (#30456)
  apps/meteor/app/ui-utils/client/lib/messageActionDefault.ts
  apps/meteor/ee/client/startup/readReceipt.ts
Due: e2e

feat: new `licenses.info` endpoint
  apps/meteor/ee/server/api/licenses.ts
  ee/packages/license/src/index.ts
  ee/packages/license/src/info.ts
  packages/rest-typings/src/index.ts
  packages/rest-typings/src/v1/licenses.ts
Due: e2e

regression: Missing permission check on reports route
  apps/meteor/ee/client/omnichannel/reports/ReportsPage.tsx
Due: e2e

fix: Message disappears from room after deletion even if "Show Deleted Status" is enabled (#30452)
  .changeset/kind-books-love.md
  apps/meteor/client/lib/chats/data.ts
Due: e2e, client

moved data counters to @rocket.chat/meteor
  apps/meteor/ee/app/license/server/startup.ts
  ee/packages/license/package.json
  ee/packages/license/src/license.ts
  ee/packages/license/src/pendingLicense.ts
  ee/packages/license/src/validation/getCurrentValueForLicenseLimit.ts
  yarn.lock
Due: e2e

use visualExpiration attribute for trial end date
  apps/meteor/client/views/hooks/useUpgradeTabParams.ts
  ee/packages/license/src/v2/convertToV3.ts
Due: e2e, client

chore: resetPassword form improvements
  packages/web-ui-registration/src/RegisterForm.tsx
  packages/web-ui-registration/src/ResetPasswordForm.tsx
  packages/web-ui-registration/src/hooks/useSendForgotPassword.ts
Due: none

fix: :bug: Rooms filter regression and filter default mode
  apps/meteor/client/views/admin/rooms/RoomsTableFilters.tsx
  packages/ui-client/src/components/MultiSelectCustom/MultiSelectCustom.tsx
  packages/ui-client/src/components/MultiSelectCustom/MultiSelectCustomList.tsx
  yarn.lock
Due: e2e, client

Change plan name Enterprise to Premium on marketplace
  apps/meteor/client/views/marketplace/AppsPage/AppsFilters.tsx
  apps/meteor/client/views/marketplace/AppsPage/AppsPageContent.tsx
  apps/meteor/client/views/marketplace/BundleChips.tsx
  apps/meteor/client/views/marketplace/components/MarketplaceHeader.tsx
  apps/meteor/client/views/marketplace/sidebarItems.tsx
  apps/meteor/packages/rocketchat-i18n/i18n/en.i18n.json
Due: e2e, client

Add chat.getURLPreview endpoint
  apps/meteor/app/api/server/v1/chat.ts
  apps/meteor/app/oembed/server/server.ts
  packages/core-typings/src/IMessage/IMessage.ts
  packages/rest-typings/src/v1/chat.ts
Due: e2e

Add end-to-end tests
  apps/meteor/tests/end-to-end/api/05-chat.js
Due: e2e

Update RoomsTableFilters.tsx
  apps/meteor/client/views/admin/rooms/RoomsTableFilters.tsx
Due: e2e, client

.
  apps/meteor/client/views/admin/rooms/RoomsTableFilters.tsx
  packages/ui-client/src/components/MultiSelectCustom/MultiSelectCustom.tsx
  packages/ui-client/src/components/MultiSelectCustom/MultiSelectCustomList.tsx
Due: e2e, client

lint
  apps/meteor/client/views/admin/rooms/RoomsTableFilters.tsx
Due: e2e, client

Update MultiSelectCustom.tsx
  packages/ui-client/src/components/MultiSelectCustom/MultiSelectCustom.tsx
Due: none

..
  apps/meteor/client/views/admin/rooms/RoomsTableFilters.tsx
Due: e2e, client

fix: :bug: Fix rooms filters behavior
  apps/meteor/client/views/admin/rooms/RoomsTableFilters.tsx
  packages/ui-client/src/components/MultiSelectCustom/MultiSelectCustom.tsx
Due: e2e, client

Add learn more link
  apps/meteor/client/components/FingerprintChangeModal.tsx
  apps/meteor/client/components/FingerprintChangeModalConfirmation.tsx
  apps/meteor/packages/rocketchat-i18n/i18n/en.i18n.json
  apps/meteor/server/settings/misc.ts
Due: e2e, client

Create changesets
  .changeset/lucky-bikes-enjoy.md
Due: none

chore: resetPassword
  apps/meteor/tests/e2e/forgot-password.spec.ts
  apps/meteor/tests/e2e/page-objects/auth.ts
  apps/meteor/tests/e2e/reset-password.spec.ts
  packages/web-ui-registration/src/RegisterForm.tsx
  packages/web-ui-registration/src/ResetPassword/ResetPasswordPage.tsx
Due: e2e

Fixed Package.JSON where NodeJS version was required to be specifically 14.21.3, Now It is Greater or Equal to NodeJS 14.21.3
  package.json
Due: none

regression: multiselect (#30472)
  apps/meteor/client/views/admin/rooms/RoomsTableFilters.tsx
  packages/ui-client/src/components/MultiSelectCustom/MultiSelectCustom.tsx
  packages/ui-client/src/components/MultiSelectCustom/MultiSelectCustomList.tsx
Due: e2e, client

refactor: :recycle: Remove refecthOnMount and set 10 min stale for statistics
  apps/meteor/client/views/admin/viewLogs/hooks/useAnalyticsObject.ts
Due: e2e, client

chore: Move bad words filter callback to service (#30241)
  apps/meteor/app/api/server/v1/channels.ts
  apps/meteor/app/discussion/server/hooks/joinDiscussionOnMessage.ts
  apps/meteor/app/lib/server/functions/notifications/index.ts
  apps/meteor/app/lib/server/functions/sendMessage.js
  apps/meteor/app/lib/server/functions/updateMessage.ts
  apps/meteor/app/lib/server/index.ts
  apps/meteor/app/lib/server/lib/sendNotificationsOnMessage.js
  apps/meteor/app/lib/server/methods/filterBadWords.ts
  apps/meteor/app/lib/server/methods/joinRoom.ts
  apps/meteor/app/message-pin/server/pinMessage.ts
  apps/meteor/app/slashcommands-join/server/server.ts
  apps/meteor/server/lib/rooms/roomTypes/direct.ts
  apps/meteor/server/services/messages/hooks/badwords.ts
  apps/meteor/server/services/messages/service.ts
  apps/meteor/server/services/room/service.ts
  packages/core-services/src/types/IMessageService.ts
  packages/core-services/src/types/IRoomService.ts
Due: e2e

chore: bump fuselage
  apps/meteor/package.json
  ee/packages/ui-theming/package.json
  packages/fuselage-ui-kit/package.json
  packages/gazzodown/package.json
  packages/ui-client/package.json
  packages/ui-composer/package.json
  packages/ui-video-conf/package.json
  packages/uikit-playground/package.json
  yarn.lock
Due: e2e

fix: selected options not being displayed on PaginatedMultiSelect
  apps/meteor/client/components/AutoCompleteDepartmentMultiple.tsx
  apps/meteor/ee/client/hooks/useTagsList.ts
  apps/meteor/ee/client/omnichannel/tags/AutoCompleteTagsMultiple.js
Due: e2e, client

chore: `ResetPasswordForm` a11y improvements (#30476)
  packages/web-ui-registration/src/RegisterForm.tsx
  packages/web-ui-registration/src/ResetPasswordForm.tsx
  packages/web-ui-registration/src/hooks/useSendForgotPassword.ts
Due: none

fix: lint
  apps/meteor/app/theme/client/imports/general/reset.css
Due: e2e

Add type for synchronization payload
  apps/meteor/app/cloud/server/functions/getWorkspaceLicense.ts
  apps/meteor/app/cloud/server/functions/syncWorkspace.ts
  apps/meteor/server/services/banner/service.ts
  packages/core-services/src/types/IBannerService.ts
  packages/core-typings/package.json
  packages/core-typings/src/cloud/index.ts
  packages/core-typings/src/index.ts
  packages/model-typings/src/models/IBannersModel.ts
  yarn.lock
Due: e2e

Expand `Cloud.Announcement`
  packages/core-typings/src/cloud/Announcement.ts
  packages/core-typings/src/cloud/NpsSurveyAnnouncement.ts
  packages/core-typings/src/cloud/SyncPayload.ts
  packages/core-typings/src/cloud/index.ts
Due: none

Validate the payload
  apps/meteor/app/cloud/server/functions/syncWorkspace.ts
  apps/meteor/package.json
  packages/core-typings/src/cloud/SyncPayload.ts
  yarn.lock
Due: e2e

Splitting fetching and consumption of sync data
  apps/meteor/app/cloud/server/functions/getWorkspaceAccessToken.ts
  apps/meteor/app/cloud/server/functions/reconnectWorkspace.ts
  apps/meteor/app/cloud/server/functions/startRegisterWorkspace.ts
  apps/meteor/app/cloud/server/functions/syncWorkspace.ts
  apps/meteor/lib/errors/CloudWorkspaceConnectionError.ts
  apps/meteor/lib/errors/CloudWorkspaceError.ts
  apps/meteor/lib/errors/CloudWorkspaceRegistrationError.ts
  apps/meteor/lib/errors/CloudWorkspaceSyncError.ts
Due: e2e

Fix typo
  apps/meteor/server/models/raw/CloudAnnouncements.ts
  packages/model-typings/src/index.ts
  packages/model-typings/src/models/ICloudAnnouncementsModel.ts
  packages/models/src/index.ts
Due: e2e
