Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true
  
  e2e-api:
    paths:
      - apps/meteor/server
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'
fixes:
  - '/home/runner/work/Rocket.Chat/Rocket.Chat/::'

refactor(video-conf): use the button variant, not the deprecated flag
  apps/meteor/client/views/conference/components/ChatAccessModal/ChatAccessModal.tsx
Due: e2e, client

fix(video-conf): announce the sentence that changes, not the strip around it
  apps/meteor/client/views/conference/components/ChatAccessNotice/ChatAccessNotice.tsx
Due: e2e, client

refactor(video-conf): fold the two arms that answer the same thing
  apps/meteor/client/views/conference/ConferenceThreadChat.tsx
Due: e2e, client

test(video-conf): render the call rows from their stories, and snapshot them
  apps/meteor/client/components/CallParticipants.spec.tsx
  apps/meteor/client/components/OngoingCalls/CallListItem.spec.tsx
  apps/meteor/client/components/OngoingCalls/CallListItem.stories.tsx
  apps/meteor/client/components/OngoingCalls/__snapshots__/CallListItem.spec.tsx.snap
  apps/meteor/client/components/__snapshots__/CallParticipants.spec.tsx.snap
  apps/meteor/client/navbar/NavBarItemOngoingCalls.spec.tsx
  apps/meteor/client/navbar/__snapshots__/NavBarItemOngoingCalls.spec.tsx.snap
  apps/meteor/client/views/conference/components/AddParticipantsModal/AddParticipantsModal.spec.tsx
  apps/meteor/client/views/conference/components/AddParticipantsModal/__snapshots__/AddParticipantsModal.spec.tsx.snap
Due: e2e, client

fix(video-conf): stop the heartbeat firing twice for one period
  apps/meteor/client/views/conference/hooks/useConferencePresenceLease.spec.ts
  apps/meteor/client/views/conference/hooks/useConferencePresenceLease.ts
Due: e2e, client

refactor(video-conf): one query key per endpoint, from the shared file
  apps/meteor/client/views/conference/hooks/useConferenceEmbedded.ts
  apps/meteor/client/views/conference/hooks/useConferenceSubscription.ts
  apps/meteor/client/views/conference/hooks/useStartConference.ts
Due: e2e, client

refactor(video-conf): make adding people to a call a form
  apps/meteor/client/views/conference/components/AddParticipantsModal/AddParticipantsModal.spec.tsx
  apps/meteor/client/views/conference/components/AddParticipantsModal/AddParticipantsModal.tsx
  apps/meteor/client/views/conference/components/AddParticipantsModal/__snapshots__/AddParticipantsModal.spec.tsx.snap
Due: e2e, client

feat(ui-contexts): let useEndpoint keep a request alive past the page
  apps/meteor/client/providers/ServerProvider.tsx
  apps/meteor/client/views/conference/hooks/useLeaveConferenceOnClose.spec.ts
  apps/meteor/client/views/conference/hooks/useLeaveConferenceOnClose.ts
  packages/ui-contexts/src/ServerContext.ts
  packages/ui-contexts/src/hooks/useEndpoint.ts
Due: e2e, client

refactor(video-conf): two small readings from review
  apps/meteor/client/views/conference/ConferenceChat.tsx
  apps/meteor/client/views/conference/components/CallDeviceToggle.tsx
Due: e2e, client

refactor(video-conf): use the button variant on the preflight too
  apps/meteor/client/views/conference/ConferencePreflight.tsx
Due: e2e, client

refactor(video-conf): one badged icon button, which now really ignores clicks
  apps/meteor/client/components/IconButtonWithBadge.tsx
  apps/meteor/client/navbar/NavBarItemOngoingCalls.tsx
  apps/meteor/client/navbar/__snapshots__/NavBarItemOngoingCalls.spec.tsx.snap
  apps/meteor/client/views/conference/ConferenceEmbeddedPage.tsx
Due: e2e, client

fix(video-conf): read the whole membership before excluding it
  apps/meteor/client/views/conference/components/AddParticipantsModal/AddParticipantsModal.spec.tsx
  apps/meteor/client/views/conference/components/AddParticipantsModal/AddParticipantsModal.tsx
Due: e2e, client

refactor(video-conf): let the videoconf block ask where it is
  apps/meteor/client/uikit/hooks/useMessageBlockContextValue.ts
  packages/fuselage-ui-kit/src/blocks/VideoConferenceBlock/VideoConferenceBlock.tsx
  packages/fuselage-ui-kit/src/contexts/UiKitContext.ts
Due: e2e, client

refactor(video-conf): read the send-to-channel box rather than remember it
  apps/meteor/client/views/conference/ConferenceThreadChat.tsx
Due: e2e, client

refactor(video-conf): let a room be told it renders embedded
  apps/meteor/client/views/conference/ConferenceRoomPanel.tsx
  apps/meteor/client/views/room/providers/RoomProvider.tsx
Due: e2e, client

refactor(video-conf): let the preflight's button read the caller's mutation
  apps/meteor/client/views/conference/ConferencePreflight.tsx
  apps/meteor/client/views/conference/ConferenceStartPage.tsx
  apps/meteor/client/views/conference/hooks/useStartConference.ts
Due: e2e, client

refactor(video-conf): let the window pin its own palette, not the layout
  apps/meteor/client/components/AppLayoutThemeWrapper.spec.tsx
  apps/meteor/client/components/AppLayoutThemeWrapper.tsx
  apps/meteor/client/lib/appLayout.tsx
  apps/meteor/client/startup/routes.tsx
  apps/meteor/client/views/conference/ConferenceViewport.spec.tsx
  apps/meteor/client/views/conference/ConferenceViewport.tsx
Due: e2e, client

fix(video-conf): let the call row's buttons stop their own clicks
  apps/meteor/client/components/OngoingCalls/CallListItem.tsx
Due: e2e, client

fix(video-conf): say "no chat access" where it can be heard
  apps/meteor/client/views/conference/components/CallMemberItem/CallMemberItem.tsx
Due: e2e, client

fix(video-conf): stop the ring button ringing three times
  apps/meteor/client/views/conference/components/CallMemberItem/CallMemberItem.tsx
  apps/meteor/client/views/conference/components/CallMembersPanel/CallMembersPanel.tsx
Due: e2e, client

refactor(video-conf): name the call hooks for what they do
  apps/meteor/client/components/OngoingCalls/useOngoingCalls.ts
  apps/meteor/client/views/conference/components/AddParticipantsModal/AddParticipantsModal.tsx
  apps/meteor/client/views/conference/hooks/useCallDevicesInitialState.ts
  apps/meteor/client/views/conference/hooks/useConferenceEmbedded.ts
  apps/meteor/client/views/conference/hooks/useJoinOrSwitchCallModal.spec.tsx
  apps/meteor/client/views/conference/hooks/useJoinOrSwitchCallModal.tsx
Due: e2e, client

test(video-conf): one waitFor where one settlement is being waited for
  apps/meteor/client/views/conference/hooks/useConferenceEmbedded.spec.tsx
Due: e2e, client

test(video-conf): show the window in its own palette in Storybook
  apps/meteor/client/views/conference/ConferenceEmbeddedPage.stories.tsx
  apps/meteor/client/views/conference/ConferencePreflight.stories.tsx
  apps/meteor/client/views/conference/storyFixtures.tsx
Due: e2e, client

fix(video-conf): drop the empty place beside a lone face
  apps/meteor/client/components/CallParticipants.tsx
  apps/meteor/client/components/__snapshots__/CallParticipants.spec.tsx.snap
Due: e2e, client

chore(video-conf): drop the changeset from a PR that changes nothing
  .changeset/conference-window-groundwork.md
Due: none

fix(video-conf): two things the extraction and the prop dropped
  apps/meteor/client/components/IconButtonWithBadge.tsx
  apps/meteor/client/views/conference/ConferenceEmbeddedPage.tsx
  apps/meteor/client/views/conference/ConferencePreflight.stories.tsx
Due: e2e, client

chore: remove leftover services folder
  .github/dependabot.yml
  apps/meteor/.meteorignore
  apps/meteor/ee/server/services/.config/grafana/provisioning/dashboards/json-exports/docker_rev2.json
  apps/meteor/ee/server/services/.config/grafana/provisioning/dashboards/json-exports/moleculer-metrics.json
  apps/meteor/ee/server/services/.config/grafana/provisioning/dashboards/json-exports/reverse-proxy_rev1.json
  apps/meteor/ee/server/services/.config/grafana/provisioning/dashboards/json-exports/rocketchat-metrics.json
  apps/meteor/ee/server/services/.config/grafana/provisioning/dashboards/provider/prometheus.yml
  apps/meteor/ee/server/services/.config/grafana/provisioning/datasources/prometheus.yml
  apps/meteor/ee/server/services/.config/prometheus/prometheus.yml
  apps/meteor/ee/server/services/.config/services/service.env
  apps/meteor/ee/server/services/.config/traefik/servers/localhost.yml
  apps/meteor/ee/server/services/.env
  apps/meteor/ee/server/services/.gitignore
  apps/meteor/ee/server/services/CHANGELOG.md
  apps/meteor/ee/server/services/Dockerfile
  apps/meteor/ee/server/services/README.md
  apps/meteor/ee/server/services/docker-compose.yml
  apps/meteor/ee/server/services/package.json
  apps/meteor/ee/server/services/tsconfig.json
  apps/meteor/tsconfig.json
  apps/meteor/tsconfig.webpack.json
  docs/backend-folder-structure.md
  package.json
  yarn.lock
Due: e2e

test(video-conf): retake the call-row snapshots after the Fuselage bump
  apps/meteor/client/components/OngoingCalls/__snapshots__/CallListItem.spec.tsx.snap
  apps/meteor/client/navbar/__snapshots__/NavBarItemOngoingCalls.spec.tsx.snap
Due: e2e, client

refactor(video-conf): three small ones from the styling review
  apps/meteor/client/views/conference/ConferenceEmbeddedPage.tsx
  apps/meteor/client/views/conference/components/CallTopBar.tsx
  apps/meteor/client/views/conference/hooks/useJoinOrSwitchCallModal.tsx
Due: e2e, client

refactor(video-conf): theme the faces' shadow, and name their size
  apps/meteor/client/components/CallParticipants.stories.tsx
  apps/meteor/client/components/CallParticipants.tsx
  apps/meteor/client/components/__snapshots__/CallParticipants.spec.tsx.snap
  apps/meteor/client/views/conference/ConferencePreflight.tsx
Due: e2e, client

refactor(video-conf): give the panel one way of being styled
  apps/meteor/client/views/conference/components/CallPanel.tsx
Due: e2e, client

style(video-conf): lint fallout from the rebase
  apps/meteor/client/views/conference/components/AddParticipantsModal/AddParticipantsModal.tsx
  apps/meteor/client/views/conference/hooks/useJoinableCalls.ts
  apps/meteor/client/views/conference/storyFixtures.tsx
Due: e2e, client

test: cover owner-change modal and asset input (#42127)
  apps/meteor/client/components/ConfirmOwnerChangeModal.spec.tsx
  apps/meteor/client/views/admin/settings/Setting/inputs/AssetSettingInput.spec.tsx
Due: e2e, client

chore(listeners): fix accidental indentation change
  apps/meteor/server/modules/listeners/listeners.module.ts
Due: e2e, e2e-api

refactor(video-conf): drop the shadow under the faces
  apps/meteor/client/components/CallParticipants.tsx
  apps/meteor/client/components/__snapshots__/CallParticipants.spec.tsx.snap
Due: e2e, client

feat: new endpoint /v1/autotranslate.getProviderUiMetadata
  .changeset/ddp-migrate-get-provider-ui-metadata.md
  apps/meteor/client/lib/autotranslate/autotranslate.spec.ts
  apps/meteor/client/lib/autotranslate/autotranslate.ts
  apps/meteor/server/api/v1/autotranslate.ts
  apps/meteor/server/meteor-methods/platform/getProviderUiMetadata.ts
  apps/meteor/tests/end-to-end/api/autotranslate.ts
Due: e2e, e2e-api, client

docs: record streamer package entry shape and stream vocabulary
  CONTEXT.md
  docs/adr/0002-streamer-package-subpath-entries.md
Due: none

chore: drop monolith-only leaves from the streamer modules
  apps/meteor/server/modules/notifications/notifications.module.ts
  apps/meteor/server/modules/streamer/streamer.module.ts
Due: e2e, e2e-api

chore(tests): add a type-checked mutation pass
  .gitignore
  .yarn/patches/@stryker-mutator-typescript-checker-npm-10.0.0-e7d3599a58.patch
  apps/meteor/package.json
  apps/meteor/stryker.typed.conf.js
  docs/mutation-testing.md
  yarn.lock
Due: e2e

chore(tests): add mutation testing with Stryker
  .gitignore
  CLAUDE.md
  apps/meteor/package.json
  apps/meteor/stryker.conf.js
  docs/mutation-testing.md
  yarn.lock
Due: e2e
