Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

fix: Users without preview permission subscribing to public channel stream (#34922)
  .changeset/metal-pets-promise.md
  apps/meteor/client/hooks/useJoinRoom.ts
  apps/meteor/client/lib/errors/NotSubscribedToRoomError.ts
  apps/meteor/client/views/room/NotSubscribedRoom.tsx
  apps/meteor/client/views/room/RoomOpener.tsx
  apps/meteor/client/views/room/RoomOpenerEmbedded.tsx
  apps/meteor/client/views/room/body/RoomBody.tsx
  apps/meteor/client/views/room/contextualBar/Info/hooks/actions/useRoomLeave.tsx
  apps/meteor/client/views/room/hooks/useOpenRoom.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

Deploy preview for PR 34958 🛫
  pr-preview/pr-34958/fuselage-ui-kit/project.json
  pr-preview/pr-34958/gazzodown/project.json
Due: none

refactor: improve performance
  apps/meteor/client/views/admin/permissions/hooks/useFilteredPermissions.ts
Due: e2e, client

Deploy preview for PR 34939 🛫
  pr-preview/pr-34939/fuselage-ui-kit/project.json
  pr-preview/pr-34939/gazzodown/project.json
Due: none

feat: add endpoint rooms.membersOrderedByRole (#34153)
  .changeset/chilled-beers-run.md
  .changeset/silly-kings-approve.md
  apps/meteor/app/api/server/v1/rooms.ts
  apps/meteor/app/lib/server/functions/createRoom.ts
  apps/meteor/app/lib/server/functions/syncRolePrioritiesForRoomIfRequired.ts
  apps/meteor/client/views/hooks/useMembersList.ts
  apps/meteor/client/views/room/contextualBar/RoomMembers/MembersListDivider.tsx
  apps/meteor/client/views/room/contextualBar/RoomMembers/RoomMembers.tsx
  apps/meteor/client/views/room/contextualBar/RoomMembers/RoomMembersItem.tsx
  apps/meteor/server/lib/findUsersOfRoomOrderedByRole.ts
  apps/meteor/server/lib/roles/addUserRoles.ts
  apps/meteor/server/lib/roles/removeUserFromRoles.ts
  apps/meteor/server/lib/roles/syncRoomRolePriority.ts
  apps/meteor/server/methods/addRoomLeader.ts
  apps/meteor/server/methods/addRoomModerator.ts
  apps/meteor/server/methods/addRoomOwner.ts
  apps/meteor/server/methods/removeRoomLeader.ts
  apps/meteor/server/methods/removeRoomModerator.ts
  apps/meteor/server/methods/removeRoomOwner.ts
  apps/meteor/server/services/federation/infrastructure/rocket-chat/adapters/Room.ts
  apps/meteor/tests/data/roles.helper.ts
  apps/meteor/tests/end-to-end/api/rooms.ts
  packages/core-typings/src/IRoom.ts
  packages/core-typings/src/IUser.ts
  packages/i18n/src/locales/en.i18n.json
  packages/model-typings/src/models/IRoomsModel.ts
  packages/model-typings/src/models/IUsersModel.ts
  packages/models/src/models/Rooms.ts
  packages/models/src/models/Users.js
  packages/rest-typings/src/v1/rooms.ts
Due: e2e, client

fix: Add npmRegistryServer key-value
  .yarnrc.yml
Due: none

chore: makes LocalBroker dependency runs on same way as Moleculer framework
  packages/core-services/src/LocalBroker.ts
Due: none

Fix issue : #18264
  apps/meteor/app/emoji-custom/server/lib/insertOrUpdateEmoji.ts
  packages/apps-engine/deno-runtime/deno.lock
Due: e2e

feat: add Voice Calls data to statistics (#34948)
  .changeset/eleven-mails-sort.md
  apps/meteor/app/statistics/server/lib/getEEStatistics.ts
  apps/meteor/app/statistics/server/lib/getVoIPStatistics.ts
  apps/meteor/ee/server/local-services/voip-freeswitch/service.ts
  packages/core-typings/src/IStats.ts
  packages/core-typings/src/voip/IFreeSwitchCall.ts
  packages/model-typings/src/models/IFreeSwitchCallModel.ts
  packages/models/src/models/FreeSwitchCall.ts
Due: e2e

Deploy preview for PR 34954 🛫
  pr-preview/pr-34954/fuselage-ui-kit/231.34ea8eec.iframe.bundle.js.map
  pr-preview/pr-34954/fuselage-ui-kit/231.9cce2c67.iframe.bundle.js
  pr-preview/pr-34954/fuselage-ui-kit/231.9cce2c67.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-34954/fuselage-ui-kit/231.9cce2c67.iframe.bundle.js.map
  pr-preview/pr-34954/fuselage-ui-kit/iframe.html
  pr-preview/pr-34954/fuselage-ui-kit/project.json
  pr-preview/pr-34954/fuselage-ui-kit/runtime~main.8bbc0d16.iframe.bundle.js
  pr-preview/pr-34954/fuselage-ui-kit/runtime~main.f13750c7.iframe.bundle.js
  pr-preview/pr-34954/gazzodown/project.json
  pr-preview/pr-34954/uikit-playground/assets/CodeBlock-DksX6Gqq.js
  pr-preview/pr-34954/uikit-playground/assets/KatexBlock-Bks8WzBG.js
  pr-preview/pr-34954/uikit-playground/assets/KatexBlock-mt9tCE7S.js
  pr-preview/pr-34954/uikit-playground/assets/KatexElement-BgzmKNEK.js
  pr-preview/pr-34954/uikit-playground/assets/KatexElement-CaA_G0GS.js
  pr-preview/pr-34954/uikit-playground/assets/index-CEaNvtBv.js
  pr-preview/pr-34954/uikit-playground/index.html
Due: none

test: ensure roomName filter is working with quotes
  apps/meteor/tests/end-to-end/api/livechat/00-rooms.ts
Due: e2e

refactor: remove autotranslate internal Meteor methods calls (#34058)
  apps/meteor/app/api/server/v1/autotranslate.ts
  apps/meteor/app/autotranslate/server/functions/getSupportedLanguages.ts
  apps/meteor/app/autotranslate/server/functions/saveSettings.ts
  apps/meteor/app/autotranslate/server/functions/translateMessage.ts
  apps/meteor/app/autotranslate/server/methods/getSupportedLanguages.ts
  apps/meteor/app/autotranslate/server/methods/saveSettings.ts
  apps/meteor/app/autotranslate/server/methods/translateMessage.ts
Due: e2e

fix: SAML login redirects to incorrect room when using an invite (#34873)
  .changeset/itchy-pumas-laugh.md
  apps/meteor/app/meteor-accounts-saml/server/definition/IServiceProviderOptions.ts
  apps/meteor/app/meteor-accounts-saml/server/lib/SAML.ts
  apps/meteor/app/meteor-accounts-saml/server/lib/ServiceProvider.ts
  apps/meteor/app/meteor-accounts-saml/server/lib/Utils.ts
  apps/meteor/app/meteor-accounts-saml/server/lib/generators/AuthorizeRequest.ts
  apps/meteor/client/providers/UserProvider/UserProvider.tsx
  apps/meteor/client/views/invite/InvitePage.tsx
  apps/meteor/client/views/invite/hooks/useSamlInviteToken.ts
  apps/meteor/client/views/root/SAMLLoginRoute.spec.tsx
  apps/meteor/client/views/root/SAMLLoginRoute.tsx
  apps/meteor/tests/e2e/saml.spec.ts
  apps/meteor/tests/unit/app/meteor-accounts-saml/server.tests.ts
Due: e2e, client

feat: Allow granting the `mobile-upload-file` permission to guests (#34191)
  .changeset/shiny-singers-cheer.md
  apps/meteor/app/authorization/client/restrictedRoles.ts
  apps/meteor/app/authorization/lib/AuthorizationUtils.ts
  apps/meteor/app/authorization/server/constant/permissions.ts
  apps/meteor/app/authorization/server/methods/addPermissionToRole.ts
  apps/meteor/ee/app/authorization/lib/guestPermissions.ts
  apps/meteor/tests/end-to-end/api/guest-permissions.ts
Due: e2e

chore: use non-root user for alpine images (#34162)
  apps/meteor/.docker/Dockerfile.alpine
  ee/apps/account-service/Dockerfile
  ee/apps/authorization-service/Dockerfile
  ee/apps/ddp-streamer/Dockerfile
  ee/apps/omnichannel-transcript/Dockerfile
  ee/apps/presence-service/Dockerfile
  ee/apps/queue-worker/Dockerfile
  ee/apps/stream-hub-service/Dockerfile
Due: e2e

Fix unit test
  apps/meteor/client/hooks/usePruneWarningMessage.spec.ts
  yarn.lock
Due: e2e, client

Fix lint issues
  apps/meteor/client/sidebarv2/hooks/useUnreadDisplay.spec.tsx
  apps/uikit-playground/src/main.tsx
Due: e2e, client

Change modal dismissing strategy
  apps/meteor/client/components/GenericModal/GenericModal.tsx
  apps/meteor/client/lib/imperativeModal.tsx
  apps/meteor/client/views/modal/ModalRegion.tsx
Due: e2e, client

Use React root
  apps/meteor/client/components/UserStatusMenu.tsx
  apps/meteor/client/lib/createReactiveSubscriptionFactory.ts
  apps/meteor/client/startup/appRoot.tsx
  packages/ui-client/src/helpers/anchors.ts
Due: e2e, client

change changeset type
  .changeset/light-yaks-drive.md
Due: none

Deploy preview for PR 34957 🛫
  pr-preview/pr-34957/fuselage-ui-kit/231.34ea8eec.iframe.bundle.js.map
  pr-preview/pr-34957/fuselage-ui-kit/231.9cce2c67.iframe.bundle.js
  pr-preview/pr-34957/fuselage-ui-kit/231.9cce2c67.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-34957/fuselage-ui-kit/231.9cce2c67.iframe.bundle.js.map
  pr-preview/pr-34957/fuselage-ui-kit/iframe.html
  pr-preview/pr-34957/fuselage-ui-kit/project.json
  pr-preview/pr-34957/fuselage-ui-kit/runtime~main.8bbc0d16.iframe.bundle.js
  pr-preview/pr-34957/fuselage-ui-kit/runtime~main.f13750c7.iframe.bundle.js
  pr-preview/pr-34957/gazzodown/project.json
  pr-preview/pr-34957/uikit-playground/assets/CodeBlock-DksX6Gqq.js
  pr-preview/pr-34957/uikit-playground/assets/KatexBlock-Bks8WzBG.js
  pr-preview/pr-34957/uikit-playground/assets/KatexBlock-mt9tCE7S.js
  pr-preview/pr-34957/uikit-playground/assets/KatexElement-BgzmKNEK.js
  pr-preview/pr-34957/uikit-playground/assets/KatexElement-CaA_G0GS.js
  pr-preview/pr-34957/uikit-playground/assets/index-CEaNvtBv.js
  pr-preview/pr-34957/uikit-playground/index.html
Due: none

Deploy preview for PR 32288 🛫
  pr-preview/pr-32288/fuselage-ui-kit/project.json
  pr-preview/pr-32288/gazzodown/project.json
Due: none

remove settin from transaction
  apps/meteor/app/livechat/server/lib/QueueManager.ts
  packages/model-typings/src/models/ILivechatRoomsModel.ts
  packages/models/src/models/LivechatRooms.ts
Due: e2e

fix: Files contextual bar reactivity (#34860)
  .changeset/nasty-shirts-rule.md
  apps/meteor/client/views/room/contextualBar/RoomFiles/hooks/useFilesList.ts
Due: e2e, client

Deploy preview for PR 34962 🛫
  pr-preview/pr-34962/fuselage-ui-kit/project.json
  pr-preview/pr-34962/gazzodown/project.json
  pr-preview/pr-34962/ui-composer/project.json
Due: none

lint
  packages/models/src/models/LivechatRooms.ts
Due: none

lint
  packages/model-typings/src/models/ILivechatRoomsModel.ts
Due: none

Deploy preview for PR 34958 🛫
  pr-preview/pr-34958/fuselage-ui-kit/231.34ea8eec.iframe.bundle.js.map
  pr-preview/pr-34958/fuselage-ui-kit/231.9cce2c67.iframe.bundle.js
  pr-preview/pr-34958/fuselage-ui-kit/231.9cce2c67.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-34958/fuselage-ui-kit/231.9cce2c67.iframe.bundle.js.map
  pr-preview/pr-34958/fuselage-ui-kit/iframe.html
  pr-preview/pr-34958/fuselage-ui-kit/project.json
  pr-preview/pr-34958/fuselage-ui-kit/runtime~main.8bbc0d16.iframe.bundle.js
  pr-preview/pr-34958/fuselage-ui-kit/runtime~main.f13750c7.iframe.bundle.js
  pr-preview/pr-34958/gazzodown/project.json
  pr-preview/pr-34958/ui-composer/project.json
  pr-preview/pr-34958/uikit-playground/assets/CodeBlock-DksX6Gqq.js
  pr-preview/pr-34958/uikit-playground/assets/KatexBlock-Bks8WzBG.js
  pr-preview/pr-34958/uikit-playground/assets/KatexBlock-mt9tCE7S.js
  pr-preview/pr-34958/uikit-playground/assets/KatexElement-BgzmKNEK.js
  pr-preview/pr-34958/uikit-playground/assets/KatexElement-CaA_G0GS.js
  pr-preview/pr-34958/uikit-playground/assets/index-CEaNvtBv.js
  pr-preview/pr-34958/uikit-playground/index.html
Due: none

deploy: f323946ec0af249e4d001202712723d701e4fabd
  develop/fuselage-ui-kit/project.json
  develop/gazzodown/project.json
Due: none

Deploy preview for PR 34888 🛫
  pr-preview/pr-34888/fuselage-ui-kit/231.34ea8eec.iframe.bundle.js.map
  pr-preview/pr-34888/fuselage-ui-kit/231.9cce2c67.iframe.bundle.js
  pr-preview/pr-34888/fuselage-ui-kit/231.9cce2c67.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-34888/fuselage-ui-kit/231.9cce2c67.iframe.bundle.js.map
  pr-preview/pr-34888/fuselage-ui-kit/iframe.html
  pr-preview/pr-34888/fuselage-ui-kit/project.json
  pr-preview/pr-34888/fuselage-ui-kit/runtime~main.8bbc0d16.iframe.bundle.js
  pr-preview/pr-34888/fuselage-ui-kit/runtime~main.f13750c7.iframe.bundle.js
  pr-preview/pr-34888/gazzodown/project.json
  pr-preview/pr-34888/ui-composer/project.json
  pr-preview/pr-34888/uikit-playground/assets/CodeBlock-DksX6Gqq.js
  pr-preview/pr-34888/uikit-playground/assets/KatexBlock-Bks8WzBG.js
  pr-preview/pr-34888/uikit-playground/assets/KatexBlock-mt9tCE7S.js
  pr-preview/pr-34888/uikit-playground/assets/KatexElement-BgzmKNEK.js
  pr-preview/pr-34888/uikit-playground/assets/KatexElement-CaA_G0GS.js
  pr-preview/pr-34888/uikit-playground/assets/index-CEaNvtBv.js
  pr-preview/pr-34888/uikit-playground/index.html
Due: none

Path conditions:
  e2e: any of: apps/meteor/
  client: any of: apps/meteor/client
