Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

change addon to startAddon on presence dot
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/EditStatusModal.tsx
  apps/meteor/client/views/account/profile/AccountProfileForm.tsx
Due: e2e, client

feat: show call-aware warning in edit custom status modal
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/EditStatusModal.tsx
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

chore: use fuselage-forms for EditStatusModal and AccountProfileForm a11y
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/EditStatusModal.tsx
  apps/meteor/client/views/account/profile/AccountProfileForm.tsx
  apps/meteor/tests/e2e/page-objects/account-profile.ts
  apps/meteor/tests/e2e/page-objects/fragments/modals/edit-status-modal.ts
Due: e2e, client

chore: remove unused status i18n keys
  packages/i18n/src/locales/en.i18n.json
Due: none

chore: remove unnecessary `div` in UserStatusText
  apps/meteor/client/components/UserInfo/__snapshots__/UserInfo.spec.tsx.snap
  apps/meteor/client/components/UserStatusText/UserStatusText.tsx
Due: e2e, client

build UserStatusText tooltip lazily on hover
  apps/meteor/client/hooks/useUserStatusTooltip.tsx
Due: e2e, client

fix: correct status defaults in edit custom status modal
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/EditStatusModal.tsx
Due: e2e, client

refactor: return stable handlers object from useUserStatusTooltip
  apps/meteor/client/hooks/useUserStatusTooltip.tsx
Due: e2e, client

chore: move status expiration validation to field-level rules
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/EditStatusModal.tsx
Due: e2e, client

fix: XSS in sidebar message preview via unescaped sender name
  apps/meteor/client/lib/utils/normalizeMessagePreview/getMessagePreview.ts
Due: e2e, client

align custom menu item presence dot
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/hooks/useStatusItems.tsx
Due: e2e, client

use isTruthy instead of Boolean in UserStatusText filter
  apps/meteor/client/components/UserStatusText/UserStatusText.tsx
Due: e2e, client

rename user status menu action "Custom Status" to "Custom..."
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/hooks/useStatusItems.tsx
  apps/meteor/tests/e2e/page-objects/fragments/navbar.ts
  apps/meteor/tests/e2e/presence.spec.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

fix: move status dot selector to left of status text on profile form
  apps/meteor/client/views/account/profile/AccountProfileForm.tsx
Due: e2e, client

fix: pass missing title arg to useUserStatusTooltip in RoomMembersItem
  apps/meteor/client/views/room/contextualBar/RoomMembers/RoomMembersItem.tsx
Due: e2e, client

fix: remove unnecessary timeout and improve useUserStatusTooltip to handle all tooltips
  apps/meteor/client/hooks/useUserStatusTooltip.tsx
  apps/meteor/client/sidebar/Item/Condensed.tsx
  apps/meteor/client/sidebar/Item/Extended.tsx
  apps/meteor/client/sidebar/Item/Medium.tsx
  apps/meteor/client/sidebar/RoomList/SidebarItemTemplateWithData.tsx
  apps/meteor/client/views/navigation/sidebar/RoomList/SidebarItem.tsx
  apps/meteor/client/views/navigation/sidebar/RoomList/SidebarItemWithData.tsx
Due: e2e, client

chore: replace `title` by `aria-label` in UserCard
  apps/meteor/client/components/UserCard/UserCard.tsx
Due: e2e, client

fix: only show away in edit custom status modal when it is the default
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/EditStatusModal.tsx
Due: e2e, client

resolve userId once for sidebar RoomList instead of per-row
  apps/meteor/client/sidebar/RoomList/RoomList.tsx
  apps/meteor/client/sidebar/RoomList/RoomListRow.tsx
  apps/meteor/client/sidebar/RoomList/SidebarItemTemplateWithData.tsx
Due: e2e, client

refactor: memoize useStatusItems menu for stable reference
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/hooks/useStatusItems.tsx
Due: e2e, client

chore: use date-fns isSameDay in useExpirationText
  apps/meteor/client/hooks/useExpirationText.ts
Due: e2e, client

feat: presence sync for voice and video
  apps/meteor/server/services/media-call/service.ts
  apps/meteor/server/services/video-conference/service.ts
  apps/meteor/tests/end-to-end/apps/presence-state.ts
  ee/packages/media-calls/src/definition/IMediaCallServer.ts
  ee/packages/media-calls/src/server/CallDirector.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, e2e-api

feat: add statusId to presence claims
  apps/meteor/app/apps/server/bridges/users.ts
  ee/packages/presence/src/Presence.ts
  ee/packages/presence/src/lib/presenceEngine.spec.ts
  ee/packages/presence/src/lib/presenceEngine.ts
  packages/apps-engine/src/definition/accessors/IUserUpdater.ts
  packages/apps-engine/src/definition/users/IUser.ts
  packages/apps/src/server/accessors/UserUpdater.ts
  packages/apps/src/server/bridges/UserBridge.ts
  packages/apps/tests/test-data/bridges/userBridge.ts
  packages/core-services/src/types/IPresence.ts
  packages/core-typings/src/IUser.ts
  packages/model-typings/src/models/IUsersModel.ts
  packages/models/src/models/Users.ts
Due: e2e

feat: presence sync for calendar
  apps/meteor/app/api/server/v1/users.ts
  apps/meteor/server/services/calendar/service.ts
  apps/meteor/server/services/calendar/statusEvents/applyStatusChange.ts
  apps/meteor/server/services/calendar/statusEvents/cancelUpcomingStatusChanges.ts
  apps/meteor/server/services/calendar/statusEvents/generateCronJobId.ts
  apps/meteor/server/services/calendar/statusEvents/removeCronJobs.ts
  apps/meteor/tests/end-to-end/api/calendar.ts
  apps/meteor/tests/unit/server/services/calendar/service.tests.ts
  apps/meteor/tests/unit/server/services/calendar/statusEvents/applyStatusChange.ts
  apps/meteor/tests/unit/server/services/calendar/statusEvents/cancelUpcomingStatusChanges.tests.ts
  apps/meteor/tests/unit/server/services/calendar/statusEvents/generateCronJobId.tests.ts
  apps/meteor/tests/unit/server/services/calendar/statusEvents/handleOverlappingEvents.ts
  apps/meteor/tests/unit/server/services/calendar/statusEvents/removeCronJobs.tests.ts
  packages/core-services/src/types/ICalendarService.ts
  packages/core-typings/src/ICalendarEvent.ts
  packages/model-typings/src/models/ICalendarEventModel.ts
  packages/models/src/models/CalendarEvent.ts
Due: e2e, e2e-api

Update apps/meteor/tests/e2e/rooms-join.spec.ts
  apps/meteor/tests/e2e/rooms-join.spec.ts
Due: e2e

use a map
  apps/meteor/app/custom-oauth/server/customOAuth.ts
Due: e2e

exclude rooms prop
  apps/meteor/server/configuration/configurePassport.ts
Due: e2e, e2e-api

oauth
  apps/meteor/server/configuration/configurePassport.ts
Due: e2e, e2e-api

issuer & exp
  apps/meteor/app/apple/lib/handlePassportIdentityToken.ts
Due: e2e

avoid overriding email from spread
  apps/meteor/server/lib/oauth/verifyFunction.ts
Due: e2e, e2e-api

cubic
  apps/meteor/app/apple/lib/handlePassportIdentityToken.ts
Due: e2e

fix: security hotfix
  apps/meteor/app/integrations/server/api/api.ts
  apps/meteor/app/integrations/server/methods/incoming/addIncomingIntegration.ts
  apps/meteor/app/integrations/server/methods/incoming/updateIncomingIntegration.ts
  apps/meteor/client/views/admin/integrations/incoming/IncomingWebhookForm.tsx
  apps/meteor/tests/end-to-end/api/incoming-integrations.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

add changeset
  .changeset/dull-trams-follow.md
Due: none

fix test username
  apps/meteor/tests/end-to-end/api/incoming-integrations.ts
Due: e2e

fix: title shouldn't be required in useUserStatusTooltip
  apps/meteor/client/hooks/useUserStatusTooltip.tsx
  apps/meteor/client/views/room/contextualBar/RoomMembers/RoomMembersItem.tsx
Due: e2e, client

chore: revamp EditStatusModal
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/EditStatusModal.tsx
Due: e2e, client

chore: remove unnecessary return types
  apps/meteor/client/components/UserStatusText/UserStatusText.tsx
  apps/meteor/client/hooks/useExpirationText.ts
  apps/meteor/client/lib/utils/getUidDirectMessage.ts
Due: e2e, client

fix(i18n): fix sort order of pt-BR keys for room toolbox layout setting
  packages/i18n/src/locales/pt-BR.i18n.json
Due: none

test: flaky `session-expiration-redirect.spec`
  apps/meteor/tests/e2e/session-expiration-redirect.spec.ts
Due: e2e

chore: remove unnecessary style in Divider
  apps/meteor/client/views/account/profile/AccountProfileForm.tsx
Due: e2e, client

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
