Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true
  
  e2e-api:
    paths:
      - apps/meteor/server
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'
fixes:
  - '/home/runner/work/Rocket.Chat/Rocket.Chat/::'

Simplify packages tar
  .github/workflows/ci-code-check.yml
  .github/workflows/ci-test-unit.yml
  .github/workflows/ci.yml
Due: none

chore: enable multi arch docker image build
  .github/actions/build-docker/action.yml
  .github/actions/setup-node/action.yml
  .github/workflows/ci.yml
  docker-compose-ci.yml
Due: none

Tag images with github action run number as well
  .github/actions/build-docker/action.yml
  .github/workflows/ci.yml
Due: none

Cache livechat build separated
  .github/workflows/ci-code-check.yml
  .github/workflows/ci-test-unit.yml
  .github/workflows/ci.yml
Due: none

Update actions/download-artifact to v6
  .github/actions/build-docker/action.yml
  .github/actions/meteor-build/action.yml
  .github/workflows/ci.yml
Due: none

bump
  .github/actions/setup-node/action.yml
Due: none

regression(ci): publish build assets failing trying to download wrong file
  .github/workflows/ci.yml
Due: none

fix: guard against null userNameTable in data export to prevent stuck export jobs
  apps/meteor/.mocharc.js
  apps/meteor/server/lib/dataExport/exportRoomMessagesToFile.ts
  apps/meteor/server/lib/dataExport/processDataDownloads.spec.ts
  apps/meteor/server/lib/dataExport/processDataDownloads.ts
  apps/meteor/server/methods/requestDataDownload.ts
Due: e2e, e2e-api

added changeset
  .changeset/funny-rocks-admire.md
Due: none

chore!: removes `livechat:getAnalyticsChartData` deprecated method (#36925)
  .changeset/fifty-rice-smash.md
  apps/meteor/app/livechat/server/index.ts
  apps/meteor/app/livechat/server/methods/getAnalyticsChartData.ts
Due: e2e

chore: change audio direction based on the call's "on hold" status (#37381)
  packages/media-signaling/src/lib/services/webrtc/Processor.ts
Due: none

regression(ci): missing environment variables to publish images to docker hub
  .github/workflows/ci.yml
Due: none

chore: identify if a call was put on hold by the remote user (#37382)
  packages/media-signaling/src/definition/call/IClientMediaCall.ts
  packages/media-signaling/src/definition/services/webrtc/IWebRTCProcessor.ts
  packages/media-signaling/src/lib/Call.ts
  packages/media-signaling/src/lib/services/webrtc/Processor.ts
Due: none

abac license module
  packages/core-typings/src/license/LicenseModule.ts
  packages/jwt/__tests__/jwt.spec.ts
Due: none

abac package and endpoints
  apps/meteor/ee/server/api/abac.ts
  apps/meteor/ee/server/api/index.ts
  apps/meteor/ee/server/settings/abac.ts
  apps/meteor/package.json
  ee/packages/abac/.eslintrc.json
  ee/packages/abac/jest.config.ts
  ee/packages/abac/package.json
  ee/packages/abac/src/index.ts
  ee/packages/abac/tsconfig.json
  yarn.lock
Due: e2e

abac global enable setting
  apps/meteor/ee/server/configuration/abac.ts
  apps/meteor/ee/server/configuration/index.ts
  apps/meteor/ee/server/settings/abac.ts
Due: e2e

abac model
  apps/meteor/server/models.ts
  packages/core-typings/src/IAbacAttribute.ts
  packages/core-typings/src/index.ts
  packages/model-typings/src/index.ts
  packages/model-typings/src/models/IAbacAttributesModel.ts
  packages/models/src/index.ts
  packages/models/src/modelClasses.ts
  packages/models/src/models/AbacAttributes.ts
Due: e2e, e2e-api

permission
  apps/meteor/ee/server/api/abac.ts
  apps/meteor/ee/server/configuration/abac.ts
  apps/meteor/ee/server/lib/abac/index.ts
Due: e2e

abac flag
  ee/packages/abac/package.json
  ee/packages/abac/src/index.ts
  packages/core-typings/src/IRoom.ts
  yarn.lock
Due: none

lint
  packages/model-typings/src/models/IAbacAttributesModel.ts
Due: none

abac service
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  apps/meteor/ee/server/startup/services.ts
  ee/packages/abac/src/index.ts
  ee/packages/abac/tsconfig.json
  packages/core-services/src/index.ts
  packages/core-services/src/types/IAbacService.ts
Due: e2e

model
  packages/model-typings/src/models/IRoomsModel.ts
  packages/models/src/models/Rooms.ts
Due: none

tests
  ee/packages/abac/src/index.spec.ts
Due: none

translations
  packages/i18n/src/locales/en.i18n.json
Due: none

list attirbutes endpoint
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  ee/packages/abac/package.json
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
  yarn.lock
Due: e2e

Tests for other function
  ee/packages/abac/jest.config.ts
  ee/packages/abac/src/index.spec.ts
Due: none

create an abac attribute
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
  packages/core-typings/src/ABACAttributeDefinition.ts
  packages/core-typings/src/IAbacAttribute.ts
  packages/core-typings/src/IRoom.ts
  packages/models/src/models/AbacAttributes.ts
Due: e2e

attributes on room
  packages/core-typings/src/ABACAttributeDefinition.ts
  packages/core-typings/src/IRoom.ts
Due: none

update abac attribute or values
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
Due: e2e

delete
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
Due: none

remove abac toggle endpoint
  apps/meteor/ee/server/api/abac/index.ts
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
Due: e2e

update abac attributes
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
  packages/core-typings/src/IRoom.ts
  packages/models/src/models/Rooms.ts
Due: none

delete
  apps/meteor/ee/server/api/abac/index.ts
Due: e2e

attribute by id
  apps/meteor/ee/server/api/abac/index.ts
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
Due: e2e

move check to model
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/model-typings/src/models/IRoomsModel.ts
  packages/models/src/models/Rooms.ts
Due: none

check setting
  apps/meteor/ee/server/api/abac/index.ts
  ee/packages/abac/src/index.ts
Due: e2e

update by key
  ee/packages/abac/src/index.ts
  packages/model-typings/src/models/IRoomsModel.ts
  packages/models/src/models/Rooms.ts
Due: none

abac set attributes
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
  packages/model-typings/src/models/IRoomsModel.ts
  packages/models/src/models/Rooms.ts
Due: e2e

check if attribute is in use by key
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
Due: e2e
