Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

test: fake only timer APIs in sinon clocks
  apps/meteor/server/services/video-conference/leaveCall.spec.ts
  apps/meteor/tests/unit/server/lib/omnichannel/webhooks.spec.ts
  apps/meteor/tests/unit/server/services/omnichannel/queue.tests.ts
Due: e2e, e2e-api

test: stop unit tests from leaving work running
  apps/meteor/server/lib/omnichannel/contacts/resolveContactConflicts.spec.ts
  apps/meteor/server/lib/omnichannel/contacts/updateContact.spec.ts
  apps/meteor/tests/unit/server/services/omnichannel/queue.tests.ts
Due: e2e, e2e-api

test: run the reserved-name checks of channels.rename
  apps/meteor/tests/end-to-end/api/channels.ts
Due: e2e

test: drop EE checks repeated inside EE-only suites
  apps/meteor/tests/end-to-end/api/livechat/00-rooms.ts
  apps/meteor/tests/end-to-end/api/livechat/10-departments.ts
  apps/meteor/tests/end-to-end/apps/video-conferences.ts
Due: e2e

test: run the specs no runner picked up
  apps/meteor/jest.config.ts
  apps/meteor/lib/mapLivechatContactConflicts.test.ts
  apps/meteor/server/lib/getNestedProp.test.ts
  docs/backend-folder-structure.md
Due: e2e, e2e-api

chore: remove Mocha
  apps/meteor/.mocharc.base.json
  apps/meteor/package.json
  eslint.config.mjs
  package.json
  yarn.lock
Due: e2e

test: load the REST API test setup in child processes only
  apps/meteor/package.json
  apps/meteor/tests/end-to-end/dumpLastRequestOnFailure.ts
  apps/meteor/tests/end-to-end/run.mjs
Due: e2e

test: move the Mocha tests added on develop to node:test
  apps/meteor/server/lib/ldap/getLdapErrorReason.test.ts
  apps/meteor/tests/unit/app/livechat/lib/isSameChannel.test.ts
  apps/meteor/tests/unit/server/lib/messages/loadRoomHistory.test.ts
Due: e2e, e2e-api

test: fix REST API assertions that ran after the test ended
  apps/meteor/tests/end-to-end/api/channels.ts
  apps/meteor/tests/end-to-end/api/moderation.ts
  apps/meteor/tests/end-to-end/api/users.ts
Due: e2e

test: locate the hidden-from combobox by its field label
  apps/meteor/tests/e2e/admin-status-and-presence.spec.ts
Due: e2e

fix(video-conf): find the conference window by name instead of reloading it
  apps/meteor/client/views/room/contextualBar/VideoConference/hooks/useVideoConfOpenCall.spec.ts
  apps/meteor/client/views/room/contextualBar/VideoConference/hooks/useVideoConfOpenCall.tsx
  docs/features/video-conference-persistent-chat/README.md
Due: e2e, client

test: locate the hidden-from combobox by its field label (#42694)
  apps/meteor/tests/e2e/admin-status-and-presence.spec.ts
Due: e2e

fix(video-conf): ask to join a previewed room before starting a call in it
  .changeset/video-call-button-before-joining.md
  apps/meteor/client/hooks/roomActions/useVideoCallRoomAction.spec.tsx
  apps/meteor/client/hooks/roomActions/useVideoCallRoomAction.ts
  docs/features/video-conference-persistent-chat/README.md
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

chore(video-conf): license LiveKit calls under a video-conference-native module (#42666)
  .changeset/livekit-server-provider.md
  apps/meteor/ee/server/configuration/videoConference.ts
  apps/meteor/ee/server/lib/livekit/callConfig.spec.ts
  apps/meteor/ee/server/lib/livekit/callConfig.ts
  apps/meteor/ee/server/lib/livekit/config.spec.ts
  apps/meteor/ee/server/lib/livekit/config.ts
  apps/meteor/ee/server/settings/video-conference.ts
  apps/meteor/tests/mocks/data.ts
  docs/features/native-video-conference/README.md
  docs/features/native-video-conference/deployment.md
  packages/core-typings/src/license/LicenseModule.ts
  packages/i18n/src/locales/en.i18n.json
  packages/jwt/__tests__/jwt.spec.ts
Due: e2e

feat(video-conf): make whose turn is next stand out in the hand queue
  docs/features/native-video-conference/README.md
  packages/i18n/src/locales/en.i18n.json
  packages/ui-conference/src/call/CallTopBarStatus.tsx
  packages/ui-conference/src/call/__snapshots__/callStories.spec.tsx.snap
  packages/ui-conference/src/call/lib/raisedHands.spec.ts
  packages/ui-conference/src/call/lib/raisedHands.ts
  packages/ui-conference/src/call/tile/ParticipantTile.stories.tsx
  packages/ui-conference/src/call/tile/TileFrame.tsx
  packages/ui-conference/src/components/CallRaisedHands.stories.tsx
  packages/ui-conference/src/components/CallRaisedHands.tsx
Due: none

docs(video-conf): say the hand plates are on the tiles that are on screen
  docs/features/native-video-conference/README.md
Due: none

remove $type in favor of $exists
  packages/models/src/models/Contacts.ts
Due: none

adjust serialized contact type
  apps/meteor/client/views/contacts/ContactEdit.tsx
  apps/meteor/client/views/contacts/ContactInfo.tsx
  apps/meteor/client/views/contacts/ContactMenu.tsx
  apps/meteor/client/views/contacts/ContactsTab.tsx
  apps/meteor/client/views/contacts/ContactsTableRow.tsx
Due: e2e, client

use distinct IDs for mocked array
  apps/meteor/ee/server/lib/exchange/graph/MicrosoftGraphProvider.spec.ts
Due: e2e

avoid losing the whole contact folder if the avatar sync fails
  apps/meteor/ee/server/lib/exchange/sync/contacts/syncContactFolder.ts
Due: e2e

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
