Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true
  
  e2e-api:
    paths:
      - apps/meteor/server
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'
fixes:
  - '/home/runner/work/Rocket.Chat/Rocket.Chat/::'

lint
  .vscode/settings.json
  apps/meteor/app/authorization/server/functions/upsertPermissions.ts
Due: e2e

refactor(settings): remove setBulk method and update initialization logic
  apps/meteor/app/settings/server/CachedSettings.ts
  apps/meteor/app/settings/server/startup.ts
Due: e2e

perf(settings): use toArray() and setBulk() for initial settings load
  apps/meteor/app/settings/server/CachedSettings.ts
  apps/meteor/app/settings/server/startup.ts
Due: e2e

perf(settings): use toArray() for initial settings load
  apps/meteor/app/settings/server/startup.ts
Due: e2e

chore(authorization): use generic room wording in error message
  apps/meteor/app/authorization/server/validateRequiredRolesForRoom.ts
Due: e2e

fix: loadSurroundingMessages incorrect sort query
  apps/meteor/server/methods/loadSurroundingMessages.ts
Due: e2e, e2e-api

fix: Refactoring user.info
  apps/meteor/app/api/server/v1/users.ts
  packages/core-typings/src/Ajv.ts
  packages/rest-typings/src/v1/users.ts
  packages/rest-typings/src/v1/users/UsersInfoParamsGet.ts
Due: e2e

refactor: enable cron functionality by restoring and organizing import statements in usePruneWarningMessage
  apps/meteor/client/hooks/usePruneWarningMessage.ts
Due: e2e, client

seq index
  apps/meteor/app/livechat/server/lib/closeRoom.ts
  packages/models/src/proxify.ts
Due: e2e

fasdf
  packages/models/src/proxify.ts
Due: none

ci: enhance issue creation by grouping TODOs (#39290)
  scripts/todo-issue/src/github.ts
  scripts/todo-issue/src/index.ts
Due: none

fix /v1/chat.react endpoint typings
  packages/rest-typings/src/v1/chat.ts
Due: none

test: added e2e api tests to loadSurroundingMessages
  apps/meteor/tests/end-to-end/api/methods.ts
Due: e2e

Update apps/meteor/app/meteor-accounts-saml/server/lib/SAML.ts
  apps/meteor/app/meteor-accounts-saml/server/lib/SAML.ts
Due: e2e

refactor: Use `RequiredField` util for username enforcement in API definition (#39292)
  apps/meteor/app/api/server/definition.ts
Due: e2e

fix(message-parser): avoid protocol duplication for invalid absolute URLs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/url.test.ts
Due: none

perf(message-parser): simplify Any fallback URL/phone parsing
  packages/message-parser/src/grammar.pegjs
Due: none

permissions seq
  apps/meteor/app/authorization/server/functions/upsertPermissions.ts
Due: e2e

Fix unsafe username cast in prepareMessageObject
  apps/meteor/app/lib/server/functions/sendMessage.ts
Due: e2e

fix(message-parser): align scheme prefix regex with RFC 3986
  packages/message-parser/src/utils.ts
Due: none

chore: update chat.sendMessage schema to require only 'message' field
  apps/meteor/app/api/server/v1/chat.ts
Due: e2e

chore: changeset
  .changeset/sour-ducks-swim.md
Due: none

fix: retain ChatReact type reference in ChatEndpoints
  apps/meteor/app/api/server/v1/chat.ts
  packages/rest-typings/src/v1/chat.ts
Due: e2e

fix: correct method name in getRoomById error metadata
  apps/meteor/server/methods/getRoomById.ts
Due: e2e, e2e-api

remove perms
  apps/meteor/app/authorization/server/functions/upsertPermissions.ts
Due: e2e

fixed typing error
  apps/meteor/server/services/room/service.ts
Due: e2e, e2e-api

chore: bump fuselage
  apps/meteor/package.json
  apps/uikit-playground/package.json
  ee/packages/ui-theming/package.json
  packages/fuselage-ui-kit/package.json
  packages/gazzodown/package.json
  packages/storybook-config/package.json
  packages/ui-avatar/package.json
  packages/ui-client/package.json
  packages/ui-composer/package.json
  packages/ui-contexts/package.json
  packages/ui-video-conf/package.json
  packages/ui-voip/package.json
  packages/web-ui-registration/package.json
  yarn.lock
Due: e2e

chore: Update card slots styles
  packages/ui-voip/src/components/Cards/CardSlotAudioState.tsx
  packages/ui-voip/src/components/Cards/CardSlotContainer.tsx
  packages/ui-voip/src/components/Cards/CardSlotContainerInner.tsx
  packages/ui-voip/src/components/Cards/GenericCard.tsx
  packages/ui-voip/src/components/Cards/PeerCard.tsx
  packages/ui-voip/src/views/MediaCallRoomSection/MediaCallRoomSection.tsx
Due: none

Apply suggestion from @ggazzo
  apps/meteor/tests/end-to-end/api/livechat/00-rooms.ts
Due: e2e

trash first
  apps/meteor/server/database/trash.ts
  packages/models/src/proxify.ts
Due: e2e, e2e-api

chore: jest.config.ts __dirname
  packages/message-parser/jest.config.ts
Due: none

fix(fips): add await/void to setBundledJsCssPrefix calls
  apps/meteor/server/configuration/configureCDN.ts
Due: e2e, e2e-api

chore(fips): log available hashes and update compose + startup sequence
  apps/meteor/.docker/Dockerfile.fips
  docker-compose-fips.yml
  fips-dev.sh
Due: e2e

feat(fips): FIPS 140-3 Dockerfile & script
  apps/meteor/.docker/Dockerfile.fips3
  fips3-dev.sh
Due: e2e

chore: add fips-dev.sh script
  fips-dev.sh
Due: none

feat: fips
  apps/meteor/.docker/Dockerfile.fips
  apps/meteor/package.json
  docker-compose-fips.yml
Due: e2e

fix(fips): use sha256 instead of md5 on method.call
  apps/meteor/app/api/server/v1/misc.ts
  apps/meteor/packages/webapp/webapp_server.js
Due: e2e

fix(fips): use sha256 instead of sha1
  apps/meteor/.docker/Dockerfile.fips
  apps/meteor/.docker/nodejs.cnf
  apps/meteor/packages/webapp/.npm/package/.gitignore
  apps/meteor/packages/webapp/.npm/package/README
  apps/meteor/packages/webapp/.npm/package/npm-shrinkwrap.json
  apps/meteor/packages/webapp/package.js
  apps/meteor/packages/webapp/socket_file.js
  apps/meteor/packages/webapp/webapp.d.ts
  apps/meteor/packages/webapp/webapp_client.js
  apps/meteor/packages/webapp/webapp_cordova.js
  apps/meteor/packages/webapp/webapp_server.js
  apps/meteor/server/configuration/configureBoilerplate.ts
Due: e2e, e2e-api

fix(fips): livechat webpack config
  apps/meteor/.docker/Dockerfile.fips3
  packages/livechat/webpack.config.ts
Due: e2e

fix(fips): replace md5 with sha256 for 2fa fingerprint
  apps/meteor/app/2fa/server/code/index.ts
Due: e2e
