Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

fix password flow
  apps/meteor/client/views/account/security/ChangePassword.tsx
  packages/ui-client/src/components/PasswordVerifier/PasswordVerifier.tsx
  packages/ui-client/src/components/PasswordVerifier/PasswordVerifierItem.tsx
  packages/ui-client/src/components/PasswordVerifier/PasswordVerifiers.spec.tsx
  packages/web-ui-registration/src/RegisterForm.tsx
  packages/web-ui-registration/src/ResetPassword/ResetPasswordPage.tsx
Due: e2e, client

Create password-flow.md
  .changeset/password-flow.md
Due: none

fix translations
  apps/meteor/packages/rocketchat-i18n/i18n/pt-BR.i18n.json
Due: e2e

chore: Remove deprecated `useForm` (#31245)
  apps/meteor/client/hooks/useForm.ts
Due: e2e, client

fix lint
  apps/meteor/client/views/account/security/ChangePassword.tsx
Due: e2e, client

change "callback" order
  apps/meteor/app/lib/server/functions/sendMessage.js
Due: e2e

fix: account verify email (#31227)
  .changeset/tame-drinks-yell.md
  apps/meteor/app/2fa/server/loginHandler.ts
  apps/meteor/client/main.ts
  apps/meteor/client/startup/accounts.ts
  apps/meteor/client/startup/index.ts
Due: e2e, client

Remove unstable dependency
  apps/meteor/client/views/room/body/hooks/useGoToHomeOnRemoved.ts
Due: e2e, client

Text area only shows the last line of the message #31252 -- fixed
  apps/meteor/client/views/room/composer/messageBox/MessageBox.tsx
Due: e2e, client

Text area only shows the last line of the message #31252 --fixed
  .gitignore
Due: none

Text area only shows the last line of the message #31252 --fixed-final
  .env
  docker-compose.yml
Due: none

converted to useLocalStorage
  apps/meteor/client/sidebar/header/EditStatusModal.tsx
Due: e2e, client

.
  apps/meteor/client/sidebar/header/EditStatusModal.tsx
Due: e2e, client

fix for :Text area only shows the last line of the message when switched to any other page
  apps/meteor/client/views/room/composer/RoomComposer/hooks/useAutoGrow.ts
  apps/meteor/client/views/room/composer/messageBox/MessageBox.tsx
Due: e2e, client

fixed logic for change
  apps/meteor/client/sidebar/header/EditStatusModal.tsx
Due: e2e, client

change query keys
  apps/meteor/client/views/admin/moderation/MessageReportInfo.tsx
  apps/meteor/client/views/admin/moderation/ModerationConsoleTable.tsx
  apps/meteor/client/views/admin/moderation/UserMessages.tsx
  apps/meteor/client/views/admin/moderation/UserReports/ModConsoleUsersTable.tsx
  apps/meteor/client/views/admin/moderation/UserReports/UserReportInfo.tsx
  apps/meteor/client/views/admin/moderation/helpers/DateRangePicker.tsx
  apps/meteor/client/views/admin/moderation/hooks/useDeactivateUserAction.tsx
  apps/meteor/client/views/admin/moderation/hooks/useDeleteMessage.tsx
  apps/meteor/client/views/admin/moderation/hooks/useDeleteMessagesAction.tsx
  apps/meteor/client/views/admin/moderation/hooks/useDismissMessageAction.tsx
  apps/meteor/client/views/admin/moderation/hooks/useDismissUserAction.tsx
  apps/meteor/client/views/admin/moderation/hooks/useResetAvatarAction.tsx
Due: e2e, client

remove boolean prop
  apps/meteor/client/views/admin/moderation/ModerationConsoleTableRow.tsx
  apps/meteor/client/views/admin/moderation/UserReports/ModConsoleUserTableRow.tsx
  apps/meteor/client/views/admin/moderation/UserReports/UserReportInfo.tsx
  apps/meteor/client/views/admin/moderation/helpers/UserColumn.tsx
Due: e2e, client

fix: Sending messages triggering stream unsub/sub (#31254)
  apps/meteor/client/views/room/body/hooks/useGoToHomeOnRemoved.ts
Due: e2e, client

chore: move `mention-user-not-in-channel` to afterSaveMessage
  apps/meteor/app/lib/server/startup/mentionUserNotInChannel.ts
Due: e2e

modified behaviour
  apps/meteor/client/sidebar/header/EditStatusModal.tsx
Due: e2e, client

remove Box
  apps/meteor/client/views/admin/moderation/UserReports/UserReportInfo.tsx
Due: e2e, client

add a generic api func
  apps/meteor/tests/data/moderation.helper.ts
Due: e2e

regression: `PageHeader` back button must be an `IconButton`
  apps/meteor/client/components/Page/PageHeader.tsx
  apps/meteor/client/views/admin/emailInbox/EmailInboxPage.tsx
  apps/meteor/client/views/admin/import/NewImportPage.tsx
  apps/meteor/client/views/admin/import/PrepareImportPage.tsx
  apps/meteor/client/views/admin/integrations/incoming/EditIncomingWebhook.tsx
  apps/meteor/client/views/admin/integrations/outgoing/EditOutgoingWebhook.tsx
  apps/meteor/client/views/admin/integrations/outgoing/history/OutgoingWebhookHistoryPage.tsx
  apps/meteor/client/views/admin/oauthApps/OAuthAppsPage.tsx
  apps/meteor/client/views/omnichannel/departments/EditDepartment.tsx
  apps/meteor/ee/client/omnichannel/cannedResponses/CannedResponseEdit.tsx
Due: e2e, client

fix: inquiries being limited to 50 items
  apps/meteor/app/livechat/client/lib/stream/queueManager.ts
  apps/meteor/client/providers/OmnichannelProvider.tsx
Due: e2e, client

BE for triggers
  apps/meteor/app/livechat/imports/server/rest/triggers.ts
  apps/meteor/tests/end-to-end/api/livechat/08-triggers.ts
  packages/core-typings/src/ILivechatTrigger.ts
  packages/rest-typings/src/v1/omnichannel.ts
Due: e2e

fix: searchlist Issue while pressing enter
  apps/meteor/client/sidebar/search/SearchList.tsx
Due: e2e, client

chore: move `mention-user-not-in-channel` to afterSaveMessage (#31263)
  apps/meteor/app/lib/server/startup/mentionUserNotInChannel.ts
Due: e2e

fix joincode settings
  apps/meteor/app/channel-settings/server/methods/saveRoomSettings.ts
  apps/meteor/server/services/room/service.ts
Due: e2e

Create stale-monkeys-yell.md
  .changeset/stale-monkeys-yell.md
Due: none

undo unwanted commit
  apps/meteor/packages/rocketchat-i18n/i18n/en.i18n.json
Due: e2e

chore: stop using callbacks for parsing mentions on messages (#31188)
  apps/meteor/app/importer-slack/server/SlackImporter.ts
  apps/meteor/app/lib/server/functions/sendMessage.js
  apps/meteor/app/mentions/lib/MentionsParser.js
  apps/meteor/app/mentions/lib/MentionsParser.ts
  apps/meteor/app/mentions/server/Mentions.js
  apps/meteor/app/mentions/server/Mentions.ts
  apps/meteor/app/mentions/server/index.ts
  apps/meteor/app/threads/client/lib/normalizeThreadTitle.ts
  apps/meteor/client/components/GazzodownText.tsx
  apps/meteor/server/services/messages/hooks/BeforeSaveMentions.ts
  apps/meteor/server/services/messages/service.ts
  apps/meteor/tests/unit/app/mentions/client.tests.js
  apps/meteor/tests/unit/app/mentions/server.tests.js
  packages/core-typings/src/IMessage/IMessage.ts
  packages/gazzodown/src/MarkupInteractionContext.ts
Due: e2e, client

chore: bump to the latest alpha + node 20
  apps/meteor/.meteor/packages
  apps/meteor/.meteor/release
  apps/meteor/.meteor/versions
  apps/meteor/packages/flow-router/.npm/package/npm-shrinkwrap.json
  package.json
Due: e2e

chore: fix to support latest alpha
  apps/meteor/packages/rocketchat-mongo-config/server/index.js
Due: e2e

chore: bump isolated-vm
  apps/meteor/package.json
  yarn.lock
Due: e2e

Create forty-adults-kneel.md
  .changeset/forty-adults-kneel.md
Due: none

chore: remove Messages model dep of Rooms model
  apps/meteor/app/lib/server/functions/cleanRoomHistory.ts
  apps/meteor/app/lib/server/functions/deleteMessage.ts
  apps/meteor/server/models/raw/Messages.ts
  apps/meteor/server/models/raw/Rooms.ts
  apps/meteor/server/services/messages/service.ts
  packages/model-typings/src/models/IRoomsModel.ts
Due: e2e

chore: remove `beforeSaveMessage` callback
  apps/meteor/app/lib/client/methods/sendMessage.ts
  apps/meteor/app/lib/server/functions/sendMessage.js
  apps/meteor/app/lib/server/functions/updateMessage.ts
  apps/meteor/app/message-pin/server/pinMessage.ts
  apps/meteor/client/methods/updateMessage.ts
  apps/meteor/lib/callbacks.ts
Due: e2e, client

fix: Resolved Search List Issue when pressing ENTER (#31269)
  .changeset/forty-adults-kneel.md
  apps/meteor/client/sidebar/search/SearchList.tsx
Due: e2e, client

Path conditions:
  e2e: any of: apps/meteor/
  client: any of: apps/meteor/client
