Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'

feat: add channel to contacts
  apps/meteor/app/livechat/server/lib/LivechatTyped.ts
  apps/meteor/server/models/raw/LivechatContacts.ts
  packages/core-typings/src/ILivechatContact.ts
  packages/model-typings/src/models/ILivechatContactsModel.ts
Due: e2e

Update sendTranscript.ts
  apps/meteor/app/livechat/server/lib/sendTranscript.ts
Due: e2e

fix: prevent uiInteraction to invalidate
  apps/meteor/client/hooks/useAppUiKitInteraction.ts
Due: e2e, client

feat: add references to room.info endpoint (#33011)
  .changeset/quiet-cherries-punch.md
  apps/meteor/app/api/server/v1/rooms.ts
  apps/meteor/server/services/team/service.ts
  apps/meteor/tests/end-to-end/api/rooms.ts
  packages/core-services/src/types/ITeamService.ts
  packages/rest-typings/src/v1/rooms.ts
Due: e2e

Create rich-toes-bow.md
  .changeset/rich-toes-bow.md
Due: none

feat: replace `SideBar` new components
  apps/meteor/client/sidebarv2/Item/Condensed.tsx
  apps/meteor/client/sidebarv2/Item/Extended.tsx
  apps/meteor/client/sidebarv2/Item/Medium.tsx
  apps/meteor/client/sidebarv2/RoomList/RoomList.tsx
  apps/meteor/client/sidebarv2/RoomList/RoomListRow.tsx
  apps/meteor/client/sidebarv2/RoomList/RoomListRowWrapper.tsx
  apps/meteor/client/sidebarv2/RoomList/SideBarItemTemplateWithData.tsx
  apps/meteor/client/sidebarv2/RoomList/useSidebarListNavigation.ts
  apps/meteor/client/sidebarv2/Sidebar.tsx
  apps/meteor/client/sidebarv2/header/SearchSection.tsx
  apps/meteor/client/sidebarv2/header/actions/CreateRoom.tsx
  apps/meteor/client/sidebarv2/header/actions/Search.tsx
  apps/meteor/client/sidebarv2/header/actions/Sort.tsx
  apps/meteor/client/sidebarv2/hooks/useAvatarTemplate.tsx
  apps/meteor/client/sidebarv2/search/SearchList.tsx
  apps/meteor/client/sidebarv2/search/UserItem.tsx
  apps/meteor/client/sidebarv2/sections/StatusDisabledSection.tsx
Due: e2e, client

bump `fuselage@dev`
  apps/meteor/package.json
  ee/packages/ui-theming/package.json
  packages/fuselage-ui-kit/package.json
  packages/gazzodown/package.json
  packages/ui-avatar/package.json
  packages/ui-client/package.json
  packages/ui-composer/package.json
  packages/ui-video-conf/package.json
  packages/uikit-playground/package.json
  yarn.lock
Due: e2e

fix: prevent uiInteraction to invalidate multiple times (#33216)
  .changeset/rich-toes-bow.md
  apps/meteor/client/hooks/useAppUiKitInteraction.ts
Due: e2e, client

fix: added condition so it will remove extra space
  apps/meteor/client/views/room/composer/messageBox/MessageBox.tsx
Due: e2e, client

fix: create channel when contact exists
  apps/meteor/app/livechat/server/lib/LivechatTyped.ts
Due: e2e

test: ensure that channels are created correctly
  apps/meteor/tests/end-to-end/api/livechat/contacts.ts
Due: e2e

Create four-cherries-kneel.md
  .changeset/four-cherries-kneel.md
Due: none

Create `AnchorPortal`
  packages/ui-client/src/components/AnchorPortal.spec.tsx
  packages/ui-client/src/components/AnchorPortal.tsx
  packages/ui-client/src/components/index.ts
  packages/ui-client/src/helpers/anchors.ts
Due: none

Replace usage
  apps/meteor/client/lib/utils/createAnchor.ts
  apps/meteor/client/lib/utils/deleteAnchor.ts
  apps/meteor/client/portals/TooltipPortal.tsx
  apps/meteor/client/portals/VideoConfPopupPortal.tsx
  yarn.lock
Due: e2e, client

chore: rename `SidebarV2`
  apps/meteor/client/sidebarv2/Item/Condensed.tsx
  apps/meteor/client/sidebarv2/Item/Extended.tsx
  apps/meteor/client/sidebarv2/Item/Medium.tsx
  apps/meteor/client/sidebarv2/RoomList/RoomList.tsx
  apps/meteor/client/sidebarv2/RoomList/RoomListRow.tsx
  apps/meteor/client/sidebarv2/RoomList/RoomListRowWrapper.tsx
  apps/meteor/client/sidebarv2/RoomList/SidebarItemTemplateWithData.tsx
  apps/meteor/client/sidebarv2/Sidebar.tsx
  apps/meteor/client/sidebarv2/header/SearchList.tsx
  apps/meteor/client/sidebarv2/header/SearchSection.tsx
  apps/meteor/client/sidebarv2/header/actions/CreateRoom.tsx
  apps/meteor/client/sidebarv2/header/actions/Sort.tsx
  apps/meteor/client/sidebarv2/search/Row.tsx
  apps/meteor/client/sidebarv2/search/UserItem.tsx
  apps/meteor/client/sidebarv2/sections/StatusDisabledSection.tsx
Due: e2e, client

chore: improves the useFeaturePreviewList hook
  apps/meteor/client/NavBarV2/NavBarSettingsToolbar/UserMenu/hooks/useAccountItems.tsx
  apps/meteor/client/sidebar/header/hooks/useAccountItems.tsx
  apps/meteor/client/views/account/featurePreview/AccountFeaturePreviewPage.tsx
  apps/meteor/client/views/admin/featurePreview/AdminFeaturePreviewPage.tsx
  packages/ui-client/src/components/FeaturePreview/FeaturePreviewBadge.tsx
  packages/ui-client/src/hooks/useFeaturePreview.ts
  packages/ui-client/src/hooks/useFeaturePreviewList.ts
Due: e2e, client

docs: adds changeset
  .changeset/quick-rings-wave.md
Due: none

Add Jest preset for SSR
  packages/jest-presets/src/ssr/index.ts
  packages/jest-presets/src/ssr/jest-preset.ts
  packages/jest-presets/src/ssr/jest-setup.ts
  packages/jest-presets/ssr
Due: none

refactor: `AnchorPortal` component (#33217)
  apps/meteor/client/lib/utils/createAnchor.ts
  apps/meteor/client/lib/utils/deleteAnchor.ts
  apps/meteor/client/portals/TooltipPortal.tsx
  apps/meteor/client/portals/VideoConfPopupPortal.tsx
  packages/ui-client/src/components/AnchorPortal.spec.tsx
  packages/ui-client/src/components/AnchorPortal.tsx
  packages/ui-client/src/components/index.ts
  packages/ui-client/src/helpers/anchors.ts
  yarn.lock
Due: e2e, client

fix meteor installation link, previously it was giving 404
  README.md
Due: none

Fix system requirements url in README.md
  README.md
Due: none

chore: meteor installation link (#33220)
  README.md
Due: none

bump fuselage
  apps/meteor/package.json
  ee/packages/ui-theming/package.json
  packages/fuselage-ui-kit/package.json
  packages/gazzodown/package.json
  packages/ui-avatar/package.json
  packages/ui-client/package.json
  packages/ui-composer/package.json
  packages/ui-video-conf/package.json
  packages/uikit-playground/package.json
  yarn.lock
Due: e2e

Reviews
  apps/meteor/client/omnichannel/priorities/PriorityEditForm.tsx
  apps/meteor/client/omnichannel/tags/TagEdit.tsx
  apps/meteor/client/views/admin/customSounds/AddCustomSound.tsx
  apps/meteor/client/views/admin/customSounds/EditSound.tsx
  apps/meteor/client/views/room/contextualBar/UserInfo/ReportUserModal.tsx
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/hi-IN.i18n.json
  packages/ui-client/src/components/CustomFieldsForm.tsx
Due: e2e, client

chore: rename `Sidepanel` items
  apps/meteor/client/views/room/RoomOpener.tsx
  apps/meteor/client/views/room/SidePanel/RoomSidePanel.tsx
  apps/meteor/client/views/room/SidePanel/RoomSidePanelListWrapper.tsx
  apps/meteor/client/views/room/SidePanel/RoomSidePanelLoading.tsx
  apps/meteor/client/views/room/SidePanel/SidePanelItem/RoomSidePanelItem.tsx
  apps/meteor/client/views/room/SidePanel/SidePanelItem/index.ts
  apps/meteor/client/views/room/SidePanel/hooks/useItemData.tsx
  apps/meteor/client/views/room/SidePanel/index.ts
Due: e2e, client

build: :arrow_up: Upgrade fuselage to latest version
  apps/meteor/package.json
  ee/packages/ui-theming/package.json
  packages/fuselage-ui-kit/package.json
  packages/gazzodown/package.json
  packages/ui-avatar/package.json
  packages/ui-client/package.json
  packages/ui-composer/package.json
  packages/ui-video-conf/package.json
  packages/uikit-playground/package.json
  yarn.lock
Due: e2e

fix story
  apps/meteor/client/sidebarv2/Item/Extended.stories.tsx
Due: e2e, client

chore: rename `Sidepanel` items
  apps/meteor/client/views/room/Sidepanel/RoomSidepanel.tsx
  apps/meteor/client/views/room/Sidepanel/RoomSidepanelListWrapper.tsx
  apps/meteor/client/views/room/Sidepanel/RoomSidepanelLoading.tsx
  apps/meteor/client/views/room/Sidepanel/SidepanelItem/RoomSidepanelItem.tsx
  apps/meteor/client/views/room/Sidepanel/SidepanelItem/index.ts
  apps/meteor/client/views/room/Sidepanel/hooks/useItemData.tsx
  apps/meteor/client/views/room/Sidepanel/index.ts
Due: e2e, client

Update RoomHeader.tsx
  apps/meteor/client/views/room/Header/RoomHeader.tsx
Due: e2e, client

Update RoomHeader.tsx
  apps/meteor/client/views/room/HeaderV2/RoomHeader.tsx
Due: e2e, client

fix RoomSidepanel loading
  apps/meteor/client/views/room/Sidepanel/RoomSidepanel.tsx
Due: e2e, client

fix: Retention policy warning keep displaying if disabled in room (#33197)
  .changeset/khaki-cameras-glow.md
  apps/meteor/client/views/room/hooks/useRetentionPolicy.spec.ts
  apps/meteor/client/views/room/hooks/useRetentionPolicy.ts
Due: e2e, client

build: :pushpin: Change peerDependencies to *
  packages/fuselage-ui-kit/package.json
  packages/gazzodown/package.json
  packages/ui-avatar/package.json
  packages/ui-client/package.json
  packages/ui-video-conf/package.json
  packages/web-ui-registration/package.json
Due: none

fix EditRoomInfo
  apps/meteor/client/views/room/contextualBar/Info/EditRoomInfo/EditRoomInfo.tsx
Due: e2e, client

changeset
  .changeset/many-balloons-scream.md
Due: none

chore: E2EE setting warning update
  packages/i18n/src/locales/en.i18n.json
Due: none
