Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

chore!: set MESSAGE_MAX_PARSE_LENGTH default to 10000 (#42573)
  .changeset/message-max-parse-length-default.md
  apps/meteor/lib/constants.ts
  apps/meteor/tests/unit/lib/getMessageMaxParseLength.spec.ts
  apps/meteor/tests/unit/server/services/messages/hooks/BeforeSaveMarkdownParser.tests.ts
  docs/features/message-max-parse-length.md
Due: e2e

chore(deps): replace `image-size` with `sharp` (#42077)
  .yarn/patches/image-size-npm-1.2.1-e285f3c080.patch
  apps/meteor/package.json
  apps/meteor/server/lib/media/assets/assets.ts
  package.json
  yarn.lock
Due: e2e, e2e-api

fix: use inviteToken instead of _id in banned user invite tests
  apps/meteor/tests/end-to-end/api/invites.ts
Due: e2e

Fix tests
  apps/meteor/tests/e2e/saml.spec.ts
  apps/meteor/tests/end-to-end/api/abac.ts
Due: e2e

fix tests
  apps/meteor/tests/end-to-end/api/invites.ts
  apps/meteor/tests/end-to-end/api/users.ts
Due: e2e

fix lint
  packages/models/src/models/Invites.ts
Due: none

Fix tests
  apps/meteor/tests/end-to-end/api/abac.ts
Due: e2e

Move logic to model
  apps/meteor/server/lib/rooms/invites/findOrCreateInvite.ts
  packages/model-typings/src/models/IInvitesModel.ts
  packages/models/src/models/Invites.ts
Due: e2e, e2e-api

fix: create inviteToken for invites and remove it from listInvites
  apps/meteor/client/views/admin/invites/InviteRow.tsx
  apps/meteor/client/views/admin/invites/InvitesPage.tsx
  apps/meteor/server/api/v1/invites.ts
  apps/meteor/server/lib/rooms/invites/findOrCreateInvite.ts
  apps/meteor/server/lib/rooms/invites/listInvites.ts
  apps/meteor/server/lib/rooms/invites/validateInviteToken.ts
  apps/meteor/tests/end-to-end/api/invites.ts
  packages/core-typings/src/IInvite.ts
  packages/model-typings/src/models/IInvitesModel.ts
  packages/models/src/models/Invites.ts
Due: e2e, e2e-api, client

fix: correct invite e2e test syntax
  apps/meteor/tests/end-to-end/api/invites.ts
Due: e2e

style: format invite e2e test
  apps/meteor/tests/end-to-end/api/invites.ts
Due: e2e

Change column name from token to room
  apps/meteor/client/views/admin/invites/InviteRow.tsx
  apps/meteor/client/views/admin/invites/InvitesPage.tsx
  apps/meteor/server/api/v1/invites.ts
  apps/meteor/server/lib/rooms/invites/listInvites.ts
  apps/meteor/server/lib/users/setUsername.ts
  apps/meteor/tests/unit/server/lib/users/setUsername.spec.ts
Due: e2e, e2e-api, client

feat: AI Search Filters (#42320)
  .changeset/proud-coats-exist.md
  apps/meteor/client/navbar/NavBarSearch/NavBarAISearch.spec.tsx
  apps/meteor/client/navbar/NavBarSearch/NavBarAISearch.tsx
  apps/meteor/client/navbar/NavBarSearch/NavBarAISearchInput.tsx
  apps/meteor/client/navbar/NavBarSearch/NavBarAISearchListbox.tsx
  apps/meteor/client/navbar/NavBarSearch/NavBarSearchFilterChips.tsx
  apps/meteor/client/navbar/NavBarSearch/NavBarSearchFilterSuggestionIcon.tsx
  apps/meteor/client/navbar/NavBarSearch/NavBarSearchFilterSuggestions.tsx
  apps/meteor/client/navbar/NavBarSearch/NavBarSearchFilterTypeRow.tsx
  apps/meteor/client/navbar/NavBarSearch/NavBarSearchFilterUserSuggestion.tsx
  apps/meteor/client/navbar/NavBarSearch/NavBarSearchFiltersView.tsx
  apps/meteor/client/navbar/NavBarSearch/NavBarSearchInputAddon.tsx
  apps/meteor/client/navbar/NavBarSearch/NavBarSearchIntelligentSection.spec.tsx
  apps/meteor/client/navbar/NavBarSearch/NavBarSearchIntelligentSection.tsx
  apps/meteor/client/navbar/NavBarSearch/NavBarSearchListbox.tsx
  apps/meteor/client/navbar/NavBarSearch/hooks/aiSearchAdapters.spec.ts
  apps/meteor/client/navbar/NavBarSearch/hooks/aiSearchAdapters.ts
  apps/meteor/client/navbar/NavBarSearch/hooks/useAISearchItems.spec.ts
  apps/meteor/client/navbar/NavBarSearch/hooks/useAISearchItems.ts
  apps/meteor/client/navbar/NavBarSearch/hooks/useNavBarAISearch.ts
  apps/meteor/client/navbar/NavBarSearch/hooks/useSearchFilters.ts
  apps/meteor/client/views/search/hooks/useAISearchResults.ts
  packages/ai-search/src/clientSearch.spec.ts
  packages/ai-search/src/clientSearch.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

test: cover client authorization functions factory (#42488)
  apps/meteor/jest.config.ts
  apps/meteor/lib/authorization/createAuthorizationFunctions.spec.ts
Due: e2e

feat(ui-client): reset usePagination to the first page on resetOn changes
  packages/ui-client/src/components/GenericTable/hooks/usePagination.spec.ts
  packages/ui-client/src/components/GenericTable/hooks/usePagination.ts
Due: none

fix: admin tables go back to the first page when filters change
  apps/meteor/client/views/admin/ABAC/ABACAttributesTab/AttributesPage.tsx
  apps/meteor/client/views/admin/ABAC/ABACLogsTab/LogsPage.tsx
  apps/meteor/client/views/admin/ABAC/ABACRoomsTab/RoomsPage.tsx
  apps/meteor/client/views/admin/customEmoji/CustomEmoji.tsx
  apps/meteor/client/views/admin/customSounds/CustomSoundsTable/CustomSoundsTable.tsx
  apps/meteor/client/views/admin/customUserStatus/CustomUserStatusTable/CustomUserStatusTable.tsx
  apps/meteor/client/views/admin/deviceManagement/DeviceManagementAdminTable/DeviceManagementAdminTable.tsx
  apps/meteor/client/views/admin/emailInbox/EmailInboxTable.tsx
  apps/meteor/client/views/admin/integrations/IntegrationsTable.tsx
  apps/meteor/client/views/admin/moderation/ModerationConsoleTable.tsx
  apps/meteor/client/views/admin/moderation/UserReports/ModConsoleUsersTable.tsx
  apps/meteor/client/views/admin/permissions/PermissionsPage.tsx
  apps/meteor/client/views/admin/permissions/UsersInRole/UsersInRolePage.tsx
  apps/meteor/client/views/admin/rooms/RoomsTable.tsx
  apps/meteor/client/views/admin/users/AdminUsersPage.tsx
  apps/meteor/client/views/admin/users/hooks/useFilteredUsers.ts
  apps/meteor/client/views/audit/components/SecurityLogsTable.tsx
Due: e2e, client

fix: omnichannel tables go back to the first page when filters change
  apps/meteor/client/views/omnichannel/agents/AgentsTable/AgentsTable.tsx
  apps/meteor/client/views/omnichannel/businessHours/BusinessHoursTable.tsx
  apps/meteor/client/views/omnichannel/cannedResponses/modals/CannedResponsesTable.tsx
  apps/meteor/client/views/omnichannel/departments/DepartmentsTable/DepartmentsTable.tsx
  apps/meteor/client/views/omnichannel/directory/chats/ChatsTable/ChatsTable.tsx
  apps/meteor/client/views/omnichannel/directory/contacts/ContactTable.tsx
  apps/meteor/client/views/omnichannel/managers/ManagersTable.tsx
  apps/meteor/client/views/omnichannel/monitors/MonitorsTable.tsx
  apps/meteor/client/views/omnichannel/queueList/QueueListTable.tsx
  apps/meteor/client/views/omnichannel/slaPolicies/SlaTable.tsx
  apps/meteor/client/views/omnichannel/tags/TagsTable.tsx
  apps/meteor/client/views/omnichannel/units/UnitsTable.tsx
Due: e2e, client

fix: remaining tables go back to the first page when filters change
  apps/meteor/client/views/account/deviceManagement/DeviceManagementAccountTable/DeviceManagementAccountTable.tsx
  apps/meteor/client/views/directory/tabs/channels/ChannelsTable/ChannelsTable.tsx
  apps/meteor/client/views/directory/tabs/teams/TeamsTable/TeamsTable.tsx
  apps/meteor/client/views/directory/tabs/users/UsersTable/UsersTable.tsx
  apps/meteor/client/views/marketplace/AppDetailsPage/tabs/AppLogs/AppLogs.tsx
  apps/meteor/client/views/marketplace/AppsPage/AppsPageContent.tsx
  apps/meteor/client/views/mediaCallHistory/CallHistoryPage.tsx
Due: e2e, client

changeset
  .changeset/fix-tables-reset-on-filter-change.md
  .changeset/pagination-reset-on.md
Due: none

fix: skip unmappable users instead of aborting LDAP update-only sync
  .changeset/ldap-sync-skip-unmappable-users.md
  apps/meteor/ee/server/lib/ldap/Manager.spec.ts
  apps/meteor/ee/server/lib/ldap/Manager.ts
Due: e2e

Refactor the invite security issue fix
  .changeset/invite-management-authorization.md
  .changeset/invite-token-migration.md
  apps/meteor/client/navbar/NavBarSettingsToolbar/hooks/useAdministrationMenu.ts
  apps/meteor/client/views/admin/invites/InviteRow.tsx
  apps/meteor/client/views/admin/invites/InvitesRoute.tsx
  apps/meteor/client/views/admin/sidebarItems.ts
  apps/meteor/server/api/v1/invites.ts
  apps/meteor/server/lib/authorization/constant/permissions.ts
  apps/meteor/server/lib/rooms/invites/findOrCreateInvite.ts
  apps/meteor/server/lib/rooms/invites/listInvites.ts
  apps/meteor/server/lib/rooms/invites/removeInvite.ts
  apps/meteor/server/startup/migrations/index.ts
  apps/meteor/server/startup/migrations/v351.ts
  apps/meteor/server/startup/migrations/v352.ts
  apps/meteor/tests/end-to-end/api/invites.ts
  apps/meteor/tests/unit/server/lib/rooms/invites/invites.spec.ts
  apps/meteor/tests/unit/server/lib/users/setUsername.spec.ts
  apps/meteor/tests/unit/server/startup/migrations/invites.spec.ts
  docs/features/invite-links.md
  packages/core-typings/src/IInvite.ts
  packages/i18n/src/locales/en.i18n.json
  packages/model-typings/src/models/IInvitesModel.ts
  packages/models/src/models/Invites.spec.ts
  packages/models/src/models/Invites.ts
Due: e2e, e2e-api, client

combine changesets
  .changeset/invite-management-authorization.md
  .changeset/invite-token-migration.md
Due: none

ews provider probe improvement
  apps/meteor/ee/server/lib/exchange/ews/ExchangeEwsProvider.spec.ts
  apps/meteor/ee/server/lib/exchange/ews/ExchangeEwsProvider.ts
  apps/meteor/ee/server/lib/exchange/sync/calendar/syncCalendarWindow.spec.ts
  apps/meteor/ee/server/lib/exchange/sync/calendar/syncCalendarWindow.ts
Due: e2e

test: assert LDAP update-only sync skips a user with no email and updates the rest
  apps/meteor/tests/end-to-end/api/LDAP.ts
Due: e2e

add finally clause for release
  apps/meteor/ee/server/lib/exchange/ews/ExchangeEwsProvider.spec.ts
  apps/meteor/ee/server/lib/exchange/sync/calendar/runCalendarSync.spec.ts
Due: e2e

test: cover connections, lost instances and broadcast limits in the presence service (#42578)
  ee/packages/presence/src/Presence.spec.ts
Due: none

Fix cubic comments
  apps/meteor/server/startup/migrations/v352.ts
  apps/meteor/tests/unit/server/lib/rooms/invites/invites.spec.ts
  apps/meteor/tests/unit/server/startup/migrations/invites.spec.ts
  docs/features/invite-links.md
  packages/model-typings/src/models/IInvitesModel.ts
  packages/models/src/models/Invites.spec.ts
  packages/models/src/models/Invites.ts
Due: e2e, e2e-api

refactor(sidebar): export the unread counters of useRoomList
  apps/meteor/client/sidebar/hooks/useRoomList.ts
Due: e2e, client

feat(sidebar rail): Teams panel with each team's rooms
  apps/meteor/client/lib/queryKeys.ts
  apps/meteor/client/sidebar/Sidebar.tsx
  apps/meteor/client/sidebar/SidebarRail/SidebarRail.stories.tsx
  apps/meteor/client/sidebar/SidebarRail/SidebarRail.tsx
  apps/meteor/client/sidebar/SidebarRail/SidebarRailTeams.tsx
  apps/meteor/client/sidebar/SidebarRail/SidebarRailUnreadItem.tsx
  apps/meteor/client/sidebar/TeamsPanel/TeamsListWrapper.tsx
  apps/meteor/client/sidebar/TeamsPanel/TeamsPanel.tsx
  apps/meteor/client/sidebar/TeamsPanel/TeamsPanelCollapser.tsx
  apps/meteor/client/sidebar/TeamsPanel/TeamsPanelEmpty.tsx
  apps/meteor/client/sidebar/TeamsPanel/TeamsPanelUnjoinedRoom.tsx
  apps/meteor/client/sidebar/TeamsPanel/hooks/useExpandedTeams.ts
  apps/meteor/client/sidebar/TeamsPanel/hooks/useTeamUnjoinedRooms.ts
  apps/meteor/client/sidebar/TeamsPanel/hooks/useTeamsList.spec.tsx
  apps/meteor/client/sidebar/TeamsPanel/hooks/useTeamsList.ts
  apps/meteor/client/sidebar/TeamsPanel/hooks/useTeamsPanel.ts
  apps/meteor/client/sidebar/TeamsPanel/index.ts
  apps/meteor/client/sidebar/TeamsPanel/teamsPanelStore.ts
  apps/meteor/client/sidebar/components/SidebarPanelHeader.tsx
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/pt-BR.i18n.json
Due: e2e, client

feat(sidebar rail): Inbox and home item with an Inbox header
  apps/meteor/client/sidebar/InboxHeader.tsx
  apps/meteor/client/sidebar/Sidebar.tsx
  apps/meteor/client/sidebar/SidebarRail/SidebarRail.stories.tsx
  apps/meteor/client/sidebar/SidebarRail/SidebarRail.tsx
  apps/meteor/client/sidebar/SidebarRail/SidebarRailCreateNew.tsx
  apps/meteor/client/sidebar/SidebarRail/SidebarRailInbox.tsx
  apps/meteor/client/sidebar/SidebarRail/SidebarRailSort.tsx
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/pt-BR.i18n.json
Due: e2e, client

chore: add changeset for Teams and Inbox in the sidebar rail
  .changeset/teams-sidebar-rail.md
Due: none

feat(sidebar rail): list only joined rooms in the Teams panel
  apps/meteor/client/lib/queryKeys.ts
  apps/meteor/client/sidebar/TeamsPanel/TeamsPanel.tsx
  apps/meteor/client/sidebar/TeamsPanel/TeamsPanelUnjoinedRoom.tsx
  apps/meteor/client/sidebar/TeamsPanel/hooks/useTeamUnjoinedRooms.ts
  apps/meteor/client/sidebar/TeamsPanel/hooks/useTeamsList.spec.tsx
  apps/meteor/client/sidebar/TeamsPanel/hooks/useTeamsList.ts
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/pt-BR.i18n.json
Due: e2e, client

chore(deps): bump several dependencies to solve CVEs (#42597)
  apps/meteor/package.json
  apps/meteor/server/features/EmailInbox/EmailInbox_Outgoing.ts
  apps/meteor/server/lib/import/slack-users/SlackUsersImporter.ts
  package.json
  packages/tracing/package.json
  yarn.lock
Due: e2e, e2e-api

fix: check room roles only for the logged-in user and isolate the restriction test
  apps/meteor/lib/authorization/createAuthorizationFunctions.spec.ts
  apps/meteor/lib/authorization/createAuthorizationFunctions.ts
Due: e2e

fix: deactivate LDAP users that cannot be mapped when the directory marks them disabled
  apps/meteor/ee/server/lib/ldap/Manager.spec.ts
  apps/meteor/ee/server/lib/ldap/Manager.ts
Due: e2e

fix: keep LDAP sync running when deactivating an unmappable user fails
  apps/meteor/ee/server/lib/ldap/Manager.spec.ts
  apps/meteor/ee/server/lib/ldap/Manager.ts
Due: e2e

fix: validate lookup endpoint response shape
  apps/meteor/client/views/admin/settings/hooks/useSettingLookupOptions.ts
Due: e2e, client

Fix cubic issues
  .changeset/invite-token-migration.md
  apps/meteor/client/views/admin/invites/InviteRow.tsx
  docs/features/invite-links.md
Due: e2e, client

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
