Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

Deploy preview for PR 36377 🛫
  pr-preview/pr-36377/fuselage-ui-kit/project.json
  pr-preview/pr-36377/gazzodown/project.json
  pr-preview/pr-36377/ui-composer/project.json
Due: none

Deploy preview for PR 36322 🛫
  pr-preview/pr-36322/ui-composer/761.73139dc5.iframe.bundle.js
  pr-preview/pr-36322/ui-composer/761.73139dc5.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-36322/ui-composer/761.73139dc5.iframe.bundle.js.map
  pr-preview/pr-36322/ui-composer/761.e00ddee5.iframe.bundle.js
  pr-preview/pr-36322/ui-composer/761.e00ddee5.iframe.bundle.js.map
  pr-preview/pr-36322/ui-composer/iframe.html
  pr-preview/pr-36322/ui-composer/project.json
Due: none

Deploy preview for PR 36146 🛫
  pr-preview/pr-36146/fuselage-ui-kit/project.json
  pr-preview/pr-36146/gazzodown/project.json
  pr-preview/pr-36146/ui-composer/project.json
Due: none

Deploy preview for PR 36324 🛫
  pr-preview/pr-36324/fuselage-ui-kit/project.json
  pr-preview/pr-36324/gazzodown/Markup-stories.140597d4.iframe.bundle.js.map
  pr-preview/pr-36324/gazzodown/project.json
  pr-preview/pr-36324/ui-composer/project.json
Due: none

fix: imports mismatches, ajv typings
  apps/meteor/ee/app/livechat-enterprise/server/api/outbound.ts
  apps/meteor/ee/app/livechat-enterprise/server/outboundcomms/rest.ts
Due: e2e

improve tests
  apps/meteor/tests/e2e/saml.spec.ts
Due: e2e

regression: await user info retrieval in notifyOnUserChange (#36389)
  apps/meteor/server/methods/saveUserProfile.ts
Due: e2e, e2e-api

Fix lookup with array indices
  packages/mongo-adapter/src/lookups.spec.ts
  packages/mongo-adapter/src/lookups.ts
  packages/mongo-adapter/src/sort.ts
Due: none

Change function names
  packages/mongo-adapter/src/filter.spec.ts
  packages/mongo-adapter/src/filter.ts
  packages/mongo-adapter/src/index.ts
  packages/mongo-adapter/src/sort.spec.ts
  packages/mongo-adapter/src/sort.ts
Due: none

Expand tests
  packages/mongo-adapter/src/bson.spec.ts
  packages/mongo-adapter/src/sort.spec.ts
Due: none

Expose field lookup mechanism
  apps/meteor/client/lib/cachedCollections/LocalCollection.ts
  apps/meteor/client/lib/cachedCollections/Matcher.ts
  apps/meteor/client/lib/cachedCollections/Updater.ts
  apps/meteor/client/lib/cachedCollections/common.ts
  packages/mongo-adapter/src/filter.ts
  packages/mongo-adapter/src/index.ts
  packages/mongo-adapter/src/lookups.spec.ts
  packages/mongo-adapter/src/lookups.ts
  packages/mongo-adapter/src/sort.ts
  packages/mongo-adapter/src/types.ts
Due: e2e, client

Move update filter logic to `@rocket.chat/mongo-adapter`
  apps/meteor/client/lib/cachedCollections/LocalCollection.ts
  apps/meteor/client/lib/cachedCollections/Updater.spec.ts
  apps/meteor/client/lib/cachedCollections/Updater.ts
  apps/meteor/client/lib/cachedCollections/common.ts
  packages/mongo-adapter/src/common.ts
  packages/mongo-adapter/src/filter.ts
  packages/mongo-adapter/src/index.ts
  packages/mongo-adapter/src/lookups.ts
  packages/mongo-adapter/src/updateFilter.spec.ts
  packages/mongo-adapter/src/updateFilter.ts
Due: e2e, client

Add tests to the `Matcher` class
  apps/meteor/client/lib/cachedCollections/LocalCollection.ts
  apps/meteor/client/lib/cachedCollections/Matcher.spec.ts
  apps/meteor/client/lib/cachedCollections/Matcher.ts
  apps/meteor/client/lib/cachedCollections/common.ts
  packages/mongo-adapter/src/filter.ts
  packages/mongo-adapter/src/index.ts
  packages/mongo-adapter/src/types.ts
Due: e2e, client

Add unit test for `Updater`
  apps/meteor/client/lib/cachedCollections/Updater.spec.ts
  apps/meteor/client/lib/cachedCollections/Updater.ts
  apps/meteor/client/lib/cachedCollections/common.ts
Due: e2e, client

Move all document matching logic to `@rocket.chat/mongo-adapter`
  apps/meteor/client/lib/cachedCollections/Cursor.ts
  apps/meteor/client/lib/cachedCollections/DiffSequence.ts
  apps/meteor/client/lib/cachedCollections/LocalCollection.ts
  apps/meteor/client/lib/cachedCollections/Matcher.spec.ts
  apps/meteor/client/lib/cachedCollections/Matcher.ts
  apps/meteor/client/lib/cachedCollections/Updater.ts
  apps/meteor/client/lib/cachedCollections/common.ts
  packages/mongo-adapter/src/comparisons.spec.ts
  packages/mongo-adapter/src/comparisons.ts
  packages/mongo-adapter/src/filter.ts
  packages/mongo-adapter/src/index.ts
Due: e2e, client

Rely on `mongodb` types
  apps/meteor/app/ui-utils/client/lib/LegacyRoomManager.ts
  apps/meteor/client/hooks/lists/useStreamUpdatesForMessageList.ts
  apps/meteor/client/lib/cachedCollections/Cursor.ts
  apps/meteor/client/lib/cachedCollections/LocalCollection.ts
  apps/meteor/client/lib/cachedCollections/Updater.spec.ts
  apps/meteor/client/lib/cachedCollections/Updater.ts
  apps/meteor/client/lib/cachedCollections/common.ts
  apps/meteor/client/views/room/contextualBar/Threads/hooks/useThreadMainMessageQuery.ts
  packages/mongo-adapter/package.json
  packages/mongo-adapter/src/filter.ts
  packages/mongo-adapter/src/index.ts
  packages/mongo-adapter/src/sort.ts
  packages/mongo-adapter/src/types.ts
  yarn.lock
Due: e2e, client

Rearrange code
  packages/mongo-adapter/src/common.spec.ts
  packages/mongo-adapter/src/common.ts
  packages/mongo-adapter/src/comparisons.spec.ts
  packages/mongo-adapter/src/comparisons.ts
  packages/mongo-adapter/src/filter.spec.ts
  packages/mongo-adapter/src/filter.ts
  packages/mongo-adapter/src/sort.spec.ts
  packages/mongo-adapter/src/sort.ts
  packages/mongo-adapter/src/updateFilter.ts
Due: none

Deploy preview for PR 36312 🛫
  pr-preview/pr-36312/fuselage-ui-kit/469.34b044a4.iframe.bundle.js
  pr-preview/pr-36312/fuselage-ui-kit/568.f6a8cdd8.iframe.bundle.js
  pr-preview/pr-36312/fuselage-ui-kit/568.f6a8cdd8.iframe.bundle.js.map
  pr-preview/pr-36312/fuselage-ui-kit/653.cc49ffb8.iframe.bundle.js
  pr-preview/pr-36312/fuselage-ui-kit/653.cc49ffb8.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-36312/fuselage-ui-kit/653.cc49ffb8.iframe.bundle.js.map
  pr-preview/pr-36312/fuselage-ui-kit/iframe.html
  pr-preview/pr-36312/fuselage-ui-kit/main.01fdfd32.iframe.bundle.js
  pr-preview/pr-36312/fuselage-ui-kit/main.b3cd0959.iframe.bundle.js
  pr-preview/pr-36312/fuselage-ui-kit/project.json
  pr-preview/pr-36312/fuselage-ui-kit/runtime~main.b83f24b9.iframe.bundle.js
  pr-preview/pr-36312/fuselage-ui-kit/runtime~main.d769cff3.iframe.bundle.js
  pr-preview/pr-36312/gazzodown/850.89c194e2.iframe.bundle.js
  pr-preview/pr-36312/gazzodown/Markup-stories.140597d4.iframe.bundle.js
  pr-preview/pr-36312/gazzodown/Markup-stories.140597d4.iframe.bundle.js.map
  pr-preview/pr-36312/gazzodown/Markup-stories.deb1161d.iframe.bundle.js
  pr-preview/pr-36312/gazzodown/Markup-stories.deb1161d.iframe.bundle.js.map
  pr-preview/pr-36312/gazzodown/iframe.html
  pr-preview/pr-36312/gazzodown/project.json
  pr-preview/pr-36312/gazzodown/runtime~main.3227fd2a.iframe.bundle.js
  pr-preview/pr-36312/gazzodown/runtime~main.d4292d31.iframe.bundle.js
  pr-preview/pr-36312/ui-composer/project.json
  pr-preview/pr-36312/uikit-playground/assets/CodeBlock-Ba48mYEp.js
  pr-preview/pr-36312/uikit-playground/assets/KatexBlock-CRMcUfkW.js
  pr-preview/pr-36312/uikit-playground/assets/KatexBlock-pcGpWg9m.js
  pr-preview/pr-36312/uikit-playground/assets/KatexElement-BlrZGWxM.js
  pr-preview/pr-36312/uikit-playground/assets/KatexElement-D3iO2zUX.js
  pr-preview/pr-36312/uikit-playground/assets/import-BkQqFA5f.js
  pr-preview/pr-36312/uikit-playground/assets/index-COUYEypB.js
  pr-preview/pr-36312/uikit-playground/assets/index-DTh-hU1x.js
  pr-preview/pr-36312/uikit-playground/index.html
Due: none

add test for fallback to displayname
  apps/meteor/tests/e2e/containers/saml/config/simplesamlphp/authsources.php
  apps/meteor/tests/e2e/fixtures/userStates.ts
  apps/meteor/tests/e2e/saml.spec.ts
Due: e2e

Deploy preview for PR 36383 🛫
  pr-preview/pr-36383/fuselage-ui-kit/project.json
  pr-preview/pr-36383/gazzodown/Markup-stories.140597d4.iframe.bundle.js.map
  pr-preview/pr-36383/gazzodown/project.json
  pr-preview/pr-36383/ui-composer/project.json
Due: none

Deploy preview for PR 36369 🛫
  pr-preview/pr-36369/ui-composer/project.json
Due: none

Deploy preview for PR 36315 🛫
  pr-preview/pr-36315/fuselage-ui-kit/project.json
  pr-preview/pr-36315/gazzodown/Markup-stories.fe82964f.iframe.bundle.js.map
  pr-preview/pr-36315/gazzodown/project.json
  pr-preview/pr-36315/ui-composer/project.json
Due: none

Deploy preview for PR 36207 🛫
  pr-preview/pr-36207/fuselage-ui-kit/project.json
  pr-preview/pr-36207/gazzodown/project.json
  pr-preview/pr-36207/ui-composer/project.json
Due: none

Deploy preview for PR 36267 🛫
  pr-preview/pr-36267/fuselage-ui-kit/project.json
  pr-preview/pr-36267/gazzodown/Markup-stories.140597d4.iframe.bundle.js.map
  pr-preview/pr-36267/gazzodown/project.json
  pr-preview/pr-36267/ui-composer/project.json
Due: none

feat: adds license validation to federation packages and services
  apps/meteor/ee/server/startup/federation.ts
  apps/meteor/server/services/startup.ts
  apps/meteor/startRocketChat.ts
  ee/apps/federation-service/package.json
  ee/apps/federation-service/src/service.ts
  packages/core-services/src/LocalBroker.ts
  yarn.lock
Due: e2e, e2e-api

Deploy preview for PR 36049 🛫
  pr-preview/pr-36049/fuselage-ui-kit/project.json
  pr-preview/pr-36049/gazzodown/Markup-stories.f34c4f79.iframe.bundle.js.map
  pr-preview/pr-36049/gazzodown/project.json
  pr-preview/pr-36049/ui-composer/project.json
Due: none

feat: Sidebar filters for teams/channels/dms (#36322)
  apps/meteor/client/sidebarv2/RoomList/RoomList.tsx
  apps/meteor/client/sidebarv2/RoomList/RoomListFiltersItem.tsx
  apps/meteor/client/sidebarv2/RoomList/RoomListRow.tsx
  apps/meteor/client/sidebarv2/RoomList/SidebarItemWithData.tsx
  apps/meteor/client/views/navigation/contexts/RoomsNavigationContext.ts
  apps/meteor/client/views/navigation/hooks/useSidePanelFilters.ts
  apps/meteor/client/views/navigation/hooks/useSidePanelParentRid.ts
  apps/meteor/client/views/navigation/providers/RoomsNavigationProvider.tsx
  apps/meteor/client/views/navigation/sidepanel/RoomSidepanel.tsx
  apps/meteor/client/views/navigation/sidepanel/RoomSidepanelLoading.tsx
  apps/meteor/client/views/navigation/sidepanel/SidePanel.tsx
  apps/meteor/client/views/navigation/sidepanel/SidePanelNoResults.tsx
  apps/meteor/client/views/navigation/sidepanel/SidePanelRouter.tsx
  apps/meteor/client/views/navigation/sidepanel/SidepanelItem/RoomMenu.tsx
  apps/meteor/client/views/navigation/sidepanel/SidepanelItem/SidePanelParent.tsx
  apps/meteor/client/views/navigation/sidepanel/SidepanelItem/SidePanelParentRoom.tsx
  apps/meteor/client/views/navigation/sidepanel/SidepanelItem/SidePanelParentRoom/SidePanelParentRoom.tsx
  apps/meteor/client/views/navigation/sidepanel/SidepanelItem/SidePanelParentRoom/SidePanelParentRoomWithData.tsx
  apps/meteor/client/views/navigation/sidepanel/SidepanelItem/SidePanelParentRoom/index.ts
  apps/meteor/client/views/navigation/sidepanel/SidepanelItem/SidepanelItem.tsx
  apps/meteor/client/views/navigation/sidepanel/SidepanelListWrapper.tsx
  apps/meteor/client/views/navigation/sidepanel/hooks/useChannelsChildrenList.ts
  apps/meteor/client/views/navigation/sidepanel/hooks/useItemData.tsx
  apps/meteor/client/views/navigation/sidepanel/hooks/useRoomMenuActions.spec.ts
  apps/meteor/client/views/navigation/sidepanel/hooks/useRoomMenuActions.ts
  apps/meteor/client/views/navigation/sidepanel/hooks/useTeamslistChildren.ts
  apps/meteor/client/views/navigation/sidepanel/tabs/SidePanelAll.tsx
  apps/meteor/client/views/navigation/sidepanel/tabs/SidePanelChannels.tsx
  apps/meteor/client/views/navigation/sidepanel/tabs/SidePanelDiscussions.tsx
  apps/meteor/client/views/navigation/sidepanel/tabs/SidePanelFavorites.tsx
  apps/meteor/client/views/navigation/sidepanel/tabs/SidePanelMentions.tsx
  apps/meteor/client/views/navigation/sidepanel/tabs/SidePanelRooms.tsx
  apps/meteor/client/views/navigation/sidepanel/tabs/SidePanelTeams.tsx
Due: e2e, client

Deploy preview for PR 36146 🛫
  pr-preview/pr-36146/fuselage-ui-kit/182.f0adaa7f.iframe.bundle.js
  pr-preview/pr-36146/fuselage-ui-kit/621.ea5062b3.iframe.bundle.js
  pr-preview/pr-36146/fuselage-ui-kit/621.ea5062b3.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-36146/fuselage-ui-kit/621.ea5062b3.iframe.bundle.js.map
  pr-preview/pr-36146/fuselage-ui-kit/653.cc49ffb8.iframe.bundle.js
  pr-preview/pr-36146/fuselage-ui-kit/653.cc49ffb8.iframe.bundle.js.map
  pr-preview/pr-36146/fuselage-ui-kit/653.da1ad59f.iframe.bundle.js
  pr-preview/pr-36146/fuselage-ui-kit/653.da1ad59f.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-36146/fuselage-ui-kit/653.da1ad59f.iframe.bundle.js.map
  pr-preview/pr-36146/fuselage-ui-kit/iframe.html
  pr-preview/pr-36146/fuselage-ui-kit/main.b3cd0959.iframe.bundle.js
  pr-preview/pr-36146/fuselage-ui-kit/main.c5897492.iframe.bundle.js
  pr-preview/pr-36146/fuselage-ui-kit/project.json
  pr-preview/pr-36146/fuselage-ui-kit/runtime~main.7f4f2a7b.iframe.bundle.js
  pr-preview/pr-36146/fuselage-ui-kit/runtime~main.d769cff3.iframe.bundle.js
  pr-preview/pr-36146/gazzodown/179.7e77975a.iframe.bundle.js
  pr-preview/pr-36146/gazzodown/179.7e77975a.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-36146/gazzodown/179.7e77975a.iframe.bundle.js.map
  pr-preview/pr-36146/gazzodown/940.2da64468.iframe.bundle.js
  pr-preview/pr-36146/gazzodown/Markup-stories.140597d4.iframe.bundle.js
  pr-preview/pr-36146/gazzodown/Markup-stories.140597d4.iframe.bundle.js.map
  pr-preview/pr-36146/gazzodown/Markup-stories.727c3628.iframe.bundle.js
  pr-preview/pr-36146/gazzodown/Markup-stories.727c3628.iframe.bundle.js.map
  pr-preview/pr-36146/gazzodown/iframe.html
  pr-preview/pr-36146/gazzodown/main.0889e597.iframe.bundle.js
  pr-preview/pr-36146/gazzodown/main.0d862220.iframe.bundle.js
  pr-preview/pr-36146/gazzodown/project.json
  pr-preview/pr-36146/gazzodown/runtime~main.3227fd2a.iframe.bundle.js
  pr-preview/pr-36146/gazzodown/runtime~main.cf6ce3d3.iframe.bundle.js
  pr-preview/pr-36146/uikit-playground/assets/CodeBlock-DZ6XbrO0.js
  pr-preview/pr-36146/uikit-playground/assets/KatexBlock-BHKod1yX.js
  pr-preview/pr-36146/uikit-playground/assets/KatexBlock-CRMcUfkW.js
  pr-preview/pr-36146/uikit-playground/assets/KatexElement-Cb4svYad.js
  pr-preview/pr-36146/uikit-playground/assets/KatexElement-D3iO2zUX.js
  pr-preview/pr-36146/uikit-playground/assets/import-BkQqFA5f.js
  pr-preview/pr-36146/uikit-playground/assets/import-Jcf36kTe.js
  pr-preview/pr-36146/uikit-playground/assets/index-B0G-JUB8.js
  pr-preview/pr-36146/uikit-playground/assets/index-DTh-hU1x.js
  pr-preview/pr-36146/uikit-playground/index.html
Due: none

test: add tests 'set as leader' 'remove as leader' 'set as moderator' 'remove as moderator'
  apps/meteor/tests/e2e/private-rooms-override.spec.ts
Due: e2e

chore: add TODO for a duplicated pros
  apps/meteor/app/statistics/server/lib/statistics.ts
Due: e2e

chore: add logs for debug
  packages/http-router/src/Router.ts
Due: none

fix: add missing pros and clean the schemas
  apps/meteor/app/api/server/v1/stats.ts
Due: e2e

fix: add more debug logs
  apps/meteor/app/api/server/v1/stats.ts
Due: e2e

Deploy preview for PR 36370 🛫
  pr-preview/pr-36370/ui-composer/project.json
Due: none

fix: checks in outgoing webhook triggers (#36348)
  apps/meteor/app/integrations/server/lib/triggerHandler.ts
Due: e2e

adding increment logic regardless of admin setting
  apps/meteor/app/lib/server/lib/notifyUsersOnMessage.ts
Due: e2e

added increment logic regardless of admin setting
  apps/meteor/app/lib/server/lib/notifyUsersOnMessage.ts
Due: e2e

Deploy preview for PR 36372 🛫
  pr-preview/pr-36372/ui-composer/project.json
Due: none

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
