Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

remove unnecessary stuff
  packages/ui-avatar/package.json
  packages/ui-avatar/src/contexts/AvatarContext.tsx
  yarn.lock
Due: none

remove jest config
  packages/ui-avatar/jest.config.ts
Due: none

fixed service configuration type definitions, replaced some uses of meteor's internal model with our own model to the same collection
  apps/meteor/app/api/server/v1/settings.ts
  apps/meteor/client/startup/customOAuth.ts
  apps/meteor/server/models/raw/LoginServiceConfiguration.ts
  apps/meteor/server/services/meteor/service.ts
  packages/core-services/src/types/IMeteor.ts
  packages/core-typings/src/ILoginServiceConfiguration.ts
  packages/model-typings/src/models/ILoginServiceConfigurationModel.ts
  packages/rest-typings/src/v1/settings.ts
Due: e2e, client

chore: convert CAS integration code to typescript
  apps/meteor/app/cas/server/cas_rocketchat.js
  apps/meteor/app/cas/server/cas_server.js
  apps/meteor/app/cas/server/index.ts
  apps/meteor/server/configuration/cas.ts
  apps/meteor/server/importPackages.ts
  apps/meteor/server/lib/cas/createNewUser.ts
  apps/meteor/server/lib/cas/findExistingCASUser.ts
  apps/meteor/server/lib/cas/logger.ts
  apps/meteor/server/lib/cas/loginHandler.ts
  apps/meteor/server/lib/cas/middleware.ts
  apps/meteor/server/lib/cas/updateCasService.ts
  apps/meteor/server/main.ts
  packages/cas-validate/src/validate.ts
  packages/cas-validate/tsconfig.json
  packages/tools/src/getObjectKeys.ts
  packages/tools/src/index.ts
Due: e2e

refactor queue to always queue
  apps/meteor/app/cloud/server/functions/getWorkspaceAccessTokenWithScope.ts
  apps/meteor/app/livechat/server/lib/QueueManager.ts
  apps/meteor/app/livechat/server/startup.ts
  apps/meteor/client/providers/OmnichannelProvider.tsx
  apps/meteor/ee/app/livechat-enterprise/server/hooks/afterInquiryQueued.ts
  apps/meteor/ee/app/livechat-enterprise/server/hooks/beforeRoutingChat.ts
  apps/meteor/server/modules/listeners/listeners.module.ts
  packages/core-typings/src/IInquiry.ts
  stats.mjs
  yarn.lock
Due: e2e, client

cr
  apps/meteor/app/livechat/imports/server/rest/departments.ts
  apps/meteor/app/livechat/server/business-hour/AbstractBusinessHour.ts
  apps/meteor/ee/app/livechat-enterprise/server/business-hour/Multiple.ts
  apps/meteor/ee/server/models/raw/LivechatDepartment.ts
  apps/meteor/server/models/raw/LivechatDepartment.ts
Due: e2e

chore: remove client references to the service configurations collection (#31452)
  apps/meteor/app/custom-oauth/client/CustomOAuth.ts
  apps/meteor/client/lib/loginServices.ts
  apps/meteor/client/lib/wrapRequestCredentialFn.ts
  apps/meteor/client/meteorOverrides/login/facebook.ts
  apps/meteor/client/meteorOverrides/login/github.ts
  apps/meteor/client/meteorOverrides/login/google.ts
  apps/meteor/client/meteorOverrides/login/linkedin.ts
  apps/meteor/client/meteorOverrides/login/meteorDeveloperAccount.ts
  apps/meteor/client/meteorOverrides/login/saml.ts
  apps/meteor/client/meteorOverrides/login/twitter.ts
  apps/meteor/client/providers/AuthenticationProvider.tsx
  apps/meteor/client/startup/customOAuth.ts
  apps/meteor/client/startup/iframeCommands.ts
  apps/meteor/definition/externals/meteor/oauth.d.ts
  apps/meteor/packages/linkedin-oauth/linkedin-client.js
  packages/ui-contexts/src/AuthenticationContext.ts
  packages/ui-contexts/src/hooks/useLoginServices.ts
  packages/ui-contexts/src/index.ts
  packages/web-ui-registration/src/LoginServices.tsx
Due: e2e, client

oops
  apps/meteor/ee/server/models/raw/LivechatDepartment.ts
Due: e2e

Update th-TH.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/th-TH.i18n.json
Due: e2e

fix routing method delay
  apps/meteor/app/livechat/server/lib/RoutingManager.ts
  apps/meteor/app/livechat/server/startup.ts
Due: e2e

refactor: :recycle: Refactor usePendingUsersCount and refactor UsersTableFilters
  apps/meteor/client/views/admin/users/AdminUserForm.tsx
  apps/meteor/client/views/admin/users/UsersTable/UsersTable.tsx
  apps/meteor/client/views/admin/users/UsersTable/UsersTableFilters.tsx
  apps/meteor/client/views/admin/users/hooks/usePendingUsersCount.ts
  packages/ui-client/src/components/MultiSelectCustom/MultiSelectCustomList.tsx
Due: e2e, client

Addressed Null Check Issue in Role Conversion
  apps/meteor/app/apps/server/converters/roles.ts
Due: e2e

fix: add missing labels to UsersByTimeOfTheDaySection (#31368)
  .changeset/tender-lizards-shop.md
  apps/meteor/ee/client/views/admin/engagementDashboard/users/UsersByTimeOfTheDaySection.tsx
Due: e2e

fix: role filter name
  apps/meteor/client/views/admin/users/UsersTable/UsersTableFilters.tsx
Due: e2e, client

fix: updating changeset message
  .changeset/serious-poets-smash.md
Due: none

fix: ensure sessionId on Sessions documents
  apps/meteor/app/api/server/api.ts
  apps/meteor/app/statistics/server/lib/SAUMonitor.ts
  apps/meteor/definition/externals/meteor/ddp-common.d.ts
  apps/meteor/server/models/raw/Sessions.ts
Due: e2e

fix: remove unnecessary index
  apps/meteor/server/models/raw/Sessions.ts
Due: e2e

Create clever-parrots-count.md
  .changeset/clever-parrots-count.md
Due: none

fix: fix type
  apps/meteor/server/models/raw/Sessions.ts
Due: e2e

ops
  apps/meteor/app/cloud/server/functions/getWorkspaceAccessTokenWithScope.ts
Due: e2e

hmmm
  apps/meteor/app/livechat/server/lib/Helper.ts
Due: e2e

hmmm
  apps/meteor/server/services/omnichannel/queue.ts
  packages/core-typings/src/IInquiry.ts
Due: e2e

Split countTokensByClientType in 3 methods
  apps/meteor/app/push/server/push.ts
  apps/meteor/server/lib/pushConfig.ts
  apps/meteor/server/models/raw/AppsTokens.ts
  packages/model-typings/src/models/IAppsTokensModel.ts
Due: e2e

Simplify query
  apps/meteor/server/models/raw/AppsTokens.ts
Due: e2e

refactor: :recycle: Add 'pending' to users table registration status column
  apps/meteor/client/views/admin/users/AdminUserFormWithData.tsx
  apps/meteor/client/views/admin/users/AdminUserInfoWithData.tsx
  apps/meteor/client/views/admin/users/UsersTable/UsersTable.tsx
  apps/meteor/client/views/admin/users/UsersTable/UsersTableRow.tsx
  packages/core-typings/src/IUser.ts
  packages/rest-typings/src/v1/users.ts
Due: e2e, client

hmmm
  packages/core-typings/src/IInquiry.ts
Due: none

chore: Updating the toast message
  apps/meteor/client/views/teams/contextualBar/channels/RoomActions.js
  apps/meteor/packages/rocketchat-i18n/i18n/en.i18n.json
Due: e2e, client

chore: QoL changes for Omnichannel (#31468)
  apps/meteor/app/livechat/imports/server/rest/departments.ts
  apps/meteor/app/livechat/imports/server/rest/inquiries.ts
  apps/meteor/app/livechat/server/business-hour/AbstractBusinessHour.ts
  apps/meteor/app/livechat/server/lib/Departments.ts
  apps/meteor/app/livechat/server/lib/Helper.ts
  apps/meteor/app/livechat/server/lib/LivechatTyped.ts
  apps/meteor/app/livechat/server/startup.ts
  apps/meteor/ee/app/livechat-enterprise/server/business-hour/Helper.ts
  apps/meteor/ee/app/livechat-enterprise/server/business-hour/Multiple.ts
  apps/meteor/ee/app/livechat-enterprise/server/hooks/addDepartmentAncestors.ts
  apps/meteor/ee/app/livechat-enterprise/server/hooks/afterForwardChatToDepartment.ts
  apps/meteor/ee/app/livechat-enterprise/server/hooks/afterRemoveDepartment.ts
  apps/meteor/ee/app/livechat-enterprise/server/hooks/onLoadForwardDepartmentRestrictions.ts
  apps/meteor/ee/server/models/raw/LivechatDepartment.ts
  apps/meteor/lib/callbacks.ts
  apps/meteor/server/models/raw/LivechatDepartment.ts
  apps/meteor/server/models/raw/LivechatDepartmentAgents.ts
  apps/meteor/tests/end-to-end/api/livechat/04-dashboards.ts
  packages/model-typings/src/models/ILivechatDepartmentAgentsModel.ts
Due: e2e

fix qa
  apps/meteor/client/views/marketplace/AppInstallPage.tsx
  apps/meteor/client/views/marketplace/hooks/useInstallApp.tsx
  apps/meteor/packages/rocketchat-i18n/i18n/en.i18n.json
  yarn.lock
Due: e2e, client

fix: removing exceeding keys
  apps/meteor/packages/rocketchat-i18n/i18n/ar.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/ca.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/cs.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/da.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/de.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/es.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/fi.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/fr.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/hu.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/ja.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/ka-GE.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/ko.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/nl.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/pl.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/pt-BR.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/ru.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/sv.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/zh-TW.i18n.json
  apps/meteor/packages/rocketchat-i18n/i18n/zh.i18n.json
Due: e2e

feat: Add `chat.getURLPreview` endpoint (#30478)
  .changeset/lucky-bikes-enjoy.md
  apps/meteor/app/api/server/v1/chat.ts
  apps/meteor/app/oembed/server/server.ts
  apps/meteor/tests/end-to-end/api/05-chat.js
  packages/core-typings/src/IMessage/IMessage.ts
  packages/rest-typings/src/v1/chat.ts
Due: e2e

fix: fix from merge
  apps/meteor/server/settings/matrix-federation.ts
  packages/core-typings/src/SlashCommands/index.ts
Due: e2e

fix: type
  packages/core-typings/src/IMessage/MessageAttachment/MessageAttachmentBase.ts
Due: none

chore: remove link css overrides
  apps/meteor/app/theme/client/imports/general/base.css
  apps/meteor/app/theme/client/imports/general/base_old.css
  apps/meteor/app/theme/client/imports/general/reset.css
Due: e2e

chore: `RoomHeader` tweaks to show link box-shadow on focus
  apps/meteor/client/views/room/Header/RoomHeader.tsx
Due: e2e, client

chore: remove commented code
  apps/meteor/app/theme/client/imports/general/base.css
Due: e2e

fix: fix lint
  apps/meteor/server/settings/matrix-federation.ts
Due: e2e

refactor(Marketplace): Install private apps page to TypeScript (#31404)
  apps/meteor/client/views/marketplace/AccordionLoading.tsx
  apps/meteor/client/views/marketplace/AppDetailsPage/tabs/AppLogs/AppLogs.tsx
  apps/meteor/client/views/marketplace/AppDetailsPage/tabs/AppReleases/AppReleases.tsx
  apps/meteor/client/views/marketplace/AppInstallPage.js
  apps/meteor/client/views/marketplace/AppInstallPage.tsx
  apps/meteor/client/views/marketplace/components/AccordionLoading.tsx
  apps/meteor/client/views/marketplace/hooks/useInstallApp.tsx
  apps/meteor/client/views/marketplace/lib/getManifestFromZippedApp.ts
  apps/meteor/ee/client/apps/orchestrator.ts
  apps/meteor/ee/server/apps/communication/rest.ts
  apps/meteor/packages/rocketchat-i18n/i18n/en.i18n.json
  packages/rest-typings/src/apps/index.ts
  packages/rest-typings/src/index.ts
  yarn.lock
Due: e2e, client

Path conditions:
  e2e: any of: apps/meteor/
  client: any of: apps/meteor/client
