Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true
  
  e2e-api:
    paths:
      - apps/meteor/server
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'
fixes:
  - '/home/runner/work/Rocket.Chat/Rocket.Chat/::'

fix: tests using room instead of rooms
  apps/meteor/tests/end-to-end/api/abac.ts
Due: e2e

prevent invite links from being generated on abac rooms
  apps/meteor/app/invites/server/functions/findOrCreateInvite.ts
  apps/meteor/app/invites/server/functions/validateInviteToken.ts
  apps/meteor/tests/end-to-end/api/abac.ts
Due: e2e

chore: ABAC add/edit room attributes form
  apps/meteor/client/views/admin/ABAC/AdminABACRoomAttributesForm.spec.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACRoomAttributesForm.stories.tsx
  apps/meteor/client/views/admin/ABAC/AdminABACRoomAttributesForm.tsx
  apps/meteor/client/views/admin/ABAC/__snapshots__/AdminABACRoomAttributesForm.spec.tsx.snap
Due: e2e, client

add changeset
  .changeset/lucky-bulldogs-divide.md
Due: none

fix test
  apps/meteor/tests/end-to-end/api/abac.ts
Due: e2e

fix: avatar real-time updates (#36560)
  .changeset/cool-falcons-reflect.md
  apps/meteor/app/lib/server/functions/setUserAvatar.ts
  apps/meteor/client/components/message/variants/SystemMessage.tsx
  apps/meteor/client/components/message/variants/ThreadMessagePreview.tsx
  apps/meteor/client/providers/UserProvider/hooks/useUpdateAvatar.ts
  apps/meteor/server/methods/resetAvatar.ts
  packages/core-typings/src/IMessage/IMessage.ts
  packages/models/src/models/Users.ts
Due: e2e, e2e-api, client

test: --image without args runs on latest rc image
  ee/packages/federation-matrix/tests/scripts/run-integration-tests.sh
Due: none

test: docker compose and integration test script running both local and pre-built federation integration tests
  ee/packages/federation-matrix/docker-compose.test.yml
  ee/packages/federation-matrix/tests/scripts/run-integration-tests.sh
Due: none

test: fix linting issues
  apps/meteor/tests/data/rooms.helper.ts
  apps/meteor/tests/data/users.helper.ts
Due: e2e

test: fixing automated code reviews
  apps/meteor/tests/data/users.helper.ts
  ee/packages/federation-matrix/docker-compose/traefik/traefik.yml
  ee/packages/federation-matrix/tests/end-to-end/room.spec.ts
  ee/packages/federation-matrix/tests/helper/config.ts
  ee/packages/federation-matrix/tests/helper/synapse-client.ts
  ee/packages/federation-matrix/tests/scripts/run-integration-tests.sh
Due: e2e

test: ignore integration tests in unit tests for federation-matrix
  ee/packages/federation-matrix/jest.config.ts
Due: none

test: apply necessary changes to yarn.lock
  yarn.lock
Due: none

test: move tests to federation-matrix and finish all three tests
  apps/meteor/package.json
  apps/meteor/tests/data/api-data.ts
  apps/meteor/tests/data/rooms.helper.ts
  apps/meteor/tests/data/users.helper.ts
  apps/meteor/tests/end-to-end/federation/federation.spec.ts
  ee/packages/federation-matrix/jest.config.federation.ts
  ee/packages/federation-matrix/package.json
  ee/packages/federation-matrix/tests/end-to-end/federation.spec.ts
  ee/packages/federation-matrix/tests/helper/config.ts
  ee/packages/federation-matrix/tests/helper/synapse-client.ts
  ee/packages/federation-matrix/tests/teardown.ts
  yarn.lock
Due: e2e

test: undo yarn.lock changes
  yarn.lock
Due: none

test: Add element flag to test live with element
  ee/packages/federation-matrix/docker-compose.test.yml
  ee/packages/federation-matrix/scripts/run-integration-tests.sh
Due: none

test: remove unecessary traefix config
  ee/packages/federation-matrix/docker-compose/traefik/dynamic_conf.yml
Due: none

test: fix review related to tls for synapse
  ee/packages/federation-matrix/docker-compose/hs1/homeserver.yaml
Due: none

test: undo changes in yarn.lock
  ee/packages/federation-matrix/.env.example
  ee/packages/federation-matrix/docker-compose.test.yml
  ee/packages/federation-matrix/docker-compose/element/config.json
  ee/packages/federation-matrix/docker-compose/hs1/homeserver.yaml
  ee/packages/federation-matrix/docker-compose/hs1/hs1.log.config
  ee/packages/federation-matrix/docker-compose/hs1/hs1.signing.key
  ee/packages/federation-matrix/docker-compose/traefik/certs/ca/rootCA.crt
  ee/packages/federation-matrix/docker-compose/traefik/dynamic_conf.yml
  ee/packages/federation-matrix/docker-compose/traefik/traefik.yml
  ee/packages/federation-matrix/package.json
  ee/packages/federation-matrix/scripts/run-integration-tests.sh
  ee/packages/federation-matrix/tests/end-to-end/room.spec.ts
  ee/packages/federation-matrix/tests/helper/synapse-client.ts
  yarn.lock
Due: none

test: remove script directory from package root
  ee/packages/federation-matrix/scripts/run-integration-tests.sh
Due: none

test: undoing unecessary changes
  apps/meteor/.mocharc.federation.js
  apps/meteor/package.json
  apps/meteor/tests/data/api-data.ts
Due: e2e

test: add readme explaining how integration tests work and fix minor issue with temp build dir
  ee/packages/federation-matrix/README.md
  ee/packages/federation-matrix/package.json
  ee/packages/federation-matrix/tests/scripts/run-integration-tests.sh
Due: none

test: initial draft of integration tests for federation
  apps/meteor/.mocharc.federation.js
  apps/meteor/package.json
  apps/meteor/tests/data/api-data.ts
  apps/meteor/tests/data/rooms.helper.ts
  apps/meteor/tests/data/users.helper.ts
  apps/meteor/tests/end-to-end/federation/federation.spec.ts
  yarn.lock
Due: e2e

test: renaming types and prettify
  ee/packages/federation-matrix/.env.example
  ee/packages/federation-matrix/docker-compose.test.yml
  ee/packages/federation-matrix/tests/end-to-end/room.spec.ts
  ee/packages/federation-matrix/tests/helper/config.ts
Due: none

test: debug commit
  .github/workflows/ci.yml
  ee/packages/federation-matrix/tests/scripts/run-integration-tests.sh
Due: none

fix: invite federated user to non federated room
  apps/meteor/app/lib/server/methods/addUsersToRoom.ts
  ee/packages/federation-matrix/src/index.ts
Due: e2e

test: add some logging
  .github/workflows/ci.yml
Due: none

test: starting last set of room tests
  ee/packages/federation-matrix/tests/end-to-end/room.spec.ts
Due: none

test: fix integration tests
  apps/meteor/tests/data/users.helper.ts
Due: e2e

test: bring back all pipeline jobs
  .github/workflows/ci.yml
Due: none

test: add certificates for rc1, hs1, and element along with .gitignore for pem files
  ee/packages/federation-matrix/docker-compose/traefik/certs/.gitignore
  ee/packages/federation-matrix/docker-compose/traefik/certs/element-key.pem
  ee/packages/federation-matrix/docker-compose/traefik/certs/element.pem
  ee/packages/federation-matrix/docker-compose/traefik/certs/hs1-key.pem
  ee/packages/federation-matrix/docker-compose/traefik/certs/hs1.pem
  ee/packages/federation-matrix/docker-compose/traefik/certs/rc1-key.pem
  ee/packages/federation-matrix/docker-compose/traefik/certs/rc1.pem
Due: none

test: enhance documentation for federation testing utilities and configurations
  apps/meteor/tests/data/rooms.helper.ts
  apps/meteor/tests/data/users.helper.ts
  ee/packages/federation-matrix/jest.config.federation.ts
  ee/packages/federation-matrix/tests/helper/config.ts
  ee/packages/federation-matrix/tests/helper/synapse-client.ts
  ee/packages/federation-matrix/tests/teardown.ts
Due: e2e

fix: slash command error message
  apps/meteor/app/slashcommands-invite/server/server.ts
  ee/packages/federation-matrix/README.md
  ee/packages/federation-matrix/tests/helper/ddp-listener.ts
  ee/packages/federation-matrix/tests/scripts/run-integration-tests.sh
Due: e2e

test: add second set of tests. Inviting users to non-federated private room
  apps/meteor/tests/data/rooms.helper.ts
  ee/packages/federation-matrix/package.json
  ee/packages/federation-matrix/tests/end-to-end/room.spec.ts
  ee/packages/federation-matrix/tests/helper/ddp-listener.ts
  ee/packages/federation-matrix/tests/scripts/run-integration-tests.sh
  yarn.lock
Due: e2e

fix: federated in non federated room check (api)
  apps/meteor/app/lib/server/methods/addUsersToRoom.ts
Due: e2e

test: more ci changes for debugging
  .github/workflows/ci.yml
Due: none

test: All room tests finished
  ee/packages/federation-matrix/tests/end-to-end/room.spec.ts
Due: none

test: more debugging changes to the pipeline
  .github/workflows/ci.yml
  ee/packages/federation-matrix/jest.config.federation.ts
Due: none

test: change enterprise license and debug logging for federation test script
  .github/workflows/ci.yml
  ee/packages/federation-matrix/docker-compose.test.yml
  ee/packages/federation-matrix/tests/scripts/run-integration-tests.sh
Due: none

test: remove storybook from tests
  .github/workflows/ci.yml
Due: none

test: add test cases and fix room creation logic to return error when creating non federated room with federated users
  apps/meteor/app/lib/server/functions/createRoom.ts
  ee/packages/federation-matrix/tests/end-to-end/room.spec.ts
Due: e2e
