Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

feat(queue-worker): fips
  .github/workflows/ci.yml
  docker-compose-ci.fips.yml
  docker-compose-ci.yml
  ee/apps/queue-worker/Dockerfile
  ee/apps/queue-worker/src/fips.ts
  ee/apps/queue-worker/tsconfig.json
Due: none

fix: rebase issue
  ee/apps/ddp-streamer/Dockerfile
Due: none

feat(account-service): use alpine for fips
  ee/apps/account-service/Dockerfile
Due: none

ci: update actionlint
  .github/workflows/actionlint.yml
Due: none

chore: vendor meteor/webapp package
  apps/meteor/packages/webapp/.gitignore
  apps/meteor/packages/webapp/.npm/package/.gitignore
  apps/meteor/packages/webapp/.npm/package/README
  apps/meteor/packages/webapp/README.md
  apps/meteor/packages/webapp/legacy_test_asset.js
  apps/meteor/packages/webapp/modern_test_asset.js
  apps/meteor/packages/webapp/package-types.json
  apps/meteor/packages/webapp/package.js
  apps/meteor/packages/webapp/socket_file.js
  apps/meteor/packages/webapp/socket_file_tests.js
  apps/meteor/packages/webapp/webapp.d.ts
  apps/meteor/packages/webapp/webapp_client.js
  apps/meteor/packages/webapp/webapp_client_tests.js
  apps/meteor/packages/webapp/webapp_cordova.js
  apps/meteor/packages/webapp/webapp_server.js
  apps/meteor/packages/webapp/webapp_tests.js
Due: e2e

fix: update `useTimezoneTime` to use `useFormatTime` for formatting with timezone offset
  apps/meteor/client/hooks/useTimezoneTime.ts
Due: e2e, client

feat(message-parser): add heading and code fence block parsing
  packages/message-parser/src/lexer/scanners/code.ts
  packages/message-parser/src/parser/Parser.ts
Due: none

setting type validator mismatch
  apps/meteor/app/settings/server/functions/validateSetting.ts
Due: e2e

fix: internal promise handling
  packages/apps-engine/src/server/AppManager.ts
  packages/apps-engine/src/server/managers/AppVideoConfProviderManager.ts
  packages/apps-engine/tests/server/managers/AppVideoConfProviderManager.test.ts
Due: none

fix: do not trim filename
  apps/meteor/client/views/room/modals/FileUploadModal/FileUploadModal.tsx
Due: e2e, client

test(e2e): consolidate utils helpers for performance migration
  apps/meteor/tests/e2e/README.md
  apps/meteor/tests/e2e/apps/app-modal-interaction.spec.ts
  apps/meteor/tests/e2e/e2e-encryption/e2ee-encryption-decryption.spec.ts
  apps/meteor/tests/e2e/quote-messages.spec.ts
  apps/meteor/tests/e2e/utils/channels.ts
  apps/meteor/tests/e2e/utils/create-target-channel.ts
  apps/meteor/tests/e2e/utils/direct-messages.ts
  apps/meteor/tests/e2e/utils/discussions.ts
  apps/meteor/tests/e2e/utils/groups.ts
  apps/meteor/tests/e2e/utils/index.ts
  apps/meteor/tests/e2e/utils/messages.ts
  apps/meteor/tests/e2e/utils/rooms.ts
  apps/meteor/tests/e2e/utils/sendMessage.ts
  apps/meteor/tests/e2e/utils/teams.ts
Due: e2e

docs(oauth): clarify redirect URI normalization comment
  .changeset/friendly-wombats-clarify.md
  apps/meteor/app/oauth2-server-config/server/admin/functions/parseUriList.ts
Due: e2e

test: add empty message parsing test
  .changeset/test-empty-message-parse.md
  apps/meteor/client/lib/parseMessageTextToAstMarkdown.spec.ts
Due: e2e, client

compute mime type from filename extension
  apps/meteor/app/api/server/v1/custom-sounds.ts
  apps/meteor/tests/end-to-end/api/custom-sounds.ts
Due: e2e

chore: fix AJV strictTypes warnings in rest-typings oneOf branches
  packages/rest-typings/src/v1/channels/ChannelsFilesListProps.ts
  packages/rest-typings/src/v1/dm/DmFileProps.ts
  packages/rest-typings/src/v1/groups/GroupsFilesProps.ts
  packages/rest-typings/src/v1/moderation/ArchiveReportProps.ts
  packages/rest-typings/src/v1/rooms.ts
  packages/rest-typings/src/v1/teams/TeamsInfoProps.ts
  packages/rest-typings/src/v1/teams/TeamsListChildren.ts
  packages/rest-typings/src/v1/teams/TeamsListRoomsOfUserProps.ts
  packages/rest-typings/src/v1/teams/TeamsListRoomsProps.ts
  packages/rest-typings/src/v1/teams/TeamsMembersProps.ts
Due: none

feat(message-parser): add blockquote, list, and task parsing
  packages/message-parser/src/parser/Parser.ts
Due: none

test
  apps/meteor/tests/end-to-end/api/abac.ts
Due: e2e

Update apps/meteor/tests/end-to-end/api/custom-sounds.ts
  apps/meteor/tests/end-to-end/api/custom-sounds.ts
Due: e2e

docs(oauth): remove inline normalization comment
  apps/meteor/app/oauth2-server-config/server/admin/functions/parseUriList.ts
Due: e2e

address copilot suggestions
  apps/meteor/client/views/admin/customSounds/EditSound.tsx
  apps/meteor/tests/end-to-end/api/custom-sounds.ts
Due: e2e, client

chore: fix AJV strictTypes warnings at root schema level
  apps/meteor/app/api/server/v1/invites.ts
  packages/rest-typings/src/v1/rooms.ts
Due: e2e

lint
  apps/meteor/tests/end-to-end/api/abac.ts
Due: e2e

Apply suggested changes
  packages/apps-engine/tests/server/managers/AppVideoConfProviderManager.test.ts
Due: none

docs(e2e): add phase 1 triage worklist and generator script
  apps/meteor/tests/e2e/scripts/e2e-triage.mts
  docs/proposals/e2e-migration-triage.md
  docs/proposals/e2e-performance-migration.md
Due: e2e

test(e2e): migrate first batch of specs to api-seeded setup
  apps/meteor/tests/e2e/image-gallery.spec.ts
  apps/meteor/tests/e2e/messaging.spec.ts
  apps/meteor/tests/e2e/report-message.spec.ts
  apps/meteor/tests/e2e/threads.spec.ts
Due: e2e

regression: disable avatar url input
  apps/meteor/client/components/avatar/UserAvatarEditor/UserAvatarEditor.tsx
Due: e2e, client

test: add test case
  apps/meteor/tests/e2e/account-profile.spec.ts
Due: e2e

test: update warning message for failed file upload
  apps/meteor/tests/e2e/file-upload.spec.ts
Due: e2e

chore: add changeset for feature-preview permission fix
  .changeset/funny-houses-peel.md
Due: none

fix: add permission check to feature-preview sidebar item
  apps/meteor/client/views/admin/sidebarItems.ts
Due: e2e, client

fix: register manage-feature-preview permission in permissions registry
  apps/meteor/app/authorization/server/constant/permissions.ts
Due: e2e

feat(message-parser): add katex, spoiler block, and big emoji parsing
  packages/message-parser/src/parser/Parser.ts
Due: none

fix body parser warning
  apps/meteor/app/apps/server/bridges/router.ts
Due: e2e

fix(e2e): wire asUser against absolute URL and add joinChannelAsUser
  apps/meteor/tests/e2e/messaging.spec.ts
  apps/meteor/tests/e2e/utils/messages.ts
  apps/meteor/tests/e2e/utils/rooms.ts
Due: e2e

fix: use manage-feature-preview permission in AdminFeaturePreviewRoute
  apps/meteor/client/views/admin/featurePreview/AdminFeaturePreviewRoute.tsx
Due: e2e, client

fix package install
  apps/meteor/package.json
  package.json
  yarn.lock
Due: e2e

fix TS
  apps/meteor/app/apple/server/loginHandler.ts
  apps/meteor/definition/externals/express.d.ts
  apps/meteor/server/lib/oauth/addPassportCustomOAuth.ts
  apps/meteor/server/lib/oauth/configureOAuthServices.ts
Due: e2e, e2e-api

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
