Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

remove length restrictions
  apps/meteor/tests/e2e/admin-users-custom-fields.spec.ts
  apps/meteor/tests/end-to-end/api/users.ts
Due: e2e

fix: users.update API call erases other customFields
  apps/meteor/app/lib/server/functions/saveCustomFieldsWithoutValidation.ts
Due: e2e

Update eleven-buses-return.md
  .changeset/eleven-buses-return.md
Due: none

Deploy preview for PR 36573 🛫
  pr-preview/pr-36573/fuselage-ui-kit/project.json
  pr-preview/pr-36573/gazzodown/project.json
Due: none

Deploy preview for PR 36577 🛫
  pr-preview/pr-36577/fuselage-ui-kit/project.json
  pr-preview/pr-36577/gazzodown/project.json
Due: none

fix: mentioning discussions wrong display
  apps/meteor/client/components/GazzodownText.tsx
  apps/meteor/client/views/room/providers/ComposerPopupProvider.tsx
  apps/meteor/server/services/messages/hooks/BeforeSaveMentions.ts
Due: e2e, e2e-api, client

Add keypad
  packages/ui-voip/src/v2/components/Dialpad.tsx
  packages/ui-voip/src/v2/components/Keypad/Key.tsx
  packages/ui-voip/src/v2/components/Keypad/Keypad.stories.tsx
  packages/ui-voip/src/v2/components/Keypad/Keypad.tsx
  packages/ui-voip/src/v2/useDialpad.tsx
  packages/ui-voip/src/v2/useKeypad.tsx
Due: none

Add ToggleButton
  packages/ui-voip/src/v2/components/ActionButton.tsx
  packages/ui-voip/src/v2/components/ToggleButton.stories.tsx
  packages/ui-voip/src/v2/components/ToggleButton.tsx
Due: none

DevicePicker stub
  packages/ui-voip/src/v2/components/DevicePicker.tsx
Due: none

fix exports
  packages/ui-voip/src/v2/components/index.ts
Due: none

MediaCallContext initial structure
  packages/ui-voip/src/v2/MediaCallContext.ts
Due: none

Update views with new stuff I just added
  packages/ui-voip/src/v2/views/IncomingCall.tsx
  packages/ui-voip/src/v2/views/NewCall.tsx
  packages/ui-voip/src/v2/views/OngoingCall.tsx
  packages/ui-voip/src/v2/views/OutgoingCall.tsx
Due: none

fix: fixes hook loop on reactions
  apps/meteor/ee/server/hooks/federation/index.ts
Due: e2e

feat: adds user kick and leave support
  apps/meteor/ee/server/hooks/federation/index.ts
  ee/packages/federation-matrix/src/FederationMatrix.ts
  ee/packages/federation-matrix/src/events/index.ts
  ee/packages/federation-matrix/src/events/member.ts
  packages/core-services/src/types/IFederationMatrixService.ts
Due: e2e

Deploy preview for PR 36565 🛫
  pr-preview/pr-36565/fuselage-ui-kit/project.json
  pr-preview/pr-36565/gazzodown/project.json
  pr-preview/pr-36565/ui-composer/project.json
Due: none

fix: Remove room assignment before queueing the conversation again when transfering (#36577)
  .changeset/eleven-buses-return.md
  apps/meteor/app/livechat/server/lib/RoutingManager.ts
Due: e2e

fix: lint issues fixed
  apps/meteor/app/api/server/v1/qrcode.ts
  apps/meteor/app/utils/server/lib/JWTHelper.ts
  apps/meteor/server/modules/notifications/notifications.module.ts
  packages/core-services/src/events/Events.ts
  packages/ddp-client/src/types/streams.ts
  packages/rest-typings/src/index.ts
  packages/rest-typings/src/v1/oauthapps.ts
  packages/rest-typings/src/v1/qrcode.ts
  packages/web-ui-registration/src/LoginForm.tsx
  packages/web-ui-registration/src/QrModal.tsx
  packages/web-ui-registration/src/components/RenderQrContent.tsx
  packages/web-ui-registration/src/hooks/useQrCodeQueryHandler.ts
  packages/web-ui-registration/src/hooks/useQrModalHandler.tsx
Due: e2e, e2e-api

fix: react-virtuoso zero sized element issue
  apps/meteor/client/sidebarv2/RoomList/RoomList.tsx
  apps/meteor/client/views/navigation/contexts/RoomsNavigationContext.ts
Due: e2e, client

Deploy preview for PR 36049 🛫
  pr-preview/pr-36049/fuselage-ui-kit/project.json
  pr-preview/pr-36049/gazzodown/project.json
Due: none

Refactor widget ID initialization in Store class
  packages/livechat/src/store/Store.js
Due: none

Bump 7.9.1
  .changeset/bump-patch-1753963351496.md
  yarn.lock
Due: none

Hub 2219 (#1)
  apps/meteor/app/livechat/server/api/lib/livechat.ts
  apps/meteor/app/livechat/server/api/v1/config.ts
  packages/livechat/src/components/Screen/Header.js
  packages/livechat/src/components/Screen/index.js
  packages/livechat/src/lib/main.js
  packages/livechat/src/routes/Chat/component.js
  packages/livechat/src/routes/LeaveMessage/component.js
  packages/livechat/src/routes/Register/component.js
  packages/livechat/src/store/Store.js
  packages/rest-typings/src/v1/omnichannel.ts
  yarn.lock
Due: e2e

feat: add openapi support to oauth-apps update api
  apps/meteor/app/api/server/v1/oauthapps.ts
Due: e2e

refactor: remove UpdateOAuthAppParams type and related endpoint from rest-typing
  packages/rest-typings/src/index.ts
  packages/rest-typings/src/v1/oauthapps.ts
  packages/rest-typings/src/v1/oauthapps/UpdateOAuthAppParamsPOST.ts
Due: none

Create clever-trees-occur.md
  .changeset/clever-trees-occur.md
Due: none

feat: Added annotation to WizardActions component (#36575)
  .changeset/popular-trees-hunt.md
  packages/ui-client/src/components/Wizard/WizardActions.spec.tsx
  packages/ui-client/src/components/Wizard/WizardActions.stories.tsx
  packages/ui-client/src/components/Wizard/WizardActions.tsx
  packages/ui-client/src/components/Wizard/__snapshots__/Wizard.spec.tsx.snap
  packages/ui-client/src/components/Wizard/__snapshots__/WizardActions.spec.tsx.snap
Due: none

Create wild-kiwis-cover.md
  .changeset/wild-kiwis-cover.md
Due: none

Deploy preview for PR 36578 🛫
  pr-preview/pr-36578/fuselage-ui-kit/project.json
  pr-preview/pr-36578/gazzodown/project.json
Due: none

Update wild-kiwis-cover.md
  .changeset/wild-kiwis-cover.md
Due: none

chore: support for the server key via settings (#36551)
  apps/meteor/server/settings/federation-service.ts
  ee/packages/federation-matrix/src/FederationMatrix.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, e2e-api

mitigates events looping and checks matrix version
  apps/meteor/ee/server/hooks/federation/index.ts
  apps/meteor/server/services/room/service.ts
  ee/packages/federation-matrix/src/events/member.ts
Due: e2e, e2e-api

feat: add openapi support to oauth-apps list api
  apps/meteor/app/api/server/v1/oauthapps.ts
Due: e2e

refactor: remove unused '/v1/oauth-apps.list' endpoint from rest-typing
  packages/rest-typings/src/v1/oauthapps.ts
Due: none

Update build_create_deploy.yml
  .github/workflows/build_create_deploy.yml
Due: none

fix: update oauth-apps.list endpoint to require uid in query parameters
  apps/meteor/app/api/server/v1/oauthapps.ts
Due: e2e

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
