Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

Update apps/meteor/ee/app/livechat-enterprise/server/hooks/beforeNewRoom.ts
  apps/meteor/ee/app/livechat-enterprise/server/hooks/beforeNewRoom.ts
Due: e2e

ensure last valid token is used
  apps/meteor/server/cron/usageReport.ts
Due: e2e, e2e-api

unit tests
  apps/meteor/server/cron/usageReport.spec.ts
Due: e2e, e2e-api

add test path to jest
  apps/meteor/jest.config.ts
Due: e2e

Create changeset
  .changeset/tender-goats-cross.md
Due: none

refactor: Remove `beforeRoom` callback (#35957)
  apps/meteor/app/livechat/server/lib/Helper.ts
  apps/meteor/app/livechat/server/lib/hooks.ts
  apps/meteor/ee/app/livechat-enterprise/server/hooks/beforeNewRoom.ts
  apps/meteor/lib/callbacks.ts
  apps/meteor/tests/unit/server/livechat/hooks/beforeNewRoom.spec.ts
Due: e2e

fix: contact info now updates without overwriting attributes
  apps/meteor/app/livechat/server/lib/contacts/updateContact.ts
Due: e2e

onnewroom
  apps/meteor/app/livechat/server/hooks/saveContactLastChat.ts
  apps/meteor/app/livechat/server/hooks/sendToCRM.ts
  apps/meteor/app/livechat/server/index.ts
  apps/meteor/app/livechat/server/lib/QueueManager.ts
  apps/meteor/app/livechat/server/lib/hooks.ts
  apps/meteor/ee/app/livechat-enterprise/server/hooks/addDepartmentAncestors.ts
  apps/meteor/lib/callbacks.ts
Due: e2e

Update apps/meteor/ee/app/livechat-enterprise/server/hooks/addDepartmentAncestors.ts
  apps/meteor/ee/app/livechat-enterprise/server/hooks/addDepartmentAncestors.ts
Due: e2e

fix: update API to use 'route' instead of 'path' for consistency in request handling
  apps/meteor/app/api/server/definition.ts
  apps/meteor/app/api/server/helpers/parseJsonQuery.ts
  apps/meteor/app/api/server/router.ts
  apps/meteor/app/api/server/v1/oauthapps.ts
  apps/meteor/app/api/server/v1/roles.ts
  apps/meteor/ee/server/api/engagementDashboard/channels.ts
  apps/meteor/ee/server/apps/communication/rest.ts
Due: e2e

bump 8.0.0
  apps/meteor/app/utils/rocketchat.info
  apps/meteor/package.json
  package.json
  packages/core-typings/package.json
  packages/rest-typings/package.json
Due: e2e

chore!: remove mongo 5/6 support
  .github/workflows/ci-test-e2e.yml
  .github/workflows/ci.yml
  apps/meteor/server/startup/serverRunning.js
Due: e2e, e2e-api

Create gold-keys-compare.md
  .changeset/gold-keys-compare.md
Due: none

update all translations
  packages/i18n/src/locales/ar.i18n.json
  packages/i18n/src/locales/bn-IN.i18n.json
  packages/i18n/src/locales/ca.i18n.json
  packages/i18n/src/locales/cs.i18n.json
  packages/i18n/src/locales/da.i18n.json
  packages/i18n/src/locales/de.i18n.json
  packages/i18n/src/locales/es.i18n.json
  packages/i18n/src/locales/fi.i18n.json
  packages/i18n/src/locales/fr.i18n.json
  packages/i18n/src/locales/gl.i18n.json
  packages/i18n/src/locales/hi-IN.i18n.json
  packages/i18n/src/locales/hu.i18n.json
  packages/i18n/src/locales/it.i18n.json
  packages/i18n/src/locales/ja.i18n.json
  packages/i18n/src/locales/ka-GE.i18n.json
  packages/i18n/src/locales/km.i18n.json
  packages/i18n/src/locales/ko.i18n.json
  packages/i18n/src/locales/lo.i18n.json
  packages/i18n/src/locales/lt.i18n.json
  packages/i18n/src/locales/nb.i18n.json
  packages/i18n/src/locales/nl.i18n.json
  packages/i18n/src/locales/nn.i18n.json
  packages/i18n/src/locales/pl.i18n.json
  packages/i18n/src/locales/pt-BR.i18n.json
  packages/i18n/src/locales/pt.i18n.json
  packages/i18n/src/locales/ru.i18n.json
  packages/i18n/src/locales/sv.i18n.json
  packages/i18n/src/locales/uk.i18n.json
  packages/i18n/src/locales/vi-VN.i18n.json
  packages/i18n/src/locales/zh-TW.i18n.json
  packages/i18n/src/locales/zh.i18n.json
Due: none

update more translations
  packages/i18n/src/locales/ar.i18n.json
  packages/i18n/src/locales/bn-IN.i18n.json
  packages/i18n/src/locales/ca.i18n.json
  packages/i18n/src/locales/cs.i18n.json
  packages/i18n/src/locales/da.i18n.json
  packages/i18n/src/locales/de.i18n.json
  packages/i18n/src/locales/es.i18n.json
  packages/i18n/src/locales/fi.i18n.json
  packages/i18n/src/locales/fr.i18n.json
  packages/i18n/src/locales/gl.i18n.json
  packages/i18n/src/locales/hi-IN.i18n.json
  packages/i18n/src/locales/hu.i18n.json
  packages/i18n/src/locales/it.i18n.json
  packages/i18n/src/locales/ja.i18n.json
  packages/i18n/src/locales/ka-GE.i18n.json
  packages/i18n/src/locales/km.i18n.json
  packages/i18n/src/locales/ko.i18n.json
  packages/i18n/src/locales/lo.i18n.json
  packages/i18n/src/locales/lt.i18n.json
  packages/i18n/src/locales/nb.i18n.json
  packages/i18n/src/locales/nl.i18n.json
  packages/i18n/src/locales/nn.i18n.json
  packages/i18n/src/locales/pa-IN.i18n.json
  packages/i18n/src/locales/pl.i18n.json
  packages/i18n/src/locales/pt-BR.i18n.json
  packages/i18n/src/locales/pt.i18n.json
  packages/i18n/src/locales/ru.i18n.json
  packages/i18n/src/locales/sv.i18n.json
  packages/i18n/src/locales/uk.i18n.json
  packages/i18n/src/locales/vi-VN.i18n.json
  packages/i18n/src/locales/zh-TW.i18n.json
  packages/i18n/src/locales/zh.i18n.json
Due: none

Deploy preview for PR 35815 🛫
  pr-preview/pr-35815/fuselage-ui-kit/project.json
  pr-preview/pr-35815/gazzodown/project.json
Due: none

lint
  apps/meteor/server/startup/serverRunning.js
Due: e2e, e2e-api

Use controlled checkbox component
  apps/meteor/client/views/room/contextualBar/PruneMessages/PruneMessages.tsx
Due: e2e, client

fix other OTR test
  apps/meteor/tests/e2e/otr.spec.ts
  apps/meteor/tests/e2e/page-objects/fragments/home-content.ts
Due: e2e

remove comment
  apps/meteor/tests/e2e/otr.spec.ts
Due: e2e

refactor: skip validateCustomFields when resolving conflicts
  apps/meteor/app/livechat/server/lib/contacts/updateContact.ts
Due: e2e

Deploy preview for PR 35960 🛫
  pr-preview/pr-35960/fuselage-ui-kit/project.json
  pr-preview/pr-35960/gazzodown/project.json
  pr-preview/pr-35960/ui-composer/project.json
Due: none

fix
  apps/meteor/app/emoji/client/emojiParser.ts
Due: e2e

chore: comments a e2e test that breaks business rules
  apps/meteor/tests/end-to-end/api/livechat/contacts.ts
Due: e2e

Create few-masks-punch.md
  .changeset/few-masks-punch.md
Due: none

remove streamhub/oplog/changestream
  .github/workflows/ci-test-e2e.yml
  .github/workflows/ci.yml
  apps/meteor/app/utils/server/functions/getMongoInfo.ts
  apps/meteor/server/modules/watchers/watchers.module.ts
  apps/meteor/server/routes/health.ts
  apps/meteor/server/startup/index.ts
  apps/meteor/server/startup/watchDb.ts
  ee/apps/stream-hub-service/.eslintrc.json
  ee/apps/stream-hub-service/CHANGELOG.md
  ee/apps/stream-hub-service/Dockerfile
  ee/apps/stream-hub-service/package.json
  ee/apps/stream-hub-service/src/StreamHub.ts
  ee/apps/stream-hub-service/src/service.ts
  ee/apps/stream-hub-service/tsconfig.json
  packages/models/src/DatabaseWatcher.ts
  packages/models/src/convertChangeStreamPayload.ts
  packages/models/src/convertOplogPayload.ts
  packages/models/src/index.ts
  packages/models/src/watchCollections.ts
Due: e2e, e2e-api

chore: invert dbWatchersDisabled default value
  packages/models/src/index.ts
Due: none

remove DISABLE_DB_WATCHERS
  .github/workflows/ci.yml
  apps/meteor/ee/server/services/.config/prometheus/prometheus.yml
  apps/meteor/ee/server/services/docker-compose.yml
  docker-compose-ci.yml
  docker-compose-local.yml
  yarn.lock
Due: e2e

..
  .github/workflows/ci.yml
Due: none

Replace `Mongo.Collection` with `MinimongoCollection`
  apps/meteor/app/models/client/models/Messages.ts
  apps/meteor/app/models/client/models/Roles.ts
  apps/meteor/app/models/client/models/Subscriptions.ts
  apps/meteor/app/models/client/models/Users.ts
  apps/meteor/app/slashcommands-open/client/client.ts
  apps/meteor/app/ui-utils/client/lib/LegacyRoomManager.ts
  apps/meteor/app/ui-utils/client/lib/RoomHistoryManager.ts
  apps/meteor/app/ui/client/lib/UserAction.ts
  apps/meteor/app/webrtc/client/WebRTCClass.ts
  apps/meteor/client/definitions/MinimongoCollection.ts
  apps/meteor/client/lib/cachedCollections/CachedCollection.ts
  apps/meteor/client/lib/cachedCollections/MinimongoCollection.ts
  apps/meteor/client/lib/rooms/roomTypes/direct.ts
  apps/meteor/client/lib/rooms/roomTypes/private.ts
  apps/meteor/client/lib/rooms/roomTypes/public.ts
  apps/meteor/client/providers/UserProvider/hooks/useUpdateAvatar.ts
  apps/meteor/client/startup/roles.ts
  apps/meteor/client/views/room/MessageList/hooks/useMessages.ts
  apps/meteor/client/views/room/Sidepanel/hooks/useTeamslistChildren.ts
  apps/meteor/client/views/room/composer/hooks/useMessageComposerIsReadOnly.ts
  apps/meteor/client/views/room/contextualBar/Threads/hooks/useLegacyThreadMessages.ts
Due: e2e, client

Implement a Zustand store inside `MinimongoCollection`
  apps/meteor/client/lib/cachedCollections/MinimongoCollection.ts
  apps/meteor/tests/mocks/client/meteor.ts
Due: e2e, client

Replace some `findOne` calls
  apps/meteor/client/views/hooks/useRequire2faSetup.ts
  apps/meteor/client/views/room/composer/hooks/useMessageComposerIsReadOnly.ts
  apps/meteor/client/views/room/hooks/useGoToRoom.ts
  apps/meteor/client/views/room/providers/RoomProvider.tsx
Due: e2e, client

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
