Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

added changeset
  .changeset/silent-dolphins-argue.md
Due: none

chore: update actions/setup-node to version 4.4.0 in workflows (#36030)
  .github/actions/setup-node/action.yml
  .github/workflows/ci.yml
  .github/workflows/update-version-durability.yml
Due: none

test: Optimize cleanup processes in omnichannel test files… (#36157)
  apps/meteor/tests/e2e/omnichannel/omnichannel-canned-responses-sidebar.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-changing-room-priority-and-sla.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat-api.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat.spec.ts
Due: e2e

chore: Report deno version to release service (#36155)
  .github/workflows/ci.yml
Due: none

Deploy preview for PR 36156 🛫
  pr-preview/pr-36156/fuselage-ui-kit/project.json
  pr-preview/pr-36156/gazzodown/project.json
  pr-preview/pr-36156/ui-composer/project.json
Due: none

ci: fix json release update
  .github/workflows/ci.yml
Due: none

Fix setting casting
  apps/meteor/client/components/message/toolbar/items/actions/QuoteMessageAction.tsx
Due: e2e, client

chore: remove .main-content css
  apps/meteor/app/theme/client/imports/components/main-content.css
  apps/meteor/app/theme/client/imports/general/base.css
  apps/meteor/app/theme/client/imports/general/base_old.css
  apps/meteor/app/theme/client/main.css
  apps/meteor/client/views/root/MainLayout/LayoutWithSidebar.tsx
  apps/meteor/client/views/root/MainLayout/LayoutWithSidebarV2.tsx
  apps/meteor/client/views/root/MainLayout/MainContent.tsx
  apps/meteor/client/views/root/MainLayout/TwoFactorAuthSetupCheck.tsx
  apps/meteor/tests/e2e/access-security-page.spec.ts
  apps/meteor/tests/e2e/account-profile.spec.ts
  apps/meteor/tests/e2e/e2e-encryption.spec.ts
  apps/meteor/tests/e2e/feature-preview.spec.ts
  apps/meteor/tests/e2e/fixtures/createAuxContext.ts
  apps/meteor/tests/e2e/jump-to-thread-message.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-contact-conflict-review.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-enterprise-menus-logout.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-manual-selection-logout.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-monitors.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-priorities-sidebar.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-priorities.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-reports.spec.ts
  apps/meteor/tests/e2e/page-objects/utils.ts
Due: e2e, client

Deploy preview for PR 36143 🛫
  pr-preview/pr-36143/fuselage-ui-kit/project.json
  pr-preview/pr-36143/gazzodown/project.json
  pr-preview/pr-36143/ui-composer/project.json
Due: none

Deploy preview for PR 36153 🛫
  pr-preview/pr-36153/ui-composer/project.json
Due: none

chore: fix apps-engine lint (#36144)
  packages/apps-engine/package.json
  packages/apps-engine/src/definition/livechat/IPreLivechatRoomCreatePrevent.ts
  packages/apps-engine/src/definition/metadata/AppInterface.ts
  packages/apps-engine/src/server/bridges/ContactBridge.ts
  packages/apps-engine/src/server/runtime/deno/LivenessManager.ts
  packages/apps-engine/src/server/runtime/deno/ProcessMessenger.ts
  packages/apps-engine/tests/server/compiler/AppFabricationFulfillment.spec.ts
  packages/apps-engine/tests/test-data/utilities.ts
Due: none

Deploy preview for PR 36150 🛫
  pr-preview/pr-36150/fuselage-ui-kit/project.json
  pr-preview/pr-36150/gazzodown/project.json
  pr-preview/pr-36150/ui-composer/project.json
Due: none

Deploy preview for PR 36129 🛫
  pr-preview/pr-36129/fuselage-ui-kit/project.json
  pr-preview/pr-36129/gazzodown/project.json
  pr-preview/pr-36129/ui-composer/project.json
Due: none

fix review
  apps/meteor/app/ui-message/client/messageBox/createComposerAPI.ts
  apps/meteor/client/components/message/toolbar/items/actions/QuoteMessageAction.tsx
  apps/meteor/client/views/room/composer/messageBox/MessageBox.tsx
Due: e2e, client

wip: map all outlook settings to domain
  apps/meteor/app/api/server/helpers/getUserInfo.ts
  apps/meteor/client/hooks/notification/useNotificationUserCalendar.ts
  apps/meteor/client/hooks/roomActions/useOutlookCalenderRoomAction.ts
  apps/meteor/client/views/account/preferences/PreferencesNotificationsSection.tsx
  apps/meteor/client/views/outlookCalendar/OutlookEventsList/OutlookEventsList.tsx
  apps/meteor/ee/server/settings/outlookCalendar.ts
  packages/core-typings/src/IUser.ts
  packages/ui-contexts/src/UserContext.ts
  packages/ui-contexts/src/hooks/useUser.ts
Due: e2e, client

Deploy preview for PR 36153 🛫
  pr-preview/pr-36153/fuselage-ui-kit/project.json
  pr-preview/pr-36153/gazzodown/project.json
Due: none

Deploy preview for PR 36164 🛫
  pr-preview/pr-36164/fuselage-ui-kit/project.json
  pr-preview/pr-36164/gazzodown/project.json
Due: none

fix: typechecking
  packages/core-typings/src/IUser.ts
Due: none

regression: wrong unread count on favicon (#36150)
  apps/meteor/client/hooks/useUnread.ts
Due: e2e, client

Limit quote depth when decrypting messages
  apps/meteor/app/e2e/client/rocketchat.e2e.ts
Due: e2e

Deploy preview for PR 36143 🛫
  pr-preview/pr-36143/fuselage-ui-kit/project.json
  pr-preview/pr-36143/gazzodown/project.json
Due: none

chore: updates types
  apps/meteor/server/lib/OutboundMessageProvider.ts
Due: e2e, e2e-api

fix: merge conflicts
  .changeset/young-kiwis-fly.md
  apps/meteor/app/livechat/server/api/v1/customField.ts
  apps/meteor/app/livechat/server/api/v1/visitor.ts
  apps/meteor/app/livechat/server/lib/LivechatTyped.ts
  apps/meteor/tests/end-to-end/api/livechat/03-custom-fields.ts
  packages/model-typings/src/models/ILivechatContactsModel.ts
  packages/models/src/models/LivechatContacts.ts
Due: e2e

feat: implement scrolling in RichTextComposerInput
  packages/ui-composer/src/MessageComposer/RichTextComposerInput.tsx
Due: none

chore!: Remove `streamhub` (#35964)
  .github/workflows/ci-test-e2e.yml
  .github/workflows/ci.yml
  apps/meteor/app/lib/server/lib/notifyListener.ts
  apps/meteor/app/statistics/server/lib/statistics.ts
  apps/meteor/app/utils/server/functions/getMongoInfo.ts
  apps/meteor/ee/server/services/.config/prometheus/prometheus.yml
  apps/meteor/ee/server/services/docker-compose.yml
  apps/meteor/server/modules/watchers/watchers.module.ts
  apps/meteor/server/routes/health.ts
  apps/meteor/server/startup/index.ts
  apps/meteor/server/startup/serverRunning.js
  apps/meteor/server/startup/watchDb.ts
  apps/meteor/tests/unit/app/lib/server/lib/notifyListener.spec.ts
  docker-compose-ci.yml
  docker-compose-local.yml
  ee/apps/stream-hub-service/.eslintrc.json
  ee/apps/stream-hub-service/CHANGELOG.md
  ee/apps/stream-hub-service/Dockerfile
  ee/apps/stream-hub-service/package.json
  ee/apps/stream-hub-service/src/StreamHub.ts
  ee/apps/stream-hub-service/src/service.ts
  ee/apps/stream-hub-service/tsconfig.json
  packages/models/src/DatabaseWatcher.ts
  packages/models/src/convertChangeStreamPayload.ts
  packages/models/src/convertOplogPayload.ts
  packages/models/src/index.ts
  packages/models/src/watchCollections.ts
Due: e2e, e2e-api

chore(meteor-methods)!: remove deprecated canAccessRoom method (#35436)
  .changeset/few-masks-punch.md
  apps/meteor/server/methods/canAccessRoom.ts
  apps/meteor/server/methods/index.ts
Due: e2e, e2e-api

chore!: remove mongo 5/6 support (#35961)
  .changeset/gold-keys-compare.md
  .github/workflows/ci-test-e2e.yml
  .github/workflows/ci.yml
  apps/meteor/server/startup/serverRunning.js
Due: e2e, e2e-api

bump 8.0.0
  apps/meteor/app/utils/rocketchat.info
  apps/meteor/package.json
  package.json
  packages/core-typings/package.json
  packages/rest-typings/package.json
Due: e2e

Deploy preview for PR 36135 🛫
  pr-preview/pr-36135/fuselage-ui-kit/project.json
  pr-preview/pr-36135/gazzodown/project.json
  pr-preview/pr-36135/ui-composer/project.json
Due: none

Deploy preview for PR 36166 🛫
  pr-preview/pr-36166/fuselage-ui-kit/project.json
  pr-preview/pr-36166/gazzodown/project.json
Due: none

Deploy preview for PR 35999 🛫
  pr-preview/pr-35999/fuselage-ui-kit/project.json
  pr-preview/pr-35999/gazzodown/project.json
  pr-preview/pr-35999/ui-composer/project.json
Due: none

Deploy preview for PR 36168 🛫
  pr-preview/pr-36168/fuselage-ui-kit/project.json
  pr-preview/pr-36168/gazzodown/project.json
Due: none

Deploy preview for PR 36146 🛫
  pr-preview/pr-36146/fuselage-ui-kit/project.json
  pr-preview/pr-36146/gazzodown/project.json
  pr-preview/pr-36146/ui-composer/project.json
Due: none

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
