Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

chore: improve `ContactInfo` typing and props
  apps/meteor/client/views/omnichannel/contactInfo/tabs/ContactInfoDetails/ContactInfoDetailsEntry.tsx
  apps/meteor/client/views/omnichannel/contactInfo/tabs/ContactInfoDetails/ContactInfoDetailsGroup.tsx
  apps/meteor/tests/e2e/page-objects/fragments/home-omnichannel-content.ts
Due: e2e, client

chore: check error and loading conditions in `ContactManagerInfo`
  apps/meteor/client/views/omnichannel/contactInfo/tabs/ContactInfoDetails/ContactManagerInfo.tsx
Due: e2e, client

chore: block query when not allowed instead of forcing initial value with useEffect in contact history
  apps/meteor/client/views/omnichannel/contactInfo/tabs/ContactInfoHistory/ContactInfoHistory.tsx
Due: e2e, client

chore: `ContactInfo` error verification order
  apps/meteor/client/views/omnichannel/directory/ContactContextualBar.tsx
Due: e2e, client

fix: Livechat finish chat option being enabled before room is created (#33911)
  .changeset/metal-avocados-serve.md
  packages/livechat/src/routes/Chat/container.js
Due: none

feat: improve contact center routing
  apps/meteor/client/hooks/roomActions/useContactProfileRoomAction.ts
  apps/meteor/client/startup/routes.tsx
  apps/meteor/client/views/omnichannel/directory/CallsContextualBarDirectory.tsx
  apps/meteor/client/views/omnichannel/directory/ChatsContextualBar.tsx
  apps/meteor/client/views/omnichannel/directory/ContactContextualBar.tsx
  apps/meteor/client/views/omnichannel/directory/ContextualBarRouter.tsx
  apps/meteor/client/views/omnichannel/directory/OmnichannelDirectoryPage.tsx
  apps/meteor/client/views/omnichannel/directory/OmnichannelDirectoryRouter.tsx
  apps/meteor/client/views/omnichannel/directory/calls/CallTable.tsx
  apps/meteor/client/views/omnichannel/directory/chats/ChatTable.tsx
  apps/meteor/client/views/omnichannel/directory/chats/contextualBar/ChatInfoDirectory.tsx
  apps/meteor/client/views/omnichannel/directory/contacts/ContactTable.tsx
  apps/meteor/client/views/omnichannel/directory/contacts/contactInfo/ContactInfo.tsx
  apps/meteor/client/views/omnichannel/directory/contacts/contactInfo/ContactInfoRouter.tsx
  apps/meteor/client/views/omnichannel/directory/contacts/contactInfo/EditContactInfo.tsx
  apps/meteor/client/views/omnichannel/directory/contacts/contactInfo/EditContactInfoWithData.tsx
  apps/meteor/client/views/omnichannel/directory/contacts/contextualBar/ContactEditWithData.tsx
  apps/meteor/client/views/omnichannel/directory/hooks/useContactRoute.ts
  apps/meteor/client/views/room/Header/Omnichannel/BackButton.tsx
Due: e2e, client

test: improvements for livechat tab communication (#33912)
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat-tab-communication.spec.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-livechat.ts
Due: e2e

chore: throwing generic error
  apps/meteor/ee/server/patches/verifyContactChannel.ts
Due: e2e

review base requirements; virtuoso component blocked on inverted load-more strategy
  apps/meteor/app/theme/client/imports/general/base_old.css
  apps/meteor/app/ui-utils/client/lib/RoomHistoryManager.ts
  apps/meteor/client/components/CustomScrollbars/NativeScrollbars.tsx
  apps/meteor/client/views/room/MessageList/MessageList.tsx
  apps/meteor/client/views/room/body/RoomBody.tsx
  apps/meteor/client/views/room/body/hooks/useListIsAtBottom.ts
  apps/meteor/client/views/room/providers/DateListProvider.tsx
Due: e2e, client

chore: add updateMergedContactIds method
  apps/meteor/ee/server/models/raw/LivechatRooms.ts
  apps/meteor/ee/server/patches/mergeContacts.ts
  apps/meteor/ee/tests/unit/apps/livechat-enterprise/server/lib/mergeContacts.spec.ts
  apps/meteor/server/models/raw/LivechatRooms.ts
Due: e2e

feat: add unread badge to sidebar collapser (#33897)
  .changeset/friendly-ravens-teach.md
  apps/meteor/client/sidebarv2/RoomList/RoomList.tsx
  apps/meteor/client/sidebarv2/RoomList/RoomListCollapser.tsx
  apps/meteor/client/sidebarv2/hooks/useRoomList.spec.tsx
  apps/meteor/client/sidebarv2/hooks/useRoomList.ts
  apps/meteor/tests/e2e/feature-preview.spec.ts
  apps/meteor/tests/e2e/page-objects/fragments/home-sidenav.ts
  apps/meteor/tests/e2e/page-objects/fragments/index.ts
  apps/meteor/tests/e2e/page-objects/fragments/sidebar.ts
  apps/meteor/tests/e2e/page-objects/home-channel.ts
Due: e2e, client

chore: check the status of the inquiry
  apps/meteor/ee/server/patches/verifyContactChannel.ts
  apps/meteor/ee/tests/unit/apps/livechat-enterprise/server/lib/verifyContactChannel.spec.ts
Due: e2e

addeed clarification comment
  apps/meteor/app/api/server/lib/maybeMigrateLivechatRoom.ts
Due: e2e

implemented load-more scroll lock strategy; reviewed MLI render optimization
  apps/meteor/client/views/room/MessageList/MessageList.tsx
  apps/meteor/client/views/room/MessageList/hooks/useLockLoadScroll.ts
  apps/meteor/client/views/room/body/RoomBody.tsx
  apps/meteor/client/views/room/body/hooks/useListIsAtBottom.ts
  apps/meteor/client/views/room/body/hooks/useUnreadMessages.ts
  apps/meteor/client/views/room/hooks/useDateScroll.ts
Due: e2e, client

moved test files
  apps/meteor/app/livechat/server/lib/contacts/isVerifiedChannelInSource.spec.ts
  apps/meteor/app/livechat/server/lib/contacts/mapVisitorToContact.spec.ts
  apps/meteor/app/livechat/server/lib/contacts/migrateVisitorToContactId.spec.ts
  apps/meteor/app/livechat/server/lib/contacts/registerContact.spec.ts
  apps/meteor/app/livechat/server/lib/contacts/updateContact.spec.ts
  apps/meteor/app/livechat/server/lib/contacts/validateContactManager.spec.ts
  apps/meteor/app/livechat/server/lib/contacts/validateCustomFields.spec.ts
Due: e2e

Deploy preview for PR 32727 🛫
  pr-preview/pr-32727/fuselage-ui-kit/project.json
  pr-preview/pr-32727/gazzodown/project.json
Due: none

chore: remove redundancy in contact info history
  apps/meteor/client/views/omnichannel/contactInfo/tabs/ContactInfoHistory/ContactInfoHistoryRouter.tsx
Due: e2e, client

chore: create and edit contact mutations
  apps/meteor/client/views/omnichannel/contactInfo/ContactInfo/ReviewContactModal.tsx
  apps/meteor/client/views/omnichannel/contactInfo/EditContactInfo.tsx
  apps/meteor/client/views/omnichannel/contactInfo/hooks/useCreateContact.ts
  apps/meteor/client/views/omnichannel/contactInfo/hooks/useEditContact.ts
Due: e2e, client

chore: conflict fields type
  apps/meteor/lib/mapLivechatContactConflicts.ts
Due: e2e

Deploy preview for PR 33903 🛫
  pr-preview/pr-33903/fuselage-ui-kit/project.json
  pr-preview/pr-33903/gazzodown/project.json
  pr-preview/pr-33903/ui-composer/358.b878d8be.iframe.bundle.js
  pr-preview/pr-33903/ui-composer/455.601a5cc2.iframe.bundle.js
  pr-preview/pr-33903/ui-composer/455.601a5cc2.iframe.bundle.js.map
  pr-preview/pr-33903/ui-composer/455.a8d0924c.iframe.bundle.js.map
  pr-preview/pr-33903/ui-composer/542.5b9c8579.iframe.bundle.js
  pr-preview/pr-33903/ui-composer/881.1e3a3043.iframe.bundle.js
  pr-preview/pr-33903/ui-composer/881.333b80e9.iframe.bundle.js
  pr-preview/pr-33903/ui-composer/977.0efea023.iframe.bundle.js
  pr-preview/pr-33903/ui-composer/977.29d55897.iframe.bundle.js
  pr-preview/pr-33903/ui-composer/iframe.html
  pr-preview/pr-33903/ui-composer/main.5519f610.iframe.bundle.js
  pr-preview/pr-33903/ui-composer/main.87290d8c.iframe.bundle.js
  pr-preview/pr-33903/ui-composer/project.json
  pr-preview/pr-33903/ui-composer/runtime~main.2b443d00.iframe.bundle.js
  pr-preview/pr-33903/ui-composer/runtime~main.534eb17b.iframe.bundle.js
Due: none

fix: update `ComposerOmnichannelCallout` content [SCI-150]
  apps/meteor/client/views/room/composer/ComposerOmnichannel/ComposerOmnichannelCallout.tsx
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/pt-BR.i18n.json
Due: e2e, client

fix: Livechat Popout mode changing sessions
  packages/livechat/src/components/Screen/ScreenProvider.tsx
  packages/livechat/src/widget.ts
Due: none

Concatenate aliases
  apps/meteor/client/views/admin/customEmoji/CustomEmoji.tsx
Due: e2e, client

source filter on contact history
  apps/meteor/app/livechat/server/lib/contacts/getContactHistory.ts
  apps/meteor/ee/server/models/raw/LivechatRooms.ts
  apps/meteor/ee/server/patches/fetchContactHistory.ts
  apps/meteor/server/models/raw/LivechatRooms.ts
  packages/model-typings/src/models/ILivechatRoomsModel.ts
  packages/patch-injection/src/definition.ts
  packages/patch-injection/src/makeFunction.ts
Due: e2e

types and logs
  apps/meteor/app/livechat/server/lib/LivechatTyped.ts
  apps/meteor/app/livechat/server/lib/Visitors.ts
  apps/meteor/app/livechat/server/lib/contacts/registerGuestData.ts
Due: e2e

Remove outdated cache busting parameter
  apps/meteor/app/emoji-custom/client/lib/emojiCustom.ts
  apps/meteor/app/utils/client/getURL.ts
Due: e2e

fix: Widget not returning from windowed mode
  packages/livechat/src/components/Screen/ScreenProvider.tsx
Due: none

Deploy preview for PR 33922 🛫
  pr-preview/pr-33922/fuselage-ui-kit/project.json
  pr-preview/pr-33922/gazzodown/project.json
Due: none

map before toArray
  apps/meteor/app/livechat/server/lib/contacts/getContacts.ts
Due: e2e

ci: remove dependabot from update ignore
  .kodiak.toml
Due: none

#discussion_r1838178568
  apps/meteor/server/routes/avatar/utils.ts
Due: e2e

feat: add transactional flow to verification (#33922)
  apps/meteor/app/livechat/server/lib/LivechatTyped.ts
  apps/meteor/app/livechat/server/lib/contacts/ContactMerger.ts
  apps/meteor/app/livechat/server/lib/contacts/getContactManagerIdByUsername.ts
  apps/meteor/app/livechat/server/lib/contacts/mergeContacts.ts
  apps/meteor/app/livechat/server/lib/contacts/registerGuestData.ts
  apps/meteor/ee/server/models/raw/LivechatRooms.ts
  apps/meteor/ee/server/patches/mergeContacts.ts
  apps/meteor/ee/server/patches/verifyContactChannel.ts
  apps/meteor/ee/tests/unit/apps/livechat-enterprise/server/lib/mergeContacts.spec.ts
  apps/meteor/ee/tests/unit/apps/livechat-enterprise/server/lib/verifyContactChannel.spec.ts
  apps/meteor/server/database/utils.ts
  apps/meteor/server/models/raw/LivechatContacts.ts
  apps/meteor/server/models/raw/LivechatRooms.ts
  packages/i18n/src/locales/en.i18n.json
  packages/model-typings/src/models/ILivechatContactsModel.ts
Due: e2e

do not attempt to migrate room data when contactId is being left out of the query
  apps/meteor/.mocharc.js
  apps/meteor/app/api/server/lib/maybeMigrateLivechatRoom.ts
  apps/meteor/app/api/server/lib/projectionAllowsAttribute.spec.ts
  apps/meteor/app/api/server/lib/projectionAllowsAttribute.ts
Due: e2e

changed drag and drop test from popup to directly send message
  apps/meteor/tests/e2e/e2e-encryption.spec.ts
Due: e2e

removed invalid reference to non-existing attribute
  apps/meteor/app/livechat/server/lib/QueueManager.ts
Due: e2e

chore: disable uploading of exempt apps
  apps/meteor/ee/server/apps/communication/rest.ts
Due: e2e

feat: add model to warn about uploading of exempt apps
  apps/meteor/client/views/marketplace/AppExemptModal.tsx
  apps/meteor/client/views/marketplace/hooks/useInstallApp.tsx
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

Create twenty-news-own.md
  .changeset/twenty-news-own.md
Due: none

Path conditions:
  e2e: any of: apps/meteor/
  client: any of: apps/meteor/client
