Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

chore: adjust freeswitch service to not leave dangling promise on startup (#35191)
  apps/meteor/ee/server/local-services/voip-freeswitch/service.ts
Due: e2e

SaveButton
  apps/meteor/client/views/room/contextualBar/NotificationPreferences/NotificationPreferences.tsx
Due: e2e, client

Apply suggestions from code review
  .changeset/five-cherries-hang.md
  apps/meteor/app/apps/server/converters/messages.js
Due: e2e

chore(deps): bump `node` version from `22.11.0` to `22.13.1` and `meteor` to `3.1.2` (#35181)
  .changeset/perfect-trees-rescue.md
  .github/workflows/ci-deploy-gh-pages.yml
  .github/workflows/ci.yml
  .github/workflows/new-release.yml
  .github/workflows/pr-update-description.yml
  .github/workflows/publish-release.yml
  .github/workflows/release-candidate.yml
  .github/workflows/update-version-durability.yml
  apps/meteor/.docker-mongo/Dockerfile
  apps/meteor/.docker/Dockerfile.alpine
  apps/meteor/.docker/Dockerfile.debian
  apps/meteor/.meteor/packages
  apps/meteor/.meteor/release
  apps/meteor/.meteor/versions
  apps/meteor/app/api/server/api.ts
  apps/meteor/app/oauth2-server-config/server/oauth/oauth2-server.ts
  apps/meteor/client/meteorOverrides/ddpOverREST.ts
  apps/meteor/definition/externals/meteor/meteor.d.ts
  apps/meteor/ee/server/apps/communication/rest.ts
  apps/meteor/ee/server/services/Dockerfile
  ee/apps/account-service/Dockerfile
  ee/apps/authorization-service/Dockerfile
  ee/apps/ddp-streamer/Dockerfile
  ee/apps/omnichannel-transcript/Dockerfile
  ee/apps/presence-service/Dockerfile
  ee/apps/queue-worker/Dockerfile
  ee/apps/stream-hub-service/Dockerfile
  package.json
Due: e2e, client

fix: Livechat conversation not closing due to cross-tab interference (#35168)
  .changeset/rude-llamas-pay.md
  packages/livechat/src/lib/room.js
  packages/livechat/src/routes/Chat/container.js
Due: none

refactor: Chat endpoints to use AJV schemas (#35210)
  apps/meteor/app/api/server/v1/chat.ts
  apps/meteor/tests/e2e/jump-to-thread-message.spec.ts
  apps/meteor/tests/end-to-end/api/chat.ts
  packages/rest-typings/src/v1/chat.ts
Due: e2e

Bump express
  apps/meteor/ee/server/services/package.json
  apps/meteor/package.json
  yarn.lock
Due: e2e

pr suggestions fixes
  apps/meteor/app/livechat/server/lib/Visitors.ts
  packages/core-typings/src/ILivechatVisitor.ts
  packages/model-typings/src/models/ILivechatContactsModel.ts
  packages/models/src/models/LivechatContacts.ts
Due: e2e

test fix
  apps/meteor/tests/end-to-end/api/channels.ts
Due: e2e

fix: Rooms not working in embedded layout (#35204)
  .changeset/six-deers-dress.md
  apps/meteor/client/views/room/RoomOpenerEmbedded.tsx
Due: e2e, client

chore: endpoint change in channels.members test
  apps/meteor/tests/end-to-end/api/channels.ts
Due: e2e

test fix
  apps/meteor/tests/data/chat.helper.ts
  apps/meteor/tests/end-to-end/api/channels.ts
Due: e2e

fix: imported fixes 2025-02-17 (#35231)
  apps/meteor/app/api/server/v1/channels.ts
  apps/meteor/tests/data/chat.helper.ts
  apps/meteor/tests/end-to-end/api/channels.ts
Due: e2e

minor changes
  apps/meteor/app/api/server/v1/channels.ts
Due: e2e

chore: replace the kadira flow router with the ostrio flow router (#35175)
  apps/meteor/.meteor/packages
  apps/meteor/.meteor/versions
  apps/meteor/client/main.ts
  apps/meteor/client/providers/RouterProvider.tsx
  apps/meteor/definition/externals/meteor/ostrio-flow-router.d.ts
Due: e2e, client

test
  apps/meteor/client/views/audit/components/CodeDisplay.tsx
Due: e2e, client

Update .changeset/few-mangos-protect.md
  .changeset/few-mangos-protect.md
Due: none

refactor: remove personal access token method calls (server) (#34890)
  apps/meteor/app/api/server/v1/users.ts
  apps/meteor/imports/personal-access-tokens/server/api/methods/generateToken.ts
  apps/meteor/imports/personal-access-tokens/server/api/methods/regenerateToken.ts
  apps/meteor/imports/personal-access-tokens/server/api/methods/removeToken.ts
Due: e2e

fix preset import
  packages/fuselage-ui-kit/.storybook/main.ts
  packages/fuselage-ui-kit/.storybook/webpackAddon.ts
  packages/gazzodown/.storybook/main.ts
  packages/gazzodown/.storybook/webpackAddon.ts
  packages/ui-composer/.storybook/main.ts
  packages/ui-composer/.storybook/webpackAddon.ts
Due: none

fix: ddp-streamer restart keeping opened connections (#35195)
  _templates/service/new/service.ejs.t
  apps/meteor/ee/server/startup/index.ts
  ee/apps/account-service/src/service.ts
  ee/apps/authorization-service/src/service.ts
  ee/apps/ddp-streamer/src/service.ts
  ee/apps/omnichannel-transcript/src/service.ts
  ee/apps/presence-service/src/service.ts
  ee/apps/queue-worker/src/service.ts
  ee/apps/stream-hub-service/src/service.ts
  ee/packages/network-broker/src/index.ts
Due: e2e

chore: code cleanup
  apps/meteor/client/lib/chats/flows/uploadFiles.ts
  apps/meteor/client/lib/chats/uploadFilesAndGetIdsandURL.ts
  apps/meteor/client/lib/chats/uploads.ts
  apps/meteor/client/views/room/body/RoomBody.tsx
  apps/meteor/client/views/room/body/RoomBodyV2.tsx
  apps/meteor/client/views/room/body/hooks/useFileUpload.ts
  apps/meteor/client/views/room/composer/messageBox/MessageBox.tsx
Due: e2e, client

fix: remove `handleUploadFiles` from ThreadChat`
  apps/meteor/client/views/room/contextualBar/Threads/components/ThreadChat.tsx
Due: e2e, client

test fix
  apps/meteor/tests/unit/app/e2e/server/functions/resetRoomKey.spec.ts
Due: e2e

chore(deps): bump `express` from `4.21.1` to `4.21.2` (#35245)
  apps/meteor/ee/server/services/package.json
  apps/meteor/package.json
  yarn.lock
Due: e2e

convert file to ts
  packages/models/src/models/Users.ts
Due: none

user model to ts
  apps/meteor/app/api/server/helpers/addUserToFileObj.ts
  apps/meteor/app/api/server/lib/users.ts
  apps/meteor/app/api/server/v1/channels.ts
  apps/meteor/app/api/server/v1/groups.ts
  apps/meteor/app/api/server/v1/im.ts
  apps/meteor/app/api/server/v1/users.ts
  apps/meteor/app/api/server/v1/voip/rooms.ts
  apps/meteor/app/apps/server/bridges/activation.ts
  apps/meteor/app/e2e/server/methods/setUserPublicAndPrivateKeys.ts
  apps/meteor/app/importer/server/classes/converters/ConverterCache.ts
  apps/meteor/app/importer/server/classes/converters/UserConverter.ts
  apps/meteor/app/lib/server/functions/updateGroupDMsName.ts
  apps/meteor/app/livechat/server/api/lib/users.ts
  apps/meteor/app/livechat/server/business-hour/AbstractBusinessHour.ts
  apps/meteor/app/livechat/server/business-hour/Helper.ts
  apps/meteor/app/livechat/server/lib/contacts/getContacts.ts
  apps/meteor/ee/server/lib/ldap/Manager.ts
  apps/meteor/imports/personal-access-tokens/server/api/methods/regenerateToken.ts
  apps/meteor/server/lib/findUsersOfRoom.ts
  apps/meteor/server/lib/ldap/Manager.ts
  apps/meteor/server/lib/ldap/UserConverter.ts
  apps/meteor/server/methods/browseChannels.ts
  apps/meteor/server/methods/getUsersOfRoom.ts
  apps/meteor/server/methods/removeUserFromRoom.ts
  apps/meteor/server/services/authorization/service.ts
  apps/meteor/server/services/federation/infrastructure/rocket-chat/adapters/User.ts
  apps/meteor/server/services/omnichannel-voip/service.ts
  ee/packages/omnichannel-services/src/OmnichannelTranscript.ts
  packages/core-typings/src/IOmnichannelCustomAgent.ts
  packages/core-typings/src/IUser.ts
  packages/core-typings/src/utils.ts
  packages/model-typings/src/models/IUsersModel.ts
  packages/models/src/models/BaseRaw.ts
  packages/models/src/models/Users.ts
Due: e2e

Update packages/models/src/models/Users.ts
  packages/models/src/models/Users.ts
Due: none

Update packages/models/src/models/BaseRaw.ts
  packages/models/src/models/BaseRaw.ts
Due: none

rip js
  packages/models/tsconfig.json
Due: none

fix logic
  apps/meteor/app/e2e/server/methods/setUserPublicAndPrivateKeys.ts
Due: e2e

Update .changeset/calm-rabbits-sin.md
  .changeset/calm-rabbits-sin.md
Due: none

Path conditions:
  e2e: any of: apps/meteor/
  client: any of: apps/meteor/client
