Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

Release 8.9.0-rc.2
  .changeset/bump-patch-1790633991897.md
  .changeset/pre.json
  apps/meteor/CHANGELOG.md
  apps/meteor/app/utils/rocketchat.info
  apps/meteor/package.json
  package.json
  packages/core-typings/CHANGELOG.md
  packages/core-typings/package.json
  packages/rest-typings/CHANGELOG.md
  packages/rest-typings/package.json
Due: e2e

fix(ddp-client): recover from heartbeat timeouts and manual reconnects
  apps/meteor/client/lib/sdk/ddpSdk.ts
  packages/ddp-client/__tests__/DDPSDK.spec.ts
  packages/ddp-client/src/Connection.ts
  packages/ddp-client/src/TimeoutControl.ts
Due: e2e, client

chore(ddp-client): keep reconnecting the SDK socket until the server is back (#42380)
  apps/meteor/client/lib/sdk/ddpSdk.ts
  packages/ddp-client/__tests__/Connection.spec.ts
  packages/ddp-client/__tests__/DDPSDK.spec.ts
  packages/ddp-client/src/Connection.ts
  packages/ddp-client/src/TimeoutControl.ts
Due: e2e, client

test(file-upload): implement multiple file upload handling in message composer
  apps/meteor/tests/e2e/file-upload.spec.ts
Due: e2e

ci: bump actions to Node 24 runtime
  .github/actions/build-docker/action.yml
  .github/actions/docker-image-size-tracker/action.yml
  .github/actions/meteor-build/action.yml
  .github/actions/update-version-durability/action.yml
Due: none

test(file-upload): verify maximum file count in composer after drag and drop
  apps/meteor/tests/e2e/file-upload.spec.ts
Due: e2e

fix: route stream fan-out through the service broker (#42415)
  .changeset/federated-typing-microservices.md
  .changeset/stream-relay-microservices.md
  CLAUDE.md
  apps/meteor/.storybook/mocks/meteor.ts
  apps/meteor/definition/externals/meteor/meteor.d.ts
  apps/meteor/ee/server/local-services/instance/service.ts
  apps/meteor/ee/server/startup/federation.ts
  apps/meteor/ee/server/startup/services.ts
  apps/meteor/server/lib/notifications/core/lib/Notifications.ts
  apps/meteor/server/startup/localBroker.ts
  apps/meteor/server/startup/localServices.ts
  apps/meteor/tests/unit/server/services/instance/service.tests.ts
  docs/adr/0005-stream-fan-out-rides-the-service-broker.md
  docs/service-brokers.md
  ee/apps/ddp-streamer/src/DDPStreamer.spec.ts
  ee/apps/ddp-streamer/src/DDPStreamer.ts
  ee/apps/ddp-streamer/src/service.ts
  ee/packages/federation-matrix/src/FederationMatrix.ts
  ee/packages/network-broker/src/MoleculerBroker.test.ts
  ee/packages/network-broker/src/MoleculerBroker.ts
  packages/core-services/src/LocalBroker.ts
  packages/core-services/src/events/Events.ts
  packages/core-services/src/index.ts
  packages/core-services/src/lib/Api.ts
  packages/core-services/src/types/IApiService.ts
  packages/core-services/src/types/IBroker.ts
  packages/core-services/src/types/IFederationMatrixService.ts
  packages/core-services/tests/LocalBroker.test.ts
  packages/streamer/src/StreamPresence.ts
  packages/streamer/src/index.ts
  packages/streamer/src/listeners.module.spec.ts
  packages/streamer/src/listeners.module.ts
  packages/streamer/src/notifications.module.spec.ts
  packages/streamer/src/notifications.module.ts
  packages/streamer/src/streamer.module.spec.ts
  packages/streamer/src/streamer.module.ts
  packages/streamer/src/types.ts
Due: e2e, e2e-api

fix: load room history on insecure origins (#41708)
  .changeset/room-history-insecure-origin.md
  apps/meteor/client/lib/RoomHistoryManager.spec.ts
  apps/meteor/client/lib/RoomHistoryManager.ts
Due: e2e, client

feat: let admins turn user status off, per user or workspace-wide
  apps/meteor/app/apps/server/bridges/users.ts
  apps/meteor/server/api/lib/users.ts
  apps/meteor/server/api/v1/im.ts
  apps/meteor/server/api/v1/teams.ts
  apps/meteor/server/api/v1/users.ts
  apps/meteor/server/lib/findUsersOfRoom.ts
  apps/meteor/server/lib/findUsersOfRoomOrderedByRole.ts
  apps/meteor/server/lib/statusVisibility/effectiveStatus.spec.ts
  apps/meteor/server/lib/statusVisibility/effectiveStatus.ts
  apps/meteor/server/lib/statusVisibility/hiddenUsers.ts
  apps/meteor/server/lib/statusVisibility/presenceScope.ts
  apps/meteor/server/lib/statusVisibility/redactStatus.ts
  apps/meteor/server/lib/users/getFullUserData.ts
  apps/meteor/server/lib/users/saveUser/saveNewUser.ts
  apps/meteor/server/lib/users/saveUser/saveUser.ts
  apps/meteor/server/lib/users/saveUser/validateUserEditing.ts
  apps/meteor/server/lib/utils/functions/getBaseUserFields.ts
  apps/meteor/server/meteor-methods/users/getUserStatusText.ts
  apps/meteor/server/services/statusVisibility/service.spec.ts
  apps/meteor/server/services/statusVisibility/service.ts
  apps/meteor/server/settings/accounts.ts
  apps/meteor/tests/end-to-end/api/status-visibility.ts
  ee/packages/presence/src/Presence.ts
  packages/core-services/src/index.ts
  packages/core-services/src/types/IStatusVisibilityService.ts
  packages/core-typings/src/IMeApiUser.ts
  packages/core-typings/src/IUser.ts
  packages/i18n/src/locales/en.i18n.json
  packages/model-typings/src/models/IUsersModel.ts
  packages/models/src/models/Users.ts
  packages/rest-typings/src/v1/users/UserCreateParamsPOST.ts
  packages/rest-typings/src/v1/users/UsersUpdateParamsPOST.ts
  packages/streamer/src/StatusVisibilityGate.ts
  packages/streamer/src/StreamPresence.ts
  packages/streamer/src/index.ts
  packages/streamer/src/listeners.module.ts
  packages/streamer/src/presenceScope.ts
Due: e2e, e2e-api

chore: reuse the status visibility filter helper and sort the new i18n keys
  apps/meteor/server/api/v1/users.ts
  apps/meteor/server/lib/statusVisibility/effectiveStatus.spec.ts
  apps/meteor/server/lib/statusVisibility/effectiveStatus.ts
  apps/meteor/server/lib/users/saveUser/saveUser.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, e2e-api

chore: add changeset
  .changeset/polite-geese-unite.md
Due: none

test: assert the users.list order by a total key instead of comparing two listings
  apps/meteor/tests/end-to-end/api/status-visibility.ts
Due: e2e

fix: resync status visibility gate when a change lands mid-sync
  apps/meteor/app/apps/server/bridges/users.ts
  apps/meteor/server/api/lib/users.ts
  apps/meteor/server/lib/findUsersOfRoom.ts
  apps/meteor/server/lib/statusVisibility/StatusVisibilityGate.spec.ts
  apps/meteor/server/lib/statusVisibility/effectiveStatus.spec.ts
  apps/meteor/server/lib/users/getFullUserData.ts
  apps/meteor/server/lib/users/saveUser/saveUser.ts
  apps/meteor/server/services/statusVisibility/service.ts
  apps/meteor/tests/end-to-end/api/status-visibility.ts
  packages/streamer/src/StatusVisibilityGate.ts
Due: e2e, e2e-api

feat: let admins hide a user status from specific people
  .changeset/admin-presence-visibility-rules.md
  apps/meteor/server/api/ApiClass.ts
  apps/meteor/server/api/v1/users.ts
  apps/meteor/server/lib/findUsersOfRoom.ts
  apps/meteor/server/lib/findUsersOfRoomOrderedByRole.ts
  apps/meteor/server/lib/statusVisibility/effectiveStatus.ts
  apps/meteor/server/lib/statusVisibility/hiddenUsers.ts
  apps/meteor/server/lib/statusVisibility/redactStatus.ts
  apps/meteor/server/lib/statusVisibility/resolveUsers.ts
  apps/meteor/server/lib/users/getFullUserData.ts
  apps/meteor/server/lib/users/saveUser/saveUser.ts
  apps/meteor/server/lib/users/saveUser/validateUserData.ts
  apps/meteor/server/lib/users/saveUser/validateUserEditing.ts
  apps/meteor/server/services/statusVisibility/service.spec.ts
  apps/meteor/server/services/statusVisibility/service.ts
  apps/meteor/server/settings/accounts.ts
  apps/meteor/tests/end-to-end/api/status-visibility.ts
  packages/core-services/src/types/IStatusVisibilityService.ts
  packages/core-typings/src/IUser.ts
  packages/model-typings/src/models/IUsersModel.ts
  packages/models/src/models/Users.ts
  packages/rest-typings/src/v1/users.ts
  packages/rest-typings/src/v1/users/UsersListStatusVisibilityParamsGET.ts
  packages/rest-typings/src/v1/users/UsersUpdateParamsPOST.ts
  packages/streamer/src/StatusVisibilityGate.ts
  packages/streamer/src/StreamPresence.ts
Due: e2e, e2e-api

feat: filter the users list by whether an admin manages their status
  apps/meteor/server/api/lib/users.ts
  apps/meteor/server/api/v1/users.ts
  apps/meteor/tests/end-to-end/api/status-visibility.ts
  packages/rest-typings/src/v1/users/UsersListStatusParamsGET.ts
Due: e2e, e2e-api

chore: merge the status visibility changesets into one
  .changeset/admin-presence-visibility-rules.md
  .changeset/few-goats-double.md
  .changeset/polite-geese-unite.md
Due: none

chore: sort the status visibility settings imports
  apps/meteor/server/api/lib/getUserInfo.ts
  apps/meteor/server/api/v1/users.ts
  apps/meteor/server/lib/users/saveUser/validateUserData.ts
  apps/meteor/server/meteor-methods/users/saveUserPreferences.ts
Due: e2e, e2e-api

test: wait for the presence write before asserting it
  apps/meteor/tests/end-to-end/api/status-visibility.ts
Due: e2e

chore: reword the admin status hiding setting
  packages/i18n/src/locales/en.i18n.json
Due: none

fix: apply a status message sent together with the flag that re-enables it
  apps/meteor/server/lib/users/saveUser/saveUser.ts
  apps/meteor/tests/end-to-end/api/status-visibility.ts
Due: e2e, e2e-api

fix: accept the pagination params of the managed status list
  apps/meteor/tests/end-to-end/api/status-visibility.ts
  packages/rest-typings/src/v1/users/UsersListStatusVisibilityParamsGET.ts
Due: e2e

chore: fix changeset wording
  .changeset/few-goats-double.md
Due: none

chore: land the final status wording and leave the UI-only keys to the UI
  .changeset/few-goats-double.md
  packages/i18n/src/locales/en.i18n.json
Due: none

fix: address the status visibility review findings
  apps/meteor/app/apps/server/bridges/users.ts
  apps/meteor/server/lib/statusVisibility/StatusVisibilityGate.spec.ts
  apps/meteor/server/lib/users/saveUser/saveNewUser.ts
  apps/meteor/server/lib/users/saveUser/saveUser.ts
  apps/meteor/server/lib/users/saveUser/validateUserData.ts
  apps/meteor/server/lib/users/saveUser/validateUserEditing.ts
  apps/meteor/server/services/statusVisibility/service.spec.ts
  apps/meteor/server/services/statusVisibility/service.ts
  packages/i18n/src/locales/en.i18n.json
  packages/streamer/src/StatusVisibilityGate.ts
  packages/streamer/src/StreamPresence.ts
Due: e2e, e2e-api

fix: keep the status visibility gate active when the user status setting cannot be read
  apps/meteor/server/lib/statusVisibility/StatusVisibilityGate.spec.ts
  packages/streamer/src/StatusVisibilityGate.ts
Due: e2e, e2e-api

fix: keep a failed visibility invalidation from rejecting unhandled
  apps/meteor/server/lib/users/saveUser/saveUser.ts
Due: e2e, e2e-api

test: assert the block list is not stored instead of inferring it from presence
  apps/meteor/tests/end-to-end/api/status-visibility.ts
Due: e2e

refactor: simplify the status visibility helpers and align the list permission
  apps/meteor/app/apps/server/bridges/users.ts
  apps/meteor/server/api/v1/users.ts
  apps/meteor/server/lib/findUsersOfRoom.ts
  apps/meteor/server/lib/findUsersOfRoomOrderedByRole.ts
  apps/meteor/server/lib/statusVisibility/effectiveStatus.spec.ts
  apps/meteor/server/lib/statusVisibility/effectiveStatus.ts
  apps/meteor/server/lib/statusVisibility/hiddenUsers.ts
  apps/meteor/server/lib/statusVisibility/redactStatus.ts
  apps/meteor/server/lib/statusVisibility/resolveUsers.ts
  apps/meteor/server/lib/users/getFullUserData.ts
  apps/meteor/server/services/statusVisibility/service.ts
  apps/meteor/tests/end-to-end/api/status-visibility.ts
  packages/streamer/src/StatusVisibilityGate.ts
  packages/streamer/src/StreamPresence.ts
  packages/streamer/src/presenceScope.ts
Due: e2e, e2e-api

fix: apply the admin status flag and message in the same save
  apps/meteor/server/lib/users/saveUser/saveUser.ts
  apps/meteor/tests/end-to-end/api/users.ts
Due: e2e, e2e-api

chore: declare the status visibility changeset as a minor bump
  .changeset/few-goats-double.md
Due: none

feat: put the status visibility rules behind a feature setting
  .changeset/few-goats-double.md
  apps/meteor/server/api/lib/getUserInfo.ts
  apps/meteor/server/api/v1/users.ts
  apps/meteor/server/lib/statusVisibility/StatusVisibilityGate.spec.ts
  apps/meteor/server/lib/statusVisibility/hiddenUsers.ts
  apps/meteor/server/lib/statusVisibility/settings.ts
  apps/meteor/server/lib/users/getFullUserData.ts
  apps/meteor/server/lib/users/saveUser/validateUserData.ts
  apps/meteor/server/lib/users/saveUser/validateUserEditing.ts
  apps/meteor/server/meteor-methods/users/saveUserPreferences.ts
  apps/meteor/server/services/statusVisibility/service.spec.ts
  apps/meteor/server/services/statusVisibility/service.ts
  apps/meteor/server/settings/accounts.ts
  apps/meteor/tests/end-to-end/api/status-visibility.ts
  packages/i18n/src/locales/en.i18n.json
  packages/streamer/src/StatusVisibilityGate.ts
Due: e2e, e2e-api

fix: keep own status visible in users.info
  apps/meteor/server/lib/users/getFullUserData.ts
  apps/meteor/tests/end-to-end/api/status-visibility.ts
Due: e2e, e2e-api

test: prove the queued gate sync wins
  apps/meteor/server/lib/statusVisibility/StatusVisibilityGate.spec.ts
Due: e2e, e2e-api

fix: keep pending presence corrections and skip no-op visibility invalidations
  apps/meteor/server/lib/users/saveUser/saveUser.ts
  packages/streamer/src/StreamPresence.ts
Due: e2e, e2e-api

fix: list nobody while admin status hiding is off
  apps/meteor/server/api/v1/users.ts
  apps/meteor/tests/end-to-end/api/status-visibility.ts
Due: e2e, e2e-api

refactor: import the status visibility helpers from the streamer package
  apps/meteor/server/api/v1/users.ts
  apps/meteor/server/lib/findUsersOfRoom.ts
  apps/meteor/server/lib/statusVisibility/effectiveStatus.ts
  apps/meteor/server/lib/statusVisibility/hiddenUsers.ts
  apps/meteor/server/lib/statusVisibility/presenceScope.ts
  apps/meteor/server/meteor-methods/users/getUserStatusText.ts
  apps/meteor/server/services/statusVisibility/service.spec.ts
  packages/streamer/src/StatusVisibilityGate.spec.ts
  packages/streamer/src/StreamPresence.ts
Due: e2e, e2e-api

chore: infer the presence projection types
  apps/meteor/server/services/statusVisibility/service.ts
Due: e2e, e2e-api

fix: check DM max users before resolving usernames
  apps/meteor/server/meteor-methods/messages/createDirectMessage.ts
  apps/meteor/tests/unit/server/meteor-methods/messages/createDirectMessage.spec.ts
Due: e2e, e2e-api

fix: match the caller's own username ignoring case
  apps/meteor/server/meteor-methods/messages/createDirectMessage.ts
  apps/meteor/tests/unit/server/meteor-methods/messages/createDirectMessage.spec.ts
Due: e2e, e2e-api

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
