Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

deploy: 7a2eef7fe2e79c31bf76fb4890511d21f6d8f878
  develop/fuselage-ui-kit/169.6f7294d1.iframe.bundle.js
  develop/fuselage-ui-kit/169.6f7294d1.iframe.bundle.js.LICENSE.txt
  develop/fuselage-ui-kit/231.580370b3.iframe.bundle.js
  develop/fuselage-ui-kit/231.580370b3.iframe.bundle.js.LICENSE.txt
  develop/fuselage-ui-kit/231.580370b3.iframe.bundle.js.map
  develop/fuselage-ui-kit/iframe.html
  develop/fuselage-ui-kit/main.a5194278.iframe.bundle.js
  develop/fuselage-ui-kit/project.json
  develop/fuselage-ui-kit/runtime~main.81887622.iframe.bundle.js
  develop/fuselage-ui-kit/sb-manager/globals-runtime.js
  develop/fuselage-ui-kit/sb-manager/runtime.js
  develop/gazzodown/174.213a5994.iframe.bundle.js
  develop/gazzodown/174.213a5994.iframe.bundle.js.LICENSE.txt
  develop/gazzodown/Markup-stories.4346797e.iframe.bundle.js
  develop/gazzodown/Markup-stories.4346797e.iframe.bundle.js.map
  develop/gazzodown/iframe.html
  develop/gazzodown/main.687e70dd.iframe.bundle.js
  develop/gazzodown/project.json
  develop/gazzodown/runtime~main.5f7e5973.iframe.bundle.js
  develop/gazzodown/sb-manager/globals-runtime.js
  develop/gazzodown/sb-manager/runtime.js
  develop/ui-composer/project.json
  develop/ui-composer/sb-manager/globals-runtime.js
  develop/ui-composer/sb-manager/runtime.js
  develop/uikit-playground/assets/CodeBlock-CVXeKocg.js
  develop/uikit-playground/assets/KatexBlock-P3OfGh4C.js
  develop/uikit-playground/assets/KatexElement-B5WGHryd.js
  develop/uikit-playground/assets/index-BpXkU1o-.js
  develop/uikit-playground/index.html
Due: none

Change avatar initial extraction pattern
  apps/meteor/server/routes/avatar/utils.ts
Due: e2e

Corrected review findings
  apps/meteor/server/routes/avatar/middlewares/auth.ts
  apps/meteor/server/routes/avatar/utils.ts
Due: e2e

Change avatar initial extraction pattern
  apps/meteor/server/routes/avatar/middlewares/auth.ts
  apps/meteor/server/routes/avatar/utils.ts
Due: e2e

Fix DOMPurifyMock
  apps/meteor/server/routes/avatar/utils.spec.ts
Due: e2e

Minor fixes
  apps/meteor/server/routes/avatar/utils.spec.ts
Due: e2e

Initials to be displayed on default avatars should correspond to the characters allowed in the settings
  apps/meteor/server/routes/avatar/middlewares/auth.ts
  apps/meteor/server/routes/avatar/utils.ts
Due: e2e

Restore a changed font family
  apps/meteor/server/routes/avatar/utils.ts
Due: e2e

Fix Bug
  apps/meteor/server/routes/avatar/middlewares/auth.ts
Due: e2e

fix: imported fixes (#33941)
  apps/meteor/app/api/server/v1/chat.ts
  apps/meteor/app/api/server/v1/import.ts
  apps/meteor/app/api/server/v1/rooms.ts
  apps/meteor/app/discussion/server/methods/createDiscussion.ts
  apps/meteor/app/federation/server/endpoints/dispatch.js
  apps/meteor/app/federation/server/endpoints/requestFromLatest.js
  apps/meteor/app/federation/server/endpoints/uploads.js
  apps/meteor/app/federation/server/endpoints/users.js
  apps/meteor/app/lib/server/methods/sendMessage.ts
  apps/meteor/tests/end-to-end/api/chat.ts
  apps/meteor/tests/end-to-end/api/import.spec.ts
  apps/meteor/tests/end-to-end/api/methods.ts
Due: e2e

chore: change oauth apps authorize page message (#33952)
  apps/meteor/client/views/oauth/components/AuthorizationFormPage.tsx
  packages/i18n/src/locales/da.i18n.json
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/fi.i18n.json
  packages/i18n/src/locales/hi-IN.i18n.json
  packages/i18n/src/locales/it.i18n.json
  packages/i18n/src/locales/nn.i18n.json
  packages/i18n/src/locales/no.i18n.json
  packages/i18n/src/locales/pl.i18n.json
  packages/i18n/src/locales/ru.i18n.json
  packages/i18n/src/locales/se.i18n.json
  packages/i18n/src/locales/sv.i18n.json
Due: e2e, client

fix: no spaces between emoji aliases (#33278)
  .changeset/spotty-ads-knock.md
  apps/meteor/client/views/admin/customEmoji/CustomEmoji.spec.tsx
  apps/meteor/client/views/admin/customEmoji/CustomEmoji.tsx
Due: e2e, client

chore: bump swiper (#33961)
  apps/meteor/client/components/ImageGallery/ImageGallery.tsx
  apps/meteor/definition/externals/swiper.d.ts
  apps/meteor/package.json
  yarn.lock
Due: e2e, client

removed the field to fill description with drag and drop
  apps/meteor/tests/e2e/e2e-encryption.spec.ts
Due: e2e

improve
  apps/meteor/client/hooks/useLoadRoomForAllowedAnonymousRead.ts
  apps/meteor/client/startup/collections.ts
  apps/meteor/client/startup/index.ts
  apps/meteor/client/views/root/AppLayout.tsx
Due: e2e, client

Update useLoadRoomForAllowedAnonymousRead.ts
  apps/meteor/client/hooks/useLoadRoomForAllowedAnonymousRead.ts
Due: e2e, client

Update AppLayout.tsx
  apps/meteor/client/views/root/AppLayout.tsx
Due: e2e, client

typecheck
  apps/meteor/client/views/root/AppLayout.tsx
Due: e2e, client

linter fix
  apps/meteor/tests/end-to-end/api/chat.ts
Due: e2e

chore: fix tests
  apps/meteor/client/views/marketplace/AppExemptModal.tsx
  apps/meteor/tests/e2e/apps/private-apps-upload.spec.ts
  apps/meteor/tests/e2e/page-objects/marketplace.ts
Due: e2e, client

chore: ci madness
  apps/meteor/client/views/admin/subscription/components/CancelSubscriptionModal.spec.tsx
Due: e2e, client

chore: ci madness
  apps/meteor/client/views/admin/subscription/hooks/useCancelSubscriptionModal.tsx
Due: e2e, client

chore: ci madness
  apps/meteor/client/views/admin/subscription/hooks/useCancelSubscriptionModal.spec.tsx
Due: e2e, client

Path conditions:
  e2e: any of: apps/meteor/
  client: any of: apps/meteor/client
