Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

chore!: remove `addUserToRole` and `removeUserFromRole` (#36935)
  apps/meteor/app/authorization/server/methods/addUserToRole.ts
  apps/meteor/app/authorization/server/methods/removeUserFromRole.ts
Due: e2e

chore!: Remove deprecated `rooms.upload` endpoint (#36857)
  .changeset/swift-ears-sparkle.md
  apps/meteor/app/api/server/v1/rooms.ts
  apps/meteor/tests/data/uploads.helper.ts
  apps/meteor/tests/end-to-end/api/chat.ts
  apps/meteor/tests/end-to-end/api/rooms.ts
  packages/rest-typings/src/v1/rooms.ts
Due: e2e

chore: changeset for #36935 (#36950)
  .changeset/thick-badgers-grab.md
Due: none

chore!: Remove `GET` method from `/api/v1/apps` (#36907)
  .changeset/tidy-laws-wink.md
  apps/meteor/client/views/marketplace/hooks/useAppMenu.tsx
  apps/meteor/ee/server/apps/communication/rest.ts
  apps/meteor/tests/data/apps/apps-data.ts
  apps/meteor/tests/data/apps/helper.ts
  packages/rest-typings/src/apps/index.ts
Due: e2e, client

chore!: remove `hideRoomsWithNoActivity` param (#36951)
  .changeset/shaggy-otters-think.md
  apps/meteor/client/views/admin/engagementDashboard/channels/useChannelsList.ts
  apps/meteor/ee/server/api/engagementDashboard/channels.ts
  apps/meteor/ee/server/lib/engagementDashboard/channels.ts
  apps/meteor/tests/end-to-end/api/34-engagement-dashboard.ts
Due: e2e, client

chore!: remove the ability to use role names as parameters on `/api/v1/roles.*` endpoints (#36896)
  .changeset/two-pets-knock.md
  apps/meteor/app/api/server/v1/roles.ts
  apps/meteor/client/views/admin/permissions/UsersInRole/UsersInRolePage.tsx
  apps/meteor/tests/end-to-end/api/roles.ts
  packages/rest-typings/src/v1/roles.ts
Due: e2e, client

refactor: call init and listen together
  apps/meteor/client/providers/AuthorizationProvider.tsx
  apps/meteor/client/providers/SettingsProvider.tsx
Due: e2e, client

feat: Move Timestamp parser out of Feature Preview (#36976)
  .changeset/empty-buses-walk.md
  apps/meteor/client/components/GazzodownText.tsx
  apps/meteor/client/views/room/composer/messageBox/MessageBoxActionsToolbar/hooks/useTimestampAction.tsx
  apps/meteor/public/images/featurePreview/timestamp.png
  packages/gazzodown/src/Markup.stories.tsx
  packages/gazzodown/src/MarkupInteractionContext.ts
  packages/gazzodown/src/elements/Timestamp/index.tsx
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/nb.i18n.json
  packages/i18n/src/locales/nn.i18n.json
  packages/i18n/src/locales/pt-BR.i18n.json
  packages/i18n/src/locales/sv.i18n.json
  packages/ui-client/src/hooks/useFeaturePreviewList.ts
Due: e2e, client

feat: Move quick reactions out of feature preview (#36966)
  .changeset/purple-mayflies-approve.md
  apps/meteor/client/components/message/toolbar/items/actions/ReactionMessageAction.tsx
  apps/meteor/public/images/featurePreview/quick-reactions.png
  apps/meteor/tests/e2e/feature-preview.spec.ts
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/hi-IN.i18n.json
  packages/i18n/src/locales/nb.i18n.json
  packages/i18n/src/locales/nn.i18n.json
  packages/i18n/src/locales/pt-BR.i18n.json
  packages/i18n/src/locales/sv.i18n.json
  packages/ui-client/src/components/FeaturePreview/FeaturePreview.spec.tsx
  packages/ui-client/src/hooks/useFeaturePreview.spec.tsx
  packages/ui-client/src/hooks/useFeaturePreviewList.ts
Due: e2e, client

chore: mark deprecated links for migration to `go.rocket.chat`
  apps/meteor/client/lib/links.ts
Due: e2e, client

chore: improve some locators
  apps/meteor/tests/e2e/page-objects/admin-rooms.ts
  apps/meteor/tests/e2e/page-objects/fragments/edit-user-flextab.ts
  apps/meteor/tests/e2e/page-objects/fragments/user-info-flextab.ts
Due: e2e

feat: Resizable contextualbars out of feature preview (#37022)
  .changeset/happy-carpets-draw.md
  apps/meteor/client/components/Contextualbar/ContextualbarDialog.tsx
  apps/meteor/client/components/UserInfo/__snapshots__/UserInfo.spec.tsx.snap
  apps/meteor/client/omnichannel/cannedResponses/contextualBar/CannedResponse/CannedResponseList.stories.tsx
  apps/meteor/client/omnichannel/cannedResponses/contextualBar/CannedResponse/__snapshots__/CannedResponseList.spec.tsx.snap
  apps/meteor/client/views/marketplace/AppDetailsPage/tabs/AppLogs/Filters/AppLogsFilterContextualBar.stories.tsx
  apps/meteor/client/views/marketplace/AppDetailsPage/tabs/AppLogs/Filters/__snapshots__/AppLogsFilterContextualBar.spec.tsx.snap
  apps/meteor/client/views/room/contextualBar/RoomMembers/InviteUsers/InviteUsers.stories.tsx
  apps/meteor/client/views/room/contextualBar/RoomMembers/InviteUsers/__snapshots__/InviteUsers.spec.tsx.snap
  apps/meteor/public/images/featurePreview/resizable-contextual-bar.png
  apps/meteor/tests/e2e/feature-preview.spec.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-units.ts
  packages/i18n/src/locales/en.i18n.json
  packages/i18n/src/locales/nb.i18n.json
  packages/i18n/src/locales/nn.i18n.json
  packages/i18n/src/locales/pt-BR.i18n.json
  packages/i18n/src/locales/sv.i18n.json
  packages/ui-client/src/hooks/useFeaturePreviewList.ts
Due: e2e, client

negotiation queue
  packages/media-signaling/src/definition/signals/client/local-state.ts
  packages/media-signaling/src/lib/NegotiationManager.ts
  packages/media-signaling/src/lib/services/webrtc/Negotiation.ts
Due: none

fix: remove cursor reposition bug on emoji render
  apps/meteor/app/ui-message/client/messageBox/createComposerAPI.ts
  apps/meteor/app/ui-message/client/messageBox/createRichTextComposerAPI.ts
Due: e2e

fix: change passphrase form reactivity
  apps/meteor/client/views/account/security/ChangePassphrase.tsx
  apps/meteor/client/views/hooks/useChangeE2EPasswordMutation.ts
  packages/ui-contexts/src/hooks/usePasswordPolicy.ts
  packages/ui-contexts/src/hooks/useVerifyPassword.ts
  packages/ui-contexts/src/index.ts
Due: e2e, client

fix(rooms): Update lastMessage to previous valid message on user deletion
  apps/meteor/app/lib/server/functions/deleteUser.ts
Due: e2e

fix: clean up lastMessage field when deleting user to prevent ghost messages (#36885)
  apps/meteor/app/lib/server/functions/deleteUser.ts
  apps/meteor/tests/end-to-end/api/users.ts
Due: e2e

wip
  apps/meteor/tests/e2e/embedded-layout.spec.ts
  apps/meteor/tests/e2e/feature-preview.spec.ts
  apps/meteor/tests/e2e/page-objects/admin-email-inboxes.ts
  apps/meteor/tests/e2e/page-objects/admin-integrations.ts
  apps/meteor/tests/e2e/page-objects/admin-roles.ts
  apps/meteor/tests/e2e/page-objects/admin-rooms.ts
  apps/meteor/tests/e2e/page-objects/admin-third-party-login.ts
  apps/meteor/tests/e2e/page-objects/admin.ts
  apps/meteor/tests/e2e/page-objects/fragments/edit-user-flextab.ts
  apps/meteor/tests/e2e/page-objects/fragments/sidebar.ts
  apps/meteor/tests/e2e/page-objects/home-channel.ts
Due: e2e

feat: add comprehensive Simplified Chinese (zh-CN) translations
  packages/i18n/src/locales/zh-CN.i18n.json
Due: none

fix: clean up lastMessage field when deleting user to prevent ghost messages (#36885)
  apps/meteor/app/lib/server/functions/deleteUser.ts
Due: e2e

chore: force CI cache refresh
  ee/packages/federation-matrix/package.json
Due: none

revert: restore original federation-sdk pinned version
  ee/packages/federation-matrix/package.json
Due: none

feat: add Simplified Chinese translations
  packages/i18n/src/locales/zh-CN.i18n.json
Due: none

feat: complete zh-CN translation file with all keys
  packages/i18n/src/locales/zh-CN.i18n.json
Due: none

deps: add react-easy-crop for image cropping
  apps/meteor/package.json
  package.json
  yarn.lock
Due: e2e

feat(image-upload): add client-side image cropping in FileUpload
  apps/meteor/client/lib/chats/flows/uploadFiles.ts
  apps/meteor/client/views/room/modals/FileUploadModal/FilePreview.tsx
  apps/meteor/client/views/room/modals/FileUploadModal/FileUploadModal.tsx
Due: e2e, client

fix linting errors
  apps/meteor/client/views/room/modals/FileUploadModal/FilePreview.tsx
  apps/meteor/client/views/room/modals/FileUploadModal/FileUploadModal.tsx
Due: e2e, client

feat: add CropFilePreview with feature preview flag (imageCropPreview)
  apps/meteor/client/views/room/modals/FileUploadModal/CropFilePreview.tsx
  apps/meteor/client/views/room/modals/FileUploadModal/FilePreview.tsx
  apps/meteor/client/views/room/modals/FileUploadModal/FileUploadModal.tsx
  packages/i18n/src/locales/en.i18n.json
  packages/ui-client/src/hooks/useFeaturePreviewList.ts
Due: e2e, client

feat: use fuselage for UI and separate CropFilePreview component
  .changeset/young-buses-grow.md
  apps/meteor/client/views/room/modals/FileUploadModal/CropFilePreview.tsx
  apps/meteor/client/views/room/modals/FileUploadModal/FileUploadModal.tsx
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

chore: fix typos in changeset and i18n
  .changeset/young-buses-grow.md
  packages/i18n/src/locales/en.i18n.json
  packages/ui-client/src/hooks/useFeaturePreviewList.ts
Due: none

feat: add feature preview image for image cropping
  apps/meteor/public/images/featurePreview/image-crop.png
Due: e2e

fix: prioritizes federation not allowed error message over user not found
  apps/meteor/app/lib/server/functions/createRoom.ts
  apps/meteor/app/lib/server/methods/addUsersToRoom.ts
  apps/meteor/app/slashcommands-invite/server/server.ts
Due: e2e

fix: export validateFederatedUsername from FederationMatrix
  ee/packages/federation-matrix/src/index.ts
Due: none

Return early if all federated users were filtered out
  apps/meteor/app/slashcommands-invite/server/server.ts
Due: e2e

fix: broadcasting a single error instead of one per federated user
  apps/meteor/app/slashcommands-invite/server/server.ts
Due: e2e

fix: React Warning: Uncontrolled input is changing to controlled in EmailInboxForm
  apps/meteor/client/views/admin/emailInbox/EmailInboxForm.tsx
Due: e2e, client

fix: Add screen reader support for informing user that channel is encrypted. Modification is made to the title instead of reading the actual icon.
  apps/meteor/client/views/room/Header/RoomTitle.tsx
  apps/meteor/client/views/room/Header/icons/Encrypted.tsx
  apps/meteor/client/views/room/HeaderV2/RoomTitle.tsx
Due: e2e, client

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
