Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

test: fix flaky test
  packages/apps-engine/tests/node-tests/server/accessors/RoomBuilder.test.ts
Due: none

refactor: isolate visual MessageComposeFile files
  apps/meteor/client/views/room/composer/messageBox/MessageComposerFileGroup.tsx
  apps/meteor/client/views/room/composer/messageBox/MessageComposerFileItem.tsx
  apps/meteor/client/views/room/composer/messageBox/MessageComposerFiles.tsx
  packages/ui-composer/src/MessageComposer/MessageComposer.stories.tsx
  packages/ui-composer/src/MessageComposer/MessageComposerFile/MessageComposerFile.tsx
  packages/ui-composer/src/MessageComposer/MessageComposerFile/MessageComposerFileGroup.tsx
  packages/ui-composer/src/MessageComposer/MessageComposerFile/index.ts
  packages/ui-composer/src/MessageComposer/MessageComposerHint.tsx
  packages/ui-composer/src/MessageComposer/__snapshots__/MessageComposer.spec.tsx.snap
  packages/ui-composer/src/MessageComposer/index.ts
Due: e2e, client

fix: correct average upload percentage calculation in UploadProgressIndicator
  apps/meteor/client/views/room/body/UploadProgress/UploadProgressIndicator.tsx
Due: e2e, client

feat: add processing state management for file uploads in composer
  apps/meteor/client/lib/chats/ChatAPI.ts
  apps/meteor/client/lib/chats/uploads.ts
  apps/meteor/client/views/room/body/hooks/useFileUpload.ts
  apps/meteor/client/views/room/composer/messageBox/MessageBox.tsx
Due: e2e, client

feat: clear composer input after processing message uploads, reactions, and commands
  apps/meteor/client/lib/chats/flows/processMessageEditing.ts
  apps/meteor/client/lib/chats/flows/processMessageUploads.ts
  apps/meteor/client/lib/chats/flows/processSetReaction.ts
  apps/meteor/client/lib/chats/flows/processSlashCommand.ts
  apps/meteor/client/lib/chats/flows/processTooLongMessage.ts
  apps/meteor/client/lib/chats/flows/sendMessage.ts
Due: e2e, client

feat: enhance file upload validation for encrypted rooms
  apps/meteor/client/lib/chats/flows/uploadFiles.ts
Due: e2e, client

refactor(api): migrate chat.PostMessage endpoint to new API.v1 format
  apps/meteor/app/api/server/v1/chat.ts
Due: e2e

Update apps/meteor/app/api/server/v1/chat.ts
  apps/meteor/app/api/server/v1/chat.ts
Due: e2e

fix: Serve Inter font asset properly (#39586)
  apps/meteor/public/fonts/InterVariable.woff2
Due: e2e

chore(deps): update @rocket.chat/federation-sdk to version 0.4.2 across multiple packages
  apps/meteor/package.json
  ee/packages/federation-matrix/package.json
  packages/core-services/package.json
  yarn.lock
Due: e2e

feat: implement message scheduling feature with UI, API, and cron job
  .gitignore
  apps/meteor/app/api/server/v1/chat.ts
  apps/meteor/app/lib/server/functions/sendMessage.ts
  apps/meteor/client/lib/chats/ChatAPI.ts
  apps/meteor/client/views/room/composer/messageBox/MessageBox.tsx
  apps/meteor/client/views/room/composer/messageBox/ScheduleComposerModal/ScheduleComposerModal.tsx
  apps/meteor/server/cron/scheduleMessages.ts
  apps/meteor/server/models.ts
  apps/meteor/server/startup/cron.ts
  packages/apps-engine/deno-runtime/deno.lock
  packages/core-typings/src/IScheduledMessage.ts
  packages/core-typings/src/index.ts
  packages/model-typings/src/index.ts
  packages/model-typings/src/models/IScheduledMessagesModel.ts
  packages/models/src/index.ts
  packages/models/src/modelClasses.ts
  packages/models/src/models/ScheduledMessages.ts
  packages/rest-typings/src/v1/chat.ts
Due: e2e, e2e-api, client

fix: remove .nvim-session from .gitignore and console.log from sendMessage.ts
  .gitignore
  apps/meteor/app/lib/server/functions/sendMessage.ts
Due: e2e

feat: implement message scheduling feature with UI, API, and cron job
  .gitignore
  apps/meteor/app/lib/server/functions/sendMessage.ts
  packages/core-typings/src/index.ts
Due: e2e

git commit -m “feat(account): add Scheduled Messages UI and route under Account section
  apps/meteor/app/api/server/v1/chat.ts
  apps/meteor/client/views/account/routes.tsx
  apps/meteor/client/views/account/scheduledMessages/ScheduledMessagesPage.tsx
  apps/meteor/client/views/account/scheduledMessages/ScheduledMessagesRoute.tsx
  apps/meteor/client/views/account/sidebarItems.tsx
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

added scheduled messages as item on user Menu
  apps/meteor/client/navbar/NavBarSettingsToolbar/UserMenu/hooks/useAccountItems.tsx
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

feat(scheduled-messages-ui): Add UI and modals for scheduled messages
  apps/meteor/app/api/server/v1/chat.ts
  apps/meteor/client/views/account/scheduledMessages/DeleteScheduledMessageModal.tsx
  apps/meteor/client/views/account/scheduledMessages/EditScheduledMessageModal.tsx
  apps/meteor/client/views/account/scheduledMessages/ScheduledMessagesPage.tsx
  apps/meteor/client/views/account/sidebarItems.tsx
  packages/i18n/src/locales/en.i18n.json
  packages/rest-typings/src/v1/chat.ts
Due: e2e, client

fix(ui/types): resolve UI type issues and TypeScript errors in scheduled messages feature
  apps/meteor/client/views/account/scheduledMessages/DeleteScheduledMessageModal.tsx
  apps/meteor/client/views/account/scheduledMessages/EditScheduledMessageModal.tsx
  apps/meteor/client/views/account/scheduledMessages/ScheduledMessagesPage.tsx
  apps/meteor/client/views/room/composer/messageBox/ScheduleComposerModal/ScheduleComposerModal.tsx
  apps/meteor/server/cron/scheduleMessages.ts
Due: e2e, e2e-api, client

feat: update scheduled message UI with recent changes
  apps/meteor/app/ui-message/client/messageBox/createComposerAPI.ts
Due: e2e

fix : lint issue
  packages/model-typings/src/models/IScheduledMessagesModel.ts
Due: none

fix : lint issues
  apps/meteor/client/views/account/scheduledMessages/DeleteScheduledMessageModal.tsx
  apps/meteor/client/views/account/scheduledMessages/EditScheduledMessageModal.tsx
  apps/meteor/client/views/account/scheduledMessages/ScheduledMessagesPage.tsx
  apps/meteor/server/cron/scheduleMessages.ts
Due: e2e, e2e-api, client

fix : lint issues
  apps/meteor/app/api/server/v1/chat.ts
  apps/meteor/client/views/account/scheduledMessages/DeleteScheduledMessageModal.tsx
  apps/meteor/client/views/account/scheduledMessages/EditScheduledMessageModal.tsx
  apps/meteor/client/views/account/scheduledMessages/ScheduledMessagesPage.tsx
  apps/meteor/client/views/account/scheduledMessages/ScheduledMessagesRoute.tsx
  apps/meteor/client/views/account/sidebarItems.tsx
  apps/meteor/client/views/room/composer/messageBox/MessageBox.tsx
  apps/meteor/client/views/room/composer/messageBox/ScheduleComposerModal/ScheduleComposerModal.tsx
  apps/meteor/server/cron/scheduleMessages.ts
  apps/meteor/server/models.ts
  apps/meteor/server/startup/cron.ts
  packages/core-typings/src/index.ts
  packages/model-typings/src/models/IScheduledMessagesModel.ts
  packages/models/src/index.ts
  packages/models/src/models/ScheduledMessages.ts
Due: e2e, e2e-api, client

feat(schedule): support scheduling messages inside threads
  apps/meteor/server/cron/scheduleMessages.ts
  packages/core-typings/src/IScheduledMessage.ts
Due: e2e, e2e-api

fix(reactions): atomically update reaction usernames on username change
  apps/meteor/app/lib/server/functions/setUsername.ts
Due: e2e

reaction metadata preserved
  apps/meteor/app/lib/server/functions/setUsername.ts
Due: e2e

fix(reactions): handle missing usernames using $ifNull in migration
  apps/meteor/app/lib/server/functions/setUsername.ts
Due: e2e

protects against invalid username field types
  apps/meteor/app/lib/server/functions/setUsername.ts
Due: e2e

Add tests for RoomHeader slot rendering
  apps/meteor/client/views/room/Header/RoomHeader.spec.tsx
Due: e2e, client

fix(reactions): filtering reactions to contain oldusernames
  apps/meteor/app/lib/server/functions/setUsername.ts
Due: e2e

Cleanup and changeset
  .changeset/migrate-chat-postMessage-to-AJV.md
  apps/meteor/app/api/server/v1/chat.ts
  packages/rest-typings/src/v1/chat.ts
Due: e2e

fix: use joinUser for robust federation self-joins
  ee/packages/federation-matrix/src/FederationMatrix.ts
Due: none

Resolve comment add tmid to Schema Payload
  apps/meteor/app/api/server/v1/chat.ts
Due: e2e

Resolve comment add tmid to input type
  apps/meteor/app/api/server/v1/chat.ts
Due: e2e

Resolve comment change channel type to string
  apps/meteor/app/api/server/v1/chat.ts
Due: e2e

fix(sendMessage): add parseUrls option to SendMessageOptions and update sendMessage function
  apps/meteor/app/lib/server/functions/sendMessage.ts
Due: e2e

test: Fix ignored unit tests (#38288)
  apps/meteor/.mocharc.js
  apps/meteor/app/livechat/server/lib/contacts/mapVisitorToContact.spec.ts
  apps/meteor/app/livechat/server/lib/contacts/resolveContactConflicts.spec.ts
  apps/meteor/app/livechat/server/lib/contacts/updateContact.spec.ts
  apps/meteor/app/livechat/server/lib/contacts/validateCustomFields.spec.ts
Due: e2e

fix: resolve TypeScript errors in scheduled messages feature
  apps/meteor/app/api/server/v1/chat.ts
  apps/meteor/client/views/account/scheduledMessages/ScheduledMessagesPage.tsx
  apps/meteor/client/views/room/composer/messageBox/MessageBox.tsx
  packages/apps-engine/deno-runtime/deno.lock
Due: e2e, client

refactor(chat): migrate chat.ignoreUser to typed endpoint
  apps/meteor/app/api/server/v1/chat.ts
Due: e2e

refactor: remove _enforceSingleRoom from IRoom model
  apps/meteor/app/livechat/server/lib/Helper.ts
  packages/core-typings/src/IRoom.ts
Due: e2e

requested changes
  packages/model-typings/src/models/ISubscriptionsModel.ts
  packages/models/src/models/Subscriptions.ts
Due: none

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
