Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 1%
      client:
        target: auto
        flags:
          - client
flags:
  unit:
    carryforward: true
  e2e:
    paths:
      - apps/meteor/
    carryforward: true
  
  e2e-api:
    paths:
      - apps/meteor/server
    carryforward: true

  client:
    paths:
      - apps/meteor/client
    carryforward: true

comment:
  layout: 'reach, diff, flags'
fixes:
  - '/home/runner/work/Rocket.Chat/Rocket.Chat/::'

feat: Outbound Message: Replies Step (#36371)
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/AutoCompleteDepartmentAgent.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/OutboundMessageWizard.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/forms/RepliesForm.spec.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/forms/RepliesForm.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/forms/index.ts
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/steps/RepliesStep.spec.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/steps/RepliesStep.stories.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/steps/RepliesStep.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/steps/__snapshots__/RepliesStep.spec.tsx.snap
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/utils/cx.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

feat: Outbound Message: Recipient Step (#36369)
  apps/meteor/client/components/AutoCompleteContact/AutoCompleteContact.tsx
  apps/meteor/client/components/AutoCompleteContact/index.ts
  apps/meteor/client/components/AutoCompleteContact/useContactsList.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/AutoCompleteOutboundProvider.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/OutboundMessageWizard.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/forms/RecipientForm.spec.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/forms/RecipientForm.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/forms/index.ts
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/steps/RecipientStep.spec.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/steps/RecipientStep.stories.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/steps/RecipientStep.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/steps/__snapshots__/RecipientStep.spec.tsx.snap
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/RecipientSelect.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/SenderSelect.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/utils/findLastChatFromChannel.ts
  apps/meteor/client/lib/queryKeys.ts
  apps/meteor/package.json
  apps/meteor/tests/mocks/data.ts
  packages/i18n/src/locales/en.i18n.json
  yarn.lock
Due: e2e, client

feat: Outbound Message: Review Step (#36372)
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessagePreview/OutboundMessagePreview.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessagePreview/PreviewItem.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessagePreview/index.ts
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/OutboundMessageWizard.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/steps/ReviewStep.spec.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/steps/ReviewStep.stories.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/steps/ReviewStep.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/steps/__snapshots__/ReviewStep.spec.tsx.snap
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/TemplatePreview.tsx
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

feat: outbound message action
  apps/meteor/client/NavBarV2/NavBarPagesGroup/hooks/useCreateNewItems.tsx
  apps/meteor/client/sidebar/header/actions/hooks/useCreateRoomItems.tsx
Due: e2e, client

refactor: Outbound Message Recipient Step Improvements (#36654)
  apps/meteor/client/components/AutoCompleteContact/AutoCompleteContact.tsx
  apps/meteor/client/components/AutoCompleteContact/useContactsList.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/AutoCompleteOutboundProvider.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/OutboundMessageWizard.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/forms/RecipientForm.spec.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/forms/RecipientForm.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/steps/RecipientStep.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/hooks/useOutboundProvidersList.ts
Due: e2e, client

feat: Outbound Message Upsell Modal (#36335)
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/OutboundMessageWizard.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/components/OutboundMessageWizardSkeleton.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/hooks/useOutboundProvidersList.ts
  apps/meteor/client/components/Omnichannel/OutboundMessage/modals/OutboundMessageUpsellModal/OutboundMessageUpsellModal.spec.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/modals/OutboundMessageUpsellModal/OutboundMessageUpsellModal.stories.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/modals/OutboundMessageUpsellModal/OutboundMessageUpsellModal.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/modals/OutboundMessageUpsellModal/index.ts
  apps/meteor/client/components/Omnichannel/OutboundMessage/modals/OutboundMessageUpsellModal/useOutboundMessageUpsellModal.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/modals/index.ts
  apps/meteor/public/images/outbound-message-upsell.svg
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

chore: removed mocks
  apps/meteor/client/components/Omnichannel/OutboundMessage/mocks.ts
Due: e2e, client

feat: Outbound Message: Message Step (#36370)
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/OutboundMessageWizard.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/components/RetryButton.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/forms/MessageForm.spec.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/forms/MessageForm.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/forms/RecipientForm.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/forms/index.ts
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/hooks/useFormKeyboardSubmit.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/steps/MessageStep.spec.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/steps/MessageStep.stories.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/steps/MessageStep.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/steps/__snapshots__/MessageStep.spec.tsx.snap
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/utils/errors.ts
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/TemplateEditor.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/TemplatePlaceholderSelector/TemplatePlaceholderButton.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/TemplatePlaceholderSelector/TemplatePlaceholderInput.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/TemplatePlaceholderSelector/TemplatePlaceholderSelector.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/TemplatePlaceholderSelector/hooks/useAgentSection.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/TemplatePlaceholderSelector/hooks/useContactSection.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/TemplatePlaceholderSelector/hooks/useCustomFieldsSection.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/TemplatePlaceholderSelector/index.ts
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/TemplatePreview.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/TemplateSelect.tsx
  apps/meteor/client/components/Omnichannel/OutboundMessage/definitions/template.ts
  apps/meteor/client/components/Omnichannel/OutboundMessage/utils/template.ts
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

chore: OutboundMessageWizard storybook
  apps/meteor/client/components/Omnichannel/OutboundMessage/components/OutboundMessageWizard/OutboundMessageWizard.stories.tsx
Due: e2e, client

chore: mock functions
  apps/meteor/client/components/Omnichannel/OutboundMessage/mocks.ts
  apps/meteor/tests/mocks/data.ts
  apps/meteor/tests/mocks/data/outbound-message.ts
Due: e2e, client

feat: formatPhoneNumber utility function
  apps/meteor/client/lib/formatPhoneNumber.spec.ts
  apps/meteor/client/lib/formatPhoneNumber.ts
Due: e2e, client

chore: adjusted mock
  apps/meteor/tests/mocks/data/outbound-message.ts
Due: e2e

Deploy preview for PR 36207 🛫
  pr-preview/pr-36207/fuselage-ui-kit/project.json
  pr-preview/pr-36207/gazzodown/project.json
Due: none

fix: type errors
  apps/meteor/app/e2e/client/helper.ts
  apps/meteor/app/e2e/client/rocketchat.e2e.room.ts
  apps/meteor/app/otr/client/OTRRoom.ts
  apps/meteor/app/otr/lib/IOTR.ts
  apps/meteor/app/otr/lib/functions.ts
  apps/meteor/app/webdav/server/methods/getFileFromWebdav.ts
  yarn.lock
Due: e2e

Deploy preview for PR 36645 🛫
  pr-preview/pr-36645/fuselage-ui-kit/project.json
  pr-preview/pr-36645/gazzodown/project.json
  pr-preview/pr-36645/ui-composer/project.json
Due: none

Deploy preview for PR 36634 🛫
  pr-preview/pr-36634/fuselage-ui-kit/project.json
  pr-preview/pr-36634/gazzodown/project.json
  pr-preview/pr-36634/ui-composer/project.json
Due: none

test: Add agent status check for users without manage-agent permission
  apps/meteor/tests/end-to-end/api/livechat/01-agents.ts
Due: e2e

chore: move omnichannel tabs to its scope
  apps/meteor/client/views/navigation/sidepanel/SidePanelRouter.tsx
  apps/meteor/client/views/navigation/sidepanel/hooks/useItemData.tsx
  apps/meteor/client/views/navigation/sidepanel/omnichannel/SidePanelOmnichannelBadges/SidePanelOmnichannelBadges.tsx
  apps/meteor/client/views/navigation/sidepanel/omnichannel/SidePanelOmnichannelBadges/SidePanelPriorityTag.tsx
  apps/meteor/client/views/navigation/sidepanel/omnichannel/SidePanelOmnichannelBadges/index.ts
  apps/meteor/client/views/navigation/sidepanel/omnichannel/tabs/SidePanelInProgress.tsx
  apps/meteor/client/views/navigation/sidepanel/omnichannel/tabs/SidePanelQueue.tsx
  apps/meteor/client/views/navigation/sidepanel/omnichannel/tabs/SidepanelOnHold.tsx
Due: e2e, client

Deploy preview for PR 36544 🛫
  pr-preview/pr-36544/fuselage-ui-kit/project.json
  pr-preview/pr-36544/gazzodown/project.json
  pr-preview/pr-36544/ui-composer/project.json
Due: none

Deploy preview for PR 36602 🛫
  pr-preview/pr-36602/ui-composer/project.json
Due: none

Deploy preview for PR 36049 🛫
  pr-preview/pr-36049/fuselage-ui-kit/106.4e24ac9d.iframe.bundle.js
  pr-preview/pr-36049/fuselage-ui-kit/106.4e24ac9d.iframe.bundle.js.map
  pr-preview/pr-36049/fuselage-ui-kit/106.bc32452a.iframe.bundle.js
  pr-preview/pr-36049/fuselage-ui-kit/106.bc32452a.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-36049/fuselage-ui-kit/106.bc32452a.iframe.bundle.js.map
  pr-preview/pr-36049/fuselage-ui-kit/iframe.html
  pr-preview/pr-36049/fuselage-ui-kit/project.json
  pr-preview/pr-36049/fuselage-ui-kit/runtime~main.47b8ef8c.iframe.bundle.js
  pr-preview/pr-36049/fuselage-ui-kit/runtime~main.dabf45e2.iframe.bundle.js
  pr-preview/pr-36049/gazzodown/Markup-stories.61ffef36.iframe.bundle.js
  pr-preview/pr-36049/gazzodown/Markup-stories.61ffef36.iframe.bundle.js.map
  pr-preview/pr-36049/gazzodown/Markup-stories.bc566dd3.iframe.bundle.js
  pr-preview/pr-36049/gazzodown/Markup-stories.bc566dd3.iframe.bundle.js.map
  pr-preview/pr-36049/gazzodown/iframe.html
  pr-preview/pr-36049/gazzodown/project.json
  pr-preview/pr-36049/gazzodown/runtime~main.a23f20d1.iframe.bundle.js
  pr-preview/pr-36049/gazzodown/runtime~main.fa17471e.iframe.bundle.js
  pr-preview/pr-36049/ui-composer/project.json
  pr-preview/pr-36049/uikit-playground/assets/CodeBlock-BtmGm7D_.js
  pr-preview/pr-36049/uikit-playground/assets/KatexBlock-TSbhAK0t.js
  pr-preview/pr-36049/uikit-playground/assets/KatexBlock-ciq0Yzk6.js
  pr-preview/pr-36049/uikit-playground/assets/KatexElement-DUXvgwJo.js
  pr-preview/pr-36049/uikit-playground/assets/KatexElement-vRAI79lA.js
  pr-preview/pr-36049/uikit-playground/assets/import-BKnI30Is.js
  pr-preview/pr-36049/uikit-playground/assets/import-BvvaOcNm.js
  pr-preview/pr-36049/uikit-playground/assets/index-DpdZAG66.js
  pr-preview/pr-36049/uikit-playground/index.html
Due: none

fix: formatting
  apps/meteor/app/otr/client/OTRRoom.ts
Due: e2e

chore: update typedoc
  packages/apps-engine/package.json
  packages/message-parser/package.json
  yarn.lock
Due: none

test: Add agent status update for non-available agents during business hours
  apps/meteor/tests/end-to-end/api/livechat/01-agents.ts
Due: e2e

chore: separate formatting from linting
  apps/meteor/package.json
  apps/meteor/tests/e2e/.eslintrc.json
  apps/uikit-playground/package.json
  packages/core-services/package.json
  packages/core-typings/package.json
  packages/eslint-config/package.json
  packages/eslint-config/standard/index.js
  packages/fuselage-ui-kit/.eslintrc.json
  packages/fuselage-ui-kit/package.json
  packages/gazzodown/.eslintrc.json
  packages/instance-status/package.json
  packages/livechat/.eslintrc.json
  packages/message-parser/.prettierrc
  packages/message-parser/.prettierrc.js
  packages/message-parser/package.json
  packages/peggy-loader/.prettierrc
  packages/peggy-loader/.prettierrc.js
  packages/peggy-loader/package.json
  packages/ui-avatar/.eslintrc.json
  packages/ui-client/.eslintrc.json
  packages/ui-composer/.eslintrc.json
  packages/ui-kit/package.json
  packages/ui-video-conf/.eslintrc.json
  packages/ui-voip/.eslintrc.json
  yarn.lock
Due: e2e

Deploy preview for PR 36645 🛫
  pr-preview/pr-36645/fuselage-ui-kit/project.json
  pr-preview/pr-36645/gazzodown/project.json
Due: none

fix: create-c and create-p not being applied to Team Creation (#36592)
  .changeset/loud-chefs-complain.md
  apps/meteor/client/NavBarV2/NavBarPagesGroup/actions/CreateChannelModal.tsx
  apps/meteor/client/NavBarV2/NavBarPagesGroup/actions/CreateTeamModal.tsx
  apps/meteor/client/NavBarV2/NavBarPagesGroup/hooks/useCreateNewItems.tsx
  apps/meteor/client/hooks/useCreateChannelTypePermission.ts
  apps/meteor/client/sidebar/header/CreateChannel/CreateChannelModal.tsx
  apps/meteor/client/sidebar/header/CreateTeam/CreateTeamModal.tsx
  apps/meteor/client/sidebar/header/actions/hooks/useCreateRoomItems.tsx
  apps/meteor/tests/e2e/team-management.spec.ts
Due: e2e, client

Deploy preview for PR 36663 🛫
  pr-preview/pr-36663/ui-composer/project.json
Due: none

report webrtc states
  packages/core-typings/src/mediaCalls/IMediaCall.ts
  packages/media-signaling-server/src/agents/Manager.ts
  packages/media-signaling-server/src/createCall.ts
  packages/media-signaling-server/src/hangupEveryCall.ts
  packages/media-signaling-server/src/processNewCallSignal.ts
  packages/media-signaling-server/src/processSignal.ts
  packages/media-signaling/src/definition/call/CallEvents.ts
  packages/media-signaling/src/definition/call/IClientMediaCall.ts
  packages/media-signaling/src/definition/client.ts
  packages/media-signaling/src/definition/services/IServiceProcessor.ts
  packages/media-signaling/src/definition/services/IServiceProcessorFactoryList.ts
  packages/media-signaling/src/definition/services/IWebRTCProcessor.ts
  packages/media-signaling/src/definition/services/index.ts
  packages/media-signaling/src/definition/services/webrtc/IWebRTCProcessor.ts
  packages/media-signaling/src/definition/signals/client/MediaSignal.ts
  packages/media-signaling/src/definition/signals/server/MediaSignal.ts
  packages/media-signaling/src/lib/Call.ts
  packages/media-signaling/src/lib/services/webrtc/Processor.ts
  packages/model-typings/src/models/IMediaCallsModel.ts
  packages/models/src/models/MediaCalls.ts
  packages/rest-typings/src/v1/media-calls/MediaCallsSignalProps.ts
Due: none

test: remove unused page-objects getters and methods
  apps/meteor/tests/e2e/federation/page-objects/account-profile.ts
  apps/meteor/tests/e2e/federation/page-objects/fragments/home-content.ts
  apps/meteor/tests/e2e/page-objects/admin.ts
  apps/meteor/tests/e2e/page-objects/auth.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-departments.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-section.ts
Due: e2e

feat: outbound message shortcuts
  apps/meteor/client/views/omnichannel/contactInfo/ContactInfo/ContactInfo.tsx
  apps/meteor/client/views/omnichannel/contactInfo/tabs/ContactInfoChannels/ContactInfoChannelsItem.tsx
  apps/meteor/client/views/omnichannel/contactInfo/tabs/ContactInfoDetails/ContactInfoDetails.tsx
  apps/meteor/client/views/omnichannel/contactInfo/tabs/ContactInfoDetails/ContactInfoDetailsEntry.tsx
  apps/meteor/client/views/omnichannel/contactInfo/tabs/ContactInfoDetails/ContactInfoDetailsGroup.tsx
  apps/meteor/client/views/omnichannel/contactInfo/tabs/ContactInfoDetails/ContactInfoOutboundMessageButton.tsx
  apps/meteor/client/views/omnichannel/contactInfo/tabs/ContactInfoDetails/ContactInfoPhoneEntry.tsx
  packages/i18n/src/locales/en.i18n.json
Due: e2e, client

test: clean up page-objects
  apps/meteor/client/views/omnichannel/currentChats/CurrentChatsPage.tsx
  apps/meteor/client/views/omnichannel/currentChats/FilterByText.tsx
  apps/meteor/client/views/omnichannel/currentChats/RemoveAllClosed.tsx
  apps/meteor/tests/e2e/page-objects/home-channel.ts
  apps/meteor/tests/e2e/page-objects/home-omnichannel.ts
  apps/meteor/tests/e2e/page-objects/marketplace.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-business-hours.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-canned-responses.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-current-chats.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-info.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-livechat-appearance.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-livechat-embedded.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-priorities.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-reports.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-sla-policies.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-transcript.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-transfer-chat-modal.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-triggers.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-units.ts
  apps/meteor/tests/e2e/page-objects/utils.ts
Due: e2e, client
