Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, client

..
  apps/meteor/server/main.ts
Due: e2e

feat: :sparkles: Implement search by text in new users.list endpoint
  apps/meteor/app/api/server/v1/users.ts
  apps/meteor/client/views/admin/users/AdminUsersPage.tsx
  apps/meteor/client/views/admin/users/UsersTable/UsersTable.tsx
  apps/meteor/client/views/admin/users/hooks/useFilteredUsers.ts
  apps/meteor/client/views/admin/users/hooks/useListAllUsers.ts
  apps/meteor/client/views/admin/users/hooks/useListTabUsers.ts
  packages/rest-typings/src/v1/users/UsersListStatusParamsGET.ts
Due: e2e, client

move endpoint to rooms
  packages/rest-typings/src/v1/rooms.ts
  packages/rest-typings/src/v1/users.ts
Due: none

oops, move endpoint to rooms
  apps/meteor/app/api/server/v1/rooms.ts
  apps/meteor/app/api/server/v1/users.ts
  apps/meteor/client/views/room/UserCard/UserCardWithData.tsx
Due: e2e, client

handle edge cases in api
  apps/meteor/app/api/server/v1/rooms.ts
Due: e2e

changed indentation to 2
  apps/meteor/packages/rocketchat-i18n/i18n/en.i18n.json
Due: e2e

fix: email format verification
  apps/meteor/app/lib/server/functions/setEmail.ts
  apps/meteor/app/mailer/server/api.ts
Due: e2e

linting
  apps/meteor/app/lib/server/functions/setEmail.ts
  apps/meteor/app/mailer/server/api.ts
Due: e2e

fix: username not changing when editing incoming webhook
  apps/meteor/app/integrations/server/methods/incoming/updateIncomingIntegration.ts
Due: e2e

modified type
  packages/core-typings/src/IIntegration.ts
Due: none

fix: Invalid username validation during user registration (#30601)
  packages/web-ui-registration/src/RegisterForm.tsx
Due: none

chore: add changeset.
  .changeset/famous-insects-jump.md
Due: none

chore: Returning the number of members with the room that was updated
  apps/meteor/app/api/server/v1/teams.ts
  apps/meteor/client/views/teams/contextualBar/channels/RoomActions.js
  apps/meteor/server/services/team/service.ts
  packages/core-services/src/index.ts
  packages/core-services/src/types/ITeamService.ts
Due: e2e, client

chore: Moving the team constants to a place shared by both client and server
  apps/meteor/lib/team/constants.ts
Due: e2e

fix: prop names, icon margin and translation
  apps/meteor/client/views/room/composer/messageBox/MessageBox.tsx
  apps/meteor/client/views/room/composer/messageBox/MessageComposerHints/ComposerHints.tsx
  apps/meteor/packages/rocketchat-i18n/i18n/en.i18n.json
Due: e2e, client

Add changeset
  .changeset/wicked-pumpkins-walk.md
Due: none

Remove `@ts-ignore` directives and unused code from Agenda code
  packages/agenda/src/Agenda.ts
Due: none

[th] Update th-TH.i18n.json - Use official country names and spellings
  apps/meteor/packages/rocketchat-i18n/i18n/th-TH.i18n.json
Due: e2e

..
  apps/meteor/imports/personal-access-tokens/server/index.ts
  apps/meteor/server/main.ts
Due: e2e

Enhanced Event Listener Retrieval Method in EventEmitter
  apps/meteor/packages/rocketchat-livechat/assets/rocket-livechat.js
Due: e2e

fix: quote image gallery (#31415)
  .changeset/smooth-kangaroos-mate.md
  apps/meteor/client/components/ImageGallery/ImageGallery.tsx
  apps/meteor/client/components/ImageGallery/ImageGalleryError.tsx
  apps/meteor/client/components/ImageGallery/ImageGalleryLoading.tsx
  apps/meteor/client/components/ImageGallery/hooks/useImageGallery.ts
  apps/meteor/client/components/ImageGallery/index.ts
  apps/meteor/client/components/message/content/attachments/QuoteAttachment.tsx
  apps/meteor/client/providers/ImageGalleryProvider.tsx
  apps/meteor/client/views/room/ImageGallery/ImageGalleryData.tsx
  apps/meteor/client/views/room/ImageGallery/hooks/useImagesList.ts
Due: e2e, client

review
  apps/meteor/ee/app/license/server/index.ts
  apps/meteor/server/main.ts
  apps/meteor/server/methods/index.ts
Due: e2e

chore: reorganize server imports (#31439)
  apps/meteor/ee/app/license/server/index.ts
  apps/meteor/ee/app/license/server/startup.ts
  apps/meteor/ee/server/index.ts
  apps/meteor/ee/server/models/startup.ts
  apps/meteor/ee/server/startup/apps/trialExpiration.ts
  apps/meteor/ee/server/startup/index.ts
  apps/meteor/imports/personal-access-tokens/server/index.ts
  apps/meteor/imports/startup/server/index.ts
  apps/meteor/server/configureLogLevel.ts
  apps/meteor/server/main.ts
  apps/meteor/server/methods/index.ts
  apps/meteor/server/publications/index.ts
  apps/meteor/server/routes/index.ts
  apps/meteor/server/services/startup.ts
  apps/meteor/server/settings/index.ts
  apps/meteor/server/startup/index.ts
  apps/meteor/server/startup/migrations/index.ts
  apps/meteor/server/startup/migrations/xrun.ts
Due: e2e

Bump 6.5.3
  .changeset/bump-patch-1705335886930.md
  yarn.lock
Due: none

refactor(client): Move components from `app/` to `client/` (#31234)
  apps/meteor/app/ui/client/lib/userCard.ts
  apps/meteor/client/components/avatar/UserAvatarEditor/UserAvatarEditor.tsx
  apps/meteor/client/components/avatar/UserAvatarEditor/UserAvatarSuggestion.ts
  apps/meteor/client/components/avatar/UserAvatarEditor/UserAvatarSuggestions.tsx
  apps/meteor/client/components/avatar/UserAvatarEditor/readFileAsDataURL.ts
  apps/meteor/client/components/avatar/UserAvatarEditor/useUserAvatarSuggestions.ts
  apps/meteor/client/hooks/roomActions/useOmnichannelExternalFrameRoomAction.ts
  apps/meteor/client/hooks/useAvatarSuggestions.ts
  apps/meteor/client/lib/portals/portalsSubscription.ts
  apps/meteor/client/views/omnichannel/ExternalFrameContainer.tsx
  apps/meteor/client/views/room/UserCardHolder.tsx
  apps/meteor/client/views/room/composer/ComposerBoxPopup.tsx
  apps/meteor/client/views/room/composer/ComposerBoxPopupCannedResponse.tsx
  apps/meteor/client/views/room/composer/ComposerBoxPopupEmoji.tsx
  apps/meteor/client/views/room/composer/ComposerBoxPopupPreview.tsx
  apps/meteor/client/views/room/composer/ComposerBoxPopupRoom.tsx
  apps/meteor/client/views/room/composer/ComposerBoxPopupSlashCommand.tsx
  apps/meteor/client/views/room/composer/ComposerBoxPopupUser.tsx
  apps/meteor/client/views/room/composer/hooks/useComposerBoxPopup.ts
  apps/meteor/client/views/room/composer/hooks/useComposerBoxPopupQueries.ts
  apps/meteor/client/views/room/composer/hooks/useEnablePopupPreview.ts
  apps/meteor/client/views/room/composer/messageBox/MessageBox.tsx
  apps/meteor/client/views/room/providers/ComposerPopupProvider.tsx
  apps/meteor/server/methods/getAvatarSuggestion.ts
  package.json
  packages/rest-typings/src/v1/users.ts
  yarn.lock
Due: e2e, client

moved the `service.configurations` request to a dedicated class
  apps/meteor/client/lib/loginServices.ts
  apps/meteor/client/providers/AuthenticationProvider.tsx
  packages/ui-contexts/src/AuthenticationContext.ts
  packages/ui-contexts/src/hooks/useLoginServices.ts
  packages/ui-contexts/src/index.ts
  packages/web-ui-registration/src/LoginServices.tsx
Due: e2e, client

test
  packages/livechat/src/lib/triggerActions.ts
  packages/livechat/src/lib/triggerConditions.ts
  packages/livechat/src/lib/triggerUtils.ts
Due: none

add changeset
  .changeset/yellow-brooms-brake.md
Due: none

linting fix
  apps/meteor/app/mailer/server/api.ts
Due: e2e

remove file
  apps/meteor/client/hooks/omnichannel/useQueueManager.tsx
Due: e2e, client

cmon
  apps/meteor/client/views/omnichannel/triggers/actions/SendMessageActionForm.tsx
Due: e2e, client

removed duplicated utilitary function
  apps/meteor/client/lib/loginServices.ts
  apps/meteor/client/providers/AuthenticationProvider.tsx
Due: e2e, client

fix federation
  apps/meteor/ee/server/startup/services.ts
Due: e2e

fix department name being double escaped
  packages/livechat/src/helpers/normalizeTransferHistoryMessage.ts
Due: none

fix: Features not toggled while writing text in message box. (#31447)
  apps/meteor/app/ui-message/client/messageBox/createComposerAPI.ts
Due: e2e

introduce users multi select POC
  packages/fuselage-ui-kit/src/elements/UsersSelectElement/UserAutoCompleteMultipleOption.tsx
  packages/fuselage-ui-kit/src/elements/UsersSelectElement/UserAutoCompleteMultipleOptions.tsx
  packages/fuselage-ui-kit/src/elements/UsersSelectElement/UsersSelectElement.tsx
  packages/fuselage-ui-kit/src/stories/payloads/actions.ts
  packages/fuselage-ui-kit/src/surfaces/ContextualBarSurfaceRenderer.tsx
  packages/ui-kit/src/blocks/elements/UsersSelectElement.ts
  packages/ui-kit/src/rendering/ActionOf.ts
Due: none

fix be tests
  apps/meteor/tests/end-to-end/api/livechat/08-triggers.ts
Due: e2e

chore: federation startup (#31453)
  apps/meteor/ee/server/startup/services.ts
Due: e2e

Path conditions:
  e2e: any of: apps/meteor/
  client: any of: apps/meteor/client
