Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

test: `home-omnichannel` remove duplicated
  apps/meteor/tests/e2e/page-objects/home-omnichannel.ts
Due: e2e

test: adjust `Create team` locator
  apps/meteor/tests/e2e/page-objects/create-new-modal.ts
Due: e2e

test: replace `sidenav.getSidebarItemByName` with `sidebar.getSidebarItemByName`
  apps/meteor/tests/e2e/feature-preview.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-assign-room-tags.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-chat-transfers.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-contact-conflict-review.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-manual-selection-logout.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-manual-selection.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-priorities-sidebar.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-sla-policies-sidebar.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-transfer-to-another-agents.spec.ts
Due: e2e

feat: remove `new-navigation` feature from `RoomInvite`
  apps/meteor/client/views/room/RoomInvite.tsx
Due: e2e, client

test: adjust `omnichannel-livechat-api` locators
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat-api.spec.ts
Due: e2e

test: move more locators away from `home-sidenav`
  apps/meteor/tests/e2e/feature-preview.spec.ts
  apps/meteor/tests/e2e/page-objects/create-new-modal.ts
  apps/meteor/tests/e2e/page-objects/fragments/home-sidenav.ts
  apps/meteor/tests/e2e/page-objects/fragments/navbar.ts
  apps/meteor/tests/e2e/page-objects/home-channel.ts
  apps/meteor/tests/e2e/page-objects/home-team.ts
  apps/meteor/tests/e2e/team-management.spec.ts
Due: e2e

test: replace `sidenav` with `navbar` locators
  apps/meteor/tests/e2e/e2e-encryption/e2ee-passphrase-management.spec.ts
  apps/meteor/tests/e2e/mark-unread.spec.ts
  apps/meteor/tests/e2e/sidebar.spec.ts
  apps/meteor/tests/e2e/team-management.spec.ts
Due: e2e

test: replace `sidenav.switchStatus` with `sidebar.changeUserStatus`
  apps/meteor/tests/e2e/omnichannel/omnichannel-auto-onhold-chat-closing.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-changing-room-priority-and-sla.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat-api.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-takeChat.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-transfer-to-another-agents.spec.ts
  apps/meteor/tests/e2e/page-objects/fragments/navbar.ts
Due: e2e

chore: update snapshot
  apps/meteor/client/views/room/HeaderV2/__snapshots__/RoomInviteHeader.spec.tsx.snap
Due: e2e, client

test: override `home-omnichannel` properties
  apps/meteor/tests/e2e/page-objects/home-omnichannel.ts
Due: e2e

chore: delete `Header` folder
  apps/meteor/client/views/room/Header/RoomHeader.spec.tsx
  apps/meteor/client/views/room/Header/RoomInviteHeader.spec.tsx
  apps/meteor/client/views/room/Header/RoomInviteHeader.stories.tsx
  apps/meteor/client/views/room/Header/RoomInviteHeader.tsx
  apps/meteor/client/views/room/Header/__snapshots__/RoomInviteHeader.spec.tsx.snap
Due: e2e, client

test: adjust `feature-preview`
  apps/meteor/tests/e2e/feature-preview.spec.ts
Due: e2e

test: fix failing tests
  apps/meteor/tests/e2e/e2e-encryption/e2ee-encrypted-channels.spec.ts
  apps/meteor/tests/e2e/e2e-encryption/e2ee-encryption-decryption.spec.ts
  apps/meteor/tests/e2e/e2e-encryption/e2ee-passphrase-management.spec.ts
  apps/meteor/tests/e2e/feature-preview.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-changing-room-priority-and-sla.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-close-inquiry.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat-api.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat-queue-management.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-send-pdf-transcript.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-sla-policies-sidebar.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-takeChat.spec.ts
  apps/meteor/tests/e2e/page-objects/create-new-modal.ts
  apps/meteor/tests/e2e/page-objects/encrypted-room.ts
  apps/meteor/tests/e2e/page-objects/fragments/apps-modal.ts
  apps/meteor/tests/e2e/page-objects/fragments/listbox.ts
  apps/meteor/tests/e2e/page-objects/fragments/modal.ts
  apps/meteor/tests/e2e/page-objects/fragments/navbar.ts
  apps/meteor/tests/e2e/page-objects/fragments/sidebar.ts
  apps/meteor/tests/e2e/page-objects/fragments/voice-calls.ts
  apps/meteor/tests/e2e/page-objects/omnichannel-transcript.ts
  apps/meteor/tests/e2e/team-management.spec.ts
  apps/meteor/tests/e2e/voice-calls-ce.spec.ts
Due: e2e

test: replace Profile `account-sidenav` with `account-sidebar`
  apps/meteor/tests/e2e/page-objects/fragments/sidebar.ts
Due: e2e

test: cleanup `home-sidenav` unused locators
  apps/meteor/tests/e2e/page-objects/fragments/home-sidenav.ts
  apps/meteor/tests/e2e/user-required-password-change.spec.ts
Due: e2e

chore: changeset
  .changeset/wet-walls-drive.md
Due: none

fix: ts
  apps/meteor/client/views/root/MainLayout/LayoutWithSidebar.spec.tsx
  apps/meteor/tests/e2e/create-discussion.spec.ts
  apps/meteor/tests/e2e/e2e-encryption/e2ee-passphrase-management.spec.ts
  apps/meteor/tests/e2e/page-objects/create-new-modal.ts
  apps/meteor/tests/e2e/page-objects/fragments/navbar.ts
Due: e2e, client

chore: `PageHeaderNoShadow` import
  packages/ui-client/src/components/Page/PageHeaderNoShadow.tsx
Due: none

test: replace `sidenav` with `navbar` and `sidebar`
  apps/meteor/tests/e2e/e2e-encryption/e2ee-pdf-export.spec.ts
  apps/meteor/tests/e2e/e2e-encryption/e2ee-server-settings.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-auto-transfer-unanswered-chat.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-close-inquiry.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-contact-info.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-contact-unknown-callout.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat-api.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat-queue-management-autoselection.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-manual-selection.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-takeChat.spec.ts
  apps/meteor/tests/e2e/page-objects/fragments/navbar.ts
  apps/meteor/tests/e2e/page-objects/fragments/sidebar.ts
Due: e2e

tests: adjust `federation` tests
  apps/meteor/tests/e2e/federation/page-objects/account-profile.ts
  apps/meteor/tests/e2e/federation/page-objects/channel.ts
  apps/meteor/tests/e2e/federation/page-objects/fragments/account-sidenav.ts
  apps/meteor/tests/e2e/federation/page-objects/fragments/home-sidenav.ts
  apps/meteor/tests/e2e/federation/tests/ce-version/ce.spec.ts
  apps/meteor/tests/e2e/page-objects/create-new-modal.ts
Due: e2e

test: replace `sidenav` with `navbar` locators
  apps/meteor/tests/e2e/avatar-settings.ts
  apps/meteor/tests/e2e/e2e-encryption/e2ee-encrypted-channels.spec.ts
  apps/meteor/tests/e2e/e2e-encryption/e2ee-file-encryption.spec.ts
  apps/meteor/tests/e2e/e2e-encryption/e2ee-legacy-format.spec.ts
  apps/meteor/tests/e2e/preview-public-channel.spec.ts
  apps/meteor/tests/e2e/voice-calls-ce.spec.ts
Due: e2e

test: update snapshots
  apps/meteor/client/views/marketplace/AppDetailsPage/tabs/AppLogs/Filters/__snapshots__/AppLogsFilterContextualBar.spec.tsx.snap
  apps/meteor/client/views/omnichannel/cannedResponses/contextualBar/CannedResponse/__snapshots__/CannedResponseList.spec.tsx.snap
  apps/meteor/client/views/room/HeaderV2/__snapshots__/RoomInviteHeader.spec.tsx.snap
  apps/meteor/client/views/room/contextualBar/RoomMembers/InviteUsers/__snapshots__/InviteUsers.spec.tsx.snap
  apps/meteor/client/views/room/contextualBar/RoomMembers/__snapshots__/RoomMembers.spec.tsx.snap
Due: e2e, client

test: `waitForRoomLoad`
  apps/meteor/tests/e2e/feature-preview.spec.ts
  apps/meteor/tests/e2e/page-objects/fragments/home-sidenav.ts
  apps/meteor/tests/e2e/page-objects/home-channel.ts
Due: e2e

test: move more locators away from `home-sidenav`
  apps/meteor/tests/e2e/federation/page-objects/channel.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-changing-room-priority-and-sla.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-livechat-queue-management.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-priorities-sidebar.spec.ts
  apps/meteor/tests/e2e/omnichannel/omnichannel-sla-policies-sidebar.spec.ts
  apps/meteor/tests/e2e/page-objects/fragments/home-sidenav.ts
  apps/meteor/tests/e2e/page-objects/fragments/sidebar.ts
  apps/meteor/tests/e2e/page-objects/home-channel.ts
Due: e2e

test: add `getSearchItemBadge` to `navbar`
  apps/meteor/tests/e2e/page-objects/fragments/navbar.ts
Due: e2e

tests: adds unit testing for PushClass.send function
  apps/meteor/tests/unit/app/push/push.spec.ts
Due: e2e

fix order
  apps/meteor/tests/end-to-end/api/livechat/17-dashboards-ee.ts
Due: e2e

fix: wrong import
  apps/meteor/client/hooks/roomActions/useAppsRoomStarActions.tsx
Due: e2e, client

abac license module
  packages/core-typings/src/license/LicenseModule.ts
  packages/jwt/__tests__/jwt.spec.ts
Due: none

abac global enable setting
  apps/meteor/ee/server/configuration/abac.ts
  apps/meteor/ee/server/configuration/index.ts
  apps/meteor/ee/server/settings/abac.ts
Due: e2e

abac model
  apps/meteor/server/models.ts
  packages/core-typings/src/IAbacAttribute.ts
  packages/core-typings/src/index.ts
  packages/model-typings/src/index.ts
  packages/model-typings/src/models/IAbacAttributesModel.ts
  packages/models/src/index.ts
  packages/models/src/modelClasses.ts
  packages/models/src/models/AbacAttributes.ts
Due: e2e, e2e-api

abac package and endpoints
  apps/meteor/ee/server/api/abac.ts
  apps/meteor/ee/server/api/index.ts
  apps/meteor/ee/server/settings/abac.ts
  apps/meteor/package.json
  ee/packages/abac/.eslintrc.json
  ee/packages/abac/jest.config.ts
  ee/packages/abac/package.json
  ee/packages/abac/src/index.ts
  ee/packages/abac/tsconfig.json
  yarn.lock
Due: e2e

lint
  packages/model-typings/src/models/IAbacAttributesModel.ts
Due: none

permission
  apps/meteor/ee/server/api/abac.ts
  apps/meteor/ee/server/configuration/abac.ts
  apps/meteor/ee/server/lib/abac/index.ts
Due: e2e

abac flag
  ee/packages/abac/package.json
  ee/packages/abac/src/index.ts
  packages/core-typings/src/IRoom.ts
  yarn.lock
Due: none

abac service
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  apps/meteor/ee/server/startup/services.ts
  ee/packages/abac/src/index.ts
  ee/packages/abac/tsconfig.json
  packages/core-services/src/index.ts
  packages/core-services/src/types/IAbacService.ts
Due: e2e

model
  packages/model-typings/src/models/IRoomsModel.ts
  packages/models/src/models/Rooms.ts
Due: none

create an abac attribute
  apps/meteor/ee/server/api/abac/index.ts
  apps/meteor/ee/server/api/abac/schemas.ts
  ee/packages/abac/src/index.spec.ts
  ee/packages/abac/src/index.ts
  packages/core-services/src/types/IAbacService.ts
  packages/core-typings/src/ABACAttributeDefinition.ts
  packages/core-typings/src/IAbacAttribute.ts
  packages/core-typings/src/IRoom.ts
  packages/models/src/models/AbacAttributes.ts
Due: e2e

translations
  packages/i18n/src/locales/en.i18n.json
Due: none

attributes on room
  packages/core-typings/src/ABACAttributeDefinition.ts
  packages/core-typings/src/IRoom.ts
Due: none

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
