Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

Update apps/meteor/tests/end-to-end/api/livechat/00-rooms.ts
  apps/meteor/tests/end-to-end/api/livechat/00-rooms.ts
Due: e2e

Apply suggestion from @KevLehman
  apps/meteor/tests/end-to-end/api/livechat/00-rooms.ts
Due: e2e

Deploy preview for PR 36504 🛫
  pr-preview/pr-36504/fuselage-ui-kit/project.json
  pr-preview/pr-36504/gazzodown/project.json
Due: none

feat: export IntegrationsCreateProps type for fix import
  apps/meteor/app/api/server/v1/integrations.ts
  apps/meteor/tests/data/integration.helper.ts
  packages/rest-typings/src/v1/integrations/integrations.ts
Due: e2e

chore: Remove deprecated flag of `MessageActionConfig` (#36476)
  apps/meteor/app/ui-utils/client/lib/MessageAction.ts
  apps/meteor/client/components/message/toolbar/MessageToolbarActionMenu.tsx
  apps/meteor/client/components/message/toolbar/MessageToolbarStarsActionMenu.tsx
  apps/meteor/client/components/message/toolbar/useDeleteMessageAction.ts
  apps/meteor/client/components/message/toolbar/useReportMessageAction.tsx
Due: e2e, client

feat: adds new endpoint to fetch outbound provider metadata (#36424)
  .changeset/giant-toes-decide.md
  apps/meteor/ee/app/livechat-enterprise/server/api/outbound.ts
  apps/meteor/ee/app/livechat-enterprise/server/outboundcomms/rest.ts
Due: e2e

chore: Missing accessor types on definition of app handlers (#36497)
  packages/apps-engine/src/definition/outboundComunication/IOutboundCommsProvider.ts
Due: none

Create clean-flies-glow.md
  .changeset/clean-flies-glow.md
Due: none

Soft fix for #36479 that resolves null exception but does not diagnose why it was able to come that deep to begin with.
  apps/meteor/server/lib/dataExport/exportRoomMessagesToFile.ts
Due: e2e, e2e-api

good test
  apps/meteor/tests/end-to-end/api/livechat/00-rooms.ts
Due: e2e

test
  apps/meteor/tests/end-to-end/api/livechat/00-rooms.ts
Due: e2e

chore: Consume from the `ToastMessageContext` (#36478)
  apps/meteor/client/components/Omnichannel/modals/CloseChatModal.tsx
  apps/meteor/client/hooks/roomActions/useE2EERoomAction.spec.ts
  apps/meteor/client/hooks/roomActions/useE2EERoomAction.ts
  apps/meteor/client/hooks/useDialModal.tsx
  apps/meteor/client/omnichannel/hooks/useOmnichannelPrioritiesMenu.tsx
  apps/meteor/client/views/room/contextualBar/AutoTranslate/AutoTranslateWithData.tsx
  apps/meteor/client/views/room/modals/E2EEModals/ResetKeysE2EEModal.tsx
  apps/meteor/client/views/setupWizard/steps/RegisterServerStep.tsx
Due: e2e, client

depend on dep setting
  apps/meteor/app/livechat/server/lib/Helper.ts
  apps/meteor/tests/end-to-end/api/livechat/00-rooms.ts
Due: e2e

Deploy preview for PR 36494 🛫
  pr-preview/pr-36494/ui-composer/project.json
Due: none

more tests
  apps/meteor/tests/end-to-end/api/livechat/00-rooms.ts
Due: e2e

chore(deps): remove pdfjs-dist
  apps/meteor/package.json
  apps/meteor/public/pdf.worker.min.js
  yarn.lock
Due: e2e

setting
  apps/meteor/tests/end-to-end/api/livechat/00-rooms.ts
Due: e2e

dman
  apps/meteor/tests/end-to-end/api/livechat/00-rooms.ts
Due: e2e

chore: name fixing
  apps/meteor/app/api/server/index.ts
  apps/meteor/app/api/server/v1/oauthapps.ts
  apps/meteor/app/api/server/v1/qrcode.ts
  packages/rest-typings/src/v1/oauthapps.ts
  packages/rest-typings/src/v1/qrcode.ts
  packages/web-ui-registration/src/QrModal.tsx
  packages/web-ui-registration/src/hooks/useQrCodeQueryHandler.ts
Due: e2e

chore: minor api name fix
  apps/meteor/app/api/server/v1/qrcode.ts
Due: e2e

chore(deps): remove pdfjs-dist (#36509)
  apps/meteor/package.json
  apps/meteor/public/pdf.worker.min.js
  yarn.lock
Due: e2e

Deploy preview for PR 36473 🛫
  pr-preview/pr-36473/fuselage-ui-kit/project.json
  pr-preview/pr-36473/gazzodown/project.json
  pr-preview/pr-36473/ui-composer/project.json
Due: none

chore: loginToken generation done
  apps/meteor/app/api/server/v1/qrcode.ts
  apps/meteor/client/startup/loginWithToken.ts
  apps/meteor/server/modules/listeners/listeners.module.ts
  packages/core-services/src/events/Events.ts
  packages/ddp-client/src/types/streams.ts
  packages/rest-typings/src/v1/qrcode.ts
Due: e2e, e2e-api, client

added tooltip and some margin fix.
  apps/meteor/client/views/room/composer/hooks/useAIEnhancement.tsx
Due: e2e, client

feat: implement message scheduling feature with UI, API, and cron job
  .gitignore
  apps/meteor/app/api/server/v1/chat.ts
  apps/meteor/app/lib/server/functions/sendMessage.ts
  apps/meteor/client/lib/chats/ChatAPI.ts
  apps/meteor/client/views/room/composer/messageBox/MessageBox.tsx
  apps/meteor/client/views/room/composer/messageBox/ScheduleComposerModal/ScheduleComposerModal.tsx
  apps/meteor/server/cron/scheduleMessages.ts
  apps/meteor/server/models.ts
  apps/meteor/server/startup/cron.ts
  packages/apps-engine/deno-runtime/deno.lock
  packages/core-typings/src/IScheduledMessage.ts
  packages/core-typings/src/index.ts
  packages/model-typings/src/index.ts
  packages/model-typings/src/models/IScheduledMessagesModel.ts
  packages/models/src/index.ts
  packages/models/src/modelClasses.ts
  packages/models/src/models/ScheduledMessages.ts
  packages/rest-typings/src/v1/chat.ts
Due: e2e, e2e-api, client

fix: remove .nvim-session from .gitignore and console.log from sendMessage.ts
  .gitignore
  apps/meteor/app/lib/server/functions/sendMessage.ts
Due: e2e

fix: skip before validations if federation is the native one
  apps/meteor/server/services/messages/hooks/BeforeFederationActions.ts
Due: e2e, e2e-api

chore: bump fuselage
  apps/meteor/package.json
  apps/uikit-playground/package.json
  ee/packages/ui-theming/package.json
  packages/fuselage-ui-kit/package.json
  packages/gazzodown/package.json
  packages/storybook-config/package.json
  packages/ui-avatar/package.json
  packages/ui-client/package.json
  packages/ui-composer/package.json
  packages/ui-video-conf/package.json
  packages/ui-voip/package.json
  packages/web-ui-registration/package.json
  yarn.lock
Due: e2e

fix: tag position
  apps/meteor/client/views/navigation/sidepanel/SidepanelItem/SidepanelItem.tsx
Due: e2e, client

feat: Add support for parsing timestamps from hours and minutes
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/timestamp.test.ts
Due: none

alignment
  ee/packages/federation-matrix/src/FederationMatrix.ts
  ee/packages/federation-matrix/src/api/_matrix/invite.ts
  ee/packages/federation-matrix/src/api/_matrix/profiles.ts
Due: none

Deploy preview for PR 36498 🛫
  pr-preview/pr-36498/fuselage-ui-kit/981.55d8f593.iframe.bundle.js
  pr-preview/pr-36498/fuselage-ui-kit/981.55d8f593.iframe.bundle.js.map
  pr-preview/pr-36498/fuselage-ui-kit/981.a42aa4fc.iframe.bundle.js
  pr-preview/pr-36498/fuselage-ui-kit/981.a42aa4fc.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-36498/fuselage-ui-kit/981.a42aa4fc.iframe.bundle.js.map
  pr-preview/pr-36498/fuselage-ui-kit/iframe.html
  pr-preview/pr-36498/fuselage-ui-kit/project.json
  pr-preview/pr-36498/fuselage-ui-kit/runtime~main.3b70a667.iframe.bundle.js
  pr-preview/pr-36498/fuselage-ui-kit/runtime~main.b2a26d4c.iframe.bundle.js
  pr-preview/pr-36498/gazzodown/Markup-stories.02b62e12.iframe.bundle.js
  pr-preview/pr-36498/gazzodown/Markup-stories.02b62e12.iframe.bundle.js.map
  pr-preview/pr-36498/gazzodown/Markup-stories.6e607241.iframe.bundle.js
  pr-preview/pr-36498/gazzodown/Markup-stories.6e607241.iframe.bundle.js.map
  pr-preview/pr-36498/gazzodown/iframe.html
  pr-preview/pr-36498/gazzodown/project.json
  pr-preview/pr-36498/gazzodown/runtime~main.a3b2a786.iframe.bundle.js
  pr-preview/pr-36498/gazzodown/runtime~main.fbcc806b.iframe.bundle.js
  pr-preview/pr-36498/uikit-playground/assets/CodeBlock-C9npMuST.js
  pr-preview/pr-36498/uikit-playground/assets/KatexBlock-Cx7e7xcp.js
  pr-preview/pr-36498/uikit-playground/assets/KatexBlock-f5gWCwPN.js
  pr-preview/pr-36498/uikit-playground/assets/KatexElement-CaxFNwj4.js
  pr-preview/pr-36498/uikit-playground/assets/KatexElement-CjTmS8t0.js
  pr-preview/pr-36498/uikit-playground/assets/import-COXeXgKX.js
  pr-preview/pr-36498/uikit-playground/assets/import-zxzHpArv.js
  pr-preview/pr-36498/uikit-playground/assets/index-BHepoLVE.js
  pr-preview/pr-36498/uikit-playground/assets/index-xXD9C91N.js
  pr-preview/pr-36498/uikit-playground/index.html
Due: none

feat: New Omnichannel Priorities Tag (#36501)
  apps/meteor/client/omnichannel/hooks/useOmnichannelPrioritiesConfig.ts
  apps/meteor/client/omnichannel/hooks/useOmnichannelPrioritiesMenu.tsx
  apps/meteor/client/omnichannel/priorities/PriorityIcon.tsx
  apps/meteor/client/sidebarv2/RoomList/SidebarItemWithData.tsx
  apps/meteor/client/views/navigation/sidepanel/SidePanelPriorityTag.tsx
  apps/meteor/client/views/navigation/sidepanel/SidepanelItem/SidepanelItem.tsx
  apps/meteor/client/views/navigation/sidepanel/hooks/useItemData.tsx
  apps/meteor/package.json
  apps/uikit-playground/package.json
  ee/packages/ui-theming/package.json
  packages/fuselage-ui-kit/package.json
  packages/gazzodown/package.json
  packages/storybook-config/package.json
  packages/ui-avatar/package.json
  packages/ui-client/package.json
  packages/ui-composer/package.json
  packages/ui-video-conf/package.json
  packages/ui-voip/package.json
  packages/web-ui-registration/package.json
  yarn.lock
Due: e2e, client

feat: Sidepanel parent room tag (#36489)
  apps/meteor/client/views/navigation/sidepanel/SidepanelItem/SidePanelTag.tsx
  apps/meteor/client/views/navigation/sidepanel/SidepanelItem/SidepanelItem.tsx
Due: e2e, client

add mac limit warning on omnichannel rooms
  apps/meteor/client/views/navigation/sidepanel/SidepanelItem/SidepanelItem.tsx
  apps/meteor/client/views/navigation/sidepanel/hooks/useItemData.tsx
Due: e2e, client

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
