Repository RocketChat/Rocket.Chat: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, e2e-api, client

chore: InitialData & serverRunning to TS (#37929)
  apps/meteor/definition/externals/meteor/meteor.d.ts
  apps/meteor/server/startup/initialData.ts
  apps/meteor/server/startup/serverRunning.ts
  packages/model-typings/src/models/IRoomsModel.ts
  packages/models/src/models/Rooms.ts
Due: e2e, e2e-api

feat: update name references on oauth login (#37954)
  .changeset/gold-trainers-shake.md
  apps/meteor/app/custom-oauth/server/custom_oauth_server.js
Due: e2e

chore: update package versions to 8.1.0-develop
  apps/meteor/app/utils/rocketchat.info
  apps/meteor/package.json
  package.json
  packages/core-typings/package.json
  packages/rest-typings/package.json
Due: e2e

fix: guest room limit incorrectly counting DMs (#37919)
  .changeset/strange-ants-impress.md
  apps/meteor/ee/app/license/server/startup.ts
  apps/meteor/ee/server/startup/maxRoomsPerGuest.ts
  ee/packages/license/src/license.spec.ts
  packages/model-typings/src/models/ISubscriptionsModel.ts
  packages/models/src/models/Subscriptions.ts
Due: e2e

chore: improve handling of unused streams on media calls (#37921)
  packages/media-signaling/src/definition/call/IClientMediaCall.ts
  packages/media-signaling/src/lib/Call.ts
Due: none

fix: CI for external PRs (#38030)
  .github/actions/build-docker/action.yml
  .github/workflows/ci-test-e2e.yml
  .github/workflows/ci.yml
Due: none

initial white labelling
  packages/apps-engine/src/server/runtime/deno/AppsEngineDenoRuntime.ts
Due: none

fix: User roles showing on the message header after opening user card, but with "Show roles" setting/preference disabled (#37984)
  apps/meteor/client/components/message/MessageHeader.tsx
Due: e2e, client

test: remove homepage `data-qa` attributes (#38004)
  apps/meteor/client/views/home/cards/AddUsersCard.tsx
  apps/meteor/client/views/home/cards/CreateChannelsCard.tsx
  apps/meteor/client/views/home/cards/CustomContentCard.tsx
  apps/meteor/client/views/home/cards/DesktopAppsCard.tsx
  apps/meteor/client/views/home/cards/DocumentationCard.tsx
  apps/meteor/client/views/home/cards/JoinRoomsCard.tsx
  apps/meteor/client/views/home/cards/MobileAppsCard.tsx
  apps/meteor/tests/e2e/homepage.spec.ts
  apps/meteor/tests/e2e/settings-int.spec.ts
Due: e2e, client

initial build
  apps/meteor/app/cloud/server/functions/supportedVersionsToken/supportedVersionsToken.ts
  apps/meteor/ee/server/apps/marketplace/MarketplaceAPIClient.ts
  apps/meteor/server/settings/setup-wizard.ts
Due: e2e, e2e-api

WIP: local changes
  packages/fuselage-ui-kit/src/elements/FileUploadElement.tsx
  packages/fuselage-ui-kit/src/hooks/useUiKitState.ts
Due: none

alter tests to reflect new password policy
  apps/meteor/tests/e2e/account-security.spec.ts
  apps/meteor/tests/e2e/administration.spec.ts
  apps/meteor/tests/e2e/register.spec.ts
Due: e2e

chore: refresh yarn.lock
  yarn.lock
Due: none

Change tests/data/user password to match password policy
  apps/meteor/tests/data/user.ts
Due: e2e

alter tests to match new password policy
  apps/meteor/tests/end-to-end/api/users.ts
Due: e2e

fix: build models and adjust ui-kit typings
  Dockerfile.medsense-source
  packages/fuselage-ui-kit/src/elements/FileUploadElement.tsx
  packages/fuselage-ui-kit/src/hooks/useUiKitState.ts
Due: none

build: prebuild typings before models
  Dockerfile.medsense-source
Due: none

fix: prevent duplicate warning toasts on file upload validation
  apps/meteor/client/views/room/modals/FileUploadModal/FileUploadModal.tsx
Due: e2e, client

fix(apps-engine): stop initialization when installApp fails
  packages/apps-engine/src/server/AppManager.ts
Due: none

chore(apps-engine): normalize indentation in AppManager
  packages/apps-engine/src/server/AppManager.ts
Due: none

fix(apps-engine): run undo steps on installApp failure
  packages/apps-engine/src/server/AppManager.ts
Due: none

fix: chat.update response validation
  apps/meteor/app/api/server/v1/chat.ts
Due: e2e

chore(deps): update @rocket.chat/ui-contexts to version 25.0.2 in yarn.lock
  packages/apps-engine/deno-runtime/deno.lock
  yarn.lock
Due: none

build: prebuild rest-typings
  Dockerfile.medsense-source
Due: none

Fix playwright tests
  apps/meteor/tests/e2e/account-security.spec.ts
  apps/meteor/tests/e2e/reset-password.spec.ts
Due: e2e

chore: add .github/copilot-instructions.md to .gitignore
  .gitignore
Due: none

fix: handle error of specific file in upload process
  apps/meteor/client/lib/chats/uploads.ts
Due: e2e, client

fix(emoji): add comprehensive null/undefined safety checks (#38072)
  apps/meteor/client/lib/__tests__/customEmoji.defensive.test.ts
  apps/meteor/client/lib/customEmoji.ts
  packages/core-typings/src/SafeEmoji.ts
  packages/core-typings/src/__tests__/SafeEmoji.test.ts
  packages/core-typings/src/index.ts
  packages/gazzodown/src/emoji/Emoji.tsx
  packages/gazzodown/src/emoji/EmojiRenderer.tsx
Due: e2e, client

docs: add comprehensive documentation for emoji null safety fix #38072
  EMOJI_FIX_SUMMARY.md
  EMOJI_NULL_SAFETY_IMPLEMENTATION.md
  EMOJI_VERIFICATION_CHECKLIST.md
Due: none

refactor: remove obsolete emoji null safety documentation files
  EMOJI_FIX_SUMMARY.md
  EMOJI_NULL_SAFETY_IMPLEMENTATION.md
  EMOJI_VERIFICATION_CHECKLIST.md
Due: none

Delete packages/apps-engine/deno-runtime/deno.lock
  packages/apps-engine/deno-runtime/deno.lock
Due: none

Delete yarn.lock
  yarn.lock
Due: none

Implement feature X to enhance user experience and optimize performance
  yarn.lock
Due: none

test: enhance null safety checks in customEmoji module
  apps/meteor/client/lib/__tests__/customEmoji.defensive.test.ts
Due: e2e, client

fix test:
  apps/meteor/tests/end-to-end/api/livechat/07-queue.ts
Due: e2e

feat: hide unconfirmed uploads from room's file list
  .changeset/ninety-pans-search.md
  apps/meteor/app/api/server/v1/channels.ts
  apps/meteor/app/api/server/v1/groups.ts
  apps/meteor/app/api/server/v1/im.ts
  apps/meteor/client/views/room/contextualBar/RoomFiles/hooks/useFilesList.ts
  packages/rest-typings/src/v1/channels/ChannelsFilesListProps.ts
  packages/rest-typings/src/v1/dm/DmFileProps.ts
  packages/rest-typings/src/v1/groups/GroupsFilesProps.ts
Due: e2e, client

fasdf
  apps/meteor/tests/end-to-end/api/livechat/07-queue.ts
Due: e2e

random names
  apps/meteor/tests/e2e/utils/omnichannel/sla.ts
Due: e2e

Path conditions:
  e2e: any of: apps/meteor/
  e2e-api: any of: apps/meteor/server
  client: any of: apps/meteor/client
